<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 Corinthians</h1>

<div class="sidenote left">1 Corinthians 1:1 <br>to 1 Corinthians 1:3</div>

<h3>Greeting</h3>

<p>
Paul, called to be an apostle of Christ Jesus through the will of God, and Sosthenes our brother,
to the church of God sanctified in Christ Jesus that is in Corinth, called to be saints, together with all those who call upon the name of our Lord Jesus Christ in every place, their Lord and ours.
Grace to you and peace from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">1 Corinthians 1:4 <br>to 1 Corinthians 1:9</div>

<h3>Thanksgiving for the Corinthian Believers</h3>

<p>
I give thanks to my God always concerning you, because of the grace of God which was given to you in Christ Jesus,
that in everything you were made rich in him, in all speech and all knowledge,
just as the testimony about Christ has been confirmed in you,
so that you do not lack in any spiritual gift as you eagerly await the revelation of our Lord Jesus Christ,
who will also confirm you until the end, blameless in the day of our Lord Jesus Christ.
God is faithful, by whom you were called to fellowship with his Son Jesus Christ our Lord.
</p>

<div class="sidenote left">1 Corinthians 1:10 <br>to 1 Corinthians 1:17</div>

<h3>Divisions in the Church at Corinth</h3>

<p>
Now I exhort you, brothers, by the name of our Lord Jesus Christ, that you all say the same thing and there not be divisions among you, and that you be made complete in the same mind and with the same purpose.
For it has been made clear to me concerning you, my brothers, by Chloe's people, that there are quarrels among you.
But I say this, that each of you is saying, 'I am with Paul,' and 'I am with Apollos,' and 'I am with Cephas,' and 'I am with Christ.'
Has Christ been divided? Paul was not crucified for you, was he? Or were you baptized in the name of Paul?
I give thanks that I baptized none of you except Crispus and Gaius,
lest anyone should say that you were baptized in my name.
(Now I also baptized the household of Stephanas. Beyond that I do not know if I baptized anyone else.)
For Christ did not send me to baptize, but to proclaim the gospel, not with clever speech, lest the cross of Christ be emptied.
</p>

<div class="sidenote left">1 Corinthians 1:18 <br>to 1 Corinthians 1:25</div>

<h3>Christ Crucified, the Power and Wisdom of God</h3>

<p>
For the message about the cross is foolishness to those who are perishing, but to us who are being saved it is the power of God.
For it is written,
</p>

<div class="sidenote">1 Corinthians 1:20</div>

<p>
Where is the wise person? Where is the scribe? Where is the debater of this age? Has not God made foolish the wisdom of the world?
For since, in the wisdom of God, the world through its wisdom did not know God, God was pleased through the foolishness of preaching to save those who believe.
For indeed, Jews ask for sign miracles and Greeks seek wisdom,
but we preach Christ crucified, to the Jews a cause for stumbling, but to the Gentiles foolishness,
but to those who are called, both Jews and Greeks, Christ is the power of God and the wisdom of God.
For the foolishness of God is wiser than human wisdom, and the weakness of God is stronger than human strength.
</p>

<div class="sidenote left">1 Corinthians 1:26 <br>to 1 Corinthians 1:31</div>

<h3>Boast in the Lord</h3>

<p>
For consider your calling, brothers, that not many were wise according to human standards, not many were powerful, not many were well born.
But the foolish things of the world God chose in order that he might put to shame the wise, and the weak things of the world God chose in order that he might put to shame the strong,
and the insignificant of the world, and the despised, God chose, the things that are not, in order that he might abolish the things that are,
so that all flesh may not boast before God.
But from him you are in Christ Jesus, who became wisdom to us from God, and righteousness and sanctification and redemption,
so that, just as it is written, 'The one who boasts, let him boast in the Lord.'
</p>

<div class="sidenote left">1 Corinthians 2:1 <br>to 1 Corinthians 2:5</div>

<h3>Paul’s Approach to Ministry in Corinth</h3>

<p>
And I, when I came to you, brothers, did not come with superiority of speech or of wisdom, proclaiming to you the testimony of God.
For I decided not to know anything among you except Jesus Christ and him crucified.
And I came to you in weakness and in fear and with much trembling,
and my speech and my preaching were not with the persuasiveness of wisdom, but with a demonstration of the Spirit and power,
in order that your faith would not be in the wisdom of men, but in the power of God.
</p>

<div class="sidenote left">1 Corinthians 2:6 <br>to 1 Corinthians 2:16</div>

<h3>The Wisdom Revealed by the Spirit</h3>

<p>
Now we do speak wisdom among the mature, but wisdom not of this age or of the rulers of this age, who are perishing,
but we speak the hidden wisdom of God in a mystery, which God predestined before the ages for our glory,
which none of the rulers of this age knew. For if they had known it, they would not have crucified the Lord of glory.
But just as it is written,
</p>

<div class="sidenote">1 Corinthians 2:10</div>

<p>
For to us God has revealed them through the Spirit. For the Spirit searches all things, even the depths of God.
For who among men knows the things of a man, except the spirit of the man that is in him? Thus also no one knows the things of God except the Spirit of God.
Now we have received not the spirit of the world, but the Spirit who is from God, in order that we may know the things freely given to us by God,
things which we also speak, not in words taught by human wisdom, but in words taught by the Spirit, explaining spiritual things to spiritual people.
But the natural man does not accept the things of the Spirit of God, for they are foolishness to him, and he is not able to understand them, because they are spiritually discerned.
Now the spiritual person discerns all things, but he himself is judged by no one.
'For who has known the mind of the Lord; who has advised him?' But we have the mind of Christ.
</p>

<div class="sidenote left">1 Corinthians 3:1 <br>to 1 Corinthians 3:23</div>

<h3>Divisiveness and Immaturity</h3>

<p>
And I, brothers, was not able to speak to you as to spiritual people, but as to fleshly people, as to infants in Christ.
I gave you milk to drink, not solid food, for you were not yet able to eat it. But now you are still not able,
for you are still fleshly. For where there is jealousy and strife among you, are you not fleshly, and do you not live like unregenerate people?
For whenever anyone says, 'I am with Paul,' and another, 'I am with Apollos,' are you not merely human?
</p>

<div class="sidenote">1 Corinthians 3:5</div>

<p>
Therefore, what is Apollos and what is Paul? Servants through whom you believed, and to each as the Lord gave.
I planted, Apollos watered, but God was causing it to grow.
So then, neither the one who plants nor the one who waters is anything, but God who is causing it to grow.
Now the one who plants and the one who waters are one, but each one will receive his own reward according to his own labor.
For we are God's fellow workers; you are God's field, God's building.
</p>

<div class="sidenote">1 Corinthians 3:10</div>

<p>
According to the grace of God given to me, like a skilled master builder I laid a foundation, and another is building upon it. But each one must direct his attention to how he is building upon it.
For no one is able to lay another foundation than the one which is laid, which is Jesus Christ.
Now if anyone builds upon the foundation with gold, silver, precious stones, wood, grass, straw,
the work of each one will become evident. For the day will reveal it, because it will be revealed with fire, and the fire itself will test the work of each one, of what sort it is.
If anyone's work that he has built upon it remains, he will receive a reward.
If anyone's work is burned up, he will suffer loss, but he himself will be saved, but so as through fire.
</p>

<div class="sidenote">1 Corinthians 3:16</div>

<p>
Do you not know that you are God's temple and the Spirit of God dwells in you?
If anyone destroys God's temple, God will destroy this one. For God's temple is holy, which you are.
</p>

<div class="sidenote">1 Corinthians 3:18</div>

<p>
Let no one deceive himself. If anyone thinks himself to be wise among you in this age, let him become a fool, in order that he may become wise.
For the wisdom of this world is foolishness with God, for it is written, 'The one who catches the wise in their craftiness,'
and again, 'The Lord knows the thoughts of the wise, that they are futile.'
So then, let no one boast in people. For all things are yours,
whether Paul or Apollos or Cephas or the world or life or death or things present or things to come, all things are yours,
and you are Christ's, and Christ is God's.
</p>

<div class="sidenote left">1 Corinthians 4:1 <br>to 1 Corinthians 4:5</div>

<h3>Christ’s Servant, God’s Steward</h3>

<p>
Thus let a person consider us as servants of Christ and stewards of God's mysteries.
In this case, moreover, it is sought in stewards that one be found faithful.
But to me it is a very little matter that I be judged by you or by a human court, but I do not even judge myself.
For I am conscious of nothing against myself, but not by this am I vindicated. But the one who judges me is the Lord.
Therefore do not judge anything before the time, until the Lord should come, who will both enlighten the hidden things of darkness and will reveal the counsels of hearts, and then praise will come to each one from God.
</p>

<div class="sidenote left">1 Corinthians 4:6 <br>to 1 Corinthians 4:13</div>

<h3>The Apostles’ Humility</h3>

<p>
Now I have applied these things, brothers, to myself and Apollos for your sake, in order that in us you may learn not to go beyond what is written, lest someone be inflated with pride on behalf of one person against the other.
For who concedes you superiority? And what do you have that you did not receive? But if indeed you received it, why do you boast as if you did not receive it?
Already you are satiated! Already you are rich! Apart from us you reign as kings! And would that indeed you reigned as kings, in order that we also might reign as kings with you!
For, I think, God has exhibited us apostles last of all, as condemned to death, because we have become a spectacle to the world and to angels and to people.
We are fools for the sake of Christ, but you are prudent in Christ! We are weak, but you are strong! You are honored, but we are dishonored!
Until the present hour we are both hungry and thirsty and poorly clothed and roughly treated and homeless,
and we toil, working with our own hands. When we are reviled, we bless; when we are persecuted, we endure;
when we are slandered, we encourage. We have become like the refuse of the world, the offscouring of all things, until now.
</p>

<div class="sidenote left">1 Corinthians 4:14 <br>to 1 Corinthians 4:21</div>

<h3>Paul’s Concern for the Corinthian Believers</h3>

<p>
I am not writing these things to shame you, but admonishing you as my dear children.
For if you have ten thousand guardians in Christ, yet you do not have many fathers, for in Christ Jesus I fathered you through the gospel.
Therefore I exhort you, become imitators of me.
Because of this, I have sent to you Timothy, who is my dear and faithful child in the Lord, who will remind you of my ways in Christ Jesus, just as I teach everywhere in every church.
But some have become arrogant, as if I were not coming to you.
But I am coming to you soon, if the Lord wills, and I will know not the talk of the ones who have become arrogant, but the power.
For the kingdom of God is not with talk, but with power.
What do you want? Shall I come to you with a rod, or with love and a spirit of gentleness?
</p>

<div class="sidenote left">1 Corinthians 5:1 <br>to 1 Corinthians 5:13</div>

<h3>Immoral Behavior and Church Discipline</h3>

<p>
It is reported everywhere that there is sexual immorality among you, and sexual immorality of such a kind which does not even exist among the Gentiles, so that someone has the wife of his father.
And you are inflated with pride, and should you not rather have mourned, so that the one who has done this deed would be removed from your midst?
For although I am absent in body but present in spirit, I have already passed judgment on the one who has done this in this way, as if I were present.
In the name of our Lord Jesus, when you are assembled, and my spirit, together with the power of our Lord Jesus,
I have decided to hand over such a person to Satan for the destruction of the flesh, in order that his spirit may be saved in the day of the Lord.
</p>

<div class="sidenote">1 Corinthians 5:6</div>

<p>
Your boasting is not good. Do you not know that a little leaven leavens the whole batch of dough?
Clean out the old leaven in order that you may be a new batch of dough, just as you are unleavened. For Christ our Passover has been sacrificed.
So then, let us celebrate the feast, not with the old leaven or with the leaven of wickedness and sinfulness, but with the unleavened bread of sincerity and truth.
</p>

<div class="sidenote">1 Corinthians 5:9</div>

<p>
I wrote to you in the letter not to associate with sexually immoral people.
By no means did I mean the sexually immoral people of this world or the greedy people and swindlers or idolaters, since then you would have to depart out of the world.
But now I have written to you not to associate with any so-called brother, if he is a sexually immoral person or a greedy person or an idolater or an abusive person or a drunkard or a swindler with such a person not even to eat.
For what is it to me to judge those outside? Should you not judge those inside?
But those outside God will judge. Remove the evil person from among yourselves.
</p>

<div class="sidenote left">1 Corinthians 6:1 <br>to 1 Corinthians 6:11</div>

<h3>Lawsuits between Believers</h3>

<p>
Does anyone among you, if he has a matter against someone else, dare to go to court before the unrighteous, and not before the saints?
Or do you not know that the saints will judge the world? And if by you the world is judged, are you unworthy of the most insignificant courts?
Do you not know that we will judge angels, not to mention ordinary matters?
Therefore, if you have courts with regard to ordinary matters, do you seat these despised people in the church?
I say this to your shame. So is there not anyone wise among you who will be able to render a decision between his brothers?
But brother goes to court with brother, and this before unbelievers!
Therefore it is already completely a loss for you that you have lawsuits with one another. Why not rather be wronged? Why not rather be defrauded?
But you wrong and defraud, and do this to brothers!
</p>

<div class="sidenote">1 Corinthians 6:9</div>

<p>
Or do you not know that the unrighteous will not inherit the kingdom of God? Do not be deceived! Neither sexually immoral people, nor idolaters, nor adulterers, nor passive homosexual partners, nor dominant homosexual partners,
nor thieves, nor greedy persons, not drunkards, not abusive persons, not swindlers will inherit the kingdom of God.
And some of you were these things, but you were washed, but you were sanctified, but you were justified in the name of the Lord Jesus and by the Spirit of our God.
</p>

<div class="sidenote left">1 Corinthians 6:12 <br>to 1 Corinthians 6:20</div>

<h3>Avoid Sexual Immorality</h3>

<p>
All things are permitted for me, but not all things are profitable. All things are permitted for me, but I will not be controlled by anything.
Food is for the stomach, and the stomach for food, but God will abolish both of them. Now the body is not for sexual immorality, but for the Lord, and the Lord for the body.
And God both raised up the Lord and will raise us up by his power.
Do you not know that your bodies are members of Christ? Therefore, shall I take away the members of Christ and make them members of a prostitute? May it never be!
Or do you not know that the one who joins himself to a prostitute is one body with her? For it says, 'The two will become one flesh.'
But the one who joins himself to the Lord is one spirit with him.
Flee sexual immorality. Every sin that a person commits is outside his body, but the one who commits sexual immorality sins against his own body.
Or do you not know that your body is the temple of the Holy Spirit who is in you, whom you have from God, and you are not your own?
For you were bought at a price; therefore glorify God with your body.
</p>

<div class="sidenote left">1 Corinthians 7:1 <br>to 1 Corinthians 7:24</div>

<h3>Concerning Christian Marriage</h3>

<p>
Now concerning the things about which you wrote: 'It is good for a man not to touch a woman.'
But because of sexual immorality, let each man have his own wife and let each woman have her own husband.
The husband must fulfill his obligation to his wife, and likewise also the wife to her husband.
The wife does not have authority over her own body, but her husband does. And likewise also the husband does not have authority over his own body, but his wife does.
Do not defraud one another, except perhaps by agreement, for a time, in order that you may devote yourselves to prayer, and then you should be together again, lest Satan tempt you because of your lack of self control.
But I say this as a concession, not as a command.
I wish all people could be like myself, but each one has his own gift from God, one in this way and another in that way.
</p>

<div class="sidenote">1 Corinthians 7:8</div>

<p>
Now I say to the unmarried and to the widows: It is good for them if they remain as I am.
But if they cannot control themselves, they should marry, for it is better to marry than to burn with sexual desire.
</p>

<div class="sidenote">1 Corinthians 7:10</div>

<p>
To the married I command not I, but the Lord a wife must not separate from her husband.
But if indeed she does separate, she must remain unmarried or be reconciled to her husband. And a husband must not divorce his wife.
</p>

<div class="sidenote">1 Corinthians 7:12</div>

<p>
Now to the rest I say not the Lord if any brother has an unbelieving wife and she consents to live with him, he must not divorce her.
And if any wife has an unbelieving husband and he consents to live with her, she must not divorce her husband.
For the unbelieving husband is sanctified by his wife, and the unbelieving wife is sanctified by the brother, since otherwise your children are unclean, but now they are holy.
But if the unbeliever leaves, let him leave. The brother or the sister is not bound in such cases. But God has called us in peace.
For how do you know, wife, whether you will save your husband? Or how do you know, husband, whether you will save your wife?
</p>

<div class="sidenote">1 Corinthians 7:17</div>

<p>
But to each one as the Lord has apportioned. As God has called each one, thus let him live and thus I order in all the churches.
Was anyone called after being circumcised? He must not undo his circumcision. Was anyone called in uncircumcision? He must not become circumcised.
Circumcision is nothing and uncircumcision is nothing, but the keeping of the commandments of God.
Each one in the calling in which he was called in this he should remain.
Were you called while a slave? Do not let it be a concern to you. But if indeed you are able to become free, rather make use of it.
For the one who is called in the Lord while a slave is the Lord's freedperson. Likewise the one who is called while free is a slave of Christ.
You were bought at a price; do not become slaves of men.
Each one in the situation in which he was called, brothers in this he should remain with God.
</p>

<div class="sidenote left">1 Corinthians 7:25 <br>to 1 Corinthians 7:40</div>

<h3>Concerning the Unmarried</h3>

<p>
Now concerning virgins I do not have a command from the Lord, but I am giving an opinion as one shown mercy by the Lord to be trustworthy.
Therefore, I consider this to be good because of the impending distress, that it is good for a man to be thus.
Are you bound to a wife? Do not seek release. Are you free from a wife? Do not seek a wife.
But if you marry, you have not sinned, and if the virgin marries, she has not sinned. But such people will have affliction in the flesh, and I would spare you.
But I say this, brothers: the time is shortened, that from now on even those who have wives should be as if they do not have wives,
and those who weep as if they do not weep, and those who rejoice as if they do not rejoice, and those who buy as if they do not possess,
and those who make use of the world as if they do not make full use of it. For the present form of this world is passing away.
</p>

<div class="sidenote">1 Corinthians 7:32</div>

<p>
But I want you to be free from care. The unmarried person cares for the things of the Lord, how he may please the Lord.
But the one who is married cares for the things of the world, how he may please his wife,
and he is divided. And the unmarried woman or the virgin cares for the things of the Lord, in order that she may be holy both in body and in spirit. But the married woman cares for the things of the world, how she may please her husband.
Now I am saying this for your own benefit, not that I may put a restriction on you, but to promote appropriate and devoted service to the Lord without distraction.
</p>

<div class="sidenote">1 Corinthians 7:36</div>

<p>
But if anyone thinks he is behaving dishonorably concerning his virgin, if she is past her prime and it ought to be thus, let him do what he wishes. He does not sin. Let them marry.
But he who stands firm in his heart, not having necessity, but has authority concerning his own will, and has decided this in his own heart, to keep his own virgin, he will do well.
So then, the one who marries his own virgin does well, and the one who does not marry her will do better.
</p>

<div class="sidenote">1 Corinthians 7:39</div>

<p>
A wife is bound for as long a time as her husband lives. But if her husband dies, she is free to marry whomever she wishes, only in the Lord.
But she is happier if she remains thus, according to my opinion and I think I have the Spirit of God.
</p>

<div class="sidenote left">1 Corinthians 8:1 <br>to 1 Corinthians 8:13</div>

<h3>Concerning Food Sacrificed to Idols</h3>

<p>
Now concerning food sacrificed to idols, we know that 'we all have knowledge.' Knowledge puffs up, but love builds up.
If anyone thinks he knows anything, he has not yet known as it is necessary to know.
But if anyone loves God, this one is known by him.
</p>

<div class="sidenote">1 Corinthians 8:4</div>

<p>
Therefore, concerning the eating of food sacrificed to idols, we know that 'an idol is nothing in the world' and that 'there is no God except one.'
For even if after all there are so-called gods, whether in heaven or on earth, just as there are many gods and many lords,
</p>

<div class="sidenote">1 Corinthians 8:6</div>

<p>
yet to us there is one God, the Father, from whom are all things, and we are for him, and there is one Lord, Jesus Christ, through whom are all things, and we are through him.
</p>

<div class="sidenote">1 Corinthians 8:7</div>

<p>
But this knowledge is not in everyone. But some, being accustomed until now to the idol, eat this food as food sacrificed to idols, and their conscience, because it is weak, is defiled.
But food does not bring us close to God. For neither if we eat do we have more, nor if we do not eat do we lack.
But watch out lest somehow this right of yours becomes a cause for stumbling to the weak.
For if someone should see you who has knowledge reclining for a meal in an idol's temple, will not his conscience, because it is weak, be strengthened so that he eats the food sacrificed to idols?
For the one who is weak the brother for whom Christ died is destroyed by your knowledge.
Now if you sin in this way against the brothers and wound their conscience, which is weak, you sin against Christ.
Therefore, if food causes my brother to sin, I will never eat meat forever, in order that I may not cause my brother to sin.
</p>

<div class="sidenote left">1 Corinthians 9:1 <br>to 1 Corinthians 9:27</div>

<h3>Paul Gives Up His Rights as an Apostle</h3>

<p>
Am I not free? Am I not an apostle? Have I not seen Jesus our Lord? Are you not my work in the Lord?
If to others I am not an apostle, yet indeed I am to you, for you are my seal of apostleship in the Lord.
My defense to those who examine me is this:
Do we not have the right to eat and drink?
Do we not have the right to take along a sister as wife, like the rest of the apostles and the brothers of the Lord and Cephas?
Or do only I and Barnabas not have the right to refrain from working?
Who ever serves as a soldier at his own expense? Who plants a vineyard and does not eat the fruit of it? Who shepherds a flock and does not drink from the milk of the flock?
I am not saying these things according to a human perspective. Or does the law not also say these things?
For in the law of Moses it is written, 'You must not muzzle an ox while it is threshing.' It is not about oxen God is concerned, is it?
Or doubtless does he speak for our sake? For it is written for our sake, because the one who plows ought to plow in hope and the one who threshes ought to do so in hope of a share.
If we have sown spiritual things among you, is it too great a thing if we reap material things from you?
If others share this right over you, do we not do so even more? Yet we have not made use of this right, but we endure all things, in order that we may not cause any hindrance to the gospel of Christ.
</p>

<div class="sidenote">1 Corinthians 9:13</div>

<p>
Do you not know that those performing the holy services eat the things from the temple, and those attending to the altar have a share with the altar?
In the same way also the Lord ordered those who proclaim the gospel to live from the gospel.
But I have not made use of any of these rights. And I am not writing these things in order that it may be thus with me. For it would be better to me rather to die than for anyone to deprive me of my reason for boasting.
For if I proclaim the gospel, it is not to me a reason for boasting, for necessity is imposed on me. For woe is to me if I do not proclaim the gospel.
For if I do this voluntarily, I have a reward, but if I do so unwillingly, I have been entrusted with a stewardship.
What then is my reward? That when I proclaim the gospel, I may offer the gospel free of charge, in order not to make full use of my right in the gospel.
</p>

<div class="sidenote">1 Corinthians 9:19</div>

<p>
For although I am free from all people, I have enslaved myself to all, in order that I may gain more.
I have become like a Jew to the Jews, in order that I may gain the Jews. To those under the law I became as under the law (although I myself am not under the law) in order that I may gain those under the law.
To those outside the law I became as outside the law (although I am not outside the law of God, but subject to the law of Christ) in order that I may gain those outside the law.
To the weak I became weak, in order that I may gain the weak. I have become all things to all people, in order that by all means I may save some.
I do all this for the sake of the gospel, in order that I may become a participant with it.
</p>

<div class="sidenote">1 Corinthians 9:24</div>

<p>
Do you not know that those who run in the stadium all run, but one receives the prize? Run in such a way that you may win.
And everyone who competes exercises self-control in all things. Thus those do so in order that they may receive a perishable crown, but we an imperishable one.
Therefore I run in this way, not as running aimlessly; I box in this way, not as beating the air.
But I discipline my body and subjugate it, lest somehow after preaching to others, I myself should become disqualified.
</p>

<div class="sidenote left">1 Corinthians 10:1 <br>to 1 Corinthians 10:13</div>

<h3>A History Lesson from Israel</h3>

<p>
For I do not want you to be ignorant, brothers, that our fathers were all under the cloud and all went through the sea,
and all were baptized into Moses in the cloud and in the sea,
and all ate the same spiritual food,
and all drank the same spiritual drink. For they drank from the spiritual rock that followed them, and the rock was Christ.
But God was not pleased with the majority of them, for they were struck down in the desert.
</p>

<div class="sidenote">1 Corinthians 10:6</div>

<p>
Now these things happened as examples for us, so that we should not be desirers of evil things, just as those also desired them,
and not become idolaters, as some of them did, just as it is written, 'The people sat down to eat and drink, and stood up to play,'
nor commit sexual immorality, as some of them committed sexual immorality, and twenty-three thousand fell in one day,
nor put Christ to the test, as some of them tested him, and were destroyed by snakes,
nor grumble, just as some of them grumbled, and were destroyed by the destroyer.
Now these things happened to those people as an example, but are written for our instruction, on whom the ends of the ages have come.
Therefore, the one who thinks that he stands must watch out lest he fall.
Temptation has not come upon you except what is common to humanity. But God is faithful, who will not permit you to be tempted beyond what you are able, but will also make a way out together with the temptation, so that you may be able to endure it.
</p>

<div class="sidenote left">1 Corinthians 10:14 <br>to 1 Corinthians 10:22</div>

<h3>Warning Against Idolatry</h3>

<p>
Therefore, my dear friends, flee from idolatry.
I am speaking as to sensible people; you judge what I am saying.
The cup of blessing which we bless, is it not a participation in the blood of Christ? The bread which we break, is it not a participation in the body of Christ?
Because there is one bread, we who are many are one body, for we all share from the one bread.
Consider Israel according to the flesh: are not the ones who eat the sacrifices sharers in the altar?
Therefore, what am I saying? That food sacrificed to idols is anything, or that an idol is anything?
No, but that the things which they sacrifice, they sacrifice to demons and not to God, and I do not want you to become sharers with demons.
You are not able to drink the cup of the Lord and the cup of demons. You are not able to share the table of the Lord and the table of demons.
Or are we attempting to provoke the Lord to jealousy? We are not stronger than he is, are we?
</p>

<div class="sidenote left">1 Corinthians 10:23 <br>to 1 Corinthians 10:33</div>

<h3>Freedom in Christ</h3>

<p>
All things are permitted, but not all things are profitable. All things are permitted, but not all things build up.
Let no one seek his own good but the good of the other.
Eat everything that is sold in the meat market, asking no questions for the sake of the conscience,
for 'the earth is the Lord's, and its fullness.'
If any of the unbelievers invites you, and you want to go, eat everything that is set before you, asking no questions for the sake of the conscience.
But if someone says to you, 'This is offered to idols,' do not eat it, for the sake of that one who informed you and the conscience.
Now I am not speaking about your own conscience, but the conscience of the other person. For why is my freedom judged by another's conscience?
If I partake with thankfulness, why am I slandered concerning that for which I give thanks?
</p>

<div class="sidenote">1 Corinthians 10:31</div>

<p>
Therefore, whether you eat or you drink or whatever you do, do all things for the glory of God.
Give no offense both to Jews and to Greeks and to the church of God,
just as I also please all people in all things, not seeking my own benefit, but the benefit of the many, in order that they may be saved.
</p>

<div class="sidenote left">1 Corinthians 11:1 <br>to 1 Corinthians 11:16</div>

<h3>Concerning Head Coverings in Worship</h3>

<p>
Become imitators of me, just as I also am of Christ.
</p>

<div class="sidenote">1 Corinthians 11:2</div>

<p>
Now I praise you that you remember me in all things, and just as I handed over to you the traditions, you hold fast to them.
But I want you to know that Christ is the head of every man, and the man is the head of the woman, and the head of Christ is God.
Every man who prays or prophesies while having something on his head dishonors his head,
but every woman who prays or prophesies with uncovered head dishonors her head, for she is one and the same with the one whose head is shaved.
For if a woman does not cover herself, let her hair be shorn off. But if it is shameful for a woman to have her head shorn or shaved, let her cover her head.
For indeed a man ought not to cover his head, because he is the image and glory of God, but the woman is the glory of the man.
For man is not from woman, but woman from man.
For indeed man was not created for the sake of the woman, but woman for the sake of the man.
Because of this, the woman ought to have a symbol of authority on her head, on account of the angels.
Nevertheless, neither is woman anything apart from man, nor is man anything apart from woman in the Lord.
For just as the woman is from the man, thus also the man is through the woman. But all things are from God.
You judge for yourselves: is it fitting for a woman to pray to God with her head uncovered?
And does not nature itself teach you that a man, if he wears long hair, it is a dishonor to him?
But a woman, if she wears long hair, it is her glory, because her hair is given for a covering.
But if anyone is disposed to be contentious, we have no such custom, nor do the churches of God.
</p>

<div class="sidenote left">1 Corinthians 11:17 <br>to 1 Corinthians 11:34</div>

<h3>Improper Conduct at the Lord’s Supper</h3>

<p>
But in giving this instruction I do not praise you, because you come together not for the better but for the worse.
For in the first place, when you come together as a church, I hear there are divisions among you, and in part I believe it.
For indeed it is necessary that there be factions among you, in order that those who are approved may become evident among you.
Therefore, when you come together in the same place, it is not to eat the Lord's supper.
For when you eat it, each one of you goes ahead to take his own supper, and one is hungry and another is drunk.
For do you not have houses for eating and drinking? Or do you despise the church of God and humiliate those who do not have anything? What shall I say to you? Shall I praise you? In this I will not praise you!
</p>

<div class="sidenote">1 Corinthians 11:23</div>

<p>
For I received from the Lord what I also passed on to you, that the Lord Jesus, on the night in which he was betrayed, took bread,
and after he had given thanks, he broke it and said, 'This is my body which is for you. Do this in remembrance of me.'
Likewise also the cup, after they had eaten, saying, 'This cup is the new covenant in my blood. Do this, as often as you drink it, in remembrance of me.'
For as often as you eat this bread and drink this cup, you proclaim the Lord's death until he comes.
So then, whoever eats the bread or drinks the cup of the Lord in an unworthy manner will be guilty of the body and the blood of the Lord.
But let a person examine himself, and in this way let him eat from the bread and let him drink from the cup.
For the one who eats and drinks, if he does not recognize the body, eats and drinks judgment against himself.
Because of this, many are weak and sick among you, and quite a few have died.
But if we were evaluating ourselves, we would not be judged.
But if we are judged by the Lord, we are being disciplined, in order that we will not be condemned with the world.
</p>

<div class="sidenote">1 Corinthians 11:33</div>

<p>
So then, my brothers, when you come together in order to eat the Lord's supper, wait for one another.
If anyone is hungry, let him eat at home, lest you come together for judgment. And I will give directions about the remaining matters whenever I come.
</p>

<div class="sidenote left">1 Corinthians 12:1 <br>to 1 Corinthians 12:11</div>

<h3>Varieties of Spiritual Gifts</h3>

<p>
Now concerning spiritual gifts, brothers, I do not want you to be ignorant.
You know that when you were pagans, you were led astray to the speechless idols, however you were led.
Therefore I make known to you that no one speaking by the Spirit of God says, 'Jesus is accursed,' and no one is able to say 'Jesus is Lord' except by the Holy Spirit.
</p>

<div class="sidenote">1 Corinthians 12:4</div>

<p>
Now there are varieties of gifts, but the same Spirit,
and there are varieties of ministries, and the same Lord,
and there are varieties of activities, but the same God, who works all things in all people.
But to each one is given the manifestation of the Spirit for what is beneficial to all.
For to one is given a word of wisdom through the Spirit, and to another a word of knowledge by the same Spirit,
to another faith by the same Spirit, to another gifts of healing by the one Spirit,
to another miraculous powers, to another prophecy, to another distinguishing of spirits, to another kinds of tongues, to another interpretation of tongues.
But in all these things one and the same Spirit is at work, distributing to each one individually just as he wishes.
</p>

<div class="sidenote left">1 Corinthians 12:12 <br>to 1 Corinthians 12:31</div>

<h3>Unity in the Midst of Diversity</h3>

<p>
For just as the body is one and has many members, but all the members of the body, although they are many, are one body, thus also Christ.
For by one Spirit we were all baptized into one body, whether Jews or Greeks, whether slaves or free persons, and all were made to drink one Spirit.
For the body is not one member, but many.
If the foot should say, 'Because I am not a hand, I am not a part of the body,' not because of this is it not a part of the body.
And if the ear should say, 'Because I am not an eye, I am not a part of the body, not because of this is it not a part of the body.
If the whole body were an eye, where would the hearing be? If the whole were hearing, where would the sense of smell be?
But now God has placed the members, each one of them, in the body just as he wanted.
And if they all were one member, where would the body be?
But now there are many members, but one body.
</p>

<div class="sidenote">1 Corinthians 12:21</div>

<p>
Now the eye is not able to say to the hand, 'I do not have need of you,' or again, the head to the feet, 'I do not have need of you.'
But by much more the members of the body which are thought to be weaker are necessary,
and the parts of the body which we think to be less honorable, these we clothe with more abundant honor, and our unpresentable parts come to have more abundant presentability,
but our presentable parts do not have need of this. Yet God composed the body by giving more abundant honor to the part which lacked it,
in order that there not be a division in the body, but the members would have the same concern for one another.
And if one member suffers, all the members suffer together; if a member is honored, all the members rejoice with it.
</p>

<div class="sidenote">1 Corinthians 12:27</div>

<p>
Now you are the body of Christ, and members of it individually,
and whom God has appointed in the church: first, apostles, second, prophets, third, teachers, then miracles, then gifts of healing, helps, administrations, kinds of tongues.
Not all are apostles, are they? Not all are prophets, are they? Not all are teachers, are they? Not all are workers of miracles, are they?
Not all have gifts of healing, do they? Not all speak with tongues, do they? Not all interpret, do they?
But strive for the greater gifts. And I will show you a still more excellent way.
</p>

<div class="sidenote left">1 Corinthians 13:1 <br>to 1 Corinthians 13:13</div>

<h3>Love, the More Excellent Way</h3>

<p>
If I speak with the tongues of men and of angels, but do not have love, I have become a ringing brass gong or a clashing cymbal.
And if I have the gift of prophecy and I know all mysteries and all knowledge, and if I have all faith so that I can remove mountains, but do not have love, I am nothing.
And if I parcel out all my possessions, and if I hand over my body in order that I will be burned, but do not have love, it benefits me nothing.
</p>

<div class="sidenote">1 Corinthians 13:4</div>

<p>
Love is patient, love is kind, love is not jealous, it does not boast, it does not become conceited,
it does not behave dishonorably, it is not selfish, it does not become angry, it does not keep a record of wrongs,
it does not rejoice at unrighteousness, but rejoices with the truth,
bears all things, believes all things, hopes all things, endures all things.
</p>

<div class="sidenote">1 Corinthians 13:8</div>

<p>
Love never ends. But if there are prophecies, they will pass away. If there are tongues, they will cease. If there is knowledge, it will pass away.
For we know in part and we prophesy in part,
but whenever the perfect comes, the partial will pass away.
When I was a child, I spoke like a child, I thought like a child, I reasoned like a child. When I became a man, I set aside the things of a child.
For now we see through a mirror indirectly, but then face to face. Now I know in part, but then I will know completely, just as I have also been completely known.
And now these three things remain: faith, hope, and love. But the greatest of these is love.
</p>

<div class="sidenote left">1 Corinthians 14:1 <br>to 1 Corinthians 14:25</div>

<h3>Appropriate Use of Prophecy and Tongues</h3>

<p>
Pursue love, and strive for spiritual gifts, but especially that you may prophesy.
For the one who speaks in a tongue does not speak to people but to God, because no one understands, but by the Spirit he speaks mysteries.
But the one who prophesies speaks to people edification and encouragement and consolation.
The one who speaks in a tongue edifies himself, but the one who prophesies edifies the church.
Now I want you all to speak with tongues, but even more that you may prophesy. The one who prophesies is greater than the one who speaks with tongues, unless he interprets, in order that the church may receive edification.
</p>

<div class="sidenote">1 Corinthians 14:6</div>

<p>
But now, brothers, if I come to you speaking with tongues, how do I benefit you, unless I speak to you either with a revelation or with knowledge or with a prophecy or with a teaching?
Likewise, the inanimate things which produce a sound, whether flute or lyre, if they do not produce a distinction in the tones, how will it be known what is played on the flute or on the lyre?
For indeed, if the trumpet produces an indistinct sound, who will prepare for battle?
And so you through the tongue, unless you produce a clear message, how will it be known what is spoken? For you will be speaking into the air.
There are probably so many kinds of languages in the world, and none without meaning.
Therefore, if I do not know the meaning of the language, I will be a barbarian to the one who is speaking, and the one who is speaking will be a barbarian in my judgment.
In this way also you, since you are zealous of spiritual gifts, seek for the edification of the church, in order that you may abound.
</p>

<div class="sidenote">1 Corinthians 14:13</div>

<p>
Therefore the one who speaks in a tongue must pray that he may interpret.
For if I pray in a tongue, my spirit prays but my mind is unproductive.
Therefore what should I do? I will pray with my spirit, but I will also pray with my mind. I will sing praise with my spirit, but I will also sing praise with my mind.
For otherwise, if you praise in your spirit, how will the one who fills the place of the outsider say the 'amen' at your thanksgiving, because he does not know what you are saying?
For indeed you are giving thanks well, but the other person is not edified.
I give thanks to God that I speak with tongues more than all of you,
but in the church I prefer to speak five words with my mind, in order that I may instruct other people, than ten thousand words in a tongue.
</p>

<div class="sidenote">1 Corinthians 14:20</div>

<p>
Brothers, do not become children in your understanding, but with respect to wickedness be as a child, and in your understanding be mature.
In the law it is written:
</p>

<div class="sidenote">1 Corinthians 14:22</div>

<p>
So then, tongues are for a sign not to those who believe, but to unbelievers, but prophecy is not for unbelievers, but for those who believe.
Therefore, if the whole church comes together at the same time and all speak with tongues, and outsiders or unbelievers enter, will they not say that you are out of your minds?
But if all prophesy, and some unbeliever or outsider enters, he is convicted by all, he is judged by all,
the secret things of his heart become evident, and so, falling on his face, he will worship God, proclaiming, 'God is truly among you!'
</p>

<div class="sidenote left">1 Corinthians 14:26 <br>to 1 Corinthians 14:40</div>

<h3>Specific Instructions for Orderly Worship Services</h3>

<p>
Therefore what should you do, brothers? Whenever you come together, each one of you has a psalm, has a teaching, has a revelation, has a tongue, has an interpretation. All things must be done for edification.
If anyone speaks in a tongue, it must be on one occasion two or at most three, and one after the other, and one must interpret.
But if there is no interpreter, he must be silent in the church, but let him speak to himself and to God.
Let two or three prophets speak, and the others evaluate.
And if something is revealed to another who is seated, the first must be silent.
For you are all able to prophesy in turn, in order that all may learn and all may be encouraged,
and the spirits of prophets are subject to prophets.
For God is not a God of disorder but of peace.
</p>

<div class="sidenote">1 Corinthians 14:34</div>

<p>
the women must be silent in the churches, for it is not permitted for them to speak, but they must be in submission, just as the law also says.
But if they want to learn something, let them ask their own husbands at home, for it is shameful for a woman to speak in church.
Or has the word of God gone out from you, or has it come to you only?
</p>

<div class="sidenote">1 Corinthians 14:37</div>

<p>
If anyone thinks he is a prophet or spiritual, he should recognize that the things which I am writing to you are of the Lord.
But if anyone ignores this, he is ignored.
So then, my brothers, desire to prophesy, and do not prevent speaking with tongues.
But let all things be done decently and according to proper procedure.
</p>

<div class="sidenote left">1 Corinthians 15:1 <br>to 1 Corinthians 15:11</div>

<h3>Paul’s Gospel and the Resurrection of Christ</h3>

<p>
Now I make known to you, brothers, the gospel which I proclaimed to you, which you have also received, in which you also stand,
by which you are also being saved, if you hold fast to the message I proclaimed to you, unless you believed to no purpose.
For I passed on to you as of first importance what I also received, that Christ died for our sins according to the scriptures,
and that he was buried, and that he was raised up on the third day according to the scriptures,
and that he appeared to Cephas, then to the twelve,
then he appeared to more than five hundred brothers at once, the majority of whom remain until now, but some have fallen asleep.
Then he appeared to James, then to all the apostles,
and last of all, as it were to one born at the wrong time, he appeared also to me.
For I am the least of the apostles, not worthy to be called an apostle, because I persecuted the church of God.
But by the grace of God I am what I am, and his grace to me has not been in vain, but I labored even more than all of them, and not I, but the grace of God with me.
Therefore whether I or those, in this way we preached, and in this way you believed.
</p>

<div class="sidenote left">1 Corinthians 15:12 <br>to 1 Corinthians 15:34</div>

<h3>Concerning the Resurrection of the Dead</h3>

<p>
Now if Christ is preached as raised up from the dead, how do some among you say that there is no resurrection of the dead?
But if there is no resurrection of the dead, Christ has not been raised either.
But if Christ has not been raised, then our preaching is in vain, and your faith is in vain.
And also we are found to be false witnesses of God, because we testified against God that he raised Christ, whom he did not raise if after all, then, the dead are not raised.
For if the dead are not raised, Christ has not been raised either.
But if Christ has not been raised, your faith is empty; you are still in your sins.
And as a further result, those who have fallen asleep in Christ have perished.
If we have put our hope in Christ in this life only, we are of all people most pitiable.
</p>

<div class="sidenote">1 Corinthians 15:20</div>

<p>
But now Christ has been raised from the dead, the first fruits of those who have fallen asleep.
For since through a man came death, also through a man came the resurrection of the dead.
For just as in Adam all die, so also in Christ all will be made alive.
But each in his own group: Christ the first fruits, then those who are Christ's at his coming,
then the end, when he hands over the kingdom to the God and Father, when he has abolished all rule and all authority and power.
For it is necessary for him to reign until he has put all his enemies under his feet.
The last enemy to be abolished is death.
For 'he subjected all things under his feet.' But when it says 'all things' are subjected, it is clear that the one who subjected all things to him is not included.
But whenever all things are subjected to him, then the Son himself will be subjected to the one who subjected all things to him, in order that God may be all in all.
</p>

<div class="sidenote">1 Corinthians 15:29</div>

<p>
Otherwise, why do they do it, those who are being baptized on behalf of the dead? If the dead are not raised at all, why indeed are they being baptized on behalf of them?
And why are we in danger every hour?
I die every day yes indeed, by my boasting in you, which I have in Christ Jesus our Lord!
If according to a human perspective I fought wild beasts at Ephesus, what benefit is it to me? If the dead are not raised, let us eat and drink, for tomorrow we die.
Do not be deceived! 'Bad company corrupts good morals.'
Sober up correctly and stop sinning, for some have no knowledge of God I say this to your shame.
</p>

<div class="sidenote left">1 Corinthians 15:35 <br>to 1 Corinthians 15:58</div>

<h3>Questions Concerning the Resurrection Body</h3>

<p>
But someone will say, 'How are the dead raised? And with what sort of body do they come?'
Foolish person! What you sow does not come to life unless it dies.
And what you sow is not the body which it will become, but you sow the bare seed, whether perhaps of wheat or of some of the rest.
But God gives to it a body just as he wishes, and to each one of the seeds its own body.
Not all flesh is the same, but there is one flesh of human beings, and another flesh of animals, and another flesh of birds, and another of fish,
and heavenly bodies and earthly bodies. But the glory of the heavenly bodies is of one kind, and the glory of the earthly bodies is of another kind.
There is one glory of the sun, and another glory of the moon, and another glory of the stars, for star differs from star in glory.
</p>

<div class="sidenote">1 Corinthians 15:42</div>

<p>
Thus also is the resurrection of the dead. It is sown in corruption, it is raised in incorruptibility.
It is sown in dishonor, it is raised in glory. It is sown in weakness, it is raised in power.
It is sown a natural body, it is raised a spiritual body. If there is a natural body, there is also a spiritual body.
Thus also it is written, 'The first man, Adam, became a living soul'; the last Adam became a life-giving spirit.
But the spiritual is not first, but the natural; then the spiritual.
The first man is from the earth, made of earth; the second man is from heaven.
As the one who is made of earth, so also are those who are made of earth, and as the heavenly, so also are those who are heavenly.
And just as we have borne the image of the one who is made of earth, we will also bear the image of the heavenly.
</p>

<div class="sidenote">1 Corinthians 15:50</div>

<p>
But I say this, brothers, that flesh and blood is not able to inherit the kingdom of God, nor can corruption inherit incorruptibility.
Behold, I tell you a mystery: we will not all fall asleep, but we will all be changed,
in a moment, in the blink of an eye, at the last trumpet. For the trumpet will sound, and the dead will be raised imperishable, and we will be changed.
For it is necessary for this perishable body to put on incorruptibility, and this mortal body to put on immortality.
But whenever this perishable body puts on incorruptibility and this mortal body puts on immortality, then the saying that is written will take place:
</p>

<div class="sidenote">1 Corinthians 15:55</div>

<p>
Where, O death, is your victory? Where, O death, is your sting?
</p>

<div class="sidenote">1 Corinthians 15:56</div>

<p>
Now the sting of death is sin, and the power of sin is the law.
But thanks be to God, who gives us the victory through our Lord Jesus Christ!
So then, my dear brothers, be steadfast, immovable, always abounding in the work of the Lord, because you know that your labor is not in vain in the Lord.
</p>

<div class="sidenote left">1 Corinthians 16:1 <br>to 1 Corinthians 16:4</div>

<h3>Concerning the Collection for the Saints</h3>

<p>
Now concerning the collection for the saints: just as I gave directions about it to the churches of Galatia, so you do also.
On the first day of the week, each one of you put aside something, saving up to whatever extent he has prospered, in order that whenever I come, at that time collections do not take place.
And whenever I arrive, whomever you approve by letters, I will send these to take your gift to Jerusalem.
And if it is worthwhile for me to go also, they will travel with me.
</p>

<div class="sidenote left">1 Corinthians 16:5 <br>to 1 Corinthians 16:12</div>

<h3>Travel Plans for Paul and Associates</h3>

<p>
But I will come to you whenever I go through Macedonia (for I am going through Macedonia),
and perhaps I will stay with you, or even spend the winter, so that you may send me on my way wherever I may go.
For I do not want to see you now in passing, for I hope to remain some time with you, if the Lord allows it.
But I will remain in Ephesus until Pentecost,
for a great and effective door has opened for me, and there are many opponents.
</p>

<div class="sidenote">1 Corinthians 16:10</div>

<p>
But if Timothy comes, see that he is with you without cause to fear, for he is carrying out the Lord's work, as I also am.
Therefore do not let anyone disdain him, but send him on his way in peace in order that he may come to me, for I am expecting him with the brothers.
</p>

<div class="sidenote">1 Corinthians 16:12</div>

<p>
Now concerning Apollos our brother, I urged him many times that he should come to you with the brothers, and he was not at all willing that he should come now, but he will come whenever he has an opportunity.
</p>

<div class="sidenote left">1 Corinthians 16:13 <br>to 1 Corinthians 16:18</div>

<h3>Concluding Exhortations</h3>

<p>
Be on the alert, stand firm in the faith, act courageously, be strong.
All your actions must be done in love.
</p>

<div class="sidenote">1 Corinthians 16:15</div>

<p>
Now I urge you, brothers you know about the household of Stephanas, that they are the first fruits of Achaia, and they have devoted themselves to the ministry for the saints
that you also be subject to such people, and to all those who work together and labor.
Now I rejoice over the arrival of Stephanas and Fortunatus and Achaicus, because these make up for your absence,
for they have refreshed my spirit and yours. Therefore recognize such people.
</p>

<div class="sidenote left">1 Corinthians 16:19 <br>to 1 Corinthians 16:24</div>

<h3>Final Greetings and Benediction</h3>

<p>
The churches of the province of Asia greet you. Aquila and Prisca greet you in the Lord many times, together with the church in their house.
All the brothers greet you. Greet one another with a holy kiss.
</p>

<div class="sidenote">1 Corinthians 16:21</div>

<p>
The greeting is by my hand Paul's.
If anyone does not love the Lord, let him be accursed. O Lord, come!
</p>

<div class="sidenote">1 Corinthians 16:23</div>

<p>
The grace of the Lord Jesus be with you.
My love be with all of you in Christ Jesus.
</p>
