<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 John</h1>

<div class="sidenote left">1 John 1:1 <br>to 1 John 1:4</div>

<h3>Prologue</h3>

<p>
What was from the beginning, what we have heard, what we have seen with our eyes, what we have looked at and our hands have touched, concerning the word of life
and the life was revealed, and we have seen and testify and announce to you the eternal life which was with the Father and was revealed to us
what we have seen and heard, we announce to you also, in order that you also may have fellowship with us, and indeed our fellowship is with the Father and with his Son Jesus Christ.
And these things we write, in order that our joy may be complete.
</p>

<div class="sidenote left">1 John 1:5 <br>to 1 John 1:10</div>

<h3>God is Light, so Walk in the Light</h3>

<p>
And this is the message which we have heard from him and announce to you, that God is light and there is no darkness in him at all.
If we say that we have fellowship with him and walk in the darkness, we lie and do not practice the truth.
But if we walk in the light as he is in the light, we have fellowship with one another, and the blood of Jesus his Son cleanses us from all sin.
If we say that we do not have sin, we deceive ourselves and the truth is not in us.
If we confess our sins, he is faithful and just, so that he will forgive us our sins and will cleanse us from all unrighteousness.
If we say that we have not sinned, we make him a liar, and his word is not in us.
</p>

<div class="sidenote left">1 John 2:1 <br>to 1 John 2:11</div>

<h3>Keeping the New Commandment</h3>

<p>
My little children, I am writing these things to you in order that you may not sin. And if anyone sins, we have an advocate with the Father, Jesus Christ the righteous one,
and he is the propitiation for our sins, and not for ours only, but also for the sins of the whole world.
And by this we know that we have come to know him, if we keep his commandments.
The one who says 'I have come to know him,' and does not keep his commandments is a liar, and the truth is not in this person.
But whoever keeps his word, truly in this person the love of God has been perfected. By this we know that we are in him.
The one who says that he resides in him ought also to walk just as that one walked.
</p>

<div class="sidenote">1 John 2:7</div>

<p>
Dear friends, I am not writing a new commandment to you, but an old commandment which you have had from the beginning. The old commandment is the message which you have heard.
Again, I am writing a new commandment to you, which is true in him and in you, because the darkness is passing away and the true light already is shining.
The one who says he is in the light and hates his brother is in the darkness until now.
The one who loves his brother resides in the light, and there is no cause for stumbling in him.
But the one who hates his brother is in the darkness, and walks in the darkness, and does not know where he is going, because the darkness has blinded his eyes.
</p>

<div class="sidenote left">1 John 2:12 <br>to 1 John 2:14</div>

<h3>Encouragement and Assurance</h3>

<p>
I am writing to you, little children, because your sins have been forgiven you on account of his name.
I am writing to you, fathers, because you have known the One who is from the beginning. I am writing to you, young men, because you have conquered the evil one.
I have written to you, children, because you have known the Father. I have written to you, fathers, because you have known the One who is from the beginning. I have written to you, young men, because you are strong, and the word of God resides in you, and you have conquered the evil one.
</p>

<div class="sidenote left">1 John 2:15 <br>to 1 John 2:17</div>

<h3>Do Not Love the World</h3>

<p>
Do not love the world or the things in the world. If anyone loves the world, the love of the Father is not in him,
because everything that is in the world the desire of the flesh and the desire of the eyes and the arrogance of material possessions is not from the Father, but is from the world.
And the world is passing away, and its desire, but the one who does the will of God remains forever.
</p>

<div class="sidenote left">1 John 2:18 <br>to 1 John 2:27</div>

<h3>Departure of the False Teachers</h3>

<p>
Children, it is the last hour, and just as you have heard that antichrist is coming, even now many antichrists have arisen, by which we know that it is the last hour.
They went out from us, but they were not of us; for if they had been of us, they would have remained with us. But they went out, in order that it might be shown that all of them are not of us.
</p>

<div class="sidenote">1 John 2:20</div>

<p>
And you have an anointing from the Holy One, and you all know.
I have not written to you because you do not know the truth, but because you do know it, and because every lie is not of the truth.
Who is the liar except the one who denies that Jesus is the Christ? This person is the antichrist, the one who denies the Father and the Son.
Everyone who denies the Son does not have the Father either; the one who confesses the Son has the Father also.
</p>

<div class="sidenote">1 John 2:24</div>

<p>
As for you, what you have heard from the beginning must remain in you. If what you have heard from the beginning remains in you, you also will remain in the Son and in the Father.
And this is the promise which he himself promised us: eternal life.
These things I have written to you concerning the ones who are trying to deceive you.
</p>

<div class="sidenote">1 John 2:27</div>

<p>
And as for you, the anointing which you received from him remains in you, and you do not have need that anyone teach you. But as his anointing teaches you about all things, and is true and is not a lie, and just as it has taught you, you reside in him.
</p>

<div class="sidenote left">1 John 2:28 <br>to 1 John 3:10</div>

<h3>God’s Children</h3>

<p>
And now, little children, remain in him, so that whenever he is revealed we may have confidence and not be put to shame before him at his coming.
If you know that he is righteous, you know that everyone who practices righteousness has been fathered by him.
</p>

<p>
See what sort of love the Father has given to us: that we should be called children of God, and we are! Because of this the world does not know us: because it did not know him.
Dear friends, now we are children of God, and what we will be has not yet been revealed. We know that whenever he is revealed we will be like him, because we will see him just as he is.
And everyone who has this hope in him purifies himself, just as that one is pure.
</p>

<div class="sidenote">1 John 3:4</div>

<p>
Everyone who practices sin also practices lawlessness, and sin is lawlessness.
And you know that that one was revealed in order that he might take away sins, and in him there is no sin.
Everyone who resides in him does not sin. Everyone who sins has neither seen him nor known him.
Little children, let no one deceive you: the one who practices righteousness is righteous, just as that one is righteous.
The one who practices sin is of the devil, because the devil has been sinning from the beginning. For this reason the Son of God was revealed: in order to destroy the works of the devil.
Everyone who is fathered by God does not practice sin, because his seed resides in him, and he is not able to sin, because he has been fathered by God.
By this the children of God and the children of the devil are evident: everyone who does not practice righteousness is not of God, namely, the one who does not love his brother.
</p>

<div class="sidenote left">1 John 3:11 <br>to 1 John 3:24</div>

<h3>God is Love, so Love One Another</h3>

<p>
For this is the message that you have heard from the beginning: that we should love one another,
not as Cain, who was of the evil one and violently murdered his brother. And for what reason did he violently murder him? Because his deeds were evil and the deeds of his brother were righteous.
</p>

<div class="sidenote">1 John 3:13</div>

<p>
Do not marvel, brothers, if the world hates you.
We know that we have passed over from death to life because we love the brothers. The one who does not love remains in death.
Everyone who hates his brother is a murderer, and you know that every murderer does not have eternal life residing in him.
We have come to know love by this: that he laid down his life on behalf of us, and we ought to lay down our lives on behalf of the brothers.
But whoever has the world's material possessions and observes his brother in need and shuts his heart against him, how does the love of God reside in him?
</p>

<div class="sidenote">1 John 3:18</div>

<p>
Little children, let us not love with word or with tongue, but in deed and truth.
By this we know that we are of the truth and will convince our heart before him,
that if our heart condemns us, that God is greater than our heart and knows all things.
Dear friends, if our heart does not condemn us, we have confidence before God,
and whatever we ask we receive from him, because we keep his commandments and do what is pleasing in his sight.
And this is his commandment: that we believe in the name of his Son Jesus Christ and love one another, just as he commanded us.
And the one who keeps his commandments resides in him, and he in him. And by this we know that he resides in us: by the Spirit whom he has given to us.
</p>

<div class="sidenote left">1 John 4:1 <br>to 1 John 4:6</div>

<h3>How to Recognize the Spirit of God</h3>

<p>
Dear friends, do not believe every spirit, but test the spirits to determine if they are from God, because many false prophets have gone out into the world.
By this you know the Spirit of God: every spirit that confesses Jesus Christ has come in the flesh is from God,
and every spirit that does not confess Jesus is not from God, and this is the spirit of the antichrist, of which you have heard that it is coming, and now it is already in the world.
</p>

<div class="sidenote">1 John 4:4</div>

<p>
You are from God, little children, and have conquered them, because the one who is in you is greater than the one who is in the world.
They are from the world; therefore they speak from the world and the world listens to them.
We are from God. The one who knows God listens to us; whoever is not from God does not listen to us. By this we know the Spirit of truth and the spirit of deceit.
</p>

<div class="sidenote left">1 John 4:7 <br>to 1 John 5:4</div>

<h3>God’s Love Revealed</h3>

<p>
Dear friends, let us love one another, because love is from God, and everyone who loves has been fathered by God and knows God.
The one who does not love does not know God, because God is love.
By this the love of God is revealed in us: that God sent his one and only Son into the world in order that we may live through him.
In this is love: not that we have loved God, but that he loved us and sent his Son to be the propitiation for our sins.
</p>

<div class="sidenote">1 John 4:11</div>

<p>
Dear friends, if God loved us in this way, we also ought to love one another.
No one has seen God at any time. If we love one another, God resides in us and his love is perfected in us.
By this we know that we reside in him and he in us: that he has given us of his Spirit.
And we have seen and testify that the Father has sent the Son to be the Savior of the world.
</p>

<div class="sidenote">1 John 4:15</div>

<p>
Whoever confesses that Jesus is the Son of God, God resides in him and he in God.
And we have come to know and have believed the love that God has in us. God is love, and the one who resides in love resides in God, and God resides in him.
By this love is perfected with us, so that we may have confidence in the day of judgment, because just as that one is, so also are we in this world.
There is no fear in love, but perfect love drives out fear, because fear includes punishment, and the one who is afraid has not been perfected in love.
We love, because he first loved us.
</p>

<div class="sidenote">1 John 4:20</div>

<p>
If anyone says, 'I love God,' and hates his brother, he is a liar, for the one who does not love his brother whom he has seen is not able to love God whom he has not seen.
And this is the commandment we have from him: that the one who loves God should love his brother also.
</p>

<p>
Everyone who believes that Jesus is the Christ has been fathered by God, and everyone who loves the father also loves the child fathered by him.
By this we know that we love the children of God: whenever we love God and keep his commandments.
For this is the love of God: that we keep his commandments. And his commandments are not burdensome,
because everyone who is fathered by God conquers the world.
</p>

<div class="sidenote left">1 John 5:5 <br>to 1 John 5:12</div>

<h3>God Has Given Us Eternal Life in the Son</h3>

<p>
Now who is the one who conquers the world except the one who believes that Jesus is the Son of God?
This is the one who came by water and blood Jesus Christ, not with the water only, but with the water and with the blood. And the Spirit is the one who testifies, because the Spirit is the truth.
For there are three that testify,
the Spirit and the water and the blood, and the three are in agreement.
</p>

<div class="sidenote">1 John 5:9</div>

<p>
If we receive the testimony of people, the testimony of God is greater, because this is the testimony of God that he has testified concerning his Son.
(The one who believes in the Son of God has the testimony in himself. The one who does not believe God has made him a liar, because he has not believed in the testimony that God has testified concerning his Son.)
And this is the testimony: that God has given us eternal life, and this life is in his Son.
The one who has the Son has the life; the one who does not have the Son of God does not have the life.
</p>

<div class="sidenote left">1 John 5:13 <br>to 1 John 5:21</div>

<h3>Our Assurance of Eternal Life</h3>

<p>
These things I have written to you who believe in the name of the Son of God, in order that you may know that you have eternal life.
</p>

<div class="sidenote">1 John 5:14</div>

<p>
And this is the confidence that we have before him: that if we ask anything according to his will, he hears us.
And if we know that he hears us in whatever we ask, we know that we have the requests that we have asked from him.
If anyone should see his brother sinning a sin not leading to death, he should ask, and he will grant life to him, to those who sin not leading to death. (There is a sin leading to death; I do not say that he should ask about that.
All unrighteousness is sin, and there is a sin not leading to death.)
</p>

<div class="sidenote">1 John 5:18</div>

<p>
We know that everyone who is fathered by God does not sin, but the one fathered by God, he protects him, and the evil one does not touch him.
We know that we are from God, and the whole world lies in the power of the evil one.
And we know that the Son of God has come and has given us understanding, in order that we may know the one who is true, and we are in the one who is true, in his Son Jesus Christ. This one is the true God and eternal life.
Little children, guard yourselves from idols.
</p>
