<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 Peter</h1>

<div class="sidenote left">1 Peter 1:1 <br>to 1 Peter 1:2</div>

<h3>Greeting</h3>

<p>
Peter, an apostle of Jesus Christ, to the chosen who are residing temporarily in the dispersion in Pontus, Galatia, Cappadocia, Asia, and Bithynia,
according to the foreknowledge of God the Father, by the sanctification of the Spirit, for obedience and for sprinkling with the blood of Jesus Christ. May grace and peace be multiplied to you.
</p>

<div class="sidenote left">1 Peter 1:3 <br>to 1 Peter 1:12</div>

<h3>A New Birth to a Living Hope</h3>

<p>
Blessed be the God and Father of our Lord Jesus Christ, who according to his great mercy has caused us to be born again to a living hope through the resurrection of Jesus Christ from the dead,
into an inheritance imperishable and undefiled and unfading, reserved in heaven for you
who are being protected by the power of God through faith for a salvation ready to be revealed in the last time,
in which you rejoice greatly, although now for a short time, if necessary, you are distressed by various trials,
so that the genuineness of your faith, more valuable than gold that is passing away, but is tested by fire, may be found to result in praise and glory and honor at the revelation of Jesus Christ,
whom, although you have not seen, you love; in whom now you believe, although you do not see him, and you rejoice greatly with joy inexpressible and full of glory,
obtaining the goal of your faith, the salvation of your souls.
</p>

<div class="sidenote">1 Peter 1:10</div>

<p>
Concerning this salvation, the prophets who prophesied about the grace meant for you sought and made careful inquiry,
investigating for what person or which time the Spirit of Christ in them was indicating when he testified beforehand to the sufferings with reference to Christ and the glories after these things,
to whom it was revealed that they were serving not themselves but you with reference to the same things which now have been announced to you through those who proclaimed the gospel to you by the Holy Spirit sent from heaven, things into which angels desire to look.
</p>

<div class="sidenote left">1 Peter 1:13 <br>to 1 Peter 1:25</div>

<h3>Be Holy in All Your Conduct</h3>

<p>
Therefore, when you have prepared your minds for action by being self-controlled, put your hope completely in the grace that will be brought to you at the revelation of Jesus Christ.
As obedient children, do not be conformed to the former desires you used to conform to in your ignorance,
but as the one who called you is holy, you yourselves be holy in all your conduct,
for it is written, 'You will be holy, because I am holy.'
And if you call on him as Father who judges impartially according to each one's work, conduct yourselves with fear during the time of your temporary residence,
because you know that you were redeemed from your futile way of life inherited from your ancestors not with perishable things like silver or gold,
but with the precious blood of Christ, like that of an unblemished and spotless lamb
who was foreknown before the foundation of the world, but has been revealed in these last times for you
who through him are believing in God, who raised him from the dead and gave him glory, so that your faith and hope are in God.
</p>

<div class="sidenote">1 Peter 1:22</div>

<p>
Having purified your souls by your obedience to the truth for sincere brotherly love, love one another fervently from the heart,
because you have been born again, not from perishable seed but imperishable, through the living and enduring word of God.
For
</p>

<div class="sidenote">1 Peter 1:25</div>

<p>
but the word of the Lord endures forever.'
</p>

<div class="sidenote left">1 Peter 2:1 <br>to 1 Peter 2:12</div>

<h3>Chosen as Living Stones</h3>

<p>
Therefore, ridding yourselves of all malice and all deceit and hypocrisy and envy and all slander,
like newborn infants long for the unadulterated spiritual milk, so that by it you may grow up to salvation,
if you have tasted that the Lord is kind,
to whom you are drawing near, a living stone rejected by men but chosen and precious in the sight of God.
And you yourselves, as living stones, are being built up as a spiritual house for a holy priesthood, to offer up spiritual sacrifices acceptable to God through Jesus Christ.
For it stands in scripture,
</p>

<div class="sidenote">1 Peter 2:7</div>

<p>
Therefore the honor is for you who believe, but for those who refuse to believe,
</p>

<div class="sidenote">1 Peter 2:8</div>

<p>
and
But you are a chosen race, a royal priesthood, a holy nation, a people for God's possession, so that you may proclaim the virtues of the one who called you out of darkness into his marvelous light,
who once were not a people, but now are the people of God, the ones who were not shown mercy, but now are shown mercy.
</p>

<div class="sidenote">1 Peter 2:11</div>

<p>
Dear friends, I urge you as foreigners and temporary residents to abstain from fleshly desires which wage war against your soul,
maintaining your good conduct among the Gentiles, so that in the things in which they slander you as evildoers, by seeing your good deeds they may glorify God on the day of visitation.
</p>

<div class="sidenote left">1 Peter 2:13 <br>to 1 Peter 2:25</div>

<h3>Submission to Established Authority</h3>

<p>
Subject yourselves to every human authority for the sake of the Lord, whether to a king as having supreme authority,
or to governors as those sent out by him for the punishment of those who do evil and the praise of those who do good.
For the will of God is as follows: by doing good to silence the ignorance of foolish people.
Live as free persons, and not using your freedom as a covering for evil, but as slaves of God.
Honor all people, love the community of believers, fear God, honor the king.
</p>

<div class="sidenote">1 Peter 2:18</div>

<p>
Domestic slaves, be subject to your masters with all respect, not only to those who are good and gentle, but also to those who are unjust.
For this finds favor, if because of consciousness of God someone endures sorrows while suffering unjustly.
For what credit is it if, when you sin and are beaten for it, you endure? But if you endure when you do good and suffer for it, this finds favor with God.
For to this you were called, because Christ also suffered for you, leaving you an example, so that you should follow in his footsteps,
who did not commit sin, nor was deceit found in his mouth,
who when he was reviled, did not revile in return; when suffering, he did not threaten, but entrusted himself to the one who judges justly,
who himself bore our sins in his body on the tree, so that we may die to sins and live to righteousness, by whose wounds you were healed.
For you were going astray like sheep, but you have turned back now to the shepherd and guardian of your souls.
</p>

<div class="sidenote left">1 Peter 3:1 <br>to 1 Peter 3:7</div>

<h3>Wives and Husbands</h3>

<p>
In the same way, wives, be subject to your own husbands, so that even if some are disobedient to the word, they may be won over without a word by the conduct of their wives,
when they see your respectful, pure conduct.
Let your adornment not be the external kind, braiding hair and putting on gold jewelry or putting on fine clothing,
but the hidden person of the heart, with the imperishable quality of a gentle and quiet spirit, which is highly valuable in the sight of God.
For in the same way formerly the holy women also, who hoped in God, used to adorn themselves by being subject to their own husbands,
like Sarah obeyed Abraham, calling him lord, whose children you have become when you do good and are not frightened with respect to any terror.
</p>

<div class="sidenote">1 Peter 3:7</div>

<p>
Husbands, in the same way live with your wives knowledgeably, as with the weaker female vessel, showing them honor as fellow heirs also of the grace of life, so that your prayers will not be hindered.
</p>

<div class="sidenote left">1 Peter 3:8 <br>to 1 Peter 3:12</div>

<h3>Called to Inherit a Blessing</h3>

<p>
And finally, all of you be harmonious, sympathetic, showing mutual affection, compassionate, humble,
not repaying evil for evil or insult for insult, but on the other hand blessing others, because for this reason you were called, so that you could inherit a blessing.
For
</p>

<div class="sidenote">1 Peter 3:11</div>

<p>
And he must turn away from evil and do good; he must seek peace and pursue it.
</p>

<div class="sidenote">1 Peter 3:12</div>

<p>
For the eyes of the Lord are on the righteous, and his ears are open to their prayer. But the face of the Lord is against those who do evil.
</p>

<div class="sidenote left">1 Peter 3:13 <br>to 1 Peter 3:22</div>

<h3>Suffer for Doing What is Good</h3>

<p>
And who is the one who will harm you if you are a zealous adherent for what is good?
But even if you might suffer for the sake of righteousness, you are blessed. And do not be afraid of their intimidation or be disturbed,
but set Christ apart as Lord in your hearts, always ready to make a defense to anyone who asks you for an accounting concerning the hope that is in you.
But do so with courtesy and respect, having a good conscience, so that in the things in which you are slandered, the ones who malign your good conduct in Christ may be put to shame.
For it is better to suffer for doing good, if God wills it, than for doing evil.
</p>

<div class="sidenote">1 Peter 3:18</div>

<p>
For Christ also suffered once for sins, the just for the unjust, in order that he could bring you to God, being put to death in the flesh, but made alive in the spirit,
</p>

<div class="sidenote">1 Peter 3:19</div>

<p>
in which also he went and proclaimed to the spirits in prison,
</p>

<div class="sidenote">1 Peter 3:20</div>

<p>
who were formerly disobedient, when the patience of God waited in the days of Noah, while an ark was being constructed, in which a few that is, eight souls were rescued through water.
And also, corresponding to this, baptism now saves you, not the removal of dirt from the flesh, but an appeal to God for a good conscience through the resurrection of Jesus Christ,
who is at the right hand of God, having gone into heaven, with angels and authorities and powers having been subjected to him.
</p>

<div class="sidenote left">1 Peter 4:1 <br>to 1 Peter 4:6</div>

<h3>The Time for Behaving Like the Gentiles is Past</h3>

<p>
Therefore, because Christ suffered in the flesh, you also equip yourselves with the same way of thinking, because the one who has suffered in the flesh has ceased from sin,
in order to live the remaining time in the flesh no longer for human desires, but for the will of God.
For the time that has passed was sufficient to do what the Gentiles desire to do, having lived in licentiousness, evil desires, drunkenness, carousing, drinking parties, and wanton idolatries,
with respect to which they are surprised when you do not run with them into the same flood of dissipation, and so they revile you.
They will give an account to the one who is ready to judge the living and the dead.
Because for this reason also the gospel was preached to those who are dead, so that they were judged by human standards in the flesh, but they may live in the spirit by God's standards.
</p>

<div class="sidenote left">1 Peter 4:7 <br>to 1 Peter 4:11</div>

<h3>Serving to the Glory of God</h3>

<p>
Now the end of all things draws near. Therefore be self-controlled and sober-minded for your prayers.
Above all, keep your love for one another constant, because love covers a large number of sins.
Be hospitable to one another without complaining.
Just as each one has received a gift, use it for serving one another, as good stewards of the varied grace of God.
If anyone speaks, let it be as the oracles of God; if anyone serves, let it be as by the strength that God provides, so that in all things God will be glorified through Jesus Christ, to whom is the glory and the power forever and ever. Amen.
</p>

<div class="sidenote left">1 Peter 4:12 <br>to 1 Peter 4:19</div>

<h3>Sharing the Sufferings of Christ</h3>

<p>
Dear friends, do not be surprised at the fiery ordeal among you, when it takes place to test you, as if something strange were happening to you.
But to the degree that you share in the sufferings of Christ, rejoice, so that also at the revelation of his glory you may rejoice and be glad.
If you are reviled on account of the name of Christ, you are blessed, because the Spirit of glory and of God rests on you.
By all means do not let anyone of you suffer as a murderer or a thief or an evildoer or as a meddler.
But if someone suffers as a Christian, he must not be ashamed, but must glorify God with this name.
For it is the time for the judgment to begin out from the household of God. But if it begins out from us first, what will be the outcome for those who are disobedient to the gospel of God?
And if the righteous are saved with difficulty, what will become of the ungodly and the sinner?
So then also those who suffer according to the will of God must entrust their souls to a faithful Creator in doing good.
</p>

<div class="sidenote left">1 Peter 5:1 <br>to 1 Peter 5:11</div>

<h3>Leadership and Humility</h3>

<p>
Therefore I, your fellow elder and a witness of the sufferings of Christ, and also a sharer of the glory that is going to be revealed, exhort the elders among you:
shepherd the flock of God among you, exercising oversight not by compulsion but willingly, in accordance with God, and not greedily but eagerly,
and not as lording it over those under your care, but being examples for the flock.
And when the chief Shepherd appears, you will receive the unfading crown of glory.
</p>

<div class="sidenote">1 Peter 5:5</div>

<p>
In the same way, younger men, be subject to the elders, and all of you clothe yourselves with humility toward one another, because God opposes the proud, but gives grace to the humble.
Humble yourselves therefore under the mighty hand of God, so that he may exalt you at the right time,
casting all your cares on him, because he cares for you.
</p>

<div class="sidenote">1 Peter 5:8</div>

<p>
Be sober; be on the alert. Your adversary the devil walks around like a roaring lion, looking for someone to devour.
Resist him, steadfast in your faith, because you know the same kinds of sufferings are being accomplished by your community of believers in the world.
And the God of all grace, who called you to his eternal glory in Christ, after you have suffered for a short time, will himself restore, confirm, strengthen, and establish you.
To him be the power forever and ever. Amen.
</p>

<div class="sidenote left">1 Peter 5:12 <br>to 1 Peter 5:14</div>

<h3>Conclusion and Final Greetings</h3>

<p>
Through Silvanus, the faithful brother (as I consider him), I have written to you briefly to encourage you and to attest that this is the true grace of God. Stand firm in it.
She who is in Babylon, chosen the same as you, greets you, and so does my son Mark.
Greet one another with a loving kiss. Peace to all of you who are in Christ.
</p>
