<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 Thessalonians</h1>

<div class="sidenote left">1 Thessalonians 1:1 </div>

<h3>Greeting</h3>

<p>
Paul and Silvanus and Timothy, to the church of the Thessalonians in God the Father and the Lord Jesus Christ. Grace to you and peace.
</p>

<div class="sidenote left">1 Thessalonians 1:2 <br>to 1 Thessalonians 1:10</div>

<h3>Thanksgiving for the Thessalonian Believers</h3>

<p>
We give thanks to God always concerning all of you, making mention constantly in our prayers,
because we remember your work of faith and labor of love and steadfastness of hope in our Lord Jesus Christ in the presence of our God and Father,
knowing, brothers dearly loved by God, that he has chosen you,
because our gospel did not come to you with word only, but also with power and with the Holy Spirit and with much certainty, just as you know what sort of people we became among you for your sake.
And you became imitators of us and of the Lord, receiving the word in much affliction, with the joy of the Holy Spirit,
so that you became an example to all those who believe in Macedonia and in Achaia,
for from you the word of the Lord has sounded forth, not only in Macedonia and Achaia, but in every place your faith toward God has gone out, so that we have no need to say anything.
For they themselves report about us, what sort of welcome we had with you, and how you turned to God from idols to serve the living and true God,
and to await his Son from heaven, whom he raised from the dead, Jesus, the one who delivers us from the coming wrath.
</p>

<div class="sidenote left">1 Thessalonians 2:1 <br>to 1 Thessalonians 2:12</div>

<h3>Paul’s Approach to Ministry in Thessalonica</h3>

<p>
For you yourselves know, brothers, our reception with you, that it was not in vain,
but after we had already suffered and been mistreated in Philippi, just as you know, we had the courage in our God to speak to you the gospel of God amid much opposition.
For our exhortation is not from error or from impurity or with deceit,
but just as we have been approved by God to be entrusted with the gospel, thus we speak, not as pleasing people but God, who examines our hearts.
For never did we come with a word of flattery, just as you know, nor with a pretext of greediness (God is witness),
nor seeking glory from people, neither from you nor from others.
Although we could have insisted on our own importance as apostles of Christ, yet we became infants in your midst, like a nursing mother cherishes her own children.
Longing for you in this way, we determined to share with you not only the gospel of God but also our own souls, because you had become dear to us.
</p>

<div class="sidenote">1 Thessalonians 2:9</div>

<p>
For you remember, brothers, our labor and hardship: working by night and day in order not to be a burden to any of you, we proclaimed to you the gospel of God.
You are witnesses, and so is God, how devoutly and righteously and blamelessly we became to you who believe,
just as you know how we treated each one of you, like a father his own children,
exhorting and consoling you and insisting that you live in a manner worthy of God, who calls you to his own kingdom and glory.
</p>

<div class="sidenote left">1 Thessalonians 2:13 <br>to 1 Thessalonians 2:16</div>

<h3>The Thessalonians’ Response to Paul’s Message</h3>

<p>
And because of this we also give thanks to God constantly, that when you received God's word that you heard from us, you accepted it not as the word of men, but as it truly is, the word of God, which also is at work in you who believe.
For you became imitators, brothers, of the churches of God which are in Judea in Christ Jesus, because you also suffered the same things at the hands of your own people, just as they themselves did also at the hands of the Jews,
who killed both the Lord Jesus and the prophets, and who persecuted us, and who are not pleasing to God and are opposed to all people,
hindering us from speaking to the Gentiles in order that they may be saved, so that they always fill up their sins. But wrath has come upon them to the end.
</p>

<div class="sidenote left">1 Thessalonians 2:17 <br>to 1 Thessalonians 2:20</div>

<h3>Paul’s Desire to Revisit the Thessalonians</h3>

<p>
But when we were made orphans by separation from you, brothers, for a short time (in face, not in heart), we were even more eager with great desire to see your face,
because we wanted to come to you I, Paul, on more than one occasion and Satan hindered us.
For who is our hope or joy or crown of boasting? Is it not even you, in the presence of our Lord Jesus at his coming?
For you are our glory and joy.
</p>

<div class="sidenote left">1 Thessalonians 3:1 <br>to 1 Thessalonians 3:5</div>

<h3>Paul Sends Timothy to Thessalonica</h3>

<p>
Therefore when we could bear it no longer, we determined to be left behind in Athens alone,
and we sent Timothy, our brother and fellow worker for God in the gospel of Christ, in order to strengthen and to encourage you about your faith,
so that no one would be shaken by these afflictions. For you yourselves know that we are appointed for this,
for indeed when we were with you we told you beforehand that we were about to be afflicted, just as indeed it happened, and you know.
Because of this, I also, when I could endure it no longer, sent in order to know your faith, lest somehow the tempter tempted you and our labor should be in vain.
</p>

<div class="sidenote left">1 Thessalonians 3:6 <br>to 1 Thessalonians 3:13</div>

<h3>Timothy’s Positive Report</h3>

<p>
But now, because Timothy has come to us from you and has brought good news to us of your faith and love, and that you always think kindly of us, desiring to see us just as also we desire to see you,
because of this, brothers, we have been comforted because of you in all our distress and affliction through your faith,
because now we live, if you stand firm in the Lord.
For what thanks can we repay to God concerning you, because of all the joy with which we rejoice because of you before our God,
night and day praying beyond all measure that we may see your face and complete what is lacking in your faith?
</p>

<div class="sidenote">1 Thessalonians 3:11</div>

<p>
Now may our God and Father himself and our Lord Jesus direct our way to you,
and may the Lord cause you to increase and to abound in love for one another and for all, just as also we do for you,
so that your hearts may be established blameless in holiness before our God and Father at the coming of our Lord Jesus with all his saints.
</p>

<div class="sidenote left">1 Thessalonians 4:1 <br>to 1 Thessalonians 4:8</div>

<h3>Appeal for Continuing Sanctification</h3>

<p>
Finally therefore, brothers, we ask you and appeal to you in the Lord Jesus that, just as you have received from us how it is necessary for you to live and to please God, just as indeed you are living, that you progress even more.
For you know what commands we gave to you through the Lord Jesus.
For this is the will of God, your sanctification: that you abstain from sexual immorality;
that each of you know how to possess his own vessel in sanctification and honor,
not in lustful passion, just as also the Gentiles who do not know God;
not to transgress and to exploit his brother in the matter, because the Lord is the one who avenges concerning all these things, just as also we told you beforehand and testified solemnly.
For God did not call us to impurity, but in holiness.
Therefore the one who rejects this is not rejecting man, but God, who also gives his Holy Spirit to you.
</p>

<div class="sidenote left">1 Thessalonians 4:9 <br>to 1 Thessalonians 4:12</div>

<h3>Affirmation of Continuing Love</h3>

<p>
But concerning brotherly love, I do not have need to write to you, for you yourselves are taught by God to love one another,
for indeed you are practicing it toward all the brothers in all of Macedonia. But we urge you, brothers, to progress even more,
and to aspire to live a quiet life, and to attend to your own business, and to work with your hands, just as we commanded you,
so that you may live decently toward those outside, and may have need of nothing.
</p>

<div class="sidenote left">1 Thessalonians 4:13 <br>to 1 Thessalonians 4:18</div>

<h3>The Comfort of the Lord’s Return</h3>

<p>
Now we do not want you to be ignorant, brothers, concerning those who have fallen asleep, so that you will not grieve as also the rest, who have no hope.
For if we believe that Jesus died and rose again, thus also God will bring those who have fallen asleep through Jesus together with him.
For this we say to you by the word of the Lord, that we who are alive, who remain until the Lord's coming, will not possibly precede those who have fallen asleep.
For the Lord himself will descend from heaven with a shout of command, with the voice of the archangel and with the trumpet of God, and the dead in Christ will rise first.
Then we who are alive, who remain, will be snatched away at the same time together with them in the clouds for a meeting with the Lord in the air, and thus we will be together with the Lord always.
Therefore comfort one another with these words.
</p>

<div class="sidenote left">1 Thessalonians 5:1 <br>to 1 Thessalonians 5:11</div>

<h3>The Sudden Arrival of the Day of the Lord</h3>

<p>
Now concerning the times and the seasons, brothers, you have no need of anything to be written to you,
for you yourselves well know that the day of the Lord is coming in the same way as a thief in the night.
Whenever they say 'Peace and security,' then sudden destruction will overtake them like the birth pains of a pregnant woman, and they will not possibly escape.
But you, brothers, are not in the darkness, so that the day should catch you like a thief,
for you are all sons of light and sons of day. We are not of the night nor of darkness.
</p>

<div class="sidenote">1 Thessalonians 5:6</div>

<p>
So then, we must not sleep like the rest, but must be on the alert and be self-controlled.
For those who sleep, sleep at night, and those who get drunk, are drunk at night.
But because we are of the day, we must be sober, by putting on the breastplate of faith and love and as a helmet the hope of salvation,
because God did not appoint us for wrath, but for the obtaining of salvation through our Lord Jesus Christ,
who died for us, so that whether we are awake or asleep, we will live at the same time with him.
Therefore encourage one another and build up each other, just as indeed you are doing.
</p>

<div class="sidenote left">1 Thessalonians 5:12 <br>to 1 Thessalonians 5:28</div>

<h3>Final Exhortations and Benediction</h3>

<p>
Now we ask you, brothers, to respect those who labor among you and rule over you in the Lord and admonish you,
and to esteem them beyond all measure in love, because of their work. Be at peace among yourselves.
</p>

<div class="sidenote">1 Thessalonians 5:14</div>

<p>
And we urge you, brothers, admonish the disorderly, console the discouraged, help the sick, be patient toward all people.
See to it that no one pays back evil for evil to anyone, but always pursue good toward one another and toward all people.
</p>

<div class="sidenote">1 Thessalonians 5:16</div>

<p>
Rejoice always,
pray constantly,
give thanks in everything; for this is the will of God for you in Christ Jesus.
Do not quench the Spirit.
Do not despise prophecies,
but examine all things; hold fast to what is good.
Abstain from every form of evil.
Now may the God of peace himself sanctify you completely, and may your spirit and soul and body be kept complete, blameless at the coming of our Lord Jesus Christ.
The one who calls you is faithful, who also will do this.
</p>

<div class="sidenote">1 Thessalonians 5:25</div>

<p>
Brothers, pray for us.
Greet all the brothers with a holy kiss.
I adjure you by the Lord, have this letter read aloud to all the brothers.
The grace of our Lord Jesus Christ be with you.
</p>
