<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 Timothy</h1>

<div class="sidenote left">1 Timothy 1:1 <br>to 1 Timothy 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Christ Jesus according to the command of God our Savior and of Christ Jesus our hope,
to Timothy, my true child in the faith. Grace, mercy, and peace from God the Father and Christ Jesus our Lord.
</p>

<div class="sidenote left">1 Timothy 1:3 <br>to 1 Timothy 1:11</div>

<h3>Instructions for Timothy in Ephesus</h3>

<p>
Just as I urged you when I traveled to Macedonia, remain in Ephesus, so that you may instruct certain people not to teach other doctrine,
and not to pay attention to myths and endless genealogies, which cause useless speculations rather than God's plan that is by faith.
But the goal of our instruction is love from a pure heart and a good conscience and a faith without hypocrisy,
from which some have deviated, and have turned away into fruitless discussion,
wanting to be teachers of the law, although they do not understand either the things which they are saying or the things concerning which they are speaking confidently.
</p>

<div class="sidenote">1 Timothy 1:8</div>

<p>
But we know that the law is good, if anyone makes use of it lawfully,
knowing this, that the law is not given for a righteous person but for the lawless and rebellious, for the ungodly and sinners, for the unholy and totally worldly, for the one who kills his father and the one who kills his mother, for murderers,
sexually immoral people, homosexuals, kidnappers, liars, perjurers, and whatever else is opposed to sound teaching,
according to the glorious gospel of the blessed God that I was entrusted with.
</p>

<div class="sidenote left">1 Timothy 1:12 <br>to 1 Timothy 1:17</div>

<h3>Paul’s Thankfulness for the Mercy Shown to Him</h3>

<p>
I give thanks to the one who strengthens me, Christ Jesus our Lord, because he considered me faithful, placing me into ministry,
although I was formerly a blasphemer and a persecutor and a violent man, but I was shown mercy because I acted ignorantly in unbelief,
and the grace of our Lord abounded with the faith and love that are in Christ Jesus.
The saying is trustworthy and worthy of all acceptance: Christ Jesus came into the world to save sinners, of whom I am the foremost.
But because of this I was shown mercy, in order that in me foremost, Christ Jesus might demonstrate his total patience, for an example for those who are going to believe in him for eternal life.
Now to the King of the ages, immortal, invisible, to the only God, be honor and glory forever and ever. Amen.
</p>

<div class="sidenote left">1 Timothy 1:18 <br>to 1 Timothy 1:20</div>

<h3>Paul’s Charge to Timothy</h3>

<p>
I am setting before you this instruction, Timothy my child, in accordance with the prophecies spoken long ago about you, in order that by them you may fight the good fight,
having faith and a good conscience, which some, because they have rejected these, have suffered shipwreck concerning their faith,
among whom are Hymenaeus and Alexander, whom I have handed over to Satan, in order that they may be taught not to blaspheme.
</p>

<div class="sidenote left">1 Timothy 2:1 <br>to 1 Timothy 2:8</div>

<h3>Instructions to Pray for All People</h3>

<p>
Therefore, I urge first of all that petitions, prayers, requests, and thanksgiving be made on behalf of all people,
on behalf of kings and all those who are in authority, in order that we may live a tranquil and quiet life in all godliness and dignity.
This is good and acceptable before God our Savior,
who wants all people to be saved and to come to a knowledge of the truth.
For there is one God and one mediator between God and human beings, the man Christ Jesus,
who gave himself a ransom for all, the testimony at the proper time,
for which I was appointed a herald and an apostle I am speaking the truth, I am not lying a teacher of the Gentiles in faith and truth.
Therefore I want the men in every place to pray, lifting up holy hands without anger and dispute.
</p>

<div class="sidenote left">1 Timothy 2:9 <br>to 1 Timothy 2:15</div>

<h3>Instructions for Women</h3>

<p>
Likewise also the women should adorn themselves in appropriate clothing, with modesty and self-control, not with braided hair and gold jewelry or pearls or expensive clothing,
but with good deeds which are fitting for women who profess godliness.
A woman must learn in quietness with all submission.
But I do not permit a woman to teach or to exercise authority over a man, but to remain quiet.
For Adam was formed first, then Eve,
and Adam was not deceived, but the woman, because she was deceived, came into transgression.
But she will be saved through the bearing of children, if she continues in faith and love and holiness with self-control.
</p>

<div class="sidenote left">1 Timothy 3:1 <br>to 1 Timothy 3:7</div>

<h3>Qualifications for Overseers</h3>

<p>
The saying is trustworthy: if anyone aspires to supervision, he desires a good work.
Therefore the overseer must be irreproachable, the husband of one wife, temperate, self-controlled, respectable, hospitable, skillful in teaching,
not addicted to wine, not a violent person, but gentle, peaceable, not loving money,
managing his own household well, having children in submission with all dignity
(but if someone does not know how to manage his own household, how will he take care of the church of God?),
not newly converted, lest he become conceited and fall into the condemnation of the devil.
But he must also have a good testimony from those outside, in order that he may not fall into disgrace and the trap of the devil.
</p>

<div class="sidenote left">1 Timothy 3:8 <br>to 1 Timothy 3:13</div>

<h3>Qualifications for Deacons</h3>

<p>
Deacons likewise must be dignified, not insincere, not devoted to much wine, not fond of dishonest gain,
holding the mystery of the faith with a clear conscience,
and these also must be tested first; then let them serve if they are above reproach.
The wives likewise must be dignified, not slanderous, temperate, faithful in all things.
Deacons must be husbands of one wife, managing their children and their own households well.
For those who have served well acquire a good standing for themselves, and great boldness in the faith that is in Christ Jesus.
</p>

<div class="sidenote left">1 Timothy 3:14 <br>to 1 Timothy 3:16</div>

<h3>The Mystery of Godliness Described</h3>

<p>
I am writing these things to you, hoping to come to you in a short time.
But if I am delayed, I am writing in order that you may know how one must conduct oneself in the household of God, which is the church of the living God, the pillar and mainstay of the truth.
And most certainly, great is the mystery of godliness:
</p>

<div class="sidenote left">1 Timothy 4:1 <br>to 1 Timothy 4:5</div>

<h3>The Coming Apostasy</h3>

<p>
Now the Spirit explicitly says that in the last times some will depart from the faith, paying attention to deceitful spirits and teachings of demons,
by the hypocrisy of liars, who are seared in their own conscience,
who forbid marrying and insist on abstaining from foods that God created for sharing in with thankfulness by those who believe and who know the truth,
because everything created by God is good and nothing is to be rejected if it is received with thankfulness,
for it is made holy by the word of God and prayer.
</p>

<div class="sidenote left">1 Timothy 4:6 <br>to 1 Timothy 4:16</div>

<h3>The Good Servant of Christ</h3>

<p>
By teaching these things to the brothers, you will be a good servant of Christ Jesus, trained in the words of the faith and of the good teaching that you have followed faithfully.
But reject those worthless myths told by elderly women, and train yourself for godliness.
For the training of the body is somewhat profitable, but godliness is profitable for everything, because it holds promise for the present life and for the life to come.
The statement is trustworthy and deserving of complete acceptance.
For to this end we labor and suffer reproach, because we have put our hope in the living God, who is the Savior of all people, especially of believers.
</p>

<div class="sidenote">1 Timothy 4:11</div>

<p>
Command these things and teach them.
Let no one look down on your youth, but be an example for the believers in word, in conduct, in love, in faith, in purity.
Until I come, pay attention to the public reading, to exhortation, to teaching.
Do not neglect the gift that is in you, that was granted to you through prophecy with the laying on of hands by the council of elders.
Practice these things. Be diligent in these things, in order that your progress may be evident to everyone.
Fix your attention on yourself and on your teaching. Continue in them, for by doing this you will save both yourself and those who hear you.
</p>

<div class="sidenote left">1 Timothy 5:1 <br>to 1 Timothy 5:16</div>

<h3>Instructions About Widows</h3>

<p>
Do not rebuke an older man, but appeal to him as a father, younger men as brothers,
older women as mothers, younger women as sisters, with all purity.
Honor widows who are truly widows.
But if any widow has children or grandchildren, they must learn to show profound respect for their own household first, and to pay back recompense to their parents, for this is pleasing in the sight of God.
But the widow who is one truly, and is left alone, has put her hope in God and continues in her petitions and prayers night and day.
But the one who lives for sensual pleasure is dead even though she lives.
And command these things, in order that they may be irreproachable.
But if someone does not provide for his own relatives, and especially the members of his household, he has denied the faith and is worse than an unbeliever.
</p>

<div class="sidenote">1 Timothy 5:9</div>

<p>
Let a widow be put on the list if she is not less than sixty years old, the wife of one husband,
being well-attested by good works, if she has brought up children, if she has shown hospitality, if she has washed the feet of the saints, if she has helped those who are oppressed, if she has devoted herself to every good work.
But refuse younger widows, for whenever their physical desires lead them away from Christ, they want to marry,
thus incurring condemnation because they have broken their former pledge.
And at the same time also, going around from house to house, they learn to be idle, and not only idle, but also gossipy and busybodies, saying the things that are not necessary.
Therefore I want younger widows to marry, to bear children, to manage a household, to give the adversary no opportunity for reproach.
For already some have turned away and followed after Satan.
If any believing woman has widows, she must help them, and the church must not be burdened, in order that it may help those who are truly widows.
</p>

<div class="sidenote left">1 Timothy 5:17 <br>to 1 Timothy 5:25</div>

<h3>Honoring Worthy Elders and Dealing With Sinners</h3>

<p>
The elders who lead well must be considered worthy of double honor, especially those who labor by speaking and teaching.
For the scripture says, 'You must not muzzle an ox while it is threshing,' and 'The worker is worthy of his wages.'
Do not accept an accusation against an elder except on the evidence of two or three witnesses.
Reprove those who sin in the presence of all, in order that the rest also may experience fear.
I testify solemnly before God and Christ Jesus and the elect angels that you observe these things without prejudice, doing nothing according to partiality.
Lay hands on no one hastily, and do not participate in the sins of others. Keep yourself pure.
(No longer drink only water, but use a little wine for your stomach and your frequent illnesses.)
The sins of some people are evident, preceding them to judgment, but for some also they follow after them.
Likewise also good works are evident, and those considered otherwise are not able to be hidden.
</p>

<div class="sidenote left">1 Timothy 6:1 <br>to 1 Timothy 6:2</div>

<h3>Slaves and Masters</h3>

<p>
All those who are under the yoke as slaves must regard their own masters as worthy of all honor, lest the name of God and the teaching be slandered.
And those who have believing masters must not look down on them because they are brothers, but rather they must serve, because those who benefit by their service are believers and dearly loved.
</p>

<div class="sidenote left">1 Timothy 6:3 <br>to 1 Timothy 6:10</div>

<h3>False Teachers and the Love of Money</h3>

<p>
If anyone teaches other doctrine and does not devote himself to the sound words of our Lord Jesus Christ and the teaching that is in accordance with godliness,
he is conceited, understanding nothing, but having a morbid interest concerning controversies and disputes about words, from which come envy, strife, slanders, evil suspicions,
constant wrangling by people of depraved mind and deprived of the truth, who consider godliness to be a means of gain.
But godliness with contentment is a great means of gain.
For we have brought nothing into the world, so that neither can we bring anything out.
But if we have food and clothing, with these things we will be content.
But those who want to be rich fall into temptation and a trap and many foolish and harmful desires, which plunge those people into ruin and destruction.
For the love of money is a root of all evil, by which some, because they desire it, have gone astray from the faith and have pierced themselves with many pains.
</p>

<div class="sidenote left">1 Timothy 6:11 <br>to 1 Timothy 6:16</div>

<h3>Renewed Charge to Timothy</h3>

<p>
But you, O man of God, flee from these things, and pursue righteousness, godliness, faith, love, patient endurance, gentleness.
Fight the good fight of the faith; take hold of the eternal life to which you were called, and confessed the good confession in the presence of many witnesses.
I command you, in the sight of God who gives life to all things and Christ Jesus who testified the good confession before Pontius Pilate,
that you observe the commandment without fault, irreproachable until the appearing of our Lord Jesus Christ,
which he will make known in his own time, the blessed and only Sovereign, the King of those who reign as kings and Lord of those who rule as lords,
the one who alone possesses immortality, who lives in unapproachable light, whom no human being has seen nor is able to see, to whom be honor and eternal power. Amen.
</p>

<div class="sidenote left">1 Timothy 6:17 <br>to 1 Timothy 6:19</div>

<h3>Instructions to the Rich</h3>

<p>
Command those who are rich in this present age not to be proud and not to put their hope in the uncertainty of riches, but in God, who provides us all things richly for enjoyment,
to do good, to be rich in good works, to be generous, sharing freely,
storing up for themselves a good foundation for the future, in order that they may take hold of what is truly life.
</p>

<div class="sidenote left">1 Timothy 6:20 <br>to 1 Timothy 6:21</div>

<h3>Final Charge and Benediction</h3>

<p>
O Timothy, guard what has been entrusted to you. Turn away from pointless empty talk and contradictions of what is falsely called knowledge,
which some, by professing it, have deviated concerning the faith. Grace be with you all.
</p>
