<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 Corinthians</h1>

<div class="sidenote left">2 Corinthians 1:1 <br>to 2 Corinthians 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Christ Jesus through the will of God, and Timothy our brother, to the church of God that is in Corinth, together with all the saints who are in all Achaia.
Grace to you and peace from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">2 Corinthians 1:3 <br>to 2 Corinthians 1:11</div>

<h3>Thanksgiving for God’s Compassion and Comfort</h3>

<p>
Blessed is the God and Father of our Lord Jesus Christ, the Father of mercies and God of all comfort,
who comforts us in all our affliction, so that we may be able to comfort those who are in all affliction with the comfort with which we ourselves are comforted by God.
For just as the sufferings of Christ overflow to us, thus through Christ our comfort overflows also.
But if we are afflicted, it is for your comfort and salvation; if we are comforted, it is for your comfort that is at work in the patient endurance of the same sufferings that we also suffer.
And our hope for you is firm, because we know that as you are sharers in the sufferings, so also you will be sharers in the comfort.
</p>

<div class="sidenote">2 Corinthians 1:8</div>

<p>
For we do not want you to be ignorant, brothers, concerning our affliction that happened in the province of Asia, that we were burdened to an extraordinary degree, beyond our strength, so that we were in despair even of living.
But we ourselves had the sentence of death in ourselves, so that we would not be putting confidence in ourselves, but in God who raises the dead,
who delivered us from so great a risk of death, and will deliver us, in whom we have put our hope that he will also deliver us again,
while you also join in helping on our behalf by prayer, so that thanks may be given on our behalf by many persons for this gracious gift given to us through the help of many.
</p>

<div class="sidenote left">2 Corinthians 1:12 <br>to 2 Corinthians 1:14</div>

<h3>Paul’s Clear Conscience</h3>

<p>
For our reason for boasting is this: the testimony of our conscience that we conducted ourselves in the world, and especially toward you, in holiness and purity of motive from God, not in merely human wisdom, but by the grace of God.
For we are not writing anything else to you except what you can read or also understand. But I hope that you will understand completely,
just as you have also understood us in part, that we are your reason for boasting, just as you are also ours in the day of our Lord Jesus.
</p>

<div class="sidenote left">2 Corinthians 1:15 <br>to 2 Corinthians 2:4</div>

<h3>Paul Delays His Visit to Corinth</h3>

<p>
And with this confidence, I was wanting to come to you previously, in order that you may have a second proof of my goodwill,
and through you to go to Macedonia, and to come to you again from Macedonia, and to be sent on my way by you to Judea.
Therefore, when I was wanting to do this, perhaps then was I making use of vacillation? Or was I deciding what I was deciding according to the flesh, in order that with me my 'yes' may be 'yes' and my 'no' may be 'no' at the same time?
But God is faithful, so that our word to you is not 'yes' and 'no.'
For the Son of God, Jesus Christ, the one who was proclaimed among you by us, by me and Silvanus and Timothy, did not become 'yes' and 'no,' but has become 'yes' in him.
For as many as are the promises of God, in him they are 'yes'; therefore also through him is the 'amen' to the glory of God through us.
Now the one who establishes us together with you in Christ and who anoints us is God,
who also sealed us and gave the down payment of the Spirit in our hearts.
</p>

<div class="sidenote">2 Corinthians 1:23</div>

<p>
But I call upon God as witness against my life, that in order to spare you, I did not come again to Corinth.
Not that we lord it over your faith, but we are fellow workers for your joy, because by faith you stand firm.
</p>

<p>
For I have decided this for myself, not to come to you again in sorrow.
For if I cause you sorrow, then who will make me glad except the one who is caused to be sad by me?
And I wrote this very thing in order that when I came, I would not experience sorrow from those who ought to have made me glad, because I have confidence about you all, that my joy belongs to all of you.
For out of great distress and anguish of heart I wrote to you through many tears, not so that you may be caused to be sad, but so that you may know the love that I have especially for you.
</p>

<div class="sidenote left">2 Corinthians 2:5 <br>to 2 Corinthians 2:11</div>

<h3>Forgive and Comfort the Offender</h3>

<p>
But if anyone has caused sorrow, he has not caused me sorrow, but to some degree in order not to say too much to all of you.
This punishment by the majority is sufficient for such a person.
So then, you should rather forgive and comfort him, lest somehow this person should be overwhelmed by excessive sorrow.
Therefore I urge you to confirm your love for him.
Because for this reason also I wrote, in order that I could know your proven character, whether you are obedient in everything.
Now to whomever you forgive anything, I also do; for indeed, whatever I have forgiven, if I have forgiven anything, it is for your sake in the presence of Christ,
in order that we may not be exploited by Satan (for we are not ignorant of his schemes).
</p>

<div class="sidenote left">2 Corinthians 2:12 <br>to 2 Corinthians 2:17</div>

<h3>Triumphant Ministry in Christ</h3>

<p>
Now when I arrived in Troas for the gospel of Christ and a door was opened for me by the Lord,
I did not experience rest in my spirit, because I did not find Titus my brother, but saying farewell to them, I departed for Macedonia.
But thanks be to God, who always leads us in triumphal procession in Christ, and who reveals the fragrance of the knowledge of him through us in every place.
For we are the aroma of Christ to God among those who are being saved and among those who are perishing,
to those on the one hand an odor from death to death, and to those on the other hand a fragrance from life to life. And who is qualified for these things?
For we are not like the majority who peddle the word of God, but as from pure motives but as from God we speak before God in Christ.
</p>

<div class="sidenote left">2 Corinthians 3:1 <br>to 2 Corinthians 3:18</div>

<h3>New Covenant Ministry</h3>

<p>
Are we beginning to commend ourselves again? Or do we, like some, need letters of recommendation to you or from you?
You are our letter, inscribed on our hearts, known and read by all people,
revealing that you are a letter of Christ, delivered by us, inscribed not with ink but with the Spirit of the living God, not on stone tablets but on tablets of human hearts.
</p>

<div class="sidenote">2 Corinthians 3:4</div>

<p>
Now we possess such confidence through Christ toward God.
Not that we are adequate in ourselves to consider anything as from ourselves, but our adequacy is from God,
who also makes us adequate as servants of a new covenant, not of the letter, but of the Spirit, for the letter kills, but the Spirit gives life.
</p>

<div class="sidenote">2 Corinthians 3:7</div>

<p>
But if the ministry of death in letters carved on stone came with glory, so that the sons of Israel were not able to look intently into the face of Moses because of the glory of his face, which was transitory,
how will the ministry of the Spirit not be even more with glory?
For if there was glory in the ministry of condemnation, by much more will the ministry of righteousness overflow with glory.
For indeed what had been glorified has not been glorified in this case, on account of the glory that surpasses it.
For if what was transitory came with glory, by much more what remains is with glory.
</p>

<div class="sidenote">2 Corinthians 3:12</div>

<p>
Therefore, because we have such a hope, we use much boldness,
and not as Moses used to place a veil over his face, in order that the sons of Israel would not stare at the end of what was transitory.
But their minds were hardened. For until this very day, the same veil remains upon the reading of the old covenant, not being uncovered, because it is done away with in Christ.
But until today, whenever Moses is read aloud, a veil lies upon their heart,
but whenever one turns to the Lord, the veil is removed.
Now the Lord is the Spirit, and where the Spirit of the Lord is, there is freedom.
And we all, with unveiled face, reflecting the glory of the Lord, are being transformed into the same image from glory into glory, just as from the Lord, the Spirit.
</p>

<div class="sidenote left">2 Corinthians 4:1 <br>to 2 Corinthians 4:6</div>

<h3>Proclaiming Jesus Christ as Lord</h3>

<p>
Because of this, since we have this ministry, just as we have been shown mercy, we do not lose heart,
but we have renounced shameful hidden things, not behaving with craftiness or adulterating the word of God, but with the open proclamation of the truth commending ourselves to every person's conscience before God.
But if indeed our gospel is veiled, it is veiled among those who are perishing,
among whom the god of this age has blinded the minds of the unbelievers, so that they would not see the light of the gospel of the glory of Christ, who is the image of God.
For we do not proclaim ourselves, but Christ Jesus as Lord, and ourselves as your slaves for the sake of Jesus.
For God who said, 'Light will shine out of darkness,' is the one who has shined in our hearts for the enlightenment of the knowledge of the glory of God in the face of Christ.
</p>

<div class="sidenote left">2 Corinthians 4:7 <br>to 2 Corinthians 4:18</div>

<h3>Treasure in Earthenware Jars</h3>

<p>
But we have this treasure in earthenware jars, in order that the extraordinary degree of the power may be from God and not from us.
We are afflicted in every way, but not crushed; perplexed, but not despairing;
persecuted, but not abandoned; struck down, but not destroyed;
always carrying around the death of Jesus in our body, in order that the life of Jesus may also be revealed in our body.
For we who are alive are continually being handed over to death because of Jesus, in order that the life of Jesus may also be revealed in our mortal flesh.
So then, death is at work in us, but life in you.
But because we have the same spirit of faith in accordance with what is written, 'I believed, therefore I spoke,' we also believe, therefore we also speak,
because we know that the one who raised Jesus will also raise us together with Jesus and present us together with you.
For all these things are for your sake, in order that the grace that is increasing through the many may cause thanksgiving to abound to the glory of God.
</p>

<div class="sidenote">2 Corinthians 4:16</div>

<p>
Therefore we do not lose heart, but even if our outer person is being destroyed, yet our inner person is being renewed day after day.
For our momentary light affliction is producing in us an eternal weight of glory beyond all measure and proportion,
because we are not looking at what is seen, but what is not seen. For what is seen is temporary, but what is not seen is eternal.
</p>

<div class="sidenote left">2 Corinthians 5:1 <br>to 2 Corinthians 5:10</div>

<h3>Absent from the Body and at Home with the Lord</h3>

<p>
For we know that if our earthly house, the tent, is destroyed, we have a building from God, a house not made by hands, eternal in the heavens.
For indeed, in this house we groan, because we desire to put on our dwelling from heaven,
if indeed, even after we have taken it off, we will not be found naked.
For indeed we who are in this tent groan, being burdened for this reason, that we do not want to be unclothed, but to be clothed, in order that what is mortal may be swallowed up by life.
Now the one who has prepared us for this very thing is God, who has given us the down payment, the Spirit.
</p>

<div class="sidenote">2 Corinthians 5:6</div>

<p>
Therefore, although we are always confident and know that while we are at home in the body we are absent from the Lord
for we live by faith, not by sight
so we are confident and prefer rather to be absent from the body and to be at home with the Lord.
Therefore indeed we have as our ambition, whether at home in the body or absent from the body, to be acceptable to him.
For we must all appear before the judgment seat of Christ, in order that each one may receive back the things through the body according to what he has done, whether good or bad.
</p>

<div class="sidenote left">2 Corinthians 5:11 <br>to 2 Corinthians 5:21</div>

<h3>Controlled by the Love of Christ</h3>

<p>
Therefore, because we know the fear of the Lord, we are attempting to persuade people, but we are revealed to God, and I hope to be revealed in your consciences.
We are not commending ourselves to you again, but are giving you an opportunity to boast about us, in order that you may have an answer for those who boast in appearance and not in heart.
For if we are out of our senses, it is for God; if we are of sound mind, it is for you.
For the love of Christ controls us, because we have concluded this: that one died for all; as a result all died.
And he died for all, in order that those who live should no longer live for themselves, but for the one who died for them and was raised.
</p>

<div class="sidenote">2 Corinthians 5:16</div>

<p>
So then, from now on we know no one from a human point of view, if indeed we have known Christ from a human point of view, but now we know him this way no longer.
Therefore if anyone is in Christ, he is a new creation; the old things have passed away; behold, new things have come.
And all these things are from God, who has reconciled us to himself through Christ, and who has given us the ministry of reconciliation,
namely, that God was in Christ reconciling the world to himself, not counting their trespasses against them, and entrusting to us the message of reconciliation.
Therefore we are ambassadors on behalf of Christ, as if God were imploring you through us. We beg you on behalf of Christ, be reconciled to God.
He made the one who did not know sin to be sin on our behalf, in order that we could become the righteousness of God in him.
</p>

<div class="sidenote left">2 Corinthians 6:1 <br>to 2 Corinthians 6:13</div>

<h3>Afflictions of God’s Servants</h3>

<p>
Now because we are fellow workers, we also urge you not to receive the grace of God in vain.
For he says,
</p>

<div class="sidenote">2 Corinthians 6:3</div>

<p>
We are giving no one an occasion for taking offense in anything, in order that our ministry will not have fault found with it,
but commending ourselves as servants of God in every way, in much endurance, in afflictions, in distresses, in difficulties,
in beatings, in prisons, in disturbances, in troubles, in sleepless nights, in going hungry,
in purity, in knowledge, in patience, in kindness, in the Holy Spirit, in love without hypocrisy,
in the word of truth, in the power of God, with the weapons of righteousness for the right hand and left hand,
through glory and dishonor, through slander and good repute, regarded as deceivers and yet truthful,
as unknown and yet known completely, as dying, and behold, we go on living, as disciplined, and yet not put to death,
as grieving, but always rejoicing, as poor, but making many rich, as having nothing, and possessing everything.
</p>

<div class="sidenote">2 Corinthians 6:11</div>

<p>
We have spoken freely and openly to you, Corinthians; our heart is open wide.
You are not restricted by us, but you are restricted in your affections.
Now the same way in exchange (I am speaking as to children), you open wide your hearts also.
</p>

<div class="sidenote left">2 Corinthians 6:14 <br>to 2 Corinthians 6:18</div>

<h3>Do Not Become Unevenly Yoked with Unbelievers</h3>

<p>
Do not become unevenly yoked with unbelievers, for what participation is there between righteousness and lawlessness? Or what fellowship does light have with darkness?
And what agreement does Christ have with Beliar? Or what share does a believer have with an unbeliever?
And what agreement does the temple of God have with idols? For we are the temple of the living God, just as God said,
</p>

<div class="sidenote">2 Corinthians 6:17</div>

<p>
Therefore 'come out from their midst and be separate,' says the Lord, 'and do not touch what is unclean, and I will welcome you,
</p>

<div class="sidenote">2 Corinthians 6:18</div>

<p>
and I will be a father to you, and you will be sons and daughters to me,' says the all-powerful Lord.
</p>

<div class="sidenote left">2 Corinthians 7:1 <br>to 2 Corinthians 7:16</div>

<h3>Paul’s Joy at the Corinthians’ Repentance</h3>

<p>
Therefore since we have these promises, dear friends, let us cleanse ourselves from all defilement of body and spirit, accomplishing holiness in the fear of God.
Make room for us in your hearts. We have wronged no one, we have ruined no one, we have defrauded no one.
I do not say this to condemn you, because I have already said that you are in our hearts, so that we die together and we live together.
Great is my confidence toward you; great is my boasting on your behalf; I am filled with encouragement; I am overflowing with joy in all our affliction.
</p>

<div class="sidenote">2 Corinthians 7:5</div>

<p>
For even when we arrived in Macedonia, our body had no rest, but we were afflicted in every way quarrels outside, fears within.
But God, who comforts the humble, comforted us by the coming of Titus,
and not only by his coming, but also by the comfort with which he was comforted among you, because he reported to us your longing, your mourning, your zeal for me, so that I rejoiced even more.
For if indeed I grieved you by my letter, I do not regret it. Even if I did regret it (I see that that letter grieved you, even though for a short time),
now I rejoice, not that you were grieved, but that you were grieved to repentance. For you were grieved according to the will of God, so that you suffered loss in no way through us.
For grief according to the will of God brings about a repentance leading to salvation, not to be regretted, but worldly grief brings about death.
For behold how much diligence this very thing, being grieved according to the will of God, has brought about in you: what defense of yourselves, what indignation, what fear, what longing, what zeal, what punishment! In everything you have demonstrated yourselves to be innocent in this matter.
Consequently, even if I wrote to you, it was not because of the one who did wrong or because of the one who had been wronged, but in order that your diligence on our behalf might be revealed to you before God.
Because of this we have been encouraged, and in addition to our encouragement, we rejoiced much more over the joy of Titus, because his spirit had been refreshed by all of you.
For if I have boasted anything to him about you, I have not been put to shame, but as I have spoken everything to you in truth, thus also our boasting to Titus has proven to be true.
And his affection for you is all the more when he remembers the obedience of all of you as you welcomed him with fear and trembling.
I rejoice, because in everything I am completely confident in you.
</p>

<div class="sidenote left">2 Corinthians 8:1 <br>to 2 Corinthians 8:15</div>

<h3>Generosity in Giving</h3>

<p>
Now we make known to you, brothers, the grace of God that has been given among the churches of Macedonia,
that with a great ordeal of affliction, the abundance of their joy and the extreme depth of their poverty have overflowed to the wealth of their generosity.
I testify that they gave according to their ability, and beyond their ability, by their own choice,
requesting of us with much exhortation the favor and the fellowship of the ministry to the saints,
and not just as we had hoped, but they gave themselves first to the Lord and then to us, by the will of God.
So we urged Titus that, just as he had previously begun it, thus he would also complete for you this act of grace.
But just as you excel in everything in faith and in speaking and in knowledge and with all diligence and in the love from us that is in you so may you excel in this grace also.
I am not saying this as a command, but proving the genuineness of your love by means of the diligence of others.
For you know the grace of our Lord Jesus Christ, that although he was rich, for your sake he became poor, in order that you, by his poverty, may become rich.
And I am giving an opinion in this matter, because this is profitable for you who not only began previously, a year ago, to do something, but also to want to do it.
So now also complete the doing of it, in order that just as you have the eagerness to want to do it, thus also you may complete it from what you have.
For if the eagerness is present according to what one has, it is acceptable not according to what one does not have.
For this is not that for others there may be relief, and for you difficult circumstances, but as a matter of equality.
At the present time your abundance will be for their need, in order that their abundance may also be for your need, so that there may be equality,
just as it is written, 'The one who gathered much did not have too much, and the one who gathered little did not have too little.'
</p>

<div class="sidenote left">2 Corinthians 8:16 <br>to 2 Corinthians 8:24</div>

<h3>Arrangements for Administering the Corinthians’ Gift</h3>

<p>
But thanks be to God, who has put in the heart of Titus the same devotion on your behalf,
because he not only welcomed our request, but being very earnest, by his own choice he went out to you.
And we have sent at the same time with him the brother whose praise in the gospel has become known throughout all the churches.
And not only this, but he was also chosen by the churches as our traveling companion together with this gift that is being administered by us to the glory of the Lord himself and to show our readiness to help.
We are trying to avoid this, lest anyone should find fault with us in this abundant gift that is being administered by us.
For we are taking into consideration what is honorable not only before the Lord, but also before people.
And we are sending with them our brother whom we have tested many times in many things that he is diligent, but now much more diligent because of his great confidence in you.
If there is a question concerning Titus, he is my partner and fellow worker for you. If there is a question concerning our brothers, they are messengers of the churches, the glory of Christ.
Therefore show to them the proof of your love and our boasting about you openly before the churches.
</p>

<div class="sidenote left">2 Corinthians 9:1 <br>to 2 Corinthians 9:15</div>

<h3>God Loves a Cheerful Giver</h3>

<p>
For it is unnecessary for me to write to you concerning the ministry to the saints,
because I know your readiness to help, concerning which I keep on boasting to the Macedonians about you, that Achaia has been ready to help since last year, and your zeal has stirred up the majority of them.
But I am sending the brothers in order that our boasting about you would not prove to be empty in this case, so that you may be prepared just as I was saying,
lest somehow if Macedonians should come with me and find you unprepared, we not to speak of you would be humiliated in connection with this project.
Therefore I considered it necessary to urge the brothers that they should go on ahead to you and make arrangements in advance for your generous gift that was promised previously, so this would be prepared as a generous gift and not as grudgingly granted.
</p>

<div class="sidenote">2 Corinthians 9:6</div>

<p>
Now the point is this: the one who sows sparingly will also reap sparingly, and the one who sows bountifully will also reap bountifully.
Each one should give as he has decided in his heart, not reluctantly or from compulsion, for God loves a cheerful giver.
And God is able to cause all grace to abound to you, so that in everything at all times, because you have enough of everything, you may overflow in every good work.
Just as it is written,
</p>

<div class="sidenote">2 Corinthians 9:10</div>

<p>
Now the one who supplies seed to the sower and bread for food will provide and multiply your seed, and will cause the harvest of your righteousness to grow,
being made rich in every way for all generosity, which is producing through us thanksgiving to God,
because the service of this ministry is not only supplying the needs of the saints, but also is overflowing through many expressions of thanksgiving to God.
Through the proven character of this service they will glorify God because of the submission of your confession to the gospel of Christ and the generosity of your participation toward them and toward everyone,
and they are longing for you in their prayers for you, because of the surpassing grace of God to you.
Thanks be to God for his indescribable gift!
</p>

<div class="sidenote left">2 Corinthians 10:1 <br>to 2 Corinthians 10:18</div>

<h3>Paul’s Ministry Defended</h3>

<p>
Now I, Paul, appeal to you myself by the humility and gentleness of Christ, who when I am present in person am humble among you, but when I am absent am bold toward you
now I ask when I am present that I will not need to be bold with the confidence with which I propose to show boldness toward some who consider us as behaving according to the flesh.
For although we are living in the flesh, we do not wage war according to the flesh,
for the weapons of our warfare are not merely human, but powerful to God for the tearing down of fortresses, tearing down arguments
and all pride that is raised up against the knowledge of God, and taking every thought captive to the obedience of Christ.
And we are ready to punish all disobedience, whenever your obedience is completed.
</p>

<div class="sidenote">2 Corinthians 10:7</div>

<p>
You are looking at things according to appearance. If anyone is convinced he himself is Christ's, he should consider this concerning himself again: that just as Christ himself is, so also are we.
For even if I boast somewhat more about our authority that the Lord gave us for building you up and not for tearing you down, I will not be put to shame,
so that I do not want to appear as if I were terrifying you by my letters,
because it is said, 'His letters are severe and powerful, but his bodily presence is weak and his speech is of no account.'
Let such a person consider this: that what we are in word by letters when we are absent, we will also be in actions when we are present.
</p>

<div class="sidenote">2 Corinthians 10:12</div>

<p>
For we do not dare to classify or to compare ourselves with some who commend themselves, but they themselves, when they measure themselves by themselves and compare themselves with themselves, do not understand.
But we will not boast beyond limits, but according to the measure of the assignment that God has assigned to us as a measure to reach even as far as you.
For we are not overextending ourselves, as if we had not reached you, because we have reached even as far as you with the gospel of Christ,
not boasting beyond limits in the labors of others, but having hope that as your faith is growing to be enlarged greatly by you according to our assignment,
so that we may proclaim the gospel in the regions that lie beyond you, and not boast in the things accomplished in the area assigned to someone else.
But 'the one who boasts, let him boast in the Lord.'
For it is not the one commending himself who is approved, but the one whom the Lord commends.
</p>

<div class="sidenote left">2 Corinthians 11:1 <br>to 2 Corinthians 11:15</div>

<h3>Paul Defends His Apostleship</h3>

<p>
I wish that you would put up with me in something a little foolish but indeed you are putting up with me.
For I am jealous for you with a godly jealousy, because I promised you in marriage to one husband, to present you as a pure virgin to Christ.
But I am afraid lest somehow, as the serpent deceived Eve by his craftiness, your minds may be led astray from the sincerity and the purity of devotion to Christ.
For if the one who comes proclaims another Jesus whom we have not proclaimed, or you receive a different spirit which you did not receive, or a different gospel which you did not accept, you put up with it well enough!
For I consider myself in no way to be inferior to the preeminent apostles.
But even if I am unskilled in speech, yet I am not in knowledge; certainly in everything we have made this clear to you in every way.
Or did I commit a sin by humbling myself in order that you may be exalted, because I proclaimed the gospel of God to you without payment?
I robbed other churches by accepting support from them for the ministry to you.
And when I was present with you and was in need, I did not burden anyone, for the brothers who came from Macedonia supplied my need, and in everything I kept myself from being a burden to you, and will keep myself from being a burden.
As the truth of Christ is in me, this boasting of mine will not be stopped in the regions of Achaia.
Why? Because I do not love you? God knows I do!
But what I am doing, I will also do, in order that I may remove the opportunity of those who want an opportunity, that they may be found just as also we are in what they are boasting about.
For such people are false apostles, deceitful workers, disguising themselves as apostles of Christ.
And no wonder, for Satan himself disguises himself as an angel of light.
Therefore it is not a great thing if his servants also disguise themselves as servants of righteousness, whose end will be according to their deeds.
</p>

<div class="sidenote left">2 Corinthians 11:16 <br>to 2 Corinthians 11:33</div>

<h3>Paul Boasts in His Sufferings</h3>

<p>
Again I say, do not let anyone think I am foolish. But indeed, if you do, accept me even as foolish, in order that I also may boast a little.
What I am saying in this project of boasting, I am not saying as the Lord would say, but as in foolishness.
Since many are boasting according to human standards, I also will boast.
For because you are wise, you put up with foolish people gladly!
For you put up with it if someone enslaves you, if someone devours you, if someone takes advantage of you, if someone is presumptious toward you, if someone strikes you in the face.
I say this to my shame, namely, that we have been weak.
</p>

<div class="sidenote">2 Corinthians 11:22</div>

<p>
Are they Hebrews? I am also! Are they Israelites? I am also! Are they descendants of Abraham? I am also!
Are they servants of Christ? I am speaking as though I were beside myself I am more so, with far greater labors, with far more imprisonments, with beatings to a much greater degree, in danger of death many times.
Five times I received at the hands of the Jews forty lashes less one.
Three times I was beaten with rods. Once I received a stoning. Three times I was shipwrecked. A day and a night I have spent in the deep water.
I have been on journeys many times, in dangers from rivers, in dangers from robbers, in dangers from my own people, in dangers from the Gentiles, in dangers in the city, in dangers in the wilderness, in dangers at sea, in dangers because of false brothers,
with toil and hardship, often in sleepless nights, with hunger and thirst, often going hungry, in cold and poorly clothed.
Apart from these external things, there is the pressure on me every day of the anxiety about all the churches.
Who is weak, and I am not weak? Who is caused to sin, and I do not burn with indignation?
If it is necessary to boast, I will boast about the things related to my weakness.
The God and Father of the Lord Jesus, who is blessed forever, knows that I am not lying.
In Damascus, the governor under King Aretas was guarding the city of the Damascenes in order to take me into custody,
and I was lowered through a window through the wall in a rope-basket, and I escaped his hands.
</p>

<div class="sidenote left">2 Corinthians 12:1 <br>to 2 Corinthians 12:10</div>

<h3>A Vision of Paradise</h3>

<p>
It is necessary to boast; it is not profitable, but I will proceed to visions and revelations of the Lord.
I know a man in Christ fourteen years ago whether in the body I do not know, or outside the body I do not know, God knows such a man was caught up to the third heaven,
and I know this man whether in the body or apart from the body I do not know, God knows
that he was caught up to paradise and heard words not to be spoken, which it is not permitted for a person to speak.
On behalf of such a person I will boast, but on behalf of myself I will not boast, except in my weaknesses.
For if I want to boast, I will not be foolish, because I will be telling the truth, but I am refraining, so that no one can credit to me more than what he sees in me or hears anything from me,
even because of the extraordinary degree of the revelations. Therefore, so that I would not exalt myself, a thorn in the flesh was given to me, a messenger of Satan, in order that it would torment me so that I would not exalt myself.
Three times I appealed to the Lord about this, that it would depart from me.
And he said to me, 'My grace is sufficient for you, because the power is perfected in weakness.' Therefore rather I will boast most gladly in my weaknesses, in order that the power of Christ may reside in me.
Therefore I delight in weaknesses, in insults, in calamities, in persecutions and difficulties for the sake of Christ, for whenever I am weak, then I am strong.
</p>

<div class="sidenote left">2 Corinthians 12:11 <br>to 2 Corinthians 12:21</div>

<h3>Paul’s Concern for the Christians at Corinth</h3>

<p>
I have become a fool! You compelled me, for I ought to have been commended by you, for I am in no way inferior to the preeminent apostles, even if I am nothing.
Indeed, the signs of an apostle have been done among you with all patient endurance, both signs and wonders and deeds of power.
For in what respect are you made worse off more than the rest of the churches, except that I myself was not a burden to you? Forgive me this wrong!
Behold, this third time I am ready to come to you, and I will not be a burden to you. For I am not seeking your possessions, but you. For children are not obligated to save up for their parents, but parents for their children.
But I will spend and be expended most gladly for your lives. If I love you much more, am I to be loved less?
But let it be. I have not been a burden to you, but because I was crafty, I took you by cunning.
I have not taken advantage of you through anyone whom I sent to you, have I?
I urged Titus to go, and I sent the brother with him. Titus did not take advantage of you, did he? Did we not conduct ourselves in the same spirit? Did we not walk in the same footsteps?
Have you been thinking all this time that we are defending ourselves to you? We are speaking in Christ before God, and all these things, dear friends, are for your edification.
For I am afraid lest somehow when I arrive, I will not find you as I want, and I may be found by you as you do not want. I am afraid lest somehow there will be strife, jealousy, outbursts of anger, selfish ambition, slander, gossip, pride, disorder.
I am afraid lest when I come again my God will humiliate me in your presence, and I will grieve over many of those who sinned previously and have not repented because of their impurity and sexual immorality and licentiousness that they have practiced.
</p>

<div class="sidenote left">2 Corinthians 13:1 <br>to 2 Corinthians 13:10</div>

<h3>Final Warnings to the Church at Corinth</h3>

<p>
This is the third time I am coming to you. By the testimony of two or three witnesses every word will be established.
I have already said when I was present the second time, and although I am absent now I also say in advance to those who sinned previously and to all the rest, that if I come again I will not spare anyone,
since you are demanding proof that Christ, who is not weak toward you, but is powerful among you, is speaking in me.
For indeed, he was crucified because of weakness, but he lives because of the power of God. For we also are weak in him, but we will live together with him because of the power of God toward you.
</p>

<div class="sidenote">2 Corinthians 13:5</div>

<p>
Test yourselves to see if you are in the faith. Examine yourselves! Or do you not recognize regarding yourselves that Jesus Christ is in you, unless you are unqualified?
And I hope that you will recognize that we are not unqualified!
Now we pray to God that you not do wrong in any way, not that we are seen as approved, but that you do what is good, even though we are seen as though unqualified.
For we are not able to do anything against the truth, but rather only for the truth.
For we rejoice whenever we are weak, but you are strong, and we pray for this: your maturity.
Because of this, I am writing these things although I am absent, in order that when I am present I may not have to act severely according to the authority that the Lord has given me for building up and not for tearing down.
</p>

<div class="sidenote left">2 Corinthians 13:11 <br>to 2 Corinthians 13:13</div>

<h3>Final Greetings and Benediction</h3>

<p>
Finally, brothers, rejoice, be restored, be encouraged, be in agreement, be at peace, and the God of love and peace will be with you.
Greet one another with a holy kiss. All the saints greet you.
The grace of the Lord Jesus Christ and the love of God and the fellowship of the Holy Spirit be with all of you.
</p>
