<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 John</h1>

<p>
The elder, to the elect lady and her children, whom I love in truth and not I alone, but also all those who know the truth
because of the truth that resides in us and will be with us forever.
Grace, mercy, peace will be with us from God the Father and from Jesus Christ the Son of the Father in truth and love.
I was very glad because I found some of your children walking in the truth, just as the Father commanded us.
And now I ask you, lady (not as if I were writing a new commandment to you, but one that we have had from the beginning), that we should love one another.
And this is love: that we walk according to his commandments. This is the commandment, just as you have heard from the beginning, so that you should walk in it.
For many deceivers have gone out into the world, those who do not confess Jesus Christ coming in the flesh. This person is the deceiver and the antichrist!
Watch yourselves that you do not lose what we have worked for, but receive a full reward.
Everyone who goes too far and does not remain in the teaching of Christ does not have God. The one who remains in the teaching this person has both the Father and the Son.
If anyone comes to you and does not bring this teaching, do not receive him into your house and do not speak a greeting to him,
because the one who speaks a greeting to him shares in his evil deeds.
Although I have many things to write to you, I do not want to do so by means of paper and ink, but I hope to be with you and to speak face to face, so that your joy may be complete.
The children of your elect sister greet you.
</p>
