<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 Peter</h1>

<div class="sidenote left">2 Peter 1:1 <br>to 2 Peter 1:7</div>

<h3>Greeting</h3>

<p>
Simeon Peter, a slave and apostle of Jesus Christ, to those who have obtained a faith equal in value to ours by the righteousness of our God and Savior Jesus Christ.
May grace and peace be multiplied to you in the knowledge of God and of Jesus our Lord,
because his divine power has bestowed on us all things that are necessary for life and godliness, through the knowledge of the one who called us by his own glory and excellence of character,
through which things he has bestowed on us his precious and very great promises, so that through these you may become sharers of the divine nature after escaping from the corruption that is in the world because of evil desire,
and for this same reason, and by applying all diligence, supply with your faith excellence of character, and with excellence of character, knowledge,
and with knowledge, self-control, and with self-control, patient endurance, and with patient endurance, godliness,
and with godliness, brotherly love, and with brotherly love, love.
</p>

<div class="sidenote left">2 Peter 1:8 <br>to 2 Peter 1:15</div>

<h3>Make Your Calling and Election Secure</h3>

<p>
For if these things are yours and are increasing, this does not make you useless or unproductive in the knowledge of our Lord Jesus Christ.
For the one for whom these things are not present is blind, being nearsighted, having forgotten the cleansing of his former sins.
Therefore, brothers, be zealous even more to make your calling and election secure, because if you do these things, you will never ever stumble.
For in this way entrance into the eternal kingdom of our Lord and Savior Jesus Christ will be richly supplied for you.
</p>

<div class="sidenote">2 Peter 1:12</div>

<p>
Therefore I intend to remind you continually concerning these things, although you know them and are established in the truth that you have.
But I consider it right, for as long as I am in this habitation, to stir you up by a reminder,
because I know that the removal of my habitation is imminent, as indeed our Lord Jesus Christ made clear to me.
And I will also make every effort that you are able at any time, after my departure, to recall these things to mind.
</p>

<div class="sidenote left">2 Peter 1:16 <br>to 2 Peter 1:21</div>

<h3>The Reliable Prophetic Word of Testimony</h3>

<p>
For we did not make known to you the power and coming of our Lord Jesus Christ by following ingeniously concocted myths, but by being eyewitnesses of that one's majesty.
For he received honor and glory from God the Father when a voice such as this was brought to him by the Majestic Glory, 'This is my beloved Son, in whom I am well pleased.'
And we ourselves heard this voice brought from heaven when we were with him on the holy mountain,
and we possess as more reliable the prophetic word, to which you do well if you pay attention to it as to a lamp shining in a dark place, until the day dawns and the morning star rises in your hearts,
recognizing this above all, that every prophecy of scripture does not come about from one's own interpretation,
for no prophecy was ever produced by the will of man, but men carried along by the Holy Spirit spoke from God.
</p>

<div class="sidenote left">2 Peter 2:1 <br>to 2 Peter 2:22</div>

<h3>The Rise and Fall of the False Teachers</h3>

<p>
But there were also false prophets among the people, as there will be false teachers among you also, who will bring in destructive heresies, even denying the Master who bought them, thus bringing on themselves swift destruction.
And many will follow their licentious ways, because of whom the way of truth will be reviled.
And in greediness they will exploit you with false words, whose condemnation from long ago is not idle, and their destruction is not asleep.
</p>

<div class="sidenote">2 Peter 2:4</div>

<p>
For if God did not spare the angels who sinned, but held them captive in Tartarus with chains of darkness and handed them over to be kept for judgment,
and did not spare the ancient world, but preserved Noah, a proclaimer of righteousness, and seven others when he brought a flood on the world of the ungodly,
and condemned the cities of Sodom and Gomorrah to destruction, reducing them to ashes, having appointed them as an example for those who are going to be ungodly,
and rescued righteous Lot, worn down by the way of life of lawless persons in licentiousness
(for that righteous man, as he lived among them day after day, was tormenting his righteous soul by the lawless deeds he was seeing and hearing),
then the Lord knows how to rescue the godly from trials and to reserve the unrighteous to be punished at the day of judgment,
and especially those who go after the flesh in defiling lust and who despise authority.
whereas angels, who are greater in strength and power, do not bring against them a demeaning judgment.
But these persons, like irrational animals born only with natural instincts for capture and killing, blaspheming about things they do not understand, in their destruction will also be destroyed,
being harmed as the wages of unrighteousness. Considering reveling in the daytime a pleasure, they are stains and blemishes, carousing in their deceitful pleasures when they feast together with you,
having eyes full of desire for an adulteress and unceasing from sin, enticing unstable persons, and having hearts trained for greediness. Accursed children!
By leaving the straight path, they have gone astray, because they followed the way of Balaam the son of Bosor, who loved the wages of unrighteousness,
but received a rebuke for his own lawlessness: a speechless donkey, speaking with a human voice, restrained the prophet's madness.
</p>

<div class="sidenote">2 Peter 2:17</div>

<p>
These people are waterless springs and mists driven by a hurricane, for whom the gloom of darkness has been reserved.
For by speaking high-sounding but empty words, they entice with desires of the flesh and with licentiousness those who are scarcely escaping from those who live in error,
promising them freedom although they themselves are slaves of depravity. For to whatever someone succumbs, by this he is also enslaved.
For if, after they have escaped from the defilements of the world through the knowledge of the Lord and Savior Jesus Christ, and they are again entangled in these things and succumb to them, the last state has become worse for them than the first.
For it would have been better for them not to have known the way of righteousness than having known it, to turn back from the holy commandment that had been delivered to them.
The statement of the true proverb has happened to them, 'A dog returns to its own vomit,' and 'A sow, after washing herself, returns to wallowing in the mud.'
</p>

<div class="sidenote left">2 Peter 3:1 <br>to 2 Peter 3:13</div>

<h3>The Coming Day of the Lord</h3>

<p>
Dear friends, this is already the second letter I am writing to you, in both of which I am attempting to stir up your sincere mind by a reminder,
to remember the words proclaimed beforehand by the holy prophets and the commandment of the Lord and Savior through your apostles,
above all knowing this, that in the last days scoffers will come with scoffing, following according to their own desires
and saying, 'Where is the promise of his coming? For ever since the fathers fell asleep, all things have continued just as they have been from the beginning of creation.'
For when they maintain this, it escapes their notice that the heavens existed long ago and the earth held together out of water and through water by the word of God,
by means of which things the world that existed at that time was destroyed by being inundated with water.
But by the same word the present heavens and earth are reserved for fire, being kept for the day of judgment and destruction of ungodly people.
</p>

<div class="sidenote">2 Peter 3:8</div>

<p>
Now, dear friends, do not let this one thing escape your notice, that one day with the Lord is like a thousand years, and a thousand years is like one day.
The Lord is not delaying the promise, as some consider slowness, but is being patient toward you, because he does not want any to perish, but all to come to repentance.
But the day of the Lord will come like a thief, in which the heavens will disappear with a rushing noise, and the celestial bodies will be destroyed by being burned up, and the earth and the deeds done on it will be disclosed.
Because all these things are being destroyed in this way, what sort of people must you be in holy behavior and godliness,
while waiting for and hastening the coming of the day of God, because of which the heavens will be destroyed by being burned up and the celestial bodies will melt as they are consumed by heat!
But according to his promise, we are waiting for new heavens and a new earth in which righteousness resides.
</p>

<div class="sidenote left">2 Peter 3:14 <br>to 2 Peter 3:18</div>

<h3>Final Exhortations and Conclusion</h3>

<p>
Therefore, dear friends, because you are waiting for these things, make every effort to be found at peace, spotless and unblemished in him.
And regard the patience of our Lord as salvation, just as also our dear brother Paul wrote to you, according to the wisdom that was given to him,
as he does also in all his letters, speaking in them about these things, in which there are some things hard to understand, which the ignorant and unstable distort to their own destruction, as they also do the rest of the scriptures.
Therefore, dear friends, because you know this beforehand, guard yourselves so that you do not lose your own safe position because you have been led away by the error of lawless persons.
But grow in the grace and knowledge of our Lord and Savior Jesus Christ. To him be the glory, both now and to the day of eternity. Amen.
</p>
