<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 Thessalonians</h1>

<div class="sidenote left">2 Thessalonians 1:1 <br>to 2 Thessalonians 1:2</div>

<h3>Greeting</h3>

<p>
Paul and Silvanus and Timothy, to the church of the Thessalonians in God our Father and the Lord Jesus Christ.
Grace to you and peace from God the Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">2 Thessalonians 1:3 <br>to 2 Thessalonians 1:12</div>

<h3>Thanksgiving for the Thessalonian Believers</h3>

<p>
We ought to give thanks to God always concerning you, brothers, just as it is fitting, because your faith is flourishing and the love of each one of you all toward one another is increasing
so that we ourselves boast in you in the churches of God about your patient endurance and faith in all your persecutions and the afflictions that you are enduring,
a proof of the righteous judgment of God, so that you may be considered worthy of the kingdom of God, on behalf of which also you are suffering,
since it is righteous in the sight of God to pay back those who are afflicting you with affliction,
and to you who are being afflicted, rest with us at the revelation of the Lord Jesus from heaven with his powerful angels,
with burning flame giving punishment to those who do not know God and who do not obey the gospel of our Lord Jesus,
who will pay the penalty of eternal destruction, away from the presence of the Lord and from the glory of his strength,
whenever he should come to be glorified on that day by his saints and to be marveled at by all who believe, because our testimony was believed among you,
for which purpose we also pray always for you, that you may be considered worthy of the calling of our God, and he might fulfill every desire for goodness and work of faith with power,
in order that the name of our Lord Jesus may be glorified in you, and you in him, according to the grace of our God and the Lord Jesus Christ.
</p>

<div class="sidenote left">2 Thessalonians 2:1 <br>to 2 Thessalonians 2:12</div>

<h3>The Man of Lawlessness Will Be Revealed</h3>

<p>
Now we ask you, brothers, concerning the coming of our Lord Jesus Christ and our assembling to him,
that you not be easily shaken from your composure, nor be troubled either by a spirit or by a message or by a letter alleged to be from us, to the effect that the day of the Lord has arrived.
Do not let anyone deceive you in any way, for that day will not come unless the rebellion comes first, and the man of lawlessness is revealed, the son of destruction,
who opposes and who exalts himself over every so-called god or object of worship, so that he sits down in the temple of God, proclaiming that he himself is God.
</p>

<div class="sidenote">2 Thessalonians 2:5</div>

<p>
Do you not remember that while we were still with you, we were saying these things to you?
And you know that which restrains him now, so that he will be revealed in his own time.
For the mystery of lawlessness is at work already; only the one who now restrains will do so until he is out of the way,
and then the lawless one will be revealed, whom the Lord Jesus will slay with the breath of his mouth, and wipe out by the appearance of his coming,
whose coming is in accordance with the working of Satan, with all power and signs and lying wonders,
and with every unrighteous deception against those who are perishing, in place of which they did not accept the love of the truth, so that they would be saved.
And because of this, God sends them a powerful delusion so that they will believe the lie,
in order that all may be condemned who did not believe the truth, but delighted in unrighteousness.
</p>

<div class="sidenote left">2 Thessalonians 2:13 <br>to 2 Thessalonians 2:17</div>

<h3>Stand Firm and Hold Fast</h3>

<p>
But we ought to give thanks to God always concerning you, brothers dearly loved by the Lord, because God has chosen you as first fruits for salvation by the sanctification of the Spirit and faith in the truth,
for which purpose he called you through our gospel for the obtaining of the glory of our Lord Jesus Christ.
So then, brothers, stand firm and hold fast to the traditions which you were taught, whether by spoken word or by letter from us.
Now may our Lord Jesus Christ himself and God our Father, who has loved us and given us eternal encouragement and good hope by grace,
encourage your hearts and strengthen you in every good work and word.
</p>

<div class="sidenote left">2 Thessalonians 3:1 <br>to 2 Thessalonians 3:5</div>

<h3>Paul’s Prayer Request</h3>

<p>
Finally, brothers, pray for us, that the word of the Lord may progress and be honored, just as also it was with you,
and that we may be delivered from evil and wicked people, for not all have the faith.
But the Lord is faithful, who will strengthen you and guard you from the evil one.
And we have confidence in the Lord about you, that you are both doing and you will do the things that we are commanding.
Now may the Lord direct your hearts toward the love of God and toward the patient endurance of Christ.
</p>

<div class="sidenote left">2 Thessalonians 3:6 <br>to 2 Thessalonians 3:15</div>

<h3>Warning Against Lazy, Irresponsible Behavior</h3>

<p>
But we command you, brothers, in the name of our Lord Jesus Christ, that you keep away from every brother who lives irresponsibly and not according to the tradition that they received from us.
For you yourselves know how it is necessary to imitate us, that we did not behave irresponsibly among you,
nor did we eat bread from anyone without paying, but with toil and labor, we were working night and day in order not to be a burden to any of you,
not that we do not have the right, but so that we may give ourselves as an example to you, so that you may imitate us.
For even when we were with you, we used to command this to you: that if anyone does not want to work, neither should he eat.
For we hear that some among you are living irresponsibly, working at nothing, but being busybodies.
Now we command and we exhort such people in the Lord Jesus Christ that, working with quietness, they eat their own bread.
But as for you, brothers, do not be discouraged while doing what is right.
But if anyone does not obey our message through this letter, take note not to associate with him, in order that he may be put to shame.
And do not consider him as an enemy, but admonish him as a brother.
</p>

<div class="sidenote left">2 Thessalonians 3:16 <br>to 2 Thessalonians 3:18</div>

<h3>Final Greeting and Benediction</h3>

<p>
Now may the Lord of peace himself grant you peace through everything in every way. May the Lord be with all of you.
The greeting is by my hand, Paul's, which is a sign of genuineness in every letter: this is how I write.
The grace of our Lord Jesus Christ be with all of you.
</p>
