<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 Timothy</h1>

<div class="sidenote left">2 Timothy 1:1 <br>to 2 Timothy 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Christ Jesus through the will of God, according to the promise of life which is in Christ Jesus,
to Timothy, my dear child. Grace, mercy, and peace from God the Father and Christ Jesus our Lord.
</p>

<div class="sidenote left">2 Timothy 1:3 <br>to 2 Timothy 1:7</div>

<h3>Timothy’s Spiritual Heritage</h3>

<p>
I am thankful to God, whom I have served with a clear conscience as my ancestors did, when I remember you constantly in my prayers night and day,
longing to see you as I remember your tears, so that I may be filled with joy,
remembering the sincere faith in you, which lived first in your grandmother Lois and your mother Eunice, and I am convinced that is in you also,
for which reason I remind you to rekindle the gift of God that is in you through the laying on of my hands.
For God has not given us a spirit of cowardice, but of power and love and self-discipline.
</p>

<div class="sidenote left">2 Timothy 1:8 <br>to 2 Timothy 1:18</div>

<h3>Exhortation to Share Paul’s Suffering</h3>

<p>
Therefore, do not be ashamed of the testimony about our Lord, nor me his prisoner, but suffer along with me for the gospel, according to the power of God,
who saved us and called us with a holy calling, not according to our works but according to his own purpose and grace that was given to us in Christ Jesus before time began,
but has now been disclosed by the appearing of our Savior Jesus Christ, who has abolished death and brought to light life and immortality through the gospel,
for which I was appointed a proclaimer and an apostle and a teacher,
for which reason also I suffer these things. But I am not ashamed, because I know in whom I have believed, and I am convinced that he is able to guard what I have entrusted until that day.
Hold fast to the pattern of sound words which you heard from me, in the faith and love that are in Christ Jesus.
Guard the good deposit through the Holy Spirit who lives in us.
</p>

<div class="sidenote">2 Timothy 1:15</div>

<p>
You know this, that all those in Asia turned away from me, among whom are Phygelus and Hermogenes.
May the Lord grant mercy to the household of Onesiphorus, because he refreshed me many times, and was not ashamed of my imprisonment,
but when he was in Rome, he diligently sought me and found me.
May the Lord grant him to find mercy from the Lord in that day! And how much he served me in Ephesus you know very well.
</p>

<div class="sidenote left">2 Timothy 2:1 <br>to 2 Timothy 2:7</div>

<h3>Exhortation to Be Strong in Grace</h3>

<p>
You, therefore, my child, be strong in the grace that is in Christ Jesus,
and the things which you have heard from me in the presence of many witnesses, entrust these things to faithful people who will be competent to teach others also.
Suffer together with me as a good soldier of Christ Jesus.
No one who serves as a soldier is entangled in the activities of everyday life, so that he may please the one who enlisted him.
And also if anyone competes he is not crowned unless he competes according to the rules.
The farmer who works hard must be the first to receive a share of the crops.
Consider what I am saying, for the Lord will grant you understanding in all these things.
</p>

<div class="sidenote left">2 Timothy 2:8 <br>to 2 Timothy 2:13</div>

<h3>A Trustworthy Saying</h3>

<p>
Remember Jesus Christ, raised from the dead, a descendant of David according to my gospel,
in connection with which I suffer misfortune to the point of imprisonment as a criminal, but the word of God is not bound.
Because of this, I endure all things for the sake of the chosen, in order that they also may obtain salvation which is in Christ Jesus with eternal glory.
The saying is trustworthy:
</p>

<div class="sidenote">2 Timothy 2:12</div>

<p>
if we endure, we will also reign with him; if we deny him, he also will deny us;
</p>

<div class="sidenote">2 Timothy 2:13</div>

<p>
if we are unfaithful, he remains faithful he cannot deny himself.
</p>

<div class="sidenote left">2 Timothy 2:14 <br>to 2 Timothy 2:26</div>

<h3>A Worker Approved to God and Not Ashamed</h3>

<p>
Remind people of these things, solemnly urging them before the Lord not to dispute about words. This is in no way beneficial and leads to the ruin of the hearers.
Make every effort to present yourself approved to God, a worker having no need to be ashamed, guiding the word of truth along a straight path.
But avoid pointless chatter, for it will progress to greater ungodliness,
and their message will spread like gangrene, among whom are Hymenaeus and Philetus,
who have deviated concerning the truth by saying the resurrection has already taken place, and they are upsetting the faith of some.
However, the solid foundation of God stands firm, having this seal: 'The Lord knows those who are his,' and 'Everyone who names the name of the Lord must abstain from unrighteousness.'
</p>

<div class="sidenote">2 Timothy 2:20</div>

<p>
Now in a great house there are not only gold and silver vessels, but also wooden and earthenware ones, some of which are for honorable use, and some of which are for ordinary use.
Therefore, if someone cleanses himself from these things, he will be a vessel for honorable use, set apart, useful to the Master, prepared for every good work.
</p>

<div class="sidenote">2 Timothy 2:22</div>

<p>
But flee from youthful desires, and pursue righteousness, faith, love, and peace, in company with those who call upon the Lord from a pure heart.
But avoid foolish and uninformed controversies, because you know that they produce quarrels.
And the slave of the Lord must not quarrel, but be kind toward everyone, skillful in teaching, tolerant,
correcting those who are opposed with gentleness, seeing whether perhaps God may grant them repentance to a knowledge of the truth,
and they will come to their senses again and escape from the trap of the devil, being held captive by him to do his will.
</p>

<div class="sidenote left">2 Timothy 3:1 <br>to 2 Timothy 3:9</div>

<h3>Difficult Times Ahead in the Last Days</h3>

<p>
But know this, that in the last days difficult times will come,
for people will be lovers of themselves, lovers of money, boasters, arrogant, slanderers, disobedient to parents, ungrateful, unholy,
hardhearted, irreconcilable, slanderous, without self-control, savage, with no interest for what is good,
traitors, reckless, conceited, loving pleasure rather than loving God,
maintaining a form of godliness, but denying its power. Avoid these people.
For from these are those who slip into houses and captivate foolish women loaded down with sins, led by various kinds of desires,
always learning and never able to come to a knowledge of the truth.
And just as Jannes and Jambres opposed Moses, so also these oppose the truth, people corrupted in mind, disqualified concerning the faith.
But they will not progress to a greater extent, for their folly will be quite evident to everyone, as also the folly of those two was.
</p>

<div class="sidenote left">2 Timothy 3:10 <br>to 2 Timothy 3:17</div>

<h3>The Value of the Scriptures</h3>

<p>
But you have faithfully followed my teaching, way of life, purpose, faith, patience, love, endurance,
persecutions, and sufferings that happened to me in Antioch, in Iconium, and in Lystra, what sort of persecutions I endured, and the Lord delivered me from all of them.
And indeed, all those who want to live in a godly manner in Christ Jesus will be persecuted.
But evil people and imposters will progress to the worse, deceiving and being deceived.
But you continue in the things which you have learned and are convinced of, because you know from whom you learned them,
and that from childhood you have known the holy writings that are able to make you wise for salvation through faith in Christ Jesus.
All scripture is inspired by God and profitable for teaching, for reproof, for correction, for training in righteousness,
in order that the person of God may be competent, equipped for every good work.
</p>

<div class="sidenote left">2 Timothy 4:1 <br>to 2 Timothy 4:8</div>

<h3>Paul’s Charge to Timothy</h3>

<p>
I solemnly charge you before God and Christ Jesus, who is going to judge the living and the dead, and by his appearing and his kingdom,
preach the word, be ready in season and out of season, reprove, rebuke, exhort, with all patience and instruction.
For there will be a time when they will not put up with sound teaching, but in accordance with their own desires, they will accumulate for themselves teachers, because they have an insatiable curiosity,
and they will turn away from the hearing of the truth, but will turn to myths.
But you, be self-controlled in all things, bear hardship patiently, do the work of an evangelist, fulfill your ministry.
</p>

<div class="sidenote">2 Timothy 4:6</div>

<p>
For I am already being poured out as a drink offering, and the time of my departure is imminent.
I have fought the good fight, I have completed the race, I have kept the faith.
Finally, the crown of righteousness is reserved for me, that the Lord, the righteous Judge, will award to me on that day, and not only to me, but also to all who have loved his appearing.
</p>

<div class="sidenote left">2 Timothy 4:9 <br>to 2 Timothy 4:18</div>

<h3>Final Instructions to Timothy</h3>

<p>
Make haste to come to me quickly.
For Demas deserted me, because he loved the present age, and went to Thessalonica. Crescens went to Galatia; Titus went to Dalmatia.
Luke alone is with me. Take along Mark and bring him with you, because he is useful to me for ministry.
But I have sent Tychicus to Ephesus.
When you come, bring the cloak that I left behind in Troas with Carpus, and the scrolls, especially the parchments.
Alexander the metalworker did me much harm; may the Lord pay back to him according to his deeds,
against whom you also be on guard, because he vehemently opposed our words.
At my first defense, no one came to my aid, but they all deserted me; may it not be counted against them.
But the Lord helped me and strengthened me, so that through me the proclamation might be fulfilled and all the Gentiles might hear, and he rescued me from the lion's mouth.
The Lord will rescue me from every evil deed, and will save me for his heavenly kingdom, to whom be the glory forever and ever. Amen.
</p>

<div class="sidenote left">2 Timothy 4:19 <br>to 2 Timothy 4:22</div>

<h3>Final Greetings and Benediction</h3>

<p>
Greet Prisca and Aquila and the household of Onesiphorus.
Erastus remained in Corinth, but Trophimus I left behind in Miletus because he was sick.
Make haste to come before winter. Eubulus and Pudens and Linus and Claudia and all the brothers greet you.
The Lord be with your spirit. Grace be with you.
</p>
