<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>3 John</h1>

<p>
The elder, to Gaius the beloved, whom I love in the truth.
Dear friend, I pray you may prosper concerning everything and be healthy, just as your soul prospers.
For I rejoiced exceedingly when the brothers came and testified to your truth, just as you are walking in the truth.
I have no greater joy than this: that I hear my children are walking in the truth.
Dear friend, you act faithfully in whatever you do for the brothers, even though they are strangers.
They have testified to your love before the church; you will do well to send them on their way in a manner worthy of God.
For they have gone out on behalf of the name, accepting nothing from the pagans.
Therefore we ought to support such people, so that we become fellow workers with the truth.
I wrote something to the church, but Diotrephes, who wants to be first among them, does not acknowledge us.
Therefore, if I come, I will call attention to the deeds he is doing, disparaging us with evil words. And not being content with these, he does not receive the brothers himself, and he hinders those wanting to do so and throws them out of the church.
Dear friend, do not imitate what is evil, but what is good. The one who does good is of God; the one who does evil has not seen God.
Demetrius has been testified to by all, even by the truth itself. And we also testify to him, and you know that our testimony is true.
I have many things to write to you, but I do not want to write to you by means of ink and pen.
But I hope to see you right away, and to speak face to face.
Peace be to you. The friends greet you. Greet the friends by name.
</p>
