<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Amos</h1>

<div class="sidenote left">Amos 1:1 </div>

<h3>Introduction</h3>

<p>
The words of Amos, who was among the shepherds from Tekoa, which he saw concerning Israel in the days of Uzziah the king of Judah and in the days of Jeroboam the son of Jehoash, two years before the earthquake.
</p>

<div class="sidenote left">Amos 1:2 <br>to Amos 2:3</div>

<h3>Judgment on Israel’s Neighbors</h3>

<p>
And he said, 'the LORD roars from Zion and he utters his voice from Jerusalem; the pastures of the shepherds wither and the top of Carmel dries up.'
Thus says the LORD, 'For three transgressions of Damascus and for four I will not revoke the punishment, because they threshed Gilead with threshing sledges of iron!
So I will send fire against Hazael's house and it will consume the citadel fortresses of Ben-Hadad.
I will break the gate bars of Damascus and I will cut off the inhabitants from the Valley of Aven and the one who takes hold of the scepter of Beth Eden, and the people of Aram will go into exile to Kir,' says the LORD.
</p>

<div class="sidenote">Amos 1:6</div>

<p>
Thus says the LORD: 'For three transgressions of Gaza and for four I will not revoke the punishment, because they exiled a whole community, handing them over to Edom!
So I will send a fire against the wall of Gaza and it will devour its citadel fortresses.
And I will cut off the inhabitants from Ashdod and the one who takes hold of the scepter of Ashkelon. I will also turn my hand against Ekron, and the remnant of the Philistines will perish,' says the Lord the LORD.
</p>

<div class="sidenote">Amos 1:9</div>

<p>
Thus says the LORD: 'For three transgressions of Tyre and for four I will not revoke the punishment, because they delivered up a whole community to Edom and they did not remember the covenant of brotherhood!
So I will send a fire against the wall of Tyre and it will devour its citadel fortresses.'
</p>

<div class="sidenote">Amos 1:11</div>

<p>
Thus says the LORD: 'For three transgressions of Edom and for four I will not revoke the punishment, because he pursued his brother with the sword! He stifled his compassion and his anger tore them apart continually, and he kept his rage forever.
So I will send a fire against Teman and it will devour the citadel fortresses of Bozrah.'
</p>

<div class="sidenote">Amos 1:13</div>

<p>
Thus says the LORD: 'For three transgressions of Ammon and for four I will not revoke the punishment, because they ripped open the pregnant women of Gilead in order to enlarge their territory!
So I will kindle a fire against the wall of Rabbah and it will devour its citadel fortresses with a war cry on the day of battle, with a storm on the day of the violent tempest.
And their king will go into exile, he and his commanders together,' says the LORD.
</p>

<p>
Thus says the LORD: 'For three transgressions of Moab and for four I will not revoke the punishment, because he burned to lime the bones of the king of Edom.
So I will send a fire against Moab and it will devour the citadel fortresses of Kerioth, and Moab will die amid uproar, amid war cries and amid the sound of a horn.
And I will cut off the ruler from its midst and I will kill all of its officials with him,' says the LORD.
</p>

<div class="sidenote left">Amos 2:4 <br>to Amos 2:5</div>

<h3>Judgment on Judah</h3>

<p>
Thus says the LORD: 'For three transgressions of Judah and for four I will not revoke the punishment, because they have rejected the law of the LORD and have not kept his rules, and their lies have led them astray, after which their ancestors walked!
So I will send a fire against Judah and it will devour the citadel fortresses of Jerusalem.
</p>

<div class="sidenote left">Amos 2:6 <br>to Amos 2:16</div>

<h3>Judgment on Israel</h3>

<p>
Thus says the LORD: 'For three transgressions of Israel and for four I will not revoke the punishment, because they sell the righteous for money and the poor for a pair of sandals!
Those who trample the heads of the powerless into the dust of the ground and turn aside the way of the destitute, a man and his father have sexual relations with the same girl, so that they profane my holy name.
They stretch themselves out beside every altar on clothing taken in pledge and they drink wine, bought with fines imposed, in the house of their God.
Yet I destroyed the Amorite before them, who was as tall as cedars and was as strong as the oaks. I destroyed his fruit above and his roots beneath.
And I brought you up from the land of Egypt, and I led you in the wilderness forty years to take possession of the land of the Amorite.
And I raised up some of your sons to be prophets and some of your young men to be Nazirites. Is it not so, O people of Israel? This is the declaration of the LORD!
But you made the Nazirites drink wine and commanded the prophets, saying, 'You shall not prophesy.'
Look! I am going to press you down in your place just as a utility cart full of mature stalks of grain is pressed down.
Flight will perish from the swift and the strong person will not muster his strength and the warrior will not save his life.
And the one who takes hold of the bow will not stand and the one who is swift on his feet will not save himself, nor will the one who rides the horse save his life.
Even those who are strong of heart among the mighty will flee away naked from the city on that day. This is the declaration of the LORD!'
</p>

<div class="sidenote left">Amos 3:1 <br>to Amos 3:15</div>

<h3>Israel’s Guilt and Punishment</h3>

<p>
Hear this word that the LORD has spoken against you, O people of Israel, against the whole clan that I brought up from the land of Egypt:
'You only have I chosen of all the clans of the earth. Therefore I will punish you for all your iniquities.
Do two walk together unless they have met?
Does a lion roar in the forest when he has no prey? Does a fierce, young lion cry out from his den unless he has caught something?
Does a bird fall into a trapping net on the earth when there is no snare for it? Does a trapping net spring up from the ground unless it has certainly caught something?
Or is a horn blown in a city and people are not afraid? Or does a disaster occur in the city and the LORD has not done it?
Surely my Lord does not do anything unless he has revealed his secret to his servants the prophets.
A lion has roared! Who is not afraid? My Lord the LORD has spoken, who will not prophesy?
Proclaim to the citadel fortresses in Ashdod and the citadel fortresses in the land of Egypt and say: 'Gather on the mountains of Samaria and see the great panic in her midst and the oppression in her midst!'
'They do not know how to do right,' declares the LORD, 'those who store up violence and destruction in their citadel fortresses.'
Therefore, thus says my Lord the LORD, 'A foe shall surround the land and bring down your strongholds, and your citadel fortresses shall be plundered.'
Thus says the LORD, 'Just as the shepherd rescues two legs or a piece of an ear from the mouth of the lion, so shall the people of Israel who dwell in Samaria, with the corner of a couch and the damask of a bed.'
'Listen and testify against the house of Jacob,' declares my Lord the LORD, the God of hosts.
'For on the day I punish Israel for its transgression, I will also punish the altars of Bethel and the horns of the altar will be cut off and fall to the ground.
I will ruin the winter house as well as the summer house, and the houses of ivory will perish and the great houses shall come to an end,' declares the LORD.
</p>

<div class="sidenote left">Amos 4:1 <br>to Amos 4:13</div>

<h3>Social and Spiritual Corruption</h3>

<p>
Hear this word, you cows of Bashan who live on the mountain of Samaria, who oppress the powerless, who crush the poor, who say to their husbands, 'Bring something so that we may drink!'
My Lord the LORD has sworn by his holiness that, 'Behold, the days are coming upon you when they will take you away with hooks, even the last of you with fishing hooks.
And you shall leave through breaches in the wall, each one in front of her. You will be dragged off toward Harmon,' declares the LORD.
'Come to Bethel and transgress; to Gilgal and multiply transgression! Bring your sacrifices in the morning and your tithes on the third day.
And bring a thank offering of unleavened bread, and proclaim freewill offerings, pronounce them, for so you love to do, O people of Israel,' is the declaration of my Lord the LORD.
'And I in turn gave you cleanness of teeth in all your cities and lack of bread in all your places. Yet you did not return to me,' is the declaration of the LORD.
'And I also withheld the rain from you when there were still three months to the harvest. And I would send rain on one city and send no rain on another city. One tract of land will be rained on, and the tract of land on which it does not rain will dry up.
So two or three cities wandered to one city to drink water and they were not satisfied, yet you did not return to me,' is the declaration of the LORD.
'I struck you with blight and with mildew. Frequently the cutting locust devoured your gardens and your vineyards and your fig trees and your olive trees, yet you did not return to me,' is the declaration of the LORD.
'I sent among you a plague in the manner of Egypt; I killed your young men with the sword, along with the captivity of your horses. And I made the stench of your camps go up into your nostrils, yet you did not return to me,' is the declaration of the LORD.
'I overthrew some of you as God overthrew Sodom and Gomorrah, and you were as a stick snatched from the fire, and yet you did not return to me,' is the declaration of the LORD.
'Therefore, thus I will do to you, O Israel. Because I will do this to you, O Israel, prepare to meet your God!
Yes, here is the one who forms the mountains, and the one who creates the wind, and the one who reveals to humans what his thoughts are, and the one who treads on the heights of the earth; the LORD, the God of hosts, is his name!'
</p>

<div class="sidenote left">Amos 5:1 <br>to Amos 5:17</div>

<h3>A Lament and Call to Repentance</h3>

<p>
Hear this word that I am going to intone over you as a lament, O house of Israel!
Virgin Israel has fallen and will not rise again. She is deserted on her land; there is no one to raise her up.
For thus says my Lord the LORD, 'The city that marches out with a thousand will only have a hundred left. And the one that marches out with a hundred will only have ten left for the house of Israel.'
For thus says the LORD to the house of Israel, 'Seek me so that you may live.'
But do not seek Bethel or go to Gilgal or cross over to Beersheba, for Gilgal will certainly go into exile and Bethel will come to disaster.'
Seek the LORD so that you may live, so that he will not break out like a fire against the house of Joseph! And it will devour, with none to quench it for Bethel.
Ah, you who turn justice into wormwood and hurl righteousness to the ground!
The one who made the Pleiades and Orion and who turns deep darkness into the morning and darkens day into night, the one who calls for the waters of the sea and pours them out on the surface of the earth, the LORD is his name!
The one who makes destruction flash upon the fierce, so that destruction comes upon the fortification.
They hate the one who reproves in the gate and they abhor the one who speaks honestly.
Therefore, because you trample on the poor and you take a grain tax from them, you built houses of dressed stone, but you will not live in them. You built vineyards of delightfulness, but you will not drink their wine.
For I know your transgressions are many and your sins are numerous, you foes of the righteous, those who take a bribe, and those who push aside the poor ones in the gate!
Therefore, whoever has insight will keep silent in that time, for it is a time of evil.
Seek good and not bad in order that you may live, and so the LORD, the God of hosts, will be with you, as you have said.
Hate evil and love good and establish justice in the gate; perhaps the LORD, the God of hosts, will be gracious to the remnant of Joseph.
Therefore, thus says the LORD, the God of hosts, my Lord, 'In all of the public squares there will be wailing, and in all of the streets they will say, 'Alas, alas, alas!' They shall call the farmers to mourning and to wailing, to those who are skilled in lamentation.
And in all of the vineyards there will be wailing, because I will pass in your midst,' says the LORD.
</p>

<div class="sidenote left">Amos 5:18 <br>to Amos 5:27</div>

<h3>The Day of the LORD</h3>

<p>
Alas, those who desire the day of the LORD, why is this for you the day of the LORD? It will be darkness and not light!
It will be as if a man fled from a lion and a bear met him; or he went into the house and leaned his hand against the wall and a snake bit him.
Is not the day of the LORD darkness and not light, and pitch dark with no brightness in it?
'I hate, I despise your festivals, and I take no delight in your assemblies.
Yes, even if you offer me your burnt offerings and grain offerings, I will not accept them, and I will not look at the fellowship offerings of your fattened animals.
Remove from me the noise of your songs, and I do not want to hear the melody of your harps!
But let justice roll on like the water, and righteousness like an ever-flowing stream.
Did you bring to me sacrifices and offerings those forty years in the desert, O house of Israel?
And you will take up Sikkuth, your king, and Kaiwan, your images, the star of your gods which you made for yourselves.
And I will deport you beyond Damascus,' says the LORD the God of hosts is his name.
</p>

<div class="sidenote left">Amos 6:1 <br>to Amos 6:7</div>

<h3>Woe to the Complacent</h3>

<p>
Alas for those being at ease in Zion, and those who feel secure on Mount Samaria, the notables of the best of the nations! The house of Israel resorts to them.
Cross over to Calneh and see, and go from there to Hamath Rabbah and go down to Gath of the Philistines. Are you better than these kingdoms, or is their territory greater than your territory?
You that put off the day of disaster and bring near a reign of violence!
Alas for those who lie on beds of ivory and lounge on their couches, and those eating young rams from the sheep and goats, and bull-calves from the middle of the animal stall.
Alas for those who sing to the tune of the harp; like David they improvise on instruments of music.
Alas for those who drink from sprinkling bowls of wine and anoint themselves with the best of olive oils and are not grieved over the ruin of Joseph.
Therefore, they shall now go into exile at the head of the exiles and the feast of lounging shall pass away.
</p>

<div class="sidenote left">Amos 6:8 <br>to Amos 6:14</div>

<h3>God Abhors Israel’s Pride</h3>

<p>
My Lord the LORD has sworn by himself, declares the LORD, the God of hosts: 'I abhor the pride of Jacob and I hate his citadel fortresses and I will deliver the city and its fullness!'
And then if ten people remain in one house, they too will die.
And if one's relative, who burns the body, lifts it up and brings the body out of the house and he will say to someone in the innermost part of the house, 'Are there any more with you?' and he will say, 'None,' then he will say, 'Silence,' because we must not invoke the name of the LORD.
Look, the LORD is going to command and the great house will be destroyed to bits and the little house to pieces.
Do horses run on rocks, or does one plow the sea with oxen? But you have turned justice into poison and the fruit of righteousness into wormwood!
You who rejoice over Lo-Debar, who say, 'Have we not taken Karnaim for ourselves by our strength?'
Indeed, I am going to raise up against you a nation, O house of Israel, declares the LORD, the God of hosts. And they shall oppress you from Lebo-hamath up to the wadi of the Arabah.
</p>

<div class="sidenote left">Amos 7:1 <br>to Amos 7:9</div>

<h3>Warning Visions</h3>

<p>
This is what my Lord the LORD showed me, and look, he is going to form locusts at the beginning of the sprouting of the second crop, and look, after the mowings of the king.
And then when they finished eating the vegetation of the land, I said, 'O Lord the LORD, please forgive! How can Jacob stand, because he is small?'
the LORD relented concerning this. 'It will not be,' said the LORD.
This is what my Lord the LORD showed me, and look, my Lord the LORD was going to call for a legal case with fire, and it devoured the great deep and it ate up the plots of ground.
Then I said, 'O Lord the LORD, please stop! How can Jacob stand, because he is small?'
the LORD also relented concerning this. 'This also will not be,' said my Lord the LORD.
This is what he showed me: Behold, my Lord was standing beside a wall built with a plummet, and a plummet was in his hand.
And the LORD said to me, 'What do you see?' And I said, 'A plummet.' And my Lord said, 'Look, I am going to set a plummet in the midst of my people, Israel. I will not pass them by again.
The high places of Isaac shall become desolate and the sanctuaries of Israel shall be laid waste. And I will rise against the house of Jeroboam with the sword.'
</p>

<div class="sidenote left">Amos 7:10 <br>to Amos 7:17</div>

<h3>Amaziah’s Opposition</h3>

<p>
Then Amaziah the priest of Bethel sent to Jeroboam the king of Israel, saying, 'Amos has conspired against you in the midst of the house of Israel. The land is not able to endure all of his words.
For this Amos has said, 'Jeroboam will die by the sword and Israel will certainly go into exile away from his land.''
And Amaziah said to Amos, 'O seer, go, flee to the land of Judah and earn food there and prophesy there!'
But do not prophesy again at Bethel, because this is a sanctuary of a king and this is a temple of a kingdom.'
And Amos answered and said to Amaziah, 'I am not a prophet and I am not a son of a prophet, but I am a herdsman and I am one taking care of sycamore trees.
And the LORD took me from following behind the sheep and goats and the LORD said to me, 'Go, prophesy to my people Israel!
And so then, hear the word of the LORD! You are saying, 'You must not prophesy against Israel and you must not preach against the house of Isaac!'
Therefore, thus says the LORD, 'Your wife will become a prostitute in the city and your sons and your daughters will fall by the sword and your land will be divided with a line, and you will die in an unclean land and Israel will surely go into exile from this land.''
</p>

<div class="sidenote left">Amos 8:1 <br>to Amos 8:14</div>

<h3>A Basket of Ripe Fruit</h3>

<p>
My Lord the LORD showed me this, and there was a basket of summer fruit.
And he said, 'What do you see, Amos?' And I said, 'A basket of summer fruit.' And the LORD said to me, 'The end has come upon my people Israel. I will not pass by them again!'
'And the songs of the temple shall become wailings in that day,' declares my Lord the LORD. 'The corpses are numerous; he throws them in every place. Be quiet!'
Hear this, those who trample on the poor and who annihilate the afflicted of the land,
saying, 'When will the new moon be over, so that we can sell grain? And the Sabbath, so that we can open the grain bins, that we can make the ephah small and make the shekel large, and can practice deceit with a set of scales of deceit?
That we can buy the powerless with silver and the poor for the sake of a pair of sandals, and we can sell the waste of the grain?'
the LORD has sworn by the pride of Jacob, 'Surely I will never forget any of their deeds!
On account of this, will not the land tremble and will not every living thing in it mourn? And all of it will rise like the Nile and it will be tossed about and subside like the Nile of Egypt.
And then in that day,' declares my Lord the LORD, 'I will make the sun go down at noon and I will darken the land on a day of light.
And I will turn your feasts into mourning and all of your songs into lament, and I will put sackcloth on all loins and baldness on every head. And I will make it like the mourning for an only child, and its end like a bitter day.
Look, the days are coming,' declares my Lord the LORD, 'when I will send a famine in the land, not a famine for bread and not a thirst for water, but of hearing the words of the LORD!
And they will wander from sea to sea and from the north and to the east. They will roam about to seek the word of the LORD, but they will not find it!
In that day the beautiful young women and the young men will faint because of thirst.
These are those who swear by the guilt of Samaria and say, 'By the life of your gods, O Dan,' and 'By the life of the way of Beersheba,' they will fall and they will not rise again.'
</p>

<div class="sidenote left">Amos 9:1 <br>to Amos 9:10</div>

<h3>Destruction of Israel</h3>

<p>
I saw my Lord standing by the altar and he said, 'Strike the capitals so that the thresholds will shake, and shatter them on the head of all of them, and I will kill the rest of them with the sword. A fugitive belonging to them will not run away, and a survivor belonging to them will not escape.
If they dig into Sheol, from there my hand will take them, and even if they climb up to heaven, from there I will bring them down.
And even if they hide themselves on the top of Carmel, from there I will search and will take them, and even if they hide from before my eyes at the bottom of the sea, from there I will command the sea serpent and it will bite them.
And even if they go into captivity before their enemies, from there I will command the sword and it will kill them, and I will fix my eyes on them for harm and not for good.'
And thus will do the Lord the LORD of hosts, who touches the earth and it melts, and all of those living in it mourn, and all of it rises like the Nile and it sinks down like the Nile of Egypt,
who builds his upper chambers in the heavens and lays the foundation of his vault on the earth, who calls for the waters of the sea and pours them on the surface of the earth the LORD is his name.
'Are you not like the Cushites to me, O people of Israel?' declares the LORD. 'Did I not bring up Israel from the land of Egypt and the Philistines from Caphtor and the Arameans from Kir?
Look, the eyes of my Lord the LORD are on the kingdom of sin, and I will destroy it from the surface of the earth. However, I will not utterly destroy the house of Jacob,' declares the LORD.
'Yes, look, I am going to command and I will shake the house of Israel among all the nations like one who shakes with a sieve, but not a pebble will fall to the ground.
All the sinners of my people will die by the sword, who say, 'Evil will not overtake or confront us.'
</p>

<div class="sidenote left">Amos 9:11 <br>to Amos 9:15</div>

<h3>Restoration of Israel</h3>

<p>
On that day I will raise up the booth of David that is fallen, and I will repair its breaches and will raise up its ruins and will build it like the days of old.
Thus they may take possession of the remnant of Edom and all the nations who are called by my name,' declares the LORD, who does this.
'Look, days are coming,' declares the LORD, 'when the one who plows will overtake the one who reaps, the one who treads grapes will catch up with the one who sows the seed. And the mountains will drip sweet wine and all of the hills will flow with it.
And I will restore the fortunes of my people Israel, and they will rebuild the desolated cities and will inhabit them. And they will plant vineyards and will drink their wine, and they will make gardens and will eat their fruit.
And I will plant them on their land and they will not be uprooted again from their land that I have given to them,' says the LORD your God.
</p>
