<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Colossians</h1>

<div class="sidenote left">Colossians 1:1 <br>to Colossians 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Christ Jesus through the will of God, and Timothy our brother,
to the saints and faithful brothers in Christ in Colossae. Grace to you and peace from God our Father.
</p>

<div class="sidenote left">Colossians 1:3 <br>to Colossians 1:8</div>

<h3>Thanksgiving for the Colossian Believers</h3>

<p>
We give thanks always to God the Father of our Lord Jesus Christ when we pray for you,
since we heard about your faith in Christ Jesus and the love that you have for all the saints,
because of the hope reserved for you in heaven, which you have heard about beforehand in the word of truth, the gospel,
that has come to you, just as also in all the world it is bearing fruit and increasing, just as also among you from the day you heard about and understood the grace of God in truth,
just as you learned it from Epaphras, our dear fellow slave who is a faithful minister of Christ on our behalf,
who also made clear to us your love in the Spirit.
</p>

<div class="sidenote left">Colossians 1:9 <br>to Colossians 1:23</div>

<h3>Prayer for Maturity Based on Christ’s Preeminence</h3>

<p>
Because of this also we, from the day we heard about it, did not cease praying for you, and asking that you may be filled with the knowledge of his will in all wisdom and spiritual insight,
so that you may live in a manner worthy of the Lord, to please him in all respects, bearing fruit in every good deed and increasing in the knowledge of God,
enabled with all power, according to his glorious might, for all steadfastness and patience with joy,
giving thanks to the Father who has qualified you for a share of the inheritance of the saints in light,
who has rescued us from the domain of darkness and transferred us to the kingdom of the Son he loves,
in whom we have the redemption, the forgiveness of sins,
who is the image of the invisible God, the firstborn over all creation,
because all things in the heavens and on the earth were created by him, things visible and things invisible, whether thrones or dominions or rulers or powers, all things were created through him and for him,
and he himself is before all things, and in him all things are held together,
and he himself is the head of the body, the church, who is the beginning, the firstborn from the dead, so that he himself may become first in everything,
because he was well pleased for all the fullness to dwell in him,
and through him to reconcile all things to himself, by making peace through the blood of his cross, through him, whether things on earth or things in heaven.
</p>

<div class="sidenote">Colossians 1:21</div>

<p>
And although you were formerly alienated and enemies in attitude, because of your evil deeds,
but now you have been reconciled by his physical body through death, to present you holy and blameless and above reproach before him,
if indeed you remain in the faith, established and steadfast and not shifted away from the hope of the gospel that you heard, which was proclaimed in all creation under heaven, of which I, Paul, became a minister.
</p>

<div class="sidenote left">Colossians 1:24 <br>to Colossians 1:29</div>

<h3>Paul’s Suffering and Stewardship</h3>

<p>
Now I rejoice in my sufferings on behalf of you, and I fill up in my flesh what is lacking of the afflictions of Christ, on behalf of his body which is the church,
of which I became a minister, according to God's stewardship which was given to me for you, to complete the word of God,
the mystery which has been hidden from the ages and from the generations, but has now been revealed to his saints,
to whom God wanted to make known what is the glorious wealth of this mystery among the Gentiles, which is Christ in you, the hope of glory,
whom we proclaim, by admonishing every person and teaching every person with all wisdom, in order that we may present every person mature in Christ,
for which purpose also I labor, striving according to his working which is at work powerfully in me.
</p>

<div class="sidenote left">Colossians 2:1 <br>to Colossians 2:5</div>

<h3>Christ, the Mystery of God</h3>

<p>
For I want you to know how great a struggle I have on behalf of you, and those in Laodicea, and all those who have not seen my face in person,
so that their hearts may be encouraged, united in love and into all the wealth of the full assurance of insight into the knowledge of the mystery of God, Christ,
in whom all the treasures of wisdom and knowledge are hidden.
I say this in order that no one will deceive you with persuasive speech,
for even if I am absent in the flesh, yet I am with you in spirit, rejoicing and seeing your good order and the steadfastness of your faith in Christ.
</p>

<div class="sidenote left">Colossians 2:6 <br>to Colossians 2:15</div>

<h3>Made Alive in Christ</h3>

<p>
Therefore as you have received Christ Jesus the Lord, live in him,
firmly rooted and built up in him and established in the faith, just as you were taught, abounding with thankfulness.
Beware lest anyone take you captive through philosophy and empty deceit, according to human tradition, according to the elemental spirits of the world and not according to Christ,
because in him all the fullness of deity dwells bodily,
and you are filled in him, who is the head over every ruler and authority,
in whom also you were circumcised with a circumcision not made by hands, by the removal of the body of the flesh, by the circumcision of Christ,
having been buried with him in baptism, in which also you were raised together with him through faith in the working of God, who raised him from the dead.
And although you were dead in the trespasses and the uncircumcision of your flesh, he made you alive together with him, having forgiven us all our trespasses,
having destroyed the certificate of indebtedness in ordinances against us, which was hostile to us, and removed it out of the way by nailing it to the cross.
When he had disarmed the rulers and the authorities, he made a display of them in public, triumphing over them by it.
</p>

<div class="sidenote left">Colossians 2:16 <br>to Colossians 2:23</div>

<h3>Do Not Be Judged by Human Religious Rules</h3>

<p>
Therefore do not let anyone judge you with reference to eating or drinking or participation in a feast or a new moon or a Sabbath,
which are a shadow of what is to come, but the reality is Christ.
Let no one condemn you, taking pleasure in humility and the worship of angels, going into detail about the things which he has seen, inflated without cause by his fleshly mind,
and not holding fast to the head, from whom the whole body, supported and held together by the ligaments and sinews, grows with the growth of God.
</p>

<div class="sidenote">Colossians 2:20</div>

<p>
If you have died with Christ to the elemental spirits of the world, why do you submit to them as if living in the world?
'Do not handle, do not taste, do not touch,'
which things are all meant for destruction by consuming according to human commandments and teachings,
which things although they have, to be sure, an appearance of wisdom in self-made religion and humility and unsparing treatment of the body, do not have any value against the indulgence of the flesh.
</p>

<div class="sidenote left">Colossians 3:1 <br>to Colossians 3:4</div>

<h3>Seek the Things Above</h3>

<p>
Therefore, if you have been raised together with Christ, seek the things above, where Christ is, seated at the right hand of God.
Set your mind on the things above, not on the things on earth.
For you have died, and your life is hidden with Christ in God.
When Christ, who is your life, is revealed, then you also will be revealed with him in glory.
</p>

<div class="sidenote left">Colossians 3:5 <br>to Colossians 3:11</div>

<h3>Put Off the Old Behavior</h3>

<p>
Therefore put to death what is earthly in you: sexual immorality, uncleanness, lustful passion, evil desire, and greediness, which is idolatry,
because of which the wrath of God is coming upon the sons of disobedience,
in which also you once lived, when you used to live in them.
But now you also lay aside all these things: anger, rage, wickedness, slander, abusive language from your mouth.
Do not lie to one another, because you have taken off the old man together with his deeds,
and have put on the new man that is being renewed in knowledge according to the image of the one who created him,
where there is neither Greek nor Jew, circumcision nor uncircumcision, barbarian, Scythian, slave, or free, but Christ is all, and in all.
</p>

<div class="sidenote left">Colossians 3:12 <br>to Colossians 3:17</div>

<h3>Appeal for New Behavior</h3>

<p>
Therefore, as the chosen of God, holy and dearly loved, put on affection, compassion, kindness, humility, gentleness, patience,
putting up with one another and forgiving one another. If anyone should have a complaint against anyone, just as also the Lord forgave you, thus also you do the same.
And to all these things add love, which is the bond of perfection.
And the peace of Christ must rule in your hearts, to which also you were called in one body, and be thankful.
Let the word of Christ dwell in you richly, teaching and admonishing one another with all wisdom, with psalms, hymns, and spiritual songs, singing with thankfulness in your hearts to God,
and everything whatever you do in word or in deed, giving thanks for all things in the name of the Lord Jesus to God the Father through him.
</p>

<div class="sidenote left">Colossians 3:18 <br>to Colossians 4:1</div>

<h3>Mutual Responsibilities in Christian Relationships</h3>

<p>
Wives, be subject to your husbands, as is fitting in the Lord.
Husbands, love your wives and do not be embittered against them.
Children, obey your parents in everything, for this is pleasing in the Lord.
Fathers, do not provoke your children, so that they will not become discouraged.
Slaves, obey your human masters in everything, not while being watched, as people pleasers, but with sincerity of heart, fearing the Lord.
Whatever you do, accomplish it from the soul, as to the Lord, and not to people,
because you know that from the Lord you will receive the reward of the inheritance. Serve the Lord Christ.
For the one who does wrong will receive back whatever wrong he has done, and there is no partiality.
</p>

<p>
Masters, grant your slaves justice and fairness, knowing that you also have a master in heaven.
</p>

<div class="sidenote left">Colossians 4:2 <br>to Colossians 4:6</div>

<h3>Further Advice for the Christian Life</h3>

<p>
Be devoted to prayer, keeping alert in it with thanksgiving,
praying at the same time for us also, that God may open for us a door of the message, to speak the mystery of Christ, for which also I am a prisoner,
so that I may reveal it, as it is necessary for me to speak.
Live with wisdom toward those outside, making the most of the time.
Let your speech always be with grace, seasoned with salt, so that you may know how it is necessary for you to answer each one.
</p>

<div class="sidenote left">Colossians 4:7 <br>to Colossians 4:17</div>

<h3>Exhortations Regarding Fellow Workers</h3>

<p>
Tychicus, my dear brother and faithful servant and fellow slave in the Lord, will make known to you all my circumstances,
whom I have sent to you for this very reason, in order that you may know our circumstances and he may encourage your hearts,
together with Onesimus, my faithful and dear brother, who is one of you. They will make known to you all the circumstances here.
</p>

<div class="sidenote">Colossians 4:10</div>

<p>
Aristarchus, my fellow prisoner, greets you, and Mark, the cousin of Barnabas (about whom you received instructions if he should come to you, welcome him),
and Jesus who is called Justus. These are the only ones who are fellow workers for the kingdom of God from the circumcision, who have been a comfort to me.
Epaphras, who is one of you, greets you, a slave of Christ always struggling on behalf of you in his prayers, that you may stand mature and fully assured in all the will of God.
For I testify to him that he is working hard on behalf of you and those in Laodicea and those in Hierapolis.
Luke the physician, our dear friend, greets you, as does Demas.
Greet the brothers in Laodicea, and Nympha and the church in her house.
And whenever this letter is read among you, see to it that it is read also among the Laodicean church, and that you also read the letter from Laodicea.
And tell Archippus, 'Direct your attention to the ministry that you received in the Lord, in order that you may complete it.'
</p>

<div class="sidenote left">Colossians 4:18 </div>

<h3>Final Greeting and Benediction</h3>

<p>
The greeting is by my hand, Paul's. Remember my imprisonment. Grace be with you.
</p>
