<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Daniel</h1>

<div class="sidenote left">Daniel 1:1 <br>to Daniel 1:7</div>

<h3>Daniel’s Development in the King’s Court</h3>

<p>
In the third year of the reign of Jehoiakim king of Judah, Nebuchadnezzar the king of Babylon came to Jerusalem and besieged it.
And the Lord gave Jehoiakim the king of Judah into his hand and some of of the utensils of the temple of God, and he brought them to the land of Shinar to the temple of his gods, and he brought the utensils to the treasury of his gods.
</p>

<div class="sidenote">Daniel 1:3</div>

<p>
And the king ordered Ashpenaz, the commander of his court officials, to bring some of the Israelites from the royal family and from the lords,
youths who have no physical defect, and who are handsome, and who are prudent in all wisdom and endowed with knowledge, and who understand insight, and who have the ability in them to serve in the palace of the king. And the king ordered him to teach them the literature and the language of the Chaldeans.
And the king assigned to them his daily portion from the fine food of the king, and from the wine that he drank, and instructed that they were to be educated for three years. And at the end of their training, they were to be stationed before the king.
Now there was among them from the Judeans, Daniel, Hananiah, Mishael and Azariah.
And the commander of the court officials gave them names, and he called Daniel, Belteshazzar; and Hananiah, Shadrach; and Mishael, Meshach; and Azariah, Abednego.
</p>

<div class="sidenote left">Daniel 1:8 <br>to Daniel 1:21</div>

<h3>Daniel’s Resolve</h3>

<p>
Now Daniel resolved that he would not defile himself with the fine food of the king, and with the wine that he drank, and so he requested from the commander of the court officials permission so that he would not defile himself.
And God gave Daniel favor and compassion before the commander of the court officials,
and the commander of the court officials said to Daniel, 'I am afraid of my lord, the king, who has determined your food and your drink, for why should he see your face having a worse appearance than the young men who are your age? Then you will endanger my head with the king.'
Then Daniel asked the guard whom the commander of the court officials had appointed over Daniel, Hananiah, Mishael, and Azariah,
'Please test your servants for ten days, and let them give us some of the vegetables, and let us eat and let us drink water.
Then let our appearances and the appearance of the young men who are eating the fine food of the king be compared before you, and then deal with your servants according to what you see.'
So he agreed to this proposal with them, and he tested them for ten days.
And at the end of ten days their appearances appeared better and they were healthier of body than all the young men who were eating the fine food of the king.
So the guard continued to withhold their fine food and the wine of their drink, and he gave them vegetables.
</p>

<div class="sidenote">Daniel 1:17</div>

<p>
And as for these four young men, God gave to them knowledge and insight into all literature and wisdom, and Daniel had insight into all visions and dreams.
And at the end of the time the king had set to bring them, the commander of the court officials brought them in before Nebuchadnezzar.
And the king spoke with them, and among all of them no one was found like Daniel, Hananiah, Mishael, and Azariah; then they stood before the king.
And in every matter of wisdom and understanding about which the king inquired from them, he found them ten times better than all of the magicians and conjurers that were in his entire kingdom.
And Daniel was there until the first year of Cyrus the king.
</p>

<div class="sidenote left">Daniel 2:1 <br>to Daniel 2:23</div>

<h3>The King’s Troubling Dream</h3>

<p>
Now in the second year of the reign of Nebuchadnezzar, Nebuchadnezzar dreamed dreams; and his spirit was troubled and his sleep left him.
So the king said to call the magicians and the conjurers and the sorcerers and the astrologers to tell to the king his dreams. And they came in and they stood before the king.
And the king said to them, 'I have had a dream and my spirit is anxious to know the dream.'
</p>

<div class="sidenote">Daniel 2:4</div>

<p>
And the astrologers said to the king in Aramaic, 'O king, live forever! Tell the dream to your servants and we will reveal the explanation.'
The king answered and said to the astrologers, 'The command from me is firm: if you do not make known to me the dream and its explanation, then you will be broken into pieces and your houses will be laid in ruins.
But if you tell me the dream and its explanation, you will receive gifts and rewards and great honor from me. Therefore, tell me the dream and its explanation.'
They answered once more and said, 'Let the king tell the dream to his servants and we will make the explanation known.'
The king answered and said, 'Certainly I know that you are trying to gain time because you have seen that this matter is firmly decreed by me,
for if you do not make the dream known to me, your verdict is fixed, and you have conspired to say a lying and deceitful word to me until the circumstances will change. Therefore, tell me the dream, and I will know that you can tell me its explanation.'
The astrologers answered the king and said, 'There is not a man on earth that is able to reveal the word of the king; in fact, no great and powerful king has ever asked a thing like this of any magician or conjurer or astrologer.
And the thing that the king is asking is too difficult and there is no one who can reveal it to the king except the gods whose dwelling is not with mortals.'
</p>

<div class="sidenote">Daniel 2:12</div>

<p>
Because of this the king became angry, and he became very much enraged, and he said that all the wise men of Babylon are to be destroyed.
And the decree was issued, and the wise men were on the verge of being executed, and they searched for Daniel and his companions to be executed.
Then Daniel responded prudently and discretely to Arioch, the commander of the imperial guard of the king, who had gone out to execute the wise men of Babylon.
He asked and said to Arioch, the royal official of the king, 'Why is the decree from the king so severe?' Then Arioch explained the matter to Daniel.
And Daniel went in and requested from the king that he would give him time, and he would tell the king the explanation.
</p>

<div class="sidenote">Daniel 2:17</div>

<p>
Then Daniel went to his home, and he made the matter known to Hananiah, Mishael and Azariah, his companions,
and told them to seek mercy from the God of heaven concerning this mystery, so that Daniel and his companions, along with the remainder of the wise men of Babylon, would not be killed.
</p>

<div class="sidenote">Daniel 2:19</div>

<p>
Then in a vision of the night the mystery was revealed to Daniel; then Daniel blessed the God of heaven.
</p>

<div class="sidenote">Daniel 2:20</div>

<p>
Daniel said:
</p>

<div class="sidenote">Daniel 2:21</div>

<p>
And he changes the times and the seasons, and he deposes kings and he sets up kings; he gives wisdom to wise men and knowledge to men who know understanding.
</p>

<div class="sidenote">Daniel 2:22</div>

<p>
He reveals the deep and the hidden things; he knows what is in the darkness, and the light dwells with him.
</p>

<div class="sidenote">Daniel 2:23</div>

<p>
To you, O God of my ancestors, I give thanks and I give praises, for the wisdom and the power you gave to me, and now you have made known to me what we have asked from you, for you have made known to us the matter of the king.'
</p>

<div class="sidenote left">Daniel 2:24 <br>to Daniel 2:45</div>

<h3>Daniel Praises God and Interprets the King’s Dream</h3>

<p>
Therefore Daniel went to Arioch, whom the king had appointed to destroy the wise men of Babylon; he went and thus he said to him: 'You must not destroy the wise men of Babylon; take me in before the king and I will give the explanation to the king.'
</p>

<div class="sidenote">Daniel 2:25</div>

<p>
Then Arioch quickly brought Daniel in before the king and thus he said to him: 'I have found a man among the exiles of Judah who can relate the explanation to the king.
The king then asked and said to Daniel, whose name was Belteshazzar, 'Are you able to make known to me the dream that I have seen and its explanation?'
Daniel answered the king and said, 'The mystery that the king asks, no wise men, conjurers, magicians, or diviners are able to make known to the king.
But there is a God in heaven who reveals mysteries, and he has made known to King Nebuchadnezzar what it is that will be at the end of days. This is your dream and the visions of your head on your bed.
</p>

<div class="sidenote">Daniel 2:29</div>

<p>
'As for you, king, your thoughts on your bed turned to what it was that would be in the future, and the revealer of mysteries has made known to you what that would be.
And as for me, it is not because of wisdom that is in me more than any other living person that this mystery is revealed to me, but in order that the explanation may be made known to the king and you will understand the thoughts of your mind.
</p>

<div class="sidenote">Daniel 2:31</div>

<p>
'You, O king, were looking and, look, there was one great statue. This statue was huge and its brilliance extraordinary, standing there before you, and its appearance was frightening.
The head of this statue was of fine gold, its chest and its arms of silver, its belly and its thighs of bronze,
its legs of iron, its feet, part of them of iron and part of them of clay.
You were looking on until a stone was chiseled out that not by hands and it struck the statue on its feet of iron and clay, and it broke them in pieces.
Then the iron, the clay, the bronze, the silver and the gold all at once broke into pieces and they became like chaff from the summer threshing floor, and the wind carried them away and any trace of them could not be found. But the stone that struck the statue became a great mountain and it filled the whole earth.
</p>

<div class="sidenote">Daniel 2:36</div>

<p>
'This was the dream, and now we will tell its interpretation to the king.
You, O king, the king of kings, to whom the God of heaven has given the kingdom, the power and the might and the glory,
and also human beings wherever they dwell, the animals of the field and the birds of heaven he has given into your hand and made you ruler over all of them you are the head of gold.
And after you another kingdom inferior to yours will arise, and another third kingdom of bronze that will rule over the whole earth.
And a fourth kingdom will be strong as iron, and just as iron crushes and smashes everything, and as iron shatters all of these other metals, so it will crush and it will shatter these nations.
And just as you saw the feet and the toes, partly potter's clay and partly iron, it will be a divided kingdom; and some hardness of the iron will be in it, just as you have seen the iron mixed with the wet clay.
And as the toes of the feet were partly iron and partly clay, so part of the kingdom will be strong and partly brittle.
And in that you saw the iron was mixed with wet clay, so they will mix in marriage and they will not cling to one another, just as iron does not mix with clay.
And in the day of those kings, the God of heaven will set up a kingdom that will never be destroyed, and the kingdom will not be left for another nation, and it will bring an end to all these kingdoms, but it will stand forever.
Inasmuch as you saw that a stone from the mountain was chiseled out but not by hands, and that it crushed the iron, the bronze, the clay, the silver and the gold, thereby the great God made known to the king what will be in the future, and the dream is certain and its explanation trustworthy.'
</p>

<div class="sidenote left">Daniel 2:46 <br>to Daniel 2:49</div>

<h3>The King’s Response to Daniel and His God</h3>

<p>
Then the king, Nebuchadnezzar, fell on his face and he paid homage to Daniel; and he commanded them to offer a grain offering and incense offering to him.
The king answered Daniel and said, 'Truly your God is the God of gods and the Lord of kings, and he reveals mysteries, for you are able to reveal this mystery.'
Then the king promoted Daniel and gave him many great gifts, and made him ruler over the whole province of Babylon and the chief prefect over all the wise men of Babylon.
And Daniel made a request from the king, and he appointed Shadrach, Meshach and Abednego over the affairs of the province of Babylon, while Daniel remained in the court of the king.
</p>

<div class="sidenote left">Daniel 3:1 <br>to Daniel 3:18</div>

<h3>The Faithfulness of Three Young Israelites and God’s Deliverance</h3>

<p>
Nebuchadnezzar the king made a statue of gold. Its height was sixty cubits and its width was six cubits; he set it up in the valley of Dura in the province of Babylon.
Then Nebuchadnezzar the king sent directions to assemble the satraps, the prefects, and the governors, the counselors, the treasurers, the judges, the magistrates and all of the officials of the provinces to come to the dedication of the statue that Nebuchadnezzar the king had set up.
Then the satraps, the prefects, the governors, the counselors, the treasurers, the judges, the magistrates, and all the officials of the province were assembled for the dedication of the statue that Nebuchadnezzar the king had set up, and were standing before the statue that Nebuchadnezzar had set up.
Then the herald proclaimed aloud, 'To you it is commanded, O peoples, nations and people of all languages,
that at the time that you hear the sound of the horn, the flute, the lyre, the trigon, the harp, the drum and all kinds of music, you must fall down and you must worship the statue of gold that Nebuchadnezzar the king has set up.
And whoever does not fall down and worship will be thrown immediately into the midst of the furnace of blazing fire.'
Therefore, at that time, as soon as all the peoples heard the sound of the horn, the flute, the lyre, the trigon, the harp and all kinds of music, all the peoples, the nations and people of all languages were falling down and were worshiping the statue of gold that Nebuchadnezzar the king had set up.
</p>

<div class="sidenote">Daniel 3:8</div>

<p>
Therefore at this time some astrologers came forward and they denounced the Jews.
They responded and said to Nebuchadnezzar the king, 'O king, may you live forever!
You, O king, have made a decree that everyone who hears the sound of the horn, the flute, the lyre, the trigon, the harp and the drum and all kinds of music, he shall fall down and shall worship the statue of gold.
And whoever does not fall down and worship shall be thrown into the midst of the furnace of blazing fire.
However there are Judean men whom you have appointed over the affairs of the province of Babylon Shadrach, Meshach, and Abednego these men, O king, pay you no heed and were not serving your god, and the statue of gold that you set up they are not worshiping.'
</p>

<div class="sidenote">Daniel 3:13</div>

<p>
Then Nebuchadnezzar said in rage and anger to bring in Shadrach, Meshach and Abednego; then they brought in these men before the king.
Nebuchadnezzar answered and said to them, 'Is it true, Shadrach, Meshach and Abednego, that you are not serving my god, and you are not worshiping the statue of gold that I have set up?
Now if you are ready so that when you hear the sound of the horn, the flute, the lyre, the trigon, the harp and the drum and all kinds of music, you fall down and you worship the statue that I have made, that will be good. But if you do not worship it, immediately you will be thrown into the midst of the furnace of blazing fire, and who is the god who will rescue you from my hands?'
</p>

<div class="sidenote">Daniel 3:16</div>

<p>
Shadrach, Meshach and Abednego answered and said to the king, Nebuchadnezzar, 'We have no need on this matter to present a defense to you.
If it is so, our God, whom we serve, is able to rescue us from the furnace of blazing fire. And from your hand, O king, let him rescue us.
And if not, let it be known to you, O king, that we will not serve your gods, and the statue of gold that you have set up we will not worship.'
</p>

<div class="sidenote left">Daniel 3:19 <br>to Daniel 3:27</div>

<h3>The Wrath of the King and His Fiery Furnace of Death</h3>

<p>
Then Nebuchadnezzar was filled with anger and the image of his face was changed toward Shadrach, Meshach and Abednego, so he ordered and said to heat up the one furnace seven times what was usual to heat it up.
And he commanded the strongest men of the guards who were in his army to bind Shadrach, Meshach and Abednego and to throw them into the furnace of blazing fire.
Then these men were bound with their garments, their trousers and their turbans and their other clothing, and they were thrown into the midst of the furnace of blazing fire.
Therefore because the word of the king was severe and the furnace was exceedingly hot, the flame of the fire killed these men who lifted up Shadrach, Meshach and Abednego.
But these men, the three of them, Shadrach, Meshach and Abednego, fell down into the midst of the furnace of blazing fire, and they were bound.
</p>

<div class="sidenote">Daniel 3:24</div>

<p>
Then Nebuchadnezzar the king was astonished, and he rose up in haste and he asked, saying to his advisers, 'Did we not throw three men, bound, into the midst of the fire? They answered, saying to the king, 'Certainly, O king!'
He answered, saying, 'Look, I see four men unbound walking in the midst of the fire and there is no damage to them, and the appearance of the fourth man resembles the son of a god.'
Then Nebuchadnezzar approached the door of the furnace of blazing fire, and he called out, saying, 'Shadrach, Meshach and Abednego, servants of the Most High God, come out and come here!'
And the satraps, the prefects, the governors and the advisors of the king were assembling, and they saw these men, that the fire had no power over their bodies, and the hair of their heads was not singed, and their garments were not harmed, and the smell of fire did not come from them.
</p>

<div class="sidenote left">Daniel 3:28 <br>to Daniel 3:30</div>

<h3>The King’s Praise for the Great Deliverance of the Three Young Israelites</h3>

<p>
Nebuchadnezzar responded, saying, 'Blessed be their God, the God of Shadrach, Meshach and Abednego, who sent his angel and rescued his servants who trusted in him, and the command of the king they disobeyed, and they gave their bodies so that they did not serve and did not worship any god except their God.
And from me is set forth a decree that any people, nation, or language that may utter criticism against their God the God of Shadrach, Meshach and Abednego will be broken into pieces and their house will be made like ruins. For there is not another God who is able to rescue like this God.'
Then the king promoted Shadrach, Meshach and Abednego in the province of Babylon.
</p>

<div class="sidenote left">Daniel 4:1 <br>to Daniel 4:3</div>

<h3>Nebuchadnezzar Declares What the Most High God Has Done for Him</h3>

<p>
Nebuchadnezzar the king to all of the nations, the peoples and languages that live in the whole earth: 'May your prosperity increase!
It is pleasing to me to recount the signs and wonders that the Most High God worked for me.
How great are his signs and wonders, how strong is his kingdom, an everlasting kingdom; and his sovereignty is from generation to generation.
</p>

<div class="sidenote left">Daniel 4:4 <br>to Daniel 4:18</div>

<h3>The Dream and the King’s Search for an Interpreter</h3>

<p>
'I, Nebuchadnezzar, was content in my house and prospering in my palace.
And I saw a dream and a revelation on my bed and it frightened me, and the visions of my head terrified me.
And a decree was sent out, ordering that all the wise men of Babylon were to be brought in before me so that they may make known to me the explanation of the dream.
Then the magicians, the conjurers, the astrologers and the diviners came in and I told them the dream, but they could not make known to me its explanation.
Then at last Daniel came before me whose name was Belteshazzar, according to the name of my god, and in whom was the spirit of the holy gods, and I related the dream to him.
</p>

<div class="sidenote">Daniel 4:9</div>

<p>
O Belteshazzar, chief of the magicians, I myself know that the spirit of the holy gods is in you, and no mystery is too difficult for you. Now tell me the visions of my dream that I saw, and its explanation.
Now these were the visions of my head as I was lying on my bed: I was gazing and, look, a tree was in the midst of the earth, and its height was exalted.
</p>

<div class="sidenote">Daniel 4:11</div>

<p>
The tree grew and it became strong, and its height reached to heaven, and it was visible to the end of the whole earth.
Its foliage was beautiful, and its fruit abundant, and in it was provision for all. Under it the animals of the field sought shade, and in its branches the birds of heaven nested, and from it all the living beings were fed.
</p>

<div class="sidenote">Daniel 4:13</div>

<p>
I was looking in the vision of my head as I lay on my bed, and look, a watcher, and a holy one, came down from heaven.
He cried aloud and so he said:
</p>

<div class="sidenote">Daniel 4:15</div>

<p>
But the stump of its roots leave in the earth, along with a band of iron and bronze; leave it in the grass of the field. And in the dew of heaven let it be watered, and with the animals let his lot be in the grass of the earth.
Let his mind be changed from that of a human, and let the mind of an animal be given to him, and let seven times pass over him.
</p>

<div class="sidenote">Daniel 4:17</div>

<p>
The sentence is by the decree of the watchers, and the decision by the command of the holy ones, in order that the living will know that the Most High is sovereign over the kingdom of humankind, and to whomever he wills he gives it, and he even sets the humblest of men over it.'
</p>

<div class="sidenote">Daniel 4:18</div>

<p>
This is the dream that I, Nebuchadnezzar the king, saw. Now you, Belteshazzar, declare its explanation, for all of the wise men of my kingdom were not able to make the explanation known to me, but you are able because the spirit of holy gods is in you.'
</p>

<div class="sidenote left">Daniel 4:19 <br>to Daniel 4:27</div>

<h3>Daniel Relates and Interprets the Dream</h3>

<p>
'Then Daniel, whose name was Belteshazzar, was distressed for some time, and his thoughts disturbed him. The king answered and he said, 'Belteshazzar, let the dream and its explanation not disturb you.' Belteshazzar answered and said, 'My lord, may the dream and its explanation be for those who hate you and for your enemies.
The tree that you saw, which grew and became strong and its height reached to heaven and it was visible to the end of the whole earth,
and its foliage was beautiful and its fruit abundant, and so there was provision for all in it, and the animals of the field lived under it and in its branches nest the birds of heaven,
it is you, O king, who have grown great and you have grown strong, and so your greatness has increased and it has reached to heaven and your sovereignty to the end of the earth.
And inasmuch that the king saw the watcher, a holy one coming down from heaven and he said, 'Cut down the tree and destroy it, but the stump of its root in the earth leave with a band of iron and bronze in the grass of the field, and let it be watered with the dew of heaven and let his lot be with the animals of the field until seven times have passed over him.'
This is the explanation, O king, and it is a decree of the Most High that has come upon my lord the king:
you will be driven away from human society and you will dwell with the animals of the field, and you will be caused to graze grass like the oxen yourself, and you will be watered with the dew of heaven, and seven periods of time will pass over you until that you have acknowledged that the Most High is sovereign over the kingdom of humankind, and to whom he wills he gives it.
And in that they said to leave alone the stump of the tree's root, so your kingdom will be restored for you when you acknowledge that heaven is sovereign.
Therefore, O king, let my advice be acceptable to you and your sin remove with righteousness and your iniquity with having mercy on the oppressed, in case there might be a prolongation of your prosperity.''
</p>

<div class="sidenote left">Daniel 4:28 <br>to Daniel 4:33</div>

<h3>God Judges the King for His Hubris</h3>

<p>
All this happened to Nebuchadnezzar the king.
At the end of twelve months he was walking on the roof of the royal palace of Babylon.
And the king answered and said, 'Is this not the great Babylon which I have built as a royal palace by the strength of my own power, and for the glory of my own majesty?'
While the words were still in the mouth of the king, a voice from heaven came, saying, 'To you, King Nebuchadnezzar, it is declared that the kingdom has departed from you,
and you will be driven away from human society and your dwelling will be with the animals of the field and they will cause you to graze the grass like oxen, and seven times will pass over you, until you acknowledge that the Most High is sovereign over the kingdom of humankind and that he gives it to whom he wills.'
Immediately the word was fulfilled concerning Nebuchadnezzar, and he was expelled from human society and he ate grass like oxen, and his body was bathed with the dew of heaven until his hair was like the hair of an eagle and his nails grew like a bird's claws.
</p>

<div class="sidenote left">Daniel 4:34 <br>to Daniel 4:37</div>

<h3>The King Praises and Extols the Most High God</h3>

<p>
'But at the end of that period, I, Nebuchadnezzar, lifted up my eyes to heaven, and then my reason returned to me; and I blessed the Most High and the one who lives forever I praised and I honored.
</p>

<div class="sidenote">Daniel 4:35</div>

<p>
And all the dwellers of the earth are regarded as nothing, and he does according to his desire in the host of heaven and among the dwellers of earth, and there is not one who can hold back his hand, or ask him, 'What are you doing?'
</p>

<div class="sidenote">Daniel 4:36</div>

<p>
'At that time my reason returned to me, and also the glory of my kingdom and my majesty and splendor returned to me, and my advisers and my lords searched me out, and I was established over my kingdom and abundant greatness was added to me.
Now I, Nebuchadnezzar, praise and exalt and honor the king of heaven, for all his works are truth, and his ways are justice and that he is able to humble those who walk in pride.'
</p>

<div class="sidenote left">Daniel 5:1 <br>to Daniel 5:12</div>

<h3>The Mysterious Writing on the Wall</h3>

<p>
Belshazzar the king made a great festival for a thousand of his lords, and in the presence of the thousand lords he was drinking wine.
When he tasted the wine, Belshazzar commanded that they bring the vessels of gold and silver that Nebuchadnezzar his predecessor had taken from the temple that was in Jerusalem, so that the king and his lords, his wives and his concubines may drink from them.
Then they brought in the vessels of gold that they took from the temple, the house of God that was in Jerusalem, and the king and his lords, his wives and his concubines drank from them.
They drank the wine and praised the gods of gold and silver, bronze, iron, wood and stone.
</p>

<div class="sidenote">Daniel 5:5</div>

<p>
Immediately human fingers appeared and they wrote opposite the lampstand on the plaster of the wall of the palace of the king, and the king was watching the palm of the hand that was writing.
Then his face changed and his thoughts terrified him, and his hip joints gave way and his knees knocked together.
The king cried aloud to bring in the conjurers, the astrologers and the diviners; the king spoke and said to the wise men of Babylon, 'Any man that can read this writing and can tell me its explanation will be clothed in purple and will have a necklace of gold hung around his neck and he will rule as third in authority in the kingdom.'
Then all the wise men of the king came in, but they were not able to read the writing or to make known its explanation.
Then the king, Belshazzar, became greatly terrified, and his facial features changed upon him, and his lords were perplexed.
</p>

<div class="sidenote">Daniel 5:10</div>

<p>
Because of the words of the king and his lords, the queen came into the banqueting hall and the queen spoke up and said, 'O king, live forever, and let not your thoughts terrify you and do not let your facial expressions grow pale.
There is a man in your kingdom who has the spirit of the holy gods in him. And in the days of your predecessor, enlightenment and insight and wisdom like the wisdom of the gods was found in him; and, O king, Nebuchadnezzar your predecessor appointed him as chief of the magicians, the conjurers, the astrologers, and the diviners. Your predecessor the king did this
because there was found in him an excellent spirit and understanding and insight for interpreting dreams and explaining riddles and solving riddles; that is, in Daniel whom the king named Belteshazzar. Now, let Daniel be called and he will tell the explanation.'
</p>

<div class="sidenote left">Daniel 5:13 <br>to Daniel 5:31</div>

<h3>Daniel Deciphers and Interprets the Writing</h3>

<p>
Then Daniel was brought in before the king, and the king spoke and said to Daniel, 'You are Daniel who are one of the exiles of Judah whom my predecessor, the king, brought from Judah.
And I have heard that a spirit of the gods is in you and enlightenment and insight and excellent wisdom was found in you.
And now the wise men and the conjurers were brought in before me so that they could read this writing in order to make its explanation known to me, but they were not able to disclose the explanation of the matter.
But I have heard concerning you that you are able to produce interpretations and to solve riddles; now if you are able to read the writing and to make known its explanation to me, you will be clothed in purple and a necklace of gold will be placed around your neck and you will rule as third in command in the kingdom.'
</p>

<div class="sidenote">Daniel 5:17</div>

<p>
Then Daniel answered and said before the king, 'Let your gifts be for yourself or your rewards give to another; nevertheless, I will read the writing to the king and I will make known to him the explanation.
O king, the Most High God gave the kingdom and the greatness and the glory and the majesty to Nebuchadnezzar your predecessor.
And because of the greatness that he gave to him, all the peoples, the nations and languages trembled and feared before him; whomever he wanted he killed, and whomever he wanted he let live, and whomever he wanted he honored, and whomever he wanted he humbled.
But when his heart became arrogant and his spirit became hard so as to act proudly, he was deposed from the throne of his kingdom and the glory was taken away from him.
And he was driven away from human society and his mind was made like the animals and his dwelling was with the wild asses; and he was given grass like oxen to eat, and with the dew of heaven his body was bathed, until he acknowledged that the Most High God is sovereign over the kingdom of humankind, and whoever he wants he sets over it.
</p>

<div class="sidenote">Daniel 5:22</div>

<p>
'But you his successor, Belshazzar, have not humbled your heart even though you knew all this.
And now you have exalted yourself against the Lord of heaven, and the vessels of his temple you have brought in before you, and you and your lords, your wives and your concubines, have been drinking wine from them, and you have praised the gods of silver, gold, bronze, iron, wood, and stone that do not see and do not hear and do not know, but the God who holds your life in his hand and all of your ways come from him, you have not honored.
So then the palm of the hand was sent out from his presence and this writing was inscribed.
</p>

<div class="sidenote">Daniel 5:25</div>

<p>
'Now this was the writing that was inscribed: 'Mene, Mene, Tekel and Parsin.'
</p>

<div class="sidenote">Daniel 5:26</div>

<p>
'This is the explanation of the matter: 'Mene' God has numbered your kingdom and brought an end to it.
</p>

<div class="sidenote">Daniel 5:27</div>

<p>
Tekel' you have been weighed on scales and you have been found wanting.
</p>

<div class="sidenote">Daniel 5:28</div>

<p>
Peres' your kingdom has been divided and given to the Medes and Persians.''
</p>

<div class="sidenote">Daniel 5:29</div>

<p>
Then Belshazzar commanded, and they clothed Daniel with purple and placed a necklace of gold around his neck, and they made a proclamation concerning him that he would be the third ruler in authority in the kingdom.
That same night Belshazzar, the Chaldean king, was killed.
And Darius the Mede received the kingdom when he was about sixty-two years old.
</p>

<div class="sidenote left">Daniel 6:1 <br>to Daniel 6:12</div>

<h3>Daniel’s Integrity and His Entrapment by His Enemies</h3>

<p>
It pleased Darius, and he set up one hundred and twenty satraps over the kingdom, that they were throughout the whole kingdom,
and over them were three administrators, of whom Daniel was one, so that these satraps were giving account to them, and the king would not be suffering loss.
Then Daniel began distinguishing himself above the administrators and the satraps because an exceptional spirit was in him, and so the king planned to appoint him over the whole kingdom.
Then the other administrators and satraps began to seek to find a pretext against Daniel in connection with the kingdom, but they were not able to find any pretext and corruption because he was trustworthy, and no negligence or corruption could be found in him.
Then these men said, 'We will not find any pretext against this Daniel unless we find it in connection with the law of his God.'
</p>

<div class="sidenote">Daniel 6:6</div>

<p>
So the administrators and the satraps conspired with respect to the king and so they said to him, 'Darius, O king, live forever!
All of the administrators of the kingdom, and the prefects, the satraps, the counselors and the governors took counsel and have agreed to establish an edict of the king and to enforce a decree that whoever will seek a prayer from any god or human except from you for up to thirty days will be thrown into the lion pit.
Now, O king, establish the edict and you must sign the document so that it cannot be changed, according to the law of the Medes and Persians which cannot be revoked.'
</p>

<div class="sidenote">Daniel 6:9</div>

<p>
So the king, Darius, signed the writing and the interdict.
Now when Daniel realized that the document was signed, he went to his house (now he had windows in his upper room that were open toward Jerusalem), and three times daily he knelt on his knees and prayed and gave praise before his God, just as he had been doing previously.
Then these men came as a group and they found Daniel praying and pleading for mercy before his God.
Then they approached and spoke with the king concerning the edict of the king, 'Did you not sign an edict that any person who would seek anything from any God or human within thirty days except from you, O king, would be thrown into the lion pit?' The king answered and said, 'The matter as you have just stated is certain according to the law of the Medes and Persians which cannot be revoked.'
</p>

<div class="sidenote left">Daniel 6:13 <br>to Daniel 6:24</div>

<h3>God’s Miraculous Deliverance of Daniel Again</h3>

<p>
Then they responded and said before the king, 'Daniel, who is from the exiles of Judah, is not paying any attention to you, O king, or to the decree that you have signed, and three times daily he says his prayer.'
Then the king, when he heard that report, he was extremely distressed over it; and concerning Daniel he was determined to rescue him. And until the setting of the sun he was making every effort to deliver him.
Then these men came as a group to the king and said, 'Recall, O king, that with respect to the law of the Medes and Persians that any decree or edict that the king establishes cannot be changed.'
</p>

<div class="sidenote">Daniel 6:16</div>

<p>
Then the king gave the command, and Daniel was brought in and they threw him into the lion pit. The king said to Daniel, 'Your God, whom you serve faithfully, may he rescue you!'
And a stone was brought and it was put on the entrance of the pit, and the king sealed it with his signet ring and with the signet rings of his lords, so that nothing would be changed concerning Daniel.
Then the king went to his palace and spent the night in fasting, and no food was brought in before him and his sleep fled from him.
</p>

<div class="sidenote">Daniel 6:19</div>

<p>
Then the king got up at daybreak, at first light, and he went in haste to the lion pit.
And when he came near to the pit, he cried out to Daniel with a distressed voice, and the king spoke and said to Daniel, 'O Daniel, servant of the living God, your God whom you serve faithfully, was he able to rescue you from the lions?'
Then Daniel spoke to the king, 'O king, live forever!
My God sent his angel and he shut the mouth of the lions and they did not hurt me, because before him I was found blameless, and also before you, O king, I have not done any wrong.'
</p>

<div class="sidenote">Daniel 6:23</div>

<p>
Then the king was exceedingly glad over it and commanded that Daniel be lifted up from the pit; and there was not any wound found on him, because he had trusted in his God.
The king then commanded, and these men were brought who had accused Daniel, and they threw them and their children and their wives into the lion pit, and they had not reached the floor of the pit before the lions had overpowered them and they had crushed all of their bones.
</p>

<div class="sidenote left">Daniel 6:25 <br>to Daniel 6:28</div>

<h3>The King Praises the God of Daniel and Daniel Prospers</h3>

<p>
Then Darius the king wrote to all the people, the nations, and the languages living in the whole earth, 'May your prosperity become great!
I make a decree that in all the dominion of my kingdom people will be trembling and fearing before the God of Daniel, for he is the living God and endures forever and his kingdom is one that will not be destroyed and his dominion has no end.
He is rescuing, delivering, and working signs and wonders in the heavens and on earth, for he has rescued Daniel from the power of the lions.'
So this Daniel prospered during the kingdom of Darius and during the kingdom of Cyrus the Persian.
</p>

<div class="sidenote left">Daniel 7:1 <br>to Daniel 7:14</div>

<h3>Daniel’s Vision of Four Beasts and the Son of Man</h3>

<p>
In the first year of Belshazzar the king of Babylon, Daniel saw a dream and visions of his head as he lay on his bed; then he wrote down the dream and the summary of the words as follows:
Daniel explained and said, 'I was looking in my vision in the night, and look, the four winds of heaven were stirring up the great sea.
And four great beasts were coming up from the sea, differing from one another.
The first was like a lion and had the wings of an eagle. I was watching until its wings were plucked off, and it was lifted up from the earth and it was raised on its feet like a human, and a human heart was given to it.
And look, another beast, a second one, looking like a bear. And it was raised up on one side and three tusks were in its mouth between its teeth, and so it was told, 'Arise, eat much flesh!'
After this I was watching and look, another beast like a leopard; it had four wings of a bird on its back, and the beast had four heads, and dominion was given to it.
After this in the visions of the night I was looking and there was a fourth beast, terrifying and frightful and exceedingly strong, and it had great iron teeth, and it was devouring and crushing, and it stamped the remainder with its feet; and it was different from all the other beasts that preceded it and it had ten horns.
I was considering the horns, and look, another little horn came up among them, and three of the earlier horns were rooted out from before it, and there were eyes like the eyes of a human in this horn and also a mouth that was speaking boastfully.
</p>

<div class="sidenote">Daniel 7:9</div>

<p>
'I continued watching until thrones were placed and an Ancient of Days sat; his clothing was like white snow and the hair of his head was like pure wool and his throne was a flame of fire and its wheels were burning fire.
A stream of fire issued forth and flowed from his presence; thousands upon thousands served him and ten thousand upon ten thousand stood before him. The judge sat, and the books were opened.
</p>

<div class="sidenote">Daniel 7:11</div>

<p>
'I continued watching then because of the noise of the boastful words of the horn who was speaking; I continued watching until the beast was slain and its body was destroyed, and it was given over to burning with fire.
And as for the remainder of the beasts, their dominion was taken away, but a prolongation of their life was given to them for a season and a time.
</p>

<div class="sidenote">Daniel 7:13</div>

<p>
'I continued watching in the visions of the night, and look, with the clouds of heaven one like a son of man was coming, and he came to the Ancient of Days, and was presented before him.
And to him was given dominion and glory and kingship that all the peoples, the nations, and languages would serve him; his dominion is a dominion without end that will not cease, and his kingdom is one that will not be destroyed.
</p>

<div class="sidenote left">Daniel 7:15 <br>to Daniel 7:28</div>

<h3>Daniel Explains and Interprets the Vision</h3>

<p>
'As for me, Daniel, my spirit was troubled within me, and the visions of my head terrified me.
So I approached one of the attendants and I asked him about the truth concerning all this; and he told me that he would make known to me the explanation of the matter.
'These great beasts which are four in number are four kings who will arise from the earth.
But the holy ones of the Most High will receive the kingdom, and they will take possession of the kingdom forever, forever and ever.'
</p>

<div class="sidenote">Daniel 7:19</div>

<p>
'Then I desired to make certain concerning the fourth beast that was different from all the others exceedingly terrifying, with its iron teeth and its claws of bronze; it devoured and crushed and stamped the remainder with its feet
and concerning the horns that were on its head, and concerning the other horn that came up and before which three horns fell, and this horn had eyes and a mouth speaking boastfully, and its appearance was larger than its companions.
I continued watching, and this horn made war with the holy ones and it prevailed over them,
until the Ancient of Days came and gave judgment to the holy ones of the Most High; and the time arrived and the holy ones took possession of the kingdom.
</p>

<div class="sidenote">Daniel 7:23</div>

<p>
'And he said, 'The fourth beast is the fourth kingdom that will be on the earth that will be different from all the other kingdoms, and it will devour the whole earth and it will trample it and it will crush it.
And as for the ten horns coming from it, from this kingdom ten kings will arise, and another will arise after them. And he will be different from the earlier ones, and he will subdue three kings.
And he will speak words against the Most High, and he will wear out the holy ones of the Most High, and he will attempt to change times and law, and they will be given into his hand for a time and two times and half a time.
Then the court will sit, and his dominion will be removed, to be eradicated and to be destroyed totally.
And the kingdom and the dominion and the greatness of the kingdoms under the whole heaven will be given to the nation of the holy ones of the Most High; his kingdom is an everlasting kingdom, and all the dominions will serve and obey him.'
</p>

<div class="sidenote">Daniel 7:28</div>

<p>
This is the end of the account. As for me, Daniel my thoughts terrified me greatly and my face changed over me, but I kept the matter in my heart.'
</p>

<div class="sidenote left">Daniel 8:1 <br>to Daniel 8:14</div>

<h3>The Vision of a Small Horn that Oppresses Israel and Threatens the Temple</h3>

<p>
In the third year of the kingdom of Belshazzar the king, a vision appeared to me, Daniel, after the one that appeared to me previously.
And I saw in the vision, and when I saw, I was in Susa, the citadel that was in the province of Elam. And I saw in the vision, and I myself was at the stream of Ulai.
And I lifted up my eyes and I saw, and look! A ram standing before the stream, and it had two horns, and the horns were long, but the one was longer than the second, and the longer one came up after the other one.
I saw the ram charging westward and northward and southward, and none of the beasts stood before it, and there was no rescuing from its power, and it did what it wanted and it became strong.
</p>

<div class="sidenote">Daniel 8:5</div>

<p>
And I was considering this, and look, a he-goat coming from the west across the face of the whole earth, and it was not touching the ground; and the he-goat had a conspicuous horn between its eyes.
Then it came toward the ram that had the two horns that I saw standing before the stream, and it ran at it with the rage of its power.
And I saw it approaching the ram and it was furious at it, and it struck the ram, and it broke its two horns, and there was not strength in the ram to stand before him, and he threw it down to the ground and trampled it, and there was no one who could rescue the ram from its power.
And the he-goat grew exceedingly great, and at the height of its power the great horn was broken, and four conspicuous horns came up in place of it toward the four winds of heaven.
</p>

<div class="sidenote">Daniel 8:9</div>

<p>
And from one of them came forth a horn, a little one, and it grew exceedingly toward the south, and toward the east, and toward the beautiful land.
And it grew up to the host of heaven, and it threw down to the ground some of the host and some of the stars and trampled them.
Even against the prince of the hosts it acted arrogantly and took away from him the regular burnt offering, and the place of his sanctuary was overthrown.
And on account of transgression, the host was given over to the horn in addition to the regular burnt offering. And it cast down truth to the ground, and it acted, and it had success.
</p>

<div class="sidenote">Daniel 8:13</div>

<p>
And I heard a certain holy one speaking, and a certain other holy one said to the specific one who was speaking, 'For how long is the vision concerning the regular burnt offering, and the transgression that makes desolate, and the giving over of the sanctuary and the host to trampling?'
And he said to me, 'For two thousand three hundred evenings and mornings, then the sanctuary will be restored.'
</p>

<div class="sidenote left">Daniel 8:15 <br>to Daniel 8:27</div>

<h3>Gabriel Gives Angelic Help and Interprets the Vision</h3>

<p>
And then when I, Daniel, saw the vision, and I was seeking understanding, there was one standing before me with the appearance of a man.
And I heard the voice of a human at the Ulai, and he called and said, 'Gabriel, make this man understand the vision.'
And he came beside where I was standing, and when he came I became terrified and I fell prostrate on my face. And he said to me, 'Understand, son of man, that the vision is for the time of the end.'
</p>

<div class="sidenote">Daniel 8:18</div>

<p>
And when he spoke with me I fell into a trance with my face to the ground, and he touched me and made me stand on by feet.
And he said, 'Look, I am making known to you what will happen in the period of wrath, for it refers to the appointed time of the end.
</p>

<div class="sidenote">Daniel 8:20</div>

<p>
'The ram that you saw who had two horns represents the kings of Media and Persia.
</p>

<div class="sidenote">Daniel 8:21</div>

<p>
'And the hairy he-goat is the kingdom of Greece, and the great horn that is between his eyes he is the first king.
And the horn that was broken, and then there arose four horns in place of it these are four kingdoms that will arise from his nation, but not with his power.
And at the end of their kingdom, when the transgressions are completed, a king will arise, fierce in countenance and skilled in riddles.
And his power will grow, but not by his own power, and he will cause fearful destruction, and he will succeed and he will act, and he will destroy the mighty and the people of the holy ones.
And by his planning he will make a success of deceit by his hand, and in his mind he will boast, and in their ease he will destroy many, and even against the prince of princes he will rise up, and he will be broken, but not by human hands.
And the vision of the evening and the morning that has been described, it is true; and you, seal up the vision, for it refers to many days to come.'
</p>

<div class="sidenote">Daniel 8:27</div>

<p>
And I, Daniel, was overcome, and I became ill for some days, and I performed the business of the king, and I was dismayed over the vision and I did not understand it.
</p>

<div class="sidenote left">Daniel 9:1 <br>to Daniel 9:19</div>

<h3>Daniel’s Prayer for His People</h3>

<p>
In the first year of Darius, the son of Ahasuerus, from the offspring of the Medes, who became king over the kingdom of the Chaldeans
in the first year of his kingship I, Daniel, observed in the scrolls the number of the years that it was that were to be fulfilled according to the word of the LORD to Jeremiah the prophet for the devastation of Jerusalem seventy years.
</p>

<div class="sidenote">Daniel 9:3</div>

<p>
Then I turned my face to the Lord God to seek him by prayer and pleas for mercy, in fasting and in sackcloth and ashes.
And I prayed to the LORD my God, and I made confession and I said, 'O Lord, the great and awesome God, keeping the covenant and loyal love with those who love him and with those who keep his commandments,
we have sinned and we have done wrong and we acted wickedly and we rebelled and have been turning aside from your commandments and from your ordinances.
We have not listened to your servants the prophets, who spoke in your name to our kings, our princes and our ancestors and to all the people of the land.
</p>

<div class="sidenote">Daniel 9:7</div>

<p>
'Righteousness belongs to you, O Lord, and on us is open shame, just as it is this day to the people of Judah and to the inhabitants of Jerusalem and to all Israel, those who are near and those who are far off in all the lands to which you have driven them, because of their infidelity which they displayed against you.
the LORD, on us is open shame, on our kings, on our princes, and on our ancestors, because we have sinned against you.
Compassion and forgiveness belong to the Lord, our God, for we have rebelled against him,
and we have not listened to the voice of the LORD our God, by following his law which he placed before us by the hand of his servants the prophets.
</p>

<div class="sidenote">Daniel 9:11</div>

<p>
'And all Israel transgressed your law and turned aside so as not to listen to your voice, and so the curse and the oath which was written in the law of Moses, the servant of God, has been poured out upon us, because we have sinned against him.
And so he has carried out his words which he spoke against us and against our rulers who ruled us, to bring upon us a great calamity which was not done under all of heaven as it was done in Jerusalem.
Just as it is written in the law of Moses, all of this calamity has come upon us, and we have not implored the face of the LORD our God so as to turn from our iniquities and to attend closely to your faithfulness.
So the LORD has kept watch over the calamity, and now he has brought it upon us. Indeed, the LORD our God is righteous concerning all his works that he has done, but we have not listened to his voice.
</p>

<div class="sidenote">Daniel 9:15</div>

<p>
'And now, Lord our God, who have brought your people out from the land of Egypt with a strong hand, and you have made for yourself a name until this day we have sinned, we have acted wickedly.
Lord, according to all your righteousness, please let your anger and your rage turn away from your city Jerusalem, your holy mountain, because through our sins and through the iniquities of our ancestors Jerusalem and your people have become an object of mockery among all of our neighbors.
</p>

<div class="sidenote">Daniel 9:17</div>

<p>
'And now, listen to the prayer of your servant and to his pleas for mercy. Shine your face upon your desolate sanctuary for your sake, O Lord.
Incline your ear, my God, and listen; open your eyes and look at our desolation and the city that is called by your name, for we are not presenting our pleas for mercy before you because of our righteousness, but rather because of your great compassion.
Lord, listen! Lord, forgive! Lord, pay heed and act! You must not delay for your sake, my God; because your city and your people are called by your name.'
</p>

<div class="sidenote left">Daniel 9:20 <br>to Daniel 9:23</div>

<h3>Gabriel’s Announcement and Presentation of the Seventy Sets of Seven</h3>

<p>
Now I was still speaking and praying, and confessing my sin and the sin of my people Israel, and presenting my plea before the LORD my God, on behalf of the holy mountain of my God.
And I was still speaking in prayer, and the man Gabriel, whom I had seen in the vision previously, in my weariness touched me at the time of the evening offering.
And he instructed me and he spoke with me and he said, 'Daniel I have now come out to teach you understanding.
At the beginning of your pleas for mercy, a word went out, and now I have come to declare it, for you are highly esteemed, and so consider the word and understand the vision.
</p>

<div class="sidenote left">Daniel 9:24 <br>to Daniel 9:27</div>

<h3>The Seventy Sets of Seven Detailed</h3>

<p>
'Seventy weeks is decreed for your people and for your holy city, to put an end to the transgression and to seal up sin and to make atonement for guilt and to bring in everlasting righteousness and to seal vision and prophet and to anoint the most holy place.
And you must know and you must understand that from the time of the going out of the word to restore and build Jerusalem until an anointed one a leader will be seven weeks and sixty-two weeks; it will be restored and will be built with streets and a moat, but in a time of oppression.
</p>

<div class="sidenote">Daniel 9:26</div>

<p>
'And after the sixty and two weeks an anointed one shall be cut off, and he shall have nothing, and the people of the coming leader will destroy the city and the sanctuary, and its end will be with the flood and on to the end there shall be war; these desolations are determined.
And he will make a strong covenant with the many for one week, but in half of the week he will let cease sacrifice and offering and in its place a desolating abomination comes even until the determined complete destruction is poured out on the desolator.'
</p>

<div class="sidenote left">Daniel 10:1 <br>to Daniel 10:21</div>

<h3>Daniel’s Vision of a Dazzling Heavenly Messenger</h3>

<p>
In the third year of Cyrus the king of the Persians, a word was revealed to Daniel, who was called by his name Belteshazzar, and the word was reliable and it concerned a great tribulation, and he understood the word and he received understanding.
</p>

<div class="sidenote">Daniel 10:2</div>

<p>
In those days, I, Daniel, I myself was in mourning for three whole weeks.
I had not eaten any choice food, and meat and wine did not enter my mouth, and I did not use any ointment until the end of three whole weeks.
And then on the twenty-fourth day of the first month, I myself was on the bank of the great river; that is, the Tigris.
And I lifted up my eyes and I saw, and there was a man, and he was dressed in linen, and his waist was girded with the gold of Uphaz.
Now his body was like turquoise, and his face was like the appearance of lightning, and his eyes were like torches of fire, and his arms and his legs were like the gleam of polished bronze, and the sound of his words was like the sound of a multitude.
And I saw, I, Daniel alone, the vision; and the people who were with me did not see the vision; nevertheless, a great trembling fell upon them and they fled in order to hide themselves.
And I myself, Daniel, alone saw this great vision, and as a result no strength was left in me and my complexion grew deathly pale, and I did not retain any strength.
And I heard the sound of his words, and when I heard the sound of his words I myself began falling into a trance on my face, with my face to the ground.
</p>

<div class="sidenote">Daniel 10:10</div>

<p>
And look, a hand touched me and it roused me to my knees and the palms of my hands.
And he said to me, 'Daniel, a man beloved, pay attention to the words that I am speaking to you and stand upright where you are, for I have now been sent to you.' And while he was speaking with me this word, I stood up trembling.
And he said to me, 'You must not fear, Daniel, for from the first day that you set your heart to understand and to humble yourself before your God, your words were heard, and I myself have come because of your words.
But the prince of the kingdom of Persia stood before me for twenty-one days. And look, Michael, one of the chief princes, came to assist me, and I left him there beside the king of the Persians.
And I have come to instruct you about what will happen to your people in the future, for there is a further vision here for the future.
</p>

<div class="sidenote">Daniel 10:15</div>

<p>
And while he was speaking with me according to these words, I turned my face toward the ground and I was speechless.
Then look, there was one in the form of a human; he touched my lips and I opened my mouth and I spoke and I said to the one standing before me, 'My lord, because of the vision my anxieties fell upon me and I have not retained my strength.
So how am I, a servant of my lord to speak with you, my lord, and I just now have no strength in me?'
</p>

<div class="sidenote">Daniel 10:18</div>

<p>
And he again touched me, the one in the form of a human, and he strengthened me.
And he said, 'You must not fear, O beloved man. Peace be to you; be strong and be courageous!' And when he spoke with me, I was strengthened and I said, 'Let my lord speak, for you have strengthened me.'
Then he asked, 'Do you know why I have come to you? And now I return to fight against the prince of Persia and I myself am going, and look, the prince of Javan will come.
However, I will tell you what is inscribed in the book of truth, and there is not one who contends with me against these beings except Michael, your prince.'
</p>

<div class="sidenote left">Daniel 11:1 <br>to Daniel 11:45</div>

<h3>A Survey of the Kings of the North and South</h3>

<p>
'And I, in the first year of Darius the Mede, I stood as a support and as a protection for him.
</p>

<div class="sidenote">Daniel 11:2</div>

<p>
And now I will reveal the truth to you. Look! Still three kings will arise in Persia, and the fourth will get abundance and great wealth, even more than all of them, and when he becomes strong through his wealth, then he will stir up everyone against the kingdom of Javan.
And a mighty king will arise, and he will rule with great dominion, and he will do as he pleases.
But as he rises in power, his kingdom will be divided toward the four winds of heaven, but not to his posterity, and not according to his dominion by which he ruled, for his kingdom will be uprooted and be given to others besides them.
</p>

<div class="sidenote">Daniel 11:5</div>

<p>
'Then the king of the south will grow strong and also one of his officials, and he will grow stronger than him and he will rule a dominion greater than his dominion.
And at the end of some years they will make an alliance, and the daughter of the king of the south will come to the king of the north to make a peace treaty, but she will not retain her position of power, and his offspring will not endure, and she will be given up, she and her attendants and her child supporting her, in those times.
And a branch from her roots will rise up in his place, and he will come against the army and he will enter the stronghold of the king of the north and he will take action against them and he will prevail.
And also their gods with their idols and with the precious vessels, silver and gold he will take to Egypt into captivity, and for years he will leave the king of the north alone.
And then he will come into the kingdom of the king of the south, but he will return to his land.
</p>

<div class="sidenote">Daniel 11:10</div>

<p>
'But his sons will wage war and they will gather a multitude of great forces and he will advance with great force, and he will overflow like a flood and he will pass through and he will return, and they will wage war up to his fortress.
And the king of the south will become furious, and he will go and he will battle against him, against the king of the north; and he will muster a great multitude, and the multitude will be given into his hand.
When the multitude is carried off, his heart will be exalted and he will overthrow tens of thousands, but he will not prevail.
And the king of the north will again raise a multitude, greater than the former, and at the end of some years he will surely come with a great army and with great supplies.
</p>

<div class="sidenote">Daniel 11:14</div>

<p>
'And in these times many will rise up against the king of the south, and the violent ones of your people will lift themselves to fulfill the vision, but they will fall.
And the king of the north will come, and he will throw up siege ramps and capture a city of fortifications and the military forces of the south and his choice troops will not stand, for there is no strength left to resist.
And the one coming to him will act according to his pleasure, and there is no one who will stand before him, and he will stand in the beautiful land and complete destruction will be in his power.
And he will set his face to come with the authority of his whole kingdom and will form an agreement; and he will act, and the daughter of women he will give to him to destroy it, but the ploy will not succeed and she will not support him.
And he will turn his face to the coastlands, and he will capture many, but a commander will end his insults to him so that instead his insults will turn back upon him.
And he will turn back his face toward the strongholds of his land, but he will stumble and he will fall and will not be found.
</p>

<div class="sidenote">Daniel 11:20</div>

<p>
'Then in his place will arise one sending an official throughout the glory of his kingdom, and in a few days he will be broken, but not in anger and not in battle.
And in his place a despicable person will arise on whom they have not conferred the majesty of the kingdom, and he will come in without warning and he will seize the kingdom by deceit.
And before him mighty military forces will be utterly swept away, and they will be broken, and also the leader of the covenant.
And after an alliance is made with him, he will act deceitfully, and he will rise and he will become powerful with few people backing him.
In a time of ease and in the rich parts of the province, he will come and he will do what his predecessors did not do; he will distribute plunder and spoil and possessions to them, and he will devise his plans against fortifications, but only for a time.
And he will stir up his power and his heart against the king of the south and with a much greater and stronger army; but he will not succeed, for they will devise plans against him.
And those who eat of his royal rations will break him and his army will be overwhelmed, and many will fall, slain.
And two of the kings will bend their hearts to evil. And at the same table they will speak lies, but what is discussed will not succeed, for still an end is coming at the appointed time.
Then he will return to his land with many possessions, but his heart will be set against the holy covenant, and he will take action and he will return to his land.
</p>

<div class="sidenote">Daniel 11:29</div>

<p>
'At the appointed time he will return and he will come into the south, but it will not be as it was before.
And the ships of Kittim will come against him, and he will lose heart, and he will turn back, and he will be enraged against the holy covenant, and he will take action, and he will turn back, and he will pay attention to those who forsake the holy covenant.
And military forces from him will occupy and will profane the sanctuary stronghold, and they will abolish the regular burnt offering, and they will set up the abomination that causes desolation.
</p>

<div class="sidenote">Daniel 11:32</div>

<p>
'And those who violate the covenant he will seduce with flattery, but the persons who know their God will stand firm and will take action.
And those who have insight will instruct the many, but they will fall by sword and by flame, by captivity and by plunder for some time.
And when they fall they will receive little help, and many will join with them in hypocrisy.
And even some of those who have insight will fall in order for them to be refined by it, and to be purified and cleansed until the time of the end, for the appointed time is still to come.
</p>

<div class="sidenote">Daniel 11:36</div>

<p>
'Then the king will do as he pleases, and he will exalt himself and will consider himself above any god, and he will speak horrendous things against the God of gods, yet he will succeed until the period of anger is finished, for what is determined will be done.
He will not pay respect to the gods of his ancestors, or to the darling of women, and not to any god will he pay respect, for he will consider himself great over all gods.
But instead he will honor the god of fortresses, a god whom his ancestors did not know. He will honor him with gold, and with silver, and with precious stones and with costly gifts.
And he will deal with the fortified strongholds with the help of a foreign god; and he will increase wealth for whoever will acknowledge him, and he will cause them to rule over the many, and he will distribute land for a price.
</p>

<div class="sidenote">Daniel 11:40</div>

<p>
'And at the time of the end the king of the south will attack him, and the king of the north will storm against him with chariots and with horsemen and with many ships, and he will advance against the countries and he will sweep through like a flood.
And he will come into the beautiful land and many will fall victim, but these will escape from his power: Edom and Moab and the best part of the Ammonites.
And he will stretch out his hand against countries and the land of Egypt will not escape.
And he will rule over the treasures of gold and the silver and over all the precious things of Egypt; and the Libyans and the Cushites will follow in his footsteps.
But reports will terrify him from the east and from the north, and he will go out with great fury to destroy and to exterminate many.
And then he will pitch the tents of his palace between the sea and the beautiful holy mountain, and he will come to his end, and there is no one helping him.'
</p>

<div class="sidenote left">Daniel 12:1 <br>to Daniel 12:7</div>

<h3>The Time of the Judgment and the Resurrection of Two Groups</h3>

<p>
'Now at that time, Michael, the great prince, will arise, the protector over the sons of your people, and it will be a time of distress that has not been since your people have been a nation until that time. And at that time your people will escape, everyone who is found written in the scroll.
And many from those sleeping in the dusty ground will awake, some to everlasting life and some to disgrace and everlasting contempt.
But the ones having insight will shine like the brightness of the expanse, and the ones providing justice for the many will be like the stars forever and ever.
But you, Daniel, keep the words secret and seal the scroll until the time of the end; many will run back and forth and knowledge will increase.'
</p>

<div class="sidenote">Daniel 12:5</div>

<p>
Then I looked, I myself, Daniel, and look, there were two others standing: one on this bank of the stream and one on the other.
Then he said to the man who was clothed in linen who was above the water of the stream, 'How long until the end of the wonders?'
And I heard the man who was clothed in linen who was above the water of the stream, and he raised his right hand and his left hand to heaven and he swore by the one who lives forever that an appointed time, appointed times, and half an appointed time would pass when the shattering of the power of the holy people would be completed; then all these things will be accomplished.
</p>

<div class="sidenote left">Daniel 12:8 <br>to Daniel 12:13</div>

<h3>Daniel Seeks Additional Insights</h3>

<p>
Now I myself heard, but I did not understand, and I said, 'My lord, what will be the outcome of these things?'
And he said, 'Go, Daniel, for the words are secret and are sealed up until the time of the end.
Many will be purified and will be cleansed and will be refined, but the wicked will act wickedly and none of the wicked will understand, but those who have insight will understand.
And from the time the regular burnt offering is removed and the abomination that causes desolation is set up there will be one thousand two hundred and ninety days.
Happy is the one who is persevering, and attains to the one thousand three hundred and thirty-five days.
But you, go on to the end and rest, and you will arise for your allotted inheritance at the end of the days.'
</p>
