<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Ecclesiastes</h1>

<div class="sidenote left">Ecclesiastes 1:1 </div>

<h3>Prologue</h3>

<p>
The words of the Teacher, the son of David, king in Jerusalem.
</p>

<div class="sidenote left">Ecclesiastes 1:2 </div>

<h3>Motto Introduced</h3>

<p>
'Vanity of vanities!' says the Teacher, 'Vanity of vanities! All is vanity!'
</p>

<div class="sidenote left">Ecclesiastes 1:3 <br>to Ecclesiastes 1:11</div>

<h3>All Toil is Profitless and Repetitious</h3>

<p>
What does a person gain in all his toil with which he toils under the sun?
A generation goes, and a generation comes, but the earth stands forever.
The sun rises, and the sun goes down; to its place it hurries, and there it rises again.
The wind goes to the south and goes around to the north; around and around it goes, and on its circuit the wind returns.
All the streams flow to the sea, but the sea is never full; to the place where the streams flow, there they continue to flow.
All things toil continuously; no one can ever finish describing this. The eye is never satisfied with seeing, and the ear is never filled with hearing.
</p>

<div class="sidenote">Ecclesiastes 1:9</div>

<p>
What has been it is what will be; what has been done it is what will be done; there is nothing new under the sun.
There is a thing of which it is said, 'Look at this! This is new!' But it already existed in ages past before us.
There is neither remembrance of former generations, nor will there be remembrance of future generations.
</p>

<div class="sidenote left">Ecclesiastes 1:12 <br>to Ecclesiastes 1:18</div>

<h3>The Teacher Introduces His Quest</h3>

<p>
I, the Teacher, was king over Israel in Jerusalem.
I applied my mind to seek and to search by wisdom all that is done under the heavens. It is a grievous task God has given to humans.
I saw all the works that are done under the sun. Look! Everything is vanity and chasing wind.
</p>

<div class="sidenote">Ecclesiastes 1:15</div>

<p>
What is twisted cannot be straightened, and what is lacking cannot be counted.
</p>

<div class="sidenote">Ecclesiastes 1:16</div>

<p>
I said to myself, 'Look! I have become great and have increased in wisdom more than anyone who has preceded me over Jerusalem. I have acquired a great deal of wisdom and knowledge.'
So I dedicated myself to learn about wisdom and to learn about delusion and folly. However, I discovered that this also is chasing wind.
</p>

<div class="sidenote">Ecclesiastes 1:18</div>

<p>
For in much wisdom is much frustration, and whoever increases knowledge increases sorrow.
</p>

<div class="sidenote left">Ecclesiastes 2:1 <br>to Ecclesiastes 2:3</div>

<h3>The Teacher’s Investigation of Self-Indulgence</h3>

<p>
I said to myself, 'Come! I will test pleasure to see whether it is worthwhile.' But look, 'This also is vanity!'
I said of laughter, 'It is folly!' and of pleasure, 'What does it accomplish?'
I also explored the effects of indulging my flesh with wine. My mind guiding me with wisdom, I investigated folly so that I might discover what is good under heaven for humans to do during the days of their lives.
</p>

<div class="sidenote left">Ecclesiastes 2:4 <br>to Ecclesiastes 2:11</div>

<h3>The Teacher’s Investigation of Personal Accomplishment</h3>

<p>
I accomplished great things. I built for myself houses; I planted for myself vineyards.
I made for myself gardens and parks, and I planted all sorts of fruit trees in them.
I made for myself pools of water from which to irrigate a grove of flourishing trees.
I acquired male slaves and female slaves, as well as children born in my house. I also had livestock, cattle, and flocks more than anyone who was before me in Jerusalem.
I also gathered to myself silver and gold the royal and provincial treasuries. I acquired for myself male and female singers, as well as the delight of men, voluptuous concubines.
</p>

<div class="sidenote">Ecclesiastes 2:9</div>

<p>
Thus, I accomplished far more than anyone who was before me in Jerusalem indeed, my wisdom stood by me.
I neither withheld anything from my eyes that they desired, nor did I deprive any pleasure from my heart. My heart rejoiced in all my toil, for this was my reward from all my toil.
Yet when I considered all the effort which I expended and the toil with which I toiled to do, then behold, 'Everything is vanity and chasing wind! There is nothing profitable under the sun!'
</p>

<div class="sidenote left">Ecclesiastes 2:12 <br>to Ecclesiastes 2:23</div>

<h3>The Living Must Abandon the Work of their Hands to Others at Death</h3>

<p>
Next, I considered wisdom, as well as delusion and folly. What can anyone do who will come after the king that has not already been done?
I realized that wisdom has an advantage over folly, just as light has an advantage over darkness.
The wise man can see where he is walking, but the fool walks in darkness. Yet I also realized that both of them suffer the same fate.
So I said to myself, 'If I also suffer the same fate as the fool, what advantage is my great wisdom?' So I said to myself, 'This also is vanity!'
</p>

<div class="sidenote">Ecclesiastes 2:16</div>

<p>
Certainly no one will remember the wise man or the fool in future generations. When future days come, both will have been forgotten already. How is it that the wise man dies the same as the fool?
So I hated life because the work done under the sun is grievous to me. For everything is vanity and chasing wind!
</p>

<div class="sidenote">Ecclesiastes 2:18</div>

<p>
So I hated all my toil with which I have toiled under the sun, for I must leave it behind to someone who will be after me.
And who knows whether he will be wise or foolish? Yet he will exercise control of all the fruit of my toil with which I toiled wisely under the sun. This also is vanity!
</p>

<div class="sidenote">Ecclesiastes 2:20</div>

<p>
So I began to despair of all the toil with which I toiled under the sun.
For although a person may toil with great wisdom and skill, he must leave his reward to someone who has not toiled for it. This also is vanity and a great calamity.
For what does a person receive for all his toil and in the longing of his heart with which he toils under the sun?
All his days are painful, his labor brings grief, and his heart cannot rest at night. This also is vanity!
</p>

<div class="sidenote left">Ecclesiastes 2:24 <br>to Ecclesiastes 2:26</div>

<h3>It is Best to Simply Enjoy the Passing Pleasures of Life as Reward for Pleasing God</h3>

<p>
There is nothing better for a person than to eat and drink and find delight in his toil. For I also realized that this is from the hand of God!
For who can eat and drink, and who can enjoy life apart from him?
For to the person who is good in his eyes, he gives wisdom, knowledge, and joy; but to the sinner he gives the task of gathering and heaping up only to give it to him who is pleasing to him. This also is vanity and chasing wind!
</p>

<div class="sidenote left">Ecclesiastes 3:1 <br>to Ecclesiastes 3:9</div>

<h3>God Has Ordained the Ebb and Flow of Human Activities</h3>

<p>
For everything there is an appointed time, a time for every matter under heaven:
</p>

<div class="sidenote">Ecclesiastes 3:2</div>

<p>
a time to bear and a time to die; a time to plant and a time to root up what is planted;
</p>

<div class="sidenote">Ecclesiastes 3:3</div>

<p>
a time to kill and a time to heal; a time to break down and a time to build up;
</p>

<div class="sidenote">Ecclesiastes 3:4</div>

<p>
a time to weep and a time to laugh; a time to mourn and a time to dance;
</p>

<div class="sidenote">Ecclesiastes 3:5</div>

<p>
a time to throw away stones and a time to gather stones; a time to embrace and a time to refrain from embracing;
</p>

<div class="sidenote">Ecclesiastes 3:6</div>

<p>
a time to seek and a time to lose; a time to keep and a time to throw away;
</p>

<div class="sidenote">Ecclesiastes 3:7</div>

<p>
a time to tear and a time to sew; a time to be silent and a time to speak;
</p>

<div class="sidenote">Ecclesiastes 3:8</div>

<p>
a time to love and a time to hate; a time for war and a time for peace.
</p>

<div class="sidenote">Ecclesiastes 3:9</div>

<p>
What does the worker gain in his toil?
</p>

<div class="sidenote left">Ecclesiastes 3:10 <br>to Ecclesiastes 3:15</div>

<h3>No One Understands God’s Mysterious Plan</h3>

<p>
I have seen the busyness God gives to humans to preoccupy them.
He has made everything suitable in its time. He also has put the past in their hearts, yet no one can grasp what God does from the beginning to the end.
So I realized that there is nothing better for them than to rejoice and enjoy themselves during their lives.
And for anyone to eat and drink, that is, to enjoy the fruit of all his toil, this also is a gift of God.
</p>

<div class="sidenote">Ecclesiastes 3:14</div>

<p>
I know everything God does endures forever; nothing can be added to it, and nothing can be taken from it, for God so acts that humans might stand in awe before him.
What is it already was, and what will be it already is, for God will do what he has done.
</p>

<div class="sidenote left">Ecclesiastes 3:16 <br>to Ecclesiastes 3:22</div>

<h3>God’s Mysterious Plan Allows Injustice to Exist in the World</h3>

<p>
I saw something else under the sun: instead of justice there was evil; instead of righteousness there was wickedness.
So I said to myself, 'God will surely judge the righteous and the wicked, for he has appointed a time of judgment for every deed and every work.'
</p>

<div class="sidenote">Ecclesiastes 3:18</div>

<p>
I said to myself concerning humans, 'God sifts them in order to show them that they are like beasts.'
For the fate of humans and the fate of the beast is the same. The death of the one is like the death of the other, for both are mortal. Man has no advantage over the beast, for both are fleeting.
Both go to one place both came from dust and both return to dust.
For no one knows whether the spirit of a human ascends to heaven and whether the spirit of the beast descends to the ground!
</p>

<div class="sidenote">Ecclesiastes 3:22</div>

<p>
So I concluded that there is nothing better for a person than to enjoy the fruit of his labor, for this is his lot in life. For no one knows what will happen in the future.
</p>

<div class="sidenote left">Ecclesiastes 4:1 <br>to Ecclesiastes 4:3</div>

<h3>The Existence of Oppression in the World Makes Human Existence Miserable</h3>

<p>
I looked again, and I saw all the oppression that occurs under the sun.
</p>

<div class="sidenote">Ecclesiastes 4:2</div>

<p>
So I deemed the dead who have already died more fortunate than the living who are still alive.
But better off than both of them is the one who has not yet been born and has not seen the evil deeds that are done under the sun.
</p>

<div class="sidenote left">Ecclesiastes 4:4 <br>to Ecclesiastes 4:6</div>

<h3>People Need Balance in Their Approach to Labor</h3>

<p>
I also realized that all of the toil and all of the skillful work that is done it is envy between one man and another. This also is vanity and chasing wind!
The fool refuses to work with his hands, so he has nothing to eat except his own skin!
Better is one handful with peace than two fists full with toil and chasing wind.
</p>

<div class="sidenote left">Ecclesiastes 4:7 <br>to Ecclesiastes 4:8</div>

<h3>Wealth without Someone with Which to Enjoy It is Futile</h3>

<p>
I turned again and saw another vanity under the sun.
Sometimes a man is all alone with no companion; he also has neither son nor brother. Yet there is no end to all his toil, and his eye is not satisfied with wealth. He laments, 'For whom am I toiling and depriving myself of pleasure?' This also is vanity it is an unhappy business!
</p>

<div class="sidenote left">Ecclesiastes 4:9 <br>to Ecclesiastes 4:12</div>

<h3>Friends and Family Can Help One Another in Life</h3>

<p>
Two are better than the one, for they enjoy a better reward for their toil.
For if one falls, his companion may help him up. But pity the one who falls and there is no one to help him up.
Also if two lie together, they can keep each other warm. But how can one person be warm?
Although an assailant may overpower one person, two may withstand him. A threefold cord is not easily broken!
</p>

<div class="sidenote left">Ecclesiastes 4:13 <br>to Ecclesiastes 4:16</div>

<h3>One Must Be Willing to Listen to Counsel</h3>

<p>
A poor but wise youth is better than an old but foolish king who no longer knows how to receive advice.
For he came out of the prison house to reign, since he was born poor in his kingdom.
I saw all the living who move about under the sun with the youth; the second who will stand in his place.
There is no end to all the people, to all who were before him. Yet the later generation will not rejoice in him, for this also is vanity and chasing wind!
</p>

<div class="sidenote left">Ecclesiastes 5:1 <br>to Ecclesiastes 5:7</div>

<h3>Listen to God Rather Than Uttering Rash Vows</h3>

<p>
Guard your steps when you go to the house of God; draw near to listen rather than to offer a sacrifice of fools, for they do not know that they are doing evil.
Do not be rash with your mouth, and do not let your heart be quick to utter a word before God. For God is in heaven, and you are on earth; therefore, let your words be few.
For a dream comes with many cares, and the voice of a fool with many words.
When you make a vow to God, do not delay in fulfilling it, for he takes no pleasure in fools. Fulfill what you vow!
It is better that you not vow than that you vow and not fulfill it.
Do not let your mouth lead your flesh into sin, and do not tell the messenger that it was a mistake. Why anger God at your words, so that he destroys the work of your hands?
For with many dreams come vanities and numerous words. Therefore, fear God!
</p>

<div class="sidenote left">Ecclesiastes 5:8 <br>to Ecclesiastes 5:9</div>

<h3>Powerful Bureaucrats Exploit the Helpless Poor</h3>

<p>
Do not be surprised if you see the poor being oppressed with violence or do not see justice and righteousness in the province. For one official is watched by a higher official, and there are even higher officials over them!
The produce of the land is exploited by everyone; even the king profits from the field of the poor!
</p>

<div class="sidenote left">Ecclesiastes 5:10 <br>to Ecclesiastes 5:12</div>

<h3>There is Never Enough Money to Satisfy</h3>

<p>
Whoever loves money is not satisfied with money, and whoever loves wealth is not satisfied with profit. This also is vanity!
When prosperity increases, those who consume it increase. So its owner gains nothing, except to see his wealth before it is spent.
</p>

<div class="sidenote">Ecclesiastes 5:12</div>

<p>
The sleep of the laborer is pleasant, whether he eats little or much, but the wealth of the rich man does not allow him to rest.
<div class="sidenote left">Ecclesiastes 5:13 <br>to Ecclesiastes 5:17</div>
### Hoarding Wealth Can Backfire
There is a grievous evil which I have seen under the sun: wealth hoarded by its owner to his harm.
That wealth was lost in a bad venture. Although he has borne a child, he has nothing to leave to him.
Just as he came from his mother's womb naked, he will depart just as he came; he will take nothing with him for his toil.
This also is a grievous illness. Exactly as he came, so he will go. What profit does he gain for all his toil for the wind?
Also, he eats in darkness all his days; he is frustrated in much sickness and resentment.
</p>

<div class="sidenote left">Ecclesiastes 5:18 <br>to Ecclesiastes 5:20</div>

<h3>If You Have Wealth, Enjoy It as God Enables</h3>

<p>
Look! I have discovered what is good and fitting: to eat and to drink and to enjoy all the fruit of the toil with which one toils under the sun during the number of the days of his life that God gives to him for this is his lot.
This indeed is a gift of God: everyone to whom God gives wealth and possessions, he also empowers him to enjoy them, to accept his lot, and to rejoice in the fruit of his toil.
For he does not remember the brief days of his life, for God keeps his heart preoccupied with enjoyment of life.
</p>

<div class="sidenote left">Ecclesiastes 6:1 <br>to Ecclesiastes 6:6</div>

<h3>Those Who Have Wealth but Do Not Enjoy It Are Pitiful</h3>

<p>
Here is another misfortune that I have seen under the sun, and it is prevalent among humankind.
God gives a man wealth, possessions, and honor, so that he lacks nothing his heart desires; yet God does not enable him to enjoy it instead someone else ends up enjoying it. This is vanity indeed, it is a grievous ill!
</p>

<div class="sidenote">Ecclesiastes 6:3</div>

<p>
Even if a man fathers a hundred children and lives many years so that the days of his years are many, if his heart is not satisfied with his prosperity and he does not receive a proper burial, I deem the stillborn better than him.
For he comes into vanity and departs into darkness, and his name is shrouded in darkness.
He has neither seen nor known the sun, yet he has more rest than him.
Even if a man lives a thousand years twice, if he does not enjoy prosperity, both suffer the same fate!
</p>

<div class="sidenote left">Ecclesiastes 6:7 <br>to Ecclesiastes 6:9</div>

<h3>One Must Learn to Be Content with What One Has</h3>

<p>
All of a man's toil is for his mouth yet his appetite is never satisfied.
So do the wise really have an advantage over fools? Can the poor really gain anything by knowing how to act in front of others?
Better to be content with what your eyes see than for your soul to constantly crave more. This also is vanity and chasing wind!
</p>

<div class="sidenote left">Ecclesiastes 6:10 <br>to Ecclesiastes 6:11</div>

<h3>It is Futile for Humans to Complain about God’s Irresistible Will</h3>

<p>
Whatever is it was already determined, what will be it has already been decided. As for man, he cannot argue against what is more powerful than him.
Increasing words only multiplies futility, how does that profit anyone?
</p>

<div class="sidenote left">Ecclesiastes 6:12 </div>

<h3>The Future is Inscrutable to Humans</h3>

<p>
For who knows what is good for a man in his life during the few days of his fleeting life, which are fleeting as a shadow? For who can tell anyone what will happen in the future under the sun?
</p>

<div class="sidenote left">Ecclesiastes 7:1 <br>to Ecclesiastes 7:6</div>

<h3>People Generally Do Not Know What is Best for Them</h3>

<p>
A good name is better than precious ointment, and the day of death is better than the day of one's birth.
Better to go to the house of mourning than to go to the house of feasting, for death is the end of every person, and the living should take it to his heart.
Sorrow is better than laughter, for by sadness of countenance the heart is made good.
The heart of the wise is in the house of mourning, but the heart of fools is in the house of mirth.
Better to listen to the rebuke of the wise than for a man to listen to the song of fools.
Like the sound of thorns under a pot, so also the laughter of fools. This also is vanity!
</p>

<div class="sidenote left">Ecclesiastes 7:7 <br>to Ecclesiastes 7:12</div>

<h3>Wisdom—Although Vulnerable—is Beneficial</h3>

<p>
Surely oppression makes a fool of the wise, and a bribe corrupts the heart.
The end of a matter is better than its beginning; better to be slow to anger than hot-headed.
Do not be quick in your spirit to anger, for anger lodges in the bosom of fools.
Do not say, 'Why were the former days better than these?' For it is not from wisdom that you ask this.
Wisdom is good with an inheritance; it benefits the living.
For wisdom offers protection like money offers protection. But knowledge has an advantage wisdom restores life to its possessor.
</p>

<div class="sidenote left">Ecclesiastes 7:13 <br>to Ecclesiastes 7:14</div>

<h3>Humans Must Accept God’s Will and Make the Best of It</h3>

<p>
Consider the work of God. For who is able to make straight what he made crooked?
In the day of prosperity, rejoice! But in the day of adversity, consider! For God made one in place of another so that mortals cannot find out what will happen in the future.
</p>

<div class="sidenote left">Ecclesiastes 7:15 <br>to Ecclesiastes 7:18</div>

<h3>The Law of Retribution Does Not Always Work—but It Does Sometimes</h3>

<p>
I have seen all these things in my vain life: Sometimes a righteous man perishes in spite of his righteousness, and sometimes a wicked man lives a long life in spite of his evil.
Do not be excessively righteous, and do not act excessively wise, lest you destroy yourself.
Do not act excessively wicked, and do not be a fool, lest you die before your time.
It is good to take hold of the one and also must not let go of the other; for whoever fears God will hold both of them secure.
</p>

<div class="sidenote left">Ecclesiastes 7:19 <br>to Ecclesiastes 7:22</div>

<h3>Wisdom is Valuable, but No One is Completely Righteous</h3>

<p>
Wisdom gives more strength to the wise than ten rulers who are in the city.
Surely there is no one righteous on the earth who continually does good and never sins.
Do not pay attention to everything people say, lest you hear your own servant curse you.
For your heart knows that you also have cursed others many times.
</p>

<div class="sidenote left">Ecclesiastes 7:23 <br>to Ecclesiastes 7:29</div>

<h3>Absolute Wisdom is Unattainable</h3>

<p>
All this I have tested with wisdom. I said, 'I will be wise!' but it was beyond my grasp.
Whatever is it is far beyond comprehension. Who can discover it?
</p>

<div class="sidenote">Ecclesiastes 7:25</div>

<p>
I set my mind to try to seek wisdom and the plan, and to know that wickedness is foolishness and that folly is delusion.
I myself found that more bitter than death is the woman who is a trap, whose heart is a snare, and whose hands are bonds. The one who pleases God escapes from her, but the sinner is caught by her.
'Look! I found this,' said the Teacher, 'while trying to find how the plan fits together.
What my heart sought, I did not find. Although I found one righteous man among one thousand, I did not find one upright woman among all these.
Look! This alone I found: God made mankind upright, but they have devised many schemes.'
</p>

<div class="sidenote left">Ecclesiastes 8:1 <br>to Ecclesiastes 8:6</div>

<h3>Wisdom is Valuable</h3>

<p>
Who is like the sage? Who knows the interpretation of a thing? A man's wisdom makes his face shine, and the hardness of his face is changed.
Keep the command of the king because of your oath to God.
Do not be terrified of his presence! Go at once and do not delay when a matter is unpleasant, for he can do anything that he desires.
Since the word of the king is supreme, no one can say to him, 'What are you doing?'
Whoever obeys his command will not suffer disaster. The wise mind knows the proper time and the right procedure.
For there is a proper time and right procedure for every matter, even though the trouble of man weighs heavy upon him.
</p>

<div class="sidenote left">Ecclesiastes 8:7 <br>to Ecclesiastes 8:8</div>

<h3>No One Knows the Future</h3>

<p>
Surely no one knows what will be, so who can tell anyone what will happen?
Just as no one can control the wind to restrain the wind, so also no one can control the day of his death. Just as no one is discharged in time of war, so wickedness will not deliver the wicked.
</p>

<div class="sidenote left">Ecclesiastes 8:9 <br>to Ecclesiastes 8:10</div>

<h3>The World Marred by Oppression and Injustice</h3>

<p>
I saw all this as I applied my heart to all the deeds done under the sun: sometimes those in authority harm others.
Meanwhile, I saw the wicked being honorably buried, but those who came and went from the holy place were forgotten in the city, even though they had done so. This also is vanity!
</p>

<div class="sidenote left">Ecclesiastes 8:11 <br>to Ecclesiastes 8:14</div>

<h3>Although Evil is Not Punished Swiftly, God Does Eventually Punish Sinners</h3>

<p>
Because sentence against an evil deed is not carried out quickly, the heart of humans fills up within them to do evil.
Although the sinner does evil a hundred times and prolongs his life, yet I also know that it will be good for those who fear God because they fear his presence.
But it will not go well with the wicked, and they will not prolong their days, like the shadow; because there is no fearing God's presence.
There is a vanity that happens on earth: sometimes the righteous suffer what the wicked deserve, and sometimes the wicked receive what the righteous deserve. I said, 'This also is vanity!'
</p>

<div class="sidenote left">Ecclesiastes 8:15 </div>

<h3>Humans Should Enjoy the Life That God Gives to Them</h3>

<p>
So I recommend enjoyment. For there is nothing better for man under the sun than to eat and to drink and to rejoice. This will accompany him in his toil the days of his life that God gives to him under the sun.
</p>

<div class="sidenote left">Ecclesiastes 8:16 <br>to Ecclesiastes 8:17</div>

<h3>No One Can Discover the Rhyme and Reason for Things</h3>

<p>
I applied my mind to know wisdom and to understand the business that is done on earth how neither day nor night one's eyes see sleep.
Then I saw all the work of God man is not able to discover the work that is done under the sun. Although man may toil in seeking, he cannot find it. Even if a wise man claims that he knows it, he cannot find it.
</p>

<div class="sidenote left">Ecclesiastes 9:1 <br>to Ecclesiastes 9:3</div>

<h3>The Same Fate—Death—Awaits Everyone</h3>

<p>
So all this I laid to my heart, and I concluded that the righteous and the wise, as well as their deeds, are in the hand of God. So no one knows anything that will come to them, whether it will be love or hatred.
The same fate comes to everyone:
</p>

<div class="sidenote">Ecclesiastes 9:3</div>

<p>
This is the injustice that is done under the sun: the same fate comes to everyone. Also the hearts of humans are full of evil; delusion is in their hearts during their lives, and then they die.
</p>

<div class="sidenote left">Ecclesiastes 9:4 <br>to Ecclesiastes 9:6</div>

<h3>Death Deprives Humans of Everything in Life</h3>

<p>
Whoever is joined to all the living has hope. After all, even a live dog is better than a dead lion!
For the living know that they will die, but the dead do not know anything. They no longer have a reward, and even the memory of them is forgotten.
What they loved and hated, as well as what they desired, has already perished. They no longer have any share in what is done under the sun.
</p>

<div class="sidenote left">Ecclesiastes 9:7 <br>to Ecclesiastes 9:10</div>

<h3>Enjoy Life While It Lasts</h3>

<p>
Go eat your food with joy, and drink your wine with a merry heart! For God already has approved your deeds.
Always be clothed in white garments, and never let your head lack oil!
Enjoy life with the wife whom you love all the days of your vain life which he gives you under the sun, because this is your lot in life and in the toil with which you toil under the sun.
Whatever your hand finds to do do it with all your might; for in Sheol where you are going no one works, plans, knows, or thinks about anything.
</p>

<div class="sidenote left">Ecclesiastes 9:11 <br>to Ecclesiastes 9:12</div>

<h3>The Injustice of Time and Chance</h3>

<p>
I looked again and saw under the sun that the race does not belong to the swift, the battle does not belong to the mighty, food does not belong to the wise, wealth does not belong to the intelligent, and success does not belong to the skillful, for time and chance befalls all of them.
For man does not know his time. Just as fish are caught in a cruel net and like birds who are seized in a snare, so also humans are ensnared at a cruel time when it falls suddenly upon them.
</p>

<div class="sidenote left">Ecclesiastes 9:13 <br>to Ecclesiastes 9:16</div>

<h3>Wisdom—Although Vulnerable—is Superior to Power</h3>

<p>
I have also seen this example of wisdom under the sun, and it seemed great to me.
There was a small city with few people in it. A great king came and besieged it, building great siege works against it.
Now, a poor wise man was found in it, and he delivered the city by his wisdom.
So I concluded that wisdom is better than might, yet the wisdom of the poor is despised, and his words are not heard.
</p>

<div class="sidenote left">Ecclesiastes 9:17 <br>to Ecclesiastes 10:7</div>

<h3>Wisdom—Although Vulnerable—is Superior to Folly</h3>

<p>
The words of the wise are heard in peace more than the shouting of a ruler is heard among the fools.
Wisdom is better than weapons of war, but one sinner destroys much good.
</p>

<p>
Dead flies cause a bad smell and ruin the ointment of the perfumer. So also a little folly outweighs wisdom and honor.
</p>

<div class="sidenote">Ecclesiastes 10:2</div>

<p>
The heart of the wise inclines to his right, but the heart of the fool inclines to his left.
Even when the fool walks along the road, he lacks sense; he tells everyone that he is a fool.
If the anger of the ruler rises against you, do not leave your post, for calmness can undo great offenses.
There is an evil I have seen under the sun it is an error that proceeds from a ruler!
The fool is set in many high places, but the rich sit in lowly places.
I have even seen slaves riding on horses and princes walking like slaves on the earth!
</p>

<div class="sidenote left">Ecclesiastes 10:8 <br>to Ecclesiastes 10:9</div>

<h3>Accidents Happen—Even to Professionals</h3>

<p>
Whoever digs a pit will fall into it. Whoever breaks through a wall, a snake will bite him.
Whoever quarries stones will be wounded by them. Whoever splits logs will be endangered by them.
</p>

<div class="sidenote left">Ecclesiastes 10:10 <br>to Ecclesiastes 10:11</div>

<h3>Hard Work and Skill Alone Cannot Succeed—Wisdom is Necessary</h3>

<p>
If the ax is blunt but one does not sharpen its edge, he must exert more effort, but the advantage of wisdom is it brings success.
If the snake bites before the charming, the snake charmer will not succeed.
</p>

<div class="sidenote left">Ecclesiastes 10:12 <br>to Ecclesiastes 10:20</div>

<h3>The Consequences of Foolishness</h3>

<p>
The wise man wins favor by the words of his mouth, but the fool is devoured by his own lips.
He begins by saying what is foolish and ends by uttering what is wicked delusion.
The fool talks too much, for no one knows what will be. Who can tell anyone what will happen in the future?
The fool is so worn out by a hard day's work he cannot even find his way home at night.
Woe to you, O land, when your king is a youth and your princes feast in the morning.
Blessed are you, O land, when your king is a son of nobility and your princes feast at the proper time to gain strength and not to get drunk.
Through sloth the roof sinks in, and through idleness of hands the house leaks.
Feasts are held for celebration, wine cheers the living, and money answers everything.
Do not curse the king even in your thoughts, and do not curse the rich even in your own bedroom, for a bird of the sky may carry your voice; a winged messenger may repeat your words.
</p>

<div class="sidenote left">Ecclesiastes 11:1 <br>to Ecclesiastes 11:6</div>

<h3>Living in the Light of the Limits of Human Knowledge</h3>

<p>
Send out your bread on the water, for in many days you will find it.
Divide your share in seven or in eight, for you do not know what disaster will happen on the earth.
When the clouds are full, they empty rain on the earth. Whether a tree falls to the south or whether it falls to the north, the place where the tree falls there it will be.
Whoever watches the wind will not sow; whoever watches the clouds will not reap.
Just as you do not know how the path of the wind goes, nor how the bones of a fetus form in a mother's womb, so you do not know the work of God who makes everything.
Sow your seed in the morning, and do not let your hands rest in the evening, for you do not know what will prosper whether this or that, or whether both of them alike will succeed.
</p>

<div class="sidenote left">Ecclesiastes 11:7 <br>to Ecclesiastes 11:10</div>

<h3>Enjoy Life to the Fullest within the Auspices of the Fear of God</h3>

<p>
The light is sweet, and it is pleasant for the eyes to see the sun.
For if a man lives many years, let him rejoice in all of them! Let him remember that the days of the darkness will be many all that is coming is vanity!
Rejoice, O young man, in your youth, and let your heart cheer you in the days of your youth! Follow the ways of your heart and the sight of your eyes but know that God will bring you into judgment for all these things.
Banish anxiety from your heart, and put away pain from your body, for youth and vigor are vanity.
</p>

<div class="sidenote left">Ecclesiastes 12:1 <br>to Ecclesiastes 12:7</div>

<h3>Advice to the Young: Life is Short and Then You Die</h3>

<p>
Remember your Creator in the days of your youth before the days of trouble come and the years draw near when you will say, 'I find no pleasure in them!'
Before the sun, the light, the moon, and the stars darken and the clouds return after the rain.
When the guards of the house tremble, and the men of strength are bent; the grinders cease because they are few, and those looking through the windows see dimly.
When the doors on the street are shut, when the sound of the grinding mill is low; one rises up to the sound of the bird, and all the daughters of song are brought low.
They are afraid of heights, and terrors are on the road. The almond tree blossoms, and the grasshopper draws itself along, and desire fails because man goes to his eternal home, and the mourners go about in the streets.
Before the silver cord is snapped and the golden bowl is broken; and the jar at the foundation is broken, and the wheel at the cistern is broken.
And the dust returns to the earth as it was, and the breath returns to God who gave it.
</p>

<div class="sidenote left">Ecclesiastes 12:8 </div>

<h3>Motto Restated</h3>

<p>
'Vanity of vanity!' says the Teacher. 'Everything is vanity!'
</p>

<div class="sidenote left">Ecclesiastes 12:9 <br>to Ecclesiastes 12:14</div>

<h3>Epilogue</h3>

<p>
The Teacher was full of wisdom, and he taught the people with knowledge. He carefully considered many proverbs and carefully arranged them.
The Teacher sought to find delightful words, and he wrote what is upright truthful words.
The words of the wise are like cattle goads; the collections of the sages are like pricks inflicted by one shepherd.
My son, be careful about anything beyond these things. For the writing of books is endless, and too much study is wearisome.
</p>

<div class="sidenote">Ecclesiastes 12:13</div>

<p>
Now that all has been heard, here is the final conclusion: Fear God and obey his commandments, for this is the whole duty of man.
For God will bring every deed into judgment, including every secret thing, whether good or evil.
</p>
