<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Ephesians</h1>

<div class="sidenote left">Ephesians 1:1 <br>to Ephesians 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Christ Jesus by the will of God, to the saints who are in Ephesus and faithful in Christ Jesus:
Grace to you and peace from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">Ephesians 1:3 <br>to Ephesians 1:14</div>

<h3>Praise to God for Spiritual Blessings</h3>

<p>
Blessed is the God and Father of our Lord Jesus Christ, who has blessed us with every spiritual blessing in the heavenly places in Christ,
just as he chose us in him before the foundation of the world, that we should be holy and blameless before him in love,
having predestined us to adoption through Jesus Christ to himself according to the good pleasure of his will,
to the praise of the glory of his grace that he bestowed on us in the beloved,
in whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace,
that he caused to abound to us in all wisdom and insight,
making known to us the mystery of his will, according to his good pleasure that he purposed in him,
for the administration of the fullness of times, to bring together all things in Christ, the things in the heavens and the things on the earth, in him
in whom also we were chosen, having been predestined according to the purpose of the One who works all things according to the counsel of his will,
that we who hoped beforehand in Christ should be for the praise of his glory,
in whom also you, when you heard the word of truth, the gospel of your salvation, in whom also when you believed you were sealed with the promised Holy Spirit,
who is the down payment of our inheritance, until the redemption of the possession, to the praise of his glory.
</p>

<div class="sidenote left">Ephesians 1:15 <br>to Ephesians 1:23</div>

<h3>Prayer for Spiritual Wisdom</h3>

<p>
Because of this I also, hearing of your faith in the Lord Jesus and your love for all the saints,
do not cease giving thanks for you, making mention in my prayers,
that the God of our Lord Jesus Christ, the glorious Father, may give you a spirit of wisdom and revelation in the knowledge of him
(the eyes of your hearts having been enlightened), so that you may know what is the hope of his calling, what are the riches of the glory of his inheritance among the saints,
and what is the surpassing greatness of his power toward us who believe, according to the working of his mighty strength
which he has worked in Christ, raising him from the dead and seating him at his right hand in the heavenly places,
above all rule and authority and power and lordship and every name named, not only in this age but also in the coming one,
and he subjected all things under his feet and gave him as head over all things to the church,
which is his body, the fullness of the one who fills all things in every way.
</p>

<div class="sidenote left">Ephesians 2:1 <br>to Ephesians 2:10</div>

<h3>Made Alive in Christ</h3>

<p>
And you, although you were dead in your trespasses and sins,
in which you formerly walked according to the course of this world, according to the ruler of the authority of the air, the spirit now working in the sons of disobedience,
among whom also we all formerly lived in the desires of our flesh, doing the will of the flesh and of the mind, and we were children of wrath by nature, as also the rest of them were.
</p>

<div class="sidenote">Ephesians 2:4</div>

<p>
But God, being rich in mercy, because of his great love with which he loved us,
and we being dead in trespasses, he made us alive together with Christ (by grace you are saved),
and raised us together and seated us together in the heavenly places in Christ Jesus,
in order that he might show in the coming ages the surpassing riches of his grace in kindness upon us in Christ Jesus.
For by grace you are saved through faith, and this is not from yourselves, it is the gift of God;
it is not from works, so that no one can boast.
For we are his creation, created in Christ Jesus for good works, which God prepared beforehand, so that we may walk in them.
</p>

<div class="sidenote left">Ephesians 2:11 <br>to Ephesians 2:22</div>

<h3>Jewish and Gentile Believers United in Christ</h3>

<p>
Therefore remember that formerly you, the Gentiles in the flesh, the so-called uncircumcision by the so-called circumcision in the flesh, made by hands,
that you were at that time apart from Christ, alienated from the citizenship of Israel, and strangers to the covenants of promise, not having hope, and without God in the world.
But now in Christ Jesus you, the ones who once were far away, have become near by the blood of Christ.
For he himself is our peace, who made both one and broke down the dividing wall of the partition, the enmity, in his flesh,
invalidating the law of commandments in ordinances, in order that he might create the two in himself into one new man, thus making peace,
and might reconcile both in one body to God through the cross, killing the enmity in himself.
And coming, he proclaimed the good news of peace to you who were far away and peace to the ones who were near,
because through him we both have access in one Spirit to the Father.
Consequently, therefore, you are no longer strangers and foreigners, but you are fellow citizens of the saints and members of the household of God,
built on the foundation of the apostles and prophets, Christ Jesus himself being the cornerstone,
in whom the whole building, joined together, grows into a holy temple in the Lord,
in whom you also are built up together into a dwelling place of God in the Spirit.
</p>

<div class="sidenote left">Ephesians 3:1 <br>to Ephesians 3:13</div>

<h3>The Mystery of Christ Revealed</h3>

<p>
On account of this I, Paul, the prisoner of Christ Jesus for the sake of you Gentiles
if indeed you have heard about the stewardship of God's grace given to me for you.
According to revelation the mystery was made known to me, just as I wrote beforehand in brief,
so that you may be able when you read to understand my insight into the mystery of Christ
(which in other generations was not made known to the sons of men as it has now been revealed to his holy apostles and prophets by the Spirit):
that the Gentiles are fellow heirs, and fellow members of the body, and fellow sharers of the promise in Christ Jesus through the gospel,
of which I became a servant, according to the gift of God's grace given to me, according to the working of his power.
</p>

<div class="sidenote">Ephesians 3:8</div>

<p>
To me, the least of all the saints, was given this grace: to proclaim the good news of the fathomless riches of Christ to the Gentiles,
and to enlighten everyone as to what is the administration of the mystery hidden from the ages by God, who created all things,
in order that the many-sided wisdom of God might be made known now to the rulers and the authorities in the heavenly places through the church,
according to the purpose of the ages which he carried out in Christ Jesus our Lord,
in whom we have boldness and access in confidence through faith in him.
Therefore I ask you not to be discouraged at my afflictions on behalf of you, which are your glory.
</p>

<div class="sidenote left">Ephesians 3:14 <br>to Ephesians 3:21</div>

<h3>Prayer for Spiritual Strength</h3>

<p>
On account of this, I bend my knees before the Father,
from whom every family in heaven and on earth is named,
that he may grant you according to the riches of his glory to be strengthened with power through his Spirit in the inner person,
that Christ may dwell in your hearts through faith (you having been firmly rooted and established in love),
in order that you may be strong enough to grasp together with all the saints what is the breadth, and length, and height, and depth,
and to know the love of Christ that surpasses knowledge, in order that you may be filled up to all the fullness of God.
</p>

<div class="sidenote">Ephesians 3:20</div>

<p>
Now to the one who is able to do beyond all measure more than all that we ask or think, according to the power that is at work in us,
to him be the glory in the church and in Christ Jesus to all generations forever and ever. Amen.
</p>

<div class="sidenote left">Ephesians 4:1 <br>to Ephesians 4:6</div>

<h3>Christians Should Live in Unity</h3>

<p>
Therefore I, the prisoner in the Lord, exhort you to live in a manner worthy of the calling with which you were called:
with all humility and gentleness, with patience, putting up with one another in love,
being eager to keep the unity of the Spirit in the bond of peace;
one body and one Spirit (just as also you were called with one hope of your calling),
one Lord, one faith, one baptism,
one God and Father of all, who is over all, and through all, and in all.
</p>

<div class="sidenote left">Ephesians 4:7 <br>to Ephesians 4:16</div>

<h3>Gifted Leaders Bring the Church to Maturity</h3>

<p>
Now to each one of us was given this grace, according to the measure of Christ's gift.
Therefore it says,
</p>

<div class="sidenote">Ephesians 4:9</div>

<p>
Now 'he ascended,' what is it, except that he also descended to the lower regions of the earth?
The one who descended himself is also the one who ascended above all the heavens, in order that he might fill all things.
</p>

<div class="sidenote">Ephesians 4:11</div>

<p>
And he himself gave some as apostles and some as prophets and some as evangelists and some as pastors and teachers
for the equipping of the saints, for the work of the ministry, for building up the body of Christ,
until we all reach the unity of the faith and the knowledge of the Son of God, to a mature man, to a measure of the maturity of the fullness of Christ,
so that we may no longer be infants, tossed about by waves and carried about by every wind of teaching, by the trickery of people, by craftiness with reference to the scheming of deceit.
But speaking the truth in love, we are to grow into him with reference to all things, who is the head, Christ,
from whom the whole body, joined together and held together by every supporting ligament, according to the working by measure of each single part, the growth of the body makes for the building up of itself in love.
</p>

<div class="sidenote left">Ephesians 4:17 <br>to Ephesians 4:24</div>

<h3>Appeal for New Behavior</h3>

<p>
This therefore I say and testify in the Lord, that you no longer walk as the Gentiles walk: in the futility of their mind,
being darkened in understanding, alienated from the life of God, because of the ignorance that is in them, because of the hardness of their heart,
who, becoming callous, gave themselves over to licentiousness, for the pursuit of all uncleanness in greediness.
</p>

<div class="sidenote">Ephesians 4:20</div>

<p>
But you did not learn Christ in this way,
if indeed you have heard about him, and you were taught by him (just as truth is in Jesus),
that you take off, according to your former way of life, the old man, who is being destroyed according to deceitful desires,
be renewed in the spirit of your mind,
and put on the new man (in accordance with God), who is created in righteousness and holiness from the truth.
</p>

<div class="sidenote left">Ephesians 4:25 <br>to Ephesians 4:32</div>

<h3>Old Behavior, New Behavior, and Motivation</h3>

<p>
Therefore, putting aside the lie, speak truth each one of you with his neighbor, because we are members of one another.
Be angry and do not sin; do not let the sun set on your anger,
nor give place to the devil.
The one who steals must steal no longer, but instead must labor, working with his own hands what is good, so that he may have something to share with the one who has need.
No rotten word must proceed from your mouth, but only something good for the building up of the need, in order that it may give grace to those who hear,
and do not grieve the Holy Spirit of God, by whom you were sealed for the day of redemption.
All bitterness, and rage, and wrath, and clamor, and abusive speech, must be removed from you, together with all wickedness.
Become kind toward one another, compassionate, forgiving one another, just as also God in Christ has forgiven you.
</p>

<div class="sidenote left">Ephesians 5:1 <br>to Ephesians 5:6</div>

<h3>Imitators of God</h3>

<p>
Therefore become imitators of God, as beloved children,
and live in love, just as also Christ loved us, and gave himself for us an offering and sacrifice to God for a fragrant smell.
But sexual immorality, and all uncleanness, or greediness, must not even be named among you (as is fitting for saints),
and obscenity, and foolish talk, or coarse jesting (which are not proper), but rather thanksgiving.
For this you know for certain, that every sexually immoral person, or unclean person, or greedy person (who is an idolater), does not have an inheritance in the kingdom of Christ and God.
Let no one deceive you with empty words, for because of these things the wrath of God is coming on the sons of disobedience.
</p>

<div class="sidenote left">Ephesians 5:7 <br>to Ephesians 5:16</div>

<h3>Walk Like Children of Light</h3>

<p>
Therefore do not be sharers with them,
for you were formerly darkness, but now you are light in the Lord. Live like children of light
(for the fruit of the light is in all goodness and righteousness and truth),
trying to learn what is well-pleasing to the Lord.
And do not participate in the unfruitful deeds of darkness, but rather even expose them.
For it is shameful even to speak about the things being done by them in secret,
but all things exposed by the light are made visible,
for everything made visible is light. Therefore it says,
</p>

<div class="sidenote">Ephesians 5:15</div>

<p>
Therefore, consider carefully how you live, not as unwise but as wise,
making the most of the time because the days are evil.
</p>

<div class="sidenote left">Ephesians 5:17 <br>to Ephesians 5:24</div>

<h3>Being Filled by the Spirit</h3>

<p>
Because of this do not become foolish, but understand what the will of the Lord is.
And do not be drunk with wine (in which is dissipation), but be filled by the Spirit,
speaking to one another in psalms and hymns and spiritual songs, singing and singing praise in your heart to the Lord,
giving thanks always for all things in the name of our Lord Jesus Christ to the God and Father,
being subject to one another out of reverence for Christ
wives to their own husbands as to the Lord,
because the husband is the head of the wife, as also Christ is the head of the church (he himself being the Savior of the body).
But as the church is subject to Christ, thus also wives should be subject to their husbands in everything.
</p>

<div class="sidenote left">Ephesians 5:25 <br>to Ephesians 5:33</div>

<h3>Husbands and Wives</h3>

<p>
Husbands, love your wives, just as Christ also loved the church, and gave himself for her;
in order that he might sanctify her by cleansing her with the washing of water by the word;
in order that he might present to himself the church glorious, not having a spot or wrinkle or any such thing, but that she may be holy and blameless.
Thus also husbands ought to love their own wives as their own bodies. The one who loves his own wife loves himself.
For no one ever hated his own flesh, but nourishes and cherishes it, just as also Christ does the church,
because we are members of his body.
'For this reason a man will leave his father and mother and be joined to his wife, and the two will become one flesh.'
(This mystery is great, but I am speaking with reference to Christ and the church.)
Only you also, each one of you, must thus love his own wife as himself, and the wife must respect her husband.
</p>

<div class="sidenote left">Ephesians 6:1 <br>to Ephesians 6:4</div>

<h3>Children and Parents</h3>

<p>
Children, obey your parents in the Lord, for this is right.
'Honor your father and mother' (which is the first commandment with a promise),
'in order that it may be well with you, and you may live a long time on the earth.'
And fathers, do not make your children angry, but bring them up in the discipline and instruction of the Lord.
</p>

<div class="sidenote left">Ephesians 6:5 <br>to Ephesians 6:9</div>

<h3>Slaves and Masters</h3>

<p>
Slaves, obey your earthly masters with fear and trembling, in the sincerity of your heart, as to Christ,
not while being watched, as people pleasers, but as slaves of Christ doing the will of God from the heart,
serving with goodwill as to the Lord and not to people,
because you know that each one of you, whatever good he should do, this he will receive back from the Lord, whether slave or free.
And masters, do the same things to them, giving up threats, knowing that both their Lord and yours is in heaven, and there is no partiality with him.
</p>

<div class="sidenote left">Ephesians 6:10 <br>to Ephesians 6:20</div>

<h3>Spiritual Warfare</h3>

<p>
Finally, become strong in the Lord and in the might of his strength.
Put on the full armor of God, so that you may be able to stand against the stratagems of the devil,
because our struggle is not against blood and flesh, but against the rulers, against the authorities, against the world rulers of this darkness, against the spiritual forces of wickedness in the heavenly places.
Because of this, take up the full armor of God, in order that you may be able to resist in the evil day, and having done everything, to stand.
Stand therefore, girding your waist with truth, and putting on the breastplate of righteousness,
and binding shoes under your feet with the preparation of the good news of peace,
in everything taking up the shield of faith, with which you are able to quench all the flaming arrows of the evil one,
and receive the helmet of salvation, and the sword of the Spirit, which is the word of God,
with all prayer and supplication praying at all times in the Spirit, and to this end being alert with all perseverance and supplication for all the saints,
and for me, that a word may be given to me at the opening of my mouth, to make known with boldness the mystery of the gospel,
for the sake of which I am an ambassador in chains, that in them I may speak freely, as it is necessary for me to speak.
</p>

<div class="sidenote left">Ephesians 6:21 <br>to Ephesians 6:24</div>

<h3>Conclusion and Benediction</h3>

<p>
Now, so that you also may know my circumstances, what I am doing, Tychicus, my dear brother and faithful servant in the Lord, will make known to you all things,
whom I have sent to you for this very reason, that you may know our circumstances, and he may encourage your hearts.
</p>

<div class="sidenote">Ephesians 6:23</div>

<p>
Peace to the brothers and love with faith, from God the Father and the Lord Jesus Christ.
Grace be with all who love our Lord Jesus Christ in incorruptibility.
</p>
