<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Ezra</h1>

<div class="sidenote left">Ezra 1:1 <br>to Ezra 1:11</div>

<h3>The Decree of Cyrus</h3>

<p>
In the first year of Cyrus king of Persia, in order to accomplish the word of the LORD by the mouth of Jeremiah, the LORD stirred the spirit of Cyrus king of Persia and he sent a message to all of his kingdom and also put the message in writing:
</p>

<div class="sidenote">Ezra 1:2</div>

<p>
'Thus says Cyrus king of Persia: the LORD, the God of the heavens, has given me all the kingdoms of the earth. And he himself has appointed me to build a house for him in Jerusalem, which is in Judah.
Whoever among you who is from all of his people, may his God be with him and may he go up to Jerusalem, which is in Judah, and may he build the house of the LORD, the God of Israel. He is the God who is in Jerusalem.
And let every survivor, from wherever he resides be assisted by the men of that place with silver and gold, with possessions and domestic animals, and with the freewill offering for the house of God which is in Jerusalem.'
</p>

<div class="sidenote">Ezra 1:5</div>

<p>
So the heads of the families for Judah and Benjamin, and the priests and the Levites to all whose spirit God had stirred prepared to go up and build the house of the LORD which is in Jerusalem.
And all of their neighbors helped them with objects of silver, gold, possessions, domestic animals, and with valuable gifts besides all of the freewill offering.
And Cyrus the king brought out the objects of the house of the LORD that Nebuchadnezzar had brought from Jerusalem and placed in the house of his gods.
Cyrus the king of Persia let them go out by the hand of Mithredath the treasurer, and he counted them out to Sheshbazzar the prince of Judah.
Now these were the inventories: thirty gold metal dishes, one thousand silver metal dishes, twenty-nine vessels,
thirty bowls of gold, four hundred and ten matching silver metal bowls, and one thousand other objects.
All of the objects of gold and silver metal were five thousand four hundred. All this Sheshbazzar brought up along with the exiles from Babylonia to Jerusalem.
</p>

<div class="sidenote left">Ezra 2:1 <br>to Ezra 2:67</div>

<h3>The List of Returned Exiles</h3>

<p>
Now these were the people of the province who came up from the captivity of the exile whom Nebuchadnezzar the king of Babylon carried captive to Babylonia. They returned to Jerusalem and Judah, each to his own city.
They came with Zerubbabel, Jeshua, Nehemiah, Seraiah, Reelaiah, Mordecai, Bilshan, Mispar, Bigvai, Rehum, and Baanah.
</p>

<div class="sidenote">Ezra 2:3</div>

<p>
the descendants of Parosh, two thousand one hundred and seventy-two;
the descendants of Shephatiah, three hundred and seventy-two;
the descendants of Arah, seven hundred and seventy-five;
the descendants of Pahath-moab, particularly the descendants of Jeshua and Joab, two thousand eight hundred and twelve;
the descendants of Elam, one thousand two hundred and fifty-four;
the descendants of Zattu, nine hundred and forty-five;
the descendants of Zaccai, seven hundred and sixty;
the descendants of Bani, six hundred and forty-two;
the descendants of Bebai, six hundred and twenty-three;
the descendants of Azgad, one thousand two hundred and twenty-two;
the descendants of Adonikam, six hundred and sixty-six;
the descendants of Bigvai, two thousand fifty-six;
the descendants of Adin, four hundred and fifty-four;
the descendants of Ater, particularly of Hezekiah, ninety-eight;
the descendants of Bezai, three hundred and twenty-three;
the descendants of Jorah, one hundred and twelve;
the descendants of Hashum, two hundred and twenty-three;
the descendants of Gibbar, ninety-five;
the people of Bethlehem, one hundred and twenty-three;
the men of Netophah, fifty-six;
the men of Anathoth, one hundred and twenty-eight;
the people of Azmaveth, forty-two;
the people of Kiriath Αrim, Kephirah, and Beeroth, seven hundred and forty-three;
the people of Ramah and Geba, six hundred and twenty-one;
the men of Micmash, one hundred and twenty-two;
the men of Bethel and Ai, two hundred and twenty-three;
the people of Nebo, fifty-two;
the people of Magbish, one hundred and fifty-six;
the people of the other Elam, one thousand two hundred and fifty-four;
the people of Harim, three hundred and twenty;
the people of Lod, Hadid, and Ono, seven hundred and twenty-five;
the people of Jericho, three hundred and forty-five;
the people of Senaah, three thousand six hundred and thirty.
</p>

<div class="sidenote">Ezra 2:36</div>

<p>
The priests: the descendants of Jedaiah, of the house of Jeshua, nine hundred and seventy-three;
the descendants of Immer, one thousand fifty-two;
the descendants of Pashhur, one thousand two hundred and forty-seven;
the descendants of Harim, one thousand seventeen.
</p>

<div class="sidenote">Ezra 2:40</div>

<p>
The Levites: the descendants of Jeshua and Kadmiel, of the descendants of Hodaviah, seventy-four.
</p>

<div class="sidenote">Ezra 2:41</div>

<p>
The singers: the descendants of Asaph, one hundred and twenty-eight.
</p>

<div class="sidenote">Ezra 2:42</div>

<p>
The descendants of the gatekeepers: the descendants of Shallum, the descendants of Ater, the descendants of Talmon, the descendants of Akkub, the descendants of Hatita, and the descendants of Shobai; in total one hundred and thirty-nine.
</p>

<div class="sidenote">Ezra 2:43</div>

<p>
The temple servants: the descendants of Ziha, the descendants of Hasupha, the descendants of Tabbaoth,
the descendants of Keros, the descendants of Siaha, the descendants of Padon,
the descendants of Lebanah, the descendants of Hagabah, the descendants of Akkub,
the descendants of Hagab, the descendants of Shamlai, the descendants of Hanan,
the descendants of Giddel, the descendants of Gahar, the descendants of Reaiah,
the descendants of Rezin, the descendants of Nekoda, the descendants of Gazzam,
the descendants of Uzza, the descendants of Paseah, the descendants of Besai,
the descendants of Asnah, the descendants of Meunim, the descendants of Nephisim,
the descendants of Bakbuk, the descendants of Hakupha, the descendants of Harhur,
the descendants of Bazluth, the descendants of Mehida, the descendants of Harsha,
the descendants of Barkos, the descendants of Sisera, the descendants of Temah,
the descendants of Neziah, and the descendants of Hatipha.
</p>

<div class="sidenote">Ezra 2:55</div>

<p>
The descendants of Solomon's servants: the descendants of Sotai, the descendants of Hassophereth, the descendants of Peruda,
the descendants of Jaalah, the descendants of Darkon, the descendants of Giddel,
the descendants of Shephatiah, the descendants of Hattil, the descendants of Pochereth-hazzebaim, and the descendants of Ami.
</p>

<div class="sidenote">Ezra 2:58</div>

<p>
All the temple servants and the descendants of Solomon's servants were three hundred and ninety-two.
</p>

<div class="sidenote">Ezra 2:59</div>

<p>
Now these were the ones who came up from Tel-melah, Tel-harsha, Cherub, Addan, and Immer, but they were not able to prove their fathers' household and their descent, if they were from Israel:
the descendants of Delaiah, the descendants of Tobiah, and the descendants of Nekoda, six hundred and fifty-two.
And from the descendants of the priests: the descendants of Habaiah, the descendants of Hakkoz, and the descendants of Barzillai (who took a wife from the daughters of Barzillai the Gileadite, and was called by their name).
These sought their record in the genealogy records, but they were not found, and were excluded from the priesthood as unclean.
The governor said to them that they could not eat from the holy food of the sanctuary until there was present a priest for the Urim and Thummim.
</p>

<div class="sidenote">Ezra 2:64</div>

<p>
The whole assembly together was forty-two thousand three hundred and sixty,
apart from their male and female servants, of whom were seven thousand three hundred and thirty-seven; and they had two hundred male and female singers.
Their horses numbered seven hundred and thirty-six, their mules numbered two hundred and forty-five,
their camels numbered four hundred and thirty-five, their donkeys numbered six thousand seven hundred and twenty.
</p>

<div class="sidenote left">Ezra 2:68 <br>to Ezra 2:70</div>

<h3>Gifts Given for Temple Work</h3>

<p>
When some of the heads of families came to the house of the LORD that is in Jerusalem, they gave freewill offerings for the house of God to erect it on its place.
According to their ability they gave to the treasury room for the work sixty-one thousand darics of gold, five thousand minas of silver, and one hundred priestly tunics.
</p>

<div class="sidenote">Ezra 2:70</div>

<p>
The priests, the Levites, and some of the people lived in Jerusalem, and the singers, the gatekeepers, and the temple servants lived in their cities, and all Israel in their cities.
</p>

<div class="sidenote left">Ezra 3:1 <br>to Ezra 3:7</div>

<h3>Worship in Jerusalem Restored</h3>

<p>
Now the seventh month drew near and the Israelites were in the cities, so the people gathered as one in Jerusalem.
And Jeshua son of Jehozadak and his brothers the priests stood up, and Zerubbabel the son of Shealtiel and his brothers built the altar of the God of Israel, in order to offer burnt offerings on it, as it is written in the law of Moses, the man of God.
They set up the altar on its foundations, because they were in terror because of the peoples of the lands. And they offered burnt offerings on it for the LORD, burnt offerings for the morning and the evening.
And they kept the feast of booths, as it is written, and offered burnt offerings day by day in number according to the ordinance as described for each day.
After this, they presented the daily sacrifice of burnt offerings, the offerings for the New Moon Festival, and for all of the appointed times consecrated for the LORD and for all who gave a freewill offering to the LORD.
From the first day of the seventh month they began to offer burnt offerings to the LORD. But the temple of the LORD was not yet founded.
So they gave money to the stone craftsmen and skilled craftsmen, and food, drink, and olive oil to the Sidonians and Tyrians, to bring cedar trees from Lebanon to the sea of Joppa, according to the authorization over them of Cyrus king of Persia.
</p>

<div class="sidenote left">Ezra 3:8 <br>to Ezra 3:13</div>

<h3>Foundation of the Temple is Laid</h3>

<p>
In the second year after their coming to the house of God at Jerusalem, in the second month, Zerubbabel son of Shealtiel and Jeshua son of Jehozadak began their work, and the remainder of their brothers the priests and the Levites and all who came from the captivity to Jerusalem. They appointed the Levites from twenty years and older to direct the work of the house of the LORD.
And Jeshua with his sons and brothers, and Kadmiel and his sons the sons of Judah together directed the workers in the house of God, along with the sons of Henadad and their sons and brothers the Levites.
</p>

<div class="sidenote">Ezra 3:10</div>

<p>
And the builders laid the foundation of the temple of the LORD, and the priests in their apparel with the trumpets, and the Levites, the sons of Asaph, with the cymbals, were positioned to praise the LORD, as described by King David of Israel.
And they sang responsively, with praising and thanksgiving to the LORD saying, 'For he is good, for his loyal love is everlasting for Israel.'
</p>

<div class="sidenote">Ezra 3:12</div>

<p>
But many of the elderly priests, Levites, and heads of the families who had seen the first temple, wept with a loud voice when they saw the foundation of this house, but many shouted aloud with joy.
No person could distinguish the sound of joyful acclaim from the sound of people weeping, for the people shouted with great joyful acclaim and the sound was heard from afar.
</p>

<div class="sidenote left">Ezra 4:1 <br>to Ezra 4:5</div>

<h3>Resistance to Rebuilding the House of God</h3>

<p>
Now the enemies of Judah and Benjamin heard that the returned exiles were building a temple for the LORD the God of Israel.
And they approached Zerubbabel and the heads of the families, and they said to them, 'Let us build with you. Like you, we seek your God and have been sacrificing to him from the days of Esarhaddon the king of Assyria who brought us up here.
But Zerubbabel, Jeshua, and the rest of the heads of the families of Israel said to them, 'It is not for you but for us to build a house for our God. For we ourselves alone will build it for the LORD the God of Israel, just as Cyrus the king of Persia has commanded us.'
</p>

<div class="sidenote">Ezra 4:4</div>

<p>
Then the people of the land discouraged the people of Judah and made them afraid to build
and bribed officials against them to frustrate their plan for all the days of Cyrus king of Persia until the reign of Darius king of Persia.
</p>

<div class="sidenote left">Ezra 4:6 <br>to Ezra 4:24</div>

<h3>Resistance to Rebuilding Jerusalem</h3>

<p>
In the reign of Ahasuerus, at the beginning of his reign, they wrote an accusation against the inhabitants of Judah and Jerusalem.
And in the days of Artaxerxes, Bishlam, Mithredath, Tabeel, and the rest of their colleagues wrote to Artaxerxes king of Persia. The letter was written in Aramaic and translated from Aramaic.
Rehum the royal officer and Shimshai the scribe wrote a letter against Jerusalem to King Artaxerxes as follows
(then Rehum the royal officer, Shimshai the scribe, and the rest of their associates, the judges, the envoys, the officials, the Persians, the Erechs, the Babylonians, the Susians (that is the Elamites)
and the rest of the nations whom the great and noble Osnappar deported and settled in the cities of Samaria and the rest of the province Beyond the River) and now
this is the copy of the letter which they sent to him:
</p>

<div class="sidenote">Ezra 4:12</div>

<p>
be it known to the king that the Jews who have come up from near you to us have gone to Jerusalem. They are building the rebellious and wicked city. They are finishing the wall and repairing the foundation.
Now be it known to the king that if this city is built and the walls are finished, they will not pay tribute and toll, and the royal revenue will be reduced.
Now since we eat the salt of the palace and the dishonor of the king is not proper for us to see, we send and make this known to the king,
so that it may be investigated in the book of records of your ancestors. You will find in the book of records and learn that this city is a rebellious city, hurtful to kings and provinces, and they have rebelled in its midst from ancient times. Because of that this city was destroyed.
We make known to the king that if this city is built and the walls are finished, you will have nothing in the province Beyond the River.'
</p>

<div class="sidenote">Ezra 4:17</div>

<p>
The king sent a reply: 'To Rehum the royal officer, Shimshai the scribe, and the rest of their associates who live in Samaria and the rest of the province Beyond the River, greetings. And now
the letter that you sent to us has been translated and read before me.
And I issued a decree, and they searched and found that this city from ancient days revolted against kings, and rebellion and sedition has been made in it.
Mighty kings have ruled over Jerusalem, governing all the province Beyond the River, to whom tribute, duty, and tax has been given.
So now, issue forth a decree that these men stop and this city not be built, until a decree is issued from me.
And be careful not to be negligent on this matter. Why should damage grow to hurt kings?'
</p>

<div class="sidenote">Ezra 4:23</div>

<p>
Then when a copy of the letter of King Artaxerxes was read before Rehum, Shimshai the scribe, and their associates they returned in a hurry to Jerusalem against the Jews and they stopped them by force and power.
Then the work on the house of God in Jerusalem stopped, and was discontinued until the second year of the reign of Darius king of Persia.
</p>

<div class="sidenote left">Ezra 5:1 <br>to Ezra 5:17</div>

<h3>Temple Restoration Resumed</h3>

<p>
Now the prophets, Haggai and Zechariah the son of Iddo, prophesied to the Jews who were in Judah and in Jerusalem, in the name of the God of Israel who was over them.
Then Zerubbabel the son of Shealtiel and Jeshua the son of Jozadak set out and began to build the house of God that is in Jerusalem. And with them the prophets of God were helping them.
</p>

<div class="sidenote">Ezra 5:3</div>

<p>
At the same time Tattenai, governor of the province Beyond the River, and Shethar-bozenai, and their associates came to them and spoke to them thus: 'Who issued you all a decree to build this house and to finish this structure?'
Then we asked them this: 'What are the names of the men who are building this building?'
And the eye of their God was on the elders of the Jews, and they did not stop them until the report came to Darius, and then answer was received.
</p>

<div class="sidenote">Ezra 5:6</div>

<p>
The copy of the letter that Tattenai, the governor of the province Beyond the River, and Shethar-bozenai and his associates the envoys who were in the province Beyond the River sent to Darius the king.
They sent to him the report in which was written as follows: 'To Darius the king, all peace.
May it be known to the king that we went to the province of Judah, the house of the great God. It is being built with stone blocks and timber is being put in the walls. This work is being done with diligence and is making progress in their hands.
Then we asked those elders and said this to them, 'Who issued forth to you a decree to build this house and to finish this structure?'
We also asked them their names to make them known to you, that we might write down the name of their leaders.
And this is the answer they returned to us: 'We are servants of the God of heaven and earth, and we are building the house that was built formerly many years ago, which a great king of Israel had built and finished.
But because our ancestors angered the God of heaven, he gave them into the hand of the Chaldean King Nebuchadnezzar of Babylon. He destroyed this house and carried away the people to Babylonia.
But in the first year of King Cyrus of Babylon's reign he issued forth a decree to build this house of God.
Also, the gold and silver vessels of the house of God, which Nebuchadnezzar took away from the temple in Jerusalem and brought to the temple in Babylonia, King Cyrus removed them from the temple in Babylonia and they were given to Sheshbazzar, whom he appointed governor.
He said to him, 'Take these vessels. Go put them in the temple in Jerusalem and let the house of God be built on its site.'
Then this Sheshbazzar came and laid the foundation of the house of God in Jerusalem. And from that time until now it is being built, but not yet finished.'
And now, if it seems good for the king, let it be investigated in the house of the treasury of the king in Babylonia to see if a decree was issued forth from King Cyrus to build this house of God in Jerusalem. And let the king send to us his desire on this matter.'
</p>

<div class="sidenote left">Ezra 6:1 <br>to Ezra 6:5</div>

<h3>Darius’ Search for the Decree</h3>

<p>
Then King Darius issued forth a decree, and they searched the house of the treasury of scrolls being stored in Babylonia.
But it was in Ecbatana in the province of Media, in the citadel, that a certain scroll had written on it, 'A record.
In the first year of King Cyrus, he issued forth a decree concerning the house of God in Jerusalem. Let the house be built, the place where sacrifices are offered and let its foundations be raised. Its height shall be sixty cubits and its width sixty cubits,
with three layers of great stones and a layer of timber. Let the new expenses be paid from the house of the king.
Also, let the gold and silver vessels of the house of God, which Nebuchadnezzar took from the temple in Jerusalem and brought to Babylonia, be returned and brought to the temple in Jerusalem to its place. Put them in the house of God.'
</p>

<div class="sidenote left">Ezra 6:6 <br>to Ezra 6:12</div>

<h3>The Decree of Darius</h3>

<p>
'Now then, Tattenai governor of the province Beyond the River, Shethar-bozenai, and your associates, the envoys who are in the province Beyond the River keep far away from there.
Leave this work of the house of God alone. Let the governor of the Jews and the elders of the Jews build this house of God on its site.
And I issue forth a decree for what you should do for these elders of the Jews to build this house of God. The full expense will be paid to these men from the riches of the king from the taxes of the province Beyond the River, without delay.
Whatever may be needed young bulls, young rams, sheep for burnt offerings to the God of heaven, wheat, salt, wine, and oil for the priests in Jerusalem let it be given to them day by day with no negligence,
that they may offer incense offerings to the God of heaven, and pray for the life of the king and his children.
Furthermore, I issue forth a decree that if any person violates this decree, let a beam be pulled out from his house and let him be impaled on it. And let his house be made a pile of rubble on account of this.
May the God who has set his name there overthrow any king or people who sets his hand to alter or to destroy this house of God in Jerusalem. I, Darius, issue forth a decree. Let it be done with diligence.'
</p>

<div class="sidenote left">Ezra 6:13 <br>to Ezra 6:18</div>

<h3>Temple is Dedicated and Completed</h3>

<p>
Then Tattenai the governor of the province Beyond the River, Shethar-bozenai, and their associates consequently did with diligence what Darius the king ordered.
So the elders of the Jews were building and prospering, through the prophecy of Haggai the prophet and Zechariah son of Iddo. They finished building by the command of the God of Israel and by the decree of Cyrus, Darius, and King Artaxerxes of Persia.
This house was completed on the third day of the month of Adar, which was in the sixth year of the reign of King Darius.
</p>

<div class="sidenote">Ezra 6:16</div>

<p>
And the Israelites, the priests, the Levites, and the rest of the returned exiles celebrated the dedication of this house of God with joy.
And they offered during the dedication of this house of God one hundred young bulls, two hundred young rams, four hundred lambs, and twelve male goats as a sin offering for Israel according to the number of the tribes of Israel.
Then they set the priests in their divisions and the Levites in their sections for the work of God in Jerusalem, as it is written in the book of Moses.
</p>

<div class="sidenote left">Ezra 6:19 <br>to Ezra 6:22</div>

<h3>The Celebration of Passover</h3>

<p>
On the fourteenth day of the first month the returned exiles observed the Passover feast.
For the priests and Levites together had consecrated themselves; all of them were clean. And they slaughtered the Passover sacrifice for all of the returned exiles, for their brothers the priests, and for themselves.
The Israelites who returned from the exile and all those who separated themselves from the uncleanness of the nations of the earth to seek the LORD the God of Israel, ate.
With joy they celebrated the festival of unleavened bread for seven days, because the LORD had made them joyful and had turned the heart of the king of Assyria toward them in order to help them with the work of their hands on the house of the God of Israel.
</p>

<div class="sidenote left">Ezra 7:1 <br>to Ezra 7:10</div>

<h3>Ezra’s Arrival and Work</h3>

<p>
After these things during the reign of King Artaxerxes of Persia, Ezra the son of Seraiah, son of Azariah, son of Hilkiah,
son of Shallum, son of Zadok, son of Ahitub,
son of Amariah, son of Azariah, son of Meraioth,
, son of Zerahiah, son of Uzzi, son of Bukki,
son of Abishua, son of Phinehas, son of Eleazar, son of Aaron the chief priest
this Ezra went up from Babylonia. He was a scribe skilled in the law of Moses, which the LORD the God of Israel gave. The king granted him all his requests, for the hand of the LORD was upon him.
</p>

<div class="sidenote">Ezra 7:7</div>

<p>
Some of the Israelites, some priests and Levites, the singers, the gatekeepers, and the temple servants went up to Jerusalem in the seventh year of King Artaxerxes.
He came to Jerusalem in the fifth month, which was in the seventh year of the king.
For on the first day of the first month he began the journey from Babylonia; and on the first day of the fifth month he came to Jerusalem, for the good hand of his God was on him.
For Ezra had set his heart to seek the law of the LORD, to do it, and to teach the regulations and judgments in Israel.
</p>

<div class="sidenote left">Ezra 7:11 <br>to Ezra 7:28</div>

<h3>Artaxerxes’ Letter to Ezra</h3>

<p>
This is the copy of the letter that King Artaxerxes gave to Ezra the priest, the scribe of the scroll of the words of the commands of the LORD and his statutes for Israel:
'Artaxerxes, the king of kings, to Ezra the priest, the scribe of the law of the God of the heavens. Peace. And now
I issue forth a decree that any of the people of Israel, their priests, or their Levites in my kingdom who are willing to go to Jerusalem may go with you.
For you are sent from the king and his seven counselors to enquire about Judah and Jerusalem concerning the law of your God, which is in your hand.
Also, bring the silver and gold that the king and his advisors have freely offered to the God of Israel whose dwelling is in Jerusalem,
and all of the silver and gold that you will find in the whole province of Babylonia, with the freewill offerings of the people and the priests giving willingly for the house of their God in Jerusalem.
With this money, then, with diligence you must buy young bulls, young rams, lambs, and their offerings and libations. You must offer them on the altar that is in the house of your God in Jerusalem.
You may do whatever seems best to you and your brothers to do with the remainder of the silver and gold according to the desire of your God.
And the vessels that were given to you for the service of the house of your God you shall deliver before the God of Jerusalem.
And the remainder of the needs for the house of your God that falls to you to provide, you may provide from the house of the king's treasury.'
</p>

<div class="sidenote">Ezra 7:21</div>

<p>
'I, even I, King Artaxerxes, issue forth a decree to all the treasurers who are in the province Beyond the River. Whatever the priest Ezra, the scribe of the law of the God of heaven, may ask of you, let it be done with diligence,
up to one hundred talents of silver, one hundred measures of wheat, one hundred baths of wine, one hundred baths of oil, and unlimited salt.
All that is commanded by the God of heaven, let it be done with diligence for the house of the God of heaven, otherwise wrath will come on the kingdom of the king and his sons.
You also should be aware that it is not permitted to place tax, tribute, or duty upon all of the priests, the Levites, the singers, the doorkeepers, the temple servants, and other servants of the house of God.
</p>

<div class="sidenote">Ezra 7:25</div>

<p>
'You, Ezra, according to the wisdom of your God that you possess, appoint magistrates and judges who can judge all of the people in the province Beyond the River who know the laws of your God. And you will teach those who do not know.
All who do not obey the law of your God and the law of the king, let judgment be executed on him with diligence, whether for death or for banishment or for confiscation of goods and for imprisonment.'
</p>

<div class="sidenote">Ezra 7:27</div>

<p>
Blessed be the LORD the God of our ancestors, who put this in the heart of the king to glorify the house of the LORD in Jerusalem
and who extended to me loyal love before the king and his counselors, and before all of the mighty officials of the king. I took courage, for the hand of the LORD my God was upon me, and I gathered leaders from Israel to go up with me.
</p>

<div class="sidenote left">Ezra 8:1 <br>to Ezra 8:14</div>

<h3>Family Heads Who Returned With Ezra</h3>

<p>
These were the heads of their families and the register of those returnees from Babylonia who came up with me in the reign of King Artaxerxes:
From the descendants of Phinehas: Gershom. From the descendants of Ithamar: Daniel. From the descendants of David: Hattush.
From the descendants of Shecaniah, from the descendants of Parosh: Zechariah and with him one hundred and fifty registered males.
From the descendants of Pahath-Moab: Eliehoenai son of Zerahiah and with him two hundred males.
From the descendants of Zattu: Shecaniah son of Jahaziel, and with him three hundred males.
From the descendants of Adin: Ebed son of Jehonathan, and with him fifty males.
From the descendants of Elam: Jeshaiah son of Athaliah, and with him seventy males.
From the descendants of Shephatiah: Zebadiah son of Michael, and with him eighty males.
From the descendants of Joab: Obadiah son of Jehiel, and with him two hundred and eighteen males.
From the descendants of Bani: Shelomith son of Josiphiah, and with him one hundred and sixty males.
From the descendants of Bebai: Zechariah son of Bebai, and with him twenty-eight males.
From the descendants of Azgad: Jehohanan son of Haqqatan, and with him one hundred and ten males.
From the descendants of Adonikam, those who came last, these were their names: Eliphelet, Jeiel, Shemaiah, and with them sixty males.
From the descendants of Bigvai: Uthai son of Zabud, and with him seventy males.
</p>

<div class="sidenote left">Ezra 8:15 <br>to Ezra 8:20</div>

<h3>Servants for the Temple are Gathered</h3>

<p>
I gathered them by the river that goes to Ahava and we camped there for three days. And I looked at the people and the priests, I found no one there from the sons of Levi.
And I sent for Eliezer, Ariel, Shemaiah, Elnathan, Jarib, Elnathan, Nathan, Zechariah, and Meshullam, who were family heads, and for Jehoiarib and Elnathan who were wise.
I sent them to Iddo, the head of the place called Casiphia, and I placed in their mouths what words to say to Iddo and his brothers the temple servants in Casiphia, to send to us ministers for the house of our God.
With the good hand of our God before us, they brought us a man of understanding from the sons of Mahli, son of Levi, son of Israel Sherebiah and his sons and brothers, eighteen in total.
Also Hashabiah and with him Jeshaiah, the sons of Merari, with his brothers and their sons, twenty in total.
And from the temple servants, whom David and his officials had set up to serve the Levites, two hundred and twenty in total. All of them were registered by name.
</p>

<div class="sidenote left">Ezra 8:21 <br>to Ezra 8:23</div>

<h3>Ezra Proclaims a Fast</h3>

<p>
I proclaimed a fast there at the river Ahava to humble ourselves before our God in order to seek from him a safe journey for us, our children, and our possessions.
For I was ashamed to ask the king for troops and horses to protect us from enemies on the way because we said to the king, 'the hand of our God is favorable to all who seek him, but his strength and anger are against all who forsake them.'
So we fasted and sought our God for this and he responded to our prayer.
</p>

<div class="sidenote left">Ezra 8:24 <br>to Ezra 8:30</div>

<h3>The Priests’ Gift for the Temple</h3>

<p>
I set apart twelve of the official priests: Sherebiah, Hashabiah, and ten of their brothers with them.
Then I weighed out to them silver and gold and the vessels, the offering of the house of our God that the king, his counselors, his commanders, and all of Israel who was present offered.
I weighed out into their hand six hundred and fifty talents of silver, one hundred vessels of silver, one hundred talents of gold,
twenty gold bowls worth one thousand darics, and two vessels of good polished bronze as precious as gold.
And I said to them, 'You are holy to the LORD and the vessels are holy. The silver and gold are a freewill offering to the LORD, God of your ancestors.
Guard and look after them until you weigh them before the chief priests, the Levites, and the heads of the families of Israel in Jerusalem, in the chamber of the house of the LORD.'
So the priests and Levites took over the weighed silver, gold, and the vessels to bring to Jerusalem for the house of our God.
</p>

<div class="sidenote left">Ezra 8:31 <br>to Ezra 8:36</div>

<h3>Return to Jerusalem</h3>

<p>
On the twelfth day of the first month we set out from the river of Ahava to go to Jerusalem. The hand of our God was on us and he delivered us from the hand of the enemy and from ambushing on the way.
We came to Jerusalem and remained there three days.
On the fourth day, the silver, gold, and vessels were weighed in the house of our God into the hand of priest Meremoth, the son of Uriah, and with him Eleazar son of Phinehas. With them were the Levites, Jehozabad son of Jeshua and Noadiah son of Binnui.
The amount and weight of all the weighed items was recorded at that time.
</p>

<div class="sidenote">Ezra 8:35</div>

<p>
The exiles that returned from captivity offered burnt offerings to the God of Israel; twelve bulls for all Israel, ninety-six rams, seventy-seven lambs, and twelve goats as a sin offering. All was a burnt offering to the LORD.
They delivered the customs of the king to the king's satraps and to the governor of the province Beyond the River. And they supported the people of the house of God.
</p>

<div class="sidenote left">Ezra 9:1 <br>to Ezra 9:4</div>

<h3>Disdain Over Mixed Marriages</h3>

<p>
After finishing these things the officials approached me saying, 'The people of Israel, the priests, and the Levites have not separated from the people of the lands with their detestable things, and from the Canaanites, Hittites, Perizzites, Jebusites, Ammonites, Moabites, Egyptians, and Amorites.
For they have taken from their daughters for themselves and their sons. So the holy seed has mixed itself with the peoples of the lands, and the hand of the officials and prefects were foremost in this sin.
When I heard this I tore my garment and my robe, and I pulled the hair out from my head and beard, and I sat appalled.
Then all who trembled at the words of the God of Israel because of the sin of the returned exiles were gathered around me and I sat appalled until the evening offering.
</p>

<div class="sidenote left">Ezra 9:5 <br>to Ezra 9:15</div>

<h3>Ezra Prays</h3>

<p>
At the evening offering I got up from my mourning posture and, with my garment and robe torn, I fell down on my knees and I spread out my palms to the LORD my God
and said, 'My God, I am ashamed and embarrassed to lift my face to you, my God. For our sins have risen above our heads and our guilt has grown up to the heavens.
From the days of our ancestors until this day we have been in great guilt, and because of our sins we ourselves, our kings, and our priests have been handed into the hand of the kings of the lands, to the sword, to captivity, to plunder, and to utter shame, as it is this day.
But now for a brief moment mercy has been shown by the LORD our God, who left behind for us a remnant, and given us security in his holy place for our God to brighten our eyes and to give us brief relief in our bondage.
For we are slaves and in our bondage our God did not forsake us, and he has extended to us loyal love in the presence of the kings of Persia, to give to us deliverance and to set up the house of our God, to repair its ruins, and to give us a wall in Judea and Jerusalem.
</p>

<div class="sidenote">Ezra 9:10</div>

<p>
'And now our God what shall we say after this? For we have forsaken your commandments,
which you commanded by the hand of your servants the prophets saying, 'The land that you are entering to possess is a land of impurity with the impurity of the peoples of the lands, with their detestable things which they have filled from end to end with their uncleanness.
Therefore, do not give your daughters to their sons, and do not take their daughters for your sons. Do not seek their peace and prosperity so that forever you may be strong and eat the good of the land and may give it as an inheritance to your sons.'
After all that has come upon us for our evil practices and for our great guilt you, our God, have held back less than our guilt deserved and you have given us a remainder such as this.
Shall we again break your commandments and intermarry with the peoples who practice these detestable things? Would you not be angry with us until you destroy us with no remnant or remainder?
the LORD, God of Israel, you are righteous, for we have been left this day as a remnant. Here we are before you in our guilt, for none can stand before you because of this.'
</p>

<div class="sidenote left">Ezra 10:1 <br>to Ezra 10:5</div>

<h3>The People Respond</h3>

<p>
While Ezra was praying and confessing, weeping and throwing himself down before the house of God, a very great assembly of men, women, and children from Israel gathered to him. And the people wept bitterly.
Shecaniah son of Jehiel, of the sons of Elam, answered and said to Ezra, 'We ourselves have broken faith with our God and have married foreign women from the peoples of the land, and even now there is hope for Israel in spite of this.
So now let us make a covenant with our God to send away all of these women and their offspring, according to the advice of my lord and those who tremble at the commandment of our God. Let it be done according to the law.
Arise, for it is your task and we are with you. Be strong and do it.'
Then Ezra stood up and made the chief priests, Levites, and all of Israel swear to do according to what was said. So they swore this oath.
</p>

<div class="sidenote left">Ezra 10:6 <br>to Ezra 10:44</div>

<h3>Foreign Wives and Children are Sent Away</h3>

<p>
Ezra rose from before the house of God and went to the chamber of Jehohanan son of Eliashib. He did not eat food nor drink water because he was mourning over the sin of the exiles.
And they sent a proclamation through Judah and Jerusalem to all the returned exiles to assemble in Jerusalem.
Anyone who did not come within three days, by decision of the officials and elders, all of his possessions would be devoted to God, and he himself would be excluded from the assembly of exiles.
</p>

<div class="sidenote">Ezra 10:9</div>

<p>
Then all the men of Judah and Benjamin assembled in Jerusalem within the three days. It was the ninth month on the twentieth day of the month. All the people sat in the public square of the house of God trembling because of this matter and from the rains.
Then Ezra the priest stood up and said to them, 'You have broke faith and married foreign women, increasing the guilt of Israel.
Now make a confession to the LORD the God of your ancestors and do his will. Separate yourselves from the peoples of the land and from the foreign women.'
</p>

<div class="sidenote">Ezra 10:12</div>

<p>
Then all the assembly answered with a great voice and said, 'It is so. We must do according to your words.
But the people are many, and it is the time of rain; we are unable to stand outside. The task is not for one day or two, for we greatly rebelled in this matter.
Please let our leaders stand for the whole assembly, and let all that are in our cities who have married foreign women come at set times, and with them the elders of and judges of each city, until the fierce wrath of our God because of this matter is averted from us.'
Only Jehonathan son of Asahel and Jahzeiah son of Tikvah stood against this, and the Levites Meshullam and Shabbethai supported them.
</p>

<div class="sidenote">Ezra 10:16</div>

<p>
The returned exiles did so. Ezra the priest selected men, the heads of the families according to the house of their fathers, all of them by name. They sat down to examine the matter on the first day of the tenth month.
They finished investigating all the men who married foreign women by the first day of the first month.
</p>

<div class="sidenote">Ezra 10:18</div>

<p>
There was found from the sons of the priests those who had married foreign women, from the sons of Jeshua son of Jehozadak and his brothers: Maaseiah, Eliezer, Jarib, and Gedaliah.
They pledged themselves to put away their wives, and their guilt offering was a ram of the flock for their guilt.
From the sons of Immer: Hanani and Zebadiah.
From the sons of Harim: Maaseiah, Elijah, Shemaiah, Jehiel, and Uzziah.
From the sons of Pashhur: Elioenai, Maaseiah, Ishmael, Nethanel, Jozabad, and Eleasah.
</p>

<div class="sidenote">Ezra 10:23</div>

<p>
From the Levites: Jozabad, Shimei, Kelaiah (that is, Kelita), Pethahiah, Judah, and Eliezer.
From the singers: Eliashib. From the gatekeepers: Shallum, Telem, and Uri.
</p>

<div class="sidenote">Ezra 10:25</div>

<p>
And from Israel, the sons of Parosh: Ramiah, Izziah, Malkijah, Mijamin, Eleazar, Malkijah, and Benaiah.
From the sons of Elam: Mattaniah, Zechariah, Jehiel, Abdi, Jeremoth, and Elijah.
From the sons of Zattu: Elioenai, Eliashib, Mattaniah, Jeremoth, Zabad, and Aziza.
From the sons of Bebai: Jehohanan, Hananiah, Zabbai, and Athlai.
From the sons of Bani: Meshullam, Malluch, Adaiah, Jashub, Sheal, and Jeremoth.
From the sons of Pahath-Moab: Adna, Kelal, Benaiah, Maaseiah, Mattaniah, Bezalel, Binnui, and Manasseh.
From the sons of Harim: Eliezer, Isshiah, Malkijah, Shemaiah, Simeon,
Benjamin, Malluch, and Shemariah.
From the sons of Hashum: Mattenai, Mattattah, Zabad, Eliphelet, Jeremai, Manasseh, and Shimei.
From the sons of Bani: Maadai, Amram, Uel,
Benaiah, Bedeiah, Keluhi,
Vaniah, Meremoth, Eliashib,
Mattaniah, Mattenai, Jaasu,
Bani, Binnui, Shimei,
Shelemiah, Nathan, Adaiah,
Macnadebai, Shashai, Sharai,
Azarel, Shelemiah, Shemariah,
Shallum, Amariah, and Joseph.
From the sons of Nebo: Jeiel, Mattithiah, Zabad, Zebina, Iddo, Joel, and Benaiah.
All of these had married foreign wives, and some from among the wives bore children.
</p>
