<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Galatians</h1>

<div class="sidenote left">Galatians 1:1 <br>to Galatians 1:5</div>

<h3>Greeting</h3>

<p>
Paul, an apostle not from men nor by men but through Jesus Christ and God the Father who raised him from the dead,
and all the brothers with me, to the churches of Galatia.
Grace to you and peace from God the Father and our Lord Jesus Christ,
who gave himself for our sins in order to rescue us from the present evil age, according to the will of our God and Father,
to whom be the glory forever and ever. Amen.
</p>

<div class="sidenote left">Galatians 1:6 <br>to Galatians 1:10</div>

<h3>A Different Gospel</h3>

<p>
I am astonished that you are turning away so quickly from the one who called you by the grace of Christ to a different gospel,
not that there is a different gospel, except there are some who are disturbing you and wanting to distort the gospel of Christ.
But even if we or an angel from heaven should proclaim a gospel to you contrary to what we proclaimed to you, let him be accursed!
As we said before, and now I say again, if anyone is proclaiming a gospel to you contrary to what you have received, let him be accursed!
For am I now making an appeal to people or to God? Or am I seeking to please people? If I were still trying to please people, I would not be a slave of Christ.
</p>

<div class="sidenote left">Galatians 1:11 <br>to Galatians 1:24</div>

<h3>Paul’s Defense of His Apostleship</h3>

<p>
For I make known to you, brothers, the gospel that has been proclaimed by me, that it is not of human origin.
For neither did I receive it from man, nor was I taught it, but I received it through a revelation of Jesus Christ.
For you have heard about my former way of life in Judaism, that to an extraordinary degree I was persecuting the church of God, and trying to destroy it,
and was progressing in Judaism beyond many contemporaries in my nation, because I was a far more zealous adherent of the traditions handed down by my forefathers.
</p>

<div class="sidenote">Galatians 1:15</div>

<p>
But when the one who set me apart from my mother's womb and called me by his grace was pleased
to reveal his Son in me in order that I would proclaim the gospel about him among the Gentiles, immediately I did not consult with flesh and blood,
nor did I go up to Jerusalem to those who were apostles before me, but I went away to Arabia and I returned again to Damascus.
Then after three years I went up to Jerusalem to become acquainted with Cephas, and I stayed with him fifteen days,
but I did not see any others of the apostles except James, the brother of the Lord.
(Now the things which I am writing to you, behold, I assure you before God that I am not lying.)
Then I came to the regions of Syria and of Cilicia,
but I was unknown in person to the churches of Judea that are in Christ,
and they were only hearing, 'The one formerly persecuting us is now proclaiming the faith that formerly he was attempting to destroy,'
and they were glorifying God because of me.
</p>

<div class="sidenote left">Galatians 2:1 <br>to Galatians 2:10</div>

<h3>Paul’s Ministry Recognized by the Jerusalem Apostles</h3>

<p>
Then after fourteen years I went up again to Jerusalem with Barnabas, taking along Titus also.
Now I went up there because of a revelation and laid out to them the gospel that I preach among the Gentiles, but in private to the influential people, lest somehow I was running, or had run, in vain.
But not even Titus who was with me, although he was a Greek, was compelled to be circumcised.
Now this was because of the false brothers secretly brought in, who slipped in to spy out our freedom that we have in Christ Jesus, in order that they might enslave us,
to whom not even for an hour did we yield in subjection, in order that the truth of the gospel might remain continually with you.
But from those who were influential (whatever they were, it makes no difference to me, God does not show partiality) for those who were influential added nothing to me.
But these, when they saw that I had been entrusted with the gospel to the uncircumcision, just as Peter to the circumcision
(for the one who was at work through Peter for his apostleship to the circumcision was at work also through me for the Gentiles),
and when James and Cephas and John those thought to be pillars acknowledged the grace given to me, they gave to me and Barnabas the right hand of fellowship, in order that we should go to the Gentiles and they to the circumcision.
They asked only that we should remember the poor, the very thing I was also eager to do.
</p>

<div class="sidenote left">Galatians 2:11 <br>to Galatians 2:14</div>

<h3>Paul Confronts Peter at Antioch</h3>

<p>
But when Cephas came to Antioch, I opposed him to his face, because he was condemned.
For before certain people came from James, he used to eat with the Gentiles, but when they came, he withdrew and separated himself, because he was afraid of those who were of the circumcision,
and the rest of the Jews also joined in this hypocrisy with him, so that even Barnabas was carried away with them in their hypocrisy.
But when I saw that they were not being straightforward with the truth of the gospel, I said to Cephas in the presence of them all, 'If you, although you are a Jew, live like a Gentile and not like a Jew, how can you try to compel the Gentiles to live like Jews?'
</p>

<div class="sidenote left">Galatians 2:15 <br>to Galatians 2:21</div>

<h3>Justified by Faith in Christ</h3>

<p>
We are Jews by nature and not sinners from among the Gentiles,
but knowing that a person is not justified by the works of the law, if not by faith in Jesus Christ, and we have believed in Christ Jesus so that we may be justified by faith in Christ and not by the works of the law, because by the works of the law no human being will be justified.
But if while seeking to be justified by Christ, we ourselves also have been found to be sinners, then is Christ an agent of sin? May it never be!
For if I build up again these things which I destroyed, I show myself to be a transgressor.
For through the law I died to the law, in order that I might live to God. I have been crucified with Christ,
and I no longer live, but Christ lives in me, and that life I now live in the flesh, I live by faith in the Son of God, who loved me and gave himself for me.
I do not declare invalid the grace of God, for if righteousness is through the law, then Christ died to no purpose.
</p>

<div class="sidenote left">Galatians 3:1 <br>to Galatians 3:14</div>

<h3>Justified by the Law, or Justified by Faith?</h3>

<p>
O foolish Galatians, who has bewitched you, before whose eyes Jesus Christ was publicly portrayed as having been crucified?
I want only to learn this from you: Did you receive the Spirit by the works of the law, or by the hearing of faith?
Are you so foolish? Having begun by the Spirit, are you now trying to be made complete by the flesh?
Have you suffered so many things for nothing if indeed also it was for nothing?
Therefore does the one who gives you the Spirit and who works miracles among you do so by the works of the law, or by the hearing of faith?
</p>

<div class="sidenote">Galatians 3:6</div>

<p>
Just as Abraham believed God, and it was credited to him for righteousness,
then understand that the ones who have faith, these are sons of Abraham.
And the scripture, foreseeing that God would justify the Gentiles by faith, proclaimed the good news in advance to Abraham: 'In you all the nations will be blessed.'
So then, the ones who have faith are blessed together with Abraham who believed.
For as many as are of the works of the law are under a curse, for it is written, 'Cursed is everyone who does not abide by all the things that are written in the book of the law to do them.'
Now it is clear that no one is justified in the sight of God by the law, because 'the one who is righteous will live by faith.'
But the law is not from faith, but 'the one who does these things will live by them.'
</p>

<div class="sidenote">Galatians 3:13</div>

<p>
Christ redeemed us from the curse of the law by becoming a curse for us, because it is written, 'Cursed is everyone who hangs on a tree,'
in order that the blessing of Abraham might come to the Gentiles in Christ Jesus, so that we might receive the promise of the Spirit through faith.
</p>

<div class="sidenote left">Galatians 3:15 <br>to Galatians 3:18</div>

<h3>The Promise to Abraham and His Descendant</h3>

<p>
Brothers, I am speaking according to a human perspective. Nevertheless, when the covenant of a man has been ratified, no one declares it invalid or adds additional provisions to it.
Now to Abraham and to his descendant the promises were spoken. It does not say, 'and to descendants,' as concerning many, but as concerning one, 'and to your descendant,' who is Christ.
Now I am saying this: the law, that came after four hundred and thirty years, does not revoke a covenant previously ratified by God, in order to nullify the promise.
For if the inheritance is from the law, it is no longer from the promise, but God graciously gave it to Abraham through the promise.
</p>

<div class="sidenote left">Galatians 3:19 <br>to Galatians 3:29</div>

<h3>The Addition of the Law</h3>

<p>
Why then the law? It was added on account of transgressions, until the descendant should come to whom it had been promised, having been ordered through angels by the hand of a mediator.
Now the mediator is not for one, but God is one.
</p>

<div class="sidenote">Galatians 3:21</div>

<p>
Therefore is the law opposed to the promises of God? May it never be! For if a law had been given that was able to give life, certainly righteousness would have been from the law.
But the scripture imprisoned all under sin, in order that the promise could be given by faith in Jesus Christ to those who believe.
</p>

<div class="sidenote">Galatians 3:23</div>

<p>
But before faith came, we were detained under the law, imprisoned until the coming faith was revealed.
So then, the law became our guardian until Christ, in order that we could be justified by faith.
But after faith has come, we are no longer under a guardian.
For you are all sons of God through faith in Christ Jesus,
for as many of you as were baptized into Christ have put on Christ.
There is neither Jew nor Greek, there is neither slave nor free, there is neither male and female, for you are all one in Christ Jesus.
And if you are Christ's, then you are descendants of Abraham, heirs according to the promise.
</p>

<div class="sidenote left">Galatians 4:1 <br>to Galatians 4:7</div>

<h3>No Longer Slaves But Sons and Heirs</h3>

<p>
Now I say, for as long a time as the heir is a child, he is no different from a slave, although he is master of everything,
but he is under guardians and managers until the time set by his father.
So also we, when we were children, we were enslaved under the elemental spirits of the world.
But when the fullness of time came, God sent out his Son, born of a woman, born under the law,
in order that he might redeem those under the law, in order that we might receive the adoption.
And because you are sons, God sent out the Spirit of his Son into our hearts, crying out, 'Abba! (Father!),'
so that you are no longer a slave but a son, and if a son, also an heir through God.
</p>

<div class="sidenote left">Galatians 4:8 <br>to Galatians 4:12</div>

<h3>Do Not Be Enslaved Again</h3>

<p>
But at that time when you did not know God, you were enslaved to the things which by nature are not gods.
But now, because you have come to know God, or rather have come to be known by God, how can you turn back again to the weak and miserable elemental spirits? Do you want to be enslaved to them all over again?
You carefully observe days and months and seasons and years.
I am afraid for you, lest perhaps I have labored for you in vain!
I ask you, brothers, become like me, because I also have become like you. You have done me no wrong!
</p>

<div class="sidenote left">Galatians 4:13 <br>to Galatians 4:20</div>

<h3>Paul’s Personal Appeal</h3>

<p>
But you know that because of an illness of the flesh I proclaimed the gospel to you the first time.
And you did not despise or disdain what was a trial for you in my flesh, but you welcomed me like an angel of God, like Christ Jesus.
So where is your blessing? For I testify to you that, if possible, you would have torn out your eyes and given them to me!
So then, have I become your enemy by being truthful to you?
They zealously seek you, not commendably, but they want to exclude you, in order that you may seek them zealously.
But it is good to be sought zealously in good at all times, and not only when I am present with you.
My children, for whom I am having birth pains again, until Christ is formed in you!
But I could wish to be present with you now, and to change my tone because I am perplexed about you.
</p>

<div class="sidenote left">Galatians 4:21 <br>to Galatians 4:31</div>

<h3>Hagar and Sarah Represent Two Covenants</h3>

<p>
Tell me, you who are wanting to be under the law, do you not understand the law?
For it is written that Abraham had two sons, one by the female slave and one by the free woman.
But the one by the female slave was born according to human descent, and the one by the free woman through the promise,
which things are spoken allegorically, for these women are two covenants, one from Mount Sinai, bearing children for slavery, who is Hagar.
Now Hagar is Mount Sinai in Arabia, and corresponds to the present Jerusalem, for she is a slave with her children.
But the Jerusalem above is free, which is our mother.
For it is written,
</p>

<div class="sidenote">Galatians 4:28</div>

<p>
But you, brothers, are children of the promise, just as Isaac.
But just as at that time the child born according to human descent persecuted the child born according to the Spirit, so also now.
But what does the scripture say? 'Drive out the female slave and her son, for the son of the female slave will never inherit with the son' of the free woman.
Therefore, brothers, we are not children of the female slave but of the free woman.
</p>

<div class="sidenote left">Galatians 5:1 <br>to Galatians 5:15</div>

<h3>Live in Freedom and Love One Another</h3>

<p>
For freedom Christ has set us free. Stand firm, therefore, and do not be subject again to a yoke of slavery.
Look! I, Paul, tell you that if you become circumcised, Christ will profit you nothing!
And again I testify to every man who becomes circumcised, that he is under obligation to keep the whole law.
You are estranged from Christ, you who are attempting to be justified by the law; you have fallen from grace.
For through the Spirit by faith we eagerly await the hope of righteousness.
For in Christ Jesus neither circumcision counts for anything nor uncircumcision, but faith working through love.
</p>

<div class="sidenote">Galatians 5:7</div>

<p>
You were running well. Who hindered you from obeying the truth?
This persuasion is not from the one who calls you!
A little leaven leavens the whole batch of dough.
I have confidence in you in the Lord that you will think nothing different, but the one who is confusing you will pay the penalty, whoever he may be.
Now, brothers, if I am still preaching circumcision, why am I still being persecuted? In that case the stumbling block of the cross has been abolished.
I wish that the ones who are disturbing you would also castrate themselves!
</p>

<div class="sidenote">Galatians 5:13</div>

<p>
For you were called to freedom, brothers. Only do not let your freedom become an opportunity for the flesh, but through love serve one another.
For the whole law is fulfilled in one statement, namely, 'You shall love your neighbor as yourself.'
But if you bite and devour one another, watch out that you are not consumed by one another.
</p>

<div class="sidenote left">Galatians 5:16 <br>to Galatians 5:26</div>

<h3>Live by the Spirit and Reject the Deeds of the Flesh</h3>

<p>
But I say, live by the Spirit, and you will never carry out the desire of the flesh.
For the flesh desires against the Spirit, and the Spirit against the flesh, for these are in opposition to one another, so that whatever you want, you may not do these things.
But if you are led by the Spirit, you are not under the law.
</p>

<div class="sidenote">Galatians 5:19</div>

<p>
Now the deeds of the flesh are evident, which are sexual immorality, impurity, licentiousness,
idolatry, sorcery, enmity, strife, jealousy, outbursts of anger, selfish ambition, dissension, factions,
envy, drunkenness, carousing, and things like these, things which I am telling you in advance, just as I said before, that the ones who practice such things will not inherit the kingdom of God.
But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness,
gentleness, self control. Against such things there is no law.
Now those who belong to Christ have crucified the flesh together with its feelings and its desires.
</p>

<div class="sidenote">Galatians 5:25</div>

<p>
If we live by the Spirit, we must also follow the Spirit.
We must not become conceited, provoking one another, envying one another.
</p>

<div class="sidenote left">Galatians 6:1 <br>to Galatians 6:5</div>

<h3>Carry One Another’s Burdens</h3>

<p>
Brothers, even if a person is caught in some trespass, you who are spiritual restore such a person in a spirit of humility, looking out for yourself, lest you also be tempted.
Carry the burdens of one another, and so fulfill the law of Christ.
For if anyone thinks he is something although he is nothing, he is deceiving himself.
But let each one examine his own work, and then he will have a reason for boasting in himself alone, and not in someone else.
For each one will carry his own burden.
</p>

<div class="sidenote left">Galatians 6:6 <br>to Galatians 6:10</div>

<h3>Do Good to All People</h3>

<p>
Now the one who is taught the word must share in all good things with the one who teaches.
Do not be deceived: God is not to be mocked, for whatever a person sows, this he will also reap,
because the one who sows to his own flesh will reap corruption from the flesh, but the one who sows to the Spirit will reap eternal life from the Spirit.
And let us not grow weary in doing good, for at the proper time we will reap, if we do not give up.
So then, as we have opportunity, let us do good to all people, and especially to those who belong to the household of faith.
</p>

<div class="sidenote left">Galatians 6:11 <br>to Galatians 6:16</div>

<h3>A Final Warning</h3>

<p>
See with what large letters I am writing to you with my own hand.
As many as are wanting to make a good showing in the flesh, these are attempting to compel you to be circumcised, only so that they will not be persecuted for the cross of Christ.
For not even those who are circumcised observe the law themselves, but they want you to be circumcised in order that they may boast in your flesh.
But as for me, may it never be that I boast, except in the cross of our Lord Jesus Christ, through whom the world has been crucified to me, and I to the world.
For neither is circumcision anything nor uncircumcision, but a new creation.
And all those who follow this rule, peace and mercy be on them and on the Israel of God.
</p>

<div class="sidenote left">Galatians 6:17 <br>to Galatians 6:18</div>

<h3>Conclusion and Benediction</h3>

<p>
Finally, let no one cause me trouble, for I carry on my body the marks of Jesus.
The grace of our Lord Jesus Christ be with your spirit, brothers. Amen.
</p>
