<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Habakkuk</h1>

<div class="sidenote left">Habakkuk 1:1 <br>to Habakkuk 1:4</div>

<h3>Habakkuk’s Complaint</h3>

<p>
The oracle that Habakkuk the prophet saw.
</p>

<div class="sidenote">Habakkuk 1:2</div>

<p>
O the LORD, how long shall I cry for help and you will not listen? How long will I cry out to you, 'Violence!' and you will not save?
Why do you cause me to see evil while you look at trouble? Destruction and violence happen before me; contention and strife arise.
Therefore the law is paralyzed, and justice does not go forth perpetually. For the wicked surround the righteous; therefore justice goes forth perverted.
</p>

<div class="sidenote left">Habakkuk 1:5 <br>to Habakkuk 1:11</div>

<h3>God’s Answer to Habakkuk</h3>

<p>
'Look among the nations and see; be astonished and astounded. For a work is about to be done in your days that you will not believe if it is told.
For look! I am raising up the Chaldeans, the bitter and impetuous nation, the one who walks through the spacious places of earth to take possession of dwellings not belonging to it.
They are dreadful and awesome; their justice and their dignity proceed from themselves.
Their horses are more swift than leopards; they are more menacing than wolves at dusk. Their horsemen gallop; their horsemen come from afar; they fly like an eagle that is swift to devour.
All of them come for violence, their faces pressing forward. They gather captives like the sand.
And they themselves scoff at kings and rulers are a joke to them. They laugh at every fortification, and they heap up earth and take it.
Then they sweep like the wind and pass on; they become guilty, whose might is their god!'
</p>

<div class="sidenote left">Habakkuk 1:12 <br>to Habakkuk 1:17</div>

<h3>Habakkuk’s Second Complaint</h3>

<p>
Are you not from of old, O the LORD my God, my Holy One? You shall not die. O the LORD, you have marked them for judgment; O Rock, you have established them for reproof.
Your eyes are too pure to see evil, and you are not able to look at wrongdoing. Why do you look at the treacherous? Why are you silent when the wicked swallows up someone more righteous than him?
You make humankind like fish of the sea, like crawling creatures that have no ruler among them.
He brings up all of them with a fishhook; he drags them up with a fishnet; he gathers them in his dragnet. Therefore, he rejoices and exults.
Therefore he sacrifices to his fishnet and makes offerings to his dragnet, for by them he makes a good living and his food is rich.
Will he therefore empty his fishnet and continually kill nations without showing mercy?
</p>

<div class="sidenote left">Habakkuk 2:1 <br>to Habakkuk 2:20</div>

<h3>The Righteous Will Live by Faith</h3>

<p>
I will stand at my post, and station myself on the rampart. And I will keep watch to see what he will say to me, and what he will answer concerning my complaint.
</p>

<div class="sidenote">Habakkuk 2:2</div>

<p>
Then the LORD answered me and said, 'Write the vision and make it plain on the tablet so that it might be read quickly.
For there is yet a vision for the appointed time; it will give witness to the end, and it will not lie. If it tarries, wait for it, for it will surely come and not delay.
Look! His spirit within him is puffed up; it is not upright. But the righteous shall live by his faithfulness.
How much less the defiant; the arrogant, treacherous man? He who broadens his throat like Sheol, and who, like death, is not satisfied, and who gathers to himself all the nations, and harvested for himself all the peoples, will not succeed.
Shall not all of these take up a taunt against him, with ridicule and riddles against him, saying, 'Woe to him who heaps up what is not his'? For how long? And, 'Woe to him who makes himself heavy with pledges'?
Will not your creditors suddenly rise up and awaken those who make you tremble? Then you shall be as plunder for them.
Because you plundered many nations, all the remaining nations will plunder you on account of the blood of humanity and violence against the land, and against cities and all who live in them.
Woe to him who obtains profit from evil gain for his house, to set his nest on high, to be saved from the hand of misfortune!
You have plotted shame for your house, cutting off many peoples and sinning against your life.
For the stone will cry out from the wall, and the plaster from the wood will answer it.
Woe to him who builds a city by bloodguilt, and who founds a city by wickedness!
</p>

<div class="sidenote">Habakkuk 2:13</div>

<p>
Look! Is it not from the LORD of hosts that people labor for mere fire, and nations exhaust themselves for mere vanity?
For the earth will be filled with the knowledge of the glory of the LORD, like the waters covering the sea.
Woe to him who gives a drink to his neighbors, pouring out your wrath and also making them drunk in order to see their nakedness!
You will be sated with shame rather than glory. Drink also yourself, and expose yourself! The cup of the right hand of the LORD will come around upon you and disgrace upon your glory.
For the violence of Lebanon will cover you, and the destruction of wild animals will shatter them on account of the blood of humanity, and the violence against the land, against a city and all the inhabitants in it.
What value is an idol when its carver has fashioned it, a molten idol, a teacher of lies? For he who fashioned his creation trusts in it, though making mute idols!
Woe to him who says to the wood, 'Wake up!' And to a lifeless stone, 'Arise!' Can he teach? Look, it is covered with gold and silver, and there is no breath within it.
</p>

<div class="sidenote">Habakkuk 2:20</div>

<p>
But the LORD is in his holy temple. Let all the earth be silent before him.'
</p>

<div class="sidenote left">Habakkuk 3:1 <br>to Habakkuk 3:19</div>

<h3>The Prayer of Habakkuk</h3>

<p>
A prayer of Habakkuk the prophet, according to Shigionoth.
</p>

<div class="sidenote">Habakkuk 3:2</div>

<p>
O the LORD, I have heard the report of you; O the LORD, I stand in awe of your works. In the midst of the years, revive it! In the midst of the years, make it known! In wrath, may you remember to show compassion.
God came from Teman; the Holy One from Mount Paran. Selah His splendor covers the heavens, and his praise fills the earth.
And his brightness was like the light; flashing rays came from his hand for him; And there is the covering of his strength.
Before him went Disease, and Pestilence went out at his feet.
He stood and measured the earth; he looked and made the nations tremble. Then the mountains of old were shattered; the hills of old collapsed. The ways of old belong to him.
</p>

<div class="sidenote">Habakkuk 3:7</div>

<p>
Under affliction I saw the tents of Cushan; the tent curtains of the land of Midian trembled.
Was the anger of the LORD against the rivers? Was your wrath against the rivers, or your fury against the sea, when you mounted upon your horses, upon your victory chariot?
You laid bare the nakedness of your bow, swearing oaths with the arrows of your word. You split the earth with rivers.
When the mountains saw you they writhed; a torrent of waters swept by; the deep gave its voice; it raised its hands on high.
Sun and moon stood still in their place; at the light of your arrows they moved about; at the gleam of the flashing of your spear.
In fury you marched through the earth; in anger you trampled the nations.
You went forth for the salvation of your people, for the salvation of your anointed. You crushed the head of the house of wickedness, laying bare from the foundation to the top.
</p>

<div class="sidenote">Habakkuk 3:14</div>

<p>
You pierced the head of his warriors with his own arrows; they came like a whirlwind to scatter me, their exultation like one who devours the afflicted in ambush.
You trampled upon the sea with your horses, the churning of many waters.
I hear and my stomach shakes; my lips quiver at the sound; infection enters my bones; that which is beneath me trembles; I wait quietly for the day of trouble to come upon the people attacking us.
Though the fig tree does not blossom, nor there be fruit on the vines; the yield of the olive tree fails, and the cultivated fields do not yield food; the flock is cut off from the animal pen, and there is no cattle in the stalls,
Yet I will rejoice in the LORD; I will exult in the God of my salvation.
the LORD, my Lord, is my strength; he makes my feet like the deer; he causes me to walk on my high places. To the choirmaster with stringed instruments.
</p>
