<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Haggai</h1>

<div class="sidenote left">Haggai 1:1 <br>to Haggai 1:15</div>

<h3>The Temple Lies in Ruins</h3>

<p>
In the second year of King Darius, in the sixth month, on the first day, the word of the LORD came through Haggai the prophet to Zerubbabel the son of Shealtiel, governor of Judah, and to Joshua the son of Jehozadak, the high priest, saying,
'Thus says the LORD of hosts: 'This people says, 'The time has not come to rebuild the temple of the LORD.''
And the word of the LORD came through Haggai the prophet, saying,
'Is it a time for you yourselves to dwell in your houses that have been paneled while this house is desolate?'
And so then, thus says the LORD of hosts: 'Consider your ways!
You have sown much but have harvested little. You have eaten without being satisfied; you have drunk without being satiated; you have worn clothes without being warm; the one who earns wages puts it in a pouch with holes.'
Thus says the LORD of hosts: 'Consider your ways!
Go up the mountain and bring wood and build the house so that I may be pleased with it and honored,' says the LORD.
'You have looked for much, and look! It came to little; and when you brought it home, I blew it away. Why?' declares the LORD of hosts. 'Because my house is desolate and you are running each to your own house!
Therefore, because of you the heavens have withheld the dew and the earth has withheld its produce.
I have called for a drought on the land and the hills, on the grain, the new wine, the olive oil, on what the soil produces, on human beings and wild animals, and on all their labor.''
</p>

<div class="sidenote">Haggai 1:12</div>

<p>
Zerubbabel son of Shealtiel, Joshua son of Jehozadak, the high priest, and all the remnant of the people gave heed to the voice of the LORD their God and to the words of Haggai the prophet, as the LORD their God had sent him, and the people feared the LORD.
And Haggai the messenger of the LORD spoke to the people with the message of the LORD, saying, I am with you' declares the LORD.'
And the LORD stirred up the spirit of Zerubbabel son of Shealtiel, governor of Judah, and the spirit of Joshua son of Jehozadak, the high priest, and the spirit of all the remnant of the people. And they came and did the work on the house of the LORD of hosts, their God,
on the twenty-fourth day of the sixth month in the second year of King Darius.
</p>

<div class="sidenote left">Haggai 2:1 <br>to Haggai 2:19</div>

<h3>A Promise to Rebuild</h3>

<p>
In the seventh month on the twenty-first day, the word of the LORD came through Haggai the prophet, saying,
'Speak now to Zerubbabel son of Shealtiel, governor of Judah, and to Joshua son of Jehozadak, the high priest, and to the remnant of the people, saying,
'Who among you is left that saw this house in its former glory? And how do you see it now? Does it seem like nothing to you?
'But now take courage, Zerubbabel,' declares the LORD. 'Take courage, Joshua son of Jehozadak, the high priest, and take courage, all the people of the land,' declares the LORD. 'Do the work, because I am with you,' declares the LORD of hosts,
'according to the promise that I covenanted with you when you came out of Egypt. My spirit is with you; do not be afraid.'
For thus says the LORD of hosts: 'Once again, in a little while, I will shake the heavens and the earth and the sea and dry land.
I will shake all the nations so that the treasure of all the nations will come, and I will fill this house with glory,' says the LORD of hosts.
'The silver is mine and the gold is mine,' declares the LORD of hosts.
'The latter glory of this house will be greater than the former,' says the LORD of hosts, 'and in this place I will give peace' declares the LORD of hosts.''
</p>

<div class="sidenote">Haggai 2:10</div>

<p>
On the twenty-fourth day of the ninth month, in the second year of Darius, the word of the LORD came to the prophet Haggai, saying,
'Thus says the LORD of hosts: 'Ask now the priests for a ruling:
If a man carries consecrated meat in the hem of his garment, and his hem touches bread, or stew, or wine, or olive oil, or any kind of food, will it become holy?'' The priests answered, 'No.'
Then Haggai said, 'If one who is unclean from contact with a corpse touches any of these, will it become unclean?' The priests answered, 'Yes, it will be become unclean.'
And Haggai answered and said, So it is with this people, and with this nation before me,' declares the LORD, 'and so it is with every kind of work of their hands; and what they offer there is unclean.
But now, please consider from this day forward, before one stone was placed on another in the temple of the LORD,
from that time when one came to a heap of twenty measures, there were only ten, and when one came to the wine vat to draw out fifty measures, there were only twenty.
I struck you with blight, and with plant mildew, and hail, all the work of your hands. But you did not come back to me,' declares the LORD.
'Please consider from this day forward, from the twenty-fourth day of the ninth month, from the day that the foundation of the LORD's temple was laid, consider:
Is there still seed in the store chamber? Do the vine, the fig tree, the pomegranate, and the olive tree still produce nothing? From this day forward I will bless you.''
</p>

<div class="sidenote left">Haggai 2:20 <br>to Zechariah 1:6</div>

<h3>The Coming Kingdom</h3>

<p>
And the word of the LORD came to Haggai a second time on the twenty-fourth day of the month saying,
'Say to Zerubbabel, governor of Judah: I am going to shake the heavens and the earth,
and I will overthrow the thrones of kingdoms and destroy the military strength of the kingdoms of the nations. I will overthrow chariots and their drivers; horses and their riders will fall, every one by the sword of another!
'On that day,' declares the LORD of hosts, 'I will take you, Zerubbabel son of Shealtiel, my servant,' declares the LORD, 'and I will make you a signet ring, for I have chosen you,' declares the LORD of hosts.'
</p>
