<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Hebrews</h1>

<div class="sidenote left">Hebrews 1:1 <br>to Hebrews 1:4</div>

<h3>God’s Full and Final Revelation in the Son</h3>

<p>
Although God spoke long ago in many parts and in many ways to the fathers by the prophets,
in these last days he has spoken to us by a Son, whom he appointed heir of all things, through whom also he made the world,
who is the radiance of his glory and the representation of his essence, sustaining all things by the word of power. When he had made purification for sins through him, he sat down at the right hand of the Majesty on high,
having become by so much better than the angels, by as much as he has inherited a more excellent name than theirs.
</p>

<div class="sidenote left">Hebrews 1:5 <br>to Hebrews 1:14</div>

<h3>The Son Superior to the Angels</h3>

<p>
For to which of the angels did he ever say,
</p>

<div class="sidenote">Hebrews 1:6</div>

<p>
And again, when he brings the firstborn into the world, he says,
</p>

<div class="sidenote">Hebrews 1:7</div>

<p>
And concerning the angels he says,
</p>

<div class="sidenote">Hebrews 1:8</div>

<p>
but concerning the Son,
</p>

<div class="sidenote">Hebrews 1:9</div>

<p>
You have loved righteousness and hated lawlessness; because of this God, your God, has anointed you with the olive oil of joy more than your companions.
</p>

<div class="sidenote">Hebrews 1:10</div>

<p>
And,
</p>

<div class="sidenote">Hebrews 1:11</div>

<p>
they will perish, but you continue, and they will all become old like a garment,
</p>

<div class="sidenote">Hebrews 1:12</div>

<p>
and like a robe you will roll them up, and like a garment they will be changed; but you are the same, and your years will not run out.'
</p>

<div class="sidenote">Hebrews 1:13</div>

<p>
But to which of the angels has he ever said,
</p>

<div class="sidenote">Hebrews 1:14</div>

<p>
Are they not all spirits engaged in special service, sent on assignment for the sake of those who are going to inherit salvation?
</p>

<div class="sidenote left">Hebrews 2:1 <br>to Hebrews 2:4</div>

<h3>Warning Not to Neglect Salvation</h3>

<p>
Because of this, it is all the more necessary that we pay attention to the things we have heard, lest we drift away.
For if the word spoken through angels was binding and every transgression and act of disobedience received a just penalty,
how will we escape if we neglect so great a salvation which had its beginning when it was spoken through the Lord and was confirmed to us by those who heard,
while God was testifying at the same time by signs and wonders and various miracles and distributions of the Holy Spirit according to his will.
</p>

<div class="sidenote left">Hebrews 2:5 <br>to Hebrews 2:18</div>

<h3>The Son’s Humiliation and Suffering</h3>

<p>
For he did not subject to angels the world to come, about which we are speaking.
But someone testified somewhere, saying,
</p>

<div class="sidenote">Hebrews 2:7</div>

<p>
You made him for a short time lower than the angels; you crowned him with glory and honor;
</p>

<div class="sidenote">Hebrews 2:8</div>

<p>
you subjected all things under his feet.
</p>

<div class="sidenote">Hebrews 2:9</div>

<p>
but we see Jesus, for a short time made lower than the angels, because of the suffering of death crowned with glory and honor, so that apart from God he might taste death on behalf of everyone.
For it was fitting for him for whom are all things and through whom are all things in bringing many sons to glory to perfect the originator of their salvation through sufferings.
For both the one who sanctifies and the ones who are sanctified are all from one, for which reason he is not ashamed to call them brothers,
saying,
</p>

<div class="sidenote">Hebrews 2:13</div>

<p>
And again,
</p>

<div class="sidenote">Hebrews 2:14</div>

<p>
Therefore, since the children share in blood and flesh, he also in like manner shared in these same things, in order that through death he could destroy the one who has the power of death, that is, the devil,
and could set free these who through fear of death were subject to slavery throughout all their lives.
For surely he is not concerned with angels, but he is concerned with the descendants of Abraham.
Therefore he was obligated to be made like his brothers in all respects, in order that he could become a merciful and faithful high priest in the things relating to God, in order to make atonement for the sins of the people.
For in that which he himself suffered when he was tempted, he is able to help those who are tempted.
</p>

<div class="sidenote left">Hebrews 3:1 <br>to Hebrews 3:6</div>

<h3>The Superiority of Jesus to Moses</h3>

<p>
Therefore, holy brothers, sharers in a heavenly calling, consider Jesus, the apostle and high priest of our confession,
who was faithful to the one who appointed him, as Moses also was in his household.
For this one is considered worthy of greater glory than Moses, inasmuch as the one who builds it has greater honor than the house.
For every house is built by someone, but the one who built all things is God.
And Moses was faithful in all his house as a servant, for a testimony to the things that would be spoken,
but Christ was faithful as a son over his house, whose house we are, if we hold fast to our confidence and the hope we can be proud of.
</p>

<div class="sidenote left">Hebrews 3:7 <br>to Hebrews 3:19</div>

<h3>A Serious Warning Against Unbelief</h3>

<p>
Therefore, just as the Holy Spirit says,
</p>

<div class="sidenote">Hebrews 3:8</div>

<p>
do not harden your hearts as in the rebellion, in the day of testing in the wilderness,
</p>

<div class="sidenote">Hebrews 3:9</div>

<p>
where your fathers tested me by trial and saw my works
</p>

<div class="sidenote">Hebrews 3:10</div>

<p>
for forty years. Therefore I was angry with this generation, and I said, 'They always go astray in their heart, and they do not know my ways.'
</p>

<div class="sidenote">Hebrews 3:11</div>

<p>
As I swore in my anger, 'They will never enter into my rest.''
</p>

<div class="sidenote">Hebrews 3:12</div>

<p>
Watch out, brothers, lest there be in some of you an evil, unbelieving heart, with the result that you fall away from the living God.
But encourage one another day by day, as long as it is called 'today,' so that none of you become hardened by the deception of sin.
For we have become partners of Christ, if indeed we hold fast the beginning of our commitment steadfast until the end,
while it is said,
</p>

<div class="sidenote">Hebrews 3:16</div>

<p>
For who, when they heard it, were disobedient? Surely it was not all who went out from Egypt through Moses?
And with whom was he angry for forty years? Was it not with those who sinned, whose dead bodies fell in the wilderness?
And to whom did he swear they would not enter into his rest, except those who were disobedient?
And so we see that they were not able to enter because of unbelief.
</p>

<div class="sidenote left">Hebrews 4:1 <br>to Hebrews 4:13</div>

<h3>The Rest that Remains for the People of God</h3>

<p>
Therefore let us fear, while there remains a promise of entering into his rest, that none of you appear to fall short of it.
For we also have had the good news proclaimed to us, just as those also did, but the message they heard did not benefit them, because they were not united with those who heard it in faith.
For we who have believed enter into rest, just as he has said,
</p>

<div class="sidenote">Hebrews 4:4</div>

<p>
For he has spoken somewhere about the seventh day in this way: 'And God rested on the seventh day from all his works,'
and in this passage again, 'They will never enter into my rest.''
Since therefore it remains for some to enter into it, and the ones to whom the good news was proclaimed previously did not enter because of disobedience,
again he ordains a certain day, today, speaking by David after so long a time, just as had been said before,
</p>

<div class="sidenote">Hebrews 4:8</div>

<p>
For if Joshua had caused them to rest, he would not have spoken about another day after these things.
Consequently a sabbath rest remains for the people of God.
For the one who has entered into his rest has also himself rested from his works, just as God did from his own works.
</p>

<div class="sidenote">Hebrews 4:11</div>

<p>
Therefore, let us make every effort to enter into that rest, in order that no one may fall in the same pattern of disobedience.
For the word of God is living and active and sharper than any double-edged sword, and piercing as far as the division of soul and spirit, both joints and marrow, and able to judge the reflections and thoughts of the heart.
And no creature is hidden in the sight of him, but all things are naked and laid bare to the eyes of him to whom we must give our account.
</p>

<div class="sidenote left">Hebrews 4:14 <br>to Hebrews 4:16</div>

<h3>Jesus Our Great High Priest</h3>

<p>
Therefore, because we have a great high priest who has gone through the heavens, Jesus the Son of God, let us hold fast to our confession.
For we do not have a high priest who is not able to sympathize with our weaknesses, but who has been tempted in all things in the same way, without sin.
Therefore let us approach with confidence to the throne of grace, in order that we may receive mercy and find grace to help in time of need.
</p>

<div class="sidenote left">Hebrews 5:1 <br>to Hebrews 5:10</div>

<h3>A High Priest Like Melchizedek</h3>

<p>
For every high priest taken from among men is appointed on behalf of people in the things relating to God, in order that he can offer both gifts and sacrifices on behalf of sins,
being able to deal gently with those who are ignorant and led astray, since he himself also is surrounded by weakness,
and because of it he is obligated to offer sacrifices for sins for himself also, as well as for the people.
And someone does not take for himself the honor, but is called by God, just as Aaron also was.
Thus also Christ did not glorify himself to become high priest, but the one who said to him,
</p>

<div class="sidenote">Hebrews 5:6</div>

<p>
just as also in another place he says,
</p>

<div class="sidenote">Hebrews 5:7</div>

<p>
who in the days of his flesh offered up both prayers and supplications, with loud crying and tears, to the one who was able to save him from death, and he was heard as a result of his reverence.
Although he was a son, he learned obedience from what he suffered,
and being perfected, he became the source of eternal salvation to all those who obey him,
being designated by God a high priest according to the order of Melchizedek.
</p>

<div class="sidenote left">Hebrews 5:11 <br>to Hebrews 5:14</div>

<h3>Advanced Teaching Hindered by Immaturity</h3>

<p>
Concerning this we have much to say and it is difficult to explain, since you have become sluggish in hearing.
For indeed, although you ought to be teachers by this time, you have need of someone to teach you again the beginning elements of the oracles of God, and you have need of milk, not solid food.
For everyone who partakes of milk is unacquainted with the message of righteousness, because he is an infant.
But solid food is for the mature, who because of practice have trained their faculties for the distinguishing of both good and evil.
</p>

<div class="sidenote left">Hebrews 6:1 <br>to Hebrews 6:12</div>

<h3>A Serious Warning Against Falling Away</h3>

<p>
Therefore, leaving behind the elementary message about Christ, let us move on to maturity, not laying again a foundation of repentance from dead works and faith in God,
teaching about baptisms and laying on of hands, and resurrection of the dead and eternal judgment.
And this we will do, if God permits.
For it is impossible concerning those who have once been enlightened, and have tasted the heavenly gift, and become sharers of the Holy Spirit,
and have tasted the good word of God and the powers of the coming age,
and having fallen away, to renew them again to repentance, because they have crucified again for themselves the Son of God and held him up to contempt.
For ground that drinks the rain that comes often upon it, and brings forth vegetation usable to those people for whose sake it is also cultivated, shares a blessing from God.
But if it produces thorns and thistles, it is worthless and near to a curse, whose end is for burning.
</p>

<div class="sidenote">Hebrews 6:9</div>

<p>
But even if we are speaking in this way, dear friends, we are convinced of better things concerning you, and belonging to salvation.
For God is not unjust, so as to forget your work and the love which you demonstrated for his name by having served the saints, and continuing to serve them.
And we desire each one of you to demonstrate the same diligence for the full assurance of your hope until the end,
in order that you may not be sluggish, but imitators of those who inherit the promises through faith and patience.
</p>

<div class="sidenote left">Hebrews 6:13 <br>to Hebrews 6:20</div>

<h3>The Reliability of God’s Promise</h3>

<p>
For when God made a promise to Abraham, since he had no one greater to swear by, he swore by himself,
saying,
</p>

<div class="sidenote">Hebrews 6:15</div>

<p>
And so, by persevering, he obtained the promise.
For people swear by what is greater than themselves, and the oath for confirmation is the end of all dispute for them.
In the same way God, because he wanted to show even more to the heirs of the promise the unchangeableness of his resolve, guaranteed it with an oath,
in order that through two unchangeable things, in which it is impossible for God to lie, we who have taken refuge may have powerful encouragement to hold fast to the hope set before us,
which we have like an anchor of the soul, both firm and steadfast, and entering into the inside of the curtain,
where Jesus, the forerunner for us, entered, because he became a high priest forever according to the order of Melchizedek.
</p>

<div class="sidenote left">Hebrews 7:1 <br>to Hebrews 7:10</div>

<h3>The Greatness of Melchizedek</h3>

<p>
For this Melchizedek, king of Salem, priest of the most high God, who met Abraham as he was returning from the slaughter of the kings and blessed him,
to whom also Abraham apportioned a tenth of everything in the first place, his name is translated 'king of righteousness,' and then also 'king of Salem,' that is, 'king of peace';
without father, without mother, without genealogy, having neither beginning of days nor end of life, but resembling the Son of God he remains a priest for all time.
</p>

<div class="sidenote">Hebrews 7:4</div>

<p>
But see how great this man was, to whom Abraham the patriarch gave a tenth from the spoils!
And indeed those of the sons of Levi who receive the priesthood have a commandment to collect a tenth from the people according to the law, that is, from their brothers, although they are descended from Abraham.
But the one who did not trace his descent from them collected tithes from Abraham and blessed the one who had the promises.
Now without any dispute the inferior is blessed by the more prominent.
And in this case mortal men receive tithes, but in that case it is testified that he lives.
And, so to speak, even Levi, the one who receives tithes, has paid tithes through Abraham.
For he was still in the loins of his father when Melchizedek met him.
</p>

<div class="sidenote left">Hebrews 7:11 <br>to Hebrews 7:28</div>

<h3>The Superiority of Jesus to Melchizedek</h3>

<p>
Thus if perfection was through the Levitical priesthood, for on the basis of it the people received the law, what further need is there for another priest to arise according to the order of Melchizedek and not said to be according to the order of Aaron?
For when the priesthood changes, of necessity there is a change of the law also.
For the one about whom these things are spoken belongs to another tribe from which no one has officiated at the altar.
For it is evident that our Lord is a descendant of Judah, a tribe with reference to which Moses said nothing concerning priests.
And it is still more clear, if another priest according to the likeness of Melchizedek arises,
who has become a priest not according to a law of physical requirement, but according to the power of an indestructible life.
For it is testified,
</p>

<div class="sidenote">Hebrews 7:18</div>

<p>
For on the one hand a preceding commandment is set aside because of its weakness and uselessness
(for the law made nothing perfect), but on the other hand there is the introduction of a better hope through which we draw near to God.
And by as much as this was not without an oath (for these on the one hand have become priests without an oath,
but he with an oath by the one who said to him,
</p>

<div class="sidenote">Hebrews 7:22</div>

<p>
by so much more Jesus has become the guarantee of a better covenant.
</p>

<div class="sidenote">Hebrews 7:23</div>

<p>
And indeed many have become priests, because they were prevented by death from continuing in office,
but he, because he continues forever, holds the priesthood permanently.
Therefore also he is able to save completely those who draw near to God through him, because he always lives in order to intercede on their behalf.
</p>

<div class="sidenote">Hebrews 7:26</div>

<p>
For a high priest such as this indeed is fitting for us, holy, innocent, undefiled, separated from sinners, and having become exalted above the heavens,
who does not need every day like the former high priests to offer up sacrifices for his own sins and then for the sins of the people, because he did this once for all when he offered up himself.
For the law appoints men as high priests who have weakness, but the statement of the oath, after the law, appoints a Son, who is made perfect forever.
</p>

<div class="sidenote left">Hebrews 8:1 <br>to Hebrews 8:13</div>

<h3>The Mediator of a New and Better Covenant</h3>

<p>
Now this is the main point in what has been said: we have a high priest such as this, who sat down at the right hand of the throne of the Majesty in heaven,
a minister of the sanctuary and of the true tabernacle which the Lord set up, not man.
For every high priest is appointed in order to offer both gifts and sacrifices; therefore it was necessary for this one also to have something that he offers.
Now if he were on earth, he would not even be a priest, because there are those who offer the gifts according to the law,
who serve a sketch and shadow of the heavenly things, just as Moses was warned when he was about to complete the tabernacle, for he says, 'See to it that you make everything according to the pattern which was shown to you on the mountain.'
But now he has attained a more excellent ministry, by as much as he is also mediator of a better covenant which has been enacted upon better promises.
For if that first covenant had been faultless, occasion would not have been sought for a second.
For in finding fault with them he says,
</p>

<div class="sidenote">Hebrews 8:9</div>

<p>
not like the covenant which I made with their fathers on the day I took hold of them by my hand to lead them out of the land of Egypt, because they did not continue in my covenant and I disregarded them, says the Lord.
</p>

<div class="sidenote">Hebrews 8:10</div>

<p>
For this is the covenant that I will decree with the house of Israel after those days, says the Lord: I am putting my laws in their minds and I will write them on their hearts, and I will be their God and they will be my people.
</p>

<div class="sidenote">Hebrews 8:11</div>

<p>
And they will not teach each one his fellow citizen and each one his brother, saying, 'Know the Lord,' because they will all know me, from the least of them to the greatest.
</p>

<div class="sidenote">Hebrews 8:12</div>

<p>
For I will be merciful toward their wrongdoings, and I will not remember their sins any longer.'
</p>

<div class="sidenote">Hebrews 8:13</div>

<p>
In calling it new, he has declared the former to be old. Now what is becoming obsolete and growing old is near to disappearing.
</p>

<div class="sidenote left">Hebrews 9:1 <br>to Hebrews 9:10</div>

<h3>The Earthly Ministry of the Old Covenant</h3>

<p>
Now the first covenant had regulations for worship and the earthly sanctuary.
For a tent was prepared, the first one, in which were the lampstand and the table and the presentation of the loaves, which is called the holy place.
And after the second curtain was a tent called the holy of holies,
containing the golden incense altar and the ark of the covenant covered on all sides with gold, in which were a golden jar containing the manna and the rod of Aaron that budded and the tablets of the covenant.
And above it were the cherubim of glory overshadowing the mercy seat, about which it is not now possible to speak in detail.
</p>

<div class="sidenote">Hebrews 9:6</div>

<p>
Now these things having been prepared in this way, the priests enter into the first tent continually as they accomplish their service,
but only the high priest enters into the second tent once a year, not without blood, which he offers on behalf of himself and the sins of the people committed in ignorance.
The Holy Spirit was making this clear, that the way into the holy place was not yet revealed, while the first tent was still in existence,
which was a symbol for the present time, in which both the gifts and sacrifices which were offered were not able to perfect the worshiper with respect to the conscience,
concerning instead only food and drink and different washings, regulations of outward things imposed until the time of setting things right.
</p>

<div class="sidenote left">Hebrews 9:11 <br>to Hebrews 9:28</div>

<h3>The Heavenly Ministry of the New Covenant</h3>

<p>
But Christ has arrived as a high priest of the good things to come. Through the greater and more perfect tent not made by hands, that is, not of this creation,
and not by the blood of goats and calves, but by his own blood, he entered once for all into the most holy place, obtaining eternal redemption.
For if the blood of goats and bulls and the ashes of a young cow sprinkled on those who are defiled sanctify them for the ritual purity of the flesh,
how much more will the blood of Christ, who through the eternal Spirit offered himself without blemish to God, cleanse our consciences from dead works to serve the living God?
</p>

<div class="sidenote">Hebrews 9:15</div>

<p>
And because of this, he is the mediator of a new covenant, in order that, because a death has taken place for the redemption of transgressions committed during the first covenant, those who are the called may receive the promise of the eternal inheritance.
For where there is a will, it is a necessity for the death of the one who made the will to be established.
For a will is in force concerning those who are dead, since it is never in force when the one who made the will is alive.
Therefore not even the first covenant was ratified without blood.
For when every commandment had been spoken by Moses to all the people according to the law, he took the blood of calves with water and scarlet wool and hyssop and sprinkled both the scroll itself and all the people,
saying,
</p>

<div class="sidenote">Hebrews 9:21</div>

<p>
And likewise he sprinkled both the tabernacle and all the utensils of service with the blood.
Indeed, nearly everything is purified with blood according to the law, and apart from the shedding of blood there is no forgiveness.
</p>

<div class="sidenote">Hebrews 9:23</div>

<p>
Therefore it was necessary for the sketches of the things in heaven to be purified with these sacrifices, but the heavenly things themselves to be purified with better sacrifices than these.
For Christ did not enter into a sanctuary made by hands, a mere copy of the true one, but into heaven itself, now to appear in the presence of God on our behalf,
and not in order that he can offer himself many times, as the high priest enters into the sanctuary year by year with blood not his own,
since it would have been necessary for him to suffer many times from the foundation of the world, but now he has appeared once at the end of the ages for the removal of sin by the sacrifice of himself.
And just as it is destined for people to die once, and after this, judgment,
thus also Christ, having been offered once in order to bear the sins of many, will appear for the second time without reference to sin to those who eagerly await him for salvation.
</p>

<div class="sidenote left">Hebrews 10:1 <br>to Hebrews 10:18</div>

<h3>Christ’s One Sacrifice for Sin</h3>

<p>
For the law, possessing a shadow of the good things that are about to come, not the form of things itself, is never able year by year by means of the same sacrifices which they offer without interruption to make perfect those who draw near.
For otherwise, would they not have ceased to be offered, because the ones who worship, having been purified once and for all, would no longer have any consciousness of sins?
But in them there is a reminder of sins year by year.
For it is impossible for the blood of bulls and goats to take away sins.
</p>

<div class="sidenote">Hebrews 10:5</div>

<p>
Therefore, when he came into the world, he said,
</p>

<div class="sidenote">Hebrews 10:6</div>

<p>
you did not delight in whole burnt offerings and offerings for sins.
</p>

<div class="sidenote">Hebrews 10:7</div>

<p>
Then I said, 'Behold, I have come in the roll of the book it is written about me to do your will, O God.'
</p>

<div class="sidenote">Hebrews 10:8</div>

<p>
When he says above,
</p>

<div class="sidenote">Hebrews 10:9</div>

<p>
then he has said,
</p>

<div class="sidenote">Hebrews 10:10</div>

<p>
by which will we are made holy through the offering of the body of Jesus Christ once for all.
</p>

<div class="sidenote">Hebrews 10:11</div>

<p>
And every priest stands every day serving and offering the same sacrifices many times, which are never able to take away sins.
But this one, after he had offered one sacrifice for sins for all time, sat down at the right hand of God,
from now on waiting until his enemies are made a footstool for his feet.
For by one offering he has perfected for all time those who are made holy.
And the Holy Spirit also testifies to us, for after saying,
</p>

<div class="sidenote">Hebrews 10:16</div>

<p>
'This is the covenant that I will decree for them after those days, says the Lord: I am putting my laws on their hearts, and I will write them on their minds.'
</p>

<div class="sidenote">Hebrews 10:17</div>

<p>
He also says,
</p>

<div class="sidenote">Hebrews 10:18</div>

<p>
Now where there is forgiveness of these, there is no longer an offering for sin.
</p>

<div class="sidenote left">Hebrews 10:19 <br>to Hebrews 10:25</div>

<h3>Hold Fast the Confession of Our Hope</h3>

<p>
Therefore, brothers, since we have confidence for the entrance into the sanctuary by the blood of Jesus,
by the new and living way which he inaugurated for us through the curtain, that is, his flesh,
and since we have a great priest over the house of God,
let us approach with a true heart in the full assurance of faith, our hearts sprinkled clean from an evil conscience and our bodies washed with pure water.
Let us hold fast to the confession of our hope without wavering, for the one who promised is faithful.
And let us think about how to stir one another up to love and good works,
not abandoning our meeting together, as is the habit of some, but encouraging each other, and by so much more as you see the day drawing near.
</p>

<div class="sidenote left">Hebrews 10:26 <br>to Hebrews 10:39</div>

<h3>A Serious Warning Against Continuing Deliberate Sin</h3>

<p>
For if we keep on sinning deliberately after receiving the knowledge of the truth, there no longer remains a sacrifice for sins,
but a certain fearful expectation of judgment and a fury of fire that is about to consume the adversaries.
Anyone who rejected the law of Moses dies without mercy on the testimony of two or three witnesses.
How much worse punishment do you think the person will be considered worthy of who treats with disdain the Son of God and who considers ordinary the blood of the covenant by which he was made holy and who insults the Spirit of grace?
For we know the one who said,
</p>

<div class="sidenote">Hebrews 10:31</div>

<p>
It is a terrifying thing to fall into the hands of the living God.
</p>

<div class="sidenote">Hebrews 10:32</div>

<p>
But remember the former days in which, after you were enlightened, you endured a great struggle with sufferings,
sometimes being publicly exposed both to insults and to afflictions, and sometimes becoming sharers with those who were treated in this way.
For you both sympathized with the prisoners and put up with the seizure of your belongings with joy because you knew that you yourselves had a better and permanent possession.
Therefore do not throw away your confidence, which has great reward.
For you have need of endurance, in order that after you have done the will of God, you may receive what was promised.
For yet
</p>

<div class="sidenote">Hebrews 10:38</div>

<p>
But my righteous one will live by faith, and if he shrinks back, my soul is not well pleased with him.'
</p>

<div class="sidenote">Hebrews 10:39</div>

<p>
But we are not among those who shrink back to destruction, but among those who have faith to the preservation of our souls.
</p>

<div class="sidenote left">Hebrews 11:1 <br>to Hebrews 11:40</div>

<h3>Examples of Faith in Action</h3>

<p>
Now faith is the realization of what is hoped for, the proof of things not seen.
For by this the people of old were approved.
By faith we understand the worlds were created by the word of God, in order that what is seen did not come into existence from what is visible.
</p>

<div class="sidenote">Hebrews 11:4</div>

<p>
By faith Abel offered to God a greater sacrifice than Cain, by which he was approved that he was righteous, because God approved him for his gifts, and through it he still speaks, although he is dead.
By faith Enoch was taken up, so that he did not experience death, and he was not found, because God took him up. For before his removal, he had been approved as having been pleasing to God.
Now without faith it is impossible to please him, for the one who approaches God must believe that he exists and is a rewarder of those who seek him.
By faith Noah, having been warned about things not yet seen, out of reverence constructed an ark for the deliverance of his family, by which he pronounced sentence on the world and became an heir of the righteousness that comes by faith.
</p>

<div class="sidenote">Hebrews 11:8</div>

<p>
By faith Abraham, when he was called, obeyed to go out to a place that he was going to receive for an inheritance, and he went out, not knowing where he was going.
By faith he lived in the land of promise as a stranger, living in tents with Isaac and Jacob, the fellow heirs of the same promise.
For he was expecting the city that has foundations, whose architect and builder is God.
By faith also, with Sarah, he received the ability to procreate even past the normal age, because he regarded the one who had promised to be faithful.
And therefore these were fathered from one man, and he being as good as dead, as the stars of heaven in number and like the innumerable sand by the shore of the sea.
</p>

<div class="sidenote">Hebrews 11:13</div>

<p>
These all died in faith without receiving the promises, but seeing them from a distance and welcoming them, and admitting that they were strangers and temporary residents on the earth.
For those who say such things make clear that they are seeking a homeland.
And if they remember that land from which they went out, they would have had opportunity to return.
But now they aspire to a better land, that is, a heavenly one. Therefore God is not ashamed of them, to be called their God, for he has prepared for them a city.
</p>

<div class="sidenote">Hebrews 11:17</div>

<p>
By faith Abraham, when he was tested, offered Isaac, and the one who received the promises was ready to offer his one and only son,
with reference to whom it was said, 'In Isaac your descendants will be named,'
having reasoned that God was able even to raise him from the dead, from which he received him back also as a symbol.
By faith also Isaac blessed Jacob and Esau concerning things that were going to happen.
By faith Jacob, as he was dying, blessed each of the sons of Joseph and worshiped, leaning on the top of his staff.
By faith Joseph, as he was dying, mentioned about the exodus of the sons of Israel and gave instructions about his bones.
</p>

<div class="sidenote">Hebrews 11:23</div>

<p>
By faith Moses, when he was born, was hidden for three months by his parents, because they saw the child was handsome, and they were not afraid of the edict of the king.
By faith Moses, when he was grown up, refused to be called the son of Pharaoh's daughter,
choosing instead to be mistreated with the people of God rather than to experience the transitory enjoyment of sin,
considering reproach endured for the sake of Christ greater wealth than the treasures of Egypt, for he was looking to the reward.
By faith he left Egypt, not fearing the anger of the king, for he persevered as if he saw the invisible one.
By faith he kept the Passover and the sprinkling of blood, in order that the one who destroyed the firstborn would not touch them.
By faith they crossed the Red Sea as if on dry land; the Egyptians, when they made the attempt, were drowned.
By faith the walls of Jericho fell down after they had been marched around for seven days.
By faith Rahab the prostitute did not perish with those who were disobedient, because she welcomed the spies in peace.
</p>

<div class="sidenote">Hebrews 11:32</div>

<p>
And what more shall I say? For time would fail me to tell about Gideon, Barak, Samson, Jephthah, David, and Samuel and the prophets,
who through faith conquered kingdoms, accomplished justice, obtained what was promised, shut the mouths of lions,
extinguished the effectiveness of fire, escaped the edge of the sword, were made strong from weakness, became mighty in battle, put to flight enemy battle lines.
Women received back their dead by resurrection. But others were tortured, not accepting release, in order that they might gain a better resurrection.
And others experienced mocking and flogging, and in addition bonds and imprisonment.
They were stoned, they were sawed in two, they died by murder with a sword, they wandered about in sheepskins, in goatskins, impoverished, afflicted, mistreated,
of whom the world was not worthy, wandering about on deserts and mountains and in caves and in holes in the ground.
And although they all were approved through their faith, they did not receive what was promised,
because God had provided something better for us, so that they would not be made perfect without us.
</p>

<div class="sidenote left">Hebrews 12:1 <br>to Hebrews 12:11</div>

<h3>The Example of Jesus’ Suffering</h3>

<p>
Therefore, since we also have such a great cloud of witnesses surrounding us, putting aside every weight and the sin that so easily ensnares us, let us run with patient endurance the race that has been set before us,
fixing our eyes on Jesus, the originator and perfecter of faith, who for the joy that was set before him endured the cross, disregarding the shame, and has sat down at the right hand of the throne of God.
For consider the one who endured such hostility by sinners against himself, so that you will not grow weary in your souls and give up.
You have not yet resisted to the point of shedding your blood as you struggle against sin.
And have you completely forgotten the exhortation which instructs you as sons?
</p>

<div class="sidenote">Hebrews 12:6</div>

<p>
For the Lord disciplines the one whom he loves, and punishes every son whom he accepts.'
</p>

<div class="sidenote">Hebrews 12:7</div>

<p>
Endure it for discipline. God is dealing with you as sons. For what son is there whom a father does not discipline?
But if you are without discipline, in which all legitimate sons have become participants, then you are illegitimate and not sons.
Furthermore, we have had our earthly fathers who disciplined us, and we respected them. Will we not much rather subject ourselves to the Father of spirits and live?
For they disciplined us for a few days according to what seemed appropriate to them, but he does so for our benefit, in order that we can have a share in his holiness.
Now all discipline seems for the moment not to be joyful but painful, but later it yields the peaceful fruit of righteousness for those who are trained by it.
</p>

<div class="sidenote left">Hebrews 12:12 <br>to Hebrews 12:29</div>

<h3>A Serious Warning Against Refusing God</h3>

<p>
Therefore strengthen your slackened hands and your weakened knees,
and make straight paths for your feet, so that what is lame will not be dislocated, but rather be healed.
Pursue peace with everyone, and holiness, without which no one will see the Lord.
Take care that no one falls short of the grace of God; that no one growing up like a root of bitterness causes trouble, and by it many become defiled;
that no one be a sexually immoral or totally worldly person like Esau, who for one meal traded his own birthright.
For you know that also afterwards, when he wanted to inherit the blessing, he was rejected, because he did not find an occasion for repentance, although he sought it with tears.
</p>

<div class="sidenote">Hebrews 12:18</div>

<p>
For you have not come to something that can be touched, and to a burning fire, and to darkness, and to gloom, and to a whirlwind,
and to the noise of a trumpet, and to the sound of words which those who heard begged that not another word be spoken to them.
For they could not endure what was commanded: 'If even an animal touches the mountain, it must be stoned.'
And the spectacle was so terrifying that Moses said, 'I am terrified and trembling.'
But you have come to Mount Zion, and to the city of the living God, to the heavenly Jerusalem, and to tens of thousands of angels, to the festal gathering
and assembly of the firstborn who are enrolled in heaven, and to God the judge of all, and to the spirits of righteous people made perfect,
and to Jesus, the mediator of a new covenant, and to the sprinkled blood that speaks better than Abel's does.
</p>

<div class="sidenote">Hebrews 12:25</div>

<p>
Watch out that you do not refuse the one who is speaking! For if those did not escape when they refused the one who warned them on earth, much less will we escape, if we reject the one who warns from heaven,
whose voice shook the earth at that time, but now he has promised, saying,
</p>

<div class="sidenote">Hebrews 12:27</div>

<p>
Now the phrase 'yet once more' indicates the removal of what is shaken, namely, things that have been created, in order that the things that are not shaken may remain.
Therefore, since we are receiving an unshakable kingdom, let us be thankful, through which let us serve God acceptably, with awe and reverence.
For indeed our God is a consuming fire.
</p>

<div class="sidenote left">Hebrews 13:1 <br>to Hebrews 13:19</div>

<h3>Concluding Ethical Instructions</h3>

<p>
Brotherly love must continue.
Do not neglect hospitality, because through this some have received angels as guests without knowing it.
Remember the prisoners, as though you were fellow-prisoners; remember the mistreated, as though you yourselves also are being mistreated in the body.
Marriage must be held in honor by all, and the marriage bed be undefiled, because God will judge sexually immoral people and adulterers.
Your lifestyle must be free from the love of money, being content with what you have. For he himself has said, 'I will never desert you, and I will never abandon you.'
So then, we can say with confidence,
</p>

<div class="sidenote">Hebrews 13:7</div>

<p>
Remember your leaders, who spoke the word of God to you; considering the outcome of their way of life, imitate their faith.
Jesus Christ is the same yesterday and today and forever.
Do not be carried away by various and strange teachings, for it is good for the heart to be strengthened by grace, not by foods by which those who participate have not benefited.
We have an altar from which those who serve in the tabernacle do not have the right to eat.
For the bodies of those animals whose blood is brought into the sanctuary by the high priest for sins are burned up outside the camp.
Therefore Jesus also suffered outside the gate, in order that he might sanctify the people by his own blood.
So we must go out to him outside the camp, bearing his reproach.
For here we do not have a permanent city, but we seek the city that is to come.
Therefore through him let us offer up a sacrifice of praise continually to God, that is, the fruit of lips that confess his name.
And do not neglect doing good and generosity, for God is pleased with such sacrifices.
</p>

<div class="sidenote">Hebrews 13:17</div>

<p>
Obey your leaders and submit to them, for they keep watch over your souls as those who will give an account, so that they can do this with joy and not with groaning, for this would be unprofitable for you.
</p>

<div class="sidenote">Hebrews 13:18</div>

<p>
Pray for us, for we are convinced that we have a good conscience, and want to conduct ourselves commendably in every way.
And I especially urge you to do this, so that I may be restored to you more quickly.
</p>

<div class="sidenote left">Hebrews 13:20 <br>to Hebrews 13:21</div>

<h3>Benediction</h3>

<p>
Now may the God of peace, who brought up from the dead our Lord Jesus, the great shepherd of the sheep, by the blood of the eternal covenant,
equip you with every good thing to do his will, carrying out in us what is pleasing before him through Jesus Christ, to whom be the glory forever. Amen.
</p>

<div class="sidenote left">Hebrews 13:22 <br>to Hebrews 13:25</div>

<h3>Conclusion</h3>

<p>
Now I urge you, brothers, bear with my word of exhortation, for indeed I have written to you briefly.
Know that our brother Timothy has been released, with whom I will see you, if he comes quickly enough.
Greet all your leaders and all the saints. Those from Italy greet you.
Grace be with all of you.
</p>
