<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Hosea</h1>

<div class="sidenote left">Hosea 1:1 <br>to Hosea 1:11</div>

<h3>God Commands Hosea to Start a Family</h3>

<p>
The word of the LORD that came to Hosea son of Beeri, in the days of Uzziah, Jotham, Ahaz, and Hezekiah, the kings of Judah, and in the days of Jeroboam the son of Joash, king of Israel.
</p>

<div class="sidenote">Hosea 1:2</div>

<p>
At the beginning when the LORD spoke through Hosea, the LORD said to Hosea, 'Go, take for yourself a wife and children of whoredom, because the land commits great whoredom forsaking the LORD.'
</p>

<div class="sidenote">Hosea 1:3</div>

<p>
So he went and took Gomer daughter of Diblaim, and she conceived and bore him a son.
</p>

<div class="sidenote">Hosea 1:4</div>

<p>
And the LORD said to him, 'Name him Jezreel; because in a little while I will punish the house of Jehu for the blood of Jezreel, and I will put an end to the kingdom of the house of Israel.
On that day I will break the bow of Israel in the Valley of Jezreel.'
</p>

<div class="sidenote">Hosea 1:6</div>

<p>
And she conceived again and bore a daughter, and he said to him,
But I will have pity on the house of Judah and I will save them by the LORD their God, and will not deliver them by bow, sword, war, horses, or horsemen.
</p>

<div class="sidenote">Hosea 1:8</div>

<p>
And when she had weaned Lo-ruhamah, she conceived and bore a son.
</p>

<div class="sidenote">Hosea 1:9</div>

<p>
And he said, 'Name him Lo-ammi, for you are not my people and I am not your God.
The number of the children of Israel will be like the sand of the sea that cannot be measured or counted; and in the place where it is said to them, 'You are not my people,' it will be said to them, 'Children of the living God.'
Then the children of Judah and Israel will be gathered together, and they will appoint for themselves one head; and they will take possession of the land, for great is the day of Jezreel.
</p>

<div class="sidenote left">Hosea 2:1 <br>to Hosea 2:23</div>

<h3>The Unfaithful Wife</h3>

<p>
Say to your brother, 'Ammi,' and to your sister, 'Ruhamah.'
</p>

<div class="sidenote">Hosea 2:2</div>

<p>
Plead with your mother, plead because she is not my wife, and I am not her husband. Let her put away her whoring from before her, and her adultery from between her breasts.
Lest I strip her naked and expose her like the day when she was born; I will make her like the desert and turn her into parched land; I will kill her with thirst.
</p>

<div class="sidenote">Hosea 2:4</div>

<p>
And I will not have pity on her children, because they are children of whoredom.
Because their mother was unfaithful; she who conceived them has acted shamefully, for she said: 'I will go after my lovers, the ones who give me my bread, my water, my wool, and my flax, my oil, and my drink.'
</p>

<div class="sidenote">Hosea 2:6</div>

<p>
Therefore, Look! I am going to hedge her path with thorns, and I will build a stone wall, a stone wall against her, and she will not find her paths.
Then she will pursue her lovers, but she will not overtake them; she will seek them and not find them; and she will say, 'I will go and return to my first husband because it was better for me then than now.'
But she did not know that it was I who gave her grain, new wine, and oil, and who gave her silver in abundance, and gold which they made into a Baal.
</p>

<div class="sidenote">Hosea 2:9</div>

<p>
Therefore I will take again my grain in its time, and my wine in its season; and I will take away my wool and my flax, which were to cover her nakedness.
And now I will uncover her nakedness before the eyes of her lovers, and no one will rescue her from my hand.
And I will put an end to all her mirth, her festivals, her new moons, and her Sabbaths, and all her appointed festivals;
and I will lay waste to her vines and her fig trees, of which she said, 'They are my payment for prostitution, which my lovers gave to me.' I will make them a forest, and the wild animals of the field will devour them.
I will punish her for the days of the Baals, to whom she burns incense, and she decked herself with her ornamental ring and jewelry, and she went after her lovers, and forgot me a declaration of the LORD.
</p>

<div class="sidenote">Hosea 2:14</div>

<p>
Therefore, Look! I am going to allure her and bring her into the desert, and I will speak tenderly to her.
From there I will give her her vineyards, and the Valley of Achor as a doorway of hope. And there she will respond, as in the days of her youth, just as in the day of her coming out of the land of Egypt.
And on that day a declaration of the LORD you will call me, 'My husband;' you will no longer call me, 'My Baal.'
I will remove the names of the Baals from her mouth, and they will no longer be mentioned by their name.
</p>

<div class="sidenote">Hosea 2:18</div>

<p>
I will make a covenant for them on that day, with the animals of the field, with the birds of the heaven, and with the creeping things of the ground; the bow, the sword, and the war I will abolish from the land, and I will let them lie down in safety.
And I will take you as my wife forever; I will take you as a wife for myself in righteousness and in justice, in steadfast love and in mercy.
I will take you as my wife in faithfulness, and you will know the LORD.
</p>

<div class="sidenote">Hosea 2:21</div>

<p>
On that day I will answer, declares the LORD, I will answer the heavens, and they will answer the earth.
And the earth will answer the grain, the wine, and the oil, and they will answer Jezreel.
I will sow her for myself in the land; I will have pity on Lo-ruhama; I will say to Lo-ammi, 'You are my people,' and he himself will say, 'you are my God.'
</p>

<div class="sidenote left">Hosea 3:1 <br>to Hosea 3:5</div>

<h3>Another Symbolic Marriage</h3>

<p>
And the LORD said to me again, 'Go, love a woman who has a lover and is committing adultery, just like the love of the LORD for the children of Israel, but they are turning to other gods and love raisin cakes.'
</p>

<div class="sidenote">Hosea 3:2</div>

<p>
So I bought her for fifteen shekels of silver and a homer of barely and a measure of wine.
</p>

<div class="sidenote">Hosea 3:3</div>

<p>
And I said to her, 'You must remain as mine for many days, and you will not play the whore; you will not belong to a man, and I will belong to you.'
</p>

<div class="sidenote">Hosea 3:4</div>

<p>
The children of Israel will remain for many days without a king and prince, without sacrifice and stone pillar, ephod and teraphim.
</p>

<div class="sidenote">Hosea 3:5</div>

<p>
Afterward the children of Israel will return and seek the LORD their God and David their king. They will come in fear to the LORD and to his goodness at the end of days.
</p>

<div class="sidenote left">Hosea 4:1 <br>to Hosea 4:19</div>

<h3>God Has an Indictment</h3>

<p>
</p>

<div class="sidenote">Hosea 4:1</div>

<p>
Hear the word of the LORD, O children of Israel, for the LORD has an indictment against the inhabitants of the land. There is no faithfulness or loyalty, there is no knowledge of God in the land.
</p>

<div class="sidenote">Hosea 4:2</div>

<p>
Swearing and lying, murdering and stealing, and adultery break out, and bloodshed follows bloodshed.
</p>

<div class="sidenote">Hosea 4:3</div>

<p>
Therefore the land mourns, and all those living in it languish with the animals of the field, and the birds of the heaven, and even the fish of the sea are being swept away.
Yet, let no one contend, and let no one accuse, for with you, O priest, is my contention.
You will stumble by day, and the priest also will stumble with you at night. And I will destroy your mother;
</p>

<div class="sidenote">Hosea 4:6</div>

<p>
My people are destroyed for lack of knowledge; because you have rejected knowledge, I reject you from acting as a priest for me. And since you have forgotten the law of your God, I will also forget your children.
When they became many, their sin increased against me; they changed their glory into shame.
They feed on the sin of my people, they are greedy for their iniquity.
And it will be like people, like priest; I will punish them for their ways, and I will requite them for their deeds.
They will eat and not be satisfied; they will play the whore and not multiply, because they have forsaken the LORD to devote themselves to
</p>

<div class="sidenote">Hosea 4:11</div>

<p>
whoredom. Wine and new wine take away the understanding.
</p>

<div class="sidenote">Hosea 4:12</div>

<p>
My people, consult their wooden idols, and their divining rod gives them oracles; because a spirit of whoredom led them astray, and they played the whore from under their God.
On the tops of the mountains they sacrifice, and on the hills they make offerings, under oak, poplar, and terebinth, because their shade is good. Therefore your daughters play the whore, and all your daughters-in-law commit adultery.
I will not punish your daughters when they play the whore, or your daughters-in-law when they commit adultery; because they go aside with whores, and they sacrifice with temple prostitutes, a people that does not understand comes to ruin.
Even though you, O Israel, are playing the whore, do not let Judah become guilty; do not enter Gilgal, or go up to Beth-aven; and do not swear, 'As the LORD lives!'
Indeed, like a stubborn heifer, Israel is stubborn; Now the LORD will feed them, like a lamb in broad pasture.
Ephraim is joined to idols; let him alone.
When their drinking has ended, they surely indulge in sexual orgies. They love lewdness more than their glory.
A wind has wrapped them in its wings, and they will be ashamed because of their altars.
</p>

<div class="sidenote left">Hosea 5:1 <br>to Hosea 5:15</div>

<h3>The Priests Are a Snare</h3>

<p>
Hear this, O priests! Give heed, O house of Israel! Listen, O house of the king! Because the judgment applies to you; because you have been a snare for Mizpah, and a net spread out on Tabor;
they dug a deep pit in Shittim, but I am a punishment for all of them.
</p>

<div class="sidenote">Hosea 5:3</div>

<p>
I myself know Ephraim, and Israel is not hidden from me; because now you have played the whore, O Ephraim Israel is defiled.
Their deeds do not permit them to return them to God. Because a spirit of whoredom is in their midst, they do not know the LORD.
The pride of Israel testifies against him, and Israel and Ephraim stumble in their guilt, and Judah stumbles with them.
With their flocks and herds they will go to seek the LORD, but they will not find him; he has withdrawn from them.
They have dealt faithlessly with the LORD because they have borne illegitimate children. Now the new moon will devour them with their fields.
</p>

<div class="sidenote">Hosea 5:8</div>

<p>
Blow the horn in Gibeah, the trumpet in Ramah. Sound the alarm in Beth-aven; look behind you, Benjamin.
Ephraim will be a desolation in the day of punishment; among the tribes of Israel I will reveal what is true.
The princes of Judah have become like those who remove a landmark; on them I will pour out my wrath like water.
Ephraim is oppressed, crushed in judgment, because he was determined to go after filth.
But I am like a maggot to Ephraim and like rottenness to the house of Judah.
</p>

<div class="sidenote">Hosea 5:13</div>

<p>
And when Ephraim saw his illness, and Judah his wound, Ephraim went to Assyria, he sent to the great king. But he was unable to cure you and heal your wound.
Because I will be like a lion to Ephraim and like a fierce strong lion to the house of Judah. I myself will tear and I will go; I will carry off, and there is no one who delivers.
I will return again to my place until they acknowledge their guilt and seek my face; in their distress they will search me.
</p>

<div class="sidenote left">Hosea 6:1 <br>to Hosea 6:10</div>

<h3>A Call to the LORD</h3>

<p>
</p>

<div class="sidenote">Hosea 6:1</div>

<p>
Come, let us return to the LORD; because it is he who has torn, and he will heal us; he has struck us down and will bind us up.
He will revive us after two days; on the third day he will raise us up, that we may live in his presence.
Let us know, let us press on to know the LORD; his rising is sure like the dawn. He will come like the showers to us, like the spring rain that waters the earth.
</p>

<div class="sidenote">Hosea 6:4</div>

<p>
What will I do with you, O Ephraim? What will I do with you, O Judah? Your love is like a morning cloud, like the dew that goes away early in the morning.
Therefore, I have hewn them by the prophets; I have killed them by the words of my mouth, and my judgment goes forth like the light.
Because I desire steadfast love and not sacrifice, and knowledge of God rather than burnt offerings.
But like Adam, they transgressed the covenant; there they dealt faithlessly with me.
Gilead is a city of evil, a cunning city because of blood.
Like bandits lying in wait, so is a band of priests; they murder on the road to Shechem; indeed, they commit a monstrous crime.
In the house of Israel I have seen something horrible; Ephraim's unfaithfulness is there. Israel is defiled.
</p>

<div class="sidenote left">Hosea 6:11 <br>to Hosea 7:16</div>

<h3>Ephraim’s Guilt</h3>

<p>
For you also, O Judah, a harvest is appointed, when I restore the fortunes of my people,
</p>

<p>
when I would heal Israel, and the corruption of Ephraim is revealed, and the wicked deeds of Samaria; because they deal in falsehood, the thief breaks in, and the bandit raids the outside.
</p>

<div class="sidenote">Hosea 7:2</div>

<p>
But they did not consider that I remember all their wickedness. Now their deeds surround them; they are before my face.
</p>

<div class="sidenote">Hosea 7:3</div>

<p>
By their wickedness they make the king glad, and the officials by their treacheries.
</p>

<div class="sidenote">Hosea 7:4</div>

<p>
All of them commit adultery, like a burning oven whose baker has stopped from stirring the fire, and from kneading the dough until it is leavened.
</p>

<div class="sidenote">Hosea 7:5</div>

<p>
On the day of our king, the princes became sick with the heat of wine; he stretched out his hand with mockers.
</p>

<div class="sidenote">Hosea 7:6</div>

<p>
Because they are kindled like an oven, their heart burns within them; all night their anger smolders, in the morning it blazes like a flaming fire.
</p>

<div class="sidenote">Hosea 7:7</div>

<p>
All of them are hot as an oven, and they devour their rulers. All their kings have fallen; there is none who calls to me amongst them.
</p>

<div class="sidenote">Hosea 7:8</div>

<p>
Ephraim mixes himself with the nations; Ephraim is a bread cake not turned over.
</p>

<div class="sidenote">Hosea 7:9</div>

<p>
Foreigners devour his strength, and he does not know it; mold is also sprinkled upon him, and he does not know it.
</p>

<div class="sidenote">Hosea 7:10</div>

<p>
The pride of Israel testifies against him they do not return to the LORD their God; they do not seek him for all of this.
</p>

<div class="sidenote">Hosea 7:11</div>

<p>
Ephraim was like a dove, silly, without sense; they call to Egypt, they go to Assyria.
</p>

<div class="sidenote">Hosea 7:12</div>

<p>
Just as they go, I will cast my net over them; I will bring them down like the birds of the heavens; I will discipline them according to a report to their assembly.
</p>

<div class="sidenote">Hosea 7:13</div>

<p>
Woe to them, because they have strayed from me! Destruction to them, because they have rebelled against me! I myself would redeem them, but they speak lies against me.
</p>

<div class="sidenote">Hosea 7:14</div>

<p>
They do not cry out to me from their heart, but they wail on their beds; because of grain and new wine they lacerate themselves; they depart from me.
</p>

<div class="sidenote">Hosea 7:15</div>

<p>
And I myself trained and strengthened their arms; but they plan evil against me.
</p>

<div class="sidenote">Hosea 7:16</div>

<p>
They turn, not to the Most High, like a slack bow; their officials will fall by the sword because of the anger of their tongue. This is their scorn in the land of Egypt.
</p>

<div class="sidenote left">Hosea 8:1 <br>to Hosea 8:14</div>

<h3>Israel Rejects the Good</h3>

<p>
Put to your lips the trumpet like a vulture over the house of the LORD, because they have broken my covenant and rebelled against my law.
</p>

<div class="sidenote">Hosea 8:2</div>

<p>
They cry out to me, 'My God! We, Israel, know you!'
</p>

<div class="sidenote">Hosea 8:3</div>

<p>
Israel has spurned the good; the enemy will pursue him.
</p>

<div class="sidenote">Hosea 8:4</div>

<p>
They appointed kings, but not through me; they made officials, but without my knowledge. With their silver and gold they made idols for themselves for their own destruction.
</p>

<div class="sidenote">Hosea 8:5</div>

<p>
Your calf is rejected, O Samaria; my anger burns against them. How long will they be incapable of innocence?
</p>

<div class="sidenote">Hosea 8:6</div>

<p>
Because it is from Israel, an artisan made it, it is not a god; for the calf of Samaria will be broken to pieces.
</p>

<div class="sidenote">Hosea 8:7</div>

<p>
Because they sow the wind, they will reap the whirlwind. The standing grain does not have heads; it will not yield flour. And if it would yield, strangers would devour it.
</p>

<div class="sidenote">Hosea 8:8</div>

<p>
Israel is swallowed up; now they are among the nations, like an object that no one desires.
</p>

<div class="sidenote">Hosea 8:9</div>

<p>
For they have gone up to Assyria, a wild donkey alone to itself; Ephraim has sold itself for lovers.
</p>

<div class="sidenote">Hosea 8:10</div>

<p>
Even though they have sold themselves to the nations, now I will gather them. They will soon writhe from the burden of kings and princes.
</p>

<div class="sidenote">Hosea 8:11</div>

<p>
When Ephraim multiplied altars to expiate sins, they became to him altars to sin on.
</p>

<div class="sidenote">Hosea 8:12</div>

<p>
I write for him myriads of my instruction; they are regarded as a strange thing.
</p>

<div class="sidenote">Hosea 8:13</div>

<p>
They offer sacrifices of my choice and they eat flesh; the LORD does not accept them. Now he will remember their iniquity and punish their sins; they will return to Egypt.
</p>

<div class="sidenote">Hosea 8:14</div>

<p>
Israel has forgotten his maker and built palaces, and Judah has multiplied fortified cities; but I will send fire on his cities and it will devour her strongholds.
</p>

<div class="sidenote left">Hosea 9:1 <br>to Hosea 9:17</div>

<h3>Ephraim Faces Punishment</h3>

<p>
Do not rejoice, O Israel, do not exult like the nations! For you played the whore, departing from your God; you loved a harlot's wage on all the threshing floors of grain.
</p>

<div class="sidenote">Hosea 9:2</div>

<p>
Threshing floor and wine vat will not feed them, and new wine will fail her.
</p>

<div class="sidenote">Hosea 9:3</div>

<p>
They will not remain in the land of the LORD. But Ephraim will return to Egypt, and in Assyria they will eat unclean food.
</p>

<div class="sidenote">Hosea 9:4</div>

<p>
They will not pour drink offerings of wine to the LORD, and their sacrifices will not please him. They are like mourners' bread for them; all those who eat it will be defiled. For their bread will be for their hunger; it will not come to the house of the LORD.
</p>

<div class="sidenote">Hosea 9:5</div>

<p>
What will you do on the day of the appointed time, and on the day of the festival of the LORD?
</p>

<div class="sidenote">Hosea 9:6</div>

<p>
For look! If they flee from the destruction, Egypt will gather them; Memphis will bury them. Nettles will possess their precious things of silver; thorns will be in their tents.
</p>

<div class="sidenote">Hosea 9:7</div>

<p>
The days of punishment have come; the days of retribution have come; Israel knows! The prophet is a fool, the man of the spirit is acting like a madman. Because of the greatness of your sin, your hostility is great.
</p>

<div class="sidenote">Hosea 9:8</div>

<p>
The prophet keeps watch over Ephraim for my God; the snare of a fowler is on all his ways, and hostility in the house of his God.
</p>

<div class="sidenote">Hosea 9:9</div>

<p>
They deeply corrupted themselves as in the days of Gibeah; he will remember their sin, he will punish their sins.
</p>

<div class="sidenote">Hosea 9:10</div>

<p>
Like the grapes in the wilderness, I found Israel. Like early ripened fruit on the fig tree in the first season, I saw your ancestors. They themselves came to Baal Peor, and they consecrated themselves to shame. And they became detestable things, like the thing they love.
</p>

<div class="sidenote">Hosea 9:11</div>

<p>
Ephraim's glory is like a bird; it will fly away no birth, no pregnancy, and no conception.
</p>

<div class="sidenote">Hosea 9:12</div>

<p>
Even though they bring up their children, I will bereave them before maturity. Woe to them indeed, when I depart from them!
</p>

<div class="sidenote">Hosea 9:13</div>

<p>
Ephraim, as I see it, is like a palm in a meadow; but Ephraim must bring out his children to the slayer.
</p>

<div class="sidenote">Hosea 9:14</div>

<p>
Give them, O the LORD what will you give them? Give them a miscarrying womb and dry breasts.
</p>

<div class="sidenote">Hosea 9:15</div>

<p>
Every evil of theirs began at Gilgal, so I began to hate them there; because of the evil of their deeds I will drive them out from my house. I will love them no more; all their officials are rebels.
</p>

<div class="sidenote">Hosea 9:16</div>

<p>
Ephraim is stricken, their root is dried up, they shall not bear fruit. Even if they give birth, I will kill the cherished offspring of their womb.
</p>

<div class="sidenote">Hosea 9:17</div>

<p>
My God will reject them because they did not listen to him, and they will be wanderers among the nations.
</p>

<div class="sidenote left">Hosea 10:1 <br>to Hosea 10:15</div>

<h3>Israel Is Punished</h3>

<p>
Israel is a luxuriant vine; he yields fruit for himself. The more his fruit increased, the more he made numerous altars. The more his land prospered, the more he improved his stone pillars.
</p>

<div class="sidenote">Hosea 10:2</div>

<p>
Their heart is false; now they must bear their guilt. He himself will break down their altars; he will destroy their stone pillars.
</p>

<div class="sidenote">Hosea 10:3</div>

<p>
For now they will say, 'We have no king; indeed, we did not fear the LORD, and what can a king do for us?'
</p>

<div class="sidenote">Hosea 10:4</div>

<p>
They utter words of vain oaths when making covenants, and judgment blossoms like a poisonous plant on the furrows of the field.
</p>

<div class="sidenote">Hosea 10:5</div>

<p>
The inhabitants of Samaria tremble for the calf of Beth-aven. Indeed, his people will mourn for it, and his idolatrous priests will wail over it over its glory because it has departed from it.
</p>

<div class="sidenote">Hosea 10:6</div>

<p>
It will also be brought to Assyria, as tribute to the great king. Ephraim will obtain disgrace and Israel will be ashamed from his advice.
</p>

<div class="sidenote">Hosea 10:7</div>

<p>
Samaria will be destroyed; her king is like a chip on the surface of the water.
</p>

<div class="sidenote">Hosea 10:8</div>

<p>
The high places of Aven, the sin of Israel, will be destroyed. Thorn and thistle will grow on their altars. They will say to the mountains, 'Cover us,' and to the hills, 'Fall on us.'
</p>

<div class="sidenote">Hosea 10:9</div>

<p>
From the days of Gibeah you have sinned, O Israel; there they have remained. Will not war in Gibeah overtake them against the children of evil?
</p>

<div class="sidenote">Hosea 10:10</div>

<p>
In my desire I will punish them; nations will be gathered against them when they are punished for their double iniquities.
</p>

<div class="sidenote">Hosea 10:11</div>

<p>
Ephraim was a trained heifer, that loved to thresh grain, and I myself spared the fairness of her neck; I will make Ephraim break the ground, Judah will plow, Jacob must till for himself.
</p>

<div class="sidenote">Hosea 10:12</div>

<p>
Sow for yourselves righteousness; reap loyal love. Break up for yourself fallow ground; it is time to seek the LORD so he will come and rain righteousness upon you.
</p>

<div class="sidenote">Hosea 10:13</div>

<p>
You have plowed wickedness, you have reaped injustice, you have eaten the fruit of lies, because you have trusted in your strength, in the multitude of your warriors.
</p>

<div class="sidenote">Hosea 10:14</div>

<p>
The tumult of war will rise up against your people, and all your fortresses will be destroyed, as Shalman destroyed Beth-arbel; on the day of war mothers were dashed to pieces with their children.
</p>

<div class="sidenote">Hosea 10:15</div>

<p>
So it will be done to you, O Bethel, because of the evil of your wickedness; at dawn, the king of Israel will be utterly destroyed.
</p>

<div class="sidenote left">Hosea 11:1 <br>to Hosea 11:11</div>

<h3>God Will Have Compassion</h3>

<p>
When Israel was a child, I loved him, and out of Egypt I called my son.
</p>

<div class="sidenote">Hosea 11:2</div>

<p>
When I called them, they went from my face. They sacrificed to the Baals, and they sacrificed to idols.
</p>

<div class="sidenote">Hosea 11:3</div>

<p>
And I myself taught Ephraim to walk; I took them in my arms, but they did not know that I healed them.
</p>

<div class="sidenote">Hosea 11:4</div>

<p>
I drew them with human ties, with the bands of love. I was to them like one who lifted up a yoke on their jaws, though I bent down to them and let them eat.
</p>

<div class="sidenote">Hosea 11:5</div>

<p>
He will return to the land of Egypt, and Assyria will be his king, because they refused to return.
</p>

<div class="sidenote">Hosea 11:6</div>

<p>
The sword rages in his cities; it consumes his false prophets and devours because of their plans.
</p>

<div class="sidenote">Hosea 11:7</div>

<p>
My people are bent on backsliding from me. To the Most High they call, he does not raise them at all.
</p>

<div class="sidenote">Hosea 11:8</div>

<p>
How can I give you up, O Ephraim? How can I hand you over, O Israel? How can I make you like Admah? How can I treat you like Zeboiim? My heart is disturbed within me; all my compassions are aroused.
</p>

<div class="sidenote">Hosea 11:9</div>

<p>
I will not execute my fierce anger, I will not again destroy Ephraim; because I am God and not a mortal, the Holy One in your midst; and I will not come in wrath.
</p>

<div class="sidenote">Hosea 11:10</div>

<p>
They will go after the LORD; he roars like a lion. When he roars, his children will come trembling from the sea.
</p>

<div class="sidenote">Hosea 11:11</div>

<p>
They will tremble like birds from Egypt, and like doves from the land of Assyria; and I will let them return to their homes a declaration of the LORD.
</p>

<div class="sidenote left">Hosea 11:12 <br>to Hosea 12:14</div>

<h3>Israel’s History</h3>

<p>
Ephraim has surrounded me with lies, and the house of Israel with deceit; and Judah is still wandering with God and is faithful to the Holy One.
</p>

<p>
Ephraim herds the wind and is pursuing the east wind all day long; he multiplies deception and violence and he makes a treaty with Assyria, and oil is brought to Egypt.
</p>

<div class="sidenote">Hosea 12:2</div>

<p>
the LORD has a quarrel with Judah and will punish Jacob according to his ways and repay him according to his deeds.
</p>

<div class="sidenote">Hosea 12:3</div>

<p>
In the womb he deceived his brother, and in his manhood he struggled with God.
</p>

<div class="sidenote">Hosea 12:4</div>

<p>
He struggled with the angel and prevailed; he pleaded for his mercy. He met him at Bethel, and there he spoke with him.
</p>

<div class="sidenote">Hosea 12:5</div>

<p>
the LORD the God of hosts, the LORD is his renowned name!
</p>

<div class="sidenote">Hosea 12:6</div>

<p>
But you, you must return to your God; keep love and justice, and wait continually for your God.
</p>

<div class="sidenote">Hosea 12:7</div>

<p>
The trader, in his hand are scales of deceit; he loves to oppress.
</p>

<div class="sidenote">Hosea 12:8</div>

<p>
And Ephraim said, 'Surely, I am rich, I gained wealth for myself; in all my toil they have not found guilt in me that is sin.
</p>

<div class="sidenote">Hosea 12:9</div>

<p>
But I am the LORD your God since the land of Egypt; I will make you live in tents again, like the days of the appointed festival.
</p>

<div class="sidenote">Hosea 12:10</div>

<p>
I spoke to the prophets; I myself multiplied revelations and through the hand of the prophets I will destroy.
</p>

<div class="sidenote">Hosea 12:11</div>

<p>
If in Gilead there is evil, surely they will come to nothing. In Gilgal they sacrifice bulls, also their altars will be like stone heaps on furrows of the field.
</p>

<div class="sidenote">Hosea 12:12</div>

<p>
Jacob fled to the open field of Aram, and Israel served for a wife, and for a wife he watched over sheep.
</p>

<div class="sidenote">Hosea 12:13</div>

<p>
And by a prophet the LORD brought Israel up from Egypt, and by a prophet he was watched over.
</p>

<div class="sidenote">Hosea 12:14</div>

<p>
Ephraim has caused bitter provocation, and his Lord will hold him responsible for his crimes and pay back to him his insults.
</p>

<div class="sidenote left">Hosea 13:1 <br>to Hosea 13:16</div>

<h3>God’s Judgment on Idolatrous Israel</h3>

<p>
When Ephraim spoke, there was terror; he was exalted in Israel, but he incurred guilt through Baal and died.
</p>

<div class="sidenote">Hosea 13:2</div>

<p>
And now they sin again, and they make for themselves a molten idol, idols from their silver metal according to their understanding, all of them the work of skilled craftsmen. To these they say, 'Sacrifice!' People are kissing bull calves.
</p>

<div class="sidenote">Hosea 13:3</div>

<p>
Therefore, they will be like the morning cloud, and like the dew of early morning going away, like chaff swirling from the threshing floor, or like smoke from a window.
</p>

<div class="sidenote">Hosea 13:4</div>

<p>
I am the LORD your God since the land of Egypt; you know no god except me, and no one saves besides me.
</p>

<div class="sidenote">Hosea 13:5</div>

<p>
I fed you in the desert, in the land of drought.
</p>

<div class="sidenote">Hosea 13:6</div>

<p>
When I fed them, they were satisfied; they were satisfied and their heart was lifted up; therefore they forgot me.
</p>

<div class="sidenote">Hosea 13:7</div>

<p>
And I will be like a lion to them; I lie in wait beside the way, like a leopard.
</p>

<div class="sidenote">Hosea 13:8</div>

<p>
I will attack them like a bear robbed of her offspring, and I will tear open the covering of their heart; there I will devour them like a lion, like an animal of the field would mutilate them.
</p>

<div class="sidenote">Hosea 13:9</div>

<p>
I will destroy you, O Israel; who will help you?
</p>

<div class="sidenote">Hosea 13:10</div>

<p>
Where now is your king that he may save you? Where in all your cities are your judges, of whom you said, 'Give to me a king and rulers?'
</p>

<div class="sidenote">Hosea 13:11</div>

<p>
I gave you a king in my anger, and I took him in my wrath.
</p>

<div class="sidenote">Hosea 13:12</div>

<p>
The sin of Ephraim is wrapped up; his sin is concealed.
</p>

<div class="sidenote">Hosea 13:13</div>

<p>
The labor pains of childbirth come for him; he is an unwise son because at the proper time, he does not present himself at the mouth of the womb.
</p>

<div class="sidenote">Hosea 13:14</div>

<p>
Should I redeem them from the power of Sheol? Should I deliver them from death? Where are your plagues, O Death? Where is your destruction, O Sheol? Compassion is hidden from my eyes.
</p>

<div class="sidenote">Hosea 13:15</div>

<p>
Although he may flourish among reeds, the east wind will come, a wind of the LORD rising from the desert; his fountain will dry up, his spring will be parched. It will plunder his treasury, every object of desire.
</p>

<div class="sidenote">Hosea 13:16</div>

<p>
Samaria will be guilty, because she has rebelled against her God; they will fall by the sword, their children will be dashed to pieces, and their pregnant women will be ripped open.
</p>

<div class="sidenote left">Hosea 14:1 <br>to Joel 1:1</div>

<h3>Return to the LORD</h3>

<p>
Return to the LORD your God, O Israel, for you have stumbled because of your sin.
</p>

<div class="sidenote">Hosea 14:2</div>

<p>
Take words with you, and return to the LORD. Say to him, 'Take away all guilt; accept good, and we will offer the fruit of our lips.
</p>

<div class="sidenote">Hosea 14:3</div>

<p>
Assyria will not save us; we will not ride on horses, and we will say no more, 'Our God,' to the work of our hands because in you the fatherless child finds mercy.
</p>

<div class="sidenote">Hosea 14:4</div>

<p>
I will heal their disloyalty; I will love them freely because my anger has turned back from them.
</p>

<div class="sidenote">Hosea 14:5</div>

<p>
I will be like the dew to Israel; he will blossom like the lily plant, and he will strike his roots like the trees of Lebanon.
</p>

<div class="sidenote">Hosea 14:6</div>

<p>
His new plant shoots will spread out; his splendor will be like the olive tree, and his scent like the trees of Lebanon.
</p>

<div class="sidenote">Hosea 14:7</div>

<p>
They will again dwell in my shadow; they will grow grain and they will blossom like the plant vine; his fame will be like the wine of Lebanon.
</p>

<div class="sidenote">Hosea 14:8</div>

<p>
O Ephraim, what have I to do with idols? I myself have answered and looked after you. I am like a luxuriant cypress; your fruit comes from me.
</p>

<div class="sidenote">Hosea 14:9</div>

<p>
Who is wise that he can understand these things? Who is discerning that he knows them? The ways of the LORD are right, and the righteous walk in them; but transgressors stumble in them.
</p>
