<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>James</h1>

<div class="sidenote left">James 1:1 </div>

<h3>Greeting</h3>

<p>
James, a slave of God and of the Lord Jesus Christ, to the twelve tribes in the dispersion. Greetings!
</p>

<div class="sidenote left">James 1:2 <br>to James 1:18</div>

<h3>Trials, Testing, and Faith</h3>

<p>
Consider it all joy, my brothers, whenever you encounter various trials,
because you know that the testing of your faith produces endurance.
And let endurance have its perfect effect, so that you may be mature and complete, lacking in nothing.
</p>

<div class="sidenote">James 1:5</div>

<p>
Now if any of you lacks wisdom, let him ask for it from God, who gives to all without reservation and not reproaching, and it will be given to him.
But let him ask for it in faith, without any doubting, for the one who doubts is like the surf of the sea, driven by the wind and tossed about.
For that person must not suppose that he will receive anything from the Lord;
he is a double-minded man, unstable in all his ways.
</p>

<div class="sidenote">James 1:9</div>

<p>
Now let the brother of humble circumstances boast in his high position,
but the rich person in his humiliation, because he will pass away like a flower of the grass.
For the sun rises with its burning heat and dries up the grass, and its flower falls off, and the beauty of its appearance is lost. So also the rich person in his pursuits will wither away.
</p>

<div class="sidenote">James 1:12</div>

<p>
Blessed is the person who endures testing, because when he is approved he will receive the crown of life that he has promised to those who love him.
No one who is being tempted should say, 'I am being tempted by God,' for God cannot be tempted by evil, and he himself tempts no one.
But each one is tempted when he is dragged away and enticed by his own desires.
Then desire, after it has conceived, gives birth to sin, and sin, when it is brought to completion, gives birth to death.
</p>

<div class="sidenote">James 1:16</div>

<p>
Do not be deceived, my dear brothers.
Every good gift and every perfect gift is from above, coming down from the Father of lights, with whom there is no variation or shadow of change.
By his will he gave birth to us through the message of truth, so that we should be a kind of first fruits of his creatures.
</p>

<div class="sidenote left">James 1:19 <br>to James 1:27</div>

<h3>Doers of the Message, Not Just Hearers</h3>

<p>
Understand this, my dear brothers: every person must be quick to hear, slow to speak, slow to anger,
for human anger does not accomplish the righteousness of God.
Therefore, putting aside all moral uncleanness and wicked excess, welcome with humility the implanted message which is able to save your souls.
</p>

<div class="sidenote">James 1:22</div>

<p>
But be doers of the message and not hearers only, deceiving yourselves,
because if anyone is a hearer of the message and not a doer, this one is like someone staring at his own face in a mirror,
for he looks at himself and goes away and immediately forgets what sort of person he was.
But the one who looks into the perfect law of liberty and continues to do it, not being a forgetful hearer but a doer who acts, this one will be blessed in what he does.
</p>

<div class="sidenote">James 1:26</div>

<p>
If anyone thinks he is religious, although he does not bridle his tongue but deceives his heart, this person's religion is worthless.
Pure and undefiled religion in the sight of our God and Father is this: to look after orphans and widows in their affliction, and to keep oneself unstained by the world.
</p>

<div class="sidenote left">James 2:1 <br>to James 2:13</div>

<h3>Partiality Forbidden</h3>

<p>
My brothers, do not hold your faith in our glorious Lord Jesus Christ with partiality.
For if someone enters into your assembly in fine clothing with a gold ring on his finger, and a poor person in filthy clothing also enters,
and you look favorably on the one wearing the fine clothing and you say, 'Be seated here in a good place,' and to the poor person you say, 'You stand or be seated there by my footstool,'
have you not made distinctions among yourselves and become judges with evil thoughts?
Listen, my dear brothers! Did not God choose the poor of the world to be rich in faith, and heirs of the kingdom that he has promised to those who love him?
But you have dishonored the poor! Are not the rich exploiting you and they themselves dragging you into the courts?
Do they themselves not blaspheme the good name of the one to whom you belong?
</p>

<div class="sidenote">James 2:8</div>

<p>
However, if you carry out the royal law according to the scripture, 'You shall love your neighbor as yourself,' you are doing well.
But if you show partiality, you commit sin, and thus are convicted by the law as transgressors.
For whoever keeps the whole law but stumbles in one point only has become guilty of all of it.
For the one who said 'Do not commit adultery' also said 'Do not murder.' Now if you do not commit adultery but you do murder, you have become a transgressor of the law.
Thus speak and thus act as those who are going to be judged by the law of liberty.
For judgment is merciless to the one who has not practiced mercy. Mercy triumphs over judgment.
</p>

<div class="sidenote left">James 2:14 <br>to James 2:26</div>

<h3>Faith and Works</h3>

<p>
What is the benefit, my brothers, if someone says that he has faith but does not have works? That faith is not able to save him, is it?
If a brother or a sister is poorly clothed and lacking food for the day,
and one of you should say to them, 'Go in peace, keep warm and eat well,' but does not give them what is necessary for the body, what is the benefit?
Thus also faith, if it does not have works, is dead by itself.
</p>

<div class="sidenote">James 2:18</div>

<p>
But someone will say, 'You have faith and I have works.' Show me your faith apart from your works, and I will show you my faith by my works.
You believe that God is one; you do well. Even the demons believe, and shudder!
But do you want to know, O foolish person, that faith apart from works is useless?
Was not Abraham our father justified by works when he offered up his son Isaac on the altar?
You see that faith was working together with his works, and by the works the faith was perfected.
And the scripture was fulfilled that says, 'And Abraham believed God, and it was credited to him for righteousness,' and he was called God's friend.
You see that a person is justified by works and not by faith alone.
And likewise was not Rahab the prostitute also justified by works when she welcomed the messengers and sent them out by a different route?
For just as the body without the spirit is dead, so also faith without works is dead.
</p>

<div class="sidenote left">James 3:1 <br>to James 3:12</div>

<h3>Restraining the Tongue</h3>

<p>
Not many should become teachers, my brothers, because you know that we will receive a greater judgment.
For we all stumble in many ways. If anyone does not stumble in what he says, he is a perfect individual, able to hold in check his whole body also.
And if we put bits in the mouths of horses so that they obey us, we also guide their whole bodies.
Behold also ships: although they are so large and are driven by strong winds, they are guided by a very small rudder wherever the inclination of the pilot wishes.
So also the tongue is a small member of the body and boasts great things. Behold how small a fire sets ablaze how great a forest!
And the tongue is a fire! The world of unrighteousness, the tongue, is set among our members, defiling the whole body and setting on fire the course of human existence, being set on fire by hell.
</p>

<div class="sidenote">James 3:7</div>

<p>
For every species of animals and birds, of reptiles and sea creatures, is being tamed and has been tamed by the human species,
but no human being is able to tame the tongue. It is a restless evil, full of deadly poison.
With it we bless the Lord and Father, and with it we curse people who are made in the likeness of God.
From the same mouth come blessing and cursing. My brothers, these things ought not to be so!
A spring does not pour forth from the same opening fresh and bitter water, does it?
A fig tree is not able, my brothers, to produce olives, or a grapevine figs. Neither can a saltwater spring produce fresh water.
</p>

<div class="sidenote left">James 3:13 <br>to James 3:18</div>

<h3>The Wisdom That Comes Down from Above</h3>

<p>
Who is wise and understanding among you? Let him show by his good behavior his works, with the humility of wisdom.
But if you have bitter jealousy and selfish ambition in your hearts, do not boast and tell lies against the truth.
This is not the wisdom that comes down from above, but is earthly, unspiritual, demonic.
For where there is jealousy and selfish ambition, there is disorder and every evil practice.
But the wisdom from above is first pure, then peaceful, gentle, obedient, full of mercy and good fruits, nonjudgmental, without hypocrisy,
And the fruit of righteousness is sown in peace among those who make peace.
</p>

<div class="sidenote left">James 4:1 <br>to James 4:12</div>

<h3>Subject Yourselves to God</h3>

<p>
From where are conflicts and from where are quarrels among you? Is it not from this, from your pleasures that wage war among your members?
You desire and do not have; you murder and are filled with envy, and are not able to obtain; you fight and quarrel. You do not have because you do not ask.
You ask and do not receive, because you ask with wrong motives, in order that you may spend it on your pleasures.
</p>

<div class="sidenote">James 4:4</div>

<p>
Adulterous people! Do you not know that friendship with the world is enmity with God? Therefore whoever wants to be a friend of the world makes himself an enemy of God.
Or do you think that in vain the scripture says, 'The spirit which he caused to dwell in us desires jealously'?
But he gives greater grace. Therefore it says,
</p>

<div class="sidenote">James 4:7</div>

<p>
Therefore subject yourselves to God. But resist the devil, and he will flee from you.
Draw near to God, and he will draw near to you. Cleanse your hands, you sinners, and purify your hearts, you double-minded!
Lament and mourn and weep! Let your laughter be turned to mourning, and your joy to gloominess.
Humble yourselves before the Lord, and he will exalt you.
</p>

<div class="sidenote">James 4:11</div>

<p>
Do not speak evil of one another, brothers. The one who speaks evil of a brother or judges his brother speaks evil of the law and judges the law. But if you judge the law, you are not a doer of the law but a judge of the law.
There is one lawgiver and judge who is able to save and to destroy. But who are you to judge your neighbor?
</p>

<div class="sidenote left">James 4:13 <br>to James 4:17</div>

<h3>Arrogant Boasting About the Future</h3>

<p>
Come now, you who say, 'Today or tomorrow we will travel to such and such a city and spend a year there, and carry on business and make a profit,'
you who do not know what will happen tomorrow, what your life will be like. For you are a smoky vapor that appears for a short time and then disappears.
Instead you should say, 'If the Lord wills, we will live and do this or that.'
But now you boast in your arrogance. All such boasting is evil.
Therefore, to the one who knows to do good and does not do it, to him it is sin.
</p>

<div class="sidenote left">James 5:1 <br>to James 5:6</div>

<h3>Woes on the Rich Who Oppress Others</h3>

<p>
Come now, you rich people, weep and cry aloud over the miseries that are coming upon you!
Your wealth has rotted, and your clothing has become moth-eaten.
Your gold and silver have become corroded, and their corrosion will be a witness against you, and it will consume your flesh like fire. You have stored up treasure in the last days.
Behold, the wages that were held back by you from the workers who reap your fields cry out, and the cries of the reapers have come to the ears of the Lord of hosts.
You have lived self-indulgently on the earth and have lived luxuriously. You have fattened your hearts in the day of slaughter.
You have condemned, you have murdered the righteous person; he does not resist you.
</p>

<div class="sidenote left">James 5:7 <br>to James 5:12</div>

<h3>Exhortation to Patience</h3>

<p>
Therefore be patient, brothers, until the coming of the Lord. Behold, the farmer waits for the precious fruit of the soil, being patient concerning it until it receives the early and late rains.
You also be patient. Strengthen your hearts, because the coming of the Lord is near.
Brothers, do not complain against one another, in order that you may not be judged. Behold, the judge stands before the doors!
Brothers, take as an example of perseverance and endurance the prophets who spoke in the name of the Lord.
Behold, we consider blessed those who have endured. You have heard about the patient endurance of Job, and you saw the outcome from the Lord, that the Lord is compassionate and merciful.
Now above all, my brothers, do not swear either by heaven or by earth or by any other oath, but let your yes be yes and your no, no, in order that you may not fall under judgment.
</p>

<div class="sidenote left">James 5:13 <br>to James 5:20</div>

<h3>The Effective Prayer of Faith</h3>

<p>
Is anyone among you suffering misfortune? He should pray. Is anyone cheerful? He should sing praise.
Is anyone among you sick? He should summon the elders of the church and they should pray over him, anointing him with olive oil in the name of the Lord.
And the prayer of faith will save the one who is sick, and the Lord will raise him up, and if he has committed sins he will be forgiven.
Therefore confess your sins to one another, and pray for one another, so that you may be healed. The effective prayer of a righteous person accomplishes much.
Elijah was a human being with the same nature as us, and he prayed fervently for it not to rain, and it did not rain on the land for three years and six months.
And he prayed again, and the sky gave rain and the earth produced its fruit.
</p>

<div class="sidenote">James 5:19</div>

<p>
My brothers, if anyone among you should wander away from the truth and someone turns him back,
he should know that the one who turns a sinner back from the error of his way will save that person's soul from death, and will cover over a great number of sins.
</p>
