<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Jude</h1>

<p>
Jude, a slave of Jesus Christ and brother of James, to those who are called, loved in God the Father and kept for Jesus Christ.
May mercy and peace and love be multiplied to you.
Dear friends, although I was making every effort to write to you concerning our common salvation, I considered it a necessity to write to you to encourage you to contend for the faith delivered once and for all to the saints.
For certain men have slipped in stealthily, who were designated long ago for this condemnation, ungodly ones, who change the grace of our God into licentiousness and who deny our only Master and Lord Jesus Christ.
Now I want to remind you, although you know everything once and for all, that Jesus, having saved the people out of the land of Egypt, the second time destroyed those who did not believe.
And the angels who did not keep to their own domain but deserted their proper dwelling place, he has kept in eternal bonds under deep gloom for the judgment of the great day,
as Sodom and Gomorrah and the towns around them indulged in sexual immorality and pursued unnatural desire in the same way as these, are exhibited as an example by undergoing the punishment of eternal fire.
Despite that, in the same way also these men, because of their dreams, defile the flesh and reject authority and blaspheme majestic beings.
But Michael the archangel, when he argued with the devil, disputing concerning the body of Moses, did not dare to pronounce a blasphemous judgment, but said, 'The Lord rebuke you!'
But these persons blaspheme all that they do not understand, and all that they understand by instinct like the irrational animals, by these things they are being destroyed.
Woe to them! For they have traveled in the way of Cain, and have given themselves up to the error of Balaam for gain, and have perished in the rebellion of Korah.
These are the ones feasting together without reverence, hidden reefs at your love feasts, caring for themselves, waterless clouds carried away by winds, late autumn trees without fruit, twice dead, uprooted,
wild waves of the sea foaming up their own shameful deeds, wandering stars, for whom the deep gloom of darkness has been reserved for eternity.
And Enoch, the seventh from Adam, also prophesied about these people, saying, 'Behold, the Lord came with tens of thousands of his holy ones
to execute judgment against all, and to convict all the ungodly concerning all their ungodly deeds that they have committed in an ungodly way, and concerning all the harsh things that ungodly sinners have spoken against him.
These people are grumblers, discontented, proceeding according to their desires, and their mouths speaking pompous words, showing partiality to gain an advantage.
But you, dear friends, remember the words proclaimed beforehand by the apostles of our Lord Jesus Christ,
for they said to you, 'In the end time there will be scoffers following according to their own ungodly desires.'
These are the ones who cause divisions, worldly, not having the Spirit.
But you, dear friends, by building yourselves up in your most holy faith, by praying in the Holy Spirit,
keep yourselves in the love of God, looking forward to the mercy of our Lord Jesus Christ to eternal life.
And have mercy on those who doubt,
and save others by snatching them from the fire, and have mercy on others with fear, hating even the tunic stained by the flesh.
Now to the one who is able to protect you from stumbling and make you to stand before his glory blameless with exultation,
to the only God our Savior, through Jesus Christ our Lord, be glory, majesty, power, and authority before all time and now and for all eternity. Amen.
</p>
