<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Joel</h1>

<p>
The word of the LORD that came to Joel son of Pethuel.
</p>

<div class="sidenote left">Joel 1:2 <br>to Joel 1:20</div>

<h3>A Lament Over the Land</h3>

<p>
Hear this, O elders, and give ear, all the inhabitants of the land. Has this happened in your days? Or the days of your ancestors?
</p>

<div class="sidenote">Joel 1:3</div>

<p>
Tell it to your children, and your children to their children, and their children to the following generation.
</p>

<div class="sidenote">Joel 1:4</div>

<p>
What the cutting locust left, the swarming locust has eaten. What the swarming locust left, the hopping locust has eaten. And what the hopping locust left, the destroying locust has eaten.
</p>

<div class="sidenote">Joel 1:5</div>

<p>
Wake up, drunkards, and weep! Wail, all drinkers of wine, over the new wine, for it is cut off from your mouth.
</p>

<div class="sidenote">Joel 1:6</div>

<p>
Because a nation has invaded my land, strong and beyond counting. Its teeth are the teeth of a lion, and its fangs are those of a lioness.
</p>

<div class="sidenote">Joel 1:7</div>

<p>
It has made my vine a desolation, and my fig tree a completely splintered stump. It has stripped them bare and thrown them down; their branches have turned white.
</p>

<div class="sidenote">Joel 1:8</div>

<p>
Lament like a virgin girded in sackcloth for the husband of her youth.
</p>

<div class="sidenote">Joel 1:9</div>

<p>
The offering and libation are withheld from the house of the LORD. The priests mourn, the ministers of the LORD.
</p>

<div class="sidenote">Joel 1:10</div>

<p>
The field is destroyed; the earth mourns because the grain is destroyed, the new wine dries up, the olive oil languishes.
</p>

<div class="sidenote">Joel 1:11</div>

<p>
Be ashamed, farmers; Wail, vinedressers, over the wheat and over the barley, because the harvest of the field is ruined.
</p>

<div class="sidenote">Joel 1:12</div>

<p>
The vine withers and the fig tree droops. The pomegranate tree, and also the palm tree, the apple tree all the trees of the field are dried up. Indeed, joy is dried up among the sons of men.
</p>

<div class="sidenote">Joel 1:13</div>

<p>
Gird yourselves and lament, O priests! Wail, O ministers of the altar! Come spend the night in sackcloth, O ministers of my God, because offering and libation are withheld from the house of your God.
</p>

<div class="sidenote">Joel 1:14</div>

<p>
Solemnize a fast! Call an assembly! Gather the elders, all of the inhabitants of the land in the house of the LORD your God, and cry out to the LORD.
</p>

<div class="sidenote">Joel 1:15</div>

<p>
Ah! For the day! For the day of the LORD is near. It will come like destruction from Shaddai.
</p>

<div class="sidenote">Joel 1:16</div>

<p>
Is not food cut off before our eyes, from the house of our God, joy and gladness?
</p>

<div class="sidenote">Joel 1:17</div>

<p>
The seeds shrivel under their clods; the storehouses are desolate. The grain storage places are destroyed because grain has dried out.
</p>

<div class="sidenote">Joel 1:18</div>

<p>
How the beasts groan; the herds of cattle wander around because there is no pasture for them; the flocks of sheep are in distress.
</p>

<div class="sidenote">Joel 1:19</div>

<p>
To you, O the LORD, I cry out, because fire has devoured the pastures of the desert, and flames burned all the trees of the field.
</p>

<div class="sidenote">Joel 1:20</div>

<p>
Also, the beasts of the field long for you, because the courses of water are dried up, and fire has devoured the pastures of the desert.
</p>

<div class="sidenote left">Joel 2:1 <br>to Joel 2:11</div>

<h3>The Day of the LORD is Near</h3>

<p>
Blow the trumpet in Zion, and sound the alarm on my holy mountain! Let all the inhabitants of the land tremble, for the day of the LORD is coming it is indeed near.
</p>

<div class="sidenote">Joel 2:2</div>

<p>
A day of darkness and gloom, a day of cloud and thick darkness, like the dawn spreads on the mountains, a great and strong army! There has been nothing like it from old, and after it nothing will be again for generations to come.
</p>

<div class="sidenote">Joel 2:3</div>

<p>
Before them a fire devours, and behind them a flame burns. Like the garden of Eden is the land before them, and after them it is like a desolate desert, and nothing can escape them.
</p>

<div class="sidenote">Joel 2:4</div>

<p>
Like the appearance of horses is their appearance, and like horsemen they run;
</p>

<div class="sidenote">Joel 2:5</div>

<p>
like the sound of chariots on the tops of the mountains, they leap about; like the sound of a flame of fire devouring stubble; like a strong army arranged in rows for battle.
</p>

<div class="sidenote">Joel 2:6</div>

<p>
From before them nations writhe, all faces turn pale.
</p>

<div class="sidenote">Joel 2:7</div>

<p>
They run like mighty warriors, they scale the wall like men of war; each goes on its own way, and they do not swerve from their paths.
</p>

<div class="sidenote">Joel 2:8</div>

<p>
They do not jostle one another; each goes on its own trail; and through the falling weapons, they are not halted.
</p>

<div class="sidenote">Joel 2:9</div>

<p>
In the city they rush forth; on the walls they run. Into the houses they climb up; through the windows they enter like a thief.
</p>

<div class="sidenote">Joel 2:10</div>

<p>
Before them the earth quakes; the heavens tremble; the sun and the moon grow dark, and the stars have withheld their splendor
</p>

<div class="sidenote">Joel 2:11</div>

<p>
And the LORD utters his voice before his army, because his encampment is very large; strong is the one who carries out his decree, for great is the day of the LORD and exceedingly fearful. Who can endure it?
</p>

<div class="sidenote left">Joel 2:12 <br>to Joel 2:17</div>

<h3>A Call to Repentance</h3>

<p>
'And even now,' declares the LORD, 'return to me with all your heart, with fasting, and weeping, and wailing.'
</p>

<div class="sidenote">Joel 2:13</div>

<p>
Rend your hearts and not your garments, and return to the LORD your God, because he is gracious and compassionate, slow to anger and great in loyal love, and relenting from harm.
</p>

<div class="sidenote">Joel 2:14</div>

<p>
Who knows whether he will turn and relent, and leave a blessing behind him, an offering and a libation, for the LORD your God?
</p>

<div class="sidenote">Joel 2:15</div>

<p>
Blow the trumpet in Zion, sanctify a fast, call an assembly;
</p>

<div class="sidenote">Joel 2:16</div>

<p>
gather the people, consecrate the assembly; assemble the elders, gather the children, even those who are breast-feeding; let the bridegroom come out from his private room, and the bride from her canopy.
</p>

<div class="sidenote">Joel 2:17</div>

<p>
Between the colonnade and the altar, let the priests, the ministers of the LORD, weep. And let them say, 'Take pity, the LORD, on your people. Do not make your inheritance a reproach, a byword among the nations. Why should they say among the nations, 'Where is their God?''
</p>

<div class="sidenote left">Joel 2:18 <br>to Joel 2:27</div>

<h3>The Response and Promise of the LORD</h3>

<p>
Then the LORD became jealous for his land and took pity on his people.
</p>

<div class="sidenote">Joel 2:19</div>

<p>
And the LORD answered and said to his people, 'Look at me, I am sending to you grain, new wine, and olive oil, and you will be satisfied by it. I will not give you over any more as a disgrace among the nations.
</p>

<div class="sidenote">Joel 2:20</div>

<p>
The northerners I will remove from you; I will drive them to a desert and desolate land, its front to the eastern sea, and its rear into the western sea; its stench and odor will rise up because he has done great things.
</p>

<div class="sidenote">Joel 2:21</div>

<p>
Do not fear, O land, rejoice and be glad, because the LORD has done great things.
</p>

<div class="sidenote">Joel 2:22</div>

<p>
Do not fear, wild animals of the field, because the pastures of the desert have put forth new green shoots, because the tree has produced its fruit, the fig tree and the vine have yielded their produce.
</p>

<div class="sidenote">Joel 2:23</div>

<p>
Be glad, O children of Zion, be glad and rejoice in the LORD your God, because he has given for you the autumn rains for your righteousness, and he has poured down for you rainwater, the autumn and spring rains, as before.
</p>

<div class="sidenote">Joel 2:24</div>

<p>
The threshing floors will be full with grain, and the vats will overflow with new wine and olive oil.
</p>

<div class="sidenote">Joel 2:25</div>

<p>
I will repay you the years that the locust has eaten, the hopper, the destroyer, and the cutter, my mighty troops that I sent against you.
</p>

<div class="sidenote">Joel 2:26</div>

<p>
And you will eat abundantly and be satisfied, and praise the name of the LORD your God, who has dealt with you wondrously. My people will never be ashamed.
</p>

<div class="sidenote">Joel 2:27</div>

<p>
And you will know that I am in the midst of Israel, and I am the LORD, your God, and there is no other. My people will never be ashamed again.
</p>

<div class="sidenote left">Joel 2:28 <br>to Joel 2:32</div>

<h3>God’s Spirit Poured Out</h3>

<p>
And it will happen afterward thus: I will pour out my Spirit on all flesh, and your sons and your daughters will prophesy, and your elders will dream dreams; your young men shall see visions.
</p>

<div class="sidenote">Joel 2:29</div>

<p>
And also on the male slaves and on the female slaves, I will pour out my Spirit in those days.
</p>

<div class="sidenote">Joel 2:30</div>

<p>
And I will set wonders in the heavens, and on earth, blood and fire and columns of smoke.
The sun will be changed to darkness, and the moon to blood, before the coming of the great and awesome day of the LORD.
And it will happen everyone who calls on the name of the LORD will be rescued, because on Mount Zion and in Jerusalem there will be those who escape, as the LORD said, and among the survivors whom the LORD is calling.
</p>

<div class="sidenote left">Joel 3:1 <br>to Joel 3:8</div>

<h3>God’s Judgment on the Nations</h3>

<p>
For look! In those days, and in that time, when I will return the fortunes of Judah and Jerusalem,
I will gather all the nations, and I will bring them down to the valley of Jehoshaphat, and I will argue a case against them there concerning my people and my inheritance Israel whom they have scattered among the nations, and my land that they have divided.
For my people they cast lots, and they traded the male child for the prostitute, and the female child they sold for wine and they drank it.
</p>

<div class="sidenote">Joel 3:4</div>

<p>
What are you to me, O Tyre and O Sidon, and all of the regions of Philistia? Are you repaying to me what is deserved? If you are recompensing me, I will return swiftly and quickly what you deserve on your head!
For you have taken my silver and my gold, and my beautiful treasures you have carried into your temples.
And the sons of Judah and Jerusalem you sold to the sons of the Greeks, in order to remove them from their border.
Look! I am rousing them from the place where you have sold them, and I will return what you deserve on your head!
I will sell your sons and your daughters into the hand of the children of Judah, and they will sell them to the Sabeans and to a nation far away, for the LORD has spoken.
</p>

<div class="sidenote left">Joel 3:9 <br>to Joel 3:21</div>

<h3>God’s Judgment in the Valley of Jehoshaphat</h3>

<p>
Proclaim this among the nations: Prepare for war! Stir up the mighty warriors; let them approach and come up; let all the men of war approach.
</p>

<div class="sidenote">Joel 3:10</div>

<p>
Beat your cutting tools of iron into swords and your pruning hooks into spears; let the weakling say, 'I am a mighty warrior!'
</p>

<div class="sidenote">Joel 3:11</div>

<p>
Hurry and come, all the nations, from all around, and gather yourselves there. Bring down your mighty warriors, O the LORD!
</p>

<div class="sidenote">Joel 3:12</div>

<p>
Let the nations be roused and let them come up to the valley of Jehoshaphat, for there I will sit to judge all the nations from all around.
</p>

<div class="sidenote">Joel 3:13</div>

<p>
Send forth the sickle, for the harvest is ripe! Go tread, for the winepress is full! The vats overflow, because their evil is great!
</p>

<div class="sidenote">Joel 3:14</div>

<p>
Commotion, commotion in the valley of decision! For the day of the LORD is near in the valley of decision!
</p>

<div class="sidenote">Joel 3:15</div>

<p>
The sun and the moon grow dark, and the stars have withheld their splendor.
</p>

<div class="sidenote">Joel 3:16</div>

<p>
And the LORD roars from Zion; from Jerusalem he utters his voice, and the heavens and the earth shake. But the LORD is a refuge for his people, and a protection for the children of Israel.
</p>

<div class="sidenote">Joel 3:17</div>

<p>
And you will know that I, the LORD your God, am dwelling in Zion, my holy mountain. And Jerusalem will be a place of holiness, and strangers will pass through it no longer.
</p>

<div class="sidenote">Joel 3:18</div>

<p>
And it will happen on that day; the mountains will drip new wine, and the hills will flow with milk, and all the channels of Judah will flow with water. A spring from the house of the LORD will come forth, and it will water the valley of Acacia Trees.
</p>

<div class="sidenote">Joel 3:19</div>

<p>
Egypt will become a desolation, and Edom will become a desolate desert, because of the violence they did against the children of Judah, in whose land they have shed innocent blood.
</p>

<div class="sidenote">Joel 3:20</div>

<p>
But Judah will be inhabited forever, and Jerusalem for all generations.
</p>

<div class="sidenote">Joel 3:21</div>

<p>
I will cleanse their bloodguilt that I did not cleanse, for the LORD is dwelling in Zion.
</p>
