<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Jonah</h1>

<div class="sidenote left">Jonah 1:1 <br>to Jonah 1:16</div>

<h3>Jonah Disobeys the LORD</h3>

<p>
And the word of the LORD came to Jonah the son of Amittai, saying,
'Get up! Go to the great city Nineveh and cry out against her, because their evil has come up before me.'
But Jonah set out to flee toward Tarshish from the presence of the LORD. And he went down to Joppa and found a merchant ship going to Tarshish, and paid her fare, and went on board her to go with them toward Tarshish from the presence of the LORD.
</p>

<div class="sidenote">Jonah 1:4</div>

<p>
And the LORD hurled a great wind upon the sea, and it was a great storm on the sea, and the merchant ship was in danger of breaking up.
And the mariners were afraid, and each cried out to his god. And they threw the contents that were in the merchant ship into the sea to lighten it for them. And meanwhile Jonah went down into the hold of the vessel and lay down and fell asleep.
And the captain of the ship approached him and said to him, 'Why are you sound asleep? Get up! Call on your god! Perhaps your god will take notice of us and we won't perish!'
And they said to one another, 'Come, let us cast lots so that we may know on whose account this disaster has come on us!' And they cast lots, and the lot fell on Jonah.
So they said to him, 'Please tell us whoever is responsible that this disaster has come upon us! What is your occupation? And from where do you come? What is your country? And from which people are you?'
And he said to them, 'I am a Hebrew, and I fear the LORD, the God of heaven, who made the sea and the dry land.'
Then the men were greatly afraid, and they said to him, 'What is this you have done?' because they knew that he was fleeing from the presence of the LORD (because he had told them).
So they said to him, 'What shall we do to you so that the sea may quiet down for us?' because the sea was growing more and more tempestuous.
And he said to them, 'Pick me up and hurl me into the sea so that the sea may quiet down for you, because I know that on account of me this great storm has come upon you all.'
But the men rowed hard to bring the ship back to the dry land, and they could not do so because the sea was growing more and more tempestuous against them.
So they cried out to the LORD, and they said, 'O the LORD! Please do not let us perish because of this man's life, and do not make us guilty of innocent blood, because you, O the LORD, did what you wanted.'
And they picked Jonah up and hurled him into the sea, and the sea ceased from its raging.
So the men feared the LORD greatly, and they offered a sacrifice to the LORD and made vows.
</p>

<div class="sidenote left">Jonah 1:17 <br>to Jonah 2:10</div>

<h3>Jonah Is Swallowed by a Fish and Prays to the LORD</h3>

<p>
And the LORD provided a large fish to swallow up Jonah, and Jonah was in the belly of the fish three days and three nights.
</p>

<p>
And Jonah prayed to the LORD his God from the belly of the fish
and said,
</p>

<div class="sidenote">Jonah 2:3</div>

<p>
And you threw me into the deep, into the heart of the seas, and the sea currents surrounded me; all your breakers and your surging waves passed over me.
</p>

<div class="sidenote">Jonah 2:4</div>

<p>
And I said, 'I am banished from your sight; how will I continue to look on your holy temple?'
</p>

<div class="sidenote">Jonah 2:5</div>

<p>
The waters encompassed me up to my neck; the deep surrounded me; seaweed was wrapped around my head.
</p>

<div class="sidenote">Jonah 2:6</div>

<p>
I went down to the foundations of the mountains; the Underworld its bars were around me forever. But you brought up my life from the pit, the LORD my God.
</p>

<div class="sidenote">Jonah 2:7</div>

<p>
When my life was ebbing away from me, I remembered the LORD, and my prayer came to you, to your holy temple.
</p>

<div class="sidenote">Jonah 2:8</div>

<p>
Those who worship vain idols forsake their loyal love.
</p>

<div class="sidenote">Jonah 2:9</div>

<p>
But I, with a voice of thanksgiving, will sacrifice to you; I will fulfill what I have vowed. Deliverance belongs to the LORD!'
</p>

<div class="sidenote">Jonah 2:10</div>

<p>
And the LORD spoke to the fish, and it vomited Jonah out on the dry land.
</p>

<div class="sidenote left">Jonah 3:1 <br>to Jonah 3:5</div>

<h3>The People of Nineveh Repent at Jonah’s Proclamation</h3>

<p>
And the word of the LORD came to Jonah a second time, saying,
'Get up! Go to Nineveh, the great city, and proclaim to it the message that I am telling you.'
So Jonah got up and went to Nineveh according to the word of the LORD. Now Nineveh was an extraordinarily great city a journey of three days across.
And Jonah began to go into the city a journey of one day, and he cried out and said, 'Forty more days and Nineveh will be demolished!'
And the people of Nineveh believed in God, and they proclaimed a fast and put on sackcloth from the greatest of them to the least important.
</p>

<div class="sidenote left">Jonah 3:6 <br>to Jonah 3:10</div>

<h3>The King’s Proclamation</h3>

<p>
And the news reached the king of Nineveh, and he rose from his throne and removed his royal robe, put on sackcloth, and sat in the ashes.
And he had a proclamation made, and said,
</p>

<div class="sidenote">Jonah 3:8</div>

<p>
And the human beings and the animals must be covered with sackcloth! And they must call forcefully to God, and each must turn from his evil way and from the violence that is in his hands.
Who knows? God may relent and change his mind and turn from his blazing anger so that we will not perish.'
</p>

<div class="sidenote">Jonah 3:10</div>

<p>
And God saw their deeds that they turned from their evil ways and God changed his mind about the evil that he had said he would bring upon them, and he did not do it.
</p>

<div class="sidenote left">Jonah 4:1 <br>to Jonah 4:11</div>

<h3>Jonah Is Angry at the LORD’s Compassion</h3>

<p>
And this was greatly displeasing to Jonah, and he became furious.
And he prayed to the LORD and said, 'O the LORD, was this not what I said while I was in my homeland? Therefore I originally fled to Tarshish, because I knew that you are a gracious and compassionate God, slow to anger and having great steadfast love, and one who relents concerning calamity.
And so then, the LORD, please take my life from me, because for me death is better than life!'
And the LORD said, 'Is it right for you to be angry?'
</p>

<div class="sidenote">Jonah 4:5</div>

<p>
And Jonah went out from the city and sat down east of the city, and he made for himself a shelter there. And he sat under it in the shade, waiting to see what would happen with the city.
And the LORD God appointed a plant, and he made it grow up over Jonah to be a shade over his head, to save him from his discomfort. And Jonah was very glad about the plant.
So God appointed a worm at daybreak the next day, and it attacked the plant, and it withered.
And when the sun rose, God appointed a scorching east wind, and the sun beat down on Jonah's head and he grew faint. And he asked that he could die and said, 'My death is better than my life!'
So God said to Jonah, 'Is it right for you to be angry about the plant?' And he said, 'It is right for me to be angry enough to die!'
</p>

<div class="sidenote">Jonah 4:10</div>

<p>
But the LORD said, 'You are troubled about the plant, for which you did not labor nor cause it to grow. It grew up in a night and it perished in a night!
And should I not be concerned about Nineveh, the great city, in which there are more than one hundred and twenty thousand people who do not know right from left, plus many animals?'
</p>
