<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Lamentations</h1>

<div class="sidenote left">Lamentations 1:1 <br>to Lamentations 1:22</div>

<h3>The Desolate City</h3>

<p>
How desolate the city sits that was full of people! She has become like a widow, once great among the nations! Like a woman of nobility in the provinces, she has become a forced laborer.
</p>

<div class="sidenote">Lamentations 1:2</div>

<p>
She weeps bitterly in the night, her tears are on her cheeks; she has no comforter among all her lovers. All her friends have been unfaithful to her; they have become her enemies.
</p>

<div class="sidenote">Lamentations 1:3</div>

<p>
Judah has gone into exile with misery and under hard servitude; she lives among the nations, she has not found a resting place; all her pursuers have overtaken her amidst her distress.
</p>

<div class="sidenote">Lamentations 1:4</div>

<p>
The roads of Zion are mourning because no one comes to the festival. All her gates are desolate, her priests groan; her young women are worried, and she herself suffers bitterly.
</p>

<div class="sidenote">Lamentations 1:5</div>

<p>
Her foes have become her master, her enemies are at ease; the LORD has made her suffer because of the greatness of her transgressions. Her children have gone away, captive before the foe.
</p>

<div class="sidenote">Lamentations 1:6</div>

<p>
All her majesty has gone away from the daughter of Zion; her princes have become like young stags that have not found pasture; they have gone away without strength, before the pursuer.
</p>

<div class="sidenote">Lamentations 1:7</div>

<p>
Jerusalem remembers the days of her misery and wanderings, all her treasures that were from the days of long ago. When her people fell into the hand of the enemy, there was no one helping her; the enemies saw her, they mocked at her destruction.
</p>

<div class="sidenote">Lamentations 1:8</div>

<p>
Jerusalem sinned grievously, thus she became an objection of derision; all those who honored her despise her because they have seen her nakedness. She herself groans and turns away.
</p>

<div class="sidenote">Lamentations 1:9</div>

<p>
Her uncleanness was in her skirts; she did not remember her future, she has descended beyond understanding, there is no comforter for her. See, O the LORD, my persecution! My enemy has been made great!
</p>

<div class="sidenote">Lamentations 1:10</div>

<p>
The enemy has stretched out his hand over all her treasures; for she has seen the nations, they entered her sanctuary, those whom you commanded not to enter in your assembly.
</p>

<div class="sidenote">Lamentations 1:11</div>

<p>
All her people groan, they are searching for bread. They give their treasures for food, to bring back life. See, O the LORD, and look, how I am despised.
</p>

<div class="sidenote">Lamentations 1:12</div>

<p>
Is it nothing to you, all who pass by? Look and see if there is sorrow like my sorrow, which was dealt to me, which the LORD inflicted on the day of his wrath.
</p>

<div class="sidenote">Lamentations 1:13</div>

<p>
From heaven he sent fire, into my bones he let it descend. He spread out a net for my feet; he turned me back, he gave me devastation, fainting all day.
</p>

<div class="sidenote">Lamentations 1:14</div>

<p>
My rebellion was bound as a yoke, with his hand it was fastened together; it was put on my neck and caused my strength to fail. The Lord gave me into the hands of those whom I cannot withstand.
</p>

<div class="sidenote">Lamentations 1:15</div>

<p>
The Lord has rejected all my mighty ones in my midst. He called an assembly against me, to crush my young men; like in a wine press, the Lord has trodden on the virgin daughter of Judah.
</p>

<div class="sidenote">Lamentations 1:16</div>

<p>
For these things, I am weeping, my eyes flow with tears; because a comforter is far from me, one to restore my life. My sons are desolate because the enemy has prevailed.
</p>

<div class="sidenote">Lamentations 1:17</div>

<p>
Zion stretches out her hands; there is no one to comfort her. the LORD has commanded against Jacob, that those surrounding him should be his enemies; Jerusalem has become a defilement among them.
</p>

<div class="sidenote">Lamentations 1:18</div>

<p>
the LORD is righteous; I have rebelled against his word. Please hear, all the nations, And see my pain; My young women and young men went into captivity.
</p>

<div class="sidenote">Lamentations 1:19</div>

<p>
I have called to my lovers, they themselves deceived me; my priests and elders perished in the city when they sought food for themselves to revive their life.
</p>

<div class="sidenote">Lamentations 1:20</div>

<p>
See, O the LORD, that I am in distress; my stomach is in torment, my heart has turned inside me because I have certainly rebelled. From outside a sword brings bereavement, inside the house it is like death.
</p>

<div class="sidenote">Lamentations 1:21</div>

<p>
They hear that I was groaning; there is no comforter for me. All my enemies have heard my misery, they are pleased that you have done it. Bring that day that you have proclaimed, And let them be like me.
</p>

<div class="sidenote">Lamentations 1:22</div>

<p>
Let all their evil come before you; and deal with them just as you have dealt with me because of all my crimes; for my groaning is much and my heart is faint.
</p>

<div class="sidenote left">Lamentations 2:1 <br>to Lamentations 2:22</div>

<h3>The Lord is Angry</h3>

<p>
How, in his anger, the Lord has covered the daughter of Zion in a cloud! He has thrown down from heavens to earth the splendor of Israel, and he has not remembered his footstool in the day of his anger.
</p>

<div class="sidenote">Lamentations 2:2</div>

<p>
The Lord has devoured; he has not shown mercy to all the dwellings of Jacob; he has broken down in his wrath the fortifications of the daughter of Judah; he has leveled to the ground, he has dishonored the kingdom and its commanders.
</p>

<div class="sidenote">Lamentations 2:3</div>

<p>
He has cut down in fierce anger all the might of Israel; he has withdrawn his right hand from the faces of the enemy, and he has burned in Jacob like a flaming fire, it has consumed all around.
</p>

<div class="sidenote">Lamentations 2:4</div>

<p>
He has bent his bow like an enemy; he has set his right hand like a foe, and he has slain all the treasures of the eye; in the tent of the daughter of Zion, he has poured out his anger like fire.
</p>

<div class="sidenote">Lamentations 2:5</div>

<p>
The Lord has become like an enemy; he has destroyed Israel; he has destroyed all its citadel fortresses; he has ruined all its fortifications and multiplied lamentation and mourning in the daughter of Judah.
</p>

<div class="sidenote">Lamentations 2:6</div>

<p>
He has broken down his dwelling place like the garden; he has ruined his appointed feasts; the LORD has made them forget in Zion festival and Sabbath, and he has despised in his anger king and priest.
</p>

<div class="sidenote">Lamentations 2:7</div>

<p>
The Lord has rejected his altar; he has rejected his sanctuary; he has delivered into the hands of the enemy the walls of its citadel fortresses. They have cried out in the house of the LORD like a day of an appointed feast.
</p>

<div class="sidenote">Lamentations 2:8</div>

<p>
the LORD has planned to destroy the wall of the daughter of Zion. He measured with a line; he has not restrained his hand from destroying; he caused rampart and wall to mourn; together they have languished away.
</p>

<div class="sidenote">Lamentations 2:9</div>

<p>
Her gates have sunk into the earth; he has ruined and broken her bars, her kings and its princes are among the nations; there is no more law. Also, her prophets have not found a revelation from the LORD.
</p>

<div class="sidenote">Lamentations 2:10</div>

<p>
They sit on the ground, the elders of the daughter of Zion are silent. They cast dust on their head, they have put on sackcloth; the young women of Jerusalem have bowed their head down to the ground.
</p>

<div class="sidenote">Lamentations 2:11</div>

<p>
My eyes have spent all their tears; my stomach is in torment, my heart is poured out on the earth because of the destruction of the daughter of my people, because child and babe faint in the public squares of a city.
</p>

<div class="sidenote">Lamentations 2:12</div>

<p>
To their mothers they say, 'Where is the bread and wine?' as they faint like the wounded in the public squares of a city, as their life is being poured out onto the bosom of their mothers.
</p>

<div class="sidenote">Lamentations 2:13</div>

<p>
What can I say for you? What can I compare to you, O daughter of Jerusalem? To what can I liken you so that I can comfort you, O virgin daughter of Zion? For your destruction is as vast as the sea; who can heal you?
</p>

<div class="sidenote">Lamentations 2:14</div>

<p>
Your prophets had a vision for you, false and worthless; they have not exposed your sin, to restore your fortune; they have seen oracles for you, false and misleading.
</p>

<div class="sidenote">Lamentations 2:15</div>

<p>
They clap hands over you, all who pass along the way; they hiss and they shake their head, at the daughter of Jerusalem. Is this the city of which it is said, 'A perfection of beauty, a joy for all the earth?'
</p>

<div class="sidenote">Lamentations 2:16</div>

<p>
They have opened their mouths against you, all your enemies. They hiss and gnash a tooth, and they say, 'We have destroyed her! Surely this is the day we have hoped for; we have found it, we have seen it!'
</p>

<div class="sidenote">Lamentations 2:17</div>

<p>
the LORD has done what he has planned; he has fulfilled his promise that he ordained from the days of old; he has demolished and not shown mercy; he has made an enemy rejoice over you, he has exalted the might of your foes.
</p>

<div class="sidenote">Lamentations 2:18</div>

<p>
Their heart cried to the Lord, 'O wall of the daughter of Zion, let tears stream down like a river; day and night, do not give yourself relief, do not give your eyes rest.
</p>

<div class="sidenote">Lamentations 2:19</div>

<p>
'Arise, cry out in the night, at the beginning of the night watches; pour out your heart like water, before the face of the Lord. Lift to him your hands, for the life of your children, who faint in starvation, at the head of all streets.'
</p>

<div class="sidenote">Lamentations 2:20</div>

<p>
See, the LORD, and take note! With whom have you dealt thus? Should women eat their young children of tender care? Should priest and prophet be slain in the sanctuary of the Lord?
</p>

<div class="sidenote">Lamentations 2:21</div>

<p>
They lie in the soil of the streets, young and old; my young women and young men, they have fallen by the sword; you have slain on the day of your anger, you have slaughtered and not shown mercy.
</p>

<div class="sidenote">Lamentations 2:22</div>

<p>
You have summoned my horror from all around, as if for a feast day; no one on the day of the LORD's anger is a fugitive and a survivor; whoever I have cared for and reared, my enemy has destroyed.
</p>

<div class="sidenote left">Lamentations 3:1 <br>to Lamentations 3:66</div>

<h3>Israel’s Affliction</h3>

<p>
I am a man who has seen misery, under the rod of his wrath.
</p>

<div class="sidenote">Lamentations 3:2</div>

<p>
He has driven me along, he brought darkness and not light.
</p>

<div class="sidenote">Lamentations 3:3</div>

<p>
Surely he has turned his hand against me, all day long.
</p>

<div class="sidenote">Lamentations 3:4</div>

<p>
He has worn out my flesh and skin, he has broken my bones.
</p>

<div class="sidenote">Lamentations 3:5</div>

<p>
He has besieged and engulfed me with bitterness and hardship.
</p>

<div class="sidenote">Lamentations 3:6</div>

<p>
In darkness he has let me dwell like the dead of long ago.
</p>

<div class="sidenote">Lamentations 3:7</div>

<p>
He has built a wall around me, I cannot go out; he has made my bronze fetters heavy.
</p>

<div class="sidenote">Lamentations 3:8</div>

<p>
Though I cry out for help, he shuts out my prayers.
</p>

<div class="sidenote">Lamentations 3:9</div>

<p>
He has blocked my ways with dressed stones; he has made my paths crooked.
</p>

<div class="sidenote">Lamentations 3:10</div>

<p>
To me he is like a bear lying in wait, a lion in hiding.
</p>

<div class="sidenote">Lamentations 3:11</div>

<p>
He has forsaken my way and torn me to pieces; he has caused me desolation.
</p>

<div class="sidenote">Lamentations 3:12</div>

<p>
He has bent his bow and set me as the target for the arrow.
</p>

<div class="sidenote">Lamentations 3:13</div>

<p>
He shot the arrows of his quiver into my kidneys.
</p>

<div class="sidenote">Lamentations 3:14</div>

<p>
I have become a laughingstock for all the people, their mocking song all day long.
</p>

<div class="sidenote">Lamentations 3:15</div>

<p>
He has filled me with bitterness, he has drenched me with wormwood.
</p>

<div class="sidenote">Lamentations 3:16</div>

<p>
He has broken my teeth on grit, he has trampled me down in ash.
</p>

<div class="sidenote">Lamentations 3:17</div>

<p>
My life has been removed from peace, I have forgotten goodness.
</p>

<div class="sidenote">Lamentations 3:18</div>

<p>
And I have said, 'My glory is ruined, my expectation from the LORD.'
</p>

<div class="sidenote">Lamentations 3:19</div>

<p>
Remember my misery and bitterness, the wormwood and venom!
</p>

<div class="sidenote">Lamentations 3:20</div>

<p>
Surely my soul remembers and bows down within me.
</p>

<div class="sidenote">Lamentations 3:21</div>

<p>
This I have reminded myself, therefore I will hope.
</p>

<div class="sidenote">Lamentations 3:22</div>

<p>
The loyal love of the LORD does not cease; his compassions do not come to an end.
</p>

<div class="sidenote">Lamentations 3:23</div>

<p>
They are new in the morning, great is your faithfulness.
</p>

<div class="sidenote">Lamentations 3:24</div>

<p>
'the LORD is my portion,' says my soul, 'Thus I will hope on him.'
</p>

<div class="sidenote">Lamentations 3:25</div>

<p>
the LORD is good to those who wait on him, to the person that seeks him.
</p>

<div class="sidenote">Lamentations 3:26</div>

<p>
It is good to wait in silence for the salvation of the LORD.
</p>

<div class="sidenote">Lamentations 3:27</div>

<p>
It is good for a man who carries the yoke of his childhood.
</p>

<div class="sidenote">Lamentations 3:28</div>

<p>
Let him sit alone and be silent when he has laid it on him.
</p>

<div class="sidenote">Lamentations 3:29</div>

<p>
Let him put his mouth in the dust; perhaps there is hope.
</p>

<div class="sidenote">Lamentations 3:30</div>

<p>
Let him give a cheek to his smiter, let him be filled with disgrace.
</p>

<div class="sidenote">Lamentations 3:31</div>

<p>
For the Lord will not reject forever.
</p>

<div class="sidenote">Lamentations 3:32</div>

<p>
For even though he causes grief he has compassion according to the greatness of his royal love.
</p>

<div class="sidenote">Lamentations 3:33</div>

<p>
He does not afflict willingly, or grieve anyone.
</p>

<div class="sidenote">Lamentations 3:34</div>

<p>
To crush under his feet all the prisoners of the earth;
</p>

<div class="sidenote">Lamentations 3:35</div>

<p>
to deprive one of justice before the face of the Most High;
</p>

<div class="sidenote">Lamentations 3:36</div>

<p>
to subvert a person in a legal dispute the Lord has not found delight in these things.
</p>

<div class="sidenote">Lamentations 3:37</div>

<p>
Who can speak and it will happen if the Lord has not commanded it?
</p>

<div class="sidenote">Lamentations 3:38</div>

<p>
Is it not from the mouth of the Most High that disaster and good will come?
</p>

<div class="sidenote">Lamentations 3:39</div>

<p>
Why should any living person complain about his sin?
</p>

<div class="sidenote">Lamentations 3:40</div>

<p>
Let us test and examine our ways; let us return to the LORD.
</p>

<div class="sidenote">Lamentations 3:41</div>

<p>
Let us lift up our hearts with our hands to God in the heavens.
</p>

<div class="sidenote">Lamentations 3:42</div>

<p>
We ourselves have transgressed and rebelled, you have not forgiven.
</p>

<div class="sidenote">Lamentations 3:43</div>

<p>
You have covered yourself in anger and pursued us, you have slain and not shown mercy.
</p>

<div class="sidenote">Lamentations 3:44</div>

<p>
You have covered yourself in a cloud so that prayer cannot pass through.
</p>

<div class="sidenote">Lamentations 3:45</div>

<p>
You have made us scum and refuse in the midst of the nations.
</p>

<div class="sidenote">Lamentations 3:46</div>

<p>
All our enemies have opened their mouth against us.
</p>

<div class="sidenote">Lamentations 3:47</div>

<p>
Fear and a pit have come upon us, desolation and destruction.
</p>

<div class="sidenote">Lamentations 3:48</div>

<p>
Channels of water run down my eyes because of the destruction of the daughter of my people.
</p>

<div class="sidenote">Lamentations 3:49</div>

<p>
My eyes have poured down unceasingly without respite,
</p>

<div class="sidenote">Lamentations 3:50</div>

<p>
until the LORD looks down and sees from heaven.
</p>

<div class="sidenote">Lamentations 3:51</div>

<p>
My eyes inflict my soul because of all the daughters of my city.
</p>

<div class="sidenote">Lamentations 3:52</div>

<p>
My enemies hunt me without cause, like a bird.
</p>

<div class="sidenote">Lamentations 3:53</div>

<p>
They have silenced me in a pit, they have thrown a stone at me.
</p>

<div class="sidenote">Lamentations 3:54</div>

<p>
Water has flown over my head, I said, 'I am cut off.'
</p>

<div class="sidenote">Lamentations 3:55</div>

<p>
I have called your name, O the LORD, from the depths of the pit.
</p>

<div class="sidenote">Lamentations 3:56</div>

<p>
You have heard my cry, 'Do not shut your ear to my cry for help, for my relief!'
</p>

<div class="sidenote">Lamentations 3:57</div>

<p>
You came near on a day when I called you, you said, 'Do not fear!'
</p>

<div class="sidenote">Lamentations 3:58</div>

<p>
O Lord, you have pleaded for my cause, you have redeemed my life.
</p>

<div class="sidenote">Lamentations 3:59</div>

<p>
You have seen my injustice, O the LORD; judge my case.
</p>

<div class="sidenote">Lamentations 3:60</div>

<p>
You have seen all their vengeance, all there plans against me.
</p>

<div class="sidenote">Lamentations 3:61</div>

<p>
You have heard their disgrace, O the LORD, all their plans against me.
</p>

<div class="sidenote">Lamentations 3:62</div>

<p>
The lips and meditation of my assailants are against me all day long.
</p>

<div class="sidenote">Lamentations 3:63</div>

<p>
Look at their sitting and their standing, I am their mocking song.
</p>

<div class="sidenote">Lamentations 3:64</div>

<p>
Return to them what is deserved, O the LORD, according to the work of their hands.
</p>

<div class="sidenote">Lamentations 3:65</div>

<p>
Give them a stubborn heart; curse them!
</p>

<div class="sidenote">Lamentations 3:66</div>

<p>
Pursue them in anger and destroy them from under the heavens of the LORD.
</p>

<div class="sidenote left">Lamentations 4:1 <br>to Lamentations 4:22</div>

<h3>Zion Is Punished</h3>

<p>
How the gold has grown dim, the pure gold has changed. The stones of holiness are scattered at the head of every street.
</p>

<div class="sidenote">Lamentations 4:2</div>

<p>
The precious sons of Zion weighed against fine gold, how they are thought of as earthen vessels of clay, the work of the potter's hands.
</p>

<div class="sidenote">Lamentations 4:3</div>

<p>
Even the jackal bears the beast and nurses their cubs; but the daughter of my people has become ruthless, like ostriches in the wilderness.
</p>

<div class="sidenote">Lamentations 4:4</div>

<p>
The tongue of the nursling cleaves to its palate in thirst. Children beg for food, no one lays it out before them.
</p>

<div class="sidenote">Lamentations 4:5</div>

<p>
The ones who eat delicacies, they are ruined in the streets; the ones nurtured in purple lie on piles of trash.
</p>

<div class="sidenote">Lamentations 4:6</div>

<p>
The iniquity of the daughter of my people is greater than the sin of Sodom; it was overthrown in a moment and no hands were laid on her.
</p>

<div class="sidenote">Lamentations 4:7</div>

<p>
Her princes were purer than snow, they were whiter than milk; their bodies were more ruddy than rubies, sapphire their appearance.
</p>

<div class="sidenote">Lamentations 4:8</div>

<p>
Now their appearance is blacker than soot, they are not recognized in the streets; their skin has shriveled on their bones, it has become dry like wood.
</p>

<div class="sidenote">Lamentations 4:9</div>

<p>
Happier were the victims of the sword than the victims of famine; they have pined away, very hungry for the crops of my field.
</p>

<div class="sidenote">Lamentations 4:10</div>

<p>
The hands of compassionate women, have cooked their children; they became as something to eat in the destruction of the daughter of my people.
</p>

<div class="sidenote">Lamentations 4:11</div>

<p>
the LORD has completed his anger, he has poured out his fierce anger; he has kindled a fire in Zion, it consumed her foundations.
</p>

<div class="sidenote">Lamentations 4:12</div>

<p>
The kings of the earth did not believe, and all the inhabitants of the world, that a foe and an enemy could enter into the gates of Jerusalem.
</p>

<div class="sidenote">Lamentations 4:13</div>

<p>
Because of the sins of her prophets, the guilt of her priests, who shed blood in her midst, of righteous people.
</p>

<div class="sidenote">Lamentations 4:14</div>

<p>
They wander blindly in the streets; they were defiled with the blood, their clothes could not be touched.
</p>

<div class="sidenote">Lamentations 4:15</div>

<p>
'Go away! Defiled!' they shout to them. 'Go away! Go away! Do not touch!' so they left, they left; it was said among the nations, 'They will no longer dwell with us.'
</p>

<div class="sidenote">Lamentations 4:16</div>

<p>
The presence of the LORD has scattered them, he will no longer watch over them; they did not honor the priests, they did not show mercy to elders.
</p>

<div class="sidenote">Lamentations 4:17</div>

<p>
Still our eyes failed, looking for our help in vain; in our watchtower, we kept watch for a nation that could not save.
</p>

<div class="sidenote">Lamentations 4:18</div>

<p>
They hunted our steps, from walking in our streets; our end has come near, our days are finished, our end has come.
</p>

<div class="sidenote">Lamentations 4:19</div>

<p>
Our pursuers were swifter than the eagles of the heavens; they chased us on the mountains, they have set an ambush for us in the desert.
</p>

<div class="sidenote">Lamentations 4:20</div>

<p>
The breath of our nostrils, the anointed one of the LORD, was captured in their pits; of whom we said, 'In his shadow we will live among the nations.'
</p>

<div class="sidenote">Lamentations 4:21</div>

<p>
Rejoice and be glad, O daughter of Edom, you who dwell in the land of Uz; but to you also the cup will pass, you will become drunk and strip yourself bare.
</p>

<div class="sidenote">Lamentations 4:22</div>

<p>
The punishment of your iniquity is completed, O daughter of Zion, your exile will not continue; but he will punish your iniquity, O daughter of Edom, he will reveal your sins.
</p>

<div class="sidenote left">Lamentations 5:1 <br>to Lamentations 5:22</div>

<h3>A Request for Mercy</h3>

<p>
Remember, O the LORD, what has become of us; take note, and see our disgrace!
</p>

<div class="sidenote">Lamentations 5:2</div>

<p>
Our inheritance has been turned over to strangers, our houses, to foreigners.
</p>

<div class="sidenote">Lamentations 5:3</div>

<p>
We have become orphans, fatherless, our mothers are like widows.
</p>

<div class="sidenote">Lamentations 5:4</div>

<p>
We pay for water with money, our wood comes to us at a price.
</p>

<div class="sidenote">Lamentations 5:5</div>

<p>
We are driven on our necks; we are weary, there is no rest for us.
</p>

<div class="sidenote">Lamentations 5:6</div>

<p>
We have made a deal with Egypt and Assyria to be satisfied with food.
</p>

<div class="sidenote">Lamentations 5:7</div>

<p>
Our fathers have sinned, they are no more; we bear their iniquity.
</p>

<div class="sidenote">Lamentations 5:8</div>

<p>
Slaves rule over us; there is no one to deliver us from their hand.
</p>

<div class="sidenote">Lamentations 5:9</div>

<p>
We risk our life for food because of the sword of the desert.
</p>

<div class="sidenote">Lamentations 5:10</div>

<p>
Our skin is hot like an oven because of the scorching famine.
</p>

<div class="sidenote">Lamentations 5:11</div>

<p>
They raped women in Zion, young women in the cities of Judah.
</p>

<div class="sidenote">Lamentations 5:12</div>

<p>
They hang princes by their hand; they do not show respect before elders.
</p>

<div class="sidenote">Lamentations 5:13</div>

<p>
Young men must carry a hand-mill and boys stumble under the wood.
</p>

<div class="sidenote">Lamentations 5:14</div>

<p>
Elders are no longer at the gate, young men no longer play stringed instruments.
</p>

<div class="sidenote">Lamentations 5:15</div>

<p>
The joy of our hearts has stopped; our circle-dancing has changed to a mourning ceremony.
</p>

<div class="sidenote">Lamentations 5:16</div>

<p>
The crown has fallen from our head; woe to us, for we have sinned!
</p>

<div class="sidenote">Lamentations 5:17</div>

<p>
Because of this, our heart has become faint, because of these, our eyes have become dim.
</p>

<div class="sidenote">Lamentations 5:18</div>

<p>
Because of Mount Zion, which lies desolate, foxes tread on it.
</p>

<div class="sidenote">Lamentations 5:19</div>

<p>
You, O the LORD, will sit forever on your throne for generation to generation.
</p>

<div class="sidenote">Lamentations 5:20</div>

<p>
Why have you forgotten us forever? Why have you forsaken us for so long?
</p>

<div class="sidenote">Lamentations 5:21</div>

<p>
Restore us to you, O the LORD, that we will be restored; renew our days as of old.
</p>

<div class="sidenote">Lamentations 5:22</div>

<p>
Unless you have utterly rejected us, unless you are angry with us beyond measure.
</p>
