<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Malachi</h1>

<p>
An oracle. The word of the LORD to Israel through Malachi.
</p>

<div class="sidenote left">Malachi 1:2 <br>to Malachi 1:5</div>

<h3>An Oracle Against Edom</h3>

<p>
'I have loved you,' says the LORD, but you say, 'How have you loved us?Is Esau not Jacob's brother?' declares the LORD. 'I have loved Jacob,
but Esau I have hated. I have made his mountain ranges a desolation, and given his inheritance to the jackals of the desert.'
If Edom says, 'We are shattered, but we will return and rebuild the ruins,' the LORD of hosts says this: 'They may build, but I will tear down; and they will be called a territory of wickedness, and the people with whom the LORD is angry forever.'
Your eyes will see this, and you will say, 'the LORD is great beyond the borders of Israel.'
</p>

<div class="sidenote left">Malachi 1:6 <br>to Malachi 2:9</div>

<h3>An Oracle Against the Temple Priesthood</h3>

<p>
'A son honors his father, and a slave his master; but if I am a father, where is my honor, and if I am a master, where is my reverence?' says the LORD of hosts to you, O priests, who despise my name. 'But you say, 'How have we despised your name?'
You are presenting defiled food on my altar! But you ask, 'How have we defiled you?' By saying that the table of the LORD is despised!
When you offer a blind animal for sacrifice, is that not wrong? And when you offer the lame and the one who is ill, is that not wrong? Present it, please, to your governor! Will he be pleased with you? Will he show you favor?' says the LORD of hosts.
So then, implore the favor of God so that he will be gracious to us. 'This is what you have done. Will he show favor to any of you?' says the LORD of hosts.
'Who also among you will shut the temple doors so that you will not kindle fire in vain on my altar? I take no pleasure in you,' says the LORD of hosts, 'and I will not accept an offering from your hand.
From the rising of the sun to its setting, my name is great among the nations, and in every place incense is being presented to my name, and a pure offering. For my name is great among the nations,' says the LORD of hosts.
'But you are profaning it by saying the table of the Lord is defiled, and its fruit its food is despised!
And you say, 'Look! This is a weariness,' and you sniff with disdain at it,' says the LORD of hosts. 'And you bring the stolen, the lame, and the one that is sick this you bring as the offering! Should I accept it from your hand?' says the LORD.
'Cursed is the one who cheats, who has in his flock a male and vows it, but instead sacrifices a blemished one to the Lord! For I am a great king,' says the LORD of hosts, 'and my name is awesome among the nations.'
</p>

<p>
'And so then, O priests, this command is for you:
If you will not listen, and if you will not take it to heart to give glory to my name,' says the LORD of hosts, 'then I will send the curse on you, and I will curse your blessings; moreover I have already cursed them because you are not taking it to heart.
Look! I am going to rebuke your offspring, and I will scatter offal on your faces, the offal of your religious feasts, and you will be carried to it.
</p>

<div class="sidenote">Malachi 2:4</div>

<p>
'Then you will know that I have sent to you this command, that my covenant with Levi continues,' says the LORD of hosts.
'My covenant with him was one of life and peace, and I gave them to him. This required reverence, and he revered me and stood in awe before my name.
The instruction of truth was in his mouth, and wickedness was not found on his lips. In peace and in uprightness he walked with me, and he brought back many from sin.
For the lips of the priest should guard knowledge, and they should seek instruction from his mouth, for he is the messenger of the LORD of hosts.
But you, you have turned from the way; you have caused many to stumble by your instruction; you have ruined the covenant of Levi,' says the LORD of hosts.
'And in turn I have made you despised and humbled before all the people, inasmuch as you are not keeping my way, but are favoring your own instruction.'
</p>

<div class="sidenote left">Malachi 2:10 <br>to Malachi 2:17</div>

<h3>God Hates Faithlessness</h3>

<p>
Do we not all have one father? Has not one God created us? Why then are we unfaithful to one another, profaning the covenant of our ancestors?
Judah has been faithless, and a detestable thing has been done in Israel and in Jerusalem. Judah has profaned the sanctuary of the LORD which he loves, and has married the daughter of a foreign god.
May the LORD cut off from the tents of Jacob the man who does this, the one who is awake and who answers, and the one who brings an offering to the LORD of hosts!
</p>

<div class="sidenote">Malachi 2:13</div>

<p>
And this you do as well: you cover the altar of the LORD with tears, with weeping and with groaning, because he no longer regards the offering or accepts it with favor from your hand.
But you ask, 'For what reason?' Because the LORD stands as a witness between you and the wife of your youth, against whom you have been unfaithful, even though she is your marriage partner and your wife by covenant.
Did not one God make them? But a remnant of the spirit is his. And what does the one God desire? An offspring of God. You must be attentive to your spirit, and you must not be unfaithful to the wife of your youth.
'For I hate divorce,' says the LORD, the God of Israel, 'and he who covers his clothing with violence,' says the LORD of hosts. 'You must be attentive to your spirit and you must not be unfaithful.'
</p>

<div class="sidenote">Malachi 2:17</div>

<p>
You have wearied the LORD with your words, but you ask, 'With what have we wearied him?' You have done so when you say, 'Everyone who does evil is good in the sight of the LORD, and in them he delights,' or 'Where is the God of justice?'
</p>

<div class="sidenote left">Malachi 3:1 <br>to Malachi 3:5</div>

<h3>God’s Messenger is Coming</h3>

<p>
'Look! I am going to send my messenger, and he will prepare the way before me. And the Lord whom you are seeking will come suddenly to his temple, and the messenger of the covenant, in whom you are taking pleasure look! he is about to come,' says the LORD of hosts.
And who can endure the day of his coming? And who is the one who can stand when he appears? For he is like a refiner's fire, like launderers' alkali.
He will sit as a refiner and purifier of silver; he will purify the children of Levi, and he will refine them like gold and like silver, and they will present to the LORD offerings in righteousness.
And the offering of Judah and Jerusalem will be pleasing to the LORD, like in the days of old and like in former years.
</p>

<div class="sidenote">Malachi 3:5</div>

<p>
'Then I will approach you for judgment, and I will be a swift witness against the sorcerers and against the adulterers, and against those who swear falsely, and against the oppressors of the hired worker with his wages, the widow and the orphan, and the abusers of the alien, and yet do not fear me,' says the LORD of hosts.
</p>

<div class="sidenote left">Malachi 3:6 <br>to Malachi 3:15</div>

<h3>An Overflowing Blessing</h3>

<p>
'For I, the LORD, have not changed, and you, O children of Jacob, have not perished.
From the days of your ancestors you have turned aside from my rules, and have not kept them! Return to me and I will return to you,' says the LORD of hosts, 'but you say, 'How shall we return?'
</p>

<div class="sidenote">Malachi 3:8</div>

<p>
Will a human dare to rob God? Yet you are robbing me! And you say, 'How have we robbed you?' In the tithes and the contributions!
You are being cursed with a curse, for you are robbing me, the whole nation of you!
Bring the whole tithe to the storehouse, so that there will be food in my house, and test me please in this,' says the LORD of hosts, 'if I will not open for you the windows of heaven, and pour forth for you an overflowing blessing.
I will rebuke the devourer for you; it will not destroy the fruit of your soil; your vine in the field will not be unfruitful,' says the LORD of hosts.
'And all the nations will call you blessed, because you will be a land in which one takes joy,' says the LORD of hosts.
'Your words have been harsh against me,' says the LORD. 'But you say, 'How have we spoken together against you?'
You have said, 'It is useless to serve God! What is the gain if we keep his requirements, and if we walk as mourners before the LORD of hosts?
And now we are calling the arrogant blessed! Not only do those who do wickedness prosper; they also test God and they escape!''
</p>

<div class="sidenote left">Malachi 3:16 <br>to Malachi 4:6</div>

<h3>A Book of Remembrance is Written</h3>

<p>
Then those who revered the LORD spoke with one another. And the LORD listened attentively and heard, and a scroll of remembrance was written before him of those who revere the LORD and ponder his name.
'They will be mine,' says the LORD of hosts, 'on the day that I am acting, my treasured possession. I will have compassion on them as a man has compassion on his son who serves him.
You will return and see the difference between the righteous and the wicked, between the one who serves God and the one who does not serve him.
</p>

<p>
'For look! The day is about to come, burning like an oven, and all the arrogant and every evildoer will be stubble. The coming day will consume them,' says the LORD of hosts. 'It will not leave behind for them root or branch.
But for you who revere my name, the sun of righteousness will rise, with healing in its wings, and you will go out and leap like fattened calves.
You will trample down the wicked, for they will be ashes under the soles of your feet on the day that I am going to act,' says the LORD of hosts.
</p>

<div class="sidenote">Malachi 4:4</div>

<p>
'Remember the instruction of my servant Moses, which I commanded him at Horeb to all Israel, the rules and regulations.
Look! I am going to send to you Elijah the prophet before the coming of the great and awesome day of the LORD!
And he will bring back the hearts of the fathers to the sons, and the hearts of the sons to their fathers, so that I will not come and strike the land with a ban.'
</p>
