<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Mark</h1>

<div class="sidenote left">Mark 1:1 <br>to Mark 1:8</div>

<h3>John the Baptist Begins His Ministry</h3>

<p>
The beginning of the gospel of Jesus Christ.
Just as it is written in the prophet Isaiah,
</p>

<div class="sidenote">Mark 1:3</div>

<p>
the voice of one shouting in the wilderness, 'Prepare the way of the Lord, make straight his paths!''
</p>

<div class="sidenote">Mark 1:4</div>

<p>
John was there baptizing in the wilderness, proclaiming a baptism of repentance for the forgiveness of sins.
And all the Judean region and all the inhabitants of Jerusalem went out to him and were being baptized by him in the Jordan River, confessing their sins.
And John was dressed in camel's hair and a belt made of leather around his waist, and he ate locusts and wild honey.
And he was preaching, saying, 'One who is more powerful than I is coming after me, of whom I am not worthy to bend down and untie the strap of his sandals.
I baptized you with water, but he will baptize you with the Holy Spirit.'
</p>

<div class="sidenote left">Mark 1:9 <br>to Mark 1:11</div>

<h3>The Baptism of Jesus</h3>

<p>
And it happened that in those days Jesus came from Nazareth in Galilee and was baptized in the Jordan by John.
And immediately as he was coming up out of the water, he saw the heavens being split apart and the Spirit descending like a dove on him.
And a voice came from heaven, 'You are my beloved Son; with you I am well pleased.'
</p>

<div class="sidenote left">Mark 1:12 <br>to Mark 1:13</div>

<h3>The Temptation of Jesus</h3>

<p>
And immediately the Spirit drove him out into the wilderness.
And he was in the wilderness forty days being tempted by Satan. And he was with the wild animals, and the angels were ministering to him.
</p>

<div class="sidenote left">Mark 1:14 <br>to Mark 1:15</div>

<h3>Public Ministry in Galilee</h3>

<p>
And after John had been taken into custody, Jesus went into Galilee proclaiming the gospel of God
and saying, 'The time is fulfilled and the kingdom of God has come near. Repent and believe in the gospel!'
</p>

<div class="sidenote left">Mark 1:16 <br>to Mark 1:21</div>

<h3>Jesus Calls His First Disciples</h3>

<p>
And as he was passing by along the Sea of Galilee, he saw Simon and Andrew, Simon's brother, casting a net into the sea (for they were fishermen).
And Jesus said to them, 'Follow me and I will make you become fishers of people.'
And immediately they left their nets and followed him.
And going on a little farther, he saw James the son of Zebedee and his brother John, and they were in the boat mending the nets.
And immediately he called them, and they left their father Zebedee in the boat with the hired men and went away after him.
And they went into Capernaum and immediately on the Sabbath he began to teach in the synagogue.
</p>

<div class="sidenote left">Mark 1:22 <br>to Mark 1:28</div>

<h3>A Man with an Unclean Spirit Healed</h3>

<p>
And they were amazed at his teaching, because he was teaching them like one who had authority, and not like the scribes.
And so then there was a man in their synagogue with an unclean spirit, and he cried out,
saying, 'Leave us alone, Jesus the Nazarene! Have you come to destroy us? I know who you are the Holy One of God!'
And Jesus rebuked him, saying, 'Be silent, and come out of him!'
And after convulsing him and crying out with a loud voice, the unclean spirit came out of him.
And they were all amazed, so that they began to discuss with one another, saying, 'What is this? A new teaching with authority! He even commands the unclean spirits and they obey him.'
And the report about him then went out everywhere in the whole surrounding region of Galilee.
</p>

<div class="sidenote left">Mark 1:29 <br>to Mark 1:34</div>

<h3>Many at Capernaum Are Healed</h3>

<p>
And so then he departed from the synagogue and came into the house of Simon and Andrew with James and John.
Now Simon's mother-in-law was lying down, suffering with a fever, and at once they told him about her.
And he came and raised her up by taking hold of her hand, and the fever left her, and she began to serve them.
</p>

<div class="sidenote">Mark 1:32</div>

<p>
Now when it was evening, when the sun had set, they began bringing to him all those who were sick and those who were demon-possessed.
And the whole town was gathered together at the door.
And he healed many who were sick with various diseases and expelled many demons. And he did not permit the demons to speak, because they knew him.
</p>

<div class="sidenote left">Mark 1:35 <br>to Mark 1:39</div>

<h3>Preaching Throughout Galilee</h3>

<p>
And getting up early in the morning while it was very dark, he departed and went to a deserted place, and there he was praying.
And Simon and those who were with him searched diligently for him.
And they found him and said to him, 'Everyone is looking for you!'
And he said to them, 'Let us go elsewhere, into the neighboring rural towns, so that I can preach there also, because I have come out for this very reason.'
And he went into all Galilee preaching in their synagogues and expelling demons.
</p>

<div class="sidenote left">Mark 1:40 <br>to Mark 1:45</div>

<h3>A Leper Cleansed</h3>

<p>
And a leper came to him, entreating him and kneeling down, saying to him, 'If you are willing, you are able to make me clean.'
And becoming angry, he stretched out his hand and touched him, and said to him, 'I am willing; be made clean.'
And immediately the leprosy went away from him and he was made clean.
And warning him sternly, he sent him away at once.
And he said to him, 'See to it that you say nothing to anyone, but go, show yourself to the priest and bring for your cleansing the things which Moses commanded, for a testimony to them.
But he went out and began to proclaim it freely and to spread abroad the account, so that he was no longer able to enter publicly into a town. But he was staying outside in deserted places, and they were coming to him from all directions.
</p>

<div class="sidenote left">Mark 2:1 <br>to Mark 2:12</div>

<h3>A Paralytic Healed</h3>

<p>
And when he entered again into Capernaum after some days, it became known that he was at home.
And many had gathered, so that there was no longer room, not even at the door, and he was speaking the word to them.
And they came bringing to him a paralytic, carried by four of them.
And when they were not able to bring him to him because of the crowd, they removed the roof where he was. And after digging through, they lowered the stretcher on which the paralytic was lying.
And when Jesus saw their faith, he said to the paralytic, 'Child, your sins are forgiven.'
</p>

<div class="sidenote">Mark 2:6</div>

<p>
Now some of the scribes were sitting there and reasoning in their hearts,
'Why does this man speak like this? He is blaspheming! Who is able to forgive sins except God alone?'
And immediately Jesus, perceiving in his spirit that they were reasoning like this within themselves, said to them, 'Why are you considering these things in your hearts?
Which is easier to say to the paralytic, 'Your sins are forgiven,' or to say 'Get up and pick up your stretcher and walk'?
But so that you may know that the Son of Man has authority on earth to forgive sins,' he said to the paralytic
'I say to you, get up, pick up your stretcher, and go to your home.'
And he got up and immediately picked up his stretcher and went out in front of them all, so that they were all amazed and glorified God, saying, 'We have never seen anything like this!'
</p>

<div class="sidenote left">Mark 2:13 <br>to Mark 2:17</div>

<h3>Levi Called to Follow Jesus</h3>

<p>
And he went out again beside the sea, and all the crowd was coming to him, and he began to teach them.
And as he was passing by, he saw Levi the son of Alphaeus sitting at the tax booth, and he said to him, 'Follow me!' And he stood up and followed him.
</p>

<div class="sidenote">Mark 2:15</div>

<p>
And it happened that he was dining in his house, and many tax collectors and sinners were dining with Jesus and his disciples, for there were many and they were following him.
And the scribes of the Pharisees, when they saw that he was eating with sinners and tax collectors, began to say to his disciples, 'Why does he eat with tax collectors and sinners?'
And when Jesus heard it, he said to them, 'Those who are healthy do not have need of a physician, but those who are sick. I have not come to call the righteous, but sinners.'
</p>

<div class="sidenote left">Mark 2:18 <br>to Mark 2:22</div>

<h3>On Fasting</h3>

<p>
And John's disciples and the Pharisees were fasting, and they came and said to him, 'Why do the disciples of John and the disciples of the Pharisees fast, but your disciples do not fast?'
And Jesus said to them, 'The bridegroom's attendants are not able to fast while the bridegroom is with them, are they? As long a time as they have the bridegroom with them, they are not able to fast.
But days will come when the bridegroom is taken away from them, and then they will fast in that day.
No one sews a patch of unshrunken cloth on an old garment. Otherwise the patch pulls away from it the new from the old and the tear becomes worse.
And no one puts new wine into old wineskins. Otherwise the wine will burst the wineskins and the wine is destroyed and the wineskins too. But new wine is put into new wineskins.'
</p>

<div class="sidenote left">Mark 2:23 <br>to Mark 2:28</div>

<h3>Plucking Grain on the Sabbath</h3>

<p>
And it happened that he was going through the grain fields on the Sabbath, and his disciples began to make their way while plucking off the heads of grain.
And the Pharisees began to say to him, 'Behold, why are they doing what is not permitted on the Sabbath?'
And he said to them, 'Have you never read what David did when he had need and he and those who were with him were hungry
how he entered into the house of God in the time of Abiathar the high priest and ate the bread of the presentation, which it is not permitted to eat (except the priests) and also gave it to those who were with him?'
And he said to them, 'The Sabbath was established for people, and not people for the Sabbath.
So then, the Son of Man is lord even of the Sabbath.'
</p>

<div class="sidenote left">Mark 3:1 <br>to Mark 3:6</div>

<h3>A Man with a Withered Hand Healed</h3>

<p>
And he entered into the synagogue again, and a man who had a withered hand was there.
And they were watching him closely to see if he would heal him on the Sabbath, in order that they could accuse him.
And he said to the man who had the withered hand, 'Come into the middle.'
And he said to them, 'Is it permitted on the Sabbath to do good or to do evil, to save life or to kill?' But they were silent.
And looking around at them with anger, grieved at the hardness of their hearts, he said to the man, 'Stretch out your hand.' And he stretched it out, and his hand was restored.
And the Pharisees went out immediately with the Herodians and began to conspire against him with regard to how they could destroy him.
</p>

<div class="sidenote left">Mark 3:7 <br>to Mark 3:12</div>

<h3>Jesus Heals Crowds by the Sea</h3>

<p>
And Jesus went away with his disciples to the sea, and a great crowd from Galilee followed him. And from Judea
and from Jerusalem and from Idumea and the other side of the Jordan and around Tyre and Sidon a great crowd came to him because they heard all that he was doing.
And he told his disciples that a small boat should stand ready for him because of the crowd, so that they would not press upon him.
For he had healed many, so that all those who were suffering from diseases pressed about him in order that they could touch him.
And the unclean spirits, whenever they saw him, were falling down before him and crying out, saying, 'You are the Son of God!'
And he warned them strictly that they should not make him known.
</p>

<div class="sidenote left">Mark 3:13 <br>to Mark 3:19</div>

<h3>The Selection of the Twelve Apostles</h3>

<p>
And he went up on the mountain and summoned those whom he wanted, and they came to him.
And he appointed twelve, so that they would be with him and so that he could send them out to preach
and to have authority to expel demons.
And he appointed the twelve. And to Simon he gave the name Peter,
and James the son of Zebedee and John the brother of James (and he gave to them the name Boanerges, that is, 'Sons of Thunder'),
and Andrew, and Philip, and Bartholomew, and Matthew, and Thomas, and James the son of Alphaeus, and Thaddaeus, and Simon the Zealot,
and Judas Iscariot, who also betrayed him.
</p>

<div class="sidenote left">Mark 3:20 <br>to Mark 3:30</div>

<h3>A House Divided Cannot Stand</h3>

<p>
And he went home, and the crowd gathered again, so that they were not even able to eat a meal.
And when his family heard this, they went out to restrain him, for they were saying, 'He has lost his mind!'
</p>

<div class="sidenote">Mark 3:22</div>

<p>
And the scribes who had come down from Jerusalem were saying, 'He is possessed by Beelzebul!' and 'By the ruler of the demons he expels the demons!'
And he called them to himself and was speaking to them in parables, 'How can Satan expel Satan?
And if a kingdom is divided against itself, that kingdom is not able to stand.
And if a house is divided against itself, that house will not be able to stand.
And if Satan has risen up against himself and is divided, he is not able to stand, but is at an end!
But no one is able to enter into the house of a strong man and plunder his property unless he first ties up the strong man, and then he can thoroughly plunder his house.
</p>

<div class="sidenote">Mark 3:28</div>

<p>
'Truly I say to you that all the sins and the blasphemies will be forgiven the sons of men, however much they blaspheme.
But whoever blasphemes against the Holy Spirit does not have forgiveness forever, but is guilty of an eternal sin'
because they were saying, 'He has an unclean spirit.'
</p>

<div class="sidenote left">Mark 3:31 <br>to Mark 3:35</div>

<h3>Jesus’ Mother and Brothers</h3>

<p>
And his mother and his brothers arrived, and standing outside, they sent word to him to summon him.
And a crowd was sitting around him, and they told him, 'Behold, your mother and your brothers are outside looking for you.'
And he answered them and said, 'Who is my mother or my brothers?'
And looking around at those who were sitting around him in a circle, he said, 'Behold, my mother and my brothers!
For whoever does the will of God, this person is my brother and sister and mother.'
</p>

<div class="sidenote left">Mark 4:1 <br>to Mark 4:9</div>

<h3>The Parable of the Sower</h3>

<p>
And again he began to teach beside the sea, and a very large crowd was gathered to him, so that he got into a boat and sat on the sea, and the whole crowd was at the sea on the land.
And he began to teach them many things in parables, and was saying to them in his teaching,
'Listen! Behold, the sower went out to sow.
And it happened that while he was sowing, some seed fell on the side of the path, and the birds came and devoured it.
And other seed fell on the rocky ground where it did not have much soil, and it sprang up at once, because it did not have any depth of soil.
And when the sun rose it was scorched, and because it did not have enough root, it withered.
And other seed fell among the thorn plants, and the thorn plants came up and choked it, and it did not produce grain.
And other seed fell on the good soil, and produced grain, coming up and increasing, and it bore a crop one thirty and one sixty and one a hundred times as much.
And he said, 'Whoever has ears to hear, let him hear!'
</p>

<div class="sidenote left">Mark 4:10 <br>to Mark 4:12</div>

<h3>The Reason for the Parables</h3>

<p>
And when he was alone, those around him together with the twelve began asking him about the parables.
And he said to them, 'To you has been granted the secret of the kingdom of God, but to those who are outside everything is in parables,
so that
</p>

<div class="sidenote left">Mark 4:13 <br>to Mark 4:20</div>

<h3>The Parable of the Sower Interpreted</h3>

<p>
And he said to them, 'Do you not understand this parable? And how will you understand all the parables?
The sower sows the word.
And these are the ones beside the path where the word is sown, and whenever they hear it, immediately Satan comes and takes away the word that was sown in them.
And these are like the ones sown on the rocky ground, who whenever they hear the word immediately receive it with joy.
And they have no root in themselves, but are temporary. Then when affliction or persecution comes because of the word, immediately they fall away.
And others are the ones sown among the thorn plants these are the ones who hear the word,
and the cares of the world and the deceitfulness of wealth and the desires for other things come in and choke the word and it becomes unproductive.
And those are the ones sown on the good soil, who hear the word and receive it and bear fruit one thirty and one sixty and one a hundred times as much.'
</p>

<div class="sidenote left">Mark 4:21 <br>to Mark 4:25</div>

<h3>The Parable of the Lamp</h3>

<p>
And he said to them, 'Surely a lamp is not brought so that it may be put under a bushel basket or under a bed, is it? Is it not so that it may be put on a lampstand?
For nothing is secret except so that it may be revealed, nor has become hidden except so that it will come to light.
If anyone has ears to hear, let him hear!'
And he said to them, 'Take care what you hear! With the measure by which you measure out, it will be measured out to you, and will be added to you.
For whoever has, more will be given to him, and whoever does not have, even what he has will be taken away from him.'
</p>

<div class="sidenote left">Mark 4:26 <br>to Mark 4:29</div>

<h3>The Parable of the Seed that Grows by Itself</h3>

<p>
And he said, 'The kingdom of God is like this: like a man scatters seed on the ground.
And he sleeps and gets up, night and day, and the seed sprouts and grows he does not know how.
By itself the soil produces a crop: first the grass, then the head of grain, then the full grain in the head.
But when the crop permits, he sends in the sickle right away, because the harvest has come.'
</p>

<div class="sidenote left">Mark 4:30 <br>to Mark 4:34</div>

<h3>The Parable of the Mustard Seed</h3>

<p>
And he said, 'With what can we compare the kingdom of God, or by what parable can we present it?
It is like a mustard seed that when sown on the ground, although it is the smallest of all the seeds that are on the ground,
but when it is sown it grows up and becomes the largest of all the garden herbs, and sends out large branches so that the birds of the sky are able to nest in its shade.'
And with many parables such as these he was speaking the word to them, as they were able to hear it.
And he did not speak to them without a parable, but in private he explained everything to his own disciples.
</p>

<div class="sidenote left">Mark 4:35 <br>to Mark 4:41</div>

<h3>Calming of a Storm</h3>

<p>
And on that day, when it was evening, he said to them, 'Let us cross over to the other side.'
And leaving the crowd, they took him along, as he was, in the boat. And other boats were with him.
And a great storm of wind developed, and the waves were breaking into the boat, so that the boat was already being filled with water.
And he was in the stern sleeping on the cushion, and they woke him up and said to him, 'Teacher, is it not a concern to you that we are perishing?'
And he woke up and rebuked the wind, and said to the sea, 'Be quiet! Be silent!' And the wind abated and there was a great calm.
And he said to them, 'Why are you fearful? Do you not yet have faith?'
And they were terribly frightened and began to say to one another, 'Who then is this, that even the wind and the sea obey him?'
</p>

<div class="sidenote left">Mark 5:1 <br>to Mark 5:20</div>

<h3>A Demon-possessed Gerasene Healed</h3>

<p>
And they came to the other side of the sea, to the region of the Gerasenes.
And as he was getting out of the boat, immediately from the tombs a man with an unclean spirit went to meet him,
who lived among the tombs. And no one was able to bind him any longer, not even with a chain,
because he had often been bound with shackles and chains, and the chains had been torn apart by him, and the shackles had been shattered. And no one was strong enough to subdue him.
And during every night and day among the tombs and on the mountains he was crying out and cutting himself with stones.
And when he saw Jesus from a distance, he ran and knelt down before him.
And crying out with a loud voice he said, 'What have I to do with you, Jesus, Son of the Most High God? I implore you by God, do not torment me!'
(For he was saying to him, 'Come out of the man, unclean spirit!')
And he was asking him 'What is your name?' And he said to him, 'My name is Legion, because we are many.'
And he was imploring him many times that he would not send them out of the region.
Now a large herd of pigs was there at the hill feeding,
and they implored him, saying, 'Send us to the pigs so that we may enter into them.'
And he permitted them. And the unclean spirits came out and entered into the pigs, and the herd about two thousand rushed headlong down the steep slope into the sea and were drowned in the sea.
And their herdsmen fled and reported it in the town and in the countryside, and they came to see what it was that had happened.
And they came to Jesus and saw the demon-possessed man sitting there clothed and in his right mind the one who had had the legion and they were afraid.
And those who had seen it described to them what had happened to the demon-possessed man, and about the pigs.
And they began to urge him to depart from their region.
And as he was getting into the boat, the man who had been demon-possessed began to implore him that he could go with him.
And he did not permit him, but said to him, 'Go to your home to your people and tell them all that the Lord has done for you, and that he has had mercy on you.'
And he went away and began to proclaim in the Decapolis all that Jesus had done for him, and they were all astonished.
</p>

<div class="sidenote left">Mark 5:21 <br>to Mark 5:43</div>

<h3>A Woman Healed and a Daughter Raised</h3>

<p>
And after Jesus had crossed over again in the boat to the other side, a large crowd gathered to him, and he was beside the sea.
And one of the rulers of the synagogue came Jairus by name and when he saw him, he fell down at his feet.
And he was imploring him many times, saying, 'My little daughter is at the point of death! Come, lay your hands on her, so that she will get well and will live.'
And he went with him, and a large crowd was following him and pressing around him.
</p>

<div class="sidenote">Mark 5:25</div>

<p>
And there was a woman who was suffering from hemorrhages twelve years.
And she had endured many things under many physicians, and had spent all that she had and had received no help at all, but instead became worse.
When she heard about Jesus, she came up in the crowd behind him and touched his cloak,
for she was saying, 'If I touch just his clothing, I will be healed!'
And immediately her hemorrhage stopped and she realized in her body that she was healed of her suffering.
And immediately Jesus, perceiving in himself that power had gone out from himself, turned around in the crowd and said, 'Who touched my clothing?'
And his disciples said to him, 'You see the crowd pressing upon you, and you say 'Who touched me?''
And he was looking around to see the one who had done this.
So the woman, frightened and trembling, knowing what had happened to her, came and fell down before him and told him the whole truth.
But he said to her, 'Daughter, your faith has healed you. Go in peace and be well from your suffering.'
</p>

<div class="sidenote">Mark 5:35</div>

<p>
While he was still speaking, they came from the synagogue ruler's house saying, 'Your daughter has died. Why trouble the Teacher further?'
But Jesus, ignoring what was said, told the ruler of the synagogue, 'Do not be afraid only believe!'
And he did not allow anyone to follow along with him except Peter and James and John, the brother of James.
And they came to the house of the ruler of the synagogue and saw a commotion, and people weeping and wailing loudly.
And when he entered, he said to them, 'Why are you agitated and weeping? The child is not dead, but is sleeping.'
And they began laughing at him. But he sent them all out and took along the father and mother of the child, and those who were with him, and went in to where the child was.
And taking hold of the child's hand, he said to her, 'Talitha koum!' (which is translated, 'Little girl, I say to you, get up!'),
and immediately the girl stood up and began walking around (for she was twelve years old). And immediately they were utterly and completely astonished.
And he commanded them strictly that no one should learn of this, and said to give her something to eat.
</p>

<div class="sidenote left">Mark 6:1 <br>to Mark 6:6</div>

<h3>Rejected at Nazareth</h3>

<p>
And he went out from there and came to his hometown, and his disciples followed him.
And when the Sabbath came, he began to teach in the synagogue, and many who heard him were amazed, saying, 'Where did this man get these things? And what is this wisdom that has been granted to this man, and the miracles such as these performed through his hands?
Is not this the carpenter, the son of Mary and brother of James and Joses and Judas and Simon? And are not his sisters here with us?' And they were offended by him.
And Jesus said to them, 'A prophet is not without honor except in his hometown, and among his relatives, and in his own household.'
And he was not able to do any miracle in that place except to lay his hands on a few sick people and heal them.
And he was astonished because of their unbelief.
</p>

<div class="sidenote left">Mark 6:7 <br>to Mark 6:13</div>

<h3>The Twelve Commissioned and Sent Out</h3>

<p>
And he summoned the twelve and began to send them out two by two, and gave them authority over the unclean spirits.
And he commanded them that they take along nothing for the journey except only a staff no bread, no traveler's bag, no money in their belts
but to put on sandals and not to wear two tunics.
And he said to them, 'Whenever you enter into a house, stay there until you depart from there.
And whatever place does not welcome you or listen to you, as you go out from there, shake off the dust that is on your feet for a testimony against them.'
And they went out and proclaimed that people should repent.
And they were expelling many demons and anointing many sick people with olive oil and healing them.
</p>

<div class="sidenote left">Mark 6:14 <br>to Mark 6:29</div>

<h3>Herod Kills John the Baptist</h3>

<p>
And King Herod heard it, because his name had become known. And they were saying, 'John, the one who baptizes, has been raised from the dead, and because of this these miraculous powers are at work in him.'
But others were saying, 'He is Elijah,' and others were saying, 'He is a prophet like one of the prophets.'
But when Herod heard it, he said, 'John whom I beheaded this one has been raised!'
For Herod himself had sent and arrested John and bound him in prison because of Herodias, the wife of Philip his brother, because he had married her.
For John had been saying to Herod, 'It is not permitted for you to have your brother's wife.'
So Herodias held a grudge against him and was wanting to kill him, and was not able to do so.
For Herod was afraid of John, because he knew him to be a righteous and holy man and protected him. And when he listened to him, he was greatly perplexed, and yet he listened to him gladly.
And a suitable day came when Herod, on his birthday, gave a banquet for his courtiers and military tribunes and the most prominent men of Galilee.
And when the daughter of Herodias herself came in and danced and pleased Herod and his dinner guests, the king said to the girl, 'Ask me for whatever you want, and I will give it to you.'
And he swore to her, 'Anything whatever you ask me for I will give you, up to half my kingdom!'
And she went out and said to her mother, 'What should I ask for?' And she said, 'The head of John the baptizer.'
And she came in immediately with haste to the king and asked, saying, 'I want you to give me the head of John the Baptist on a platter immediately.'
And although he was deeply grieved, the king, because of his oaths and dinner guests, did not want to refuse her.
And immediately the king sent an executioner and ordered him to bring his head. And he went and beheaded him in the prison.
And he brought his head on a platter and gave it to the girl, and the girl gave it to her mother.
And when his disciples heard this, they came and took away his corpse and placed it in a tomb.
</p>

<div class="sidenote left">Mark 6:30 <br>to Mark 6:44</div>

<h3>The Feeding of Five Thousand</h3>

<p>
And the apostles regathered to Jesus and reported to him everything that they had done and that they had taught.
And he said to them, 'You yourselves come privately to an isolated place and rest for a short time.' For those who were coming and going were many, and they did not even have time to eat.
And they went away in the boat to an isolated place by themselves.
And many people saw them leaving and recognized them, and ran there together by land from all the towns, and arrived ahead of them.
And getting out of the boat he saw the large crowd and had compassion on them, because they were like sheep without a shepherd, and he began to teach them many things.
And the hour had already become late when his disciples came up to him, saying, 'The place is desolate and the hour is already late.
Send them away so that they can go into the surrounding farms and villages and purchase something to eat for themselves.'
But he answered and said to them, 'You give them something to eat.' And they said to him, 'Should we go and purchase bread for two hundred denarii and give it to them to eat?'
And he said to them, 'How many loaves do you have? Go look!' And when they found out, they said, 'Five, and two fish.'
And he ordered them all to recline in groups on the green grass.
And they reclined in groups, by hundreds and by fifties.
And taking the five loaves and the two fish and looking up to heaven, he gave thanks and broke the loaves and gave them to his disciples so that they could set them before them. And he distributed the two fish to them all.
And they all ate and were satisfied.
And they picked up the broken pieces, twelve baskets full, and of the fish.
And those who ate the loaves were five thousand men.
</p>

<div class="sidenote left">Mark 6:45 <br>to Mark 6:52</div>

<h3>Jesus Walks on the Water</h3>

<p>
And immediately he made his disciples get into the boat and go on ahead to the other side, to Bethsaida, while he himself dismissed the crowd.
And after he had said farewell to them, he went away to the mountain to pray.
And when evening came, the boat was in the middle of the sea and he was alone on the land.
And he saw them being beaten in their rowing because the wind was against them. Around the fourth watch of the night he came to them, walking on the sea, and he was wanting to pass by them.
But when they saw him walking on the sea, they thought that it was a ghost, and they cried out.
For they all saw him and were terrified. But immediately he spoke with them and said to them, 'Have courage, I am he! Do not be afraid!'
And he went up with them into the boat, and the wind abated. And they were extraordinarily astounded within themselves,
because they did not understand concerning the loaves, but their hearts were hardened.
</p>

<div class="sidenote left">Mark 6:53 <br>to Mark 6:56</div>

<h3>Many Healed at Gennesaret</h3>

<p>
And after they had crossed over, they came to land at Gennesaret and anchored there.
And as they were getting out of the boat, people recognized him immediately.
They ran about through that whole region and began to carry around those who were sick on stretchers, wherever they heard that he was.
And wherever he would go, into villages or into towns or to farms, they would put those who were sick in the marketplaces and would implore him that if they could touch even the edge of his cloak. And all those who touched it were healed.
</p>

<div class="sidenote left">Mark 7:1 <br>to Mark 7:13</div>

<h3>Human Traditions and God’s Commandments</h3>

<p>
And the Pharisees and some of the scribes who had come from Jerusalem gathered to him.
And they saw that some of his disciples were eating their bread with unclean that is, unwashed hands.
(For the Pharisees and all the Jews do not eat unless they wash their hands ritually, thus holding fast to the traditions of the elders.
And when they come from the marketplace, they do not eat unless they wash. And there are many other traditions which they have received and hold fast to for example, the washing of cups and pitchers and bronze kettles and dining couches.)
And the Pharisees and the scribes asked him, 'Why do your disciples not live according to the tradition of the elders, but eat their bread with unclean hands?'
So he said to them, 'Isaiah prophesied correctly about you hypocrites, as it is written,
</p>

<div class="sidenote">Mark 7:7</div>

<p>
And they worship me in vain, teaching as doctrines the commandments of men.'
</p>

<div class="sidenote">Mark 7:8</div>

<p>
Abandoning the commandment of God, you hold fast to the tradition of men.'
</p>

<div class="sidenote">Mark 7:9</div>

<p>
And he said to them, 'You splendidly ignore the commandment of God so that you can keep your tradition.
For Moses said, 'Honor your father and your mother,' and, 'The one who speaks evil of father or mother must certainly die.'
But you say, 'If a man says to his father or to his mother, 'Whatever benefit you would have received from me is corban' (that is, a gift to God),
you no longer permit him to do anything for his father or his mother,
thus making void the word of God by your tradition that you have handed down, and you do many similar things such as this.'
</p>

<div class="sidenote left">Mark 7:14 <br>to Mark 7:23</div>

<h3>Defilement from Within</h3>

<p>
And summoning the crowd again, he said to them, 'Listen to me, all of you, and understand:
There is nothing outside of a person that is able to defile him by going into him. But the things that go out of a person are the things that defile a person.'
And when he entered into the house away from the crowd, his disciples asked him about the parable.
And he said to them, 'So are you also without understanding? Do you not understand that everything that is outside that goes into a person is not able to defile him?
For it does not enter into his heart but into his stomach, and goes out into the latrine' thus declaring all foods clean.
And he said, 'What comes out of a person, that defiles a person.
For from within, from the heart of people, come evil plans, sexual immoralities, thefts, murders,
adulteries, acts of greed, malicious deeds, deceit, licentiousness, envy, abusive speech, pride, foolishness.
All these evil things come from within and defile a person.'
And from there he set out and went to the region of Tyre. And when he entered into a house, he wanted no one to know, and yet he was not able to escape notice.
</p>

<div class="sidenote left">Mark 7:24 <br>to Mark 7:30</div>

<h3>A Syrophoenician Woman’s Great Faith</h3>

<p>
But immediately a woman whose young daughter was possessed by an unclean spirit, when she heard about him, came and fell down at his feet,
Now the woman was a Greek a Syrophoenician by nationality and she was asking him that he would expel the demon from her daughter.
And he said to her, 'Let the children be satisfied first, for it is not right to take the children's bread and throw it to the dogs!'
But she answered and said to him, 'Lord, even the dogs under the table eat the children's crumbs.'
And he said to her, 'Because of this statement, go! The demon has gone out of your daughter.'
And when she went to her home, she found the child lying on the bed and the demon gone.
And again he went away from the region of Tyre and came through Sidon to the Sea of Galilee, within the region of the Decapolis.
</p>

<div class="sidenote left">Mark 7:31 <br>to Mark 7:37</div>

<h3>A Man Deaf and Unable to Speak Healed</h3>

<p>
And they brought to him a man who was deaf and had difficulty speaking, and they were imploring him that he would place his hand on him.
And he took him away from the crowd by himself and put his fingers into his ears, and after spitting, he touched his tongue.
And looking up to heaven, he sighed and said to him, 'Ephphatha!' (that is, 'Be opened!').
And his ears were opened and his difficulty in speaking was removed and he began to speak normally.
And he ordered them that they should say nothing, but as much as he ordered them not to, they proclaimed it even more instead.
And they were amazed beyond all measure, saying, 'He has done all things well! He even makes the deaf hear and the mute speak!'
</p>

<div class="sidenote left">Mark 8:1 <br>to Mark 8:10</div>

<h3>The Feeding of Four Thousand</h3>

<p>
In those days there was again a large crowd, and they did not have anything they could eat. Summoning the disciples, he said to them,
'I have compassion on the crowd, because they have remained with me three days already and do not have anything to eat.
And if I send them away hungry to their homes they will give out on the way, and some of them have come from far away.'
And his disciples answered him, 'Where is anyone able to feed these people with bread here in the desert?'
And he asked them, 'How many loaves do you have?' So they said, 'Seven.'
And he commanded the crowd to recline for a meal on the ground, and taking the seven loaves, after he had given thanks he broke them and began giving them to his disciples so that they could set them before them. And they set them before the crowd.
And they had a few small fish, and after giving thanks for them, he said to set these before them also.
And they ate and were satisfied, and they picked up the broken pieces that were left, seven baskets full.
Now there were about four thousand. And he sent them away.
And immediately he got into the boat with his disciples and went to the district of Dalmanutha.
</p>

<div class="sidenote left">Mark 8:11 <br>to Mark 8:13</div>

<h3>Pharisees Demand a Sign</h3>

<p>
And the Pharisees came and began to argue with him, demanding from him a sign from heaven in order to test him.
And sighing deeply in his spirit, he said, 'Why does this generation demand a sign? Truly I say to you, no sign will be given to this generation!'
And he left them, got into the boat again, and went to the other side.
</p>

<div class="sidenote left">Mark 8:14 <br>to Mark 8:21</div>

<h3>Beware the Leaven of the Pharisees and Herod</h3>

<p>
And they had forgotten to take bread, and except for one loaf, they did not have any with them in the boat.
And he ordered them, saying, 'Watch out! Beware of the leaven of the Pharisees and the leaven of Herod!'
And they began to discuss with one another that they had no bread.
And knowing this, he said to them, 'Why are you discussing that you have no bread? Do you not yet perceive or understand? Have your hearts been hardened?
Although you have eyes, do you not see? And although you have ears, do you not hear? And do you not remember?
When I broke the five loaves for the five thousand how many baskets full of broken pieces did you pick up?' They said to him, 'Twelve.'
'When I also broke the seven loaves for the four thousand, how many baskets full of broken pieces did you pick up?' And they said to him, 'Seven.'
And he said to them, 'Do you not yet understand?'
</p>

<div class="sidenote left">Mark 8:22 <br>to Mark 8:26</div>

<h3>A Blind Man Healed at Bethsaida</h3>

<p>
And they came to Bethsaida. And they brought to him a blind man and implored him that he would touch him.
And he took hold of the blind man's hand and led him outside the village, and after spitting in his eyes, he placed his hands on him and asked him, 'Do you see anything?'
And looking up he said, 'I see people, for I see them like trees walking around.'
Then he placed his hands on his eyes again, and he opened his eyes and was cured, and could see everything clearly.
And he sent him to his home, saying, 'Do not even go into the village.'
</p>

<div class="sidenote left">Mark 8:27 <br>to Mark 8:30</div>

<h3>Peter’s Confession at Caesarea Philippi</h3>

<p>
And Jesus and his disciples went out to the villages of Caesarea Philippi, and on the way he asked his disciples, saying to them, 'Who do people say that I am?'
And they told him, saying, 'John the Baptist, and others Elijah, and others that you are one of the prophets.'
And he asked them, 'But who do you say that I am?' Peter answered and said to him, 'You are the Christ!'
And he warned them that they should tell no one about him.
</p>

<div class="sidenote left">Mark 8:31 <br>to Mark 8:33</div>

<h3>Jesus Predicts His Death and Resurrection</h3>

<p>
And he began to teach them that it was necessary for the Son of Man to suffer many things and to be rejected by the elders and the chief priests and the scribes, and to be killed, and after three days to rise.
And he was speaking openly about the subject, and Peter took him aside and began to rebuke him.
But turning around and seeing his disciples, he rebuked Peter and said, 'Get behind me, Satan, because you are not setting your mind on the things of God, but the things of people!'
</p>

<div class="sidenote left">Mark 8:34 <br>to Mark 9:1</div>

<h3>Taking Up One’s Cross to Follow Jesus</h3>

<p>
And summoning the crowd together with his disciples, he said to them, 'If anyone wants to come after me, let him deny himself and take up his cross and follow me.
For whoever wants to save his life will lose it, but whoever loses his life on account of me and of the gospel will save it.
For what does it benefit a person to gain the whole world and forfeit his life?
For what can a person give in exchange for his life?
For whoever is ashamed of me and my words in this adulterous and sinful generation, the Son of Man will also be ashamed of him when he comes in the glory of his Father with the holy angels.'
</p>

<p>
And he said to them, 'Truly I say to you, that there are some of those standing here who will never experience death until they see the kingdom of God having come with power.'
</p>

<div class="sidenote left">Mark 9:2 <br>to Mark 9:13</div>

<h3>The Transfiguration</h3>

<p>
And after six days, Jesus took along Peter and James and John, and led them to a high mountain by themselves alone. And he was transfigured before them,
and his clothing became radiant extremely white, like no cloth refiner on earth can make so white.
And Elijah appeared to them together with Moses, and they were talking with Jesus.
And Peter answered and said to Jesus, 'Rabbi, it is good that we are here! And let us make three shelters, one for you and one for Moses and one for Elijah.'
(For he did not know what he should answer, because they were terrified.)
And a cloud came, overshadowing them, and a voice came from the cloud, 'This is my beloved Son. Listen to him!'
And suddenly, looking around, they no longer saw anyone with them but Jesus alone.
</p>

<div class="sidenote">Mark 9:9</div>

<p>
And as they were coming down from the mountain, he ordered them that they should tell no one the things that they had seen, except when the Son of Man had risen from the dead.
And they kept the matter to themselves, discussing what this rising from the dead meant.
And they asked him, saying, 'Why do the scribes say that Elijah must come first?'
And he said to them, 'Elijah indeed does come first and restores all things. And how is it written concerning the Son of Man that he should suffer many things and be treated with contempt?
But I tell you that indeed Elijah has come, and they did to him whatever they wanted, just as it is written about him.'
</p>

<div class="sidenote left">Mark 9:14 <br>to Mark 9:29</div>

<h3>A Demon-possessed Boy Healed</h3>

<p>
And when they came to the disciples, they saw a large crowd around them and scribes arguing with them.
And immediately the whole crowd, when they saw him, were amazed, and ran up to him and greeted him.
And he asked them, 'What are you arguing about with them?'
And one individual from the crowd answered him, 'Teacher, I brought to you my son who has a spirit that makes him mute.
And whenever it seizes him, it throws him down and he foams at the mouth and grinds his teeth and becomes paralyzed. And I told your disciples that they should expel it, and they were not able to do so.
And he answered them and said, 'O unbelieving generation! How long will I be with you? How long must I put up with you? Bring him to me!'
And they brought him to him. And when he saw him, the spirit immediately convulsed him, and falling on the ground, he began to roll around, foaming at the mouth.
And he asked his father how long it was since this had been happening to him. And he said, 'From childhood.
And often it has thrown him both into fire and into water, in order that it could destroy him. But if you are able to do anything, have compassion on us and help us!'
But Jesus said to him, 'If you are able! All things are possible for the one who believes!'
Immediately the father of the child cried out and said, 'I believe! Help my unbelief!'
Now when Jesus saw that a crowd was running together, he rebuked the unclean spirit, saying to it, 'Mute and deaf spirit, I command you, come out of him, and enter into him no more!'
And it came out, screaming and convulsing him greatly, and he became as if he were dead, so that most of them said, 'He has died!'
But Jesus took hold of his hand and raised him up, and he stood up.
And after he had entered into the house, his disciples asked him privately, 'Why were we not able to expel it?'
And he said to them, 'This kind can come out by nothing except by prayer.'
</p>

<div class="sidenote left">Mark 9:30 <br>to Mark 9:32</div>

<h3>Jesus Predicts His Death and Resurrection a Second Time</h3>

<p>
And from there they went out and passed through Galilee. And he did not want anyone to know,
for he was teaching his disciples and was telling them, 'The Son of Man is being betrayed into the hands of men, and they will kill him. And when he is killed, after three days he will rise.'
But they did not understand the statement, and they were afraid to ask him.
</p>

<div class="sidenote left">Mark 9:33 <br>to Mark 9:37</div>

<h3>The Question About Who Is Greatest</h3>

<p>
And they came to Capernaum. And after he was in the house, he asked them, 'What were you discussing on the way?'
But they were silent, because they had argued with one another on the way about who was greatest.
And he sat down and called the twelve and said to them, 'If anyone wants to be first, he will be last of all and servant of all.'
And he took a young child and had him stand among them. And taking him in his arms, he said to them,
'Whoever welcomes one of the young children such as these in my name welcomes me, and whoever welcomes me does not welcome me, but the one who sent me.'
</p>

<div class="sidenote left">Mark 9:38 <br>to Mark 9:41</div>

<h3>Whoever Is Not Against Us Is for Us</h3>

<p>
John said to him, 'Teacher, we saw someone expelling demons in your name, and we tried to prevent him because he was not following us.'
But Jesus said, 'Do not prevent him, because there is no one who does a miracle in my name and will be able soon afterward to speak evil of me.
For whoever is not against us is for us.
For whoever gives you a cup of water to drink in my name because you are Christ's, truly I say to you that he will never lose his reward.
</p>

<div class="sidenote left">Mark 9:42 <br>to Mark 9:50</div>

<h3>Temptations to Sin</h3>

<p>
'And whoever causes one of these little ones who believe in me to sin, it is better for him if instead a large millstone is placed around his neck and he is thrown into the sea.
And if your hand causes you to sin, cut it off! It is better for you to enter into life crippled than, having two hands, to go into hell into the unquenchable fire!
And if your foot causes you to sin, cut it off! It is better for you to enter into life lame than, having two feet, to be thrown into hell!
And if your eye causes you to sin, tear it out! It is better for you to enter into the kingdom of God with one eye than, having two eyes, to be thrown into hell,
'where their worm does not die and the fire is not extinguished.'
For everyone will be salted with fire.
Salt is good, but if the salt becomes deprived of its salt content, by what can you make it salty? Have salt among yourselves, and be at peace with one another.'
</p>

<div class="sidenote left">Mark 10:1 <br>to Mark 10:12</div>

<h3>On Divorce</h3>

<p>
And from there he set out and came to the region of Judea and the other side of the Jordan, and again crowds came together to him. And again, as he was accustomed to do, he began to teach them.
And they asked him if it was permitted for a man to divorce his wife, in order to test him.
And he answered and said to them, 'What did Moses command you?'
So they said, 'Moses permitted a man to write a certificate of divorce and to send her away.'
But Jesus said to them, 'He wrote this commandment for you because of your hardness of heart.
But from the beginning of creation 'he made them male and female.
Because of this a man will leave his father and mother and will be joined to his wife,
and the two will become one flesh,' so that they are no longer two but one flesh.
Therefore what God has joined together, man must not separate.'
</p>

<div class="sidenote">Mark 10:10</div>

<p>
And in the house again the disciples began to ask him about this.
And he said to them, 'Whoever divorces his wife and marries another commits adultery against her.
And if she divorces her husband and marries another, she commits adultery.'
</p>

<div class="sidenote left">Mark 10:13 <br>to Mark 10:16</div>

<h3>Little Children Brought to Jesus</h3>

<p>
And they were bringing young children to him so that he could touch them, but the disciples rebuked them.
But when Jesus saw it, he was indignant, and said to them, 'Let the young children come to me. Do not forbid them, for to such belongs the kingdom of God.
Truly I say to you, whoever does not welcome the kingdom of God like a young child will never enter into it.'
And after taking them into his arms, he blessed them, placing his hands on them.
</p>

<div class="sidenote left">Mark 10:17 <br>to Mark 10:31</div>

<h3>A Rich Young Man</h3>

<p>
And as he was setting out on his way, one individual ran up and knelt down before him and asked him, 'Good Teacher, what must I do so that I will inherit eternal life?'
So Jesus said to him, 'Why do you call me good? No one is good except God alone.
You know the commandments: 'Do not murder, do not commit adultery, do not steal, do not give false testimony, do not defraud, honor your father and mother.''
And he said to him, 'Teacher, all these I have observed from my youth.'
And Jesus, looking at him, loved him, and said to him, 'You lack one thing: Go, sell all that you have, and give the proceeds to the poor and you will have treasure in heaven and come, follow me.'
But he looked gloomy at the statement and went away sorrowful, because he had many possessions.
</p>

<div class="sidenote">Mark 10:23</div>

<p>
And Jesus looked around and said to his disciples, 'How difficult it is for those who possess wealth to enter into the kingdom of God!'
And the disciples were astounded at his words. But Jesus answered and said to them again, 'Children, how difficult it is to enter into the kingdom of God!
It is easier for a camel to go through the eye of a needle than for a rich person to enter into the kingdom of God.'
And they were very astounded, saying to one another, 'And who can be saved?'
Jesus looked at them and said, 'With human beings it is impossible, but not with God. For all things are possible with God.'
Peter began to say to him, 'Behold, we have left everything and followed you.'
Jesus said, 'Truly I say to you, there is no one who has left house or brothers or sisters or mother or father or children or fields on account of me and on account of the gospel
who will not receive a hundred times as much now in this time houses and brothers and sisters and mothers and children and fields, together with persecutions and in the age to come, eternal life.
But many who are first will be last, and the last first.'
</p>

<div class="sidenote left">Mark 10:32 <br>to Mark 10:34</div>

<h3>Jesus Predicts His Death and Resurrection a Third Time</h3>

<p>
Now they were on the road going up to Jerusalem, and Jesus was going on ahead of them. And they were astounded, but those who were following him were afraid. And taking aside the twelve again, he began to tell them the things that were about to happen to him:
'Behold, we are going up to Jerusalem, and the Son of Man will be handed over to the chief priests and the scribes, and they will condemn him to death and will hand him over to the Gentiles.
And they will mock him and spit on him and flog him and kill him, and after three days he will rise.'
</p>

<div class="sidenote left">Mark 10:35 <br>to Mark 10:45</div>

<h3>A Request by James and John</h3>

<p>
And James and John, the sons of Zebedee, came up to him and said to him, 'Teacher, we want you to do for us whatever we ask you.'
And he said to them, 'What do you want that I do for you?'
So they said to him, 'Grant to us that we may sit one at your right hand and one at your left in your glory.'
But Jesus said to them, 'You do not know what you are asking! Are you able to drink the cup that I drink, or to be baptized with the baptism that I am baptized with?'
And they said to him, 'We are able.' So Jesus said to them, 'You will drink the cup that I drink, and you will be baptized with the baptism that I am baptized with,
but to sit at my right hand or at my left is not mine to grant, but is for those for whom it has been prepared.'
And when they heard this, the ten began to be indignant about James and John.
And Jesus called them to himself and said to them, 'You know that those who are considered to rule over the Gentiles lord it over them, and their people in high positions exercise authority over them.
But it is not like this among you! But whoever wants to become great among you must be your servant,
and whoever wants to be most prominent among you must be the slave of all.
For even the Son of Man did not come to be served, but to serve, and to give his life as a ransom for many.'
</p>

<div class="sidenote left">Mark 10:46 <br>to Mark 10:52</div>

<h3>A Blind Man Healed at Jericho</h3>

<p>
And they came to Jericho. And as he was setting out from Jericho along with his disciples and a large crowd, a blind beggar, Bartimaeus the son of Timaeus, was sitting beside the road.
And when he heard that it was Jesus the Nazarene, he began to cry out and say, 'Jesus, Son of David, have mercy on me!'
And many people warned him that he should be quiet. But he was crying out even more loudly, 'Son of David, have mercy on me!'
And Jesus stopped and said, 'Call him.' And they called the blind man and said to him, 'Have courage! Get up! He is calling you.'
And he threw off his cloak, jumped up, and came to Jesus.
And Jesus answered him and said, 'What do you want me to do for you?' And the blind man said to him, 'Rabboni, that I may regain my sight.'
And Jesus said to him, 'Go, your faith has healed you.' And immediately he regained his sight and began to follow him on the road.
</p>

<div class="sidenote left">Mark 11:1 <br>to Mark 11:11</div>

<h3>The Triumphal Entry</h3>

<p>
And when they came near to Jerusalem, to Bethphage and Bethany at the Mount of Olives, he sent two of his disciples
and said to them, 'Go into the village before you, and right away as you enter into it you will find a colt tied, on which no one has ever sat. Untie it and bring it.
And if anyone says to you, 'Why are you doing this?' say 'The Lord has need of it, and will send it here again at once.''
And they went away and found a colt tied at a door outside in the street, and they untied it.
And some of those who were standing there said to them, 'What are you doing, untying the colt?'
So they told them, just as Jesus had said, and they allowed them to take it.
And they brought the colt to Jesus and threw their cloaks over it, and he sat on it.
And many people spread their cloaks on the road, and others spread leafy branches they had cut from the fields.
And those who went ahead and those who were following were shouting,
</p>

<div class="sidenote">Mark 11:10</div>

<p>
Blessed is the coming kingdom of our father David! Hosanna in the highest heaven!'
</p>

<div class="sidenote">Mark 11:11</div>

<p>
And he went into Jerusalem to the temple, and after looking around at everything, because the hour was already late, he went out to Bethany with the twelve.
</p>

<div class="sidenote left">Mark 11:12 <br>to Mark 11:14</div>

<h3>A Barren Fig Tree Cursed</h3>

<p>
And on the next day as they were departing from Bethany, he was hungry.
And when he saw from a distance a fig tree that had leaves, he went to see if perhaps he would find anything on it. And when he came up to it he found nothing except leaves, because it was not the season for figs.
And he responded and said to it, 'Let no one eat fruit from you any more forever!' And his disciples heard it.
</p>

<div class="sidenote left">Mark 11:15 <br>to Mark 11:19</div>

<h3>The Cleansing of the Temple</h3>

<p>
And they came to Jerusalem. And he entered into the temple courts and began to drive out those who were selling and those who were buying in the temple courts, and overturned the tables of the money changers and the chairs of those who were selling doves.
And he did not permit anyone to carry objects through the temple courts.
And he began to teach and was saying to them, 'Is it not written,
</p>

<div class="sidenote">Mark 11:18</div>

<p>
And the chief priests and the scribes heard it, and began considering how they could destroy him. For they were afraid of him because the whole crowd was astounded by his teaching.
And when evening came they went out of the city.
</p>

<div class="sidenote left">Mark 11:20 <br>to Mark 11:25</div>

<h3>The Barren Fig Tree Withered</h3>

<p>
And as they passed by early in the morning, they saw the fig tree withered from the roots.
And Peter remembered and said to him, 'Rabbi, look! The fig tree that you cursed has withered!'
And Jesus answered and said to them, 'Have faith in God!
Truly I say to you that whoever says to this mountain, 'Be lifted up and thrown into the sea!' and does not doubt in his heart, but believes that what he says will happen, it will be done for him.
For this reason I say to you, whatever you pray and ask for, believe that you have received it, and it will be done for you.
And whenever you stand praying, if you have anything against anyone, forgive him, so that your Father who is in heaven will also forgive you your sins.'
And they came again to Jerusalem. And as he was walking in the temple courts, the chief priests and the scribes and the elders came up to him
</p>

<div class="sidenote left">Mark 11:27 <br>to Mark 11:33</div>

<h3>Jesus’ Authority Challenged</h3>

<p>
and said to him, 'By what authority are you doing these things, or who gave you this authority that you do these things?'
So Jesus said to them, 'I will ask you one question. Answer me and I will tell you by what authority I am doing these things.
The baptism of John was it from heaven or from men? Answer me!'
And they began to discuss this with one another, saying, 'What should we say? If we say 'From heaven,' he will say, 'Why then did you not believe him?'
But if we say, 'From men'' they were afraid of the crowd, because they all looked upon John as truly a prophet.
And they replied to Jesus saying, 'We do not know.' And Jesus said to them, 'Neither will I tell you by what authority I am doing these things.'
</p>

<div class="sidenote left">Mark 12:1 <br>to Mark 12:12</div>

<h3>The Parable of the Tenant Farmers in the Vineyard</h3>

<p>
And he began to speak to them in parables: 'A man planted a vineyard, and put a fence around it, and dug a trough for the winepress, and built a watchtower, and leased it to tenant farmers, and went on a journey.
And he sent a slave to the tenant farmers at the proper time, so that he could collect some of the fruit of the vineyard from the tenant farmers.
And they seized him and beat him and sent him away empty-handed.
And again he sent to them another slave, and that one they struck on the head and dishonored.
And he sent another, and that one they killed. And he sent many others, some of whom they beat and some of whom they killed.
He had one more, a beloved son. Last of all he sent him to them, saying, 'They will respect my son.'
But those tenant farmers said to one another, 'This is the heir. Come, let us kill him and the inheritance will be ours!'
And they seized and killed him and threw him out of the vineyard.
What will the owner of the vineyard do? He will come and destroy the tenant farmers and give the vineyard to others.
Have you not read this scripture:
</p>

<div class="sidenote">Mark 12:11</div>

<p>
This came about from the Lord, and it is marvelous in our eyes'?'
</p>

<div class="sidenote">Mark 12:12</div>

<p>
And they were seeking to arrest him, and they were afraid of the crowd, because they knew that he had told the parable with reference to them. And they left him and went away.
</p>

<div class="sidenote left">Mark 12:13 <br>to Mark 12:17</div>

<h3>Paying Taxes to Caesar</h3>

<p>
And they sent some of the Pharisees and the Herodians to him so that they could catch him unawares in a statement.
And when they came, they said to him, 'Teacher, we know that you are truthful and you do not care what anyone thinks, because you do not regard the opinion of people but teach the way of God in truth. Is it permitted to pay taxes to Caesar or not? Should we pay or should we not pay?'
But because he knew their hypocrisy, he said to them, 'Why are you testing me? Bring me a denarius so that I can look at it!'
So they brought one. And he said to them, 'Whose image and inscription is this?' And they said to him, 'Caesar's.'
And Jesus said to them, 'Give to Caesar the things of Caesar, and to God the things of God!' And they were utterly amazed at him.
</p>

<div class="sidenote left">Mark 12:18 <br>to Mark 12:27</div>

<h3>A Question About Marriage and the Resurrection</h3>

<p>
And Sadducees who say there is no resurrection came up to him and began to ask him, saying,
'Teacher, Moses wrote for us that if someone's brother dies and he leaves behind a wife and does not leave a child, that his brother should take the wife and father descendants for his brother.
There were seven brothers, and the first took a wife. And when he died, he did not leave descendants.
And the second took her, and he died without leaving descendants. And the third likewise.
And the seven did not leave descendants. Last of all the woman also died.
In the resurrection, when they rise, whose wife will she be? For the seven had her as wife.
Jesus said to them, 'Are you not deceived because of this, because you do not know the scriptures or the power of God?
For when they rise from the dead, they neither marry nor are given in marriage, but are like angels in heaven.
Now concerning the dead, that they are raised, have you not read in the book of Moses in the passage about the bush how God spoke to him, saying, 'I am the God of Abraham and the God of Isaac and the God of Jacob'?
He is not God of the dead, but of the living. You are very much mistaken!'
</p>

<div class="sidenote left">Mark 12:28 <br>to Mark 12:34</div>

<h3>The Greatest Commandment</h3>

<p>
And one of the scribes came up and heard them debating. When he saw that he answered them well, he asked him, 'Which commandment is the most important of all?'
Jesus answered, 'The most important is, 'Listen, Israel! The Lord our God, the Lord is one.
And you shall love the Lord your God from your whole heart and from your whole soul and from your whole mind and from your whole strength.'
The second is this: 'You shall love your neighbor as yourself.' There is no other commandment greater than these.'
And the scribe said to him, 'That is true, Teacher. You have said correctly that he is one and there is no other except him.
And to love him from your whole heart and from your whole understanding and from your whole strength, and to love your neighbor as yourself, is much more than all whole burnt offerings and sacrifices.'
And Jesus, when he saw that he had answered thoughtfully, said to him, 'You are not far from the kingdom of God.' And no one dared to put a question to him any longer.
</p>

<div class="sidenote left">Mark 12:35 <br>to Mark 12:37</div>

<h3>David’s Son and Lord</h3>

<p>
And continuing, Jesus said while teaching in the temple courts, 'How can the scribes say that the Christ is David's son?
David himself said by the Holy Spirit,
</p>

<div class="sidenote">Mark 12:37</div>

<p>
David himself calls him 'Lord,' and how is he his son?' And the large crowd was listening to him gladly.
</p>

<div class="sidenote left">Mark 12:38 <br>to Mark 12:40</div>

<h3>Warning to Beware of the Scribes</h3>

<p>
And in his teaching he said, 'Beware of the scribes, who like walking around in long robes and greetings in the marketplaces
and the best seats in the synagogues and the places of honor at banquets,
who devour the houses of widows and pray lengthy prayers for the sake of appearance. These will receive more severe condemnation!'
</p>

<div class="sidenote left">Mark 12:41 <br>to Mark 12:44</div>

<h3>A Poor Widow’s Offering</h3>

<p>
And he sat down opposite the contribution box and was observing how the crowd was putting coins into the contribution box. And many rich people were putting in many coins.
And one poor widow came and put in two small copper coins (that is, a penny).
And summoning his disciples, he said to them, 'Truly I say to you that this poor widow put in more than all those who put offerings into the contribution box.
For they all contributed out of their abundance, but she out of her poverty put in everything she had, her whole means of subsistence.'
</p>

<div class="sidenote left">Mark 13:1 <br>to Mark 13:2</div>

<h3>The Destruction of the Temple Predicted</h3>

<p>
And as he was going out of the temple courts, one of his disciples said to him, 'Teacher, look! What great stones and what wonderful buildings!'
And Jesus said to him, 'Do you see these great buildings? Not one stone will be left here on another stone that will not be thrown down!'
</p>

<div class="sidenote left">Mark 13:3 <br>to Mark 13:8</div>

<h3>Signs of the End of the Age</h3>

<p>
And as he was sitting on the Mount of Olives opposite the temple, Peter and James and John and Andrew asked him privately,
'Tell us, when will these things happen, and what will be the sign when all these things are about to be accomplished?'
So Jesus began to say to them, 'Watch out that no one deceives you!
Many will come in my name, saying, 'I am he,' and they will deceive many.
And when you hear about wars and rumors of wars, do not be alarmed. This must happen, but the end is not yet.
For nation will rise up against nation and kingdom against kingdom. There will be earthquakes in various places. There will be famines. These things are the beginning of birth pains.
</p>

<div class="sidenote left">Mark 13:9 <br>to Mark 13:13</div>

<h3>Persecution of Disciples Predicted</h3>

<p>
'But you, watch out for yourselves! They will hand you over to councils and you will be beaten in the synagogues and will have to stand before governors and kings because of me, for a witness to them.
And the gospel must first be proclaimed to all the nations.
And when they arrest you and hand you over, do not be anxious beforehand what you should say, but whatever is given to you at that hour, say this. For you are not the ones who are speaking, but the Holy Spirit.
And brother will hand over brother to death, and a father his child, and children will rise up against parents and have them put to death.
And you will be hated by all because of my name. But the one who endures to the end this one will be saved.
</p>

<div class="sidenote left">Mark 13:14 <br>to Mark 13:23</div>

<h3>The Abomination of Desolation</h3>

<p>
'But when you see the abomination of desolation standing where it should not be' (let the one who reads understand), 'then those in Judea must flee to the mountains!
The one who is on his housetop must not come down or go inside to take anything out of his house,
and the one who is in the field must not turn back to pick up his cloak.
And woe to those who are pregnant and to those who are nursing their babies in those days!
But pray that it will not happen in winter.
For in those days there will be tribulation of such a kind as has not happened from the beginning of the creation that God created until now, and never will happen.
And if the Lord had not shortened the days, no human being would be saved. But for the sake of the elect, whom he chose, he has shortened the days.
</p>

<div class="sidenote">Mark 13:21</div>

<p>
'And at that time if anyone should say to you, 'Behold, here is the Christ,Behold, there he is,' do not believe him!
For false messiahs and false prophets will appear, and will produce signs and wonders in order to mislead, if possible, the elect.
But you, watch out! I have told you everything ahead of time!
</p>

<div class="sidenote left">Mark 13:24 <br>to Mark 13:27</div>

<h3>The Arrival of the Son of Man</h3>

<p>
'But in those days, after that tribulation,
</p>

<div class="sidenote">Mark 13:25</div>

<p>
and the stars will be falling from heaven, and the powers in the heavens will be shaken.'
</p>

<div class="sidenote">Mark 13:26</div>

<p>
And then they will see the Son of Man arriving in the clouds with great power and glory.
And then he will send out the angels, and will gather the elect together from the four winds, from the end of the earth to the end of heaven.
</p>

<div class="sidenote left">Mark 13:28 <br>to Mark 13:31</div>

<h3>The Parable of the Fig Tree</h3>

<p>
'Now learn the parable from the fig tree: Whenever its branch has already become tender and puts forth its leaves, you know that summer is near.
So also you, when you see these things happening, know that he is near, at the door.
Truly I say to you that this generation will never pass away until all these things take place!
Heaven and earth will pass away, but my words will never pass away.
</p>

<div class="sidenote left">Mark 13:32 <br>to Mark 13:37</div>

<h3>The Unknown Day and Hour</h3>

<p>
'But concerning that day or hour no one knows not even the angels in heaven nor the Son except the Father.
Watch out! Be alert, because you do not know when the time is!
It is like a man away on a journey, who left his house and gave his slaves authority to each one his work and to the doorkeeper he gave orders that he should be on the alert.
Therefore be on the alert, for you do not know when the master of the house is coming whether in the evening, or at midnight, or when the rooster crows, or early in the morning
lest he arrive suddenly and find you sleeping.
And what I say to you, I say to everyone: Be on the alert!'
</p>

<div class="sidenote left">Mark 14:1 <br>to Mark 14:2</div>

<h3>The Chief Priests and Scribes Plot to Kill Jesus</h3>

<p>
Now after two days it was the Passover and the feast of Unleavened Bread, and the chief priests and the scribes were seeking how, after arresting him by stealth, they could kill him.
For they said, 'Not at the feast, lest there be an uproar by the people.'
</p>

<div class="sidenote left">Mark 14:3 <br>to Mark 14:9</div>

<h3>Jesus’ Anointing at Bethany</h3>

<p>
And while he was at Bethany in the house of Simon the leper, as he was reclining for a meal, a woman came holding an alabaster flask of very costly perfumed oil of genuine nard. After breaking the alabaster flask, she poured it out on his head.
But some were expressing indignation to one another: 'Why has there been this waste of perfumed oil?
For this perfumed oil could have been sold for more than three hundred denarii and given to the poor!' And they began to scold her.
But Jesus said, 'Leave her alone. Why do you cause trouble for her? She has done a good deed to me.
For the poor you always have with you, and you can do good for them whenever you want, but you do not always have me.
She has done what she could; she has anointed my body beforehand for burial.
And truly I say to you, wherever the gospel is proclaimed in the whole world, what she has done will also be told in memory of her.
</p>

<div class="sidenote left">Mark 14:10 <br>to Mark 14:11</div>

<h3>Judas Arranges to Betray Jesus</h3>

<p>
And Judas Iscariot, who was one of the twelve, went to the chief priests in order to betray him to them.
And when they heard this, they were delighted, and promised to give him money. And he began seeking how he could betray him conveniently.
</p>

<div class="sidenote left">Mark 14:12 <br>to Mark 14:21</div>

<h3>Jesus’ Final Passover with the Disciples</h3>

<p>
And on the first day of the feast of Unleavened Bread, when they sacrificed the Passover lamb, his disciples said to him, 'Where do you want us to go and prepare, so that you can eat the Passover?'
And he sent two of his disciples and said to them, 'Go into the city and a man carrying a jar of water will meet you. Follow him,
and wherever he enters, say to the master of the house, 'The Teacher says, 'Where is my guest room where I may eat the Passover with my disciples?
And he will show you a large upstairs room furnished and ready, and prepare for us there.'
And the disciples went out and came into the city and found everything just as he had told them, and they prepared the Passover.
</p>

<div class="sidenote">Mark 14:17</div>

<p>
And when it was evening, he arrived with the twelve.
And while they were reclining at table and eating, Jesus said, 'Truly I say to you, that one of you who is eating with me will betray me.'
They began to be distressed and to say to him one by one, 'Surely not I?'
But he said to them, 'It is one of the twelve the one who is dipping bread into the bowl with me.
For the Son of Man is going just as it is written about him, but woe to that man by whom the Son of Man is betrayed! It would be better for him if that man had not been born.'
</p>

<div class="sidenote left">Mark 14:22 <br>to Mark 14:26</div>

<h3>The Lord’s Supper</h3>

<p>
And while they were eating, he took bread and, after giving thanks, he broke it and gave it to them and said, 'Take it, this is my body.'
And after taking the cup and giving thanks, he gave it to them, and they all drank from it.
And he said to them, 'This is my blood of the covenant which is poured out for many.
Truly I say to you that I will never drink of the fruit of the vine any longer until that day when I drink it new in the kingdom of God.'
And after they had sung the hymn, they went out to the Mount of Olives.
</p>

<div class="sidenote left">Mark 14:27 <br>to Mark 14:31</div>

<h3>Jesus Predicts Peter’s Denial</h3>

<p>
And Jesus said to them, 'You will all fall away, because it is written,
</p>

<div class="sidenote">Mark 14:28</div>

<p>
But after I am raised, I will go ahead of you into Galilee.'
But Peter said to him, 'Even if they all fall away, certainly I will not!'
And Jesus said to him, 'Truly I say to you that today this night before the rooster crows twice, you will deny me three times!'
But he kept saying emphatically, 'If it is necessary for me to die with you, I will never deny you!' And they all were saying the same thing also.
</p>

<div class="sidenote left">Mark 14:32 <br>to Mark 14:42</div>

<h3>The Prayer in Gethsemane</h3>

<p>
And they came to a place named Gethsemane, and he said to his disciples, 'Sit here while I pray.'
And he took along Peter and James and John with him, and he began to be distressed and troubled.
And he said to them, 'My soul is deeply grieved, to the point of death. Remain here and stay awake.'
And going forward a little he fell to the ground and began to pray that, if it were possible, the hour would pass from him.
And he said, 'Abba, Father, all things are possible for you! Take away this cup from me! Yet not what I will, but what you will.'
And he came and found them sleeping, and he said to Peter, 'Simon, are you sleeping? Were you not able to stay awake one hour?
Stay awake and pray that you will not enter into temptation. The spirit is willing, but the flesh is weak!'
And again he went away and prayed, saying the same thing.
And again he came and found them sleeping, for they could not keep their eyes open, and they did not know what to reply to him.
And he came the third time and said to them, 'Are you still sleeping and resting? It is enough! The hour has come. Behold, the Son of Man is being betrayed into the hands of sinners.
Get up, let us go! Behold, the one who is betraying me is approaching!'
</p>

<div class="sidenote left">Mark 14:43 <br>to Mark 14:52</div>

<h3>The Betrayal and Arrest of Jesus</h3>

<p>
And immediately, while he was still speaking, Judas one of the twelve arrived, and with him a crowd with swords and clubs, from the chief priests and the scribes and the elders.
Now the one who was betraying him had given them a sign, saying, 'The one whom I kiss he is the one. Arrest him and lead him away under guard!'
And when he arrived, he came up to him immediately and said, 'Rabbi,' and kissed him.
So they laid hands on him and arrested him.
</p>

<div class="sidenote">Mark 14:47</div>

<p>
But a certain one of the bystanders, drawing his sword, struck the slave of the high priest and cut off his ear.
And Jesus answered and said to them, 'Have you come out with swords and clubs, as against a robber, to arrest me?
Every day I was with you in the temple courts teaching, and you did not arrest me! But this has happened in order that the scriptures would be fulfilled.
And they all abandoned him and fled.
</p>

<div class="sidenote">Mark 14:51</div>

<p>
And a certain young man was following him, clothed only in a linen cloth on his naked body. And they attempted to seize him,
but he left behind the linen cloth and fled naked.
</p>

<div class="sidenote left">Mark 14:53 <br>to Mark 14:65</div>

<h3>Jesus Before the Sanhedrin</h3>

<p>
And they led Jesus away to the high priest, and all the chief priests and the elders and the scribes came together.
And Peter followed him from a distance, right inside, into the courtyard of the high priest. And he was sitting with the officers and warming himself by the fire.
Now the chief priests and the whole Sanhedrin were looking for testimony against Jesus in order to put him to death, and they did not find it.
For many gave false testimony against him, and their testimony was not consistent.
And some stood up and began to give false testimony against him, saying,
'We heard him saying, 'I will destroy this temple made by hands, and within three days I will build another not made by hands.'
And their testimony was not even consistent about this.
And the high priest stood up in the midst of them and asked Jesus, saying, 'Do you not reply anything? What are these people testifying against you?'
But he was silent and did not reply anything. Again the high priest asked him and said to him, 'Are you the Christ, the Son of the Blessed One?'
And Jesus said, 'I am, and you will see the Son of Man sitting at the right hand of the Power and coming with the clouds of heaven.'
And the high priest tore his clothes and said, 'What further need do we have of witnesses?
You have heard the blasphemy! What do you think?' And they all condemned him as deserving death.
And some began to spit on him and to cover his face and to strike him with their fists, and to say to him 'Prophesy!' And the officers received him with slaps in the face.
</p>

<div class="sidenote left">Mark 14:66 <br>to Mark 14:72</div>

<h3>Peter Denies Jesus Three Times</h3>

<p>
And while Peter was below in the courtyard, one of the female slaves of the high priest came up
And when she saw Peter warming himself, she looked intently at him and said, 'You also were with the Nazarene, Jesus.'
But he denied it, saying, 'I neither know nor understand what you mean!' And he went out into the gateway, and a rooster crowed.
And the female slave, when she saw him, began to say again to the bystanders, 'This man is one of them!'
But he denied it again. And after a little while, again the bystanders began to say to Peter, 'You really are one of them, because you also are a Galilean, and your accent shows it!'
And he began to curse and to swear with an oath, 'I do not know this man whom you are talking about!'
And immediately a rooster crowed for the second time. And Peter remembered the statement, how Jesus had said to him, 'Before the rooster crows twice, you will deny me three times,' and throwing himself down, he began to weep.
</p>

<div class="sidenote left">Mark 15:1 <br>to Mark 15:5</div>

<h3>Jesus Taken to Pilate</h3>

<p>
And as soon as morning came, after formulating a plan, the chief priests, with the elders and scribes and the whole Sanhedrin, tied up Jesus, led him away, and handed him over to Pilate.
And Pilate asked him, 'Are you the king of the Jews?' And he answered him and said, 'You say so.'
And the chief priests began to accuse him of many things.
So Pilate asked him again, saying, 'Do you not answer anything? See how many charges they are bringing against you!'
But Jesus did not answer anything further, so that Pilate was astonished.
</p>

<div class="sidenote left">Mark 15:6 <br>to Mark 15:15</div>

<h3>Pilate Releases Barabbas</h3>

<p>
Now at each feast he customarily released for them one prisoner whom they requested.
And the one named Barabbas was imprisoned with the rebels who had committed murder in the rebellion.
And the crowd came up and began to ask him to do as he customarily did for them.
So Pilate answered them, saying, 'Do you want me to release for you the king of the Jews?'
(For he realized that the chief priests had handed him over because of envy.)
But the chief priests incited the crowd so that he would release for them Barabbas instead.
So Pilate answered and said to them again, 'Then what do you want me to do with the one whom you call the king of the Jews?'
And they shouted again, 'Crucify him!'
And Pilate said to them, 'Why? What evil has he done?' But they shouted even louder, 'Crucify him!'
</p>

<div class="sidenote">Mark 15:15</div>

<p>
So Pilate, because he wanted to satisfy the crowd, released for them Barabbas. And after he had Jesus flogged, he handed him over so that he could be crucified.
</p>

<div class="sidenote left">Mark 15:16 <br>to Mark 15:20</div>

<h3>Jesus Is Mocked</h3>

<p>
So the soldiers led him away into the palace (that is, the governor's residence) and called together the whole cohort.
And they put a purple cloak on him, and after weaving a crown of thorns they placed it on him.
And they began to greet him, 'Hail, king of the Jews!'
And they repeatedly struck him on the head with a reed, and were spitting on him, and they knelt down and did obeisance to him.
And when they had mocked him, they stripped him of the purple cloak and put his own clothes on him, and they led him out so that they could crucify him.
</p>

<div class="sidenote left">Mark 15:21 <br>to Mark 15:32</div>

<h3>Jesus Is Crucified</h3>

<p>
And they forced a certain man who was passing by, Simon of Cyrene (the father of Alexander and Rufus), who was coming from the country, to carry his cross.
And they brought him to the place Golgotha (which is translated 'Place of a Skull').
And they attempted to give him wine mixed with myrrh, but he did not take it.
And they crucified him and divided his clothes among themselves by casting lots for them to see who should take what.
Now it was the third hour when they crucified him.
And the inscription of the charge against him was written, 'The king of the Jews.'
And with him they crucified two robbers, one on his right and one on his left.
And those who passed by reviled him, shaking their heads and saying, 'Aha! The one who would destroy the temple and rebuild it in three days,
save yourself by coming down from the cross!'
In the same way also the chief priests, along with the scribes, were mocking him to one another, saying, 'He saved others; he is not able to save himself!
Let the Christ, the king of Israel, come down now from the cross, so that we may see and believe! Even those who were crucified with him were reviling him.
And when the sixth hour came, darkness came over the whole land until the ninth hour.
</p>

<div class="sidenote left">Mark 15:33 <br>to Mark 15:41</div>

<h3>Jesus Dies on the Cross</h3>

<p>
And at the ninth hour Jesus cried out with a loud voice, 'Eloi, Eloi, lema sabachthani?' (which is translated, 'My God, my God, why have you forsaken me?')
And some of the bystanders, when they heard it, said, 'Behold, he is summoning Elijah!'
And someone ran and filled a sponge with sour wine, put it on a reed, and gave it to him to drink, saying, 'Leave him alone! Let us see if Elijah is coming to take him down.'
But Jesus uttered a loud cry and expired.
And the curtain of the temple was torn in two from top to bottom.
And when the centurion who was standing opposite him saw that he expired like this, he said, 'Truly this man was God's Son!'
And there were also women observing from a distance, among whom were Mary Magdalene, and Mary the mother of James the younger and Joses, and Salome,
who used to follow him and serve him when he was in Galilee, and many other women who went up with him to Jerusalem.
And when it was already evening, since it was the day of preparation (that is, the day before the Sabbath),
</p>

<div class="sidenote left">Mark 15:42 <br>to Mark 15:47</div>

<h3>Jesus Is Buried</h3>

<p>
Joseph of Arimathea, a prominent member of the council who was also himself looking forward to the kingdom of God, came acting courageously and went in to Pilate and asked for the body of Jesus.
And Pilate was surprised that he was already dead, and summoning the centurion, asked him whether he had died already.
And when he learned of it from the centurion, he granted the corpse to Joseph.
And after purchasing a linen cloth and taking him down, he wrapped him in the linen cloth and placed him in a tomb that had been cut from the rock. And he rolled a stone over the entrance of the tomb.
Now Mary Magdalene and Mary the mother of Joses saw where he was placed.
</p>

<div class="sidenote left">Mark 16:1 <br>to Mark 16:8</div>

<h3>Jesus Is Raised</h3>

<p>
And when the Sabbath was over, Mary Magdalene, and Mary the mother of James, and Salome purchased fragrant spices so that they could go and anoint him.
And very early in the morning on the first day of the week they came to the tomb after the sun had risen.
And they were saying to one another, 'Who will roll away the stone for us from the entrance of the tomb?'
And when they looked up, they saw that the stone had been rolled away (for it was very large).
And as they were going into the tomb, they saw a young man dressed in a white robe sitting on the right side, and they were alarmed.
But he said to them, 'Do not be alarmed. You are looking for Jesus the Nazarene who was crucified. He has been raised, he is not here! See the place where they laid him!
But go, tell his disciples and Peter that he is going ahead of you to Galilee. You will see him there, just as he told you.'
And they went out and fled from the tomb, because trembling and amazement had seized them. And they said nothing to anyone, because they were afraid.
</p>

<div class="sidenote">Mark 16:9</div>

<p>
Now early on the first day of the week, after he rose, he appeared first to Mary Magdalene, from whom he had expelled seven demons.
She went out and announced it to those who were with him while they were mourning and weeping.
And those, when they heard that he was alive and had been seen by her, refused to believe it.
And after these things, he appeared in a different form to two of them as they were walking, while they were going out into the countryside.
And these went and reported it to the others, and they did not believe them.
And later, while they were reclining at table, he appeared to the eleven. And he reprimanded their unbelief and hardness of heart, because they did not believe those who had seen him after he had been raised.
And he said to them, 'Go into all the world and preach the gospel to all creation.
The one who believes and is baptized will be saved, but the one who refuses to believe will be condemned.
And these signs will accompany those who believe: in my name they will expel demons, they will speak in new tongues,
they will pick up snakes. And if they drink any deadly poison it will never hurt them; they will lay hands on the sick and they will get well.'
</p>

<div class="sidenote">Mark 16:19</div>

<p>
Then the Lord Jesus, after he had spoken to them, was taken up into heaven and sat down at the right hand of God.
And they went out and proclaimed everywhere, while the Lord was working together with them and confirming the message through the accompanying signs.]]
</p>
