<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Nahum</h1>

<div class="sidenote left">Nahum 1:1 </div>

<h3>Superscription</h3>

<p>
The oracle concerning Nineveh the scroll of the vision of Nahum the Elkoshite:
</p>

<div class="sidenote left">Nahum 1:2 <br>to Nahum 1:8</div>

<h3>God Takes Vengeance against His Enemies</h3>

<p>
the LORD is a jealous God and avenging; the LORD is avenging and full of wrath. the LORD takes vengeance against his enemies; he rages against his adversaries.
</p>

<div class="sidenote">Nahum 1:3</div>

<p>
the LORD is slow to anger but great in power; he will certainly not allow the guilty to go unpunished. He marches in storm wind and in gale; storm clouds are the dust of his feet.
</p>

<div class="sidenote">Nahum 1:4</div>

<p>
He rebukes the sea and he dries up the rivers; he makes all the rivers run dry. Bashan and Carmel wither; the blossom of Lebanon languishes.
</p>

<div class="sidenote">Nahum 1:5</div>

<p>
Mountains quake before him; the hills shake apart. The earth heaves before him the world and all her inhabitants.
</p>

<div class="sidenote">Nahum 1:6</div>

<p>
His indignation who can stand before it? Who can endure his fierce anger? His wrath is poured out like fire; rocks are shattered before him.
</p>

<div class="sidenote">Nahum 1:7</div>

<p>
the LORD is good a refuge in the day of distress; he knows those who take refuge in him.
</p>

<div class="sidenote">Nahum 1:8</div>

<p>
But with a rushing torrent he will bring Nineveh to an end; he will chase his enemies into darkness.
</p>

<div class="sidenote left">Nahum 1:9 <br>to Nahum 1:11</div>

<h3>God Will Destroy Nineveh</h3>

<p>
What do you plot against the LORD? He will completely destroy it; trouble will not rise up a second time!
</p>

<div class="sidenote">Nahum 1:10</div>

<p>
For like entangled thorns, and like their drink which is drunk, they will be consumed like fully dry chaff.
</p>

<div class="sidenote">Nahum 1:11</div>

<p>
From you goes out one who plots evil against the LORD, one who plans wickedness.
</p>

<div class="sidenote left">Nahum 1:12 <br>to Nahum 1:15</div>

<h3>God Will Deliver Judah and Destroy Nineveh</h3>

<p>
the LORD says this:
</p>

<div class="sidenote">Nahum 1:13</div>

<p>
And now, I will break his yoke from upon you; I will snap your bonds.'
</p>

<div class="sidenote">Nahum 1:14</div>

<p>
the LORD has commanded concerning you:
</p>

<div class="sidenote">Nahum 1:15</div>

<p>
Look! On the mountains! The feet of the one who brings good tidings, the one who proclaims peace! 'Celebrate a festival, O Judah, Fulfill your vows! For he will not invade you again; the wicked one is cut off completely!'
</p>

<div class="sidenote left">Nahum 2:1 <br>to Nahum 2:2</div>

<h3>The Divine Warrior Will Attack Nineveh</h3>

<p>
One who shatters has come up against you! Guard the fortification! Watch the road! Gird your loins! Muster all your strength!
</p>

<div class="sidenote">Nahum 2:2</div>

<p>
For the LORD will restore the majesty of Jacob like the majesty of Israel; for ravagers have ravaged them and ruined their branches.
</p>

<div class="sidenote left">Nahum 2:3 <br>to Nahum 2:10</div>

<h3>The Enemy Army Conquers the City of Nineveh</h3>

<p>
The shields of his warriors are dyed red; The powerful men are dressed in scarlet. The metal of the chariots shines like fire on the day of battle, and their spears quiver.
</p>

<div class="sidenote">Nahum 2:4</div>

<p>
The chariots race madly through the streets; they rush back and forth in the public squares. Their appearance like lightning bolts, they dart about like flashes of lightning.
</p>

<div class="sidenote">Nahum 2:5</div>

<p>
He calls his officers; they stumble as they march; they rush to her wall; they set the covering in place.
</p>

<div class="sidenote">Nahum 2:6</div>

<p>
The gates of the river are opened; the palace trembles.
</p>

<div class="sidenote">Nahum 2:7</div>

<p>
Her goddess is taken out and taken into exile; her maidservants moan like doves; they beat on their breasts.
</p>

<div class="sidenote">Nahum 2:8</div>

<p>
Nineveh is like a pool of water without its water. As they flee, she cries, 'Stop! Stop!' But there is no one who turns back.
</p>

<div class="sidenote">Nahum 2:9</div>

<p>
Plunder the silver! Plunder the gold! There is no end to the spoils, an abundance of everything one could want!
</p>

<div class="sidenote">Nahum 2:10</div>

<p>
Emptiness and plundering and devastation! Their hearts faint and their knees tremble, All their loins shake and all their faces turn pale.
</p>

<div class="sidenote left">Nahum 2:11 <br>to Nahum 2:13</div>

<h3>The Divine Warrior Will Hunt down the Mighty Lions</h3>

<p>
Where now is the den of the lions and the cave of the fierce lions? There the lioness, the cub, and the lion once prowled, and no one disturbed them.
</p>

<div class="sidenote">Nahum 2:12</div>

<p>
The lion tore apart enough prey for his cubs, he strangled prey for his lioness; he filled his lair with prey and his den with mangled carcass.
</p>

<div class="sidenote">Nahum 2:13</div>

<p>
'Look! I am against you!' declares the LORD of hosts. 'I will burn her chariots with fire; the sword will devour fierce lions. I will cut off your prey from the earth; the voice of your messengers will no longer be heard.'
</p>

<div class="sidenote left">Nahum 3:1 <br>to Nahum 3:3</div>

<h3>The Doom of the Wicked City is Certain</h3>

<p>
Woe to the city that has shed much blood! She is a deceiver, She is filled with plunder, She has hoarded her spoils of war.
</p>

<div class="sidenote">Nahum 3:2</div>

<p>
The crack of the whip! The rumbling of the chariot wheel! The galloping of the horse! The racing of the chariot!
</p>

<div class="sidenote">Nahum 3:3</div>

<p>
Chariots charge! Swords flash! Spears glitter! Many corpses are piled high! There is no end to the slain! They stumble over their dead!
</p>

<div class="sidenote left">Nahum 3:4 <br>to Nahum 3:7</div>

<h3>Harlot Nineveh Will Get What She Deserves</h3>

<p>
'Because of the many idolatries of the prostitute, the beautiful charm of a mistress of witchcraft, she who enslaves nations by her harlotries, and peoples by her sorceries,
</p>

<div class="sidenote">Nahum 3:5</div>

<p>
'Look! I am against you!' declaresthe LORD. 'I will strip up your skirts over your face; I will let nations look at your nakedness and your shame.
</p>

<div class="sidenote">Nahum 3:6</div>

<p>
'I will throw filth upon you, I will treat you with contempt, I will make you a spectacle.
</p>

<div class="sidenote">Nahum 3:7</div>

<p>
'And it will be that everyone who sees you will flee from you, And they will say, 'Nineveh is destroyed!' Who will mourn for her? From whence shall I seek comforters for you?'
</p>

<div class="sidenote left">Nahum 3:8 <br>to Nahum 3:11</div>

<h3>Nineveh Will Suffer the Same Fate She Inflicted on Thebes</h3>

<p>
Are you better than Thebes? She who sits at the Nile, surrounded by her waters, her rampart was the sea and water was her wall.
</p>

<div class="sidenote">Nahum 3:9</div>

<p>
Cush was her strength, Egypt without end; Put and Libya were among your allies.
</p>

<div class="sidenote">Nahum 3:10</div>

<p>
Yet she went into captivity as an exile; her children were dashed to pieces at the head of the streets; they cast lots for all of her nobles; all of her dignitaries were bound with chains.
</p>

<div class="sidenote">Nahum 3:11</div>

<p>
You also will behave like a drunkard; You also will hide yourself; You also will seek refuge from the enemy.
</p>

<div class="sidenote left">Nahum 3:12 <br>to Nahum 3:15</div>

<h3>Nineveh’s Defenses Will Fail</h3>

<p>
All of your fortifications are like fig trees with ripe firstfruits if they are shaken, they will fall into the mouth of the eater.
</p>

<div class="sidenote">Nahum 3:13</div>

<p>
Look! Your troops are like women in your midst. The gates of your land are wide open to your enemies; fire will consume the bars of your gates.
</p>

<div class="sidenote">Nahum 3:14</div>

<p>
Draw water for a siege! Strengthen your fortifications! Go to the mud pit! Trample the clay! Grasp the brick mold!
</p>

<div class="sidenote">Nahum 3:15</div>

<p>
There fire will consume you; the sword will cut you off. It will consume you like the locust.
</p>

<div class="sidenote left">Nahum 3:16 <br>to Nahum 3:17</div>

<h3>Nineveh’s Defenders Will Flee</h3>

<p>
You have increased your merchants more than the stars of heaven; like the locust they will shed their skin and fly away.
</p>

<div class="sidenote">Nahum 3:17</div>

<p>
Your officials are like locusts; your commanders are like a swarm of locusts. They encamp on the walls on a cold day; when the sun rises, they fly away no one knows where they have gone.
</p>

<div class="sidenote left">Nahum 3:18 <br>to Nahum 3:19</div>

<h3>Nineveh Will Come to an End</h3>

<p>
Your shepherds are sleeping, O king of Assyria! Your nobles slumber. Your people are scattered on the mountains; no one can gather them.
</p>

<div class="sidenote">Nahum 3:19</div>

<p>
There is no healing for your wound; your injury is fatal. All who hear the report of you will clap their hands for joy concerning you, For who has not suffered at the hands of your endless cruelty?
</p>
