<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Nehemiah</h1>

<div class="sidenote left">Nehemiah 1:1 <br>to Nehemiah 1:11</div>

<h3>Nehemiah’s Prayer for the People</h3>

<p>
The words of Nehemiah son of Hacaliah.
</p>

<div class="sidenote">Nehemiah 1:2</div>

<p>
and one of my brothers, Hanani, came with some men from Judah. I asked them about the Jews who had escaped the captivity and about Jerusalem.
They replied to me, 'The survivors in the province who have survived the captivity are in great trouble and disgrace. The wall of Jerusalem is broken down, and its gates have been burned in the fire.'
</p>

<div class="sidenote">Nehemiah 1:4</div>

<p>
When I heard these words, I sat and wept and mourned for days, and I was fasting and praying before the God of the heavens.
I said, 'O the LORD God of the heavens, the great and awesome one who keeps the covenant and loyal love for the ones who love him and for those who keep his commands.
Please, let your ear be attentive and your eyes open to hear the prayer of your servant that I am praying before you by day and by night for your servants, the Israelites, and confessing the sins of the Israelites that we have sinned against you. I and my father's house have sinned.
We have certainly offended you and have not kept the commands, regulations, and judgments that you have commanded your servant Moses.
Please, remember the word that you have commanded to your servant Moses, saying, 'If you act unfaithfully I will scatter you all among the nations.
But if you return to me and keep my commandments and do them, even though all of your outcasts are at the furthest parts of heaven, I will gather them and bring them to the place which I have chosen to make my name dwell.'
They are your servants and your people whom you have redeemed by your great power and by your strong hand.
O Lord, please let your ear be attentive to the prayer of your servant and to the prayer of your servants who delight to revere in your name. Please, let your servant be successful this day and give him compassion before this man.'
</p>

<div class="sidenote left">Nehemiah 2:1 <br>to Nehemiah 2:10</div>

<h3>Nehemiah Sent</h3>

<p>
It happened in the month of Nisan, in the twentieth year of King Artaxerxes, when wine was before him, I carried the wine and gave it to the king. And I had never been sad before the king.
So the king said to me, 'Why is your face sad since you are not sick? This is nothing but sadness of the heart.' And I was very much afraid.
I said to the king, 'May the king live forever! Why should my face not be sad when the city of my ancestors' burial site is ruined and her gates are consumed by fire?'
Then the king said to me, 'What is your request?' So I prayed to the God of the heavens.
Then I said to the king, 'If it pleases the king, and if your servant has found favor in your presence, I ask that you send me to Judah, to the city of my ancestors' burial sites, so that I may rebuild it.'
</p>

<div class="sidenote">Nehemiah 2:6</div>

<p>
With the queen sitting beside him, the king said to me, 'How long will your journey be and when will you return?' So it pleased the king and he sent me, and I set for him an appointed time.
Then I said to the king, 'If it is good for the king, let letters be given to me for the governors in the province Beyond the River, that they may let me pass until I come to Judah.
Also, a letter to Asaph, keeper of the king's land reserve, that he should give me timber for laying the beams for the gates of the citadel of the house and for the walls of the city, and for the house which I will enter.' And the king gave permission to me, according to the good hand of God on me.
</p>

<div class="sidenote">Nehemiah 2:9</div>

<p>
I came to the governors of the province Beyond the River, and I gave them the letters of the king. Then the king sent troop commanders and horses with me.
But when Sanballat the Horonite and the Ammonite servant Tobiah heard this, they were greatly displeased that a person had come to seek the welfare of the Israelites.
</p>

<div class="sidenote left">Nehemiah 2:11 <br>to Nehemiah 2:20</div>

<h3>Nehemiah Inspects the Walls and Decides to Restore Them</h3>

<p>
I came to Jerusalem and was there for three days.
I got up during the night, I and a few men with me. I did not tell anybody what my God put in my heart to do for Jerusalem. No animal was with me except the animal that I was riding on.
I went out during the night at the gate of the valley by the Dragon spring and to the Dung Gate. And I examined the walls in Jerusalem and its gates that had been destroyed by the fire.
I crossed over to the Fountain Gate and to the King's Pool, but there was no place for my mount to cross over.
So I went up by the valley during the night and was examining the wall. Then I returned and came to the Valley Gate and returned.
The prefects did not know where I had gone and what I was doing. I had not yet told the Jews, the priests, the nobles, the prefects, and the rest of the workers.
</p>

<div class="sidenote">Nehemiah 2:17</div>

<p>
Then I said to them, 'You see the misery that we are in, that Jerusalem is ruined and its gates burned by the fire. Come, build the walls of Jerusalem and we shall no longer be a disgrace.'
I told them of the good hand of my God that was upon me and surely the words of the king that were spoken to me. And they said, 'Let us arise and build!' And they strengthened their hands for this good work.
But Sanballat the Horonite, the Ammonite servant Tobiah, and Geshem the Arab heard it, and they mocked and despised us, saying, 'What is this thing that you are doing? Are you rebelling against the king?'
Then I answered and said to them, 'The God of the heavens himself will let us succeed, and we his servants shall arise and build. But for you there is no share, right, or memorial in Jerusalem.'
</p>

<div class="sidenote left">Nehemiah 3:1 <br>to Nehemiah 3:32</div>

<h3>Organization of the Work</h3>

<p>
Then Eliashib the high priest and his brothers the priests arose and rebuilt the Sheep Gate. They consecrated it and erected its doors. They consecrated it up to the Tower of the Hundred and up to the Tower of Hananel.
And next to him the men of Jericho built, and next to him Zaccur son of Imri built.
</p>

<div class="sidenote">Nehemiah 3:3</div>

<p>
The sons of Hassenaah built the Fish Gate. They laid its beams and erected its doors, its bolts, and its bars.
Next to them Meremoth son of Uriah, son of Hakkoz, repaired. Next to them Meshullam son of Berekiah, son of Meshezabel, repaired. Next to them Zadok son of Baana repaired.
Next to them the Tekoites repaired, but their nobles did not put their neck to the work of their lord.
</p>

<div class="sidenote">Nehemiah 3:6</div>

<p>
Jehoiada the son of Paseah and Meshullam repaired the old Yeshanah Gate. They laid its beams and erected its doors, its bolts, and its bars.
Next to them Melatiah the Gibeonite and Jadon the Meronothite, the men of Gibeon and Mizpah who were under the rule of the governor of the province Beyond the River, repaired.
Next to him Uzziel son of Harhaiah (goldsmiths) repaired. Next to him Hananiah son of the perfume-makers repaired. They restored Jerusalem up to the Broad Wall.
Next to them Rephaiah son of Hur, commander of half the district of Jerusalem, repaired.
Next to them Jedaiah son of Harumaph repaired opposite his house. Next to him Hattush son of Hashabneiah repaired.
</p>

<div class="sidenote">Nehemiah 3:11</div>

<p>
Malkijah son of Harim and Hasshub son of Pahath-Moab repaired another section and the Tower of the Ovens.
Next to him Shallum son of Hallohesh, commander of half of the district of Jerusalem, repaired with his daughters.
</p>

<div class="sidenote">Nehemiah 3:13</div>

<p>
Hanun and the inhabitants of Zanoah repaired the Valley Gate. They rebuilt it and erected its doors, its bolts, and its bars, and a thousand cubits of the wall up to the Dung Gate.
</p>

<div class="sidenote">Nehemiah 3:14</div>

<p>
Malkijah son of Recab, commander of the district of Beth-haccherem, repaired the Dung Gate. He rebuilt it and erected its doors, its bolts, and its bars.
</p>

<div class="sidenote">Nehemiah 3:15</div>

<p>
Shallun son of Col-Hozeh, the commander of the district of Mizpah, repaired the Fountain Gate. He rebuilt it and covered it and erected its doors, its bolts, its bars, and he built the wall of the Pool of Shelah of the king's garden, right up to the steps going down from the city of David.
After him Nehemiah son of Azbuk, commander of half of the district of Beth Zur, repaired up to a point opposite the burial sites of David, and up to the artificial pool and to the house of the mighty warriors.
</p>

<div class="sidenote">Nehemiah 3:17</div>

<p>
After him the Levites repaired; Rehum son of Bani, and next to him Hashabiah, commander of half of the district of Keilah, repaired his district.
After him their brothers repaired: Bavvai son of Henadad, commander of half of the district of Keilah,
next to him Ezer son of Jeshua, commander of Mizpah, repaired a second section of a wall opposite of the ascent of the armory at the angle.
After him Baruch son of Zabbai zealously repaired a second section of a wall from the angle up to the doorway of the house of Eliashib the high priest.
After him Meremoth son of Uriah, son of Hakkoz, repaired a second section of a wall from the doorway of the house of Eliashib up to the end of the house of Eliashib.
</p>

<div class="sidenote">Nehemiah 3:22</div>

<p>
After him the priests, men from the vicinity, repaired.
After them Benjamin and Hasshub repaired opposite their house. After them Azariah son of Maaseiah, son of Ananiah, repaired beside his house.
After him Binnui son of Henadad repaired a second section of a wall from the house of Azariah up to the angle up to the corner.
Palal son of Uzai repaired opposite the Angle at the tower that juts out from the upper house of the king, at the courtyard of the guard. After him Pedaiah son of Parosh
and the temple servants who were living on Ophel repaired up to opposite the Water Gate on the east and the projecting tower.
After him the Tekoites repaired a second section of a wall opposite the projecting tower that goes out as far as the wall of Ophel.
</p>

<div class="sidenote">Nehemiah 3:28</div>

<p>
Above the Horse Gate the priests repaired, each one opposite his house.
After them Zadok son of Immer repaired opposite his house. After him Shemaiah son of Shecaniah, keeper of the East Gate, repaired.
After him Hananiah son of Shelemiah and Hanun the sixth son of Zalaph repaired another section. After him Meshullam son of Berekiah repaired the wall opposite his room.
After him Malkijah, one of the goldsmiths, repaired up to the house of the temple servants and the merchants, opposite the Enrollment Gate and up to the upper room of the corner.
Between the upper room of the corner to the Sheep Gate the goldsmiths and merchants repaired.
</p>

<div class="sidenote left">Nehemiah 4:1 <br>to Nehemiah 4:6</div>

<h3>Opposition Begins</h3>

<p>
Now it happened when Sanballat heard that we were building the wall, he became angry and greatly provoked, and he mocked the Jews.
Then he said before his brothers and the army of Samaria, 'What are the feeble Jews doing? Will they restore these things for themselves? Will they sacrifice? Will they finish it in a day? Will they revive the stones from the piles of rubble even those burned up?'
</p>

<div class="sidenote">Nehemiah 4:3</div>

<p>
Tobiah the Ammonite was beside him and said, 'Their wall of stone that they are building would break down if a fox went on it!'
</p>

<div class="sidenote">Nehemiah 4:4</div>

<p>
Hear, our God, for we are despised. Turn their scorn on their head and give them over to plunder in the land of captivity.
Do not cover their guilt, and do not let their sin be blotted out from before you. They have provoked the builders to anger.
</p>

<div class="sidenote">Nehemiah 4:6</div>

<p>
So we rebuilt the wall, and all of the wall was joined up to half its height. For the people had a heart to do it.
</p>

<div class="sidenote left">Nehemiah 4:7 <br>to Nehemiah 4:23</div>

<h3>Opposition Stopped</h3>

<p>
Now when Sanballat, Tobiah, the Arabs, the Ammonites, and the Ashdodites heard that the restoration of the walls of Jerusalem were going forward and the gaps were being closed, they were very angry.
So all of them plotted together to come fight against Jerusalem and to make trouble for it.
So we prayed to our God and set up a guard against them day and night.
</p>

<div class="sidenote">Nehemiah 4:10</div>

<p>
But Judah said, 'The strength of the carriers is failing, and there is too much dirt, and we are not able to build at the wall.'
Then our enemies said, 'They will not know nor see until we come upon them and will kill them and stop the work.'
When the Jews who lived beside them came, they said to us ten times, 'From all of the places where they live, they will come up against us.'
I stationed the people behind the deepest part of the wall in the open places according to their families, with their swords, spears, and bows.
And I looked, got up, and said to the nobles, prefects, and the rest of the people, 'Do not be afraid of them. Remember the Lord, who is great and awesome, and fight for your brothers, your sons, your daughters, your wives, and your houses.'
</p>

<div class="sidenote">Nehemiah 4:15</div>

<p>
It happened when our enemies heard that their plan was known to us, that God had frustrated it, and we all returned to the wall each to his work.
From that day, half of my servants were working on craftsmanship, half were holding spears, small shields, bows, and breastplates. The commanders were behind the whole house of Judah.
The ones who were building the wall and the ones who carried the materials were carrying in one hand while doing the task, and with the other hand were grasping a weapon.
Each of the builders had his sword tied to his side while building. And the man who sounded the trumpet was beside me.
I said to the nobles, to the prefects, and to the rest of the people, 'The work is great and widespread, and we are spread out over the wall far from each other.
Wherever you hear the sound of the trumpet, come together to us there. Our God will fight for us.'
</p>

<div class="sidenote">Nehemiah 4:21</div>

<p>
So we labored at the work, and half of them were holding the spears from dawn until the stars came out.
At the time I also said to the people, 'Let each man and his servant spend the night inside Jerusalem, so that they will be a guard for us in the night and work in the day.'
So neither I nor my brothers nor my young men nor the men of the guard who were behind me took off our clothes. Each one kept his weapon even in the water.
</p>

<div class="sidenote left">Nehemiah 5:1 <br>to Nehemiah 5:13</div>

<h3>Nehemiah Deals with Strife</h3>

<p>
Now there was a great cry of distress of the people and of their wives against their Jewish brothers.
There were those who were saying, 'Our sons and daughters, we are many. We must get grain so that we may eat and live.'
There were also those saying, 'We have pledged our fields and our vineyards and our houses so that we can get grain in the famine.'
And there were those who were saying, 'We have borrowed money on our fields and our vineyards for the tax of the king.
Now our flesh is like the flesh of our brothers, our sons are like their sons. Look, we are subduing our sons and our daughters to be slaves, and there are some from our daughters being molested. We are powerless, and our fields and vineyards belong to others.'
</p>

<div class="sidenote">Nehemiah 5:6</div>

<p>
I was very angry when I heard their shouts and these words.
I thought over this in my heart, and then I quarreled with the nobles and the prefects. I said to them, 'You yourselves are taking interest from your own brother!' So I called the great assembly against them,
and I said to them: 'We ourselves have bought back our brothers the Jews who were sold to the nations as we were able. But now you yourselves have sold your brothers so they may be sold to us!' They were silent and could not find a word to say.
</p>

<div class="sidenote">Nehemiah 5:9</div>

<p>
So I said, 'The thing that you are doing is not good. Should you not walk in the fear of our God to prevent the disgrace from the nations, our enemies?
Also, I and my brothers and my servants are lending them money and grain. Please stop taking this interest.
Please restore to them this day their fields, their vineyards, their olive groves, their houses, and the interest on the money, the grain, the grape juice, and the olive oil that you have been taking from them.'
So they said, 'We will restore it and will not request anything more. So we will do as you say.' Then I called the priests and made them take an oath to do this promise.
I also shook out my garment and said, 'This is how God will shake out everyone from his house who will not keep this promise. So this is how his possessions will be shaken out and emptied.' And all the assembly said, 'Amen!' And they praised the LORD, and the people kept this promise.
</p>

<div class="sidenote left">Nehemiah 5:14 <br>to Nehemiah 5:19</div>

<h3>Nehemiah Denies His Allotment</h3>

<p>
Moreover, from the appointed day I was made their governor in the land of Judah, from the twentieth year until the thirty-second year of King Artaxerxes twelve years. My brothers and I did not eat the food allowance of the governor.
The former governors who were before me laid burdens on the people, and they took food and wine from them, besides forty shekels. Also, their servants controlled the people, but I did not do so because of the fear of God.
I also devoted myself to the work of this wall, and we did not buy land. All of my servants were gathered for the work.
One hundred and fifty men, prefects and Jews, and those who came to us from the nations around us, were at my table.
Now what was prepared each day for me was one ox, six choice sheep, and birds. And every ten days all kinds of wine were made. But for this I did not demand the food allowance of the governor because the slavery was too heavy on this people.
Remember me for good, my God, all that I have done for this people.
</p>

<div class="sidenote left">Nehemiah 6:1 <br>to Nehemiah 6:14</div>

<h3>Enemies Foiled</h3>

<p>
Now when it was reported to Sanballat, Tobiah, Geshem the Arab, and to the rest of our enemies that I had built the wall and that no gap was left in it though up to that time I had not erected doors in the gates
Sanballat and Geshem sent to me, saying, 'Come and let us meet together in one of the villages in the plain of Ono.' But they planned to do evil to me.
So I sent messengers to them, saying, 'I am doing a great work and I am not able to come down. Why should the work stop while I leave it and come down to you all?'
And they sent a message to me four times like this, and I returned an answer like this to them.
And Sanballat sent his servant with an open letter, another word like this to me a fifth time, in his hand.
In it was written, 'It has been reported among the nations, and Gashmu also is saying it, that you and the Jews are considering rebellion. Therefore, truly you are building the wall and you are becoming their king, according to these words.
You have also set up prophets to proclaim in Jerusalem concerning you, saying, 'There is a king in Judah.' And now it will be proclaimed to the king according to these words. Now, come and we will plan together.'
So I sent to him saying, 'None of these words you have spoken has happened. You are indeed saying things created in your own mind'
for all of them sought to frighten us, saying, 'their hands will not do the work.' And now, God, strengthen my hands.
</p>

<div class="sidenote">Nehemiah 6:10</div>

<p>
Now I went into the house of Shemaiah son of Delaiah, son of Mehetabel, who was confined at home, and he said, 'Let us meet in the house of God, inside the temple, and let us close the doors of the temple; for they are coming to kill you during the night they are coming to kill you.'
But I said, 'Should a man like me run away? And would a man like me go into the temple so that he can save his life? I will not go in!'
Then I look and realized God had not sent him; rather, he had spoken the prophecy against me because Tobiah and Sanballat had hired him.
For this reason he was hired: to frighten me so that I would act and sin, so that they would have a bad report so they could taunt me.
Remember, O my God, Tobiah and Sanballat according to their works, and also Noadiah the prophetess, and the remainder of the prophets who were frightening me.
</p>

<div class="sidenote left">Nehemiah 6:15 <br>to Nehemiah 7:4</div>

<h3>The Wall is Completed</h3>

<p>
So the wall was finished on the twenty-fifth day of Elul, in fifty-two days.
When our enemies heard of this, all of the nations surrounding us were afraid and lost their confidence. They knew that this work had been done with the help of our God.
Also, in those days the nobles of Judah increasingly sent their letters to Tobiah, and letters from Tobiah returned to them.
For many in Judah were bound by oath to him because he was the son-in-law of Shecaniah son of Arah. His son Jehohanan took as a wife the daughter of Meshullam son of Berekiah.
They also were speaking of his good deeds in my presence, and they were sending my words out to him. Tobiah sent letters to intimidate me.
</p>

<p>
Now when the wall had been built and I had erected the doors and appointed the gatekeepers, singers, and the Levites,
I gave command over Jerusalem to my brother Hanani and Hananiah the commander of the citadel. For he was a faithful man and feared God more than many.
I said to them, 'Do not open the gates of Jerusalem until the sun is hot. While they are standing guard let them shut and fasten the doors. And appoint guards from the inhabitants of Jerusalem, one at his post and another opposite his house.'
The city was widespread and large, but the people in it were few and no houses were rebuilt.
</p>

<div class="sidenote left">Nehemiah 7:5 <br>to Nehemiah 7:73</div>

<h3>Lists of the Exiles Who Returned</h3>

<p>
Then my God put into my heart to assemble the nobles, the prefects, and the people to be enrolled. I found the book of the genealogy of those who first came back, and I found this written upon it:
</p>

<div class="sidenote">Nehemiah 7:6</div>

<p>
These are the people of the province who came up from captivity of the exiles whom Nebuchadnezzar king of Babylon had carried into exile. They returned to Jerusalem and to Judah, each one to his city.
These came with Zerubbabel, Joshua, Nehemiah, Azariah, Raamiah, Nahamani, Mordecai, Bilshan, Mispereth, Bigvai, Nehum, Baanah.
</p>

<div class="sidenote">Nehemiah 7:8</div>

<p>
the descendants of Parosh, two thousand one hundred and seventy-two.
The descendants of Shephatiah, three hundred and seventy-two.
The descendants of Arah, six hundred and fifty-two.
The descendants of Pahath-Moab, of the descendants of Jeshua and Joab, two thousand eight hundred and eighteen.
The descendants of Elam, one thousand two hundred and fifty-four.
The descendants of Zattu, eight hundred and forty-five.
The descendants of Zaccai, seven hundred and sixty.
The descendants of Binnui, six hundred and forty-eight.
The descendants of Bebai, six hundred and twenty-eight.
The descendants of Azgad, two thousand three hundred and twenty-two.
The descendants of Adonikam, six hundred and sixty-seven.
The descendants of Bigvai, two thousand and sixty-seven.
The descendants of Adin, six hundred and fifty-five.
The descendants of Ater, namely of Hezekiah, ninety-eight.
The descendants of Hashum, three hundred and twenty-eight.
The descendants of Bezai, three hundred and twenty-four.
The descendants of Hariph, one hundred and twelve.
The descendants of Gibeon, ninety-five.
The men of Bethlehem and Netophah, one hundred and eighty-eight.
The men of Anathoth, one hundred and twenty-eight.
The men of Beth-azmaveth, forty-two.
The men of Kiriath-Jearim, Kephirah, and Beeroth, seven hundred and forty-three.
The men of Ramah and Geba, six hundred and twenty-one.
The men of Micmash, one hundred and twenty-two.
The men of Bethel and Ai, one hundred and twenty-three.
The men of the other Nebo, fifty-two.
The people of the other Elam, one thousand two hundred and fifty-four.
The people of Harim, three hundred and twenty.
The people of Jericho, three hundred and forty-five.
The people of Lod, Hadid, and Ono, seven hundred and twenty-one.
The people of Senaah, three thousand nine hundred and thirty.
</p>

<div class="sidenote">Nehemiah 7:39</div>

<p>
The priests: The descendants of Jedaiah, of the house of Jeshua, nine hundred and seventy-three.
The descendants of Immer, one thousand and fifty-two.
The descendants of Pashhur, one thousand two hundred and forty-seven.
The descendants of Harim, one thousand and seventeen.
</p>

<div class="sidenote">Nehemiah 7:43</div>

<p>
The Levites: the descendants of Jeshua, namely of Kadmiel of the descendants of Hodaviah, seventy-four.
The singers: the descendants of Asaph, one hundred and forty-eight.
The gatekeepers: the descendants of Shallum, the descendants of Ater, the descendants of Talmon, the descendants of Akkub, the descendants of Hatita, the descendants of Shobai, one hundred and thirty-eight.
</p>

<div class="sidenote">Nehemiah 7:46</div>

<p>
The temple servants: the descendants of Ziha, the descendants of Hasupha, the descendants of Tabbaoth,
the descendants of Keros, the descendants of Siaha, the descendants of Padon,
the descendants of Lebanah, the descendants of Hagaba, the descendants of Shalmai,
the descendants of Hanan, the descendants of Giddel, the descendants of Gahar,
the descendants of Reaiah, the descendants of Rezin, the descendants of Nekoda,
the descendants of Gazzam, the descendants of Uzza, the descendants of Paseah,
the descendants of Besai, the descendants of Meunim, the descendants of Nephushesim,
the descendants of Bakbuk, the descendants of Hakupha, the descendants of Harhur,
the descendants of Bazlith, the descendants of Mehida, the descendants of Harsha,
the descendants of Barkos, the descendants of Sisera, the descendants of Temah,
the descendants of Neziah, the descendants of Hatipha.
</p>

<div class="sidenote">Nehemiah 7:57</div>

<p>
The descendants of Solomon's servants: the descendants of Sotai, the descendants of Sophereth, the descendants of Perida,
the descendants of Jaala, the descendants of Darkon, the descendants of Giddel,
the descendants of Shephatiah, the descendants of Hattil, the descendants of Pochereth-Hazzebaim, the descendants of Amon.
</p>

<div class="sidenote">Nehemiah 7:60</div>

<p>
All the temple servants and the descendants of Solomon's servants were three hundred and ninety-two.
</p>

<div class="sidenote">Nehemiah 7:61</div>

<p>
These were the ones who came up from Tel-melah, Tel-harsha, Cherub, Addon, and Immer, but they were not able to prove their ancestral houses or their descent, whether they were from Israel:
the descendants of Delaiah, the descendants of Tobiah, the descendants of Nekoda, six hundred and forty-two.
And from the priests: the descendants of Hobaiah, the descendants of Hakkoz, the descendants of Barzillai (who had taken as a wife from the daughters of Barzillai the Gileadite and was called by their name).
These sought their record among those enrolled in the genealogy, but it was not found there, so they were excluded as unclean from the priesthood.
So the governor said to them that they could not eat the most holy food until a priest could come with Urim and Thummim.
</p>

<div class="sidenote">Nehemiah 7:66</div>

<p>
All of the assembly together was forty-two thousand three hundred and sixty,
besides their servants and female slaves these were seven thousand three hundred and thirty-seven. And the male and female singers were two hundred and forty-five,
there were four hundred and thirty-five camels and six thousand seven hundred and twenty male donkeys.
Now some from the heads of the families gave to the work. The governor gave to the storehouse one thousand darics of gold, fifty basins, and five hundred and thirty priestly tunics.
</p>

<div class="sidenote">Nehemiah 7:70</div>

<p>
Now some of the heads of the families gave to the storehouse of the work twenty thousand gold darics and two thousand two hundred silver minas.
And what the rest of the people gave was twenty thousand darics of gold, and two thousand silver minas, and sixty-seven priestly tunics.
So the priests, the Levites, the gatekeepers, the singers, some of the people, the temple servants, and all Israel settled in their cities. When the seventh month came, the Israelites were in their cities.
</p>

<div class="sidenote left">Nehemiah 8:1 <br>to Nehemiah 8:12</div>

<h3>Ezra Reads the Law to the People</h3>

<p>
All of the people gathered as one to the public square before the Water Gate. They asked Ezra the scribe to bring the book of the law of Moses that the LORD had commanded Israel.
So Ezra the priest brought the law before the assembly for each man and woman to hear with understanding, on the first day of the seventh month.
He read from it facing the public square before the Water Gate from dawn until noon that day, opposite the men, women, and those with understanding. The ears of all the people were attentive to the book of the law.
Then Ezra the scribe stood on a wooden podium that had been made for the occasion. And beside him stood Mattithiah, Shema, Anaiah, Uriah, Hilkiah, and Maaseiah on his right. On his left was Pedaiah, Mishael, Malkijah, Hashum, Hashbaddanah, Zechariah, and Meshullam.
Ezra opened the book in the sight of all the people, because he was above all of the people. When he opened it all the people stood up.
Then Ezra blessed the LORD the great God, and all of the people answered, 'Amen! Amen!' while lifting their hands. Then they bowed down and worshiped the LORD with their noses to the ground.
And Jeshua, Bani, Sherebiah, Jamin, Akkub, Shabbethai, Hodiah, Maaseiah, Kelita, Azariah, Jozabad, Hanan, Pelaiah, and the Levites were teaching the people from the law while the people were in their places.
So they read the book from the law of God, making it clear and giving the meaning so that they could understand the reading.
</p>

<div class="sidenote">Nehemiah 8:9</div>

<p>
Nehemiah the governor, Ezra the priest and scribe, and the Levites who taught the people said to all of the people, 'This day is holy to the LORD your God. Do not mourn nor weep.' For all of the people wept when they heard the words of the law.
Then he said to them, 'Go, eat festive food and drink sweet drinks, and send a share to those for whom nothing is prepared; for this day is holy to our lord. Do not be grieved because the joy of the LORD is your refuge.'
So the Levites silenced all of the people, saying, 'Silence, for this day is holy. Do not be grieved.'
All of the people went to eat, to drink, to send a share, and to have great joy because they understood the words that they had made known to them.
</p>

<div class="sidenote left">Nehemiah 8:13 <br>to Nehemiah 8:18</div>

<h3>Festival of Booths</h3>

<p>
On the second day the heads of the families of all the people, the priests, and the Levites gathered together to Ezra the scribe to study the words of the law.
They found written in the law, which the LORD had commanded by the hand of Moses, that the Israelites should live in booths during the festival of the seventh month,
and that they should proclaim and give voice in all of their cities in Jerusalem, saying, 'Go out to the hill and bring olive tree branches, olive oil wood branches, myrtle shrub branches, palm tree branches, and other leafy tree branches to make booths, as it is written.'
So the people went out and brought them and made booths for themselves, each on his roof, in their courtyards, in the courtyards of the house of God, in the public square of the Water Gate, and in the public square of the Gate of Ephraim.
And all of the assembly of those who returned from captivity made booths and lived in the booths because the Israelites had not done it from the days of Jeshua son of Nun until that day. And there was very great joy.
And he read from the scroll of the law of God day by day from the first day up to the last day. They celebrated the festival for seven days, and on the eighth day there was an assembly according to the rule.
</p>

<div class="sidenote left">Nehemiah 9:1 <br>to Nehemiah 9:38</div>

<h3>The Nation Confesses</h3>

<p>
On the twenty-fourth day of this month the Israelites gathered in fasting, in sackcloths, and with soil on them.
Those of the seed of Israel separated themselves from all of the foreigners and stood and confessed their sins and the iniquities of their ancestors.
They stood up in their place and read from the book of the law of the LORD their God for a fourth part of the day, and for a fourth they were confessing and worshiping the LORD their God.
Then Jeshua, Bani, Kadmiel, Shebaniah, Bunni, Sherebiah, Bani, and Kenani stood on the platform of the Levites and cried out with a loud voice to the LORD their God.
Then the Levites, Jeshua, Kadmiel, Bani, Hashabneiah, Sherebiah, Hodiah, Shebaniah, and Pethahiah said, 'Stand up, bless the LORD your God from everlasting until everlasting. Blessed be your glorious name that is being exalted above all blessing and praise!
</p>

<div class="sidenote">Nehemiah 9:6</div>

<p>
'You alone are the LORD. You alone have made the heavens, the heavens of the heavens, and all of their army, the earth and all that is in it, the waters and all that is in them. You give life to all of them, and the army of the heavens worship you.
You are the LORD, the God who chose Abram and brought him from Ur of the Chaldeans and named him Abraham.
You found his heart faithful before you and made a covenant with him to give the land of the Canaanite, the Hittite, the Amorite, the Perizzite, the Jebusite and the Girgashite to give it to his seed. And you have kept your word because you are righteous.
</p>

<div class="sidenote">Nehemiah 9:9</div>

<p>
'You saw the misery of our ancestors in Egypt, and you heard their shout at the Red Sea.
You gave signs and wonders against Pharaoh, all of his servants, and all of the people of his land because you knew that they acted arrogantly against them. You made a name for yourself, as it is this day.
And you divided the sea before them, and they passed through the sea on dry ground, but their pursuers you threw into the depths like a stone into mighty waters.
You led them by day with a column of cloud and with a column of fire by night, to give them light on the way that they were to go.
Then you came down on Mount Sinai and spoke with them from heaven and gave them right judgments and true teachings, good regulations and commandments.
You made known your holy Sabbath to them and gave them commandments, regulations, and law by the hand of your servant Moses.
You gave them bread from heaven for their starvation, and you caused water to go out from a rock for their thirst. You told them to go in order to take into possession the land that you have sworn by your hand to give to them.
</p>

<div class="sidenote">Nehemiah 9:16</div>

<p>
'But they and our ancestors acted arrogantly and stiffened their neck and did not listen to your commandments.
They refused to listen and did not remember your wonders that you did among them. They stiffened their neck and in their rebellion determined to return to their slavery. But you are a God of forgiveness, gracious and compassionate, slow to anger, abundant in loyal love, so you did not abandon them.
Even when they made for themselves a molten idol of a calf and said, 'This is your God who brought you out from Egypt,' and committed great blasphemies.
But you in your many mercies did not abandon them in the desert. The column of cloud that was over them in the day did not cease to leave them on the way, and the column of fire by night that gave light to them on the way that they went.
And you gave your good Spirit to instruct them and did not withhold your manna from their mouth and gave them water for their thirst.
Forty years you sustained them in the desert they were not in need. Their clothing did not wear out and their feet did not swell.
And you gave them kingdoms and nations and allotted them a portion. They took into possession the land of Sihon king of Heshbon and the land of Og king of Bashan.
You made their children numerous like the stars of the heavens and brought them to the land that you told their ancestors to enter in order to take possession.
So the children went in and took possession of the land. You subdued before them the inhabitants of the land, the Canaanites; you gave them into their hand, and their kings and the nations of the land to do with them according to their pleasure.
And they captured fortified cities and a fertile land and took possession of houses filled with every good thing: hewn cisterns, vineyards, olive groves, and many fruit trees. They ate and became full, and they became fat and took delight in your great goodness.
</p>

<div class="sidenote">Nehemiah 9:26</div>

<p>
'But they rebelled and were rebellious against you and cast your law behind their back and killed your prophets, who had warned them to turn back to you, and they did great blasphemies.
Therefore you gave them into the hand of their enemy, and they brought trouble to them. Then in the time of their trouble they cried out to you, and you heard from the heavens, and according to your great compassions, you gave them saviors, and you saved them from the hand of their enemies.
But when they had rest they returned to doing evil before you, and you abandoned them in the hand of their enemies, and they ruled over them. Then they returned and cried out to you, and from the heavens you heard and many times rescued them according to your compassions.
You warned them so that they would return to your law. Yet they acted arrogantly and did not listen to your commandments but sinned against your judgments that a person must do so that they may live. They turned a stubborn shoulder and stiffened their neck and would not listen.
You were patient toward them for many years, and you have warned them by your spirit through the hand of your prophets, but they did not listen. So you gave them into the hand of the nations of the lands.
But in your great compassions you did not put an end to them, and you did not abandon them. For you are a gracious and compassionate God.
</p>

<div class="sidenote">Nehemiah 9:32</div>

<p>
'And now our God, the great, mighty, and awesome God who keeps his covenant and loyal love, do not belittle in your presence all of the hardship that is found in us, our kings, our officials, our priests, our prophets, our ancestors, and all of our people, from the days of the kings of Assyria until this day.
You are righteous in everything that has come on us, for you dealt faithfully, and we have acted wickedly.
Our kings, our officials, our priests, and our ancestors did not keep your law and did not listen to your commandments and statutes that you declared to them.
And in their kingdom and in the greatness you gave to them, and in the wide and fertile land that you gave before them, they did not serve you and did not turn from their evil deeds.
Behold, we are slaves to this day, and the land that you have given to our ancestors to eat its fruits and enjoy its goodness behold, we are slaves in it!
Its rich yield goes to the kings whom you have given over us because of our sins, and they are ruling over our dead bodies and our livestock at their pleasure. We are in great trouble.
</p>

<div class="sidenote">Nehemiah 9:38</div>

<p>
'Now because of all of this we make a binding written agreement and are writing on the sealed documents the names of our commanders, our Levites, and our priests.'
</p>

<div class="sidenote left">Nehemiah 10:1 <br>to Nehemiah 10:27</div>

<h3>The Names of Those Who Signed the Covenant</h3>

<p>
Upon the sealed documents: Nehemiah the governor, son of Hacaliah and Zedekiah;
Seraiah, Azariah, Jeremiah,
Pashhur, Amariah, Malkijah,
Hattush, Shebaniah, Malluch,
Harim, Meremoth, Obadiah,
Daniel, Ginnethon, Baruch,
Meshullam, Abijah, Mijamin,
Maaziah, Bilgai, Shemaiah these are the priests.
And the Levites: Jeshua son of Azaniah, Binnui from the sons of Henadad, Kadmiel;
their brothers Shebaniah, Hodiah, Kelita, Pelaiah, Hanan,
Mica, Rehob, Hashabiah,
Zaccur, Shereiah, Shebanaih,
Hodiah, Bani, Beninu.
The heads of the people: Parosh, Pahath-Moab, Elam, Zattu, Bani,
Bunni, Azgad, Bebai,
Adonijah, Bigvai, Adin,
Ater, Hezekiah, Azzur,
Hodiah, Hashum, Bezai,
Hariph, Anathoth, Nobai,
Magpiash, Meshullam, Hezir,
Meshezabel, Zadok, Jaddua,
Pelatiah, Hanan, Anaiah,
Hoshea, Hananiah, Hasshub,
Hallohesh, Pilha, Shobek,
Rehum, Hashabnah, Maaseiah,
Ahijah, Hanan, Anan,
Malluch, Harim, Baanah.
</p>

<div class="sidenote left">Nehemiah 10:28 <br>to Nehemiah 10:39</div>

<h3>A Summary of the Covenant</h3>

<p>
'The rest of the people, the priests, the Levites, the gatekeepers, the singers, the temple servants, and all who separated themselves from the peoples of the lands to observe the law of God their wives, their sons, their daughters, and all who know and understand
are helping their brothers, their nobles, and entering into a solemn oath to walk in the law of God which was given by the hand of Moses the servant of God, and to observe and do all of the commandments of the LORD our Lord and his judgments and regulations.
We will not give our daughters to the peoples of the land nor take their daughters for our sons.
And the peoples of the land who bring merchandise and any grain on the Sabbath day to sell, we will not accept it from them on the Sabbath or on a holy day. We will forego the crops of the seventh year and cancel every debt.
</p>

<div class="sidenote">Nehemiah 10:32</div>

<p>
'We put on ourselves the commandment upon us to yearly give a third of a shekel for the service of the house of our God:
for the rows of bread, the offering of the daily sacrifice, the continual burnt sacrifice, the Sabbaths, the new moon festivals, the appointed festival times, the holy objects, the sin offerings that make atonement for Israel, and for all the work of the house of our God.
And we have cast lots for the contributions of the wood offering of the priests, the Levites, and the people to bring it to the house of our God, by our fathers' houses, at designated times, year by year, to burn on the altar of the LORD our God as it is written in the law.
We also bring the first fruits of our soil and the first fruits of all the fruit trees, year by year, for the house of the LORD.
And the firstborn of our sons and beasts as it is written in the law and the firstborn of our cattle and sheep, to bring to the house of our God and to the priests serving in the house of our God.
And we bring the best of our dough, our offerings, the fruit of every tree, new wine, and olive oil to the priests, to the chambers of the house of our God; and to bring the tithe of our soil to the Levites, for the Levites receive the tithes in all of our rural towns.
And the priest, the descendant of Aaron, will be with the Levites during the tithe the Levites receive. The Levites will bring up a tithe of the tithes for the house of our God to the chambers of the storehouse.
For the Israelites and the Levites will bring to the storerooms the offering of grain, new wine, and olive oil. These are the objects of the sanctuary and the priests who minister and the gatekeepers and singers. We will not neglect the house of our God.'
</p>

<div class="sidenote left">Nehemiah 11:1 <br>to Nehemiah 11:24</div>

<h3>The Leaders and Servants in Jerusalem</h3>

<p>
Now the commanders of the people lived in Jerusalem, but the remainder of the people cast lots to bring one out of ten to live in the holy city of Jerusalem, the other nine's place was in the other cities.
And the people blessed all the men who willingly offered to live in Jerusalem.
</p>

<div class="sidenote">Nehemiah 11:3</div>

<p>
These are the heads of the province who lived in Jerusalem, but in the cities of Judah each one lived on his property in their cities: Israel, the priests, the Levites, the temple servants, and the descendants of Solomon's servants.
And some from the descendants of Judah and Benjamin lived in Jerusalem. From the descendants of Judah: Athaiah son of Uzziah, son of Zechariah, son of Amariah, son of Shephatiah, son of Mahalalel, from the descendants of Perez;
and Maaseiah son of Baruch, son of Col-Hozeh, son of Hazaiah, son of Adaiah, son of Jehoiarib, son of Zechariah, son of the Shilonite.
All of the descendants of Perez who were living in Jerusalem were four hundred and sixty-eight able-bodied men.
</p>

<div class="sidenote">Nehemiah 11:7</div>

<p>
These are the descendants of Benjamin: Sallu son of Meshullam, son of Joed, son of Pedaiah, son of Kolaiah, son of Maaseiah, son of Ithiel, son of Jeshaiah.
And following after him Gabbai, Sallai, nine hundred and twenty-eight.
And Joel son of Zicri, their chief officer; and Judah son of Hassenuah, second in command over the city.
</p>

<div class="sidenote">Nehemiah 11:10</div>

<p>
From the priests: Jedaiah son of Jehoiarib, Jakin,
Seraiah son of Hilkiah, son of Meshullam, son of Zadok, son of Meraioth, son of Ahitub the leader of the house of God
and their brothers who did the work of the house, eight hundred and twenty-two. And Adaiah son of Jeroham, son of Pelaliah, son of Amzi, son of Zechariah, son of Pashhur, son of Malkijah,
and his brothers, heads of the families, two hundred and forty-two. And Amashai son of Azarel, son of Ahzai, son of Meshillemoth, son of Immer,
and their brothers; mighty warriors of strength, one hundred and twenty-eight. The chief officer over them was Zabdiel son of Hagedolim.
</p>

<div class="sidenote">Nehemiah 11:15</div>

<p>
Now from the Levites: Shemaiah son of Hasshub, son of Azrikam, son of Hashabiah, son of Bunni;
and Shabbethai and Jehozabad, leaders over the work of the Levites outside of the house of God;
Mattaniah son of Micah, son of Zabdi, son of Asaph, who was the leader to begin the thanksgiving prayer, and Bakbukiah the second of his brothers; Abda son of Shammua, son of Galal, son of Jeduthun.
All of the Levites in the holy city were two hundred and eighty-four.
</p>

<div class="sidenote">Nehemiah 11:19</div>

<p>
The gatekeepers: Akkub, Talmon, and their brothers, the keepers of the gates, one hundred and seventy-two.
And the remainder of Israel, the priests and the Levites, in all of the cities of Judah, each in his inheritance.
But the temple servants were living on the Ophel; Ziha and Gishpa were over the temple servants.
</p>

<div class="sidenote">Nehemiah 11:22</div>

<p>
The chief officer of the Levites in Jerusalem was Uzzi son of Bani, son of Hashabiah, son of Mattaniah, son of Mica, from the descendants of Asaph, the singers over the work of the house of God.
For there was a command of the king concerning them and a regulation concerning the singers, required day by day.
And Pethahiah son of Meshezabel, from the descendants of Zerah the son of Judah, was at the hand of the king in all matters concerning the people.
</p>

<div class="sidenote left">Nehemiah 11:25 <br>to Nehemiah 11:36</div>

<h3>Villages Outside of Jerusalem</h3>

<p>
As for the villages in their territories, some from the descendants of Judah lived in Kiriath-Arba and its settlements, Dibon and its settlements, Jekabzeel and its settlements,
Jeshua, Moladah, Beth Pelet,
Hazar Shual, Beersheba and its settlements,
Ziklad, Meconah and its settlements,
En-Rimmon, Zorah, Jarmuch,
Zanoah, Adullam and their settlements, Lachish and its fields, and Azekah and its settlements. So they camped from Beersheba up to the Valley of Hinnom.
The descendants of Benjamin from Geba, Micmash, Aija, Bethel and their settlements,
Anathoth, Nob, Ananiah,
Hazor, Ramah, Gittaim,
Hadid, Zeboim, Neballat,
Lod, and Ono the valley of the artisans.
And from the Levites the working groups of Judah were assigned to Benjamin.
</p>

<div class="sidenote left">Nehemiah 12:1 <br>to Nehemiah 12:26</div>

<h3>The Leaders and Servants in Jerusalem</h3>

<p>
These are the priests and the Levites who came up with Zerubbabel son of Shealtiel and Jeshua: Seraiah, Jeremiah, Ezra,
Amariah, Malluch, Hattush,
Shecaniah, Rehum, Meremoth,
Iddo, Ginnethoi, Abijah,
Mijamin, Maadiah, Bilgah,
Shemaiah, Jehoiarib, Jedaiah,
Sallu, Amok, Hilkiah, Jedaiah. These are the heads of the priests and their brothers in the days of Jeshua.
</p>

<div class="sidenote">Nehemiah 12:8</div>

<p>
And the Levites: Jeshua, Binnui, Kadmiel, Sherebiah, Judah, and Mattaniah and his brothers who were in charge of the songs of thanksgiving.
And Bakbukiah, Unno, their brothers stood opposite them during service.
Jeshua fathered Jehoiakim; Jehoiakim fathered Eliashib; Eliashib fathered Jehoiada;
Jehoiada fathered Jehonathan; Jehonathan fathered Jaddua.
</p>

<div class="sidenote">Nehemiah 12:12</div>

<p>
Now in the days of Jehoiakim the priests and the heads of the families were: of Seraiah, Meraiah; of Jeremiah, Hananiah;
of Ezra, Meshullam; of Amariah, Jehohanan;
of Melichu, Jonathan; of Shebaniah, Joseph;
of Harim, Adna; of Meraioth, Helkai;
of Adaia, Zechariah; of Ginnethon, Meshullam;
of Abijah, Zicri; of Miniamin; of Moadiah, Piltai;
of Bilgah, Shammua; of Shemaiah, Jehonathan;
of Jehoiarib, Mattenai; of Jedaiah, Uzzi;
of Sallu, Kallai; of Amok, Eber;
of Hilkiah, Hashabiah; and of Jedaiah, Nethanel.
</p>

<div class="sidenote">Nehemiah 12:22</div>

<p>
In the days of Eliashib, Jehoiada, Jehohanan, and Jaddua the Levites were recorded as heads of the families. So these were the priests during the reign of Darius the Persian.
The descendants of Levi and the heads of the families were recorded in the scroll of the Annals until the days of Jehohanan son of Eliashib.
And the heads of the Levites: Hashabiah, Sherebiah, Jeshua son of Kadmiel, and their brothers opposite them, to praise and to give thanks by the command of David the man of God, section alongside section.
Mattaniah, Bakbukiah, Obadiah, Meshullam, Talmon, and Akkub were gatekeepers standing guard at the storerooms of the gates.
These were in the days of Jehoiakim son of Jeshua, son of Jehozadak, and in the days of Nehemiah the governor and Ezra the priest and scribe.
</p>

<div class="sidenote left">Nehemiah 12:27 <br>to Nehemiah 12:43</div>

<h3>Dedication of the Wall of Jerusalem</h3>

<p>
At the dedication of the wall of Jerusalem they sought the Levites from all of their places in order to bring them to Jerusalem to do the dedication with joy, thanksgivings, song and cymbals, stringed instruments and lyres.
The singers were gathered from the circuit all around Jerusalem and from the villages of Netophathite,
from Beth Gilgal, from the field of Geba and Azmaveth; for the singers built for themselves villages all around Jerusalem.
And the priests and the Levites purified themselves and purified the people, the gates, and the wall.
</p>

<div class="sidenote">Nehemiah 12:31</div>

<p>
Then I brought the commanders of Judah up on to the wall. I appointed two great choirs; one went in a procession to the right on the wall to the Dung Gate.
After them went Hoshaiah, half of the commanders of Judah,
Azariah, Ezra, Meshullam,
Judah, Benjamin, Shemaiah, Jeremiah,
and the priests with trumpets; Zechariah son of Jehonathan, son of Shemaiah, son of Mattaniah, son of Micaiah, son of Zaccur, son of Asaph;
and his brothers Shemaiah, Azarel, Milalai, Gilalai, Maai, Nethanel, Judah, and Hanani with the instruments of the songs of David the man of God; and Ezra the scribe went before them.
At the Fountain Gate opposite them they went up the steps of the city of David, at the assent to the wall, over the house of David, and up to the Water Gate to the east.
</p>

<div class="sidenote">Nehemiah 12:38</div>

<p>
Then the second choir went the opposite way. I followed after them with half of the people on the wall, from over the Tower of the Ovens up to the Wide Wall
and over the Gate of Ephraim, at the Old Gate, at the Fish Gate, the Tower of Hananel and the Tower of the Hundred, and to the Sheep Gate. And they stopped and stood at the Gate of the Guard.
So the two choirs stood in the house of God, and I and half of the prefects with me;
and the priests Eliakim, Maaseiah, Miniamin, Micaiah, Elioenai, Zechariah, and Hananiah with the trumpets;
Maaseiah, Shemaiah, Eleazar, Uzzi, Jehohanan, Malkijah, Elam, and Ezer. And the singers sang with Jizrahiah the chief officer.
They offered on that day great sacrifices and rejoiced because God brought great joy to them. And the women and children also rejoiced. The joy of Jerusalem was heard from afar.
</p>

<div class="sidenote left">Nehemiah 12:44 <br>to Nehemiah 12:47</div>

<h3>Celebration at the Temple</h3>

<p>
On that day men were appointed for the storehouse rooms, the offerings, the first fruits, and the tithes, in order to gather in them from the fields of the cities the requirements of the law for the priests and Levites; for the joy of Judah was upon the priests and Levites standing there.
They kept the responsibility of their God and the responsibility of cleansing, and the singers and gatekeepers, according to the command of David and his son Solomon.
For in the days of David and Asaph from ancient times there was the head of the singers and a song of praise and thanksgiving to God.
So all of Israel in the days of Zerubbabel and in the days of Nehemiah gave the daily food portions of the singers and gatekeepers. And they set apart that which was for the Levites, and the Levites set apart that which was for the descendants of Aaron.
</p>

<div class="sidenote left">Nehemiah 13:1 <br>to Nehemiah 13:3</div>

<h3>Israel Separates Itself</h3>

<p>
On that day the book of Moses was read in the hearing of the people and it was found written in it that no Ammonite or Moabite should ever come into the assembly of God
because they did not come to meet the Israelites with bread and water, but hired Balaam against them in order to curse them but our God changed the curse into a blessing.
So it happened when they heard the law that they separated all of the foreign people from Israel.
</p>

<div class="sidenote left">Nehemiah 13:4 <br>to Nehemiah 13:14</div>

<h3>Nehemiah Brings Reform</h3>

<p>
Before this, Eliashib the priest who was appointed over the chambers of the house of our God the one related to Tobiah
prepared for Tobiah a large chamber where they had formerly put the grain offering, the frankincense, the temple objects, tithes of grain, wine, and oil commanded for the Levites, the singers, the gatekeepers, and the offerings of the priests.
During all of this, I was not in Jerusalem because in the thirty-second year of Artaxerxes king of Babylon I went to the king. At the end of some days I asked permission from the king to leave.
So I came to Jerusalem. And I came to learn of the wrong that Eliashib had done for Tobiah by making him a room in the courtyard of the house of God.
It was very displeasing for me, and I threw all of the objects from the house of Tobiah outside of the chamber.
And I spoke in order, and they cleansed the chambers. Then I returned the objects of the house of God the grain offering and the frankincense.
</p>

<div class="sidenote">Nehemiah 13:10</div>

<p>
And then I came to learn that the food of the Levites had not been given to them, so that the Levites and the singers, the doers of the work, had gone back each to his field.
So I quarreled with the prefects, and I said, 'Why is the house of God forsaken?' And I gathered them and set them at their station.
So all of Judah brought the tithe of grain, new wine, and olive oil into the storehouses.
I appointed as treasurer over the storehouses Shelemiah the priest, Zadok the scribe, Pedaiah from the Levites, and as their hand Hanan son of Zaccur, son of Mattaniah, for they were considered faithful. The responsibility given to them was to distribute to their brothers.
Remember me, my God, concerning this, and do not wipe out my loyal acts which I have done in the house of my God and in his service.
</p>

<div class="sidenote left">Nehemiah 13:15 <br>to Nehemiah 13:22</div>

<h3>Nehemiah Begins Sabbath Reforms</h3>

<p>
In those days I saw in Judah people treading the wine press on the Sabbath, bringing in heaps of grain and loading them on donkeys along with wine, grapes and figs, and every kind of burden and bringing it all to Jerusalem on the day of the Sabbath. And I warned them at that time against selling food.
Tyrian men who lived in Jerusalem brought fish and every kind of merchandise and sold it on the Sabbath to the descendants of Judah and in Jerusalem.
So I quarreled with the nobles of Judah and said to them, 'What is this evil thing that you are doing, profaning the day of the Sabbath?
Did not your ancestors do this also, and our God brought on us all of this disaster and on this city too? Now you are adding fierce wrath on Israel by profaning the Sabbath!'
</p>

<div class="sidenote">Nehemiah 13:19</div>

<p>
So when it became dark at the gates of Jerusalem before the Sabbath, I commanded that the doors be shut and said that they should not be opened until after the Sabbath. And I appointed some of my young men over the gates to prevent any goods being brought in on the day of the Sabbath.
So the merchants and the sellers of merchandise spent the night outside of Jerusalem once or twice.
But I warned them and said to them, 'Why are you spending the night opposite the wall? If you do it again, I will lay hands against you.' From that time on they did not come on the Sabbath.
And then I told two Levites that they must purify themselves and come to guard the gates in order to consecrate the day of the Sabbath. Remember this also, my God, and take pity on me according to the greatness of your loyal love.
</p>

<div class="sidenote left">Nehemiah 13:23 <br>to Nehemiah 13:31</div>

<h3>Mixed Marriages are Condemned</h3>

<p>
Also in those days I saw Jews who had married women of Ashdod, Ammon, and Moab.
Half of their children spoke Ashdodite and could not speak Judean, but only the tongues of other nations.
So I quarreled with them and cursed them and beat some of their men and pulled out their hair. I made them take an oath by God: 'Do not give your daughters to their sons or take their daughters for your sons or for yourselves.
Did not King Solomon of Israel sin in this way? And among the many nations there was no king like him, and he was beloved by his God, and God made him king over all Israel. Yet the foreign women made even him sin.
Should we listen to you all and do this great evil, acting unfaithfully against our God by marrying foreign women?'
</p>

<div class="sidenote">Nehemiah 13:28</div>

<p>
One from the sons of Jehoiada, son of the high priest Eliashib, who was the son-in-law of Sanballat the Horonote was there. I chased him away from me.
Remember them, my God, because of their defilements of the priesthood and the covenant of the priesthood and the Levites.
</p>

<div class="sidenote">Nehemiah 13:30</div>

<p>
So I cleansed them from everything foreign, and I established responsibilities for the priests and Levites, each in his own work,
a contribution of the wood offering at appointed times, and for the first fruits. Remember me, my God, for good.
</p>
