<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Obadiah</h1>

<p>
The vision of Obadiah. Thus says my Lord the LORD concerning Edom:
'Look, I will make you insignificant among the nations. You will be utterly despised!
The pride of your heart has deceived you, you who live in the clefts of a rock, the heights of its dwelling, you who say in your heart: 'Who can bring me down to the ground?'
Even if you soar like the eagle, even if your nest is set among the stars, from there I will bring you down!' declares the LORD:
'If thieves came to you, if plunderers of the night How you have been destroyed! would they not steal what they wanted? If grape gatherers came, would they not leave gleanings?
How Esau has been pillaged; his treasures have been ransacked!
All of your allies have driven you up to the boundary; your confederates have deceived you and have prevailed against you. Those who eat your bread have set an ambush for you, there is no understanding of it.
On that day,' declares the LORD, 'will I not destroy the wise men from Edom, and understanding from the mountain of Esau?
And your warriors will be shattered, O Teman, so that everyone from the mountain of Esau will be cut off because of the slaughter!
'Because of the violence done to your brother Jacob, shame will cover you and you will be cut off forever.
On the day you stood nearby, on the day strangers took his wealth, and foreigners entered his gates and cast lots over Jerusalem, you were also like one of them.
But you should not have gloated over your brother's day, on the day of his misfortune, and you should not have rejoiced over the people of Judah on the day of their perishing, and you should not have opened your mouth wide on the day of distress.
You should not have entered the gate of my people on the day of their disaster. You also should not have gloated over his misery on the day of his disaster, and you should not have stretched out your hands on the day of his disaster.
And you should not have stood at the crossroads to cut off his fugitives and you should not have handed over his survivors on the day of distress.
'For the day of the LORD is near against all the nations! Just as you have done, it will be done to you. Your deeds will return on your own head.
For just as you have drunk on my holy mountain, all the nations will drink continually. They will drink and they will slurp, and they will be as if they had never been.
But on Mount Zion there will be an escape, and it will be holy, and the house of Jacob will take possession of their dispossessors.
And the house of Jacob will be a fire and the house of Joseph a flame, and the house of Esau stubble; and they will set them on fire and will consume them. And there will not be a survivor for the house of Esau,' for the LORD has spoken.
Those of the Negev will take possession of the mountain of Esau, and those of the Shephelah will possess the land of the Philistines, and they shall take possession of the territory of Ephraim and the territory of Samaria, and Benjamin will take possession of Gilead.
And the exiles of this army of the people of Israel will possess Canaan up to Zarephath, and the exiles of Jerusalem who are in Sepharad will take possession of the cities of the Negev.
And those who have been saved will go up on Mount Zion to rule the mountain of Esau. And the kingdom will belong to the LORD.
</p>
