<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Philemon</h1>

<div class="sidenote left">Philemon 1:1 <br>to Philemon 1:2</div>

<h3>Greeting</h3>

<p>
Paul and Timothy, slaves of Christ Jesus, to all the saints in Christ Jesus who are in Philippi, together with the overseers and deacons.
Grace to you and peace from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">Philemon 1:3 <br>to Philemon 1:8</div>

<h3>Thanksgiving</h3>

<p>
I give thanks to my God upon my every remembrance of you,
always in my every prayer for all of you, making the prayer with joy,
because of your participation in the gospel from the first day until now,
convinced of this same thing, that the one who began a good work in you will finish it until the day of Christ Jesus,
just as it is right for me to think this about all of you, because I have you in my heart, since both in my imprisonment and in the defense and confirmation of the gospel all of you are sharers of grace with me.
For God is my witness, that I long for all of you with the affection of Christ Jesus.
</p>

<div class="sidenote left">Philemon 1:9 <br>to Philemon 1:11</div>

<h3>Prayer for Spiritual Maturity</h3>

<p>
And this I pray: that your love may abound still more and more in knowledge and all discernment,
so that you may approve what is superior, in order that you may be sincere and blameless in the day of Christ,
having been filled with the fruit of righteousness which comes through Jesus Christ to the glory and praise of God.
</p>

<div class="sidenote left">Philemon 1:12 <br>to Philemon 1:26</div>

<h3>The Progress of the Gospel</h3>

<p>
Now I want you to know, brothers, that my circumstances have happened instead for the progress of the gospel,
so that my imprisonment in Christ has become known in the whole praetorium and to all the rest,
and most of the brothers, trusting in the Lord because of my imprisonment, dare even more to speak the word without fear.
Some even because of envy and strife preach Christ, but some also because of good will.
The latter do so from love, knowing that I am appointed for the defense of the gospel.
The former proclaim Christ from selfish ambition, not sincerely, thinking to raise up affliction in my imprisonment.
What is the result? Only that in every way, whether in pretense or in truth, Christ is proclaimed, and in this I rejoice. But also I will rejoice,
for I know that this will turn out to me for deliverance through your prayer and the support of the Spirit of Jesus Christ,
according to my eager expectation and hope, that I will be put to shame in nothing, but with all boldness, even now as always Christ will be exalted in my body, whether through life or through death.
For to me to live is Christ and to die is gain.
But if it is to live in the flesh, this is fruitful work for me, and which I will prefer I do not know.
But I am hard pressed between the two options, having the desire to depart and to be with Christ, for this is very much better.
But to stay on in the flesh is more necessary for your sake.
And because I am convinced of this, I know that I will remain and continue with all of you for your progress and joy in the faith,
so that what you can be proud of may increase in Christ Jesus because of me through my return again to you.
</p>

<div class="sidenote left">Philemon 1:27 <br>to Philemon 1:30</div>

<h3>Stand Firm for the Gospel</h3>

<p>
Only lead your lives in a manner worthy of the gospel of Christ, so that whether I come and see you or am absent I hear your circumstances, that you are standing firm in one spirit, with one soul contending side by side for the faith of the gospel,
and not letting yourselves be intimidated in anything by your opponents, which is a sign of destruction to them, but of your salvation, and this from God,
because to you has been graciously granted on behalf of Christ not only to believe in him, but also to suffer on behalf of him,
having the same struggle which you saw in me and now hear about in me.
</p>

<div class="sidenote left">Philemon 2:1 <br>to Philemon 2:4</div>

<h3>Humility and Unity</h3>

<p>
Therefore, if there is any encouragement in Christ, if any consolation of love, if any fellowship of the Spirit, if any affection and compassion,
complete my joy, so that you are in agreement, having the same love, united in spirit, having one purpose.
Do nothing according to selfish ambition or according to empty conceit, but in humility considering one another better than yourselves,
each of you not looking out for your own interests, but also each of you for the interests of others.
</p>

<div class="sidenote left">Philemon 2:5 <br>to Philemon 2:11</div>

<h3>Christ’s Humiliation and Exaltation</h3>

<p>
Think this in yourselves which was also in Christ Jesus,
</p>

<div class="sidenote">Philemon 2:6</div>

<p>
who, existing in the form of God, did not consider being equal with God something to be grasped,
</p>

<div class="sidenote">Philemon 2:7</div>

<p>
but emptied himself by taking the form of a slave, by becoming in the likeness of people. And being found in appearance like a man,
</p>

<div class="sidenote">Philemon 2:8</div>

<p>
he humbled himself by becoming obedient to the point of death, that is, death on a cross.
</p>

<div class="sidenote">Philemon 2:9</div>

<p>
Therefore also God exalted him and graciously granted him the name above every name,
</p>

<div class="sidenote">Philemon 2:10</div>

<p>
so that at the name of Jesus every knee should bow, of those in heaven and of those on earth and of those under the earth,
</p>

<div class="sidenote">Philemon 2:11</div>

<p>
and every tongue confess that Jesus Christ is Lord, to the glory of God the Father.
</p>

<div class="sidenote left">Philemon 2:12 <br>to Philemon 2:18</div>

<h3>Holding Fast to the Word of Life</h3>

<p>
Therefore my dear friends, just as you have always obeyed, not as in my presence only but now much more in my absence, work out your own salvation with fear and trembling.
For the one at work in you, both to will and to work for his good pleasure, is God.
Do all things without grumbling and disputing,
in order that you may become blameless and innocent, children of God without fault in the midst of a crooked and perverted generation, among whom you shine as stars in the world,
holding fast to the word of life, for a source of pride to me in the day of Christ, that I did not run in vain or labor in vain.
But even if I am being poured out as a drink offering on the sacrifice and service of your faith, I rejoice and rejoice with all of you.
And in the same way also you rejoice and rejoice with me.
</p>

<div class="sidenote left">Philemon 2:19 <br>to Philemon 2:24</div>

<h3>Timothy’s Proven Character</h3>

<p>
But I hope in the Lord Jesus to send Timothy to you soon, so that I also may be encouraged when I know your circumstances.
For I have no one like-minded who will sincerely be concerned about your circumstances.
For they all seek their own interests, not those of Jesus Christ.
But you know his proven character, that like a child with a father he served with me for the gospel.
Therefore I hope to send him at once, as soon as I see my circumstances.
And I am convinced in the Lord that I myself will arrive shortly also.
</p>

<div class="sidenote left">Philemon 2:25 <br>to Philemon 2:30</div>

<h3>Epaphroditus’ Mission</h3>

<p>
But I considered it necessary to send to you Epaphroditus, my brother and fellow worker and fellow soldier, but your messenger and servant of my need,
because he was longing for all of you and was distressed because you had heard that he was sick.
For indeed he was sick, coming near to death, but God had mercy on him and not on him only, but also on me, so that I would not have grief upon grief.
Therefore I am sending him with special urgency, in order that when you see him again you may rejoice, and I may be less anxious.
Therefore welcome him in the Lord with all joy, and consider such people highly honored,
because on account of the work of Christ he came near to the point of death, risking his life in order that he might make up for your inability to serve me.
</p>

<div class="sidenote left">Philemon 3:1 <br>to Philemon 3:4</div>

<h3>Warning Against Evil Workers</h3>

<p>
Finally, my brothers, rejoice in the Lord. To write the same things to you is not troublesome to me, but is a safeguard for you.
Beware of the dogs, beware of the evil workers, beware of the mutilation.
For we are the circumcision, the ones who worship by the Spirit of God and boast in Christ Jesus and do not put confidence in the flesh,
although I could have confidence even in the flesh.
</p>

<div class="sidenote left">Philemon 3:5 <br>to Philemon 3:14</div>

<h3>Righteousness Through Christ</h3>

<p>
circumcised on the eighth day, from the nation of Israel, of the tribe of Benjamin, a Hebrew born from Hebrews, according to the law a Pharisee,
according to zeal persecuting the church, according to the righteousness in the law being blameless.
But whatever things were gain to me, these things I have considered loss because of Christ.
More than that, I even consider all things to be loss because of the surpassing greatness of the knowledge of Christ Jesus my Lord, for the sake of whom I have suffered the loss of all things, and consider them dung, in order that I may gain Christ
and may be found in him, not having my righteousness which is from the law, but which is through faith in Christ, the righteousness from God on the basis of faith,
so that I may know him and the power of his resurrection and the fellowship of his sufferings, being conformed to his death,
if somehow I may attain to the resurrection from the dead.
Not that I have already received this, or have already been made perfect, but I press on if indeed I may lay hold of that for which also I was laid hold of by Christ.
Brothers, I do not consider myself to have laid hold of it. But I do one thing, forgetting the things behind and straining toward the things ahead,
I press on toward the goal for the prize of the upward call of God in Christ Jesus.
</p>

<div class="sidenote left">Philemon 3:15 <br>to Philemon 3:21</div>

<h3>Imitate Paul</h3>

<p>
Therefore as many as are perfect, let us hold this opinion, and if you think anything differently, God will reveal this also to you.
Only to what we have attained, to the same hold on.
Become fellow imitators of me, brothers, and observe those who walk in this way, just as you have us as an example.
For many live, of whom I spoke about to you many times, but now speak about even weeping, as the enemies of the cross of Christ,
whose end is destruction, whose God is the stomach, and whose glory is in their shame, the ones who think on earthly things.
For our commonwealth exists in heaven, from which also we eagerly await a savior, the Lord Jesus Christ,
who will transform our humble body to be conformed to his glorious body, in accordance with the power that enables him even to subject all things to himself.
</p>

<div class="sidenote left">Philemon 4:1 <br>to Philemon 4:3</div>

<h3>Appeal for Unity</h3>

<p>
So then, my beloved and greatly desired brothers, my joy and crown, thus stand firm in the Lord, dear friends.
I appeal to Euodia and I appeal to Syntyche to be in agreement in the Lord.
Yes, I ask also you, true yokefellow, help them, who struggled along with me in the gospel with both Clement and the rest of my fellow workers whose names are in the book of life.
</p>

<div class="sidenote left">Philemon 4:4 <br>to Philemon 4:9</div>

<h3>Be Anxious for Nothing</h3>

<p>
Rejoice in the Lord always; again I say, rejoice.
Let your gentleness be made known to all people. The Lord is near.
Be anxious for nothing, but in everything by prayer and supplication with thanksgiving let your requests be made known to God.
And the peace of God that surpasses all understanding will guard your hearts and your minds in Christ Jesus.
Finally, brothers, whatever things are true, whatever things are honorable, whatever things are right, whatever things are pure, whatever things are pleasing, whatever things are commendable, if there is any excellence of character and if anything praiseworthy, think about these things.
And the things which you have learned and received and heard about and seen in me, practice these things, and the God of peace will be with you.
</p>

<div class="sidenote left">Philemon 4:10 <br>to Philemon 4:20</div>

<h3>Support for Paul’s Ministry</h3>

<p>
But I rejoiced in the Lord greatly that now at last you have renewed your concern for me, for whom also you were thinking, but you had no opportunity to express it.
Not that I speak from need, for I have learned to be content in whatever circumstances I am.
I know how both to make do with little and I know how to have an abundance. In everything and in all things I have learned the secret both to be filled and to be hungry, both to have an abundance and to go without.
I am able to do all things by the one who strengthens me.
Nevertheless you have done well by sharing with me in my affliction.
Now you also know, Philippians, that at the beginning of the gospel, when I departed from Macedonia, no church shared with me in the matter of giving and receiving except you alone,
because even in Thessalonica on more than one occasion you sent for my need.
Not that I seek the gift, but I seek for the profit that increases to your account.
But I have received everything in full and have an abundance; I am well supplied because I received from Epaphroditus what you had sent, a fragrant offering, an acceptable sacrifice, well-pleasing to God.
And my God will fulfill your every need according to his riches in glory in Christ Jesus.
Now to our God and Father be the glory forever and ever. Amen.
</p>

<div class="sidenote left">Philemon 4:21 <br>to Philemon 4:23</div>

<h3>Final Greetings and Benediction</h3>

<p>
Greet every saint in Christ Jesus. The brothers with me greet you.
All the saints greet you, and especially those of Caesar's household.
The grace of the Lord Jesus Christ be with your spirit.
</p>
