<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Revelation</h1>

<div class="sidenote left">Revelation 1:1 <br>to Revelation 1:3</div>

<h3>Prologue</h3>

<p>
The revelation of Jesus Christ, which God gave him to show to his slaves the things which must take place in a short time, and communicated it by sending it through his angel to his slave John,
who testified about the word of God and the testimony of Jesus Christ, all that he saw.
Blessed is the one who reads aloud and blessed are those who hear the words of the prophecy and observe the things written in it, because the time is near!
</p>

<div class="sidenote left">Revelation 1:4 <br>to Revelation 1:8</div>

<h3>Greetings to the Churches</h3>

<p>
John, to the seven churches in Asia: grace to you and peace from the one who is and the one who was and the one who is coming, and from the seven spirits who are before his throne,
and from Jesus Christ the faithful witness, the firstborn from the dead and the ruler of the kings of the earth.
</p>

<div class="sidenote">Revelation 1:6</div>

<p>
and made us a kingdom, priests to his God and Father to him be the glory and the power forever and ever. Amen.
</p>

<div class="sidenote">Revelation 1:7</div>

<p>
Behold, he is coming with the clouds, and every eye will see him, even every one who pierced him, and all the tribes of the earth will mourn over him.
</p>

<div class="sidenote">Revelation 1:8</div>

<p>
I am the Alpha and the Omega, says the Lord God, the one who is and the one who was and the one who is coming, the All-Powerful.
</p>

<div class="sidenote left">Revelation 1:9 <br>to Revelation 1:20</div>

<h3>John’s Vision of the Son of Man</h3>

<p>
I, John, your brother and co-sharer in the affliction and kingdom and steadfastness in Jesus, was on the island called Patmos because of the word of God and the testimony about Jesus.
I was in the Spirit on the Lord's day, and I heard behind me a great sound like a trumpet
saying, 'What you see, write in a book and send it to the seven churches: to Ephesus and to Smyrna and to Pergamum and to Thyatira and to Sardis and to Philadelphia and to Laodicea.'
</p>

<div class="sidenote">Revelation 1:12</div>

<p>
And I turned to see the voice which was speaking with me, and when I turned, I saw seven gold lampstands,
and in the midst of the lampstands one like a son of man, dressed in a robe reaching to the feet and girded around his chest with a golden belt,
and his head and hair were white like wool, white as snow, and his eyes were like a fiery flame,
and his feet were like fine bronze when it has been fired in a furnace, and his voice was like the sound of many waters,
and he had in his right hand seven stars, and a sharp double-edged sword coming out of his mouth, and his face was like the sun shining in its strength.
</p>

<div class="sidenote">Revelation 1:17</div>

<p>
And when I saw him, I fell at his feet like a dead person, and he placed his right hand on me, saying, 'Do not be afraid! I am the first and the last,
and the one who lives, and I was dead, and behold, I am living forever and ever, and I hold the keys of death and of Hades.
Therefore, write the things which you saw, and the things which are, and the things which are about to take place after these things.
As for the mystery of the seven stars which you saw in my right hand and the seven gold lampstands the seven stars are the angels of the seven churches, and the seven lampstands are the seven churches.
</p>

<div class="sidenote left">Revelation 2:1 <br>to Revelation 2:7</div>

<h3>The Letter to the Church in Ephesus</h3>

<p>
'To the angel of the church in Ephesus write:
</p>

<div class="sidenote">Revelation 2:2</div>

<p>
'I know your works, and your labor and patient endurance, and that you are not able to tolerate evil, and you put to the test those who call themselves apostles and are not, and you found them to be false.
And you have patient endurance, and have endured many things because of my name, and have not become weary.
But I have this against you: that you have left your first love.
Remember therefore from where you have fallen, and repent and do the works you did at first. But if you do not, I am coming to you, and I will remove your lampstand from its place, unless you repent.
But you do have this: that you hate the deeds of the Nicolaitans, things which I also hate.
The one who has an ear, let him hear what the Spirit says to the churches. To the one who conquers, I will grant to him to eat from the tree of life which is in the paradise of God.'
</p>

<div class="sidenote left">Revelation 2:8 <br>to Revelation 2:11</div>

<h3>The Letter to the Church in Smyrna</h3>

<p>
'And to the angel of the church in Smyrna write:
</p>

<div class="sidenote">Revelation 2:9</div>

<p>
'I know your affliction and poverty (but you are rich), and the slander of those who call themselves Jews and are not, but are a synagogue of Satan.
Do not be afraid of the things which you are about to suffer. Behold, the devil is about to throw some of you into prison so that you may be tested, and you will experience affliction ten days. Be faithful until death, and I will give you the crown of life.
The one who has an ear, let him hear what the Spirit says to the churches. The one who conquers will never be harmed by the second death.'
</p>

<div class="sidenote left">Revelation 2:12 <br>to Revelation 2:17</div>

<h3>The Letter to the Church in Pergamum</h3>

<p>
'And to the angel of the church in Pergamum write:
</p>

<div class="sidenote">Revelation 2:13</div>

<p>
'I know where you live, where the throne of Satan is. And you hold fast to my name and did not deny your faith in me, even in the days of Antipas my faithful witness, who was killed among you, where Satan lives.
But I have a few things against you: that you have there those who hold fast to the teaching of Balaam, who taught Balak to put a stumbling block before the sons of Israel, to eat food sacrificed to idols and to commit sexual immorality.
So likewise you also have those who hold fast to the teaching of the Nicolaitans.
Therefore repent! But if you do not, I am coming to you quickly, and I will make war with them with the sword from my mouth.
The one who has an ear, let him hear what the Spirit says to the churches. To the one who conquers, I will give to him some of the hidden manna, and I will give to him a white stone, and on the stone a new name written, that no one knows except the one who receives it.'
</p>

<div class="sidenote left">Revelation 2:18 <br>to Revelation 2:29</div>

<h3>The Letter to the Church in Thyatira</h3>

<p>
'And to the angel of the church in Thyatira write:
</p>

<div class="sidenote">Revelation 2:19</div>

<p>
'I know your works, and your love, and faith, and service, and patient endurance and your last works are greater than the first.
But I have against you that you tolerate the woman Jezebel, the one who calls herself a prophetess, and teaches and deceives my slaves to commit sexual immorality and to eat food sacrificed to idols.
And I have given her time in order to repent, and she did not want to repent from her sexual immorality.
Behold, I am throwing her into a sickbed and those who committed adultery with her into great affliction, unless they repent from her deeds.
And I will kill her children with deadly disease, and all the churches will know that I am the one who searches minds and hearts, and I will give to each one of you according to your deeds.
But I say to you, to the rest who are in Thyatira, all those who do not hold this teaching, who have not known the deep things of Satan, as they say, I do not put upon you any other burden.
Nevertheless, hold fast to what you have until I come.
And the one who conquers and who keeps my works until the end, I will give him authority over the nations,
and 'he will shepherd them with an iron rod; he will break them in pieces like jars made of clay,'
as I also have received from my Father, and I will give him the morning star.
The one who has an ear, let him hear what the Spirit says to the churches.'
</p>

<div class="sidenote left">Revelation 3:1 <br>to Revelation 3:6</div>

<h3>The Letter to the Church in Sardis</h3>

<p>
'And to the angel of the church in Sardis write:
</p>

<div class="sidenote">Revelation 3:2</div>

<p>
Be on the alert and strengthen the remaining things that are about to die, for I have not found your works completed before my God.
Therefore remember how you have received and heard, and observe it, and repent. If therefore you are not on the alert, I will come like a thief, and you will never know at what hour I will come against you.
But you have a few people in Sardis who have not defiled their clothing, and they will walk with me in white, because they are worthy.
The one who conquers in this way will be dressed in white clothing, and I will never erase his name from the book of life, and I will declare his name before my Father and before his angels.
The one who has an ear, let him hear what the Spirit says to the churches.'
</p>

<div class="sidenote left">Revelation 3:7 <br>to Revelation 3:13</div>

<h3>The Letter to the Church in Philadelphia</h3>

<p>
'And to the angel of the church in Philadelphia write:
</p>

<div class="sidenote">Revelation 3:8</div>

<p>
'I know your works (behold, I have put before you an opened door that no one is able to shut) that you have a little strength, and have kept my word, and did not deny my name.
Behold, I am causing those of the synagogue of Satan, the ones who call themselves Jews and are not, but are lying behold, I will make them come and kneel down before your feet and acknowledge that I have loved you.
Because you have kept the word of my patient endurance, I also will keep you from the hour of testing that is about to come upon the whole inhabited world, to put to the test those who live on the earth.
I am coming quickly! Hold fast to what you have, so that no one may take away your crown.
The one who conquers, I will make him a pillar in the temple of my God, and he will never go outside again, and I will write on him the name of my God and the name of the city of my God, the new Jerusalem that comes down from heaven from my God, and my new name.
The one who has an ear, let him hear what the Spirit says to the churches.'
</p>

<div class="sidenote left">Revelation 3:14 <br>to Revelation 3:22</div>

<h3>The Letter to the Church in Laodicea</h3>

<p>
'And to the angel of the church in Laodicea write:
</p>

<div class="sidenote">Revelation 3:15</div>

<p>
'I know your works, that you are neither cold nor hot. Would that you were cold or hot!
Thus, because you are lukewarm and neither hot nor cold, I am about to vomit you out of my mouth!
Because you are saying, 'I am rich, and have become rich, and I have need of nothing,' and you do not know that you are wretched and pitiable and poor and blind and naked,
I advise you to buy from me gold refined by fire, in order that you may become rich, and white clothing, in order that you may be clothed and the shame of your nakedness may not be revealed, and eye salve to smear on your eyes, in order that you may see.
As many as I love, I reprove and discipline. Be zealous, therefore, and repent!
Behold, I stand at the door and knock! If anyone hears my voice and opens the door, indeed I will come in to him and dine with him, and he with me.
The one who conquers, I will grant to him to sit down with me on my throne, as I also have conquered and have sat down with my Father on his throne.
The one who has an ear, let him hear what the Spirit says to the churches.''
</p>

<div class="sidenote left">Revelation 4:1 <br>to Revelation 4:11</div>

<h3>The Heavenly Throne</h3>

<p>
After these things I looked, and behold, an open door in heaven, and the former voice that I had heard like a trumpet speaking with me was saying, 'Come up here and I will show you the things which must take place after these things.'
Immediately I was in the Spirit, and behold, a throne was set in heaven, and one was seated on the throne.
And the one seated was similar in appearance to jasper and carnelian stone, and a rainbow was around the throne similar in appearance to emerald.
And around the throne were twenty-four thrones, and seated on the thrones were twenty-four elders dressed in white clothing, and on their heads were gold crowns.
And from the throne came out lightnings and sounds and thunders, and seven torches of fire were burning before the throne, which are the seven spirits of God.
And before the throne was something like a sea of glass, like crystal, and in the midst of the throne and around the throne were four living creatures full of eyes in front and in back.
And the first living creature was similar to a lion, and the second living creature was similar to an ox, and the third living creature had a face like a man's, and the fourth living creature was similar to an eagle flying.
And the four living creatures, each one of them, had six wings apiece, full of eyes around and inside, and they do not have rest day and night, saying,
</p>

<div class="sidenote">Revelation 4:9</div>

<p>
And whenever the living creatures give glory and honor and thanks to the one who is seated on the throne, the one who lives forever and ever,
the twenty-four elders fall down before the one who is seated on the throne and worship the one who lives forever and ever, and put down their crowns before the throne, saying,
</p>

<div class="sidenote">Revelation 4:11</div>

<p>
'You are worthy, our Lord and God, to receive glory and honor and power, because you have created all things, and because of your will they existed and were created.'
</p>

<div class="sidenote left">Revelation 5:1 <br>to Revelation 5:14</div>

<h3>The Scroll with Seven Seals and the Lamb</h3>

<p>
And I saw in the right hand of the one who is seated on the throne a scroll, written inside and on the back, sealed up with seven seals.
And I saw a powerful angel proclaiming with a loud voice, 'Who is worthy to open the scroll and to break its seals?'
And no one in heaven or on earth or under the earth was able to open the scroll or to look into it.
And I began to weep loudly because no one was found worthy to open the scroll or to look into it.
And one of the elders said to me, 'Do not weep! Behold, the lion of the tribe of Judah, the root of David, has conquered, so that he can open the scroll and its seven seals.
</p>

<div class="sidenote">Revelation 5:6</div>

<p>
And I saw in the midst of the throne and of the four living creatures and in the midst of the elders a Lamb standing as though slaughtered, having seven horns and seven eyes, which are the seven spirits of God sent into all the earth.
And he came and took the scroll from the right hand of the one who was seated on the throne.
And when he took the scroll, the four living creatures and the twenty-four elders fell down before the Lamb, each one of whom had a harp and golden bowls full of incense, which are the prayers of the saints.
And they were singing a new song, saying,
</p>

<div class="sidenote">Revelation 5:10</div>

<p>
and made them a kingdom and priests to our God, and they will reign on the earth.'
</p>

<div class="sidenote">Revelation 5:11</div>

<p>
And I looked, and I heard the voice of many angels around the throne and of the living creatures and of the elders, and their number was ten thousand times ten thousand and thousands times thousands,
saying with a loud voice,
</p>

<div class="sidenote">Revelation 5:13</div>

<p>
And I heard every creature that is in heaven and on the earth and under the earth and in the sea and everything in them saying,
</p>

<div class="sidenote">Revelation 5:14</div>

<p>
And the four living creatures were saying, 'Amen!' and the elders fell down and worshiped.
</p>

<div class="sidenote left">Revelation 6:1 <br>to Revelation 6:17</div>

<h3>The Opening of the First Six Seals</h3>

<p>
And I watched when the Lamb opened one of the seven seals, and I heard one of the four living creatures saying like the sound of thunder, 'Come!'
And I looked, and behold, a white horse, and the one seated on it had a bow, and a crown was given to him, and he went out conquering and in order that he might conquer.
</p>

<div class="sidenote">Revelation 6:3</div>

<p>
And when he opened the second seal, I heard the second living creature saying, 'Come!'
And another horse came out, fiery red, and it was granted to the one seated on it to take peace from the earth, and that they would slaughter one another, and a large sword was given to him.
</p>

<div class="sidenote">Revelation 6:5</div>

<p>
And when he opened the third seal, I heard the third living creature saying, 'Come!' And I looked, and behold, a black horse, and the one seated on it had a balance scale in his hand.
And I heard something like a voice in the midst of the four living creatures saying, 'A quart of wheat for a denarius, and three quarts of barley for a denarius, and do not damage the olive oil and the wine!'
</p>

<div class="sidenote">Revelation 6:7</div>

<p>
And when he opened the fourth seal, I heard a voice from the fourth living creature saying, 'Come!'
And I looked, and behold, a pale green horse, and the one seated on it was named Death, and Hades followed after him. And authority was granted to them over a fourth of the earth, to kill by the sword and by famine and by pestilence and by the wild beasts of the earth.
</p>

<div class="sidenote">Revelation 6:9</div>

<p>
And when he opened the fifth seal, I saw under the altar the souls of those who had been slaughtered because of the word of God and because of the testimony which they had,
and they cried out with a loud voice, saying, 'How long, holy and true Lord, will you not judge and avenge our blood from those who live on the earth?'
And to each one of them a white robe was given, and it was said to them that they should rest yet a short time, until the number of their fellow slaves and their brothers who were about to be killed as they had been were completed also.
</p>

<div class="sidenote">Revelation 6:12</div>

<p>
And I watched when he opened the sixth seal, and a great earthquake took place, and the sun became black like sackcloth made of hair, and the whole moon became like blood,
and the stars of heaven fell to the earth like a fig tree throws down its unripe figs when shaken by a great wind.
And the sky was split apart like a scroll that is rolled up, and every mountain and island were moved from their place.
And the kings of the earth, and the most important people, and the military leaders, and the rich, and the powerful, and every slave and free person hid themselves in the caves and among the rocks of the mountains,
And they said to the mountains and to the rocks, 'Fall on us and hide us from the face of the one who is seated on the throne, and from the wrath of the Lamb,
because the great day of their wrath has come, and who is able to stand?'
</p>

<div class="sidenote left">Revelation 7:1 <br>to Revelation 7:8</div>

<h3>The Sealing of the 144,000</h3>

<p>
After this I saw four angels standing at the four corners of the earth, holding back the four winds of the earth, so that no wind could blow on the earth or on the sea or on any tree.
And I saw another angel ascending from the east, holding the seal of the living God, and he cried out with a loud voice to the four angels who were given permission to damage the earth and the sea,
saying, 'Do not damage the earth or the sea or the trees until we have sealed the slaves of our God on their foreheads.'
And I heard the number of the ones who were sealed, one hundred forty-four thousand sealed from every tribe of the sons of Israel:
</p>

<div class="sidenote">Revelation 7:5</div>

<p>
from the tribe of Judah, twelve thousand sealed,
</p>

<div class="sidenote">Revelation 7:6</div>

<p>
from the tribe of Asher, twelve thousand,
</p>

<div class="sidenote">Revelation 7:7</div>

<p>
from the tribe of Simeon, twelve thousand,
</p>

<div class="sidenote">Revelation 7:8</div>

<p>
from the tribe of Zebulun, twelve thousand,
</p>

<div class="sidenote left">Revelation 7:9 <br>to Revelation 7:17</div>

<h3>The Great Crowd before the Throne</h3>

<p>
After these things I looked, and behold, a great crowd that no one was able to number, from every nation and tribe and people and language, standing before the throne and before the Lamb, dressed in white robes and with palm branches in their hands.
And they were crying out with a loud voice, saying,
</p>

<div class="sidenote">Revelation 7:11</div>

<p>
And all the angels stood around the throne and the elders and the four living creatures, and they fell down on their faces before the throne and worshiped God,
saying,
</p>

<div class="sidenote">Revelation 7:13</div>

<p>
And one of the elders answered, saying to me, 'These who are dressed in the white robes who are they, and from where have they come?'
And I said to him, 'My lord, you know.' And he said to me,
</p>

<div class="sidenote">Revelation 7:15</div>

<p>
Because of this, they are before the throne of God, and they serve him day and night in his temple, and the one who is seated on the throne will shelter them.
</p>

<div class="sidenote">Revelation 7:16</div>

<p>
They will not be hungry any longer or be thirsty any longer, nor will the sun ever beat down on them, nor any heat,
</p>

<div class="sidenote">Revelation 7:17</div>

<p>
because the Lamb who is in the midst of the throne will shepherd them and will lead them to springs of living waters, and God will wipe away every tear from their eyes.'
</p>

<div class="sidenote left">Revelation 8:1 <br>to Revelation 8:5</div>

<h3>The Opening of the Seventh Seal</h3>

<p>
And when he opened the seventh seal, there was silence in heaven for about half an hour.
And I saw the seven angels who stand before God, and seven trumpets were given to them.
And another angel who had a golden censer came and stood at the altar, and a large amount of incense was given to him, in order that he could offer the prayers of all the saints on the golden altar that is before the throne.
And the smoke of the incense went up before God with the prayers of the saints from the hand of the angel.
And the angel took the censer and filled it with the fire from the altar and threw it to the earth, and there were thunders and sounds and lightnings and an earthquake.
</p>

<div class="sidenote left">Revelation 8:6 <br>to Revelation 8:13</div>

<h3>The Blowing of the Trumpets</h3>

<p>
And the seven angels who had the seven trumpets prepared themselves in order to blow them.
</p>

<div class="sidenote">Revelation 8:7</div>

<p>
And the first blew the trumpet, and there was hail and fire mixed with blood, and it was thrown to the earth, and a third of the earth was burned up, and a third of the trees were burned up, and all the green grass was burned up.
</p>

<div class="sidenote">Revelation 8:8</div>

<p>
And the second angel blew the trumpet, and something like a great mountain burning with fire was thrown into the sea, and a third of the sea became blood,
and a third of the creatures in the sea the ones which had life died, and a third of the ships were destroyed.
</p>

<div class="sidenote">Revelation 8:10</div>

<p>
And the third angel blew the trumpet, and a great star burning like a torch fell from heaven, and it fell on a third of the rivers and on the springs of water.
And the name of the star was called Wormwood, and a third of the waters became wormwood, and many people died from the waters because they were made bitter.
</p>

<div class="sidenote">Revelation 8:12</div>

<p>
And the fourth angel blew the trumpet, and a third of the sun was struck, and a third of the moon, and a third of the stars, so that a third of them were darkened, and the day did not shine with respect to a third of it, and the night likewise.
</p>

<div class="sidenote">Revelation 8:13</div>

<p>
And I looked, and I heard one eagle flying directly overhead, saying with a loud voice, 'Woe, woe, woe to those who live on the earth, from the remaining sounds of the trumpets of the three angels who are about to blow the trumpet!'
</p>

<div class="sidenote left">Revelation 9:1 <br>to Revelation 9:12</div>

<h3>Tormenting Locusts from the Abyss</h3>

<p>
And the fifth angel blew the trumpet, and I saw a star that had fallen from heaven to the earth, and the key of the shaft of the abyss was given to him.
And he opened the shaft of the abyss, and smoke went up from the shaft like smoke from a great furnace, and the sun and the air were darkened by the smoke from the shaft.
And out of the smoke locusts came to the earth, and power was given to them like the scorpions of the earth have power.
And it was told to them that they should not damage the grass of the earth or any green plant or any tree, except those people who do not have the seal of God on their foreheads.
And it was granted to them that they should not kill them, but that they would be tormented five months, and their torment is like the torment of a scorpion when it stings a person.
And in those days people will seek death and will never find it, and they will long to die, and death will flee from them.
</p>

<div class="sidenote">Revelation 9:7</div>

<p>
And the appearance of the locusts was like horses prepared for battle, and on their heads were something like crowns similar in appearance to gold, and their faces were like men's faces,
and they had hair like the hair of women, and their teeth were like the teeth of lions,
and they had breastplates like iron breastplates, and the sound of their wings was like the sound of many horse-drawn chariots running into battle.
And they have tails similar in appearance to scorpions, and stings, and their power to injure people for five months is in their tails.
They have as king over them the angel of the abyss, whose name in Hebrew is Abaddon, and in Greek he has the name Apollyon.
</p>

<div class="sidenote">Revelation 9:12</div>

<p>
The first woe has passed. Behold, two woes are still coming after these things.
</p>

<div class="sidenote left">Revelation 9:13 <br>to Revelation 9:21</div>

<h3>A Third of Humanity Killed by Plagues</h3>

<p>
And the sixth angel blew the trumpet, and I heard one voice from the horns of the golden altar that is before God
saying to the sixth angel, the one who had the trumpet, 'Release the four angels who have been bound at the great river Euphrates!'
And the four angels who had been prepared for the hour and day and month and year were released, in order that they should kill a third of humanity.
And the number of the troops of the cavalry was two hundred million; I heard the number of them.
And in this way I saw the horses in the vision, and those seated on them, who had fiery red and hyacinth-colored and sulphurous yellow breastplates, and the heads of the horses were like the heads of lions, and out of their mouths came fire and smoke and sulphur.
By these three plagues a third of humanity was killed by the fire and the smoke and the sulphur that came out of their mouths.
For the power of the horses is in their mouths and in their tails, for their tails are similar in appearance to snakes, having heads, and with them they cause injury.
</p>

<div class="sidenote">Revelation 9:20</div>

<p>
And the rest of humanity who were not killed by these plagues did not repent of the works of their hands, in order not to worship the demons and the gold and silver and bronze and stone and wooden idols, which are able neither to see nor to hear nor to walk,
and they did not repent of their murders or of their magic spells or of their sexual immorality or of their thefts.
</p>

<div class="sidenote left">Revelation 10:1 <br>to Revelation 10:11</div>

<h3>The Angel and the Little Scroll</h3>

<p>
And I saw another powerful angel descending from heaven, wrapped in a cloud, and a rainbow over his head, and his face was like the sun, and his feet were like pillars of fire,
and holding in his hand a little scroll that was opened. And he put his right foot on the sea and his left on the land.
And he cried out with a loud voice like a lion roars, and when he cried out, the seven thunders sounded their own voices.
And when the seven thunders spoke, I was about to write, and I heard a voice from heaven saying, 'Seal up the things which the seven thunders spoke, and do not write them!'
</p>

<div class="sidenote">Revelation 10:5</div>

<p>
And the angel whom I saw standing on the sea and on the land raised his right hand to heaven
and swore by the one who lives forever and ever, who created heaven and the things in it, and the earth and the things in it, and the sea and the things in it, 'There will be no more delay!
But in the days of the sound of the seventh angel, whenever he is about to blow the trumpet, then the mystery of God is completed, as he announced to his own slaves the prophets.'
</p>

<div class="sidenote">Revelation 10:8</div>

<p>
And the voice that I had heard from heaven was speaking with me again and saying, 'Go, take the opened scroll in the hand of the angel who is standing on the sea and on the land.'
And I went to the angel and told him to give me the little scroll, and he said to me, 'Take and eat it up, and it will make your stomach bitter, but in your mouth it will be sweet as honey.'
And I took the little scroll from the hand of the angel and ate it up, and it was sweet as honey in my mouth, and when I had eaten it, my stomach was made bitter.
And they said to me, 'It is necessary for you to prophesy again about many peoples and nations and languages and kings.'
</p>

<div class="sidenote left">Revelation 11:1 <br>to Revelation 11:14</div>

<h3>The Two Witnesses</h3>

<p>
And a measuring rod similar in appearance to a staff was given to me, saying, 'Get up and measure the temple of God and the altar and those who worship in it.
And leave out the courtyard outside of the temple, and do not measure it, because it has been given to the Gentiles, and they will trample the holy city for forty two months.
And I will grant authority to my two witnesses, and they will prophesy for one thousand two hundred sixty days, dressed in sackcloth.'
These are the two olive trees and the two lampstands that stand before the Lord of the earth.
And if anyone wants to harm them, fire comes out of their mouth and consumes their enemies. And if anyone wants to harm them, in this way he must be killed.
These have the authority to shut the sky, so that it does not rain during the days of their prophecy. And they have authority over the waters, to turn them to blood, and to strike the earth with every plague as often as they wish.
</p>

<div class="sidenote">Revelation 11:7</div>

<p>
And when they have completed their testimony, the beast that comes up from the abyss will make war with them and will conquer them and will kill them.
And their dead bodies will lie in the street of the great city which is called symbolically Sodom and Egypt, where also their Lord was crucified.
And those from peoples and tribes and languages and nations will see their dead bodies three and a half days, and they will not allow their dead bodies to be placed in a tomb.
And those who live on the earth will rejoice over them, and will celebrate and will send gifts to one another, because these two prophets tormented those who live on the earth.
</p>

<div class="sidenote">Revelation 11:11</div>

<p>
And after the three and a half days, the breath of life from God entered into them, and they stood on their feet, and great fear fell on those who saw them.
And they heard a loud voice from heaven saying to them, 'Come up here,' and they went up into heaven in a cloud, and their enemies watched them.
And at that hour a great earthquake took place, and a tenth of the city collapsed, and seven thousand people were killed by the earthquake, and the rest became terrified and gave glory to the God of heaven.
The second woe has passed. Behold, the third woe is coming quickly!
</p>

<div class="sidenote left">Revelation 11:15 <br>to Revelation 11:19</div>

<h3>The Blowing of the Seventh Trumpet</h3>

<p>
And the seventh angel blew the trumpet, and there was a loud voice in heaven saying,
</p>

<div class="sidenote">Revelation 11:16</div>

<p>
And the twenty-four elders who are seated on their thrones before God fell down on their faces and worshiped God,
saying,
</p>

<div class="sidenote">Revelation 11:18</div>

<p>
And the nations were angry, and your wrath has come, and the time for the dead to be judged, and to give their reward to your slaves the prophets and to the saints and to the ones who fear your name, the small and the great, and to destroy those who destroy the earth.'
</p>

<div class="sidenote">Revelation 11:19</div>

<p>
And the temple of God in heaven was opened, and the ark of his covenant appeared in his temple, and there were lightnings and sounds and thunders and an earthquake and large hail.
</p>

<div class="sidenote left">Revelation 12:1 <br>to Revelation 12:6</div>

<h3>The Woman and Her Son Versus the Dragon</h3>

<p>
And a great sign appeared in heaven: a woman clothed with the sun and with the moon under her feet, and on her head a crown of twelve stars,
and who was pregnant and was crying out because she was having birth pains, and was in torment to give birth.
And another sign appeared in heaven, and behold, a great fiery red dragon, having seven heads and ten horns, and on his heads were seven royal headbands.
And his tail swept away a third of the stars from heaven and threw them to the earth. And the dragon stood before the woman who was about to give birth, in order that whenever she gave birth to her child he could devour it.
And she gave birth to a son, a male child, who is going to shepherd all the nations with an iron rod, and her child was snatched away to God and to his throne.
And the woman fled into the wilderness, where she had a place prepared there by God, so that they could feed her there for one thousand two hundred sixty days.
</p>

<div class="sidenote left">Revelation 12:7 <br>to Revelation 12:18</div>

<h3>Satan Thrown Down from Heaven to Earth</h3>

<p>
And there was war in heaven; Michael and his angels fought against the dragon, and the dragon and his angels fought back.
And they did not prevail, nor was a place found for them any longer in heaven.
And the great dragon was thrown down, the ancient serpent, who is called the devil and Satan, who deceives the whole world. He was thrown down to the earth, and his angels were thrown down with him.
</p>

<div class="sidenote">Revelation 12:10</div>

<p>
And I heard a loud voice in heaven saying,
</p>

<div class="sidenote">Revelation 12:11</div>

<p>
And they conquered him by the blood of the Lamb and by the word of their testimony, and they did not love their lives until death.
</p>

<div class="sidenote">Revelation 12:12</div>

<p>
Because of this, rejoice, you heavens, and those who live in them! Woe to the earth and to the sea, because the devil has come down to you, having great anger, because he knows that he has little time!'
</p>

<div class="sidenote">Revelation 12:13</div>

<p>
And when the dragon saw that he had been thrown down to the earth, he pursued the woman who had given birth to the male child.
And the two wings of a great eagle were given to the woman, in order that she could fly into the wilderness, to her place where she is fed there for a time, and times, and half a time, from the presence of the serpent.
And from his mouth the serpent spouted water like a river after the woman, in order that he could make her swept away by a river.
And the earth came to the aid of the woman, and the earth opened its mouth and swallowed up the river that the dragon had spouted out of his mouth.
And the dragon was angry at the woman, and went away to fight against the rest of her children, those who keep the commandments of God and who hold to the testimony about Jesus.
And he stood on the sand of the sea.
</p>

<div class="sidenote left">Revelation 13:1 <br>to Revelation 13:10</div>

<h3>The First Beast from the Sea</h3>

<p>
And I saw coming up out of the sea a beast that had ten horns and seven heads, and on its horns ten royal headbands, and on its heads a blasphemous name.
And the beast that I saw was similar to a leopard, and its feet were like a bear's, and its mouth was like the mouth of a lion, and the dragon gave it his power and his throne and great authority.
And one of its heads appeared as though slaughtered to death, and its fatal wound had been healed. And the whole earth was astonished and followed after the beast.
And they worshiped the dragon because he had given authority to the beast, and they worshiped the beast, saying, 'Who is like the beast, and who is able to make war with him?
</p>

<div class="sidenote">Revelation 13:5</div>

<p>
And a mouth was given to him speaking great things and blasphemies, and authority to act was given to him for forty-two months.
And he opened his mouth for blasphemies toward God, to blaspheme his name and his dwelling, those who live in heaven.
And it was given to him to make war with the saints and to conquer them. And authority was given to him over every tribe and people and language and nation.
And all those who live on the earth will worship him, everyone whose name is not written from the foundation of the world in the book of life of the Lamb who was slaughtered.
If anyone has an ear, let him hear!
</p>

<div class="sidenote">Revelation 13:10</div>

<p>
If anyone is going into captivity, into captivity he goes. If anyone is to be killed by the sword, by the sword he is to be killed.
</p>

<div class="sidenote left">Revelation 13:11 <br>to Revelation 13:18</div>

<h3>The Second Beast from the Earth</h3>

<p>
And I saw another beast coming up from the earth, and he had two horns like a lamb, and he was speaking like a dragon.
And he exercises all the authority of the first beast on behalf of him, and he causes the earth and those who live in it to worship the first beast whose fatal wound had been healed.
And he performs great signs, so that he even causes fire from heaven to come down to the earth before people.
And he deceives those who live on the earth because of the signs that it has been granted to him to perform on behalf of the beast, telling those who live on the earth to make an image to the beast who has the wound of the sword and yet lived.
And it was given to him to put breath into the image of the beast, in order that the image of the beast both spoke and caused that all those, unless they worshiped the image of the beast, should be killed.
And he causes all people, the small and the great, and the rich and the poor, and the free and the slave, that they give them a mark on their right hand or on their forehead,
and that no one was able to buy or to sell except the one who had the mark the name of the beast or the number of his name.
Here is wisdom: the one who has understanding, let him calculate the number of the beast, for it is man's number, and his number is six hundred sixty-six.
</p>

<div class="sidenote left">Revelation 14:1 <br>to Revelation 14:5</div>

<h3>The Lamb and the 144,000 on Mount Zion</h3>

<p>
And I looked, and behold, the Lamb standing on Mount Zion, and with him one hundred forty-four thousand who had his name and the name of his Father written on their foreheads.
And I heard a sound from heaven like the sound of many waters and like the sound of loud thunder, and the sound that I heard was like harpists playing on their harps.
And they were singing something like a new song before the throne and before the four living creatures and the elders, and no one was able to learn the song except the one hundred forty-four thousand who had been bought from the earth.
</p>

<div class="sidenote">Revelation 14:4</div>

<p>
These are those who have not been defiled with women, for they are virgins. These are the ones who follow the Lamb wherever he goes. These were bought from humanity as first fruits to God and to the Lamb,
and in their mouth a lie was not found; they are blameless.
</p>

<div class="sidenote left">Revelation 14:6 <br>to Revelation 14:13</div>

<h3>The Three Angels and Their Messages</h3>

<p>
And I saw another angel flying directly overhead, having an eternal gospel to proclaim to those who reside on the earth, and to every nation and tribe and language and people,
saying with a loud voice, 'Fear God and give him glory, because the hour of his judgment has come, and worship the one who made the heaven and the earth and the sea and the springs of water!'
</p>

<div class="sidenote">Revelation 14:8</div>

<p>
And another second angel followed, saying, 'Fallen, fallen is Babylon the great, who caused all the nations to drink from the wine of the passion of her sexual immorality.'
</p>

<div class="sidenote">Revelation 14:9</div>

<p>
And another third angel followed them, saying with a loud voice, 'If anyone worships the beast and his image and receives a mark on his forehead or on his hand,
he himself also will drink of the wine of the anger of God that has been mixed full strength in the cup of his wrath, and will be tortured with fire and sulphur in the presence of the holy angels and in the presence of the Lamb.
And the smoke of their torture went up forever and ever, and those who worshiped the beast and his image did not have rest day and night, along with anyone who received the mark of his name.
Here is the patient endurance of the saints, those who keep the commandments of God and the faith in Jesus.
</p>

<div class="sidenote">Revelation 14:13</div>

<p>
And I heard a voice from heaven saying, 'Write:
</p>

<div class="sidenote left">Revelation 14:14 <br>to Revelation 14:20</div>

<h3>The Earth is Harvested</h3>

<p>
And I looked, and behold, a white cloud, and on the cloud was seated one like a son of man, having on his head a golden crown, and in his hand a sharp sickle.
And another angel came out of the temple, crying out with a loud voice to the one seated on the cloud, 'Send out your sickle and reap, because the hour to reap has come, because the harvest of the earth is ripe!'
And the one seated on the cloud swung his sickle on the earth, and the earth was reaped.
</p>

<div class="sidenote">Revelation 14:17</div>

<p>
And another angel came out of the temple that is in heaven; he also had a sharp sickle.
And another angel who had authority over the fire went out from the altar, and he called out with a loud voice to the one who had the sharp sickle, saying, 'Send out your sharp sickle and harvest the clusters of grapes from the vine of the earth, because its grapes are at their prime!'
And the angel swung his sickle into the earth and harvested the vine of the earth, and threw the grapes into the great winepress of the wrath of God.
And the winepress was stomped outside the city, and blood went out from the winepress up to the bridles of the horses, about one thousand six hundred stadia.
</p>

<div class="sidenote left">Revelation 15:1 <br>to Revelation 15:8</div>

<h3>Seven Angels with Seven Last Plagues</h3>

<p>
And I saw another great and marvelous sign in heaven: seven angels having seven plagues that are the last ones, because with them the wrath of God is completed.
And I saw something like a sea of glass mixed with fire, and those who had conquered the beast and his image and the number of his name were standing by the glassy sea, holding harps from God.
And they were singing the song of Moses, the slave of God, and the song of the Lamb, saying:
</p>

<div class="sidenote">Revelation 15:4</div>

<p>
Who would never fear, Lord, and glorify your name? For only you are holy, because all the nations will come and worship before you, because your righteous deeds have been revealed.'
</p>

<div class="sidenote">Revelation 15:5</div>

<p>
And after these things I looked, and the temple, the tent of the testimony in heaven, was opened,
and the seven angels who had the seven plagues came out from the temple, dressed in clean, bright linen garments, and girded with golden belts around their chests.
And one of the four living creatures gave to the seven angels seven golden bowls full of the wrath of God, who lives forever and ever,
and the temple was filled with smoke from the glory of God and from his power, and no one was able to enter into the temple until the seven plagues of the seven angels were completed.
</p>

<div class="sidenote left">Revelation 16:1 <br>to Revelation 16:21</div>

<h3>The Seven Bowls of the Wrath of God</h3>

<p>
And I heard a loud voice from the temple saying to the seven angels, 'Go and pour out on the earth the seven bowls of the wrath of God.'
And the first went and poured out his bowl on the earth, and there was an evil and painful sore on the people who had the mark of the beast and who worshiped his image.
</p>

<div class="sidenote">Revelation 16:3</div>

<p>
And the second poured out his bowl on the sea, and it became blood, like that of a dead person, and every living thing that was in the sea died.
</p>

<div class="sidenote">Revelation 16:4</div>

<p>
And the third poured out his bowl on the rivers and the springs of water, and they became blood.
And I heard the angel of the waters saying,
</p>

<div class="sidenote">Revelation 16:6</div>

<p>
because they have poured out the blood of the saints and prophets, and you have given them blood to drink; they are deserving!'
</p>

<div class="sidenote">Revelation 16:7</div>

<p>
And I heard the altar saying,
</p>

<div class="sidenote">Revelation 16:8</div>

<p>
And the fourth poured out his bowl on the sun, and it was granted to it to burn up people with fire.
And people were burned up by the great heat, and they blasphemed the name of God who has the authority over these plagues, and they did not repent to give him glory.
</p>

<div class="sidenote">Revelation 16:10</div>

<p>
And the fifth poured out his bowl on the throne of the beast, and his kingdom became darkened, and they began chewing their tongues because of the pain.
And they blasphemed the God of heaven because of their pain and because of their sores, and they did not repent of their deeds.
</p>

<div class="sidenote">Revelation 16:12</div>

<p>
And the sixth poured out his bowl on the great river Euphrates, and its water was dried up, in order that the way would be prepared for the kings from the east.
And I saw coming out of the mouth of the dragon and out of the mouth of the beast and out of the mouth of the false prophet three unclean spirits like frogs.
For they are the spirits of demons performing signs that go out to the kings of the whole inhabited world, to gather them for the battle of the great day of God the All-Powerful.
(Behold, I am coming like a thief. Blessed is the one who is on the alert and who keeps his clothing, so that he does not walk around naked and they see his shamefulness!)
And he gathered them to the place called in Hebrew Armageddon.
</p>

<div class="sidenote">Revelation 16:17</div>

<p>
And the seventh poured out his bowl on the air, and a loud voice came out of the temple, from the throne, saying, 'It is done!'
And there were lightnings and sounds and thunders, and there was a great earthquake, as has not happened from the time humanity has been on the earth so great in this way was the earthquake.
And the great city was split into three parts, and the cities of the nations fell. And Babylon the great was remembered before God, to give her the cup of the wine of his furious wrath.
And every island fled, and mountains were not found.
And large hailstones, weighing about a hundred pounds, came down from the sky upon people, and the people blasphemed God because of the plague of hail, because the plague of it was very great.
</p>

<div class="sidenote left">Revelation 17:1 <br>to Revelation 17:18</div>

<h3>The Judgment of the Great Prostitute Babylon</h3>

<p>
And one of the seven angels who had the seven bowls came and spoke with me, saying, 'Come, I will show you the judgment of the great prostitute who is seated on many waters,
with whom the kings of the earth committed sexual immorality, and those who live on the earth became drunk with the wine of her sexual immorality.'
And he carried me away into the wilderness in the Spirit, and I saw a woman seated on a scarlet beast that was full of blasphemous names, having seven heads and ten horns.
And the woman was dressed in purple and scarlet and adorned with gold and precious stones and pearls, holding a golden cup in her hand full of detestable things and the unclean things of her sexual immorality.
And on her forehead a name was written, a mystery: 'Babylon the great, the mother of prostitutes and of the detestable things of the earth.'
And I saw the woman drunk with the blood of the saints and with the blood of the witnesses to Jesus.
</p>

<div class="sidenote">Revelation 17:7</div>

<p>
And the angel said to me, 'Why are you astonished? I will tell you the mystery of the woman and of the beast that has the seven heads and the ten horns that carries her.
The beast that you saw was, and is not, and is going to come up from the abyss, and he is going to destruction. And those who live on the earth, whose names are not written in the book of life from the foundation of the world, will be astonished when they see the beast that was, and is not, and will be present.
Here is the mind that has wisdom: the seven heads are seven mountains on which the woman sits and they are seven kings.
Five have fallen, one is, the other has not yet come, and whenever he comes it is necessary for him to remain a short time.
And the beast that was, and is not, is also himself an eighth, and is of the seven, and he is going to destruction.
And the ten horns that you saw are ten kings, who have not yet received a kingdom, but they will receive authority as kings for one hour with the beast.
These have one opinion, and they will give their power and authority to the beast.
These will make war with the Lamb, and the Lamb will conquer them, because he is Lord of lords and King of kings, and those with him are called and chosen and faithful.'
</p>

<div class="sidenote">Revelation 17:15</div>

<p>
And he said to me, 'The waters that you saw, where the prostitute is seated, are peoples and crowds and nations and languages.
And the ten horns that you saw and the beast, these will hate the prostitute and will make her desolate and naked, and they will eat her flesh and will burn her up with fire.
For God put into their hearts to carry out his purpose and to make a unanimous decision and to give their kingdom to the beast, until the words of God are fulfilled.
And the woman that you saw is the great city that has sovereignty over the kings of the earth.
</p>

<div class="sidenote left">Revelation 18:1 <br>to Revelation 18:24</div>

<h3>Lament Over Babylon the Great</h3>

<p>
After these things I saw another angel descending from heaven, who had great authority, and the earth was illuminated by his splendor.
And he cried out with a powerful voice, saying,
</p>

<div class="sidenote">Revelation 18:3</div>

<p>
For all the nations have drunk from the wine of the passion of her sexual immorality, and the kings of the earth have committed sexual immorality with her, and the merchants of the earth have become rich from the power of her sensuality.'
</p>

<div class="sidenote">Revelation 18:4</div>

<p>
And I heard another voice from heaven saying,
</p>

<div class="sidenote">Revelation 18:5</div>

<p>
because her sins have reached up to heaven, and God has remembered her crimes.
</p>

<div class="sidenote">Revelation 18:6</div>

<p>
Pay back to her as she herself also paid out, and pay back double according to her deeds; in the cup that she mixed, mix double for her.
</p>

<div class="sidenote">Revelation 18:7</div>

<p>
As much as she glorified herself and lived in luxury, give to her so much torment and mourning, because in her heart she said, 'I sit as a queen, and am not a widow, and I will never see mourning!'
</p>

<div class="sidenote">Revelation 18:8</div>

<p>
Because of this her plagues will come in one day death and mourning and famine and she will be burned up with fire, because the Lord God who passes judgment on her is powerful!'
</p>

<div class="sidenote">Revelation 18:9</div>

<p>
And the kings of the earth will weep and mourn over her, those who committed sexual immorality and lived sensually with her, when they see the smoke of her burning,
standing far off because of the fear of her torment, saying,
</p>

<div class="sidenote">Revelation 18:11</div>

<p>
And the merchants of the earth weep and mourn over her, because no one buys their cargo any more
cargo of gold and silver and precious stones and pearls and fine linen and purple cloth and silk and scarlet cloth and all kinds of scented wood and all kinds of ivory goods and all kinds of goods of precious wood and bronze and iron and marble
and cinnamon and amomum and incense and ointment and frankincense and wine and olive oil and fine wheat flour and wheat and domesticated animals and sheep and horses and carriages and slaves and human lives.
</p>

<div class="sidenote">Revelation 18:14</div>

<p>
'And the fruit your soul desires has departed from you, and all the luxury and the splendor has perished from you, and they will never find them any more.'
</p>

<div class="sidenote">Revelation 18:15</div>

<p>
The merchants of these things, who became rich from them, will stand far off, weeping and mourning because of the fear of her torment,
saying,
</p>

<div class="sidenote">Revelation 18:17</div>

<p>
because in one hour such great wealth has been laid waste!'
</p>

<div class="sidenote">Revelation 18:18</div>

<p>
and began to cry out when they saw the smoke of her burning, saying, 'Who is like the great city?'
And they threw dust on their heads and were crying out, weeping and mourning, saying,
</p>

<div class="sidenote">Revelation 18:20</div>

<p>
Rejoice over her, heaven and the saints and the apostles and the prophets, because God has pronounced your judgment on her!'
</p>

<div class="sidenote">Revelation 18:21</div>

<p>
And one powerful angel picked up a stone like a great millstone and threw it into the sea, saying,
</p>

<div class="sidenote">Revelation 18:22</div>

<p>
And the sound of harpists and musicians and flute players and trumpeters will never be heard in you again! And every craftsman of every trade will never be found in you again! And the sound of a mill will never be heard in you again!
</p>

<div class="sidenote">Revelation 18:23</div>

<p>
And the light of a lamp will never shine in you again! And the sound of a bridegroom and bride will never be heard in you again! For your merchants were the most important people of the earth, because with your sorcery they deceived all the nations.
</p>

<div class="sidenote">Revelation 18:24</div>

<p>
And in her was found the blood of prophets and saints and all those who had been slaughtered on the earth.
</p>

<div class="sidenote left">Revelation 19:1 <br>to Revelation 19:5</div>

<h3>Rejoicing in Heaven</h3>

<p>
After these things I heard something like the loud sound of a great crowd in heaven saying,
</p>

<div class="sidenote">Revelation 19:2</div>

<p>
because his judgments are true and righteous, because he has passed judgment on the great prostitute who corrupted the earth with her sexual immorality, and has avenged the blood of his slaves shed by her hand!'
</p>

<div class="sidenote">Revelation 19:3</div>

<p>
And a second time they said,
</p>

<div class="sidenote">Revelation 19:4</div>

<p>
And the twenty-four elders and the four living creatures fell down and worshiped God who is seated on the throne, saying,
</p>

<div class="sidenote">Revelation 19:5</div>

<p>
And a voice came out from the throne, saying,
</p>

<div class="sidenote left">Revelation 19:6 <br>to Revelation 19:10</div>

<h3>The Wedding Celebration of the Lamb</h3>

<p>
And I heard something like the sound of a great crowd and something like the sound of many waters and something like the sound of powerful thunder, saying,
</p>

<div class="sidenote">Revelation 19:7</div>

<p>
Let us rejoice and be glad and give him the glory, because the wedding celebration of the Lamb has come, and his bride has prepared herself.
</p>

<div class="sidenote">Revelation 19:8</div>

<p>
And it has been granted to her that she be dressed in bright, clean fine linen (for the fine linen is the righteous deeds of the saints).
</p>

<div class="sidenote">Revelation 19:9</div>

<p>
And he said to me, 'Write: Blessed are those who are invited to the banquet of the wedding celebration of the Lamb!' And he said to me, 'These are the true words of God.'
And I fell down before his feet to worship him, and he said to me, 'Do not do that! I am a fellow slave of you and of your brothers who hold to the testimony of Jesus. Worship God! For the testimony of Jesus is the spirit of prophecy.'
</p>

<div class="sidenote left">Revelation 19:11 <br>to Revelation 19:21</div>

<h3>The Warrior on the White Horse</h3>

<p>
And I saw heaven opened, and behold, a white horse, and the one seated on it was called 'Faithful' and 'True,' and with justice he judges and makes war.
Now his eyes were a flame of fire, and on his head were many royal headbands having a name written that no one except he himself knows.
And he was dressed in an outer garment dipped in blood, and his name is called the Word of God.
And the armies that are in heaven, dressed in clean, white fine linen, were following him on white horses.
And out of his mouth came a sharp sword, so that with it he could strike the nations. And he will shepherd them with an iron rod, and he stomps the winepress of the wine of the furious wrath of God, the All-Powerful.
And he has a name written on his outer garment and on his thigh: 'King of kings and Lord of lords.'
</p>

<div class="sidenote">Revelation 19:17</div>

<p>
And I saw one angel standing in the sun, and he cried out with a loud voice, saying to all the birds that fly directly overhead,
</p>

<div class="sidenote">Revelation 19:18</div>

<p>
in order that you may eat the flesh of kings, and the flesh of military tribunes, and the flesh of the powerful, and the flesh of horses and those seated on them, and the flesh of all people, both free and slave, and small and great!'
</p>

<div class="sidenote">Revelation 19:19</div>

<p>
And I saw the beast and the kings of the earth and their armies assembled to make war with the one who is seated on the horse and with his army.
And the beast was seized, and with him the false prophet who performed the signs before him, by which he deceived those who received the mark of the beast and those who had worshiped his image. The two were thrown alive into the lake of fire that burns with sulphur.
And the rest were killed by the sword of the one who is seated on the horse the sword that comes out of his mouth and all the birds gorged themselves on their flesh.
</p>

<div class="sidenote left">Revelation 20:1 <br>to Revelation 20:6</div>

<h3>Satan Bound for a Thousand Years</h3>

<p>
And I saw an angel descending from heaven, holding the key of the abyss and a great chain in his hand.
And he seized the dragon the ancient serpent, who is the devil and Satan and bound him for a thousand years,
and threw him into the abyss, and shut it and sealed it above him, in order that he could not deceive the nations again until the thousand years are completed. After these things it is necessary for him to be released for a short time.
</p>

<div class="sidenote">Revelation 20:4</div>

<p>
And I saw thrones, and they sat down on them, and authority to judge was granted to them. And I saw the souls of those who had been beheaded because of the testimony about Jesus and because of the word of God, and who had not worshiped the beast or his image, and did not receive the mark on their forehead and on their hand, and they came to life and reigned with Christ for a thousand years.
(The rest of the dead did not come to life until the thousand years were completed.) This is the first resurrection.
Blessed and holy is the one who has a part in the first resurrection. Over this person the second death has no authority, but they will be priests of God and of Christ, and they will reign with him a thousand years.
</p>

<div class="sidenote left">Revelation 20:7 <br>to Revelation 20:10</div>

<h3>Satan’s Release and Defeat</h3>

<p>
And when the thousand years are completed, Satan will be released from his prison
and he will go out to deceive the nations that are at the four corners of the earth, Gog and Magog, to assemble them for battle, whose number is like the sand of the sea.
And they went up on the broad plain of the earth and surrounded the fortified camp of the saints and the beloved city, and fire came down from heaven and consumed them.
And the devil who deceived them was thrown into the lake of fire and sulphur, where the beast and the false prophet also are, and they will be tormented day and night forever and ever.
</p>

<div class="sidenote left">Revelation 20:11 <br>to Revelation 20:15</div>

<h3>The Judgment at the Great White Throne</h3>

<p>
And I saw a great white throne and the one who was seated on it, from whose presence earth and heaven fled, and a place was not found for them.
And I saw the dead the great and the small standing before the throne, and books were opened. And another book was opened, which is the book of life, and the dead were judged by what was written in the books, according to their deeds.
And the sea gave up the dead who were in it, and Death and Hades gave up the dead who were in them, and each one was judged according to their deeds.
And Death and Hades were thrown into the lake of fire. This is the second death the lake of fire.
And if anyone was not found written in the book of life, he was thrown into the lake of fire.
</p>

<div class="sidenote left">Revelation 21:1 <br>to Revelation 21:8</div>

<h3>The New Heaven, New Earth, and New Jerusalem</h3>

<p>
And I saw a new heaven and a new earth, for the first heaven and the first earth had passed away, and the sea did not exist any longer.
And I saw the holy city, new Jerusalem, coming down out of heaven from God, prepared like a bride adorned for her husband.
And I heard a loud voice from the throne saying,
</p>

<div class="sidenote">Revelation 21:4</div>

<p>
And he will wipe away every tear from their eyes, and death will not exist any longer, and mourning or wailing or pain will not exist any longer. The former things have passed away.'
</p>

<div class="sidenote">Revelation 21:5</div>

<p>
And the one seated on the throne said, 'Behold, I am making all things new!' And he said, 'Write, because these words are faithful and true.'
And he said to me, 'It is done! I am the Alpha and the Omega, the beginning and the end. To the one who is thirsty I will give water from the spring of the water of life freely.
The one who conquers will inherit these things, and I will be his God and he will be my son.
But as for the cowards and unbelievers and detestable persons and murderers and sexually immoral people and sorcerers and idolaters and all liars, their share is in the lake that burns with fire and sulphur, which is the second death.
</p>

<div class="sidenote left">Revelation 21:9 <br>to Revelation 21:27</div>

<h3>A Description of the New Jerusalem</h3>

<p>
And one of the seven angels who had the seven bowls full of the seven last plagues came and spoke with me, saying, 'Come, I will show you the bride, the wife of the Lamb.'
And he carried me away in the Spirit to a great and lofty mountain, and showed me the holy city, Jerusalem, coming down out of heaven from God,
that has the glory of God. Its radiance is like a precious stone, something like a jasper stone, shining like crystal.
It has a great and high wall that has twelve gates, and at the gates twelve angels, and names written on the gates which are of the twelve tribes of the sons of Israel
on the east, three gates, and on the north, three gates, and on the south, three gates, and on the west, three gates.
And the wall of the city has twelve foundations, and on them are twelve names of the twelve apostles of the Lamb.
</p>

<div class="sidenote">Revelation 21:15</div>

<p>
And the one who spoke with me was holding a golden measuring rod in order that he could measure the city and its gates and its wall.
And the city is laid out as a square, and its length is the same as its width. And he measured the city with the measuring rod at twelve thousand stadia; the length and the width and the height of it are equal.
And he measured its wall, one hundred forty-four cubits according to human measure, which is the angel's.
And the material of its wall is jasper, and the city is pure gold, similar in appearance to pure glass.
The foundations of the wall of the city are adorned with every kind of precious stone: the first foundation jasper, the second sapphire, the third chalcedony, the fourth emerald,
the fifth sardonyx, the sixth carnelian, the seventh chrysolite, the eighth beryl, the ninth topaz, the tenth chrysoprase, the eleventh jacinth, the twelfth amethyst.
And the twelve gates are twelve pearls, each one of the gates was from a single pearl. And the street of the city is pure gold, like transparent glass.
</p>

<div class="sidenote">Revelation 21:22</div>

<p>
And I did not see a temple in it, for the Lord God All-Powerful is its temple, and the Lamb.
And the city has no need of the sun or of the moon, that they shine on it, for the glory of God illuminates it, and its lamp is the Lamb.
And the nations will walk by its light, and the kings of the earth will bring their glory into it.
And its gates will never be shut by day (for there will be no night there),
and they will bring the glory and the honor of the nations into it.
And every unclean thing and one who practices detestable things and falsehood will never enter into it, except those who are written in the book of life of the Lamb.
</p>

<div class="sidenote left">Revelation 22:1 <br>to Revelation 22:5</div>

<h3>Paradise Restored</h3>

<p>
And he showed me the river of the water of life, clear as crystal, coming out from the throne of God and of the Lamb
in the middle of its street, and on both sides of the river is the tree of life, producing twelve fruits yielding its fruit according to every month and the leaves of the tree are for the healing of the nations.
And there will not be any curse any longer, and the throne of God and of the Lamb will be in it, and his slaves will serve him,
and they will see his face, and his name will be on their foreheads.
And night will not exist any longer, and they will not have need of the light of a lamp and the light of the sun, because the Lord God will give light to them, and they will reign forever and ever.
</p>

<div class="sidenote left">Revelation 22:6 <br>to Revelation 22:16</div>

<h3>The Time of Fulfillment is Near</h3>

<p>
And he said to me, 'These words are faithful and true, and the Lord, the God of the spirits of the prophets, has sent his angel to show his slaves the things which must take place in a short time.'
</p>

<div class="sidenote">Revelation 22:7</div>

<p>
'And behold, I am coming quickly! Blessed is the one who keeps the words of the prophecy of this book.'
</p>

<div class="sidenote">Revelation 22:8</div>

<p>
And I, John, am the one who heard and who saw these things. And when I heard and saw them, I fell down to worship before the feet of the angel who showed these things to me.
And he said to me, 'Do not do that! I am your fellow slave, and of your brothers the prophets, and of those who keep the words of this book. Worship God!'
And he said to me, 'Do not seal up the words of the prophecy of this book, for the time is near!
The one who does evil, let him do evil still, and the defiled, let him be defiled still, and the righteous, let him practice righteousness still, and the holy, let him be holy still.'
</p>

<div class="sidenote">Revelation 22:12</div>

<p>
'Behold, I am coming quickly, and my reward is with me, to repay each one according to what his deeds are!
I am the Alpha and the Omega, the first and the last, the beginning and the end.'
</p>

<div class="sidenote">Revelation 22:14</div>

<p>
Blessed are the ones who wash their robes, so that their authority will be over the tree of life and they may enter into the city through the gates.
Outside are the dogs and the sorcerers and the sexually immoral people and the murderers and the idolaters and everyone who loves and who practices falsehood.
</p>

<div class="sidenote">Revelation 22:16</div>

<p>
'I, Jesus, sent my angel to testify to you about these things for the churches. I am the root and the descendant of David, the bright morning star.'
</p>

<div class="sidenote left">Revelation 22:17 </div>

<h3>An Invitation to Respond</h3>

<p>
And the Spirit and the bride say, 'Come!' And the one who hears, let him say, 'Come!' And the one who is thirsty, let him come. The one who wants, let him take the water of life freely.
</p>

<div class="sidenote left">Revelation 22:18 <br>to Revelation 22:21</div>

<h3>A Final Warning</h3>

<p>
I testify to everyone who hears the words of the prophecy of this book: if anyone adds to them, God will add to him the plagues written in this book.
And if anyone takes away from the words of this book of prophecy, God will take away his share of the tree of life and from the holy city that are written in this book.
</p>

<div class="sidenote">Revelation 22:20</div>

<p>
The one who testifies about these things says, 'Yes, I am coming quickly!' Amen! Come, Lord Jesus!
</p>

<div class="sidenote">Revelation 22:21</div>

<p>
The grace of the Lord Jesus be with all.
</p>
