<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Romans</h1>

<div class="sidenote left">Romans 1:1 <br>to Romans 1:7</div>

<h3>Greeting</h3>

<p>
Paul, a slave of Christ Jesus, called to be an apostle, set apart for the gospel of God,
which he promised previously through his prophets in the holy scriptures,
concerning his Son, who was born a descendant of David according to the flesh,
who was declared Son of God in power according to the Holy Spirit by the resurrection from the dead of Jesus Christ our Lord,
through whom we have received grace and apostleship for the obedience of faith among all the Gentiles on behalf of his name,
among whom you also are the called of Jesus Christ.
To all those in Rome who are loved by God, called to be saints. Grace to you and peace from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">Romans 1:8 <br>to Romans 1:15</div>

<h3>Paul Wants to Visit Rome</h3>

<p>
First, I give thanks to my God through Jesus Christ for all of you, because your faith is being proclaimed in the whole world.
For God, whom I serve with my spirit in the gospel of his Son, is my witness, how constantly I make mention of you,
always asking in my prayers if somehow now at last I may succeed to come to you in the will of God.
For I desire to see you, in order that I may impart some spiritual gift to you, in order to strengthen you,
that is, to be encouraged together with you through our mutual faith, both yours and mine.
Now I do not want you to be ignorant, brothers, that often I intended to come to you, and was prevented until now, in order that I might have some fruit among you also, just as also among the rest of the Gentiles.
I am under obligation both to Greeks and to barbarians, both to the wise and to the foolish.
Thus I am eager to proclaim the gospel also to you who are in Rome.
</p>

<div class="sidenote left">Romans 1:16 <br>to Romans 1:17</div>

<h3>The Gospel’s Power for Salvation</h3>

<p>
For I am not ashamed of the gospel, for it is the power of God for salvation to everyone who believes, to the Jew first and also to the Greek.
For the righteousness of God is revealed in it from faith to faith, just as it is written, 'But the one who is righteous by faith will live.'
</p>

<div class="sidenote left">Romans 1:18 <br>to Romans 1:25</div>

<h3>God’s Wrath Revealed Against Sinful Humanity</h3>

<p>
For the wrath of God is revealed from heaven against all impiety and unrighteousness of people, who suppress the truth in unrighteousness,
because what can be known about God is evident among them, for God made it clear to them.
For from the creation of the world, his invisible attributes, both his eternal power and deity, are discerned clearly, being understood in the things created, so that they are without excuse.
For although they knew God, they did not honor him as God or give thanks, but they became futile in their reasoning, and their senseless hearts were darkened.
Claiming to be wise, they became fools,
and exchanged the glory of the immortal God with the likeness of an image of mortal human beings and birds and quadrupeds and reptiles.
</p>

<div class="sidenote">Romans 1:24</div>

<p>
Therefore God gave them over in the desires of their hearts to immorality, that their bodies would be dishonored among themselves,
who exchanged the truth of God with a lie, and worshiped and served the creation rather than the Creator, who is blessed for eternity. Amen.
</p>

<div class="sidenote left">Romans 1:26 <br>to Romans 1:32</div>

<h3>God Hands Sinful Humanity over to Depravity</h3>

<p>
Because of this, God gave them over to degrading passions, for their females exchanged the natural relations for those contrary to nature,
and likewise also the males, abandoning the natural relations with the female, were inflamed in their desire toward one another, males with males committing the shameless deed, and receiving in themselves the penalty that was necessary for their error.
And just as they did not see fit to recognize God, God gave them over to a debased mind, to do the things that are not proper,
being filled with all unrighteousness, wickedness, greediness, malice, full of envy, murder, strife, deceit, malevolence. They are gossipers,
slanderers, haters of God, insolent, arrogant, boasters, contrivers of evil, disobedient to parents,
senseless, faithless, unfeeling, unmerciful,
who, although they know the requirements of God, that those who do such things are worthy of death, not only do they do the same things, but also they approve of those who do them.
</p>

<div class="sidenote left">Romans 2:1 <br>to Romans 2:16</div>

<h3>The Righteous and Impartial Judgment of God</h3>

<p>
Therefore you are without excuse, O man, every one of you who passes judgment. For in that which you pass judgment on someone else, you condemn yourself, for you who are passing judgment are doing the same things.
Now we know that the judgment of God is according to truth against those who do such things.
But do you think this, O man who passes judgment on those who do such things, and who does the same things, that you will escape the judgment of God?
Or do you despise the wealth of his kindness and forbearance and patience, not knowing that the kindness of God leads you to repentance?
But because of your stubbornness and unrepentant heart, you are storing up for yourself wrath in the day of wrath and of the revelation of the righteous judgment of God,
who will reward each one according to his works:
to those who, by perseverance in good work, seek glory and honor and immortality, eternal life,
but to those who act from selfish ambition and who disobey the truth, but who obey unrighteousness, wrath and anger.
There will be affliction and distress for every human being who does evil, of the Jew first and of the Greek,
but glory and honor and peace to everyone who does good, to the Jew first and to the Greek.
For there is no partiality with God.
</p>

<div class="sidenote">Romans 2:12</div>

<p>
For as many as have sinned without law will also perish without law, and as many as have sinned under the law will be judged by the law.
For it is not the hearers of the law who are righteous in the sight of God, but the doers of the law will be declared righteous.
For whenever the Gentiles, who do not have the law, do by nature the things of the law, these, although they do not have the law, are a law to themselves,
who show the work of the law written on their hearts, their conscience bearing witness and their thoughts one after another accusing or even defending them
on the day when God judges the secret things of people, according to my gospel, through Christ Jesus.
</p>

<div class="sidenote left">Romans 2:17 <br>to Romans 2:29</div>

<h3>Jews also Condemned by the Law</h3>

<p>
But if you call yourself a Jew and rely on the law and boast in God
and know his will and approve the things that are superior, because you are instructed by the law,
and are confident that you yourself are a guide of the blind, a light of those in darkness,
an instructor of the foolish, a teacher of the immature, having the embodiment of knowledge and of the truth in the law.
Therefore, the one who teaches someone else, do you not teach yourself? The one who preaches not to steal, do you steal?
The one who says not to commit adultery, do you commit adultery? The one who abhors idols, do you rob temples?
Who boast in the law, by the transgression of the law you dishonor God!
For just as it is written, 'The name of God is blasphemed among the Gentiles because of you.'
</p>

<div class="sidenote">Romans 2:25</div>

<p>
For circumcision is of value if you do the law, but if you should be a transgressor of the law, your circumcision has become uncircumcision.
Therefore, if the uncircumcised person follows the requirements of the law, will not his uncircumcision be credited for circumcision?
And the uncircumcised person by nature who carries out the law will judge you who, though provided with the precise written code and circumcision are a transgressor of the law.
For the Jew is not one outwardly, nor is circumcision outwardly, in the flesh.
But the Jew is one inwardly, and circumcision is of the heart, by the Spirit, not by the letter, whose praise is not from people but from God.
</p>

<div class="sidenote left">Romans 3:1 <br>to Romans 3:8</div>

<h3>Jews Still Have an Advantage</h3>

<p>
Therefore, what is the advantage of the Jew, or what is the use of circumcision?
Much in every way. For first, that they were entrusted with the oracles of God.
What is the result if some refused to believe? Their unbelief will not nullify the faithfulness of God, will it?
May it never be! But let God be true but every human being a liar, just as it is written,
</p>

<div class="sidenote">Romans 3:5</div>

<p>
But if our unrighteousness demonstrates the righteousness of God, what shall we say? God, who inflicts wrath, is not unjust, is he? (I am speaking according to a human perspective.)
May it never be! For otherwise, how will God judge the world?
But if by my lying, the truth of God abounded to his glory, why am I also still condemned as a sinner?
And why not (as we are slandered, and as some affirm that we say), 'Let us do evil, in order that good may come of it? Their condemnation is just!
</p>

<div class="sidenote left">Romans 3:9 <br>to Romans 3:20</div>

<h3>The Entire World Guilty of Sin</h3>

<p>
What then? Do we have an advantage? Not at all. For we have already charged both Jews and Greeks are all under sin,
just as it is written,
</p>

<div class="sidenote">Romans 3:11</div>

<p>
there is no one who understands; there is no one who seeks God.
</p>

<div class="sidenote">Romans 3:12</div>

<p>
All have turned aside together; they have become worthless; There is no one who practices kindness; there is not even one.
</p>

<div class="sidenote">Romans 3:13</div>

<p>
Their throat is an opened grave; they deceive with their tongues; the venom of asps is under their lips,
</p>

<div class="sidenote">Romans 3:14</div>

<p>
whose mouth is full of cursing and bitterness.
</p>

<div class="sidenote">Romans 3:15</div>

<p>
Their feet are swift to shed blood;
</p>

<div class="sidenote">Romans 3:16</div>

<p>
destruction and distress are in their paths,
</p>

<div class="sidenote">Romans 3:17</div>

<p>
and they have not known the way of peace.
</p>

<div class="sidenote">Romans 3:18</div>

<p>
The fear of God is not before their eyes.'
</p>

<div class="sidenote">Romans 3:19</div>

<p>
Now we know that whatever the law says, it speaks to those under the law, in order that every mouth may be closed and the whole world may become accountable to God.
For by the works of the law no person will be declared righteous before him, for through the law comes knowledge of sin.
</p>

<div class="sidenote left">Romans 3:21 <br>to Romans 3:31</div>

<h3>Righteousness through Faith Revealed</h3>

<p>
But now, apart from the law, the righteousness of God has been revealed, being testified about by the law and the prophets
that is, the righteousness of God through faith in Jesus Christ to all who believe. For there is no distinction,
for all have sinned and fall short of the glory of God,
being justified as a gift by his grace, through the redemption which is in Christ Jesus,
whom God made publicly available as the mercy seat through faith in his blood, for a demonstration of his righteousness, because of the passing over of previously committed sins,
in the forbearance of God, for the demonstration of his righteousness in the present time, so that he should be just and the one who justifies the person by faith in Jesus.
</p>

<div class="sidenote">Romans 3:27</div>

<p>
Therefore, where is boasting? It has been excluded. By what kind of law? Of works? No, but by a law of faith.
For we consider a person to be justified by faith apart from the works of the law.
Or is God the God of the Jews only? Is he not also the God of the Gentiles? Yes, also of the Gentiles,
since God is one, who will justify those who are circumcised by faith and those who are uncircumcised through faith.
Therefore, do we nullify the law through faith? May it never be! But we uphold the law.
</p>

<div class="sidenote left">Romans 4:1 <br>to Romans 4:12</div>

<h3>Abraham’s Faith Counted as Righteousness</h3>

<p>
What then shall we say that Abraham, our ancestor according to the flesh, has found?
For if Abraham was justified by works, he has something to boast about, but not before God.
For what does the scripture say? 'And Abraham believed God, and it was credited to him for righteousness.'
Now to the one who works, his pay is not credited according to grace, but according to his due.
But to the one who does not work, but who believes in the one who justifies the ungodly, his faith is credited for righteousness,
just as David also speaks about the blessing of the person to whom God credits righteousness apart from works:
</p>

<div class="sidenote">Romans 4:7</div>

<p>
'Blessed are they whose lawless deeds have been forgiven, and whose sins are covered over.
</p>

<div class="sidenote">Romans 4:8</div>

<p>
Blessed is the person against whom the Lord will never count sin.'
</p>

<div class="sidenote">Romans 4:9</div>

<p>
Therefore, is this blessing for those who are circumcised, or also for those who are uncircumcised? For we say, 'Faith was credited to Abraham for righteousness.'
How then was it credited? While he was circumcised or uncircumcised? Not while circumcised but while uncircumcised!
And he received the sign of circumcision as a seal of the righteousness by faith which he had while uncircumcised, so that he could be the father of all who believe although they are uncircumcised, so that righteousness could be credited to them,
and the father of those who are circumcised to those who are not only from the circumcision, but who also follow in the footsteps of the faith of our father Abraham which he had while uncircumcised.
</p>

<div class="sidenote left">Romans 4:13 <br>to Romans 4:25</div>

<h3>The Promise to Abraham Secured through Faith</h3>

<p>
For the promise to Abraham or to his descendants, that he would be heir of the world, was not through the law, but through the righteousness by faith.
For if those of the law are heirs, faith is rendered void and the promise is nullified.
For the law produces wrath, but where there is no law, neither is there transgression.
Because of this, it is by faith, in order that it may be according to grace, so that the promise may be secure to all the descendants, not only to those of the law, but also to those of the faith of Abraham, who is the father of us all
(just as it is written, 'I have made you the father of many nations') before God, in whom he believed, the one who makes the dead alive and who calls the things that are not as though they are,
who against hope believed in hope, so that he became the father of many nations, according to what was said, 'so will your descendants be.'
And not being weak in faith, he considered his own body as good as dead, because he was approximately a hundred years old, and the deadness of Sarah's womb.
And he did not waver in unbelief at the promise of God, but was strengthened in faith, giving glory to God
and being fully convinced that what he had promised, he was also able to do.
Therefore it was credited to him for righteousness.
But it was not written for the sake of him alone that it was credited to him,
but also for the sake of us to whom it is going to be credited, to those who believe in the one who raised Jesus our Lord from the dead,
who was handed over on account of our trespasses, and was raised up in the interest of our justification.
</p>

<div class="sidenote left">Romans 5:1 <br>to Romans 5:11</div>

<h3>Reconciliation with God through Faith in Christ</h3>

<p>
Therefore, because we have been declared righteous by faith, we have peace with God through our Lord Jesus Christ,
through whom also we have obtained access by faith into this grace in which we stand, and we boast in the hope of the glory of God.
And not only this, but we also boast in our afflictions, because we know that affliction produces patient endurance,
and patient endurance, proven character, and proven character, hope,
and hope does not disappoint, because the love of God has been poured out in our hearts through the Holy Spirit who was given to us.
</p>

<div class="sidenote">Romans 5:6</div>

<p>
For while we were still helpless, yet at the proper time Christ died for the ungodly.
For only rarely will someone die on behalf of a righteous person (for on behalf of a good person possibly someone might even dare to die),
but God demonstrates his own love for us, in that while we were still sinners, Christ died for us.
Therefore, by much more, because we have been declared righteous now by his blood, we will be saved through him from the wrath.
For if, while we were enemies, we were reconciled to God through the death of his Son, by much more, having been reconciled, we will be saved by his life.
And not only this, but also we are boasting in God through our Lord Jesus Christ, through whom we have now received the reconciliation.
</p>

<div class="sidenote left">Romans 5:12 <br>to Romans 5:21</div>

<h3>Death Came through Adam but Life Comes through Christ</h3>

<p>
Because of this, just as sin entered into the world through one man, and death through sin, so also death spread to all people because all sinned.
For until the law, sin was in the world, but sin is not charged to one's account when there is no law.
But death reigned from Adam until Moses even over those who did not sin in the likeness of the transgression of Adam, who is a type of the one who is to come.
But the gift is not like the trespass, for if by the trespass of the one, the many died, by much more did the grace of God and the gift by the grace of the one man, Jesus Christ, multiply to the many.
And the gift is not as through the one who sinned, for on the one hand, judgment from the one sin led to condemnation, but the gift, from many trespasses, led to justification.
For if by the trespass of the one man, death reigned through the one man, much more will those who receive the abundance of grace and of the gift of righteousness reign in life through the one, Jesus Christ.
Consequently therefore, as through one trespass came condemnation to all people, so also through one righteous deed came justification of life to all people.
For just as through the disobedience of the one man, the many were made sinners, so also through the obedience of the one, the many will be made righteous.
Now the law came in as a side issue, in order that the trespass could increase, but where sin increased, grace was present in greater abundance,
so that just as sin reigned in death, so also grace would reign through righteousness to eternal life through Jesus Christ our Lord.
</p>

<div class="sidenote left">Romans 6:1 <br>to Romans 6:14</div>

<h3>Formerly Dead to Sin, Now Alive in Christ</h3>

<p>
What therefore shall we say? Shall we continue in sin, in order that grace may increase?
May it never be! How can we who died to sin still live in it?
Or do you not know that as many as were baptized into Christ Jesus were baptized into his death?
Therefore we have been buried with him through baptism into death, in order that just as Christ was raised from the dead through the glory of the Father, so also we may live a new way of life.
For if we have become identified with him in the likeness of his death, certainly also we will be identified with him in the likeness of his resurrection,
knowing this, that our old man was crucified together with him, in order that the body of sin may be done away with, that we may no longer be enslaved to sin.
For the one who has died has been freed from sin.
</p>

<div class="sidenote">Romans 6:8</div>

<p>
Now if we died with Christ, we believe that we will also live with him,
knowing that Christ, because he has been raised from the dead, is going to die no more, death no longer being master over him.
For that death he died, he died to sin once and never again, but that life he lives, he lives to God.
So also you, consider yourselves to be dead to sin, but alive to God in Christ Jesus.
</p>

<div class="sidenote">Romans 6:12</div>

<p>
Therefore do not let sin reign in your mortal body, so that you obey its desires,
and do not present your members to sin as instruments of unrighteousness, but present yourselves to God as those who are alive from the dead, and your members to God as instruments of righteousness.
For sin will not be master over you, because you are not under law, but under grace.
</p>

<div class="sidenote left">Romans 6:15 <br>to Romans 6:23</div>

<h3>Set Free from Sin</h3>

<p>
What then? Shall we sin because we are not under law but under grace? May it never be!
Do you not know that to whomever you present yourselves as slaves for obedience, you are slaves to whomever you obey, whether sin, leading to death, or obedience, leading to righteousness?
But thanks be to God that you were slaves of sin, but you have obeyed from the heart the pattern of teaching to which you were entrusted,
and having been set free from sin, you became enslaved to righteousness.
(I am speaking in human terms because of the weakness of your flesh.) For just as you presented your members as slaves to immorality and lawlessness, leading to lawlessness, so now present your members as slaves to righteousness, leading to sanctification.
For when you were slaves of sin, you were free with respect to righteousness.
</p>

<div class="sidenote">Romans 6:21</div>

<p>
Therefore what sort of fruit did you have then, about which you are now ashamed? For the end of those things is death.
But now, having been set free from sin and having been enslaved to God, you have your fruit leading to sanctification, and its end is eternal life.
For the compensation due sin is death, but the gift of God is eternal life in Christ Jesus our Lord.
</p>

<div class="sidenote left">Romans 7:1 <br>to Romans 7:6</div>

<h3>Released from the Law through Death</h3>

<p>
Or do you not know, brothers (for I am speaking to those who know the law), that the law is master of a person for as long a time as he lives?
For the married woman is bound by law to her husband while he lives, but if her husband dies, she is released from the law of the husband.
Therefore as a result, if she belongs to another man while her husband is living, she will be called an adulteress. But if her husband dies, she is free from the law, so that she is not an adulteress if she belongs to another man.
So then, my brothers, you also were brought to death with respect to the law through the body of Christ, so that you may belong to another, to the one who was raised from the dead, in order that we may bear fruit for God.
For when we were in the flesh, sinful desires were working through the law in our members, to bear fruit for death.
But now we have been released from the law, because we have died to that by which we were bound, so that we may serve in newness of the Spirit and not in oldness of the letter of the law.
</p>

<div class="sidenote left">Romans 7:7 <br>to Romans 7:12</div>

<h3>Knowledge of Sin Comes through the Law</h3>

<p>
What then shall we say? Is the law sin? May it never be! But I would not have known sin except through the law, for I would not have known covetousness if the law had not said, 'Do not covet.'
But sin, seizing an opportunity through the commandment, produced in me all kinds of covetousness. For apart from the law, sin is dead.
And I was alive once, apart from the law, but when the commandment came, sin sprang to life
and I died, and this commandment which was to lead to life was found with respect to me to lead to death.
For sin, seizing the opportunity through the commandment, deceived me and through it killed me.
So then, the law is holy, and the commandment is holy and righteous and good.
</p>

<div class="sidenote left">Romans 7:13 <br>to Romans 7:25</div>

<h3>Internal Conflict with Sin</h3>

<p>
Therefore, did that which is good become death to me? May it never be! Rather it was sin, in order that it might be recognized as sin, producing death through what is good for me, in order that sin might become sinful to an extraordinary degree through the commandment.
For we know that the law is spiritual, but I am fleshly, sold into slavery to sin.
For what I am doing I do not understand, because what I want to do, this I do not practice, but what I hate, this I do.
But if what I do not want to do, this I do, I agree with the law that it is good.
But now I am no longer the one doing it, but sin that lives in me.
For I know that good does not live in me, that is, in my flesh. For the willing is present in me, but the doing of the good is not.
For the good that I want to do, I do not do, but the evil that I do not want to do, this I do.
But if what I do not want to do, this I am doing, I am no longer the one doing it, but sin that lives in me.
</p>

<div class="sidenote">Romans 7:21</div>

<p>
Consequently, I find the principle with me, the one who wants to do good, that evil is present with me.
For I joyfully agree with the law of God in my inner person,
but I observe another law in my members, at war with the law of my mind and making me captive to the law of sin that exists in my members.
Wretched man that I am! Who will rescue me from this body of death?
Thanks be to God through Jesus Christ our Lord! So then, I myself with my mind am enslaved to the law of God, but with my flesh I am enslaved to the law of sin.
</p>

<div class="sidenote left">Romans 8:1 <br>to Romans 8:17</div>

<h3>Set Free from the Law of Sin and Death</h3>

<p>
Consequently, there is now no condemnation for those who are in Christ Jesus.
For the law of the Spirit of life in Christ Jesus has set you free from the law of sin and death.
For what was impossible for the law, in that it was weak through the flesh, God did. By sending his own Son in the likeness of sinful flesh and concerning sin, he condemned sin in the flesh,
in order that the requirement of the law would be fulfilled in us, who do not live according to the flesh but according to the Spirit.
For those who are living according to the flesh are intent on the things of the flesh, but those who are living according to the Spirit are intent on the things of the Spirit.
For the mindset of the flesh is death, but the mindset of the Spirit is life and peace,
because the mindset of the flesh is enmity toward God, for it is not subjected to the law of God, for it is not able to do so,
and those who are in the flesh are not able to please God.
</p>

<div class="sidenote">Romans 8:9</div>

<p>
But you are not in the flesh but in the Spirit, if indeed the Spirit of God lives in you. But if anyone does not have the Spirit of Christ, this person does not belong to him.
But if Christ is in you, the body is dead because of sin, but the Spirit is life because of righteousness.
And if the Spirit of the one who raised Jesus from the dead lives in you, the one who raised Christ Jesus from the dead will also make alive your mortal bodies through his Spirit who lives in you.
</p>

<div class="sidenote">Romans 8:12</div>

<p>
So then, brothers, we are obligated not to the flesh, to live according to the flesh.
For if you live according to the flesh, you are going to die, but if by the Spirit you put to death the deeds of the body, you will live.
For all those who are led by the Spirit of God, these are sons of God.
For you have not received a spirit of slavery leading to fear again, but you have received the Spirit of adoption, by whom we cry out, 'Abba! Father!'
The Spirit himself confirms to our spirit that we are children of God,
and if children, also heirs heirs of God and fellow heirs with Christ, if indeed we suffer together with him so that we may also be glorified together with him.
</p>

<div class="sidenote left">Romans 8:18 <br>to Romans 8:30</div>

<h3>The Glory that is to be Revealed</h3>

<p>
For I consider that the sufferings of the present time are not worthy to be compared with the glory that is about to be revealed to us.
For the eagerly expecting creation awaits eagerly the revelation of the sons of God.
For the creation has been subjected to futility, not willingly, but because of the one who subjected it, in hope
that the creation itself also will be set free from its servility to decay, into the glorious freedom of the children of God.
For we know that the whole creation groans together and suffers agony together until now.
Not only this, but we ourselves also, having the first fruits of the Spirit, even we ourselves groan within ourselves while we await eagerly our adoption, the redemption of our body.
For in hope we were saved, but hope that is seen is not hope, for who hopes for what he sees?
But if we hope for what we do not see, we await it eagerly with patient endurance.
</p>

<div class="sidenote">Romans 8:26</div>

<p>
And likewise also, the Spirit helps us in our weakness, for we do not know how to pray as one ought, but the Spirit himself intercedes for us with unexpressed groanings.
And the one who searches our hearts knows what the mindset of the Spirit is, because he intercedes on behalf of the saints according to the will of God.
And we know that all things work together for good for those who love God, for those who are called according to his purpose,
because those whom he foreknew, he also predestined to be conformed to the image of his Son, so that he should be the firstborn among many brothers.
And those whom he predestined, these he also called, and those whom he called, these he also justified, and those whom he justified, these he also glorified.
</p>

<div class="sidenote left">Romans 8:31 <br>to Romans 8:39</div>

<h3>Victory in Christ</h3>

<p>
What then shall we say about these things? If God is for us, who can be against us?
Indeed, he who did not spare his own Son, but gave him up for us all, how will he not also, together with him, freely give us all things?
Who will bring charges against God's elect? God is the one who justifies.
Who is the one who condemns? Christ is the one who died, and more than that, who was raised, who is also at the right hand of God, who also intercedes for us.
Who will separate us from the love of Christ? Will affliction or distress or persecution or hunger or lack of sufficient clothing or danger or the sword?
Just as it is written,
</p>

<div class="sidenote">Romans 8:37</div>

<p>
No, but in all these things we prevail completely through the one who loved us.
For I am convinced that neither death, nor life, nor angels, nor rulers, nor things present, nor things to come, nor powers,
nor height, nor depth, nor any other created thing, will be able to separate us from the love of God that is in Christ Jesus our Lord.
</p>

<div class="sidenote left">Romans 9:1 <br>to Romans 9:13</div>

<h3>Israel’s Rejection</h3>

<p>
I am telling the truth in Christ I am not lying; my conscience bears witness to me in the Holy Spirit
that my grief is great and there is constant distress in my heart.
For I could wish myself to be accursed from Christ for the sake of my brothers, my fellow countrymen according to the flesh,
who are Israelites, to whom belong the adoption, and the glory, and the covenants, and the giving of the law, and the temple service, and the promises,
to whom belong the patriarchs, and from whom is the Christ according to human descent, who is God over all, blessed forever! Amen.
</p>

<div class="sidenote">Romans 9:6</div>

<p>
But it is not as if the word of God had failed. For not all those who are descended from Israel are truly Israel,
nor are they all children because they are descendants of Abraham, but 'In Isaac will your descendants be named.'
That is, it is not the children by human descent who are children of God, but the children of the promise are counted as descendants.
For the statement of the promise is this: 'At this time I will return and Sarah will have a son.'
And not only this, but also when Rebecca conceived children by one man, Isaac our father
for although they had not yet been born, or done anything good or evil, in order that the purpose of God according to election might remain,
not by works but by the one who calls it was said to her, 'The older will serve the younger,'
just as it is written, 'Jacob I loved, but Esau I hated.'
</p>

<div class="sidenote left">Romans 9:14 <br>to Romans 9:33</div>

<h3>God’s Sovereign Choice to Show Mercy</h3>

<p>
What then shall we say? There is no injustice with God, is there? May it never be!
For to Moses he says, 'I will have mercy on whomever I have mercy, and I will have compassion on whomever I have compassion.'
Consequently therefore, it does not depend on the one who wills or on the one who runs, but on God who shows mercy.
For the scripture says to Pharaoh, 'For this very reason I have raised you up, so that I may demonstrate my power in you, and so that my name might be proclaimed in all the earth.'
Consequently therefore, he has mercy on whomever he wishes, and he hardens whomever he wishes.
</p>

<div class="sidenote">Romans 9:19</div>

<p>
Therefore you will say to me, 'Why then does he still find fault? For who has resisted his will?
On the contrary, O man, who are you who answers back to God? Will what is molded say to the one who molded it, 'Why did you make me like this'?
Or does the potter not have authority over the clay, to make from the same lump a vessel that is for honorable use and one that is for ordinary use?
And what if God, wanting to demonstrate his wrath and to make known his power, endured with much patience vessels of wrath prepared for destruction?
And he did so in order that he could make known the riches of his glory upon vessels of mercy that he prepared beforehand for glory,
us whom he also called, not only from the Jews but also from the Gentiles?
As he also says in Hosea,
</p>

<div class="sidenote">Romans 9:26</div>

<p>
And it will be in the place where it was said to them, 'You are not my people,' there they will be called 'sons of the living God.''
</p>

<div class="sidenote">Romans 9:27</div>

<p>
And Isaiah cries out concerning Israel,
</p>

<div class="sidenote">Romans 9:28</div>

<p>
for the Lord will execute his sentence thoroughly and decisively upon the earth.'
</p>

<div class="sidenote">Romans 9:29</div>

<p>
And just as Isaiah foretold,
</p>

<div class="sidenote">Romans 9:30</div>

<p>
What then shall we say? That the Gentiles, who did not pursue righteousness, attained righteousness even the righteousness that is by faith.
But Israel, pursuing the law of righteousness, did not attain to the law.
Why that? Because they did not pursue it by faith, but as if by works. They stumbled over the stone that causes people to stumble,
just as it is written,
</p>

<div class="sidenote left">Romans 10:1 <br>to Romans 10:21</div>

<h3>The Righteousness of God through Faith in Christ</h3>

<p>
Brothers, the desire of my heart and my prayer to God on behalf of them is for their salvation.
For I testify about them that they have a zeal for God, but not according to knowledge.
For ignoring the righteousness of God, and seeking to establish their own, they did not subject themselves to the righteousness of God.
For Christ is the end of the law for righteousness to everyone who believes.
</p>

<div class="sidenote">Romans 10:5</div>

<p>
For Moses writes about the righteousness that is from the law: 'The person who does this will live by it.'
But the righteousness from faith speaks like this: 'Do not say in your heart, 'Who will ascend into heaven?'' (that is, to bring Christ down),
or 'Who will descend into the abyss?' (that is, to bring Christ up from the dead).
But what does it say? 'The word is near to you, in your mouth and in your heart' (that is, the word of faith that we proclaim),
that if you confess with your mouth 'Jesus is Lord' and believe in your heart that God raised him from the dead, you will be saved.
For with the heart one believes, resulting in righteousness, and with the mouth one confesses, resulting in salvation.
For the scripture says, 'Everyone who believes in him will not be put to shame.'
For there is no distinction between Jew and Greek, for the same Lord is Lord of all, who is rich to all who call upon him.
For 'everyone who calls upon the name of the Lord will be saved.'
</p>

<div class="sidenote">Romans 10:14</div>

<p>
How then will they call upon him in whom they have not believed? And how will they believe in him about whom they have not heard? And how will they hear about him without one who preaches to them?
And how will they preach, unless they are sent? Just as it is written, 'How timely are the feet of those who bring good news of good things.'
But not all have obeyed the good news, for Isaiah says, 'Lord, who has believed our report?'
Consequently, faith comes by hearing, and hearing through the word about Christ.
</p>

<div class="sidenote">Romans 10:18</div>

<p>
But I say, they have not heard, have they? On the contrary,
</p>

<div class="sidenote">Romans 10:19</div>

<p>
But I say, Israel did not know, did they? First, Moses says,
</p>

<div class="sidenote">Romans 10:20</div>

<p>
And Isaiah is very bold and says,
</p>

<div class="sidenote">Romans 10:21</div>

<p>
But about Israel he says,
</p>

<div class="sidenote left">Romans 11:1 <br>to Romans 11:12</div>

<h3>A Remnant of Israel Remains</h3>

<p>
Therefore I say, God has not rejected his people, has he? May it never be! For I also am an Israelite, from the descendants of Abraham, of the tribe of Benjamin.
God has not rejected his people, whom he foreknew! Or do you not know, in the passage about Elijah, what the scripture says how he appeals to God against Israel?
'Lord, they have killed your prophets, they have torn down your altars, and I alone am left, and they are seeking my life!'
But what does the divine response say to him? 'I have left for myself seven thousand people who have not bent the knee to Baal.'
So in this way also at the present time, there is a remnant selected by grace.
But if by grace, it is no longer by works, for otherwise grace would no longer be grace.
</p>

<div class="sidenote">Romans 11:7</div>

<p>
What then? What Israel was searching for, this it did not obtain. But the elect obtained it, and the rest were hardened,
just as it is written,
</p>

<div class="sidenote">Romans 11:9</div>

<p>
And David says,
</p>

<div class="sidenote">Romans 11:10</div>

<p>
let their eyes be darkened so that they do not see, and cause their backs to bend continually.'
</p>

<div class="sidenote">Romans 11:11</div>

<p>
I say then, they did not stumble so that they fell, did they? May it never be! But by their trespass, salvation has come to the Gentiles, in order to provoke them to jealousy.
And if their trespass means riches for the world and their loss means riches for the Gentiles, how much more will their fullness mean?
</p>

<div class="sidenote left">Romans 11:13 <br>to Romans 11:24</div>

<h3>Gentile Branches Grafted in</h3>

<p>
Now I am speaking to you Gentiles. Therefore, inasmuch as I am apostle to the Gentiles, I promote my ministry,
if somehow I may provoke my people to jealousy and save some of them.
For if their rejection means the reconciliation of the world, what will their acceptance mean except life from the dead?
Now if the first fruits are holy, so also is the whole batch of dough, and if the root is holy, so also are the branches.
</p>

<div class="sidenote">Romans 11:17</div>

<p>
Now if some of the branches were broken off, and you, although you were a wild olive tree, were grafted in among them and became a sharer of the root of the olive tree's richness,
do not boast against the branches. But if you boast against them, you do not support the root, but the root supports you.
Then you will say, 'Branches were broken off in order that I could be grafted in.'
Well said! They were broken off because of unbelief, but you stand firm because of faith. Do not think arrogant thoughts, but be afraid.
For if God did not spare the natural branches, neither will he spare you.
See, then, the kindness and severity of God: severity upon those who have fallen, but upon you the kindness of God if you continue in his kindness, for otherwise you also will be cut off.
And those also, if they do not persist in unbelief, will be grafted in, because God is able to graft them in again.
For if you were cut off from what is by nature a wild olive tree, and contrary to nature were grafted into a cultivated olive tree, how much more will these who are natural branches be grafted into their own olive tree?
</p>

<div class="sidenote left">Romans 11:25 <br>to Romans 11:36</div>

<h3>All Israel to be Saved</h3>

<p>
For I do not want you to be ignorant, brothers, of this mystery, so that you will not be wise in your own sight, that a partial hardening has happened to Israel, until the full number of the Gentiles has come in,
and so all Israel will be saved, just as it is written,
</p>

<div class="sidenote">Romans 11:27</div>

<p>
And this is the covenant from me with them when I take away their sins.'
</p>

<div class="sidenote">Romans 11:28</div>

<p>
With respect to the gospel, they are enemies for your sake, but with respect to election, they are dearly loved for the sake of the fathers.
For the gifts and the calling of God are irrevocable.
For just as you formerly were disobedient to God, but now have been shown mercy because of the disobedience of these,
so also these have now been disobedient for your mercy, in order that they also may now be shown mercy.
For God confined them all in disobedience, in order that he could have mercy on them all.
</p>

<div class="sidenote">Romans 11:33</div>

<p>
Oh, the depth of the riches and the wisdom and the knowledge of God! How unsearchable are his judgments and how incomprehensible are his ways!
</p>

<div class="sidenote">Romans 11:34</div>

<p>
'For who has known the mind of the Lord, or who has been his counselor?
</p>

<div class="sidenote">Romans 11:35</div>

<p>
Or who has given in advance to him, and it will be paid back to him?'
</p>

<div class="sidenote">Romans 11:36</div>

<p>
For from him and through him and to him are all things. To him be glory for eternity! Amen.
</p>

<div class="sidenote left">Romans 12:1 <br>to Romans 12:2</div>

<h3>A Life Dedicated to God</h3>

<p>
Therefore I exhort you, brothers, through the mercies of God, to present your bodies as a living sacrifice, holy and pleasing to God, which is your reasonable service.
And do not be conformed to this age, but be transformed by the renewal of your mind, so that you may approve what is the good and well-pleasing and perfect will of God.
</p>

<div class="sidenote left">Romans 12:3 <br>to Romans 12:8</div>

<h3>A Variety of Gifts in the Body of Christ</h3>

<p>
For by the grace given to me I say to everyone who is among you not to think more highly of yourself than what one ought to think, but to think sensibly, as God has apportioned a measure of faith to each one.
For just as in one body we have many members, but all the members do not have the same function,
in the same way we who are many are one body in Christ, and individually members of one another,
but having different gifts according to the grace given to us: if it is prophecy, according to the proportion of his faith;
if it is service, by service; if it is one who teaches, by teaching;
if it is one who exhorts, by exhortation; one who gives, with sincerity; one who leads, with diligence; one who shows mercy, with cheerfulness.
</p>

<div class="sidenote left">Romans 12:9 <br>to Romans 12:21</div>

<h3>Living in Love</h3>

<p>
Love must be without hypocrisy. Abhor what is evil; be attached to what is good,
being devoted to one another in brotherly love, esteeming one another more highly in honor,
not lagging in diligence, being enthusiastic in spirit, serving the Lord,
rejoicing in hope, enduring in affliction, being devoted to prayer,
contributing to the needs of the saints, pursuing hospitality.
</p>

<div class="sidenote">Romans 12:14</div>

<p>
Bless those who persecute, bless and do not curse them.
Rejoice with those who rejoice; weep with those who weep.
Think the same thing toward one another; do not think arrogantly, but associate with the lowly. Do not be wise in your own sight.
Pay back no one evil for evil. Take thought for what is good in the sight of all people.
If it is possible on your part, be at peace with all people.
Do not take revenge yourselves, dear friends, but give place to God's wrath, for it is written, 'Vengeance is mine, I will repay,' says the Lord.
But 'if your enemy is hungry, feed him; if he is thirsty, give him something to drink; for by doing this, you will heap up coals of fire upon his head.'
Do not be overcome by evil, but overcome evil with good.
</p>

<div class="sidenote left">Romans 13:1 <br>to Romans 13:7</div>

<h3>Obedience to the Governing Authorities</h3>

<p>
Let every person be subject to the governing authorities, for there is no authority except by God, and those that exist are put in place by God.
So then, the one who resists authority resists the ordinance which is from God, and those who resist will receive condemnation on themselves.
For rulers are not a cause of terror for a good deed, but for bad conduct. So do you want not to be afraid of authority? Do what is good, and you will have praise from it,
for it is God's servant to you for what is good. But if you do what is bad, be afraid, because it does not bear the sword to no purpose. For it is God's servant, the one who avenges for punishment on the one who does what is bad.
Therefore it is necessary to be in subjection, not only because of wrath but also because of conscience.
For because of this you also pay taxes, for the authorities are servants of God, busily engaged in this very thing.
Pay to everyone what is owed: pay taxes to whom taxes are due; pay customs duties to whom customs duties are due; pay respect to whom respect is due; pay honor to whom honor is due.
</p>

<div class="sidenote left">Romans 13:8 <br>to Romans 13:14</div>

<h3>Love Fulfills the Law</h3>

<p>
Owe nothing to anyone, except to love one another, for the one who loves someone else has fulfilled the law.
For the commandments, 'You shall not commit adultery, you shall not commit murder, you shall not steal, you shall not covet,' and if there is any other commandment, are summed up in this statement: 'You shall love your neighbor as yourself.'
Love does not commit evil against a neighbor. Therefore love is the fulfillment of the law.
</p>

<div class="sidenote">Romans 13:11</div>

<p>
And do this because you know the time, that it is already the hour for you to wake up from sleep. For our salvation is nearer now than when we believed.
The night is far gone, and the day has drawn near. Therefore let us throw off the deeds of darkness and put on the weapons of light.
Let us live decently, as in the day, not in carousing and drunkenness, not in sexual immorality and licentiousness, not in strife and jealousy.
But put on the Lord Jesus Christ and do not make provision for the desires of the flesh.
</p>

<div class="sidenote left">Romans 14:1 <br>to Romans 14:23</div>

<h3>Do Not Pass Judgment on One Another</h3>

<p>
Now receive the one who is weak in faith, but not for quarrels about opinions.
One believes he may eat all things, but the one who is weak eats only vegetables.
The one who eats must not despise the one who does not eat, and the one who does not eat must not judge the one who eats, because God has accepted him.
Who are you, who passes judgment on the domestic slave belonging to someone else? To his own master he stands or falls, and he will stand, for the Lord is able to make him stand.
</p>

<div class="sidenote">Romans 14:5</div>

<p>
One person prefers one day over another day, and another person regards every day alike. Each one must be fully convinced in his own mind.
The one who is intent on the day is intent on it for the Lord, and the one who eats eats for the Lord, because he is thankful to God, and the one who does not eat does not eat for the Lord, and he is thankful to God.
For none of us lives for himself and none dies for himself.
For if we live, we live for the Lord, and if we die, we die for the Lord. Therefore whether we live or whether we die, we are the Lord's.
For Christ died and became alive again for this reason, in order that he might be Lord of both the dead and the living.
</p>

<div class="sidenote">Romans 14:10</div>

<p>
But why do you judge your brother? Or also, why do you despise your brother? For we will all stand before the judgment seat of God.
For it is written,
</p>

<div class="sidenote">Romans 14:12</div>

<p>
So each one of us will give an account concerning himself.
</p>

<div class="sidenote">Romans 14:13</div>

<p>
Therefore, let us no longer pass judgment on one another, but rather decide this: not to place a cause for stumbling or a temptation before a brother.
I know and am convinced in the Lord Jesus that nothing is unclean of itself, except to the one who considers something to be unclean; to that person it is unclean.
For if because of food, your brother is grieved, you are no longer living according to love. Do not destroy by your food that person for whom Christ died.
Therefore do not let your good be slandered.
For the kingdom of God is not eating and drinking, but righteousness and peace and joy in the Holy Spirit.
For the one who serves Christ in this way is well-pleasing to God and approved by people.
</p>

<div class="sidenote">Romans 14:19</div>

<p>
So then, let us pursue what promotes peace and what edifies one another.
Do not destroy the work of God on account of food. All things are clean, but it is wrong for the person who eats and stumbles in the process.
It is good not to eat meat or to drink wine or to do anything by which your brother stumbles or is offended or is weakened.
The faith that you have, have with respect to yourself before God. Blessed is the one who does not pass judgment on himself by what he approves.
But the one who doubts is condemned if he eats, because he does not do so from faith, and everything that is not from faith is sin.
</p>

<div class="sidenote left">Romans 15:1 <br>to Romans 15:13</div>

<h3>Accept One Another according to Christ’s Example</h3>

<p>
But we who are strong ought to bear the weaknesses of the weak, and not to please ourselves.
Let each one of us please his neighbor for his good, for the purpose of edification.
For even Christ did not please himself, but just as it is written, 'The insults of those who insult you have fallen on me.'
For whatever was written beforehand was written for our instruction, in order that through patient endurance and through the encouragement of the scriptures we may have hope.
Now may the God of patient endurance and of encouragement grant you to be in agreement with one another, in accordance with Christ Jesus,
so that with one mind you may glorify with one mouth the God and Father of our Lord Jesus Christ.
Therefore accept one another, just as Christ also has accepted you, to the glory of God.
</p>

<div class="sidenote">Romans 15:8</div>

<p>
For I say, Christ has become a servant of the circumcision on behalf of the truth of God, in order to confirm the promises to the fathers,
and that the Gentiles may glorify God for his mercy, just as it is written,
</p>

<div class="sidenote">Romans 15:10</div>

<p>
And again it says,
</p>

<div class="sidenote">Romans 15:11</div>

<p>
And again,
</p>

<div class="sidenote">Romans 15:12</div>

<p>
And again Isaiah says,
</p>

<div class="sidenote">Romans 15:13</div>

<p>
Now may the God of hope fill you with all joy and peace in believing, so that you may abound in hope by the power of the Holy Spirit.
</p>

<div class="sidenote left">Romans 15:14 <br>to Romans 15:21</div>

<h3>Paul’s Ministry to the Gentiles</h3>

<p>
Now I myself also am convinced about you, my brothers, that you yourselves also are full of goodness, filled with all knowledge, able also to instruct one another.
But I have written to you more boldly on some points, so as to remind you again because of the grace that has been given to me by God,
with the result that I am a servant of Christ Jesus to the Gentiles, serving the gospel of God as a priest, in order that the offering of the Gentiles may become acceptable, sanctified by the Holy Spirit.
Therefore I have a reason for boasting in Christ Jesus regarding the things concerning God.
For I will not dare to speak about anything except that which Christ has accomplished through me, resulting in the obedience of the Gentiles by word and deed,
by the power of signs and wonders, by the power of the Spirit, so that from Jerusalem and traveling around as far as Illyricum I have fully proclaimed the gospel of Christ.
And so, having as my ambition to proclaim the gospel where Christ has not been named, in order that I will not build on the foundation belonging to someone else,
but just as it is written,
</p>

<div class="sidenote left">Romans 15:22 <br>to Romans 15:33</div>

<h3>Paul’s Travel Plans</h3>

<p>
For this reason also I was hindered many times from coming to you,
and now, no longer having a place in these regions, but having a desire for many years to come to you
whenever I travel to Spain. For I hope while I am passing through to see you and to be sent on my way by you, whenever I have first enjoyed your company for a while.
But now I am traveling to Jerusalem, serving the saints.
For Macedonia and Achaia were pleased to make some contribution for the poor among the saints in Jerusalem.
For they were pleased to do so, and they are obligated to them. For if the Gentiles have shared in their spiritual things, they ought also to serve them in material things.
Therefore, after I have accomplished this and sealed this fruit for delivery to them, I will depart by way of you for Spain,
and I know that when I come to you, I will come in the fullness of the blessing of Christ.
</p>

<div class="sidenote">Romans 15:30</div>

<p>
Now I exhort you, brothers, through our Lord Jesus Christ and through the love of the Spirit, to contend along with me in your prayers on my behalf to God,
that I may be rescued from those who are disobedient in Judea, and my ministry in Jerusalem may be acceptable to the saints,
so that, coming to you with joy by the will of God, I may rest with you.
Now may the God of peace be with all of you. Amen.
</p>

<div class="sidenote left">Romans 16:1 <br>to Romans 16:16</div>

<h3>Many Personal Greetings</h3>

<p>
Now I commend to you Phoebe our sister, who is also a servant of the church in Cenchrea,
in order that you may welcome her in the Lord in a manner worthy of the saints, and help her in whatever task she may have need from you, for she herself also has been a helper of many, even me myself.
</p>

<div class="sidenote">Romans 16:3</div>

<p>
Greet Prisca and Aquila, my fellow workers in Christ Jesus,
who risked their own necks for my life, for which not only I am thankful, but also all the churches of the Gentiles;
also greet the church in their house. Greet Epenetus my dear friend, who is the first convert of Asia for Christ.
Greet Mary, who has worked hard for you.
Greet Andronicus and Junia, my compatriots and my fellow prisoners, who are well known to the apostles, who were also in Christ before me.
Greet Ampliatus, my dear friend in the Lord.
Greet Urbanus, our fellow worker in Christ, and my dear friend Stachys.
Greet Apelles, who is approved in Christ. Greet those of the household of Aristobulus.
Greet Herodion my compatriot. Greet those of the household of Narcissus who are in the Lord.
Greet Tryphena and Tryphosa, the laborers in the Lord. Greet Persis, the dear friend who has worked hard in the Lord.
Greet Rufus, the chosen one in the Lord, and his mother and mine.
Greet Asyncritus, Phlegon, Hermes, Patrobas, Hermas, and the brothers with them.
Greet Philologus and Julia, Nereus and his sister, and Olympas, and all the saints who are with them.
Greet one another with a holy kiss. All the churches of Christ greet you.
</p>

<div class="sidenote left">Romans 16:17 <br>to Romans 16:20</div>

<h3>Concluding Exhortations</h3>

<p>
Now I exhort you, brothers, to look out for those who cause dissensions and temptations contrary to the teaching which you learned, and stay away from them.
For such people do not serve our Lord Christ, but their own stomach, and by smooth speech and flattery they deceive the hearts of the unsuspecting.
For the report of your obedience has reached to all; therefore I am rejoicing over you, and I want you to be wise toward what is good, but innocent toward what is evil.
And in a short time the God of peace will crush Satan under your feet. The grace of our Lord Jesus Christ be with you.
</p>

<div class="sidenote left">Romans 16:21 <br>to Romans 16:23</div>

<h3>Greetings from Paul’s Associates</h3>

<p>
Timothy, my fellow worker, greets you, and Lucius and Jason and Sosipater, my compatriots.
</p>

<div class="sidenote">Romans 16:22</div>

<p>
I, Tertius, the one who wrote this letter, greet you in the Lord.
</p>

<div class="sidenote">Romans 16:23</div>

<p>
Gaius, my host and the host of the whole church, greets you. Erastus the city treasurer greets you, and Quartus the brother.
</p>

<div class="sidenote left">Romans 16:24 </div>

<h3>Benediction</h3>

<p>
The grace of our Lord Jesus Christ be with all of you. Amen.
</p>
