<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Ruth</h1>

<div class="sidenote left">Ruth 1:1 <br>to Ruth 1:5</div>

<h3>Elimelech Takes His Family to Live in Moab</h3>

<p>
And it happened in the days when the judges ruled, there was a famine in the land, and a man from Bethlehem of Judah went to reside in the countryside of Moab he and his wife and his two sons.
And the name of the man was Elimelech, and the name of his wife was Naomi, and the names of his two sons were Mahlon and Kilion. They were Ephraimites from Bethlehem in Judah. And they went to the countryside of Moab and remained there.
</p>

<div class="sidenote">Ruth 1:3</div>

<p>
But Elimelech the husband of Naomi died and she was left behind with her two sons.
And they took for themselves Moabite wives. The name of the one was Orpah and the name of the other was Ruth. And they lived there about ten years.
But both Mahlon and Kilion died, and the woman was left without her two sons and without her husband.
</p>

<div class="sidenote left">Ruth 1:6 <br>to Ruth 1:22</div>

<h3>Naomi Returns with Ruth</h3>

<p>
And she got up, she and her daughters-in-law, and returned from the countryside of Moab, because she had heard in the countryside of Moab that the LORD had come to the aid of his people to give food to them.
So she set out from the place where she was and her two daughters-in-law with her, and they went on the way to return to the land of Judah.
</p>

<div class="sidenote">Ruth 1:8</div>

<p>
But Naomi said to her two daughters-in-law, 'Go, each of you return to her mother's house. May the LORD show kindness to you just as you did with the dead and with me.
May the LORD grant that you find a resting place, each in the house of her husband.' And she kissed them, and they lifted up their voices and cried.
</p>

<div class="sidenote">Ruth 1:10</div>

<p>
And they said to her, 'No, we want to return with you to your people.'
And Naomi said, 'Return, my daughters. Why do you still want to go with me? Are there sons in my womb that may be husbands for you?
Turn back, my daughters! Go, for I am too old to have a husband. If I should think there is hope for me, even if I should have a husband this night, and even if I should bear sons,
would you therefore wait until they were grown? Would you therefore refrain from marrying? No, my daughters, for it is far more bitter to me than to you. For the hand of the LORD has gone out against me.'
And they lifted up their voices and cried again. And Orpah kissed her mother-in-law goodbye, but Ruth clung to her.
And she said, 'Look, your sister-in-law has returned to her people and to her gods. Return after your sister-in-law too.'
</p>

<div class="sidenote">Ruth 1:16</div>

<p>
But Ruth said, 'Do not urge me to leave you or to return from following you! For where you go, I will go, and where you lodge, I will lodge. Your people will be my people and your God will be my God.
Where you die I will die, and there I will be buried. So may the LORD do to me, and even more, unless death separates you and me!'
When Naomi saw that she was determined to go with her, she said no more.
</p>

<div class="sidenote">Ruth 1:19</div>

<p>
So the two of them went until they came to Bethlehem. And when they came to Bethlehem, all of the town was stirred because of them. And they said, 'Is this Naomi?'
And she said to them, 'You should not call me Naomi; call me Mara, for Shaddai has caused me to be very bitter.
I went away full, but the LORD brought me back empty-handed! Why call me Naomi when the LORD has testified against me and Shaddai has brought calamity upon me?'
So Naomi returned, and Ruth the Moabite her daughter-in-law with her, returning from the countryside of Moab. And they came to Bethlehem at the beginning of the harvest of barley.
</p>

<div class="sidenote left">Ruth 2:1 <br>to Ruth 2:23</div>

<h3>Ruth Meets Boaz</h3>

<p>
Now Naomi had a relative of her husband, a prominent rich man from the clan of Elimelech, whose name was Boaz.
And Ruth the Moabite said to Naomi, 'Please let me go to the field and glean among the ears of grain after someone in whose eyes I may find favor.' And she said to her, 'Go, my daughter.'
So she went and came and gleaned in the field behind the reapers. And she happened by chance upon the tract of field belonging to Boaz, who was from the clan of Elimelech.
And look, Boaz came from Bethlehem and said to the reapers, 'May the LORD be with you.' And they said to him, 'May the LORD bless you.'
And Boaz said to his servant in charge of the reapers, 'To whom does this young woman belong?'
And the servant in charge of the reapers said, 'She is a Moabite girl returning with Naomi from the countryside of Moab.
And she said, 'Please let me glean and let me gather among the sheaves behind the reapers.' So she came and remained from the morning up to now. She is sitting for a little while in the house.'
</p>

<div class="sidenote">Ruth 2:8</div>

<p>
And Boaz said to Ruth, 'Listen carefully, my daughter, go no longer to glean in another field. Moreover, do not leave from this one, but stay close with my young women.
Keep your eyes on the field that they reap and go after them. Have I not ordered the servants not to bother you? And if you get thirsty, you shall go to the containers and drink from where the servants have drawn.'
And she fell on her face and bowed down to the ground and said to him, 'Why have I found favor in your eyes by recognizing me for I am a foreigner?'
And Boaz answered and said to her, 'All that you have done for your mother-in-law after the death of your husband was fully told to me. How you left your father and mother and the land of your birth, and you went to a people that you did not know before.
May the LORD reward your work and may a full reward be given to you from the LORD, the God of Israel, under whose wings you came to take refuge.'
And she said, 'May I find favor in your eyes, my lord, for you have comforted me and have spoken kindly to your servant, and I am not one of your servants.'
</p>

<div class="sidenote">Ruth 2:14</div>

<p>
And Boaz said to her at mealtime, 'Come here and eat from the bread and dip your morsel in the wine vinegar.' So she sat beside the gleaners, and he offered to her roasted grain. And she ate and was satisfied, and she had some left over.
And she got up to glean, and Boaz instructed his servants saying, 'Let her also glean between the sheaves and do not reproach her.
And also pull out for her from your bundles and leave it so that she may glean and do not rebuke her.'
</p>

<div class="sidenote">Ruth 2:17</div>

<p>
So she gleaned in the field until the evening and she beat out what she had gleaned, and it was about an ephah of barley.
And she picked it up and went to the town. Her mother-in-law saw how much she had gleaned. And she took it out and gave to her what she had left over after being satisfied.
And her mother-in-law said to her, 'Where did you glean today and where did you work? May he who took notice of you be blessed.' And she told her mother-in-law with whom she had worked and said, 'The name of the man who I worked with today is Boaz.'
And Naomi said to her daughter-in-law, 'May he be blessed by the LORD, whose loyal love has not forsaken the living or the dead.' And Naomi said to her, 'The man is a close relative for us, he is one of our redeemers.'
And Ruth the Moabite said, 'Also, he said to me, 'You shall stay close with the servants which are mine until they have finished all of the harvest which is mine.''
And Naomi said to Ruth her daughter-in-law, 'It is good, my daughter, that you go out with his maidservants so that you will not be bothered in another field.'
So she stayed close with the maidservants of Boaz to glean until the end of the barley harvest and wheat harvest. And she lived with her mother-in-law.
</p>

<div class="sidenote left">Ruth 3:1 <br>to Ruth 3:18</div>

<h3>Ruth Meets Boaz at the Threshing Floor</h3>

<p>
Now Naomi her mother-in-law said to her, 'My daughter, should I not seek for you security that things may be good for you?
So then, is not Boaz our kinsman whose maidservants you were with? Look, he is winnowing the barley at the threshing floor tonight.
Wash, anoint yourself, put your clothing on, and go down to the threshing floor. Do not make yourself known to the man until he finishes eating and drinking.
And when he lies, take notice of the place where he lies. And you shall go and uncover his feet and lie down, and he shall tell you what to do.'
And she said to her, 'I will do all that you say.'
</p>

<div class="sidenote">Ruth 3:6</div>

<p>
And she went down to the threshing floor and did all that her mother-in-law had instructed her.
And Boaz ate and drank until his heart was merry and then he came to lie at the end of the grain heap. And she came in quietly and uncovered his feet and lay down.
And it happened in the middle of the night the man was startled and he reached out and behold, a woman was lying at his feet.
And he said, 'Who are you?' And she said, 'I am Ruth, your servant. Spread your garment over your servant because you are a redeemer.'
And he said, 'You are blessed by the LORD my daughter. You did better in this last kindness than the first by not going after young men, whether poor or rich.
And so then my daughter, do not be afraid. All that you ask I will do for you, for the entire assembly of my people knows that you are a worthy woman.
Now truly I am a redeemer, but there is also a redeemer of a closer relationship than me.
Stay tonight, and in the morning, if he wants to redeem you, good; but if he is not willing to redeem, then as the LORD lives, I will redeem you. Lie down until the morning.'
</p>

<div class="sidenote">Ruth 3:14</div>

<p>
So she lay at his feet until morning and got up before anyone could recognize each other. And he said, 'It must not be known that you came to the threshing floor.'
And he said, 'Bring the cloak that is on you and hold it out.' And she held it out and he measured six measures of barley and put it on her cloak. Then she went into the city.
And she came to her mother-in-law, and she said, 'How did it go for you, my daughter?' And she told her all that the man did for her.
And she said, 'These six measures of barley he gave to me, for he said, 'You shall not go empty-handed to your mother-in-law.''
And she said, 'Wait, my daughter, until you know how the matter turns out, for the man will not rest but will settle the matter today.'
</p>

<div class="sidenote left">Ruth 4:1 <br>to Ruth 4:12</div>

<h3>Boaz Redeems Ruth</h3>

<p>
And Boaz had gone up to the city gate and sat there. And look, the redeemer of whom Boaz had spoken was passing by. And he said, 'Come over here to sit, friend.' And he came over and sat.
And he took ten men from the elders of the city and said, 'Sit here.' And they sat.
And he said to the redeemer, 'Naomi, who returned from the countryside of Moab, is selling the tract of land which was for our brother Elimelech.
And I thought I would tell you and say, 'Buy it in the presence of those sitting and before the elders of my people,' if you want to redeem it, redeem it. But if you do not want to redeem, tell me so that I may know, for there is no one except you to redeem it, and I am after you.' And he said, 'I want to redeem it.'
And Boaz said, 'On the day of your acquiring the field from the hand of Naomi, you also acquire Ruth the Moabite, the wife of the dead man, in order to raise up for the name of the dead his inheritance.'
And the redeemer said, 'I am not able to redeem for myself, lest I ruin my inheritance. You redeem for yourself my kinsman-redemption, for I am not able to redeem it.'
</p>

<div class="sidenote">Ruth 4:7</div>

<p>
(Now this was the custom in former times in Israel concerning the kinsman-redemption and transfer of property: to confirm the matter, a man removed his sandal and gave it to his fellow countryman. This was the manner of attesting in Israel.)
So the redeemer said to Boaz, 'Acquire it for yourself,' and he removed his sandal.
And Boaz said to the elders and all of the people, 'You are witnesses today that I have acquired all that was for Elimelech and that was for Kilion and Mahlon from the hand of Naomi.
And also Ruth the Moabite, the wife of Mahlon, I have acquired as a wife, to raise up the name of the dead over his inheritance, so that the name of the dead may not be cut off from his relatives and from the gate of his birth place. You are witnesses today.'
And all of the people who were at the gate and the elders said, 'We are witnesses. May the LORD make the woman coming into your house as Rachel and as Leah, who together built the house of Israel. May you have strength in Ephrathah and bestow a name in Bethlehem.
And may your house be like the house of Perez, whom Tamar bore to Judah from the offspring that the LORD will give to you from this young woman.'
</p>

<div class="sidenote left">Ruth 4:13 <br>to Ruth 4:22</div>

<h3>The Lineage of King David</h3>

<p>
So Boaz took Ruth and she became his wife. And he went in to her, and the LORD enabled her to conceive, and she bore a son.
And the women said to Naomi, 'Blessed be the LORD who today did not leave you without a redeemer! And may his name be renowned in Israel!
He shall be for you a restorer of life and a sustainer in your old age, for your daughter-in-law who loves you, who is better for you than seven sons, has borne him.'
And Naomi took the child and she put him on her bosom and became his nurse.
And the women of the neighborhood gave him a name, saying, 'A son has been born to Naomi.' And they called his name Obed. He was the father of Jesse, the father of David.
</p>

<div class="sidenote">Ruth 4:18</div>

<p>
Now these are the descendants of Perez: Perez fathered Hezron,
and Hezron fathered Ram, and Ram fathered Amminadab,
and Amminadab fathered Nahshon, and Nahshon fathered Salmon,
and Salmon fathered Boaz, and Boaz fathered Obed,
and Obed fathered Jesse, and Jesse fathered David.
</p>
