<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Titus</h1>

<div class="sidenote left">Titus 1:1 <br>to Titus 1:4</div>

<h3>Greeting</h3>

<p>
Paul, a slave of God and an apostle of Jesus Christ for the faith of the chosen of God and the knowledge of the truth that is according to godliness,
in the hope of eternal life which God, who does not lie, promised before eternal ages,
but at the proper time has disclosed his message in the proclamation with which I was entrusted according to the command of God our Savior,
to Titus, my true child according to a common faith. Grace and peace from God the Father and Christ Jesus our Savior.
</p>

<div class="sidenote left">Titus 1:5 <br>to Titus 1:16</div>

<h3>Instructions to Titus in Crete</h3>

<p>
On account of this, I left you behind in Crete, in order that what remains may be set in order and you may appoint elders in every town, as I ordered you.
If anyone is blameless, the husband of one wife, having faithful children, not accused of dissipation or rebellious.
For it is necessary for the overseer to be blameless as God's steward, not self-willed, not quick-tempered, not addicted to wine, not violent, not greedy for dishonest gain,
but hospitable, loving what is good, prudent, just, devout, self-controlled,
holding fast to the faithful message according to the teaching, in order that he may be able both to exhort with sound instruction and to reprove those who speak against it.
</p>

<div class="sidenote">Titus 1:10</div>

<p>
For there are many rebellious people, idle talkers and deceivers, especially those of the circumcision,
whom it is necessary to silence, whoever are ruining whole families by teaching things which must not be taught for the sake of dishonest gain.
A certain one of them, one of their own prophets, has said, 'Cretans are always liars, evil beasts, lazy gluttons.'
This testimony is true, for which reason reprove them severely, in order that they may be sound in the faith,
not paying attention to Jewish myths and commandments of people who turn away from the truth.
To the pure all things are pure, but to those who are defiled and unbelieving nothing is pure, but both their mind and conscience are defiled.
They profess to know God, but by their deeds they deny him, because they are detestable and disobedient, and unfit for every good deed.
</p>

<div class="sidenote left">Titus 2:1 <br>to Titus 2:15</div>

<h3>Sound Instruction and Consistent Behavior</h3>

<p>
But you, speak the things which are fitting for sound instruction.
Older men are to be temperate, worthy of respect, self-controlled, sound in faith, in love, and in endurance.
Older women likewise are to be reverent in their behavior, not slanderous, not enslaved to much wine, teaching what is good,
in order that they may encourage the young women to love their husbands and to love their children,
to be self-controlled, pure, busy at home, good, being subject to their own husbands, in order that the word of God may not be slandered.
Likewise, exhort the young men to be self-controlled,
concerning everything showing yourself to be an example of good deeds, in your teaching demonstrating soundness, dignity,
a sound message beyond reproach, in order that an opponent may be put to shame, because he has nothing bad to say concerning us.
</p>

<div class="sidenote">Titus 2:9</div>

<p>
Slaves must be subject to their own masters in everything, to be well-pleasing, not to talk back,
not stealing, but demonstrating all good faith, in order that they may do credit to the teaching of God our Savior in everything.
For the grace of God has appeared, bringing salvation to all people,
training us in order that, denying impiety and worldly desires, we may live self-controlled and righteously and godly in the present age,
looking forward to the blessed hope and the glorious appearing of our great God and Savior Jesus Christ,
who gave himself for us, in order that he might redeem us from all lawlessness and purify for himself a people for his own possession, zealous for good deeds.
Speak these things and exhort and reprove with all authority. Let no one disregard you.
</p>

<div class="sidenote left">Titus 3:1 <br>to Titus 3:7</div>

<h3>Conduct Toward All People</h3>

<p>
Remind them to be subject to the rulers and to the authorities, to obey, to be prepared for every good work,
to speak evil of no one, to be peaceable, gentle, showing all courtesy to all people.
For we also were once foolish, disobedient, led astray, enslaved to various desires and pleasures, spending our lives in wickedness and envy, despicable, hating one another.
But when the kindness and love for mankind of God our Savior appeared,
he saved us, not by deeds of righteousness that we have done, but because of his mercy, through the washing of regeneration and renewal by the Holy Spirit,
whom he poured out on us abundantly through Jesus Christ our Savior,
so that, having been justified by his grace, we may become heirs according to the hope of eternal life.
</p>

<div class="sidenote left">Titus 3:8 <br>to Titus 3:15</div>

<h3>Final Instructions to Titus</h3>

<p>
The saying is trustworthy, and I want you to insist concerning these things, so that those who have believed in God may be careful to engage in good deeds. These things are good and beneficial for people.
But avoid foolish controversies and genealogies and contentions and quarrels about the law, for they are useless and fruitless.
Reject a divisive person after a first and second admonition,
knowing that such a person is perverted and is sinning, being self-condemned.
</p>

<div class="sidenote">Titus 3:12</div>

<p>
When I send Artemas or Tychicus to you, make haste to come to me in Nicopolis, for I have decided to spend the winter there.
Diligently send on their way Zenas the lawyer and Apollos, so that they may lack nothing.
But also our people must learn to engage in good deeds for necessary needs, so that they will not be unfruitful.
All those with me greet you. Greet those who love us in the faith. Grace be with all of you.
</p>
