<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Zechariah</h1>

<p>
In the eighth month, in the second year of Darius, the word of the LORD came to the prophet Zechariah son of Berekiah, son of Iddo, saying,
'the LORD was very angry with your ancestors.
You must say to them: 'Thus says the LORD of hosts: 'Return to me,' declares the LORD of hosts, 'and I will return to you,' says the LORD of hosts.
'Do not be like your ancestors, to whom the former prophets proclaimed, saying, 'Thus says the LORD of hosts: 'Return from your evil ways and your evil deeds! But they did not hear and they did not pay attention to me,' declares the LORD.
'Your ancestors, where are they? And the prophets, do they live forever?
However, did not my words and my regulations which I commanded my servants the prophets overtake your ancestors? And they repented and said, 'the LORD of hosts planned to do with us according to our ways, and according to our deeds so he has dealt with us.''
</p>

<div class="sidenote left">Zechariah 1:7 <br>to Zechariah 1:17</div>

<h3>Zechariah’s First Vision</h3>

<p>
On the twenty-fourth day of the eleventh month, the month of Shebat, in the second year of Darius, the word of the LORD came to Zechariah the prophet, son of Berekiah, son of Iddo, saying,
I had a vision in the night, and look, a man riding on a red horse. And he was standing between the myrtle shrubs that were in the ravine, and behind him were red, reddish-brown, and white horses.
And I asked, 'What are these, my lord?' And the angel who was talking with me said, 'I will show you what these are.'
And the man standing between the myrtle shrubs answered and said, 'These are those whom the LORD has sent to patrol the earth.'
And they answered the angel of the LORD who was standing between the myrtle shrubs, and they said, 'We have patrolled the earth, and look, all the earth is dwelling in peace.'
The angel of the LORD answered and said, 'O the LORD of hosts, how long will you have no compassion on Jerusalem and the cities of Judah, with which you showed fury these seventy years?'
With gracious and comforting words the LORD answered the angel who was talking with me.
And the angel who was talking with me said to me, 'Proclaim, saying, 'Thus says the LORD of hosts: 'I am very jealous for Jerusalem and for Zion!
And I am extremely angry with the nations that are at ease, for while I was a little angry, they furthered disaster.'
Therefore, thus says the LORD: 'I have returned to Jerusalem with compassion. My temple will be built in it,' declares the LORD of hosts, 'and a measuring line will be stretched out over Jerusalem.
Proclaim again, saying, 'Thus says the LORD of hosts: 'My cities shall again overflow from prosperity, and the LORD will comfort Zion again, and he will choose Jerusalem again.'
</p>

<div class="sidenote left">Zechariah 1:18 <br>to Zechariah 1:21</div>

<h3>Zechariah’s Second Vision</h3>

<p>
And I looked up and I saw, and look, there were four horns!
And I said to the angel who was talking with me, 'What are these?' And he said to me, 'These are the horns that have scattered Judah, Israel, and Jerusalem.'
Then the LORD showed me four skilled craftsmen,
and I asked, 'What are these coming to do?' And he answered, saying, 'These are the horns that scattered Judah, so that no man lifted up his head; but these have come to frighten them, to strike down the horns of the nations that lifted a horn against the land of Judah to scatter it.'
</p>

<div class="sidenote left">Zechariah 2:1 <br>to Zechariah 2:13</div>

<h3>Zechariah’s Third Vision</h3>

<p>
And I looked up and I saw, and look, a man, and in his hand was a measuring rope!
And I asked, 'Where are you going?' And he answered me, 'To measure Jerusalem to see what is its width and what is its length.'
And look, the angel who was talking to me was coming forward, and another angel was coming forward to meet him.
And he said to him, 'Run, say to that young man, 'Jerusalem shall be inhabited like villages without walls because of the multitude of people and animals in its midst.
And I will be for it a wall of fire all around,' declares the LORD, 'and I will be the glory in its midst.''
</p>

<div class="sidenote">Zechariah 2:6</div>

<p>
'Woe! Woe! Flee from the land of the north,' declares the LORD, 'for I have scattered you like the four winds of the heavens,' declares the LORD.
'Woe, Zion! Escape, you inhabitants of the daughter of Babylon!'
For thus said the LORD of hosts, after glory he sent me against the nations plundering you: Truly, the one touching you is touching the apple of his eye.
'Yes, look! I am going to wave my hand against them, and they will become plunder for their servants, and you will know that the LORD of hosts has sent me.
Sing and rejoice, O daughter of Zion, for look, I am coming and I will dwell in your midst,' declares the LORD.
'Many nations will join themselves to the LORD on that day, and they will be my people, and I will dwell in your midst. And you will know that the LORD of hosts has sent me to you.
And the LORD will inherit Judah as his portion in the holy land, and he will again choose Jerusalem.
Be silent, all people, before the LORD, for he is roused from his holy dwelling.'
</p>

<div class="sidenote left">Zechariah 3:1 <br>to Zechariah 3:10</div>

<h3>Zechariah’s Fourth Vision</h3>

<p>
And he showed me Joshua the high priest standing before the angel of the LORD; and Satan was standing on his right to accuse him.
But the LORD said to Satan, 'the LORD rebukes you, O Satan! the LORD who has chosen Jerusalem rebukes you! Is this not a stick snatched from the fire?'
And Joshua was clothed in filthy garments and was standing before the angel.
And he answered and said to the ones standing before him, saying, 'Remove the filthy garments from him.' And he said to him, 'See, I have taken away your guilt from you, and will clothe you with rich garments.'
And I said, 'Let them put a clean headband on his head.' And they put a clean headband on his head, and they clothed him with garments. And the angel of the LORD was standing by.
</p>

<div class="sidenote">Zechariah 3:6</div>

<p>
And the angel of the LORD assured Joshua, saying,
'Thus says the LORD of hosts: 'If you will walk in my ways, and if you will keep my requirements, then you will judge my house, and you will also guard my courtyards, and I will give to you passageways among these that are standing here.
Listen, please, O Joshua the high priest, you and your companions that are sitting before you. For the men are a sign that, look, I am going to bring my servant the Branch.
For consider, the stone that I set before Joshua, on one stone are seven eyes. Look, I am going to engrave an inscription on it,' declares the LORD of hosts, 'and I will remove the guilt of that land in a single day.
On that day,' declares the LORD of hosts, 'you will invite one another under the vine and under the fig tree.''
</p>

<div class="sidenote left">Zechariah 4:1 <br>to Zechariah 4:14</div>

<h3>Zechariah’s Fifth Vision</h3>

<p>
And the angel who was talking with me returned, and he wakened me as one who is wakened from his sleep.
And he said to me, 'What do you see?' And I said, 'I see, and look, a lampstand all of gold, and a bowl was on its top, and its seven lamps on it, and seven lips on each of the lamps that are on its top.
And there are two olive trees by it, one on the right of the bowl and the other on its left.'
And I answered and said to the angel who was talking to me, 'What are these, my lord?'
And the angel who was talking with me answered and said to me, 'Do you not know what these are?' And I said, 'No, my lord.'
And he answered and said to me, 'This is the word of the LORD to Zerubbabel, saying, 'Not by strength and not by power, but only by my Spirit,' says the LORD of hosts.
'Who are you O great mountain? Before Zerubbabel you will become level ground, and he will bring out the top stone amid the shouts of 'Grace, grace to it!'
And the word of the LORD came to me, saying,
'The hands of Zerubbabel have founded this house, and his hands will finish it. And you will know that the LORD of hosts has sent me to you.
For whoever has despised the day of small things will rejoice and will see the plumb line in the hand of Zerubbabel.'
</p>

<div class="sidenote">Zechariah 4:11</div>

<p>
And I answered and said to him, 'What are these two olive trees on the right of the lampstand and on its left?'
And I replied a second time and asked him, 'What are these two twigs of olive trees on the right of the lampstand and on its left?'
And he replied to me, 'Do you not know what these are?' And I said, 'No, my lord.'
And he said, 'These are the two anointed ones standing by the Lord of the whole earth.'
</p>

<div class="sidenote left">Zechariah 5:1 <br>to Zechariah 5:4</div>

<h3>Zechariah’s Sixth Vision</h3>

<p>
I looked up again, and I saw, and look! a flying scroll!
And he asked me, 'What are you seeing?' And I said, 'I am seeing a flying scroll twenty cubits long and ten cubits wide.'
And he said to me, 'This is the curse going out over the surface of the whole earth. For everyone who steals has gone unpunished according to it, and likewise everyone who swears falsely has gone unpunished according to it.
'I have sent it out,' declares the LORD of hosts, 'and it will go into the house of the thief and into the house of the one swearing falsely by my name, and it will spend the night in that house and will destroy it, with its timber and its stone.''
</p>

<div class="sidenote left">Zechariah 5:5 <br>to Zechariah 5:11</div>

<h3>Zechariah’s Seventh Vision</h3>

<p>
And the angel who was speaking to me went out, and he said to me, 'Please look up! See what this is going out.'
And I asked, 'What is it?' And he said, 'This is a basket going out. And he said, 'This is their iniquity throughout all the earth.
And look, the lead cover was lifted and a woman was sitting inside the basket.
And he said, 'This is Wickedness!' And he thrust her back down into the basket, and threw the lead cover on top of it.
And I looked up and saw, and look! two women coming forward, and the wind was in their wings, and they had wings like those of a stork, and they lifted up the basket between the earth and the sky.
And I asked the angel who was talking to me, 'Where are they taking the basket?'
And he said to me, 'To build for it a house in the land of Shinar, and when it is put in place, it will be placed there on its site.'
</p>

<div class="sidenote left">Zechariah 6:1 <br>to Zechariah 6:8</div>

<h3>Zechariah’s Eighth Vision</h3>

<p>
I looked up again, and I saw, and look! four chariots coming out from between two mountains, and the mountains were mountains of bronze.
With the first chariot there were red horses, and with the second chariot there were black horses.
And with the third chariot there were white horses, and with the fourth chariot there were strong dappled horses.
And I answered and said to the angel that was talking to me, 'What are these, my lord?'
And the angel answered and said to me, 'These are the four winds of the heavens going out after presenting themselves before the Lord of all the earth.
The one with the black horses is going out to the north country, and the white horses go after them, while the dappled ones go to the south country.'
When the strong horses went out, they were anxious to go to patrol the earth. And he said, 'Go, patrol the earth.' And they patrolled the earth.
And he cried out to me and said to me, 'See those going out to the north country have set my spirit at rest in the north country.'
</p>

<div class="sidenote left">Zechariah 6:9 <br>to Zechariah 7:14</div>

<h3>The Branch is Crowned</h3>

<p>
And the word of the LORD came to me, saying,
'Collect from the exiles from Heldai, Tobijah, and from Jedaiah, all of whom came from Babylon and go on that day, go to the house of Josiah son of Zephaniah.
Take the silver and gold and make a crown, and set it on the head of Joshua son of Jehozadak, the high priest.
And say to him, 'Thus says the LORD of hosts: 'Look, here is a man whose name is Branch, and from his place he will sprout, and he will build the temple of the LORD.
And he will build the temple of the LORD, and he will bear majesty and will sit and rule on his throne. And he shall be a priest on his throne, and the counsel of peace will be between the two of them.
And the crown will be for Helem, for Tobijah, for Jedaiah, and for Hen son of Zephaniah, as a memorial in the temple of the LORD.
And those who are far off will come and build the temple of the LORD, and you will know that the LORD of hosts has sent me to you. And it will happen if you will listen diligently to the voice of the LORD your God.'
</p>

<p>
And then, in the fourth year of King Darius, the word of the LORD came to Zechariah on the fourth day of the ninth month, which is Kislev.
And the people of Bethel sent Sharezer and Regem-Melech, and their men, to entreat the favor of the LORD,
saying to the priests of the house of the LORD of hosts and to the prophets, 'Should I mourn in the fifth month and keep myself separate as I have done for these many years?'
And the word of the LORD of hosts came to me, saying,
'Say to all the people of the land and to the priests: 'When you fasted and lamented in the fifth and seventh months for these seventy years, did you really fast for me?
And when you eat and drink, are you not eating and drinking for yourselves?
Are not these the words that the LORD proclaimed through the former prophets, when Jerusalem and its surrounding towns were inhabited and at ease, and the Negev and the Shephelah were inhabited?''
</p>

<div class="sidenote">Zechariah 7:8</div>

<p>
And the word of the LORD came to Zechariah, saying,
'Thus says the LORD of hosts: 'Judge with trustworthy justice, and show steadfast love and compassion to one another.
You must not oppress the widow, the orphan, the foreigner, and the needy. You must not devise evil in your heart against one another.'
But they refused to listen, and turned a stubborn shoulder and stopped their ears from listening.
They made their hearts adamant in order not to hear the law and the words that the LORD of hosts had sent by his spirit through the former prophets; therefore great wrath came from the LORD of hosts.
'Thus, just as I called and they would not hear, so they will call and I will not hear,' says the LORD of hosts.
'And I scattered them with a wind among all the nations that they had not known; the land was made desolate behind them no one crossing through it or returning and they made the desirable land a desolation.''
</p>

<div class="sidenote left">Zechariah 8:1 <br>to Zechariah 9:17</div>

<h3>God’s Promise to Jerusalem</h3>

<p>
And the word of the LORD of hosts came, saying,
'Thus says the LORD of hosts: 'I am exceedingly jealous for Zion; I am jealous for it with great wrath.'
Thus says the LORD: 'I have returned to Zion, and I will dwell in the midst of Jerusalem; and Jerusalem will be called the faithful city, and the mountain of the LORD of hosts will be called the holy mountain.'
Thus says the LORD of hosts: 'Old men and old women shall again sit in the public squares of Jerusalem, each with staff in hand because of great age.
And the public squares of the city will be filled with boys and girls playing in its public squares.'
Thus says the LORD of hosts: 'Even if it seems impossible to the remnant of this people in those days, should it also seem impossible to me?' declares the LORD of hosts.
Thus says the LORD of hosts: 'Look! I am going to save my people from the land of the east, and from the land of the west,
and I will bring them and they will dwell in the midst of Jerusalem. They will be my people and I will be their God in faithfulness and in righteousness.'
</p>

<div class="sidenote">Zechariah 8:9</div>

<p>
'Thus says the LORD of hosts: 'Let your hands be strong, you who are hearing in these days these words from the mouth of the prophets who were present on the day the foundation was laid for the rebuilding of the temple, the house of the LORD of hosts.
For before those days there was no wage for people or for animals, and there was no safety from the enemy for those who went out or those who came in, and I sent each person against one another.
But now I will not deal with the remnant of this people as in the former days,' declares the LORD of hosts.
'For there will be a sowing of peace; the vine will give its fruit, and the soil will give its produce, and the heavens will give their dew. And I will cause the remnant of this people to inherit all these things.
And then, just as you were a curse among the nations, O house of Judah and house of Israel, so will I save you, and you will be a blessing. You must not be afraid; let your hands be strong!''
</p>

<div class="sidenote">Zechariah 8:14</div>

<p>
For thus says the LORD of hosts: 'Just as I planned to bring disaster on you when your ancestors provoked me to anger,' says the LORD of hosts, 'and I did not regret it,
so again I have planned in these days to do good to Jerusalem and the house of Judah. Do not be afraid!
These are the things that you must do: speak truth, each of you, with his neighbor; practice trustworthy judgment and peace in your gates.
Do not devise evil in your hearts against your neighbor, and do not love a false oath, because all these are things I hate,' declares the LORD.
</p>

<div class="sidenote">Zechariah 8:18</div>

<p>
And the word of the LORD of hosts came to me, saying
'Thus says the LORD of hosts: 'The fast of the fourth month, the fifth month, the seventh month, and the tenth month will be for the house of Judah jubilation and joy and merry festivals; therefore love truth and peace.'
Thus says the LORD of hosts: 'It will happen again that nations and the inhabitants of many cities will come.
And the inhabitants of one city will go to another city, saying, 'Let us go immediately to entreat the favor of the LORD, to seek the LORD of hosts I also will go!'
And many peoples and powerful nations will come to seek the LORD of hosts in Jerusalem, and to entreat the favor of the LORD.'
Thus says the LORD of hosts: 'In those days ten men from all the nations of every language will take hold of the hem of a Judean man, saying, 'Let us go with you, for we have heard that God is with you!'
</p>

<p>
An oracle. The word of the LORD is against the land of Hadrach,
</p>

<div class="sidenote">Zechariah 9:2</div>

<p>
and also Hamath, which borders on it; Tyre and Sidon yes, they are very wise!
</p>

<div class="sidenote">Zechariah 9:3</div>

<p>
Tyre has built a fortification for itself, and it heaped up silver like dust, and gold like the mud of the streets.
</p>

<div class="sidenote">Zechariah 9:4</div>

<p>
Look! The Lord will drive it out and will hurl its outer ramparts into the sea, and it will be consumed by fire.
</p>

<div class="sidenote">Zechariah 9:5</div>

<p>
Ashkelon will see and will be afraid, and Gaza will writhe exceedingly, and Ekron also, because its hope is ruined. And the king from Gaza will perish, and Ashkelon will not be inhabited.
</p>

<div class="sidenote">Zechariah 9:6</div>

<p>
A mongrel people will dwell in Ashdod, and I will cut down the pride of the Philistines.
</p>

<div class="sidenote">Zechariah 9:7</div>

<p>
I will remove its blood from its mouth, and its abominations from between its teeth. And it too will be a remnant for our God; and it will be like a tribal chief in Judah, and Ekron will be like the Jebusite.
</p>

<div class="sidenote">Zechariah 9:8</div>

<p>
But I will encamp at my temple like a guard, against those crossing through and returning; no oppressor will cross through them again, for now I have seen with my own eyes.
</p>

<div class="sidenote">Zechariah 9:9</div>

<p>
Rejoice greatly, O daughter of Zion! Shout aloud, O daughter of Jerusalem! Look! Your king comes to you; he is righteous and victorious, humble and riding on a donkey, and on a male donkey, the foal of a female donkey!
</p>

<div class="sidenote">Zechariah 9:10</div>

<p>
And I will cut off the chariot from Ephraim, and the horse from Jerusalem; the battle bow will be cut down, and he will announce peace to the nations. His dominion will be from sea to sea, and from the River to the ends of the earth.
</p>

<div class="sidenote">Zechariah 9:11</div>

<p>
As for you also, because of the blood of your covenant, I will release your prisoners from the waterless pit.
</p>

<div class="sidenote">Zechariah 9:12</div>

<p>
Return to the fortress, O prisoners of hope; today I am declaring that I will repay you double.
</p>

<div class="sidenote">Zechariah 9:13</div>

<p>
For I have bent Judah as my bow; I have set Ephraim as an arrow. I will set in motion your sons, O Zion, against your sons, O Javan. I will wield you like the sword of a warrior.
</p>

<div class="sidenote">Zechariah 9:14</div>

<p>
Then the LORD will appear over them, and his arrow will go forth like lightning; and my Lord the LORD will blow the trumpet, and he shall go out in the storm winds of the south.
</p>

<div class="sidenote">Zechariah 9:15</div>

<p>
the LORD of hosts will defend them, and they will devour and subdue the slingstones; they will drink, they will make noise like wine, and they will be full like the sacrificial basin, drenched like the corners of an altar.
</p>

<div class="sidenote">Zechariah 9:16</div>

<p>
And the LORD their God will save them on that day, as the flock of his people; for they are like the stones of a diadem, glittering on his land.
</p>

<div class="sidenote">Zechariah 9:17</div>

<p>
For how great is his goodness, and how great is his beauty! Grain will make the young men thrive, and new wine the young women.
</p>

<div class="sidenote left">Zechariah 10:1 <br>to Zechariah 11:3</div>

<h3>God Gives Rain</h3>

<p>
Ask rain from the LORD in the season of the spring rain
</p>

<div class="sidenote">Zechariah 10:2</div>

<p>
Because the household gods speak deceit, and those who practice divination see a lie, and the dreamers of vanity speak in vain. Therefore the people wander like sheep; they are afflicted because there is no shepherd.
</p>

<div class="sidenote">Zechariah 10:3</div>

<p>
My anger burns against the shepherds, and I will punish the leaders, because the LORD of hosts watches over his flock, the house of Judah; and he will make them like his majestic horse in war.
</p>

<div class="sidenote">Zechariah 10:4</div>

<p>
From them the cornerstone will go out, from them the tent peg, from them the battle bow, from them every ruler, all together.
</p>

<div class="sidenote">Zechariah 10:5</div>

<p>
And they will be like warriors, trampling in the mud of the streets in the battle. They will fight, because the LORD is with them, and they will put to shame the riders on horses.
</p>

<div class="sidenote">Zechariah 10:6</div>

<p>
And I will strengthen the house of Judah, and the house of Joseph I will save. And I will bring them back, because I have compassion on them, and they will be as if I had not rejected them, for I am the LORD their God, and I will answer them.
</p>

<div class="sidenote">Zechariah 10:7</div>

<p>
And the people of Ephraim will be like a warrior, and their heart will be glad as with wine. And their children will see and rejoice; their heart will shout in exultation in the LORD.
</p>

<div class="sidenote">Zechariah 10:8</div>

<p>
I will whistle to them and gather them, for I have redeemed them, and they will become numerous as they have been numerous before.
</p>

<div class="sidenote">Zechariah 10:9</div>

<p>
Though I sow them among the nations, in the distant places they will remember me, and they will stay alive with their children, and they will return.
</p>

<div class="sidenote">Zechariah 10:10</div>

<p>
And I will bring them back from the land of Egypt, and from Assyria I will gather them. To the land of Gilead and Lebanon I will bring them, until no room will be found for them there.
</p>

<div class="sidenote">Zechariah 10:11</div>

<p>
And he will pass through the sea of distress, and he will strike the waves of the sea, and all the depths of the Nile will dry up. The pride of Assyria will be brought low, and the scepter of Egypt will depart.
</p>

<div class="sidenote">Zechariah 10:12</div>

<p>
I will make them strong in the LORD, and in his name they will walk, declares the LORD.
</p>

<p>
Open your doors, O Lebanon,
</p>

<div class="sidenote">Zechariah 11:2</div>

<p>
Wail, O juniper, for the cedar has fallen, for the magnificent trees are ruined! Wail, oaks of Bashan, for the impenetrable forest has come down!
</p>

<div class="sidenote">Zechariah 11:3</div>

<p>
Listen to the wailing of the shepherds, for their splendor is ruined! Listen to the roar of the young lions, for the thickets of the Jordan are ruined!
</p>

<div class="sidenote left">Zechariah 11:4 <br>to Zechariah 11:17</div>

<h3>The Two Shepherds</h3>

<p>
Thus says the LORD my God: 'Shepherd the flock doomed to slaughter.
The ones buying them kill them and go unpunished, and the ones selling them say, 'Blessed be the LORD, for I have become rich.' Their own shepherds have no compassion for them.
For I will no longer have compassion on the inhabitants of the land,' declares the LORD. 'Look, I am going to cause humankind to fall, each into the hand of his neighbor, and into the hand of his king; and they will devastate the land, and I will not deliver anyone from their hand.'
</p>

<div class="sidenote">Zechariah 11:7</div>

<p>
And I shepherded the flock doomed to slaughter, even the afflicted of the flock. I took two staffs, one I called Kindness, and the other I called Unity, and I shepherded the flock.
And I got rid of three shepherds in one month, for I grew impatient with them, and they also became tired of me.
So I said, 'I will not shepherd you! The one dying will die, and the one to be destroyed will be destroyed. And the ones remaining, let them devour the flesh of each other.'
And I took my staff Kindness and broke it, to break my covenant that I had made with all the peoples.
And it was broken on that day. Then the afflicted of the flock, the ones who were watching me, knew that it was the word of the LORD.
And I said to them, 'If it seems right to you, give me my wages, but if not, keep them.' And they weighed out my wages, thirty silver shekels.
And the LORD said to me, 'Throw it to the potter,' this noble price at which I was valued by them!' So I took the thirty silver shekels and I threw them to the potter in the house of the LORD.
Then I broke my second staff Unity to break the family ties between Judah and Israel.
</p>

<div class="sidenote">Zechariah 11:15</div>

<p>
And the LORD said to me, 'Take again the implements of a foolish shepherd.
For look, I am raising up a shepherd in the land who will not attend to the ones that are perishing; he will not seek the young man, he will not heal the ones that are crushed and he will not sustain the healthy ones; he will devour the flesh of the fattened ones and tear apart even their hoofs.
</p>

<div class="sidenote">Zechariah 11:17</div>

<p>
'Woe, my worthless shepherd who deserts the flock! May a sword fall on his arm and on his right eye! May his arm wither completely and his right eye be utterly blinded!'
</p>

<div class="sidenote left">Zechariah 12:1 <br>to Zechariah 13:6</div>

<h3>The Day of the LORD</h3>

<p>
An oracle. The word of the LORD concerning Israel. 'Thus declares the LORD, who stretches out the heavens, founds the earth, and forms the spirit of humankind in its midst:
'Look, I am going to make Jerusalem a cup of reeling for all the surrounding nations; it will also be against Judah in the siege against Jerusalem.
And then on that day I will make Jerusalem a stone weight for all the peoples. All those lifting it up will grievously hurt themselves, and all the nations of the earth will assemble against it.
On that day,' declares the LORD, 'I will strike every horse with confusion, and the one riding it with madness; but over the house of Judah I will keep my eyes open, and I will strike every horse of the peoples with blindness.
And the clans of Judah will say to themselves, 'The inhabitants of Jerusalem are a strength to us, through the LORD of hosts, their God.'
</p>

<div class="sidenote">Zechariah 12:6</div>

<p>
On that day I will make the clans of Judah like a pan of fire among sticks of wood, and like a torch of fire among stalks of grain, and they will devour to the right and to the left all the surrounding peoples, and Jerusalem will be inhabited again in its place, in Jerusalem.
And the LORD will save the tents of Judah first, so that the glory of the house of David and the glory of the inhabitants of Jerusalem may not be exalted over Judah.
On that day the LORD will put a shield around the inhabitants of Jerusalem, and the one who stumbles among them on that day will be like David, and the house of David will be like God, like the angel of the LORD, before them.
And then on that day I will seek to destroy all the nations coming against Jerusalem.
</p>

<div class="sidenote">Zechariah 12:10</div>

<p>
I will pour on the house of David and on the inhabitants of Jerusalem a spirit of grace and supplication, and they will look to me whom they pierced, and they shall mourn over him, as one wails over an only child, and they will grieve bitterly over him as one grieves bitterly over a firstborn.
On that day the wailing will be great in Jerusalem, like the wailing for Hadad Rimmon in the plain of Megiddo.
And the land shall mourn, each clan by itself; the clan of the house of David by itself, and their wives by themselves; the clan of the house of Nathan by itself, and their wives by themselves;
the clan of the house of Levi by itself, and their wives by themselves; the clan of the Shimeites by itself, and their wives by themselves;
and all those clans remaining, each clan by itself, and their wives by themselves.''
</p>

<p>
On that day a well will be opened for the house of David and for the inhabitants of Jerusalem, to cleanse them from sin and from impurity.
And then, on that day,' declares the LORD of hosts, 'I will cut off the names of the idols from the land, and they will no longer be remembered; and also the prophets and the spirit of uncleanness I will banish from the land.
And then, if anyone prophesies again, his father and his mother who bore him will say to him, 'You shall not live, because you have spoken a lie in the name of the LORD!' And his father and his mother who bore him will pierce him through when he prophesies.
And then on that day, each of the prophets will be ashamed because of his vision when he was prophesying, and they will not put on a cloak of hair in order to deceive,
but he will say, 'I am not a prophet; I am a tiller of the soil, for a man has acquired me since my youth.'
And someone shall say to him, 'What are these wounds between your arms?' and he will say, 'Those I have received in the house of the ones who love me.'
</p>

<div class="sidenote left">Zechariah 13:7 <br>to Zechariah 13:9</div>

<h3>The Sword Shall Strike the Shepherd</h3>

<p>
'O sword, awake against my shepherd, against the man who is my associate,' declares the LORD of hosts. 'Strike the shepherd, so that the sheep may be scattered, and I will turn my hand against the small ones.
</p>

<div class="sidenote">Zechariah 13:8</div>

<p>
And then in all the land,' declares the LORD, 'two thirds will be cut off and perish, and one third will be left alive in it.
</p>

<div class="sidenote">Zechariah 13:9</div>

<p>
And I will bring the remaining third into the fire, and I will refine them like one refines silver, and I will test them like one tests gold. They will call my name, and I will answer them. I will say, 'They are my people,' and they will say, 'the LORD is my God.''
</p>

<div class="sidenote left">Zechariah 14:1 <br>to Malachi 1:1</div>

<h3>Zechariah’s Apocalyptic Vision</h3>

<p>
Look! A day is coming for the LORD, when your plunder will be divided in your midst.
I will gather all the nations against Jerusalem to battle, and the city will be captured, and they will loot the houses, and the women will be raped; half of the city will go into exile, but the remainder of the people will not be cut off from the city.
Then the LORD will go forth and fight against those nations, like when he fights on a day of battle.
On that day his feet will stand on the Mount of Olives, which faces Jerusalem on the east; and the Mount of Olives will be split in half, from east to west, by a very great valley; and half of the mountain will withdraw toward the north, and the other half toward the south.
And you will flee by the valley of my mountains, because the valley of the mountains will reach to Azal, and you will flee like you fled from the earthquake in the days of King Uzziah of Judah. And the LORD my God will come, and all the holy ones with him.
</p>

<div class="sidenote">Zechariah 14:6</div>

<p>
And then on that day there will not be light, the precious things will congeal.
There shall be continuous day it is known to the LORD not day and not night; and at evening time there will be light.
</p>

<div class="sidenote">Zechariah 14:8</div>

<p>
And then on that day, living waters will flow out from Jerusalem, half of them to the eastern sea, and the other half to the western sea; it will happen both in the summer and in the winter.
And the LORD will be king over all the earth; on that day the LORD will be one and his name one.
All the land will be transformed into a desert plateau from Geba to Rimmon south of Jerusalem. But it will rise up high and it will stay in its place from the Gate of Benjamin to the place of the former gate, up to the Corner Gate and from the Tower of Hananel to the king's winepresses.
And they will dwell in it, and there will be no more ban imposed, and Jerusalem will dwell in security.
</p>

<div class="sidenote">Zechariah 14:12</div>

<p>
And this will be the plague with which the LORD will strike all the peoples that fight against Jerusalem: their flesh will rot while they are standing on their feet; their eyes will rot in their sockets, and their tongues will rot in their mouths.
And then on that day a great panic from the LORD will fall on them, and they will seize one another's hand, and the hand of the one will be raised against the hand of another.
And Judah also will fight at Jerusalem. And the wealth of all the surrounding nations will be collected gold and silver, and garments in great abundance.
Like this plague will be the plague on the horse, the mule, the camel, and the donkey, and every kind of animal in those camps.
</p>

<div class="sidenote">Zechariah 14:16</div>

<p>
And then every survivor from all those nations coming against Jerusalem will go up year after year to worship the king, the LORD of hosts, and celebrate the Feast of Booths.
And then whoever of the clans of the earth does not go up to Jerusalem to worship the king, the LORD of hosts, it will not rain on them.
And if the clan of Egypt will not go up and come in, on them will be that plague the LORD inflicts on the nations that do not go up to celebrate the Feast of Booths.
This will be the punishment of Egypt and the punishment of all the nations that do not go up to celebrate the Feast of Booths.
</p>

<div class="sidenote">Zechariah 14:20</div>

<p>
On that day there will be inscribed on the bells of the horses, 'Holy to the LORD.' And the cooking pots in the house of the LORD will be holy like the sacrificial basins before the altar.
And every cooking pot in Jerusalem and in Judah will be holy to the LORD of hosts, and all those who sacrifice will come and will take from them, and will cook in them, and there will be no longer a trader in the house of the LORD of hosts on that day.
</p>
