<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Zephaniah</h1>

<div class="sidenote left">Zephaniah 1:1 <br>to Zephaniah 1:18</div>

<h3>Judah’s Impending Judgment</h3>

<p>
The word of the LORD that came to Zephaniah the son of Cushi, the son of Gedaliah, the son of Amariah, the son of Hezekiah, in the days of Josiah son of Amon, king of Judah.
</p>

<div class="sidenote">Zephaniah 1:2</div>

<p>
'I will surely destroy everything from the face of the earth' a declaration of the LORD.
</p>

<div class="sidenote">Zephaniah 1:3</div>

<p>
'I will destroy humanity and beast; I will destroy the birds of the sky and the fish of the sea, and the stumbling blocks with the wicked. And I will cut off humankind from the face of the earth' a declaration of the LORD.
</p>

<div class="sidenote">Zephaniah 1:4</div>

<p>
'And I will stretch out my hand against Judah and against all the inhabitants of Jerusalem. And I will cut off from this place the remnant of Baal, and the name of idolatrous priests with the priests,
</p>

<div class="sidenote">Zephaniah 1:5</div>

<p>
and those who bow down on the rooftops to the host of heaven, and those who bow down, swearing to the LORD but also swearing by Milkom,
</p>

<div class="sidenote">Zephaniah 1:6</div>

<p>
and those who turned back from following the LORD, and who did not seek the LORD, and did not inquire of him.'
</p>

<div class="sidenote">Zephaniah 1:7</div>

<p>
Be silent before the Lord the LORD, for the day of the LORD draws near, for the LORD has provided a sacrifice and has consecrated his guests.
</p>

<div class="sidenote">Zephaniah 1:8</div>

<p>
And it shall be that on the day of the sacrifice of the LORD, I will punish the officials and the sons of the king and those who dress in foreign clothing.
</p>

<div class="sidenote">Zephaniah 1:9</div>

<p>
And on that day I will punish all who leap over the threshold, who fill up the house of their master with violence and deceit.
</p>

<div class="sidenote">Zephaniah 1:10</div>

<p>
'And there shall be on that day' a declaration of the LORD 'a loud outcry from the Fish Gate, and a wailing from the Second District, and a loud crashing from the hills.
</p>

<div class="sidenote">Zephaniah 1:11</div>

<p>
The inhabitants of the Mortar shall wail, for all the traders have perished; all who trade with silver have been cut off.
</p>

<div class="sidenote">Zephaniah 1:12</div>

<p>
And it shall be that at that time I will search Jerusalem with lamps, and I will punish the men whose senses are dulled from drinking, who say in their hearts, 'the LORD will not do good, nor will he do evil.'
</p>

<div class="sidenote">Zephaniah 1:13</div>

<p>
Then their wealth shall be as plunder, and their homes as desolation. And they shall build their houses and not inhabit them, and they shall plant vineyards and not drink their wine.'
</p>

<div class="sidenote">Zephaniah 1:14</div>

<p>
The great day of the LORD draws near; it is near and coming very swiftly. The sound of the day of the LORD is bitterness; there, a warrior cries out!
</p>

<div class="sidenote">Zephaniah 1:15</div>

<p>
That day will be a day of wrath, a day of trouble and distress, a day of disaster and ruination, a day of darkness and deep gloom, a day of clouds and thick clouds,
</p>

<div class="sidenote">Zephaniah 1:16</div>

<p>
a day of trumpet and trumpet blast against the fortified cities and against the high corner towers.
</p>

<div class="sidenote">Zephaniah 1:17</div>

<p>
And I will bring distress to all humankind, and they shall walk about like the blind, for they sinned against the LORD; their blood shall be poured out like dust and their entrails like dung.
</p>

<div class="sidenote">Zephaniah 1:18</div>

<p>
Moreover, their silver and their gold will not be able to save them on the day of the wrath of the LORD. And in the fire of his zeal, the whole land shall be consumed, for a terrifying end he shall make for all the inhabitants of the land.
</p>

<div class="sidenote left">Zephaniah 2:1 <br>to Zephaniah 2:15</div>

<h3>Judgment of Judah’s Enemies</h3>

<p>
Gather yourselves together! Now gather together, O nation having no shame!
</p>

<div class="sidenote">Zephaniah 2:2</div>

<p>
Before the birth of the decree, the day flies away like chaff; before the fierce anger of the LORD overtakes you; before the day of the anger of the LORD overtakes you.
</p>

<div class="sidenote">Zephaniah 2:3</div>

<p>
Seek the LORD, all you afflicted of the land who have fulfilled his law; seek righteousness; seek humility. Perhaps you will be concealed on the day of the anger of the LORD.
</p>

<div class="sidenote">Zephaniah 2:4</div>

<p>
For Gaza will be abandoned, and Ashkelon as a desolation. As for Ashdod, at noon they will drive her away, and Ekron shall be uprooted.
</p>

<div class="sidenote">Zephaniah 2:5</div>

<p>
Woe to you, inhabitants of the region of the sea, people of the Kerethites! The word of the LORD is against you, O Canaan, land of the Philistines. I will destroy you until there is no inhabitant.
</p>

<div class="sidenote">Zephaniah 2:6</div>

<p>
And you, O region of the sea, shall become pastures and meadows for shepherds and sheep pens for the flocks.
</p>

<div class="sidenote">Zephaniah 2:7</div>

<p>
And it shall become a region for the remnant of the house of Judah; upon them they shall graze, and in the houses of Ashkelon they shall lie down in the evening. For the LORD their God shall be mindful of them, and he will restore their fortunes.
</p>

<div class="sidenote">Zephaniah 2:8</div>

<p>
I have heard the reproaches of Moab and the scorning of the Ammonites, with which they have taunted my nation and made boasts against their territory.
</p>

<div class="sidenote">Zephaniah 2:9</div>

<p>
'Therefore, as I live' a declaration of the LORD of hosts, the God of Israel 'Moab shall be as Sodom, and the Ammonites like Gomorrah, a place of weeds and salt pits and a desolation forever. The remnant of my people shall plunder them, and the remainder of my nation shall possess them.'
</p>

<div class="sidenote">Zephaniah 2:10</div>

<p>
This shall be for them in place of their pride because they mocked and boasted against the people of the LORD of hosts.
</p>

<div class="sidenote">Zephaniah 2:11</div>

<p>
the LORD will be awesome against them, for he will destroy all the gods of the earth and all the lands of the nations; each in its place will bow down to him.
</p>

<div class="sidenote">Zephaniah 2:12</div>

<p>
You also, O Cushites, they shall be killed by my sword.
</p>

<div class="sidenote">Zephaniah 2:13</div>

<p>
And he will stretch out his hand against the north, and he will destroy Assyria and will make Nineveh a desolation, a dry wasteland like the desert.
</p>

<div class="sidenote">Zephaniah 2:14</div>

<p>
Herds shall lie down in her midst, every wild animal of a nation; even the desert owl and the screech owl shall lodge on her capitals. A voice shall hoot in the window; rubble on the threshold; for the cedar is laid bare.
</p>

<div class="sidenote">Zephaniah 2:15</div>

<p>
This is the city of rejoicing that lived securely; the one saying in her heart, 'I am, and there is none besides me.' How she has become a desolation, a lair for wild animals! Everyone who passes by her hisses and shakes his fist.
</p>

<div class="sidenote left">Zephaniah 3:1 <br>to Zephaniah 3:20</div>

<h3>Judgment of Jerusalem and the Nations</h3>

<p>
Woe to you, O rebellious and defiled one! The oppressing city!
</p>

<div class="sidenote">Zephaniah 3:2</div>

<p>
She listens to no voice; she does not accept correction. In the LORD she does not trust; to her God she does not draw near.
</p>

<div class="sidenote">Zephaniah 3:3</div>

<p>
Her officials in her midst are roaring lions; her judges are evening wolves; they leave nothing until the morning.
</p>

<div class="sidenote">Zephaniah 3:4</div>

<p>
Her prophets are arrogant men of treachery; her priests have defiled that which is holy; they do violence to the law.
</p>

<div class="sidenote">Zephaniah 3:5</div>

<p>
the LORD is righteous in her midst; he does not do wickedness. Morning by morning he renders his judgment; at dawn he does not fail, but an evil one knows no shame.
</p>

<div class="sidenote">Zephaniah 3:6</div>

<p>
'I have cut off nations; their strongholds are deserted. I have laid waste their streets, so that none pass through. Their cities have been destroyed and are without a man, without an inhabitant.
</p>

<div class="sidenote">Zephaniah 3:7</div>

<p>
I have said, 'Surely she will fear me; she will accept discipline. Then her dwelling place will not be cut down, nor all that I have brought upon her.' Surely they rise early; they make all their deeds corrupt.
</p>

<div class="sidenote">Zephaniah 3:8</div>

<p>
'Therefore, wait for me' a declaration of the LORD 'for the day of my rising as a witness. For my decision is to gather nations, to assemble kingdoms, to pour out my wrath upon them, all my burning anger. For by the fire of my anger all the land shall be consumed.
</p>

<div class="sidenote">Zephaniah 3:9</div>

<p>
Because then I will make the speech of the nations pure; that all of them might call on the name of the LORD, to serve him in unison.
</p>

<div class="sidenote">Zephaniah 3:10</div>

<p>
From beyond the rivers of Cush my worshipers and the daughter of my scattered ones shall bring my offering.
</p>

<div class="sidenote">Zephaniah 3:11</div>

<p>
On that day you shall not be humiliated on account of all your deeds by which you have rebelled against me. For then I shall remove from your midst those exulting in your pride, and you shall no longer be haughty in my holy mountain.
</p>

<div class="sidenote">Zephaniah 3:12</div>

<p>
And I will leave in your midst a people afflicted and poor, and they shall take refuge in the name of the LORD.
</p>

<div class="sidenote">Zephaniah 3:13</div>

<p>
The remnant of Israel shall not do wickedness; they shall not speak deception, nor shall a deceitful tongue be found in their mouth. For they shall graze and lie down, and none shall frighten them.'
</p>

<div class="sidenote">Zephaniah 3:14</div>

<p>
Shout for joy, O daughter of Zion! Cry aloud, O Israel! Rejoice and be jubilant with all your heart, O daughter of Jerusalem!
</p>

<div class="sidenote">Zephaniah 3:15</div>

<p>
the LORD has annulled your judgments; he has turned away your enemies. The king of Israel, the LORD, is in your midst; you shall no longer fear misfortune.
</p>

<div class="sidenote">Zephaniah 3:16</div>

<p>
On that day it shall be said to Jerusalem, 'Fear not, O Zion; your hands shall not hang limp.
</p>

<div class="sidenote">Zephaniah 3:17</div>

<p>
the LORD your God is in your midst; a mighty warrior who saves. He shall rejoice over you with joy; he renews you in his love; he will exult over you with singing.
</p>

<div class="sidenote">Zephaniah 3:18</div>

<p>
I will gather those of you grieving on account of the feast; they were raising against her a reproach.
</p>

<div class="sidenote">Zephaniah 3:19</div>

<p>
Behold, at that time I will deal with all your oppressors; I will save the lame and gather the outcast. I will change them from shame to glory and renown throughout the whole world.
</p>

<div class="sidenote">Zephaniah 3:20</div>

<p>
At that time I will bring you in; at the time of my gathering you together. For I will make you renowned and praised among all the nations of the earth when I restore your fortunes before your eyes,' says the LORD.
</p>
