<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>1 Thessalonians</h1>

<div class="sidenote left">1 Thessalonians 1:1 </div>

<h3>Greeting</h3>

<p>
Paul, and Silvanus, and Timotheus, unto the church of the Thessalonians which is in God the Father and in the Lord Jesus Christ: Grace be unto you, and peace, from God our Father, and the Lord Jesus Christ.
</p>

<div class="sidenote left">1 Thessalonians 1:2 <br>to 1 Thessalonians 1:10</div>

<h3>Thanksgiving for the Thessalonian Believers</h3>

<p>
We give thanks to God always for you all, making mention of you in our prayers;
Remembering without ceasing your work of faith, and labour of love, and patience of hope in our Lord Jesus Christ, in the sight of God and our Father;
Knowing, brethren beloved, your election of God.
For our gospel came not unto you in word only, but also in power, and in the Holy Ghost, and in much assurance; as ye know what manner of men we were among you for your sake.
And ye became followers of us, and of the Lord, having received the word in much affliction, with joy of the Holy Ghost.
So that ye were ensamples to all that believe in Macedonia and Achaia.
For from you sounded out the word of the Lord not only in Macedonia and Achaia, but also in every place your faith to God-ward is spread abroad; so that we need not to speak any thing.
For they themselves shew of us what manner of entering in we had unto you, and how ye turned to God from idols to serve the living and true God;
And to wait for his Son from heaven, whom he raised from the dead, even Jesus, which delivered us from the wrath to come.
</p>

<div class="sidenote left">1 Thessalonians 2:1 <br>to 1 Thessalonians 2:12</div>

<h3>Paul’s Approach to Ministry in Thessalonica</h3>

<p>
For yourselves, brethren, know our entrance in unto you, that it was not in vain:
But even after that we had suffered before, and were shamefully entreated, as ye know, at Philippi, we were bold in our God to speak unto you the gospel of God with much contention.
For our exhortation was not of deceit, nor of uncleanness, nor in guile:
But as we were allowed of God to be put in trust with the gospel, even so we speak; not as pleasing men, but God, which trieth our hearts.
For neither at any time used we flattering words, as ye know, nor a cloke of covetousness; God is witness:
Nor of men sought we glory, neither of you, nor yet of others, when we might have been burdensome, as the apostles of Christ.
But we were gentle among you, even as a nurse cherisheth her children:
So being affectionately desirous of you, we were willing to have imparted unto you, not the gospel of God only, but also our own souls, because ye were dear unto us.
</p>

<div class="sidenote">1 Thessalonians 2:9</div>

<p>
For ye remember, brethren, our labour and travail: for labouring night and day, because we would not be chargeable unto any of you, we preached unto you the gospel of God.
Ye are witnesses, and God also, how holily and justly and unblameably we behaved ourselves among you that believe:
As ye know how we exhorted and comforted and charged every one of you, as a father doth his children,
That ye would walk worthy of God, who hath called you unto his kingdom and glory.
</p>

<div class="sidenote left">1 Thessalonians 2:13 <br>to 1 Thessalonians 2:16</div>

<h3>The Thessalonians’ Response to Paul’s Message</h3>

<p>
For this cause also thank we God without ceasing, because, when ye received the word of God which ye heard of us, ye received it not as the word of men, but as it is in truth, the word of God, which effectually worketh also in you that believe.
For ye, brethren, became followers of the churches of God which in Judaea are in Christ Jesus: for ye also have suffered like things of your own countrymen, even as they have of the Jews:
Who both killed the Lord Jesus, and their own prophets, and have persecuted us; and they please not God, and are contrary to all men:
Forbidding us to speak to the Gentiles that they might be saved, to fill up their sins alway: for the wrath is come upon them to the uttermost.
</p>

<div class="sidenote left">1 Thessalonians 2:17 <br>to 1 Thessalonians 2:20</div>

<h3>Paul’s Desire to Revisit the Thessalonians</h3>

<p>
But we, brethren, being taken from you for a short time in presence, not in heart, endeavoured the more abundantly to see your face with great desire.
Wherefore we would have come unto you, even I Paul, once and again; but Satan hindered us.
For what is our hope, or joy, or crown of rejoicing? Are not even ye in the presence of our Lord Jesus Christ at his coming?
For ye are our glory and joy.
</p>

<div class="sidenote left">1 Thessalonians 3:1 <br>to 1 Thessalonians 3:5</div>

<h3>Paul Sends Timothy to Thessalonica</h3>

<p>
Wherefore when we could no longer forbear, we thought it good to be left at Athens alone;
And sent Timotheus, our brother, and minister of God, and our fellowlabourer in the gospel of Christ, to establish you, and to comfort you concerning your faith:
That no man should be moved by these afflictions: for yourselves know that we are appointed thereunto.
For verily, when we were with you, we told you before that we should suffer tribulation; even as it came to pass, and ye know.
For this cause, when I could no longer forbear, I sent to know your faith, lest by some means the tempter have tempted you, and our labour be in vain.
</p>

<div class="sidenote left">1 Thessalonians 3:6 <br>to 1 Thessalonians 3:13</div>

<h3>Timothy’s Positive Report</h3>

<p>
But now when Timotheus came from you unto us, and brought us good tidings of your faith and charity, and that ye have good remembrance of us always, desiring greatly to see us, as we also to see you:
Therefore, brethren, we were comforted over you in all our affliction and distress by your faith:
For now we live, if ye stand fast in the Lord.
For what thanks can we render to God again for you, for all the joy wherewith we joy for your sakes before our God;
Night and day praying exceedingly that we might see your face, and might perfect that which is lacking in your faith?
</p>

<div class="sidenote">1 Thessalonians 3:11</div>

<p>
Now God himself and our Father, and our Lord Jesus Christ, direct our way unto you.
And the Lord make you to increase and abound in love one toward another, and toward all men, even as we do toward you:
To the end he may stablish your hearts unblameable in holiness before God, even our Father, at the coming of our Lord Jesus Christ with all his saints.
</p>

<div class="sidenote left">1 Thessalonians 4:1 <br>to 1 Thessalonians 4:8</div>

<h3>Appeal for Continuing Sanctification</h3>

<p>
Furthermore then we beseech you, brethren, and exhort you by the Lord Jesus, that as ye have received of us how ye ought to walk and to please God, so ye would abound more and more.
For ye know what commandments we gave you by the Lord Jesus.
For this is the will of God, even your sanctification, that ye should abstain from fornication:
That every one of you should know how to possess his vessel in sanctification and honour;
Not in the lust of concupiscence, even as the Gentiles which know not God:
That no man go beyond and defraud his brother in any matter: because that the Lord is the avenger of all such, as we also have forewarned you and testified.
For God hath not called us unto uncleanness, but unto holiness.
He therefore that despiseth, despiseth not man, but God, who hath also given unto us his holy Spirit.
</p>

<div class="sidenote left">1 Thessalonians 4:9 <br>to 1 Thessalonians 4:12</div>

<h3>Affirmation of Continuing Love</h3>

<p>
But as touching brotherly love ye need not that I write unto you: for ye yourselves are taught of God to love one another.
And indeed ye do it toward all the brethren which are in all Macedonia: but we beseech you, brethren, that ye increase more and more;
And that ye study to be quiet, and to do your own business, and to work with your own hands, as we commanded you;
That ye may walk honestly toward them that are without, and that ye may have lack of nothing.
</p>

<div class="sidenote left">1 Thessalonians 4:13 <br>to 1 Thessalonians 4:18</div>

<h3>The Comfort of the Lord’s Return</h3>

<p>
But I would not have you to be ignorant, brethren, concerning them which are asleep, that ye sorrow not, even as others which have no hope.
For if we believe that Jesus died and rose again, even so them also which sleep in Jesus will God bring with him.
For this we say unto you by the word of the Lord, that we which are alive and remain unto the coming of the Lord shall not prevent them which are asleep.
For the Lord himself shall descend from heaven with a shout, with the voice of the archangel, and with the trump of God: and the dead in Christ shall rise first:
Then we which are alive and remain shall be caught up together with them in the clouds, to meet the Lord in the air: and so shall we ever be with the Lord.
Wherefore comfort one another with these words.
</p>

<div class="sidenote left">1 Thessalonians 5:1 <br>to 1 Thessalonians 5:11</div>

<h3>The Sudden Arrival of the Day of the Lord</h3>

<p>
But of the times and the seasons, brethren, ye have no need that I write unto you.
For yourselves know perfectly that the day of the Lord so cometh as a thief in the night.
For when they shall say, Peace and safety; then sudden destruction cometh upon them, as travail upon a woman with child; and they shall not escape.
But ye, brethren, are not in darkness, that that day should overtake you as a thief.
Ye are all the children of light, and the children of the day: we are not of the night, nor of darkness.
</p>

<div class="sidenote">1 Thessalonians 5:6</div>

<p>
Therefore let us not sleep, as do others; but let us watch and be sober.
For they that sleep sleep in the night; and they that be drunken are drunken in the night.
But let us, who are of the day, be sober, putting on the breastplate of faith and love; and for an helmet, the hope of salvation.
For God hath not appointed us to wrath, but to obtain salvation by our Lord Jesus Christ,
Who died for us, that, whether we wake or sleep, we should live together with him.
Wherefore comfort yourselves together, and edify one another, even as also ye do.
</p>

<div class="sidenote left">1 Thessalonians 5:12 <br>to 1 Thessalonians 5:28</div>

<h3>Final Exhortations and Benediction</h3>

<p>
And we beseech you, brethren, to know them which labour among you, and are over you in the Lord, and admonish you;
And to esteem them very highly in love for their work's sake. And be at peace among yourselves.
</p>

<div class="sidenote">1 Thessalonians 5:14</div>

<p>
Now we exhort you, brethren, warn them that are unruly, comfort the feebleminded, support the weak, be patient toward all men.
See that none render evil for evil unto any man; but ever follow that which is good, both among yourselves, and to all men.
</p>

<div class="sidenote">1 Thessalonians 5:16</div>

<p>
Rejoice evermore.
Pray without ceasing.
In every thing give thanks: for this is the will of God in Christ Jesus concerning you.
Quench not the Spirit.
Despise not prophesyings.
Prove all things; hold fast that which is good.
Abstain from all appearance of evil.
And the very God of peace sanctify you wholly; and I pray God your whole spirit and soul and body be preserved blameless unto the coming of our Lord Jesus Christ.
Faithful is he that calleth you, who also will do it.
</p>

<div class="sidenote">1 Thessalonians 5:25</div>

<p>
Brethren, pray for us.
Greet all the brethren with an holy kiss.
I charge you by the Lord that this epistle be read unto all the holy brethren.
The grace of our Lord Jesus Christ be with you. Amen.
</p>
