<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 John</h1>

<p>
The elder unto the elect lady and her children, whom I love in the truth; and not I only, but also all they that have known the truth;
For the truth's sake, which dwelleth in us, and shall be with us for ever.
Grace be with you, mercy, and peace, from God the Father, and from the Lord Jesus Christ, the Son of the Father, in truth and love.
I rejoiced greatly that I found of thy children walking in truth, as we have received a commandment from the Father.
And now I beseech thee, lady, not as though I wrote a new commandment unto thee, but that which we had from the beginning, that we love one another.
And this is love, that we walk after his commandments. This is the commandment, That, as ye have heard from the beginning, ye should walk in it.
For many deceivers are entered into the world, who confess not that Jesus Christ is come in the flesh. This is a deceiver and an antichrist.
Look to yourselves, that we lose not those things which we have wrought, but that we receive a full reward.
Whosoever transgresseth, and abideth not in the doctrine of Christ, hath not God. He that abideth in the doctrine of Christ, he hath both the Father and the Son.
If there come any unto you, and bring not this doctrine, receive him not into your house, neither bid him God speed:
For he that biddeth him God speed is partaker of his evil deeds.
Having many things to write unto you, I would not write with paper and ink: but I trust to come unto you, and speak face to face, that our joy may be full.
The children of thy elect sister greet thee. Amen.
</p>
