<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>2 Timothy</h1>

<div class="sidenote left">2 Timothy 1:1 <br>to 2 Timothy 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Jesus Christ by the will of God, according to the promise of life which is in Christ Jesus,
To Timothy, my dearly beloved son: Grace, mercy, and peace, from God the Father and Christ Jesus our Lord.
</p>

<div class="sidenote left">2 Timothy 1:3 <br>to 2 Timothy 1:7</div>

<h3>Timothy’s Spiritual Heritage</h3>

<p>
I thank God, whom I serve from my forefathers with pure conscience, that without ceasing I have remembrance of thee in my prayers night and day;
Greatly desiring to see thee, being mindful of thy tears, that I may be filled with joy;
When I call to remembrance the unfeigned faith that is in thee, which dwelt first in thy grandmother Lois, and thy mother Eunice; and I am persuaded that in thee also.
Wherefore I put thee in remembrance that thou stir up the gift of God, which is in thee by the putting on of my hands.
For God hath not given us the spirit of fear; but of power, and of love, and of a sound mind.
</p>

<div class="sidenote left">2 Timothy 1:8 <br>to 2 Timothy 1:18</div>

<h3>Exhortation to Share Paul’s Suffering</h3>

<p>
Be not thou therefore ashamed of the testimony of our Lord, nor of me his prisoner: but be thou partaker of the afflictions of the gospel according to the power of God;
Who hath saved us, and called us with an holy calling, not according to our works, but according to his own purpose and grace, which was given us in Christ Jesus before the world began,
But is now made manifest by the appearing of our Saviour Jesus Christ, who hath abolished death, and hath brought life and immortality to light through the gospel:
Whereunto I am appointed a preacher, and an apostle, and a teacher of the Gentiles.
For the which cause I also suffer these things: nevertheless I am not ashamed: for I know whom I have believed, and am persuaded that he is able to keep that which I have committed unto him against that day.
Hold fast the form of sound words, which thou hast heard of me, in faith and love which is in Christ Jesus.
That good thing which was committed unto thee keep by the Holy Ghost which dwelleth in us.
</p>

<div class="sidenote">2 Timothy 1:15</div>

<p>
This thou knowest, that all they which are in Asia be turned away from me; of whom are Phygellus and Hermogenes.
The Lord give mercy unto the house of Onesiphorus; for he oft refreshed me, and was not ashamed of my chain:
But, when he was in Rome, he sought me out very diligently, and found me.
The Lord grant unto him that he may find mercy of the Lord in that day: and in how many things he ministered unto me at Ephesus, thou knowest very well.
</p>

<div class="sidenote left">2 Timothy 2:1 <br>to 2 Timothy 2:7</div>

<h3>Exhortation to Be Strong in Grace</h3>

<p>
Thou therefore, my son, be strong in the grace that is in Christ Jesus.
And the things that thou hast heard of me among many witnesses, the same commit thou to faithful men, who shall be able to teach others also.
Thou therefore endure hardness, as a good soldier of Jesus Christ.
No man that warreth entangleth himself with the affairs of this life; that he may please him who hath chosen him to be a soldier.
And if a man also strive for masteries, yet is he not crowned, except he strive lawfully.
The husbandman that laboureth must be first partaker of the fruits.
Consider what I say; and the Lord give thee understanding in all things.
</p>

<div class="sidenote left">2 Timothy 2:8 <br>to 2 Timothy 2:13</div>

<h3>A Trustworthy Saying</h3>

<p>
Remember that Jesus Christ of the seed of David was raised from the dead according to my gospel:
Wherein I suffer trouble, as an evil doer, even unto bonds; but the word of God is not bound.
Therefore I endure all things for the elect's sakes, that they may also obtain the salvation which is in Christ Jesus with eternal glory.
It is a faithful saying: For if we be dead with him, we shall also live with him:
</p>

<div class="sidenote">2 Timothy 2:12</div>

<p>
If we suffer, we shall also reign with him: if we deny him, he also will deny us:
</p>

<div class="sidenote">2 Timothy 2:13</div>

<p>
If we believe not, yet he abideth faithful: he cannot deny himself.
</p>

<div class="sidenote left">2 Timothy 2:14 <br>to 2 Timothy 2:26</div>

<h3>A Worker Approved to God and Not Ashamed</h3>

<p>
Of these things put them in remembrance, charging them before the Lord that they strive not about words to no profit, but to the subverting of the hearers.
Study to shew thyself approved unto God, a workman that needeth not to be ashamed, rightly dividing the word of truth.
But shun profane and vain babblings: for they will increase unto more ungodliness.
And their word will eat as doth a canker: of whom is Hymenaeus and Philetus;
Who concerning the truth have erred, saying that the resurrection is past already; and overthrow the faith of some.
Nevertheless the foundation of God standeth sure, having this seal, The Lord knoweth them that are his. And, Let every one that nameth the name of Christ depart from iniquity.
</p>

<div class="sidenote">2 Timothy 2:20</div>

<p>
But in a great house there are not only vessels of gold and of silver, but also of wood and of earth; and some to honour, and some to dishonour.
If a man therefore purge himself from these, he shall be a vessel unto honour, sanctified, and meet for the master's use, and prepared unto every good work.
</p>

<div class="sidenote">2 Timothy 2:22</div>

<p>
Flee also youthful lusts: but follow righteousness, faith, charity, peace, with them that call on the Lord out of a pure heart.
But foolish and unlearned questions avoid, knowing that they do gender strifes.
And the servant of the Lord must not strive; but be gentle unto all men, apt to teach, patient,
In meekness instructing those that oppose themselves; if God peradventure will give them repentance to the acknowledging of the truth;
And that they may recover themselves out of the snare of the devil, who are taken captive by him at his will.
</p>

<div class="sidenote left">2 Timothy 3:1 <br>to 2 Timothy 3:9</div>

<h3>Difficult Times Ahead in the Last Days</h3>

<p>
This know also, that in the last days perilous times shall come.
For men shall be lovers of their own selves, covetous, boasters, proud, blasphemers, disobedient to parents, unthankful, unholy,
Without natural affection, trucebreakers, false accusers, incontinent, fierce, despisers of those that are good,
Traitors, heady, highminded, lovers of pleasures more than lovers of God;
Having a form of godliness, but denying the power thereof: from such turn away.
For of this sort are they which creep into houses, and lead captive silly women laden with sins, led away with divers lusts,
Ever learning, and never able to come to the knowledge of the truth.
Now as Jannes and Jambres withstood Moses, so do these also resist the truth: men of corrupt minds, reprobate concerning the faith.
But they shall proceed no further: for their folly shall be manifest unto all men, as theirs also was.
</p>

<div class="sidenote left">2 Timothy 3:10 <br>to 2 Timothy 3:17</div>

<h3>The Value of the Scriptures</h3>

<p>
But thou hast fully known my doctrine, manner of life, purpose, faith, longsuffering, charity, patience,
Persecutions, afflictions, which came unto me at Antioch, at Iconium, at Lystra; what persecutions I endured: but out of them all the Lord delivered me.
Yea, and all that will live godly in Christ Jesus shall suffer persecution.
But evil men and seducers shall wax worse and worse, deceiving, and being deceived.
But continue thou in the things which thou hast learned and hast been assured of, knowing of whom thou hast learned them;
And that from a child thou hast known the holy scriptures, which are able to make thee wise unto salvation through faith which is in Christ Jesus.
All scripture is given by inspiration of God, and is profitable for doctrine, for reproof, for correction, for instruction in righteousness:
That the man of God may be perfect, throughly furnished unto all good works.
</p>

<div class="sidenote left">2 Timothy 4:1 <br>to 2 Timothy 4:8</div>

<h3>Paul’s Charge to Timothy</h3>

<p>
I charge thee therefore before God, and the Lord Jesus Christ, who shall judge the quick and the dead at his appearing and his kingdom;
Preach the word; be instant in season, out of season; reprove, rebuke, exhort with all longsuffering and doctrine.
For the time will come when they will not endure sound doctrine; but after their own lusts shall they heap to themselves teachers, having itching ears;
And they shall turn away their ears from the truth, and shall be turned unto fables.
But watch thou in all things, endure afflictions, do the work of an evangelist, make full proof of thy ministry.
</p>

<div class="sidenote">2 Timothy 4:6</div>

<p>
For I am now ready to be offered, and the time of my departure is at hand.
I have fought a good fight, I have finished my course, I have kept the faith:
Henceforth there is laid up for me a crown of righteousness, which the Lord, the righteous judge, shall give me at that day: and not to me only, but unto all them also that love his appearing.
</p>

<div class="sidenote left">2 Timothy 4:9 <br>to 2 Timothy 4:18</div>

<h3>Final Instructions to Timothy</h3>

<p>
Do thy diligence to come shortly unto me:
For Demas hath forsaken me, having loved this present world, and is departed unto Thessalonica; Crescens to Galatia, Titus unto Dalmatia.
Only Luke is with me. Take Mark, and bring him with thee: for he is profitable to me for the ministry.
And Tychicus have I sent to Ephesus.
The cloke that I left at Troas with Carpus, when thou comest, bring with thee, and the books, but especially the parchments.
Alexander the coppersmith did me much evil: the Lord reward him according to his works:
Of whom be thou ware also; for he hath greatly withstood our words.
At my first answer no man stood with me, but all men forsook me: I pray God that it may not be laid to their charge.
Notwithstanding the Lord stood with me, and strengthened me; that by me the preaching might be fully known, and that all the Gentiles might hear: and I was delivered out of the mouth of the lion.
And the Lord shall deliver me from every evil work, and will preserve me unto his heavenly kingdom: to whom be glory for ever and ever. Amen.
</p>

<div class="sidenote left">2 Timothy 4:19 <br>to 2 Timothy 4:22</div>

<h3>Final Greetings and Benediction</h3>

<p>
Salute Prisca and Aquila, and the household of Onesiphorus.
Erastus abode at Corinth: but Trophimus have I left at Miletum sick.
Do thy diligence to come before winter. Eubulus greeteth thee, and Pudens, and Linus, and Claudia, and all the brethren.
The Lord Jesus Christ be with thy spirit. Grace be with you. Amen.
</p>
