<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>3 John</h1>

<p>
The elder unto the wellbeloved Gaius, whom I love in the truth.
Beloved, I wish above all things that thou mayest prosper and be in health, even as thy soul prospereth.
For I rejoiced greatly, when the brethren came and testified of the truth that is in thee, even as thou walkest in the truth.
I have no greater joy than to hear that my children walk in truth.
Beloved, thou doest faithfully whatsoever thou doest to the brethren, and to strangers;
Which have borne witness of thy charity before the church: whom if thou bring forward on their journey after a godly sort, thou shalt do well:
Because that for his name's sake they went forth, taking nothing of the Gentiles.
We therefore ought to receive such, that we might be fellowhelpers to the truth.
I wrote unto the church: but Diotrephes, who loveth to have the preeminence among them, receiveth us not.
Wherefore, if I come, I will remember his deeds which he doeth, prating against us with malicious words: and not content therewith, neither doth he himself receive the brethren, and forbiddeth them that would, and casteth them out of the church.
Beloved, follow not that which is evil, but that which is good. He that doeth good is of God: but he that doeth evil hath not seen God.
Demetrius hath good report of all men, and of the truth itself: yea, and we also bear record; and ye know that our record is true.
I had many things to write, but I will not with ink and pen write unto thee:
But I trust I shall shortly see thee, and we shall speak face to face. Peace be to thee. Our friends salute thee. Greet the friends by name.
</p>
