<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Colossians</h1>

<div class="sidenote left">Colossians 1:1 <br>to Colossians 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Jesus Christ by the will of God, and Timotheus our brother,
To the saints and faithful brethren in Christ which are at Colosse: Grace be unto you, and peace, from God our Father and the Lord Jesus Christ.
</p>

<div class="sidenote left">Colossians 1:3 <br>to Colossians 1:8</div>

<h3>Thanksgiving for the Colossian Believers</h3>

<p>
We give thanks to God and the Father of our Lord Jesus Christ, praying always for you,
Since we heard of your faith in Christ Jesus, and of the love which ye have to all the saints,
For the hope which is laid up for you in heaven, whereof ye heard before in the word of the truth of the gospel;
Which is come unto you, as it is in all the world; and bringeth forth fruit, as it doth also in you, since the day ye heard of it, and knew the grace of God in truth:
As ye also learned of Epaphras our dear fellowservant, who is for you a faithful minister of Christ;
Who also declared unto us your love in the Spirit.
</p>

<div class="sidenote left">Colossians 1:9 <br>to Colossians 1:23</div>

<h3>Prayer for Maturity Based on Christ’s Preeminence</h3>

<p>
For this cause we also, since the day we heard it, do not cease to pray for you, and to desire that ye might be filled with the knowledge of his will in all wisdom and spiritual understanding;
That ye might walk worthy of the Lord unto all pleasing, being fruitful in every good work, and increasing in the knowledge of God;
Strengthened with all might, according to his glorious power, unto all patience and longsuffering with joyfulness;
Giving thanks unto the Father, which hath made us meet to be partakers of the inheritance of the saints in light:
Who hath delivered us from the power of darkness, and hath translated us into the kingdom of his dear Son:
In whom we have redemption through his blood, even the forgiveness of sins:
Who is the image of the invisible God, the firstborn of every creature:
For by him were all things created, that are in heaven, and that are in earth, visible and invisible, whether they be thrones, or dominions, or principalities, or powers: all things were created by him, and for him:
And he is before all things, and by him all things consist.
And he is the head of the body, the church: who is the beginning, the firstborn from the dead; that in all things he might have the preeminence.
For it pleased the Father that in him should all fulness dwell;
And, having made peace through the blood of his cross, by him to reconcile all things unto himself; by him, I say, whether they be things in earth, or things in heaven.
</p>

<div class="sidenote">Colossians 1:21</div>

<p>
And you, that were sometime alienated and enemies in your mind by wicked works, yet now hath he reconciled
In the body of his flesh through death, to present you holy and unblameable and unreproveable in his sight:
If ye continue in the faith grounded and settled, and be not moved away from the hope of the gospel, which ye have heard, and which was preached to every creature which is under heaven; whereof I Paul am made a minister;
</p>

<div class="sidenote left">Colossians 1:24 <br>to Colossians 1:29</div>

<h3>Paul’s Suffering and Stewardship</h3>

<p>
Who now rejoice in my sufferings for you, and fill up that which is behind of the afflictions of Christ in my flesh for his body's sake, which is the church:
Whereof I am made a minister, according to the dispensation of God which is given to me for you, to fulfil the word of God;
Even the mystery which hath been hid from ages and from generations, but now is made manifest to his saints:
To whom God would make known what is the riches of the glory of this mystery among the Gentiles; which is Christ in you, the hope of glory:
Whom we preach, warning every man, and teaching every man in all wisdom; that we may present every man perfect in Christ Jesus:
Whereunto I also labour, striving according to his working, which worketh in me mightily.
</p>

<div class="sidenote left">Colossians 2:1 <br>to Colossians 2:5</div>

<h3>Christ, the Mystery of God</h3>

<p>
For I would that ye knew what great conflict I have for you, and for them at Laodicea, and for as many as have not seen my face in the flesh;
That their hearts might be comforted, being knit together in love, and unto all riches of the full assurance of understanding, to the acknowledgement of the mystery of God, and of the Father, and of Christ;
In whom are hid all the treasures of wisdom and knowledge.
And this I say, lest any man should beguile you with enticing words.
For though I be absent in the flesh, yet am I with you in the spirit, joying and beholding your order, and the stedfastness of your faith in Christ.
</p>

<div class="sidenote left">Colossians 2:6 <br>to Colossians 2:15</div>

<h3>Made Alive in Christ</h3>

<p>
As ye have therefore received Christ Jesus the Lord, so walk ye in him:
Rooted and built up in him, and stablished in the faith, as ye have been taught, abounding therein with thanksgiving.
Beware lest any man spoil you through philosophy and vain deceit, after the tradition of men, after the rudiments of the world, and not after Christ.
For in him dwelleth all the fulness of the Godhead bodily.
And ye are complete in him, which is the head of all principality and power:
In whom also ye are circumcised with the circumcision made without hands, in putting off the body of the sins of the flesh by the circumcision of Christ:
Buried with him in baptism, wherein also ye are risen with him through the faith of the operation of God, who hath raised him from the dead.
And you, being dead in your sins and the uncircumcision of your flesh, hath he quickened together with him, having forgiven you all trespasses;
Blotting out the handwriting of ordinances that was against us, which was contrary to us, and took it out of the way, nailing it to his cross;
And having spoiled principalities and powers, he made a shew of them openly, triumphing over them in it.
</p>

<div class="sidenote left">Colossians 2:16 <br>to Colossians 2:23</div>

<h3>Do Not Be Judged by Human Religious Rules</h3>

<p>
Let no man therefore judge you in meat, or in drink, or in respect of an holyday, or of the new moon, or of the sabbath days:
Which are a shadow of things to come; but the body is of Christ.
Let no man beguile you of your reward in a voluntary humility and worshipping of angels, intruding into those things which he hath not seen, vainly puffed up by his fleshly mind,
And not holding the Head, from which all the body by joints and bands having nourishment ministered, and knit together, increaseth with the increase of God.
</p>

<div class="sidenote">Colossians 2:20</div>

<p>
Wherefore if ye be dead with Christ from the rudiments of the world, why, as though living in the world, are ye subject to ordinances,
(Touch not; taste not; handle not;
Which all are to perish with the using;) after the commandments and doctrines of men?
Which things have indeed a shew of wisdom in will worship, and humility, and neglecting of the body: not in any honour to the satisfying of the flesh.
</p>

<div class="sidenote left">Colossians 3:1 <br>to Colossians 3:4</div>

<h3>Seek the Things Above</h3>

<p>
If ye then be risen with Christ, seek those things which are above, where Christ sitteth on the right hand of God.
Set your affection on things above, not on things on the earth.
For ye are dead, and your life is hid with Christ in God.
When Christ, who is our life, shall appear, then shall ye also appear with him in glory.
</p>

<div class="sidenote left">Colossians 3:5 <br>to Colossians 3:11</div>

<h3>Put Off the Old Behavior</h3>

<p>
Mortify therefore your members which are upon the earth; fornication, uncleanness, inordinate affection, evil concupiscence, and covetousness, which is idolatry:
For which things' sake the wrath of God cometh on the children of disobedience:
In the which ye also walked some time, when ye lived in them.
But now ye also put off all these; anger, wrath, malice, blasphemy, filthy communication out of your mouth.
Lie not one to another, seeing that ye have put off the old man with his deeds;
And have put on the new man, which is renewed in knowledge after the image of him that created him:
Where there is neither Greek nor Jew, circumcision nor uncircumcision, Barbarian, Scythian, bond nor free: but Christ is all, and in all.
</p>

<div class="sidenote left">Colossians 3:12 <br>to Colossians 3:17</div>

<h3>Appeal for New Behavior</h3>

<p>
Put on therefore, as the elect of God, holy and beloved, bowels of mercies, kindness, humbleness of mind, meekness, longsuffering;
Forbearing one another, and forgiving one another, if any man have a quarrel against any: even as Christ forgave you, so also do ye.
And above all these things put on charity, which is the bond of perfectness.
And let the peace of God rule in your hearts, to the which also ye are called in one body; and be ye thankful.
Let the word of Christ dwell in you richly in all wisdom; teaching and admonishing one another in psalms and hymns and spiritual songs, singing with grace in your hearts to the Lord.
And whatsoever ye do in word or deed, do all in the name of the Lord Jesus, giving thanks to God and the Father by him.
</p>

<div class="sidenote left">Colossians 3:18 <br>to Colossians 4:1</div>

<h3>Mutual Responsibilities in Christian Relationships</h3>

<p>
Wives, submit yourselves unto your own husbands, as it is fit in the Lord.
Husbands, love your wives, and be not bitter against them.
Children, obey your parents in all things: for this is well pleasing unto the Lord.
Fathers, provoke not your children to anger, lest they be discouraged.
Servants, obey in all things your masters according to the flesh; not with eyeservice, as menpleasers; but in singleness of heart, fearing God;
And whatsoever ye do, do it heartily, as to the Lord, and not unto men;
Knowing that of the Lord ye shall receive the reward of the inheritance: for ye serve the Lord Christ.
But he that doeth wrong shall receive for the wrong which he hath done: and there is no respect of persons.
</p>

<p>
Masters, give unto your servants that which is just and equal; knowing that ye also have a Master in heaven.
</p>

<div class="sidenote left">Colossians 4:2 <br>to Colossians 4:6</div>

<h3>Further Advice for the Christian Life</h3>

<p>
Continue in prayer, and watch in the same with thanksgiving;
Withal praying also for us, that God would open unto us a door of utterance, to speak the mystery of Christ, for which I am also in bonds:
That I may make it manifest, as I ought to speak.
Walk in wisdom toward them that are without, redeeming the time.
Let your speech be alway with grace, seasoned with salt, that ye may know how ye ought to answer every man.
</p>

<div class="sidenote left">Colossians 4:7 <br>to Colossians 4:17</div>

<h3>Exhortations Regarding Fellow Workers</h3>

<p>
All my state shall Tychicus declare unto you, who is a beloved brother, and a faithful minister and fellowservant in the Lord:
Whom I have sent unto you for the same purpose, that he might know your estate, and comfort your hearts;
With Onesimus, a faithful and beloved brother, who is one of you. They shall make known unto you all things which are done here.
</p>

<div class="sidenote">Colossians 4:10</div>

<p>
Aristarchus my fellowprisoner saluteth you, and Marcus, sister's son to Barnabas, (touching whom ye received commandments: if he come unto you, receive him;)
And Jesus, which is called Justus, who are of the circumcision. These only are my fellowworkers unto the kingdom of God, which have been a comfort unto me.
Epaphras, who is one of you, a servant of Christ, saluteth you, always labouring fervently for you in prayers, that ye may stand perfect and complete in all the will of God.
For I bear him record, that he hath a great zeal for you, and them that are in Laodicea, and them in Hierapolis.
Luke, the beloved physician, and Demas, greet you.
Salute the brethren which are in Laodicea, and Nymphas, and the church which is in his house.
And when this epistle is read among you, cause that it be read also in the church of the Laodiceans; and that ye likewise read the epistle from Laodicea.
And say to Archippus, Take heed to the ministry which thou hast received in the Lord, that thou fulfil it.
</p>

<div class="sidenote left">Colossians 4:18 </div>

<h3>Final Greeting and Benediction</h3>

<p>
The salutation by the hand of me Paul. Remember my bonds. Grace be with you. Amen.
</p>
