<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Daniel</h1>

<div class="sidenote left">Daniel 1:1 <br>to Daniel 1:7</div>

<h3>Daniel’s Development in the King’s Court</h3>

<p>
In the third year of the reign of Jehoiakim king of Judah came Nebuchadnezzar king of Babylon unto Jerusalem, and besieged it.
And the Lord gave Jehoiakim king of Judah into his hand, with part of the vessels of the house of God: which he carried into the land of Shinar to the house of his god; and he brought the vessels into the treasure house of his god.
</p>

<div class="sidenote">Daniel 1:3</div>

<p>
And the king spake unto Ashpenaz the master of his eunuchs, that he should bring certain of the children of Israel, and of the king's seed, and of the princes;
Children in whom was no blemish, but well favoured, and skilful in all wisdom, and cunning in knowledge, and understanding science, and such as had ability in them to stand in the king's palace, and whom they might teach the learning and the tongue of the Chaldeans.
And the king appointed them a daily provision of the king's meat, and of the wine which he drank: so nourishing them three years, that at the end thereof they might stand before the king.
Now among these were of the children of Judah, Daniel, Hananiah, Mishael, and Azariah:
Unto whom the prince of the eunuchs gave names: for he gave unto Daniel the name of Belteshazzar; and to Hananiah, of Shadrach; and to Mishael, of Meshach; and to Azariah, of Abednego.
</p>

<div class="sidenote left">Daniel 1:8 <br>to Daniel 1:21</div>

<h3>Daniel’s Resolve</h3>

<p>
But Daniel purposed in his heart that he would not defile himself with the portion of the king's meat, nor with the wine which he drank: therefore he requested of the prince of the eunuchs that he might not defile himself.
Now God had brought Daniel into favour and tender love with the prince of the eunuchs.
And the prince of the eunuchs said unto Daniel, I fear my lord the king, who hath appointed your meat and your drink: for why should he see your faces worse liking than the children which are of your sort? then shall ye make me endanger my head to the king.
Then said Daniel to Melzar, whom the prince of the eunuchs had set over Daniel, Hananiah, Mishael, and Azariah,
Prove thy servants, I beseech thee, ten days; and let them give us pulse to eat, and water to drink.
Then let our countenances be looked upon before thee, and the countenance of the children that eat of the portion of the king's meat: and as thou seest, deal with thy servants.
So he consented to them in this matter, and proved them ten days.
And at the end of ten days their countenances appeared fairer and fatter in flesh than all the children which did eat the portion of the king's meat.
Thus Melzar took away the portion of their meat, and the wine that they should drink; and gave them pulse.
</p>

<div class="sidenote">Daniel 1:17</div>

<p>
As for these four children, God gave them knowledge and skill in all learning and wisdom: and Daniel had understanding in all visions and dreams.
Now at the end of the days that the king had said he should bring them in, then the prince of the eunuchs brought them in before Nebuchadnezzar.
And the king communed with them; and among them all was found none like Daniel, Hananiah, Mishael, and Azariah: therefore stood they before the king.
And in all matters of wisdom and understanding, that the king enquired of them, he found them ten times better than all the magicians and astrologers that were in all his realm.
And Daniel continued even unto the first year of king Cyrus.
</p>

<div class="sidenote left">Daniel 2:1 <br>to Daniel 2:23</div>

<h3>The King’s Troubling Dream</h3>

<p>
And in the second year of the reign of Nebuchadnezzar Nebuchadnezzar dreamed dreams, wherewith his spirit was troubled, and his sleep brake from him.
Then the king commanded to call the magicians, and the astrologers, and the sorcerers, and the Chaldeans, for to shew the king his dreams. So they came and stood before the king.
And the king said unto them, I have dreamed a dream, and my spirit was troubled to know the dream.
</p>

<div class="sidenote">Daniel 2:4</div>

<p>
Then spake the Chaldeans to the king in Syriack, O king, live for ever: tell thy servants the dream, and we will shew the interpretation.
The king answered and said to the Chaldeans, The thing is gone from me: if ye will not make known unto me the dream, with the interpretation thereof, ye shall be cut in pieces, and your houses shall be made a dunghill.
But if ye shew the dream, and the interpretation thereof, ye shall receive of me gifts and rewards and great honour: therefore shew me the dream, and the interpretation thereof.
They answered again and said, Let the king tell his servants the dream, and we will shew the interpretation of it.
The king answered and said, I know of certainty that ye would gain the time, because ye see the thing is gone from me.
But if ye will not make known unto me the dream, there is but one decree for you: for ye have prepared lying and corrupt words to speak before me, till the time be changed: therefore tell me the dream, and I shall know that ye can shew me the interpretation thereof.
The Chaldeans answered before the king, and said, There is not a man upon the earth that can shew the king's matter: therefore there is no king, lord, nor ruler, that asked such things at any magician, or astrologer, or Chaldean.
And it is a rare thing that the king requireth, and there is none other that can shew it before the king, except the gods, whose dwelling is not with flesh.
</p>

<div class="sidenote">Daniel 2:12</div>

<p>
For this cause the king was angry and very furious, and commanded to destroy all the wise men of Babylon.
And the decree went forth that the wise men should be slain; and they sought Daniel and his fellows to be slain.
Then Daniel answered with counsel and wisdom to Arioch the captain of the king's guard, which was gone forth to slay the wise men of Babylon:
He answered and said to Arioch the king's captain, Why is the decree so hasty from the king? Then Arioch made the thing known to Daniel.
Then Daniel went in, and desired of the king that he would give him time, and that he would shew the king the interpretation.
</p>

<div class="sidenote">Daniel 2:17</div>

<p>
Then Daniel went to his house, and made the thing known to Hananiah, Mishael, and Azariah, his companions:
That they would desire mercies of the God of heaven concerning this secret; that Daniel and his fellows should not perish with the rest of the wise men of Babylon.
</p>

<div class="sidenote">Daniel 2:19</div>

<p>
Then was the secret revealed unto Daniel in a night vision. Then Daniel blessed the God of heaven.
</p>

<div class="sidenote">Daniel 2:20</div>

<p>
Daniel answered and said, Blessed be the name of God for ever and ever: for wisdom and might are his:
</p>

<div class="sidenote">Daniel 2:21</div>

<p>
And he changeth the times and the seasons: he removeth kings, and setteth up kings: he giveth wisdom unto the wise, and knowledge to them that know understanding:
</p>

<div class="sidenote">Daniel 2:22</div>

<p>
He revealeth the deep and secret things: he knoweth what is in the darkness, and the light dwelleth with him.
</p>

<div class="sidenote">Daniel 2:23</div>

<p>
I thank thee, and praise thee, O thou God of my fathers, who hast given me wisdom and might, and hast made known unto me now what we desired of thee: for thou hast now made known unto us the king's matter.
</p>

<div class="sidenote left">Daniel 2:24 <br>to Daniel 2:45</div>

<h3>Daniel Praises God and Interprets the King’s Dream</h3>

<p>
Therefore Daniel went in unto Arioch, whom the king had ordained to destroy the wise men of Babylon: he went and said thus unto him; Destroy not the wise men of Babylon: bring me in before the king, and I will shew unto the king the interpretation.
</p>

<div class="sidenote">Daniel 2:25</div>

<p>
Then Arioch brought in Daniel before the king in haste, and said thus unto him, I have found a man of the captives of Judah, that will make known unto the king the interpretation.
The king answered and said to Daniel, whose name was Belteshazzar, Art thou able to make known unto me the dream which I have seen, and the interpretation thereof?
Daniel answered in the presence of the king, and said, The secret which the king hath demanded cannot the wise men, the astrologers, the magicians, the soothsayers, shew unto the king;
But there is a God in heaven that revealeth secrets, and maketh known to the king Nebuchadnezzar what shall be in the latter days. Thy dream, and the visions of thy head upon thy bed, are these;
</p>

<div class="sidenote">Daniel 2:29</div>

<p>
As for thee, O king, thy thoughts came into thy mind upon thy bed, what should come to pass hereafter: and he that revealeth secrets maketh known to thee what shall come to pass.
But as for me, this secret is not revealed to me for any wisdom that I have more than any living, but for their sakes that shall make known the interpretation to the king, and that thou mightest know the thoughts of thy heart.
</p>

<div class="sidenote">Daniel 2:31</div>

<p>
Thou, O king, sawest, and behold a great image. This great image, whose brightness was excellent, stood before thee; and the form thereof was terrible.
This image's head was of fine gold, his breast and his arms of silver, his belly and his thighs of brass,
His legs of iron, his feet part of iron and part of clay.
Thou sawest till that a stone was cut out without hands, which smote the image upon his feet that were of iron and clay, and brake them to pieces.
Then was the iron, the clay, the brass, the silver, and the gold, broken to pieces together, and became like the chaff of the summer threshingfloors; and the wind carried them away, that no place was found for them: and the stone that smote the image became a great mountain, and filled the whole earth.
</p>

<div class="sidenote">Daniel 2:36</div>

<p>
This is the dream; and we will tell the interpretation thereof before the king.
Thou, O king, art a king of kings: for the God of heaven hath given thee a kingdom, power, and strength, and glory.
And wheresoever the children of men dwell, the beasts of the field and the fowls of the heaven hath he given into thine hand, and hath made thee ruler over them all. Thou art this head of gold.
And after thee shall arise another kingdom inferior to thee, and another third kingdom of brass, which shall bear rule over all the earth.
And the fourth kingdom shall be strong as iron: forasmuch as iron breaketh in pieces and subdueth all things: and as iron that breaketh all these, shall it break in pieces and bruise.
And whereas thou sawest the feet and toes, part of potters' clay, and part of iron, the kingdom shall be divided; but there shall be in it of the strength of the iron, forasmuch as thou sawest the iron mixed with miry clay.
And as the toes of the feet were part of iron, and part of clay, so the kingdom shall be partly strong, and partly broken.
And whereas thou sawest iron mixed with miry clay, they shall mingle themselves with the seed of men: but they shall not cleave one to another, even as iron is not mixed with clay.
And in the days of these kings shall the God of heaven set up a kingdom, which shall never be destroyed: and the kingdom shall not be left to other people, but it shall break in pieces and consume all these kingdoms, and it shall stand for ever.
Forasmuch as thou sawest that the stone was cut out of the mountain without hands, and that it brake in pieces the iron, the brass, the clay, the silver, and the gold; the great God hath made known to the king what shall come to pass hereafter: and the dream is certain, and the interpretation thereof sure.
</p>

<div class="sidenote left">Daniel 2:46 <br>to Daniel 2:49</div>

<h3>The King’s Response to Daniel and His God</h3>

<p>
Then the king Nebuchadnezzar fell upon his face, and worshipped Daniel, and commanded that they should offer an oblation and sweet odours unto him.
The king answered unto Daniel, and said, Of a truth it is, that your God is a God of gods, and a Lord of kings, and a revealer of secrets, seeing thou couldest reveal this secret.
Then the king made Daniel a great man, and gave him many great gifts, and made him ruler over the whole province of Babylon, and chief of the governors over all the wise men of Babylon.
Then Daniel requested of the king, and he set Shadrach, Meshach, and Abednego, over the affairs of the province of Babylon: but Daniel sat in the gate of the king.
</p>

<div class="sidenote left">Daniel 3:1 <br>to Daniel 3:18</div>

<h3>The Faithfulness of Three Young Israelites and God’s Deliverance</h3>

<p>
Nebuchadnezzar the king made an image of gold, whose height was threescore cubits, and the breadth thereof six cubits: he set it up in the plain of Dura, in the province of Babylon.
Then Nebuchadnezzar the king sent to gather together the princes, the governors, and the captains, the judges, the treasurers, the counsellors, the sheriffs, and all the rulers of the provinces, to come to the dedication of the image which Nebuchadnezzar the king had set up.
Then the princes, the governors, and captains, the judges, the treasurers, the counsellors, the sheriffs, and all the rulers of the provinces, were gathered together unto the dedication of the image that Nebuchadnezzar the king had set up; and they stood before the image that Nebuchadnezzar had set up.
Then an herald cried aloud, To you it is commanded, O people, nations, and languages,
That at what time ye hear the sound of the cornet, flute, harp, sackbut, psaltery, dulcimer, and all kinds of musick, ye fall down and worship the golden image that Nebuchadnezzar the king hath set up:
And whoso falleth not down and worshippeth shall the same hour be cast into the midst of a burning fiery furnace.
Therefore at that time, when all the people heard the sound of the cornet, flute, harp, sackbut, psaltery, and all kinds of musick, all the people, the nations, and the languages, fell down and worshipped the golden image that Nebuchadnezzar the king had set up.
</p>

<div class="sidenote">Daniel 3:8</div>

<p>
Wherefore at that time certain Chaldeans came near, and accused the Jews.
They spake and said to the king Nebuchadnezzar, O king, live for ever.
Thou, O king, hast made a decree, that every man that shall hear the sound of the cornet, flute, harp, sackbut, psaltery, and dulcimer, and all kinds of musick, shall fall down and worship the golden image:
And whoso falleth not down and worshippeth, that he should be cast into the midst of a burning fiery furnace.
There are certain Jews whom thou hast set over the affairs of the province of Babylon, Shadrach, Meshach, and Abednego; these men, O king, have not regarded thee: they serve not thy gods, nor worship the golden image which thou hast set up.
</p>

<div class="sidenote">Daniel 3:13</div>

<p>
Then Nebuchadnezzar in his rage and fury commanded to bring Shadrach, Meshach, and Abednego. Then they brought these men before the king.
Nebuchadnezzar spake and said unto them, Is it true, O Shadrach, Meshach, and Abednego, do not ye serve my gods, nor worship the golden image which I have set up?
Now if ye be ready that at what time ye hear the sound of the cornet, flute, harp, sackbut, psaltery, and dulcimer, and all kinds of musick, ye fall down and worship the image which I have made; well: but if ye worship not, ye shall be cast the same hour into the midst of a burning fiery furnace; and who is that God that shall deliver you out of my hands?
</p>

<div class="sidenote">Daniel 3:16</div>

<p>
Shadrach, Meshach, and Abednego, answered and said to the king, O Nebuchadnezzar, we are not careful to answer thee in this matter.
If it be so, our God whom we serve is able to deliver us from the burning fiery furnace, and he will deliver us out of thine hand, O king.
But if not, be it known unto thee, O king, that we will not serve thy gods, nor worship the golden image which thou hast set up.
</p>

<div class="sidenote left">Daniel 3:19 <br>to Daniel 3:27</div>

<h3>The Wrath of the King and His Fiery Furnace of Death</h3>

<p>
Then was Nebuchadnezzar full of fury, and the form of his visage was changed against Shadrach, Meshach, and Abednego: therefore he spake, and commanded that they should heat the furnace one seven times more than it was wont to be heated.
And he commanded the most mighty men that were in his army to bind Shadrach, Meshach, and Abednego, and to cast them into the burning fiery furnace.
Then these men were bound in their coats, their hosen, and their hats, and their other garments, and were cast into the midst of the burning fiery furnace.
Therefore because the king's commandment was urgent, and the furnace exceeding hot, the flames of the fire slew those men that took up Shadrach, Meshach, and Abednego.
And these three men, Shadrach, Meshach, and Abednego, fell down bound into the midst of the burning fiery furnace.
</p>

<div class="sidenote">Daniel 3:24</div>

<p>
Then Nebuchadnezzar the king was astonied, and rose up in haste, and spake, and said unto his counsellors, Did not we cast three men bound into the midst of the fire? They answered and said unto the king, True, O king.
He answered and said, Lo, I see four men loose, walking in the midst of the fire, and they have no hurt; and the form of the fourth is like the Son of God.
Then Nebuchadnezzar came near to the mouth of the burning fiery furnace, and spake, and said, Shadrach, Meshach, and Abednego, ye servants of the most high God, come forth, and come hither. Then Shadrach, Meshach, and Abednego, came forth of the midst of the fire.
And the princes, governors, and captains, and the king's counsellors, being gathered together, saw these men, upon whose bodies the fire had no power, nor was an hair of their head singed, neither were their coats changed, nor the smell of fire had passed on them.
</p>

<div class="sidenote left">Daniel 3:28 <br>to Daniel 3:30</div>

<h3>The King’s Praise for the Great Deliverance of the Three Young Israelites</h3>

<p>
Then Nebuchadnezzar spake, and said, Blessed be the God of Shadrach, Meshach, and Abednego, who hath sent his angel, and delivered his servants that trusted in him, and have changed the king's word, and yielded their bodies, that they might not serve nor worship any god, except their own God.
Therefore I make a decree, That every people, nation, and language, which speak any thing amiss against the God of Shadrach, Meshach, and Abednego, shall be cut in pieces, and their houses shall be made a dunghill: because there is no other God that can deliver after this sort.
Then the king promoted Shadrach, Meshach, and Abednego, in the province of Babylon.
</p>

<div class="sidenote left">Daniel 4:1 <br>to Daniel 4:3</div>

<h3>Nebuchadnezzar Declares What the Most High God Has Done for Him</h3>

<p>
Nebuchadnezzar the king, unto all people, nations, and languages, that dwell in all the earth; Peace be multiplied unto you.
I thought it good to shew the signs and wonders that the high God hath wrought toward me.
How great are his signs! and how mighty are his wonders! his kingdom is an everlasting kingdom, and his dominion is from generation to generation.
</p>

<div class="sidenote left">Daniel 4:4 <br>to Daniel 4:18</div>

<h3>The Dream and the King’s Search for an Interpreter</h3>

<p>
I Nebuchadnezzar was at rest in mine house, and flourishing in my palace:
I saw a dream which made me afraid, and the thoughts upon my bed and the visions of my head troubled me.
Therefore made I a decree to bring in all the wise men of Babylon before me, that they might make known unto me the interpretation of the dream.
Then came in the magicians, the astrologers, the Chaldeans, and the soothsayers: and I told the dream before them; but they did not make known unto me the interpretation thereof.
But at the last Daniel came in before me, whose name was Belteshazzar, according to the name of my God, and in whom is the spirit of the holy gods: and before him I told the dream, saying,
</p>

<div class="sidenote">Daniel 4:9</div>

<p>
O Belteshazzar, master of the magicians, because I know that the spirit of the holy gods is in thee, and no secret troubleth thee, tell me the visions of my dream that I have seen, and the interpretation thereof.
Thus were the visions of mine head in my bed; I saw, and behold a tree in the midst of the earth, and the height thereof was great.
</p>

<div class="sidenote">Daniel 4:11</div>

<p>
The tree grew, and was strong, and the height thereof reached unto heaven, and the sight thereof to the end of all the earth:
The leaves thereof were fair, and the fruit thereof much, and in it was meat for all: the beasts of the field had shadow under it, and the fowls of the heaven dwelt in the boughs thereof, and all flesh was fed of it.
</p>

<div class="sidenote">Daniel 4:13</div>

<p>
I saw in the visions of my head upon my bed, and, behold, a watcher and an holy one came down from heaven;
He cried aloud, and said thus, Hew down the tree, and cut off his branches, shake off his leaves, and scatter his fruit: let the beasts get away from under it, and the fowls from his branches:
</p>

<div class="sidenote">Daniel 4:15</div>

<p>
Nevertheless leave the stump of his roots in the earth, even with a band of iron and brass, in the tender grass of the field; and let it be wet with the dew of heaven, and let his portion be with the beasts in the grass of the earth:
Let his heart be changed from man's, and let a beast's heart be given unto him; and let seven times pass over him.
</p>

<div class="sidenote">Daniel 4:17</div>

<p>
This matter is by the decree of the watchers, and the demand by the word of the holy ones: to the intent that the living may know that the most High ruleth in the kingdom of men, and giveth it to whomsoever he will, and setteth up over it the basest of men.
</p>

<div class="sidenote">Daniel 4:18</div>

<p>
This dream I king Nebuchadnezzar have seen. Now thou, O Belteshazzar, declare the interpretation thereof, forasmuch as all the wise men of my kingdom are not able to make known unto me the interpretation: but thou art able; for the spirit of the holy gods is in thee.
</p>

<div class="sidenote left">Daniel 4:19 <br>to Daniel 4:27</div>

<h3>Daniel Relates and Interprets the Dream</h3>

<p>
Then Daniel, whose name was Belteshazzar, was astonied for one hour, and his thoughts troubled him. The king spake, and said, Belteshazzar, let not the dream, or the interpretation thereof, trouble thee. Belteshazzar answered and said, My lord, the dream be to them that hate thee, and the interpretation thereof to thine enemies.
The tree that thou sawest, which grew, and was strong, whose height reached unto the heaven, and the sight thereof to all the earth;
Whose leaves were fair, and the fruit thereof much, and in it was meat for all; under which the beasts of the field dwelt, and upon whose branches the fowls of the heaven had their habitation:
It is thou, O king, that art grown and become strong: for thy greatness is grown, and reacheth unto heaven, and thy dominion to the end of the earth.
And whereas the king saw a watcher and an holy one coming down from heaven, and saying, Hew the tree down, and destroy it; yet leave the stump of the roots thereof in the earth, even with a band of iron and brass, in the tender grass of the field; and let it be wet with the dew of heaven, and let his portion be with the beasts of the field, till seven times pass over him;
This is the interpretation, O king, and this is the decree of the most High, which is come upon my lord the king:
That they shall drive thee from men, and thy dwelling shall be with the beasts of the field, and they shall make thee to eat grass as oxen, and they shall wet thee with the dew of heaven, and seven times shall pass over thee, till thou know that the most High ruleth in the kingdom of men, and giveth it to whomsoever he will.
And whereas they commanded to leave the stump of the tree roots; thy kingdom shall be sure unto thee, after that thou shalt have known that the heavens do rule.
Wherefore, O king, let my counsel be acceptable unto thee, and break off thy sins by righteousness, and thine iniquities by shewing mercy to the poor; if it may be a lengthening of thy tranquillity.
</p>

<div class="sidenote left">Daniel 4:28 <br>to Daniel 4:33</div>

<h3>God Judges the King for His Hubris</h3>

<p>
All this came upon the king Nebuchadnezzar.
At the end of twelve months he walked in the palace of the kingdom of Babylon.
The king spake, and said, Is not this great Babylon, that I have built for the house of the kingdom by the might of my power, and for the honour of my majesty?
While the word was in the king's mouth, there fell a voice from heaven, saying, O king Nebuchadnezzar, to thee it is spoken; The kingdom is departed from thee.
And they shall drive thee from men, and thy dwelling shall be with the beasts of the field: they shall make thee to eat grass as oxen, and seven times shall pass over thee, until thou know that the most High ruleth in the kingdom of men, and giveth it to whomsoever he will.
The same hour was the thing fulfilled upon Nebuchadnezzar: and he was driven from men, and did eat grass as oxen, and his body was wet with the dew of heaven, till his hairs were grown like eagles' feathers, and his nails like birds' claws.
</p>

<div class="sidenote left">Daniel 4:34 <br>to Daniel 4:37</div>

<h3>The King Praises and Extols the Most High God</h3>

<p>
And at the end of the days I Nebuchadnezzar lifted up mine eyes unto heaven, and mine understanding returned unto me, and I blessed the most High, and I praised and honoured him that liveth for ever, whose dominion is an everlasting dominion, and his kingdom is from generation to generation:
</p>

<div class="sidenote">Daniel 4:35</div>

<p>
And all the inhabitants of the earth are reputed as nothing: and he doeth according to his will in the army of heaven, and among the inhabitants of the earth: and none can stay his hand, or say unto him, What doest thou?
</p>

<div class="sidenote">Daniel 4:36</div>

<p>
At the same time my reason returned unto me; and for the glory of my kingdom, mine honour and brightness returned unto me; and my counsellors and my lords sought unto me; and I was established in my kingdom, and excellent majesty was added unto me.
Now I Nebuchadnezzar praise and extol and honour the King of heaven, all whose works are truth, and his ways judgment: and those that walk in pride he is able to abase.
</p>

<div class="sidenote left">Daniel 5:1 <br>to Daniel 5:12</div>

<h3>The Mysterious Writing on the Wall</h3>

<p>
Belshazzar the king made a great feast to a thousand of his lords, and drank wine before the thousand.
Belshazzar, whiles he tasted the wine, commanded to bring the golden and silver vessels which his father Nebuchadnezzar had taken out of the temple which was in Jerusalem; that the king, and his princes, his wives, and his concubines, might drink therein.
Then they brought the golden vessels that were taken out of the temple of the house of God which was at Jerusalem; and the king, and his princes, his wives, and his concubines, drank in them.
They drank wine, and praised the gods of gold, and of silver, of brass, of iron, of wood, and of stone.
</p>

<div class="sidenote">Daniel 5:5</div>

<p>
In the same hour came forth fingers of a man's hand, and wrote over against the candlestick upon the plaister of the wall of the king's palace: and the king saw the part of the hand that wrote.
Then the king's countenance was changed, and his thoughts troubled him, so that the joints of his loins were loosed, and his knees smote one against another.
The king cried aloud to bring in the astrologers, the Chaldeans, and the soothsayers. And the king spake, and said to the wise men of Babylon, Whosoever shall read this writing, and shew me the interpretation thereof, shall be clothed with scarlet, and have a chain of gold about his neck, and shall be the third ruler in the kingdom.
Then came in all the king's wise men: but they could not read the writing, nor make known to the king the interpretation thereof.
Then was king Belshazzar greatly troubled, and his countenance was changed in him, and his lords were astonied.
</p>

<div class="sidenote">Daniel 5:10</div>

<p>
Now the queen by reason of the words of the king and his lords came into the banquet house: and the queen spake and said, O king, live for ever: let not thy thoughts trouble thee, nor let thy countenance be changed:
There is a man in thy kingdom, in whom is the spirit of the holy gods; and in the days of thy father light and understanding and wisdom, like the wisdom of the gods, was found in him; whom the king Nebuchadnezzar thy father, the king, I say, thy father, made master of the magicians, astrologers, Chaldeans, and soothsayers;
Forasmuch as an excellent spirit, and knowledge, and understanding, interpreting of dreams, and shewing of hard sentences, and dissolving of doubts, were found in the same Daniel, whom the king named Belteshazzar: now let Daniel be called, and he will shew the interpretation.
</p>

<div class="sidenote left">Daniel 5:13 <br>to Daniel 5:31</div>

<h3>Daniel Deciphers and Interprets the Writing</h3>

<p>
Then was Daniel brought in before the king. And the king spake and said unto Daniel, Art thou that Daniel, which art of the children of the captivity of Judah, whom the king my father brought out of Jewry?
I have even heard of thee, that the spirit of the gods is in thee, and that light and understanding and excellent wisdom is found in thee.
And now the wise men, the astrologers, have been brought in before me, that they should read this writing, and make known unto me the interpretation thereof: but they could not shew the interpretation of the thing:
And I have heard of thee, that thou canst make interpretations, and dissolve doubts: now if thou canst read the writing, and make known to me the interpretation thereof, thou shalt be clothed with scarlet, and have a chain of gold about thy neck, and shalt be the third ruler in the kingdom.
</p>

<div class="sidenote">Daniel 5:17</div>

<p>
Then Daniel answered and said before the king, Let thy gifts be to thyself, and give thy rewards to another; yet I will read the writing unto the king, and make known to him the interpretation.
O thou king, the most high God gave Nebuchadnezzar thy father a kingdom, and majesty, and glory, and honour:
And for the majesty that he gave him, all people, nations, and languages, trembled and feared before him: whom he would he slew; and whom he would he kept alive; and whom he would he set up; and whom he would he put down.
But when his heart was lifted up, and his mind hardened in pride, he was deposed from his kingly throne, and they took his glory from him:
And he was driven from the sons of men; and his heart was made like the beasts, and his dwelling was with the wild asses: they fed him with grass like oxen, and his body was wet with the dew of heaven; till he knew that the most high God ruled in the kingdom of men, and that he appointeth over it whomsoever he will.
</p>

<div class="sidenote">Daniel 5:22</div>

<p>
And thou his son, O Belshazzar, hast not humbled thine heart, though thou knewest all this;
But hast lifted up thyself against the Lord of heaven; and they have brought the vessels of his house before thee, and thou, and thy lords, thy wives, and thy concubines, have drunk wine in them; and thou hast praised the gods of silver, and gold, of brass, iron, wood, and stone, which see not, nor hear, nor know: and the God in whose hand thy breath is, and whose are all thy ways, hast thou not glorified:
Then was the part of the hand sent from him; and this writing was written.
</p>

<div class="sidenote">Daniel 5:25</div>

<p>
And this is the writing that was written, MENE, MENE, TEKEL, UPHARSIN.
</p>

<div class="sidenote">Daniel 5:26</div>

<p>
This is the interpretation of the thing: MENE; God hath numbered thy kingdom, and finished it.
</p>

<div class="sidenote">Daniel 5:27</div>

<p>
TEKEL; Thou art weighed in the balances, and art found wanting.
</p>

<div class="sidenote">Daniel 5:28</div>

<p>
PERES; Thy kingdom is divided, and given to the Medes and Persians.
</p>

<div class="sidenote">Daniel 5:29</div>

<p>
Then commanded Belshazzar, and they clothed Daniel with scarlet, and put a chain of gold about his neck, and made a proclamation concerning him, that he should be the third ruler in the kingdom.
In that night was Belshazzar the king of the Chaldeans slain.
And Darius the Median took the kingdom, being about threescore and two years old.
</p>

<div class="sidenote left">Daniel 6:1 <br>to Daniel 6:12</div>

<h3>Daniel’s Integrity and His Entrapment by His Enemies</h3>

<p>
It pleased Darius to set over the kingdom an hundred and twenty princes, which should be over the whole kingdom;
And over these three presidents; of whom Daniel was first: that the princes might give accounts unto them, and the king should have no damage.
Then this Daniel was preferred above the presidents and princes, because an excellent spirit was in him; and the king thought to set him over the whole realm.
Then the presidents and princes sought to find occasion against Daniel concerning the kingdom; but they could find none occasion nor fault; forasmuch as he was faithful, neither was there any error or fault found in him.
Then said these men, We shall not find any occasion against this Daniel, except we find it against him concerning the law of his God.
</p>

<div class="sidenote">Daniel 6:6</div>

<p>
Then these presidents and princes assembled together to the king, and said thus unto him, King Darius, live for ever.
All the presidents of the kingdom, the governors, and the princes, the counsellors, and the captains, have consulted together to establish a royal statute, and to make a firm decree, that whosoever shall ask a petition of any God or man for thirty days, save of thee, O king, he shall be cast into the den of lions.
Now, O king, establish the decree, and sign the writing, that it be not changed, according to the law of the Medes and Persians, which altereth not.
</p>

<div class="sidenote">Daniel 6:9</div>

<p>
Wherefore king Darius signed the writing and the decree.
Now when Daniel knew that the writing was signed, he went into his house; and his windows being open in his chamber toward Jerusalem, he kneeled upon his knees three times a day, and prayed, and gave thanks before his God, as he did aforetime.
Then these men assembled, and found Daniel praying and making supplication before his God.
Then they came near, and spake before the king concerning the king's decree; Hast thou not signed a decree, that every man that shall ask a petition of any God or man within thirty days, save of thee, O king, shall be cast into the den of lions? The king answered and said, The thing is true, according to the law of the Medes and Persians, which altereth not.
</p>

<div class="sidenote left">Daniel 6:13 <br>to Daniel 6:24</div>

<h3>God’s Miraculous Deliverance of Daniel Again</h3>

<p>
Then answered they and said before the king, That Daniel, which is of the children of the captivity of Judah, regardeth not thee, O king, nor the decree that thou hast signed, but maketh his petition three times a day.
Then the king, when he heard these words, was sore displeased with himself, and set his heart on Daniel to deliver him: and he laboured till the going down of the sun to deliver him.
Then these men assembled unto the king, and said unto the king, Know, O king, that the law of the Medes and Persians is, That no decree nor statute which the king establisheth may be changed.
</p>

<div class="sidenote">Daniel 6:16</div>

<p>
Then the king commanded, and they brought Daniel, and cast him into the den of lions. Now the king spake and said unto Daniel, Thy God whom thou servest continually, he will deliver thee.
And a stone was brought, and laid upon the mouth of the den; and the king sealed it with his own signet, and with the signet of his lords; that the purpose might not be changed concerning Daniel.
Then the king went to his palace, and passed the night fasting: neither were instruments of musick brought before him: and his sleep went from him.
</p>

<div class="sidenote">Daniel 6:19</div>

<p>
Then the king arose very early in the morning, and went in haste unto the den of lions.
And when he came to the den, he cried with a lamentable voice unto Daniel: and the king spake and said to Daniel, O Daniel, servant of the living God, is thy God, whom thou servest continually, able to deliver thee from the lions?
Then said Daniel unto the king, O king, live for ever.
My God hath sent his angel, and hath shut the lions' mouths, that they have not hurt me: forasmuch as before him innocency was found in me; and also before thee, O king, have I done no hurt.
</p>

<div class="sidenote">Daniel 6:23</div>

<p>
Then was the king exceedingly glad for him, and commanded that they should take Daniel up out of the den. So Daniel was taken up out of the den, and no manner of hurt was found upon him, because he believed in his God.
And the king commanded, and they brought those men which had accused Daniel, and they cast them into the den of lions, them, their children, and their wives; and the lions had the mastery of them, and brake all their bones in pieces or ever they came at the bottom of the den.
</p>

<div class="sidenote left">Daniel 6:25 <br>to Daniel 6:28</div>

<h3>The King Praises the God of Daniel and Daniel Prospers</h3>

<p>
Then king Darius wrote unto all people, nations, and languages, that dwell in all the earth; Peace be multiplied unto you.
I make a decree, That in every dominion of my kingdom men tremble and fear before the God of Daniel: for he is the living God, and stedfast for ever, and his kingdom that which shall not be destroyed, and his dominion shall be even unto the end.
He delivereth and rescueth, and he worketh signs and wonders in heaven and in earth, who hath delivered Daniel from the power of the lions.
So this Daniel prospered in the reign of Darius, and in the reign of Cyrus the Persian.
</p>

<div class="sidenote left">Daniel 7:1 <br>to Daniel 7:14</div>

<h3>Daniel’s Vision of Four Beasts and the Son of Man</h3>

<p>
In the first year of Belshazzar king of Babylon Daniel had a dream and visions of his head upon his bed: then he wrote the dream, and told the sum of the matters.
Daniel spake and said, I saw in my vision by night, and, behold, the four winds of the heaven strove upon the great sea.
And four great beasts came up from the sea, diverse one from another.
The first was like a lion, and had eagle's wings: I beheld till the wings thereof were plucked, and it was lifted up from the earth, and made stand upon the feet as a man, and a man's heart was given to it.
And behold another beast, a second, like to a bear, and it raised up itself on one side, and it had three ribs in the mouth of it between the teeth of it: and they said thus unto it, Arise, devour much flesh.
After this I beheld, and lo another, like a leopard, which had upon the back of it four wings of a fowl; the beast had also four heads; and dominion was given to it.
After this I saw in the night visions, and behold a fourth beast, dreadful and terrible, and strong exceedingly; and it had great iron teeth: it devoured and brake in pieces, and stamped the residue with the feet of it: and it was diverse from all the beasts that were before it; and it had ten horns.
I considered the horns, and, behold, there came up among them another little horn, before whom there were three of the first horns plucked up by the roots: and, behold, in this horn were eyes like the eyes of man, and a mouth speaking great things.
</p>

<div class="sidenote">Daniel 7:9</div>

<p>
I beheld till the thrones were cast down, and the Ancient of days did sit, whose garment was white as snow, and the hair of his head like the pure wool: his throne was like the fiery flame, and his wheels as burning fire.
A fiery stream issued and came forth from before him: thousand thousands ministered unto him, and ten thousand times ten thousand stood before him: the judgment was set, and the books were opened.
</p>

<div class="sidenote">Daniel 7:11</div>

<p>
I beheld then because of the voice of the great words which the horn spake: I beheld even till the beast was slain, and his body destroyed, and given to the burning flame.
As concerning the rest of the beasts, they had their dominion taken away: yet their lives were prolonged for a season and time.
</p>

<div class="sidenote">Daniel 7:13</div>

<p>
I saw in the night visions, and, behold, one like the Son of man came with the clouds of heaven, and came to the Ancient of days, and they brought him near before him.
And there was given him dominion, and glory, and a kingdom, that all people, nations, and languages, should serve him: his dominion is an everlasting dominion, which shall not pass away, and his kingdom that which shall not be destroyed.
</p>

<div class="sidenote left">Daniel 7:15 <br>to Daniel 7:28</div>

<h3>Daniel Explains and Interprets the Vision</h3>

<p>
I Daniel was grieved in my spirit in the midst of my body, and the visions of my head troubled me.
I came near unto one of them that stood by, and asked him the truth of all this. So he told me, and made me know the interpretation of the things.
These great beasts, which are four, are four kings, which shall arise out of the earth.
But the saints of the most High shall take the kingdom, and possess the kingdom for ever, even for ever and ever.
</p>

<div class="sidenote">Daniel 7:19</div>

<p>
Then I would know the truth of the fourth beast, which was diverse from all the others, exceeding dreadful, whose teeth were of iron, and his nails of brass; which devoured, brake in pieces, and stamped the residue with his feet;
And of the ten horns that were in his head, and of the other which came up, and before whom three fell; even of that horn that had eyes, and a mouth that spake very great things, whose look was more stout than his fellows.
I beheld, and the same horn made war with the saints, and prevailed against them;
Until the Ancient of days came, and judgment was given to the saints of the most High; and the time came that the saints possessed the kingdom.
</p>

<div class="sidenote">Daniel 7:23</div>

<p>
Thus he said, The fourth beast shall be the fourth kingdom upon earth, which shall be diverse from all kingdoms, and shall devour the whole earth, and shall tread it down, and break it in pieces.
And the ten horns out of this kingdom are ten kings that shall arise: and another shall rise after them; and he shall be diverse from the first, and he shall subdue three kings.
And he shall speak great words against the most High, and shall wear out the saints of the most High, and think to change times and laws: and they shall be given into his hand until a time and times and the dividing of time.
But the judgment shall sit, and they shall take away his dominion, to consume and to destroy it unto the end.
And the kingdom and dominion, and the greatness of the kingdom under the whole heaven, shall be given to the people of the saints of the most High, whose kingdom is an everlasting kingdom, and all dominions shall serve and obey him.
</p>

<div class="sidenote">Daniel 7:28</div>

<p>
Hitherto is the end of the matter. As for me Daniel, my cogitations much troubled me, and my countenance changed in me: but I kept the matter in my heart.
</p>

<div class="sidenote left">Daniel 8:1 <br>to Daniel 8:14</div>

<h3>The Vision of a Small Horn that Oppresses Israel and Threatens the Temple</h3>

<p>
In the third year of the reign of king Belshazzar a vision appeared unto me, even unto me Daniel, after that which appeared unto me at the first.
And I saw in a vision; and it came to pass, when I saw, that I was at Shushan in the palace, which is in the province of Elam; and I saw in a vision, and I was by the river of Ulai.
Then I lifted up mine eyes, and saw, and, behold, there stood before the river a ram which had two horns: and the two horns were high; but one was higher than the other, and the higher came up last.
I saw the ram pushing westward, and northward, and southward; so that no beasts might stand before him, neither was there any that could deliver out of his hand; but he did according to his will, and became great.
</p>

<div class="sidenote">Daniel 8:5</div>

<p>
And as I was considering, behold, an he goat came from the west on the face of the whole earth, and touched not the ground: and the goat had a notable horn between his eyes.
And he came to the ram that had two horns, which I had seen standing before the river, and ran unto him in the fury of his power.
And I saw him come close unto the ram, and he was moved with choler against him, and smote the ram, and brake his two horns: and there was no power in the ram to stand before him, but he cast him down to the ground, and stamped upon him: and there was none that could deliver the ram out of his hand.
Therefore the he goat waxed very great: and when he was strong, the great horn was broken; and for it came up four notable ones toward the four winds of heaven.
</p>

<div class="sidenote">Daniel 8:9</div>

<p>
And out of one of them came forth a little horn, which waxed exceeding great, toward the south, and toward the east, and toward the pleasant land.
And it waxed great, even to the host of heaven; and it cast down some of the host and of the stars to the ground, and stamped upon them.
Yea, he magnified himself even to the prince of the host, and by him the daily sacrifice was taken away, and the place of the sanctuary was cast down.
And an host was given him against the daily sacrifice by reason of transgression, and it cast down the truth to the ground; and it practised, and prospered.
</p>

<div class="sidenote">Daniel 8:13</div>

<p>
Then I heard one saint speaking, and another saint said unto that certain saint which spake, How long shall be the vision concerning the daily sacrifice, and the transgression of desolation, to give both the sanctuary and the host to be trodden under foot?
And he said unto me, Unto two thousand and three hundred days; then shall the sanctuary be cleansed.
</p>

<div class="sidenote left">Daniel 8:15 <br>to Daniel 8:27</div>

<h3>Gabriel Gives Angelic Help and Interprets the Vision</h3>

<p>
And it came to pass, when I, even I Daniel, had seen the vision, and sought for the meaning, then, behold, there stood before me as the appearance of a man.
And I heard a man's voice between the banks of Ulai, which called, and said, Gabriel, make this man to understand the vision.
So he came near where I stood: and when he came, I was afraid, and fell upon my face: but he said unto me, Understand, O son of man: for at the time of the end shall be the vision.
</p>

<div class="sidenote">Daniel 8:18</div>

<p>
Now as he was speaking with me, I was in a deep sleep on my face toward the ground: but he touched me, and set me upright.
And he said, Behold, I will make thee know what shall be in the last end of the indignation: for at the time appointed the end shall be.
</p>

<div class="sidenote">Daniel 8:20</div>

<p>
The ram which thou sawest having two horns are the kings of Media and Persia.
</p>

<div class="sidenote">Daniel 8:21</div>

<p>
And the rough goat is the king of Grecia: and the great horn that is between his eyes is the first king.
Now that being broken, whereas four stood up for it, four kingdoms shall stand up out of the nation, but not in his power.
And in the latter time of their kingdom, when the transgressors are come to the full, a king of fierce countenance, and understanding dark sentences, shall stand up.
And his power shall be mighty, but not by his own power: and he shall destroy wonderfully, and shall prosper, and practise, and shall destroy the mighty and the holy people.
And through his policy also he shall cause craft to prosper in his hand; and he shall magnify himself in his heart, and by peace shall destroy many: he shall also stand up against the Prince of princes; but he shall be broken without hand.
And the vision of the evening and the morning which was told is true: wherefore shut thou up the vision; for it shall be for many days.
</p>

<div class="sidenote">Daniel 8:27</div>

<p>
And I Daniel fainted, and was sick certain days; afterward I rose up, and did the king's business; and I was astonished at the vision, but none understood it.
</p>

<div class="sidenote left">Daniel 9:1 <br>to Daniel 9:19</div>

<h3>Daniel’s Prayer for His People</h3>

<p>
In the first year of Darius the son of Ahasuerus, of the seed of the Medes, which was made king over the realm of the Chaldeans;
In the first year of his reign I Daniel understood by books the number of the years, whereof the word of the LORD came to Jeremiah the prophet, that he would accomplish seventy years in the desolations of Jerusalem.
</p>

<div class="sidenote">Daniel 9:3</div>

<p>
And I set my face unto the Lord God, to seek by prayer and supplications, with fasting, and sackcloth, and ashes:
And I prayed unto the LORD my God, and made my confession, and said, O Lord, the great and dreadful God, keeping the covenant and mercy to them that love him, and to them that keep his commandments;
We have sinned, and have committed iniquity, and have done wickedly, and have rebelled, even by departing from thy precepts and from thy judgments:
Neither have we hearkened unto thy servants the prophets, which spake in thy name to our kings, our princes, and our fathers, and to all the people of the land.
</p>

<div class="sidenote">Daniel 9:7</div>

<p>
O LORD, righteousness belongeth unto thee, but unto us confusion of faces, as at this day; to the men of Judah, and to the inhabitants of Jerusalem, and unto all Israel, that are near, and that are far off, through all the countries whither thou hast driven them, because of their trespass that they have trespassed against thee.
O Lord, to us belongeth confusion of face, to our kings, to our princes, and to our fathers, because we have sinned against thee.
To the Lord our God belong mercies and forgivenesses, though we have rebelled against him;
Neither have we obeyed the voice of the LORD our God, to walk in his laws, which he set before us by his servants the prophets.
</p>

<div class="sidenote">Daniel 9:11</div>

<p>
Yea, all Israel have transgressed thy law, even by departing, that they might not obey thy voice; therefore the curse is poured upon us, and the oath that is written in the law of Moses the servant of God, because we have sinned against him.
And he hath confirmed his words, which he spake against us, and against our judges that judged us, by bringing upon us a great evil: for under the whole heaven hath not been done as hath been done upon Jerusalem.
As it is written in the law of Moses, all this evil is come upon us: yet made we not our prayer before the LORD our God, that we might turn from our iniquities, and understand thy truth.
Therefore hath the LORD watched upon the evil, and brought it upon us: for the LORD our God is righteous in all his works which he doeth: for we obeyed not his voice.
</p>

<div class="sidenote">Daniel 9:15</div>

<p>
And now, O Lord our God, that hast brought thy people forth out of the land of Egypt with a mighty hand, and hast gotten thee renown, as at this day; we have sinned, we have done wickedly.
O LORD, according to all thy righteousness, I beseech thee, let thine anger and thy fury be turned away from thy city Jerusalem, thy holy mountain: because for our sins, and for the iniquities of our fathers, Jerusalem and thy people are become a reproach to all that are about us.
</p>

<div class="sidenote">Daniel 9:17</div>

<p>
Now therefore, O our God, hear the prayer of thy servant, and his supplications, and cause thy face to shine upon thy sanctuary that is desolate, for the Lord's sake.
O my God, incline thine ear, and hear; open thine eyes, and behold our desolations, and the city which is called by thy name: for we do not present our supplications before thee for our righteousnesses, but for thy great mercies.
O Lord, hear; O Lord, forgive; O Lord, hearken and do; defer not, for thine own sake, O my God: for thy city and thy people are called by thy name.
</p>

<div class="sidenote left">Daniel 9:20 <br>to Daniel 9:23</div>

<h3>Gabriel’s Announcement and Presentation of the Seventy Sets of Seven</h3>

<p>
And whiles I was speaking, and praying, and confessing my sin and the sin of my people Israel, and presenting my supplication before the LORD my God for the holy mountain of my God;
Yea, whiles I was speaking in prayer, even the man Gabriel, whom I had seen in the vision at the beginning, being caused to fly swiftly, touched me about the time of the evening oblation.
And he informed me, and talked with me, and said, O Daniel, I am now come forth to give thee skill and understanding.
At the beginning of thy supplications the commandment came forth, and I am come to shew thee; for thou art greatly beloved: therefore understand the matter, and consider the vision.
</p>

<div class="sidenote left">Daniel 9:24 <br>to Daniel 9:27</div>

<h3>The Seventy Sets of Seven Detailed</h3>

<p>
Seventy weeks are determined upon thy people and upon thy holy city, to finish the transgression, and to make an end of sins, and to make reconciliation for iniquity, and to bring in everlasting righteousness, and to seal up the vision and prophecy, and to anoint the most Holy.
Know therefore and understand, that from the going forth of the commandment to restore and to build Jerusalem unto the Messiah the Prince shall be seven weeks, and threescore and two weeks: the street shall be built again, and the wall, even in troublous times.
</p>

<div class="sidenote">Daniel 9:26</div>

<p>
And after threescore and two weeks shall Messiah be cut off, but not for himself: and the people of the prince that shall come shall destroy the city and the sanctuary; and the end thereof shall be with a flood, and unto the end of the war desolations are determined.
And he shall confirm the covenant with many for one week: and in the midst of the week he shall cause the sacrifice and the oblation to cease, and for the overspreading of abominations he shall make it desolate, even until the consummation, and that determined shall be poured upon the desolate.
</p>

<div class="sidenote left">Daniel 10:1 <br>to Daniel 10:21</div>

<h3>Daniel’s Vision of a Dazzling Heavenly Messenger</h3>

<p>
In the third year of Cyrus king of Persia a thing was revealed unto Daniel, whose name was called Belteshazzar; and the thing was true, but the time appointed was long: and he understood the thing, and had understanding of the vision.
</p>

<div class="sidenote">Daniel 10:2</div>

<p>
In those days I Daniel was mourning three full weeks.
I ate no pleasant bread, neither came flesh nor wine in my mouth, neither did I anoint myself at all, till three whole weeks were fulfilled.
And in the four and twentieth day of the first month, as I was by the side of the great river, which is Hiddekel;
Then I lifted up mine eyes, and looked, and behold a certain man clothed in linen, whose loins were girded with fine gold of Uphaz:
His body also was like the beryl, and his face as the appearance of lightning, and his eyes as lamps of fire, and his arms and his feet like in colour to polished brass, and the voice of his words like the voice of a multitude.
And I Daniel alone saw the vision: for the men that were with me saw not the vision; but a great quaking fell upon them, so that they fled to hide themselves.
Therefore I was left alone, and saw this great vision, and there remained no strength in me: for my comeliness was turned in me into corruption, and I retained no strength.
Yet heard I the voice of his words: and when I heard the voice of his words, then was I in a deep sleep on my face, and my face toward the ground.
</p>

<div class="sidenote">Daniel 10:10</div>

<p>
And, behold, an hand touched me, which set me upon my knees and upon the palms of my hands.
And he said unto me, O Daniel, a man greatly beloved, understand the words that I speak unto thee, and stand upright: for unto thee am I now sent. And when he had spoken this word unto me, I stood trembling.
Then said he unto me, Fear not, Daniel: for from the first day that thou didst set thine heart to understand, and to chasten thyself before thy God, thy words were heard, and I am come for thy words.
But the prince of the kingdom of Persia withstood me one and twenty days: but, lo, Michael, one of the chief princes, came to help me; and I remained there with the kings of Persia.
Now I am come to make thee understand what shall befall thy people in the latter days: for yet the vision is for many days.
</p>

<div class="sidenote">Daniel 10:15</div>

<p>
And when he had spoken such words unto me, I set my face toward the ground, and I became dumb.
And, behold, one like the similitude of the sons of men touched my lips: then I opened my mouth, and spake, and said unto him that stood before me, O my lord, by the vision my sorrows are turned upon me, and I have retained no strength.
For how can the servant of this my lord talk with this my lord? for as for me, straightway there remained no strength in me, neither is there breath left in me.
</p>

<div class="sidenote">Daniel 10:18</div>

<p>
Then there came again and touched me one like the appearance of a man, and he strengthened me,
And said, O man greatly beloved, fear not: peace be unto thee, be strong, yea, be strong. And when he had spoken unto me, I was strengthened, and said, Let my lord speak; for thou hast strengthened me.
Then said he, Knowest thou wherefore I come unto thee? and now will I return to fight with the prince of Persia: and when I am gone forth, lo, the prince of Grecia shall come.
But I will shew thee that which is noted in the scripture of truth: and there is none that holdeth with me in these things, but Michael your prince.
</p>

<div class="sidenote left">Daniel 11:1 <br>to Daniel 11:45</div>

<h3>A Survey of the Kings of the North and South</h3>

<p>
Also I in the first year of Darius the Mede, even I, stood to confirm and to strengthen him.
</p>

<div class="sidenote">Daniel 11:2</div>

<p>
And now will I shew thee the truth. Behold, there shall stand up yet three kings in Persia; and the fourth shall be far richer than they all: and by his strength through his riches he shall stir up all against the realm of Grecia.
And a mighty king shall stand up, that shall rule with great dominion, and do according to his will.
And when he shall stand up, his kingdom shall be broken, and shall be divided toward the four winds of heaven; and not to his posterity, nor according to his dominion which he ruled: for his kingdom shall be plucked up, even for others beside those.
</p>

<div class="sidenote">Daniel 11:5</div>

<p>
And the king of the south shall be strong, and one of his princes; and he shall be strong above him, and have dominion; his dominion shall be a great dominion.
And in the end of years they shall join themselves together; for the king's daughter of the south shall come to the king of the north to make an agreement: but she shall not retain the power of the arm; neither shall he stand, nor his arm: but she shall be given up, and they that brought her, and he that begat her, and he that strengthened her in these times.
But out of a branch of her roots shall one stand up in his estate, which shall come with an army, and shall enter into the fortress of the king of the north, and shall deal against them, and shall prevail:
And shall also carry captives into Egypt their gods, with their princes, and with their precious vessels of silver and of gold; and he shall continue more years than the king of the north.
So the king of the south shall come into his kingdom, and shall return into his own land.
</p>

<div class="sidenote">Daniel 11:10</div>

<p>
But his sons shall be stirred up, and shall assemble a multitude of great forces: and one shall certainly come, and overflow, and pass through: then shall he return, and be stirred up, even to his fortress.
And the king of the south shall be moved with choler, and shall come forth and fight with him, even with the king of the north: and he shall set forth a great multitude; but the multitude shall be given into his hand.
And when he hath taken away the multitude, his heart shall be lifted up; and he shall cast down many ten thousands: but he shall not be strengthened by it.
For the king of the north shall return, and shall set forth a multitude greater than the former, and shall certainly come after certain years with a great army and with much riches.
</p>

<div class="sidenote">Daniel 11:14</div>

<p>
And in those times there shall many stand up against the king of the south: also the robbers of thy people shall exalt themselves to establish the vision; but they shall fall.
So the king of the north shall come, and cast up a mount, and take the most fenced cities: and the arms of the south shall not withstand, neither his chosen people, neither shall there be any strength to withstand.
But he that cometh against him shall do according to his own will, and none shall stand before him: and he shall stand in the glorious land, which by his hand shall be consumed.
He shall also set his face to enter with the strength of his whole kingdom, and upright ones with him; thus shall he do: and he shall give him the daughter of women, corrupting her: but she shall not stand on his side, neither be for him.
After this shall he turn his face unto the isles, and shall take many: but a prince for his own behalf shall cause the reproach offered by him to cease; without his own reproach he shall cause it to turn upon him.
Then he shall turn his face toward the fort of his own land: but he shall stumble and fall, and not be found.
</p>

<div class="sidenote">Daniel 11:20</div>

<p>
Then shall stand up in his estate a raiser of taxes in the glory of the kingdom: but within few days he shall be destroyed, neither in anger, nor in battle.
And in his estate shall stand up a vile person, to whom they shall not give the honour of the kingdom: but he shall come in peaceably, and obtain the kingdom by flatteries.
And with the arms of a flood shall they be overflown from before him, and shall be broken; yea, also the prince of the covenant.
And after the league made with him he shall work deceitfully: for he shall come up, and shall become strong with a small people.
He shall enter peaceably even upon the fattest places of the province; and he shall do that which his fathers have not done, nor his fathers' fathers; he shall scatter among them the prey, and spoil, and riches: yea, and he shall forecast his devices against the strong holds, even for a time.
And he shall stir up his power and his courage against the king of the south with a great army; and the king of the south shall be stirred up to battle with a very great and mighty army; but he shall not stand: for they shall forecast devices against him.
Yea, they that feed of the portion of his meat shall destroy him, and his army shall overflow: and many shall fall down slain.
And both of these kings' hearts shall be to do mischief, and they shall speak lies at one table; but it shall not prosper: for yet the end shall be at the time appointed.
Then shall he return into his land with great riches; and his heart shall be against the holy covenant; and he shall do exploits, and return to his own land.
</p>

<div class="sidenote">Daniel 11:29</div>

<p>
At the time appointed he shall return, and come toward the south; but it shall not be as the former, or as the latter.
For the ships of Chittim shall come against him: therefore he shall be grieved, and return, and have indignation against the holy covenant: so shall he do; he shall even return, and have intelligence with them that forsake the holy covenant.
And arms shall stand on his part, and they shall pollute the sanctuary of strength, and shall take away the daily sacrifice, and they shall place the abomination that maketh desolate.
</p>

<div class="sidenote">Daniel 11:32</div>

<p>
And such as do wickedly against the covenant shall he corrupt by flatteries: but the people that do know their God shall be strong, and do exploits.
And they that understand among the people shall instruct many: yet they shall fall by the sword, and by flame, by captivity, and by spoil, many days.
Now when they shall fall, they shall be holpen with a little help: but many shall cleave to them with flatteries.
And some of them of understanding shall fall, to try them, and to purge, and to make them white, even to the time of the end: because it is yet for a time appointed.
</p>

<div class="sidenote">Daniel 11:36</div>

<p>
And the king shall do according to his will; and he shall exalt himself, and magnify himself above every god, and shall speak marvellous things against the God of gods, and shall prosper till the indignation be accomplished: for that that is determined shall be done.
Neither shall he regard the God of his fathers, nor the desire of women, nor regard any god: for he shall magnify himself above all.
But in his estate shall he honour the God of forces: and a god whom his fathers knew not shall he honour with gold, and silver, and with precious stones, and pleasant things.
Thus shall he do in the most strong holds with a strange god, whom he shall acknowledge and increase with glory: and he shall cause them to rule over many, and shall divide the land for gain.
</p>

<div class="sidenote">Daniel 11:40</div>

<p>
And at the time of the end shall the king of the south push at him: and the king of the north shall come against him like a whirlwind, with chariots, and with horsemen, and with many ships; and he shall enter into the countries, and shall overflow and pass over.
He shall enter also into the glorious land, and many countries shall be overthrown: but these shall escape out of his hand, even Edom, and Moab, and the chief of the children of Ammon.
He shall stretch forth his hand also upon the countries: and the land of Egypt shall not escape.
But he shall have power over the treasures of gold and of silver, and over all the precious things of Egypt: and the Libyans and the Ethiopians shall be at his steps.
But tidings out of the east and out of the north shall trouble him: therefore he shall go forth with great fury to destroy, and utterly to make away many.
And he shall plant the tabernacles of his palace between the seas in the glorious holy mountain; yet he shall come to his end, and none shall help him.
</p>

<div class="sidenote left">Daniel 12:1 <br>to Daniel 12:7</div>

<h3>The Time of the Judgment and the Resurrection of Two Groups</h3>

<p>
And at that time shall Michael stand up, the great prince which standeth for the children of thy people: and there shall be a time of trouble, such as never was since there was a nation even to that same time: and at that time thy people shall be delivered, every one that shall be found written in the book.
And many of them that sleep in the dust of the earth shall awake, some to everlasting life, and some to shame and everlasting contempt.
And they that be wise shall shine as the brightness of the firmament; and they that turn many to righteousness as the stars for ever and ever.
But thou, O Daniel, shut up the words, and seal the book, even to the time of the end: many shall run to and fro, and knowledge shall be increased.
</p>

<div class="sidenote">Daniel 12:5</div>

<p>
Then I Daniel looked, and, behold, there stood other two, the one on this side of the bank of the river, and the other on that side of the bank of the river.
And one said to the man clothed in linen, which was upon the waters of the river, How long shall it be to the end of these wonders?
And I heard the man clothed in linen, which was upon the waters of the river, when he held up his right hand and his left hand unto heaven, and sware by him that liveth for ever that it shall be for a time, times, and an half; and when he shall have accomplished to scatter the power of the holy people, all these things shall be finished.
</p>

<div class="sidenote left">Daniel 12:8 <br>to Daniel 12:13</div>

<h3>Daniel Seeks Additional Insights</h3>

<p>
And I heard, but I understood not: then said I, O my Lord, what shall be the end of these things?
And he said, Go thy way, Daniel: for the words are closed up and sealed till the time of the end.
Many shall be purified, and made white, and tried; but the wicked shall do wickedly: and none of the wicked shall understand; but the wise shall understand.
And from the time that the daily sacrifice shall be taken away, and the abomination that maketh desolate set up, there shall be a thousand two hundred and ninety days.
Blessed is he that waiteth, and cometh to the thousand three hundred and five and thirty days.
But go thou thy way till the end be: for thou shalt rest, and stand in thy lot at the end of the days.
</p>
