<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Ephesians</h1>

<div class="sidenote left">Ephesians 1:1 <br>to Ephesians 1:2</div>

<h3>Greeting</h3>

<p>
Paul, an apostle of Jesus Christ by the will of God, to the saints which are at Ephesus, and to the faithful in Christ Jesus:
Grace be to you, and peace, from God our Father, and from the Lord Jesus Christ.
</p>

<div class="sidenote left">Ephesians 1:3 <br>to Ephesians 1:14</div>

<h3>Praise to God for Spiritual Blessings</h3>

<p>
Blessed be the God and Father of our Lord Jesus Christ, who hath blessed us with all spiritual blessings in heavenly places in Christ:
According as he hath chosen us in him before the foundation of the world, that we should be holy and without blame before him in love:
Having predestinated us unto the adoption of children by Jesus Christ to himself, according to the good pleasure of his will,
To the praise of the glory of his grace, wherein he hath made us accepted in the beloved.
In whom we have redemption through his blood, the forgiveness of sins, according to the riches of his grace;
Wherein he hath abounded toward us in all wisdom and prudence;
Having made known unto us the mystery of his will, according to his good pleasure which he hath purposed in himself:
That in the dispensation of the fulness of times he might gather together in one all things in Christ, both which are in heaven, and which are on earth; even in him:
In whom also we have obtained an inheritance, being predestinated according to the purpose of him who worketh all things after the counsel of his own will:
That we should be to the praise of his glory, who first trusted in Christ.
In whom ye also trusted, after that ye heard the word of truth, the gospel of your salvation: in whom also after that ye believed, ye were sealed with that holy Spirit of promise,
Which is the earnest of our inheritance until the redemption of the purchased possession, unto the praise of his glory.
</p>

<div class="sidenote left">Ephesians 1:15 <br>to Ephesians 1:23</div>

<h3>Prayer for Spiritual Wisdom</h3>

<p>
Wherefore I also, after I heard of your faith in the Lord Jesus, and love unto all the saints,
Cease not to give thanks for you, making mention of you in my prayers;
That the God of our Lord Jesus Christ, the Father of glory, may give unto you the spirit of wisdom and revelation in the knowledge of him:
The eyes of your understanding being enlightened; that ye may know what is the hope of his calling, and what the riches of the glory of his inheritance in the saints,
And what is the exceeding greatness of his power to us-ward who believe, according to the working of his mighty power,
Which he wrought in Christ, when he raised him from the dead, and set him at his own right hand in the heavenly places,
Far above all principality, and power, and might, and dominion, and every name that is named, not only in this world, but also in that which is to come:
And hath put all things under his feet, and gave him to be the head over all things to the church,
Which is his body, the fulness of him that filleth all in all.
</p>

<div class="sidenote left">Ephesians 2:1 <br>to Ephesians 2:10</div>

<h3>Made Alive in Christ</h3>

<p>
And you hath he quickened, who were dead in trespasses and sins;
Wherein in time past ye walked according to the course of this world, according to the prince of the power of the air, the spirit that now worketh in the children of disobedience:
Among whom also we all had our conversation in times past in the lusts of our flesh, fulfilling the desires of the flesh and of the mind; and were by nature the children of wrath, even as others.
</p>

<div class="sidenote">Ephesians 2:4</div>

<p>
But God, who is rich in mercy, for his great love wherewith he loved us,
Even when we were dead in sins, hath quickened us together with Christ, (by grace ye are saved;)
And hath raised us up together, and made us sit together in heavenly places in Christ Jesus:
That in the ages to come he might shew the exceeding riches of his grace in his kindness toward us through Christ Jesus.
For by grace are ye saved through faith; and that not of yourselves: it is the gift of God:
Not of works, lest any man should boast.
For we are his workmanship, created in Christ Jesus unto good works, which God hath before ordained that we should walk in them.
</p>

<div class="sidenote left">Ephesians 2:11 <br>to Ephesians 2:22</div>

<h3>Jewish and Gentile Believers United in Christ</h3>

<p>
Wherefore remember, that ye being in time past Gentiles in the flesh, who are called Uncircumcision by that which is called the Circumcision in the flesh made by hands;
That at that time ye were without Christ, being aliens from the commonwealth of Israel, and strangers from the covenants of promise, having no hope, and without God in the world:
But now in Christ Jesus ye who sometimes were far off are made nigh by the blood of Christ.
For he is our peace, who hath made both one, and hath broken down the middle wall of partition between us;
Having abolished in his flesh the enmity, even the law of commandments contained in ordinances; for to make in himself of twain one new man, so making peace;
And that he might reconcile both unto God in one body by the cross, having slain the enmity thereby:
And came and preached peace to you which were afar off, and to them that were nigh.
For through him we both have access by one Spirit unto the Father.
Now therefore ye are no more strangers and foreigners, but fellowcitizens with the saints, and of the household of God;
And are built upon the foundation of the apostles and prophets, Jesus Christ himself being the chief corner stone;
In whom all the building fitly framed together groweth unto an holy temple in the Lord:
In whom ye also are builded together for an habitation of God through the Spirit.
</p>

<div class="sidenote left">Ephesians 3:1 <br>to Ephesians 3:13</div>

<h3>The Mystery of Christ Revealed</h3>

<p>
For this cause I Paul, the prisoner of Jesus Christ for you Gentiles,
If ye have heard of the dispensation of the grace of God which is given me to you-ward:
How that by revelation he made known unto me the mystery; (as I wrote afore in few words,
Whereby, when ye read, ye may understand my knowledge in the mystery of Christ)
Which in other ages was not made known unto the sons of men, as it is now revealed unto his holy apostles and prophets by the Spirit;
That the Gentiles should be fellowheirs, and of the same body, and partakers of his promise in Christ by the gospel:
Whereof I was made a minister, according to the gift of the grace of God given unto me by the effectual working of his power.
</p>

<div class="sidenote">Ephesians 3:8</div>

<p>
Unto me, who am less than the least of all saints, is this grace given, that I should preach among the Gentiles the unsearchable riches of Christ;
And to make all men see what is the fellowship of the mystery, which from the beginning of the world hath been hid in God, who created all things by Jesus Christ:
To the intent that now unto the principalities and powers in heavenly places might be known by the church the manifold wisdom of God,
According to the eternal purpose which he purposed in Christ Jesus our Lord:
In whom we have boldness and access with confidence by the faith of him.
Wherefore I desire that ye faint not at my tribulations for you, which is your glory.
</p>

<div class="sidenote left">Ephesians 3:14 <br>to Ephesians 3:21</div>

<h3>Prayer for Spiritual Strength</h3>

<p>
For this cause I bow my knees unto the Father of our Lord Jesus Christ,
Of whom the whole family in heaven and earth is named,
That he would grant you, according to the riches of his glory, to be strengthened with might by his Spirit in the inner man;
That Christ may dwell in your hearts by faith; that ye, being rooted and grounded in love,
May be able to comprehend with all saints what is the breadth, and length, and depth, and height;
And to know the love of Christ, which passeth knowledge, that ye might be filled with all the fulness of God.
</p>

<div class="sidenote">Ephesians 3:20</div>

<p>
Now unto him that is able to do exceeding abundantly above all that we ask or think, according to the power that worketh in us,
Unto him be glory in the church by Christ Jesus throughout all ages, world without end. Amen.
</p>

<div class="sidenote left">Ephesians 4:1 <br>to Ephesians 4:6</div>

<h3>Christians Should Live in Unity</h3>

<p>
I therefore, the prisoner of the Lord, beseech you that ye walk worthy of the vocation wherewith ye are called,
With all lowliness and meekness, with longsuffering, forbearing one another in love;
Endeavouring to keep the unity of the Spirit in the bond of peace.
There is one body, and one Spirit, even as ye are called in one hope of your calling;
One Lord, one faith, one baptism,
One God and Father of all, who is above all, and through all, and in you all.
</p>

<div class="sidenote left">Ephesians 4:7 <br>to Ephesians 4:16</div>

<h3>Gifted Leaders Bring the Church to Maturity</h3>

<p>
But unto every one of us is given grace according to the measure of the gift of Christ.
Wherefore he saith, When he ascended up on high, he led captivity captive, and gave gifts unto men.
</p>

<div class="sidenote">Ephesians 4:9</div>

<p>
(Now that he ascended, what is it but that he also descended first into the lower parts of the earth?
He that descended is the same also that ascended up far above all heavens, that he might fill all things.)
</p>

<div class="sidenote">Ephesians 4:11</div>

<p>
And he gave some, apostles; and some, prophets; and some, evangelists; and some, pastors and teachers;
For the perfecting of the saints, for the work of the ministry, for the edifying of the body of Christ:
Till we all come in the unity of the faith, and of the knowledge of the Son of God, unto a perfect man, unto the measure of the stature of the fulness of Christ:
That we henceforth be no more children, tossed to and fro, and carried about with every wind of doctrine, by the sleight of men, and cunning craftiness, whereby they lie in wait to deceive;
But speaking the truth in love, may grow up into him in all things, which is the head, even Christ:
From whom the whole body fitly joined together and compacted by that which every joint supplieth, according to the effectual working in the measure of every part, maketh increase of the body unto the edifying of itself in love.
</p>

<div class="sidenote left">Ephesians 4:17 <br>to Ephesians 4:24</div>

<h3>Appeal for New Behavior</h3>

<p>
This I say therefore, and testify in the Lord, that ye henceforth walk not as other Gentiles walk, in the vanity of their mind,
Having the understanding darkened, being alienated from the life of God through the ignorance that is in them, because of the blindness of their heart:
Who being past feeling have given themselves over unto lasciviousness, to work all uncleanness with greediness.
</p>

<div class="sidenote">Ephesians 4:20</div>

<p>
But ye have not so learned Christ;
If so be that ye have heard him, and have been taught by him, as the truth is in Jesus:
That ye put off concerning the former conversation the old man, which is corrupt according to the deceitful lusts;
And be renewed in the spirit of your mind;
And that ye put on the new man, which after God is created in righteousness and true holiness.
</p>

<div class="sidenote left">Ephesians 4:25 <br>to Ephesians 4:32</div>

<h3>Old Behavior, New Behavior, and Motivation</h3>

<p>
Wherefore putting away lying, speak every man truth with his neighbour: for we are members one of another.
Be ye angry, and sin not: let not the sun go down upon your wrath:
Neither give place to the devil.
Let him that stole steal no more: but rather let him labour, working with his hands the thing which is good, that he may have to give to him that needeth.
Let no corrupt communication proceed out of your mouth, but that which is good to the use of edifying, that it may minister grace unto the hearers.
And grieve not the holy Spirit of God, whereby ye are sealed unto the day of redemption.
Let all bitterness, and wrath, and anger, and clamour, and evil speaking, be put away from you, with all malice:
And be ye kind one to another, tenderhearted, forgiving one another, even as God for Christ's sake hath forgiven you.
</p>

<div class="sidenote left">Ephesians 5:1 <br>to Ephesians 5:6</div>

<h3>Imitators of God</h3>

<p>
Be ye therefore followers of God, as dear children;
And walk in love, as Christ also hath loved us, and hath given himself for us an offering and a sacrifice to God for a sweetsmelling savour.
But fornication, and all uncleanness, or covetousness, let it not be once named among you, as becometh saints;
Neither filthiness, nor foolish talking, nor jesting, which are not convenient: but rather giving of thanks.
For this ye know, that no whoremonger, nor unclean person, nor covetous man, who is an idolater, hath any inheritance in the kingdom of Christ and of God.
Let no man deceive you with vain words: for because of these things cometh the wrath of God upon the children of disobedience.
</p>

<div class="sidenote left">Ephesians 5:7 <br>to Ephesians 5:16</div>

<h3>Walk Like Children of Light</h3>

<p>
Be not ye therefore partakers with them.
For ye were sometimes darkness, but now are ye light in the Lord: walk as children of light:
(For the fruit of the Spirit is in all goodness and righteousness and truth;)
Proving what is acceptable unto the Lord.
And have no fellowship with the unfruitful works of darkness, but rather reprove them.
For it is a shame even to speak of those things which are done of them in secret.
But all things that are reproved are made manifest by the light: for whatsoever doth make manifest is light.
Wherefore he saith, Awake thou that sleepest, and arise from the dead, and Christ shall give thee light.
</p>

<div class="sidenote">Ephesians 5:15</div>

<p>
See then that ye walk circumspectly, not as fools, but as wise,
Redeeming the time, because the days are evil.
</p>

<div class="sidenote left">Ephesians 5:17 <br>to Ephesians 5:24</div>

<h3>Being Filled by the Spirit</h3>

<p>
Wherefore be ye not unwise, but understanding what the will of the Lord is.
And be not drunk with wine, wherein is excess; but be filled with the Spirit;
Speaking to yourselves in psalms and hymns and spiritual songs, singing and making melody in your heart to the Lord;
Giving thanks always for all things unto God and the Father in the name of our Lord Jesus Christ;
Submitting yourselves one to another in the fear of God.
Wives, submit yourselves unto your own husbands, as unto the Lord.
For the husband is the head of the wife, even as Christ is the head of the church: and he is the saviour of the body.
Therefore as the church is subject unto Christ, so let the wives be to their own husbands in every thing.
</p>

<div class="sidenote left">Ephesians 5:25 <br>to Ephesians 5:33</div>

<h3>Husbands and Wives</h3>

<p>
Husbands, love your wives, even as Christ also loved the church, and gave himself for it;
That he might sanctify and cleanse it with the washing of water by the word,
That he might present it to himself a glorious church, not having spot, or wrinkle, or any such thing; but that it should be holy and without blemish.
So ought men to love their wives as their own bodies. He that loveth his wife loveth himself.
For no man ever yet hated his own flesh; but nourisheth and cherisheth it, even as the Lord the church:
For we are members of his body, of his flesh, and of his bones.
For this cause shall a man leave his father and mother, and shall be joined unto his wife, and they two shall be one flesh.
This is a great mystery: but I speak concerning Christ and the church.
Nevertheless let every one of you in particular so love his wife even as himself; and the wife see that she reverence her husband.
</p>

<div class="sidenote left">Ephesians 6:1 <br>to Ephesians 6:4</div>

<h3>Children and Parents</h3>

<p>
Children, obey your parents in the Lord: for this is right.
Honour thy father and mother; which is the first commandment with promise;
That it may be well with thee, and thou mayest live long on the earth.
And, ye fathers, provoke not your children to wrath: but bring them up in the nurture and admonition of the Lord.
</p>

<div class="sidenote left">Ephesians 6:5 <br>to Ephesians 6:9</div>

<h3>Slaves and Masters</h3>

<p>
Servants, be obedient to them that are your masters according to the flesh, with fear and trembling, in singleness of your heart, as unto Christ;
Not with eyeservice, as menpleasers; but as the servants of Christ, doing the will of God from the heart;
With good will doing service, as to the Lord, and not to men:
Knowing that whatsoever good thing any man doeth, the same shall he receive of the Lord, whether he be bond or free.
And, ye masters, do the same things unto them, forbearing threatening: knowing that your Master also is in heaven; neither is there respect of persons with him.
</p>

<div class="sidenote left">Ephesians 6:10 <br>to Ephesians 6:20</div>

<h3>Spiritual Warfare</h3>

<p>
Finally, my brethren, be strong in the Lord, and in the power of his might.
Put on the whole armour of God, that ye may be able to stand against the wiles of the devil.
For we wrestle not against flesh and blood, but against principalities, against powers, against the rulers of the darkness of this world, against spiritual wickedness in high places.
Wherefore take unto you the whole armour of God, that ye may be able to withstand in the evil day, and having done all, to stand.
Stand therefore, having your loins girt about with truth, and having on the breastplate of righteousness;
And your feet shod with the preparation of the gospel of peace;
Above all, taking the shield of faith, wherewith ye shall be able to quench all the fiery darts of the wicked.
And take the helmet of salvation, and the sword of the Spirit, which is the word of God:
Praying always with all prayer and supplication in the Spirit, and watching thereunto with all perseverance and supplication for all saints;
And for me, that utterance may be given unto me, that I may open my mouth boldly, to make known the mystery of the gospel,
For which I am an ambassador in bonds: that therein I may speak boldly, as I ought to speak.
</p>

<div class="sidenote left">Ephesians 6:21 <br>to Ephesians 6:24</div>

<h3>Conclusion and Benediction</h3>

<p>
But that ye also may know my affairs, and how I do, Tychicus, a beloved brother and faithful minister in the Lord, shall make known to you all things:
Whom I have sent unto you for the same purpose, that ye might know our affairs, and that he might comfort your hearts.
</p>

<div class="sidenote">Ephesians 6:23</div>

<p>
Peace be to the brethren, and love with faith, from God the Father and the Lord Jesus Christ.
Grace be with all them that love our Lord Jesus Christ in sincerity. Amen.
</p>
