<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Jude</h1>

<p>
Jude, the servant of Jesus Christ, and brother of James, to them that are sanctified by God the Father, and preserved in Jesus Christ, and called:
Mercy unto you, and peace, and love, be multiplied.
Beloved, when I gave all diligence to write unto you of the common salvation, it was needful for me to write unto you, and exhort you that ye should earnestly contend for the faith which was once delivered unto the saints.
For there are certain men crept in unawares, who were before of old ordained to this condemnation, ungodly men, turning the grace of our God into lasciviousness, and denying the only Lord God, and our Lord Jesus Christ.
I will therefore put you in remembrance, though ye once knew this, how that the Lord, having saved the people out of the land of Egypt, afterward destroyed them that believed not.
And the angels which kept not their first estate, but left their own habitation, he hath reserved in everlasting chains under darkness unto the judgment of the great day.
Even as Sodom and Gomorrha, and the cities about them in like manner, giving themselves over to fornication, and going after strange flesh, are set forth for an example, suffering the vengeance of eternal fire.
Likewise also these filthy dreamers defile the flesh, despise dominion, and speak evil of dignities.
Yet Michael the archangel, when contending with the devil he disputed about the body of Moses, durst not bring against him a railing accusation, but said, The Lord rebuke thee.
But these speak evil of those things which they know not: but what they know naturally, as brute beasts, in those things they corrupt themselves.
Woe unto them! for they have gone in the way of Cain, and ran greedily after the error of Balaam for reward, and perished in the gainsaying of Core.
These are spots in your feasts of charity, when they feast with you, feeding themselves without fear: clouds they are without water, carried about of winds; trees whose fruit withereth, without fruit, twice dead, plucked up by the roots;
Raging waves of the sea, foaming out their own shame; wandering stars, to whom is reserved the blackness of darkness for ever.
And Enoch also, the seventh from Adam, prophesied of these, saying, Behold, the Lord cometh with ten thousands of his saints,
To execute judgment upon all, and to convince all that are ungodly among them of all their ungodly deeds which they have ungodly committed, and of all their hard speeches which ungodly sinners have spoken against him.
These are murmurers, complainers, walking after their own lusts; and their mouth speaketh great swelling words, having men's persons in admiration because of advantage.
But, beloved, remember ye the words which were spoken before of the apostles of our Lord Jesus Christ;
How that they told you there should be mockers in the last time, who should walk after their own ungodly lusts.
These be they who separate themselves, sensual, having not the Spirit.
But ye, beloved, building up yourselves on your most holy faith, praying in the Holy Ghost,
Keep yourselves in the love of God, looking for the mercy of our Lord Jesus Christ unto eternal life.
And of some have compassion, making a difference:
And others save with fear, pulling them out of the fire; hating even the garment spotted by the flesh.
Now unto him that is able to keep you from falling, and to present you faultless before the presence of his glory with exceeding joy,
To the only wise God our Saviour, be glory and majesty, dominion and power, both now and ever. Amen.
</p>
