<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Jonah</h1>

<div class="sidenote left">Jonah 1:1 <br>to Jonah 1:16</div>

<h3>Jonah Disobeys the LORD</h3>

<p>
Now the word of the LORD came unto Jonah the son of Amittai, saying,
Arise, go to Nineveh, that great city, and cry against it; for their wickedness is come up before me.
But Jonah rose up to flee unto Tarshish from the presence of the LORD, and went down to Joppa; and he found a ship going to Tarshish: so he paid the fare thereof, and went down into it, to go with them unto Tarshish from the presence of the LORD.
</p>

<div class="sidenote">Jonah 1:4</div>

<p>
But the LORD sent out a great wind into the sea, and there was a mighty tempest in the sea, so that the ship was like to be broken.
Then the mariners were afraid, and cried every man unto his god, and cast forth the wares that were in the ship into the sea, to lighten it of them. But Jonah was gone down into the sides of the ship; and he lay, and was fast asleep.
So the shipmaster came to him, and said unto him, What meanest thou, O sleeper? arise, call upon thy God, if so be that God will think upon us, that we perish not.
And they said every one to his fellow, Come, and let us cast lots, that we may know for whose cause this evil is upon us. So they cast lots, and the lot fell upon Jonah.
Then said they unto him, Tell us, we pray thee, for whose cause this evil is upon us; What is thine occupation? and whence comest thou? what is thy country? and of what people art thou?
And he said unto them, I am an Hebrew; and I fear the LORD, the God of heaven, which hath made the sea and the dry land.
Then were the men exceedingly afraid, and said unto him. Why hast thou done this? For the men knew that he fled from the presence of the LORD, because he had told them.
Then said they unto him, What shall we do unto thee, that the sea may be calm unto us? for the sea wrought, and was tempestuous.
And he said unto them, Take me up, and cast me forth into the sea; so shall the sea be calm unto you: for I know that for my sake this great tempest is upon you.
Nevertheless the men rowed hard to bring it to the land; but they could not: for the sea wrought, and was tempestuous against them.
Wherefore they cried unto the LORD, and said, We beseech thee, O LORD, we beseech thee, let us not perish for this man's life, and lay not upon us innocent blood: for thou, O LORD, hast done as it pleased thee.
So they look up Jonah, and cast him forth into the sea: and the sea ceased from her raging.
Then the men feared the LORD exceedingly, and offered a sacrifice unto the LORD, and made vows.
</p>

<div class="sidenote left">Jonah 1:17 <br>to Jonah 2:10</div>

<h3>Jonah Is Swallowed by a Fish and Prays to the LORD</h3>

<p>
Now the LORD had prepared a great fish to swallow up Jonah. And Jonah was in the belly of the fish three days and three nights.
</p>

<p>
Then Jonah prayed unto the LORD his God out of the fish's belly,
And said, I cried by reason of mine affliction unto the LORD, and he heard me; out of the belly of hell cried I, and thou heardest my voice.
</p>

<div class="sidenote">Jonah 2:3</div>

<p>
For thou hadst cast me into the deep, in the midst of the seas; and the floods compassed me about: all thy billows and thy waves passed over me.
</p>

<div class="sidenote">Jonah 2:4</div>

<p>
Then I said, I am cast out of thy sight; yet I will look again toward thy holy temple.
</p>

<div class="sidenote">Jonah 2:5</div>

<p>
The waters compassed me about, even to the soul: the depth closed me round about, the weeds were wrapped about my head.
</p>

<div class="sidenote">Jonah 2:6</div>

<p>
I went down to the bottoms of the mountains; the earth with her bars was about me for ever: yet hast thou brought up my life from corruption, O LORD my God.
</p>

<div class="sidenote">Jonah 2:7</div>

<p>
When my soul fainted within me I remembered the LORD: and my prayer came in unto thee, into thine holy temple.
</p>

<div class="sidenote">Jonah 2:8</div>

<p>
They that observe lying vanities forsake their own mercy.
</p>

<div class="sidenote">Jonah 2:9</div>

<p>
But I will sacrifice unto thee with the voice of thanksgiving; I will pay that that I have vowed. Salvation is of the LORD.
</p>

<div class="sidenote">Jonah 2:10</div>

<p>
And the LORD spake unto the fish, and it vomited out Jonah upon the dry land.
</p>

<div class="sidenote left">Jonah 3:1 <br>to Jonah 3:5</div>

<h3>The People of Nineveh Repent at Jonah’s Proclamation</h3>

<p>
And the word of the LORD came unto Jonah the second time, saying,
Arise, go unto Nineveh, that great city, and preach unto it the preaching that I bid thee.
So Jonah arose, and went unto Nineveh, according to the word of the LORD. Now Nineveh was an exceeding great city of three days' journey.
And Jonah began to enter into the city a day's journey, and he cried, and said, Yet forty days, and Nineveh shall be overthrown.
So the people of Nineveh believed God, and proclaimed a fast, and put on sackcloth, from the greatest of them even to the least of them.
</p>

<div class="sidenote left">Jonah 3:6 <br>to Jonah 3:10</div>

<h3>The King’s Proclamation</h3>

<p>
For word came unto the king of Nineveh, and he arose from his throne, and he laid his robe from him, and covered him with sackcloth, and sat in ashes.
And he caused it to be proclaimed and published through Nineveh by the decree of the king and his nobles, saying, Let neither man nor beast, herd nor flock, taste any thing: let them not feed, nor drink water:
</p>

<div class="sidenote">Jonah 3:8</div>

<p>
But let man and beast be covered with sackcloth, and cry mightily unto God: yea, let them turn every one from his evil way, and from the violence that is in their hands.
Who can tell if God will turn and repent, and turn away from his fierce anger, that we perish not?
</p>

<div class="sidenote">Jonah 3:10</div>

<p>
And God saw their works, that they turned from their evil way; and God repented of the evil, that he had said that he would do unto them; and he did it not.
</p>

<div class="sidenote left">Jonah 4:1 <br>to Jonah 4:11</div>

<h3>Jonah Is Angry at the LORD’s Compassion</h3>

<p>
But it displeased Jonah exceedingly, and he was very angry.
And he prayed unto the LORD, and said, I pray thee, O LORD, was not this my saying, when I was yet in my country? Therefore I fled before unto Tarshish: for I knew that thou art a gracious God, and merciful, slow to anger, and of great kindness, and repentest thee of the evil.
Therefore now, O LORD, take, I beseech thee, my life from me; for it is better for me to die than to live.
Then said the LORD, Doest thou well to be angry?
</p>

<div class="sidenote">Jonah 4:5</div>

<p>
So Jonah went out of the city, and sat on the east side of the city, and there made him a booth, and sat under it in the shadow, till he might see what would become of the city.
And the LORD God prepared a gourd, and made it to come up over Jonah, that it might be a shadow over his head, to deliver him from his grief. So Jonah was exceeding glad of the gourd.
But God prepared a worm when the morning rose the next day, and it smote the gourd that it withered.
And it came to pass, when the sun did arise, that God prepared a vehement east wind; and the sun beat upon the head of Jonah, that he fainted, and wished in himself to die, and said, It is better for me to die than to live.
And God said to Jonah, Doest thou well to be angry for the gourd? And he said, I do well to be angry, even unto death.
</p>

<div class="sidenote">Jonah 4:10</div>

<p>
Then said the LORD, Thou hast had pity on the gourd, for the which thou hast not laboured, neither madest it grow; which came up in a night, and perished in a night:
And should not I spare Nineveh, that great city, wherein are more then sixscore thousand persons that cannot discern between their right hand and their left hand; and also much cattle?
</p>
