<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Lamentations</h1>

<div class="sidenote left">Lamentations 1:1 <br>to Lamentations 1:22</div>

<h3>The Desolate City</h3>

<p>
How doth the city sit solitary, that was full of people! how is she become as a widow! she that was great among the nations, and princess among the provinces, how is she become tributary!
</p>

<div class="sidenote">Lamentations 1:2</div>

<p>
She weepeth sore in the night, and her tears are on her cheeks: among all her lovers she hath none to comfort her: all her friends have dealt treacherously with her, they are become her enemies.
</p>

<div class="sidenote">Lamentations 1:3</div>

<p>
Judah is gone into captivity because of affliction, and because of great servitude: she dwelleth among the heathen, she findeth no rest: all her persecutors overtook her between the straits.
</p>

<div class="sidenote">Lamentations 1:4</div>

<p>
The ways of Zion do mourn, because none come to the solemn feasts: all her gates are desolate: her priests sigh, her virgins are afflicted, and she is in bitterness.
</p>

<div class="sidenote">Lamentations 1:5</div>

<p>
Her adversaries are the chief, her enemies prosper; for the LORD hath afflicted her for the multitude of her transgressions: her children are gone into captivity before the enemy.
</p>

<div class="sidenote">Lamentations 1:6</div>

<p>
And from the daughter of Zion all her beauty is departed: her princes are become like harts that find no pasture, and they are gone without strength before the pursuer.
</p>

<div class="sidenote">Lamentations 1:7</div>

<p>
Jerusalem remembered in the days of her affliction and of her miseries all her pleasant things that she had in the days of old, when her people fell into the hand of the enemy, and none did help her: the adversaries saw her, and did mock at her sabbaths.
</p>

<div class="sidenote">Lamentations 1:8</div>

<p>
Jerusalem hath grievously sinned; therefore she is removed: all that honoured her despise her, because they have seen her nakedness: yea, she sigheth, and turneth backward.
</p>

<div class="sidenote">Lamentations 1:9</div>

<p>
Her filthiness is in her skirts; she remembereth not her last end; therefore she came down wonderfully: she had no comforter. O LORD, behold my affliction: for the enemy hath magnified himself.
</p>

<div class="sidenote">Lamentations 1:10</div>

<p>
The adversary hath spread out his hand upon all her pleasant things: for she hath seen that the heathen entered into her sanctuary, whom thou didst command that they should not enter into thy congregation.
</p>

<div class="sidenote">Lamentations 1:11</div>

<p>
All her people sigh, they seek bread; they have given their pleasant things for meat to relieve the soul: see, O LORD, and consider; for I am become vile.
</p>

<div class="sidenote">Lamentations 1:12</div>

<p>
Is it nothing to you, all ye that pass by? behold, and see if there be any sorrow like unto my sorrow, which is done unto me, wherewith the LORD hath afflicted me in the day of his fierce anger.
</p>

<div class="sidenote">Lamentations 1:13</div>

<p>
From above hath he sent fire into my bones, and it prevaileth against them: he hath spread a net for my feet, he hath turned me back: he hath made me desolate and faint all the day.
</p>

<div class="sidenote">Lamentations 1:14</div>

<p>
The yoke of my transgressions is bound by his hand: they are wreathed, and come up upon my neck: he hath made my strength to fall, the LORD hath delivered me into their hands, from whom I am not able to rise up.
</p>

<div class="sidenote">Lamentations 1:15</div>

<p>
The LORD hath trodden under foot all my mighty men in the midst of me: he hath called an assembly against me to crush my young men: the LORD hath trodden the virgin, the daughter of Judah, as in a winepress.
</p>

<div class="sidenote">Lamentations 1:16</div>

<p>
For these things I weep; mine eye, mine eye runneth down with water, because the comforter that should relieve my soul is far from me: my children are desolate, because the enemy prevailed.
</p>

<div class="sidenote">Lamentations 1:17</div>

<p>
Zion spreadeth forth her hands, and there is none to comfort her: the LORD hath commanded concerning Jacob, that his adversaries should be round about him: Jerusalem is as a menstruous woman among them.
</p>

<div class="sidenote">Lamentations 1:18</div>

<p>
The LORD is righteous; for I have rebelled against his commandment: hear, I pray you, all people, and behold my sorrow: my virgins and my young men are gone into captivity.
</p>

<div class="sidenote">Lamentations 1:19</div>

<p>
I called for my lovers, but they deceived me: my priests and mine elders gave up the ghost in the city, while they sought their meat to relieve their souls.
</p>

<div class="sidenote">Lamentations 1:20</div>

<p>
Behold, O LORD; for I am in distress: my bowels are troubled; mine heart is turned within me; for I have grievously rebelled: abroad the sword bereaveth, at home there is as death.
</p>

<div class="sidenote">Lamentations 1:21</div>

<p>
They have heard that I sigh: there is none to comfort me: all mine enemies have heard of my trouble; they are glad that thou hast done it: thou wilt bring the day that thou hast called, and they shall be like unto me.
</p>

<div class="sidenote">Lamentations 1:22</div>

<p>
Let all their wickedness come before thee; and do unto them, as thou hast done unto me for all my transgressions: for my sighs are many, and my heart is faint.
</p>

<div class="sidenote left">Lamentations 2:1 <br>to Lamentations 2:22</div>

<h3>The Lord is Angry</h3>

<p>
How hath the LORD covered the daughter of Zion with a cloud in his anger, and cast down from heaven unto the earth the beauty of Israel, and remembered not his footstool in the day of his anger!
</p>

<div class="sidenote">Lamentations 2:2</div>

<p>
The LORD hath swallowed up all the habitations of Jacob, and hath not pitied: he hath thrown down in his wrath the strong holds of the daughter of Judah; he hath brought them down to the ground: he hath polluted the kingdom and the princes thereof.
</p>

<div class="sidenote">Lamentations 2:3</div>

<p>
He hath cut off in his fierce anger all the horn of Israel: he hath drawn back his right hand from before the enemy, and he burned against Jacob like a flaming fire, which devoureth round about.
</p>

<div class="sidenote">Lamentations 2:4</div>

<p>
He hath bent his bow like an enemy: he stood with his right hand as an adversary, and slew all that were pleasant to the eye in the tabernacle of the daughter of Zion: he poured out his fury like fire.
</p>

<div class="sidenote">Lamentations 2:5</div>

<p>
The LORD was as an enemy: he hath swallowed up Israel, he hath swallowed up all her palaces: he hath destroyed his strong holds, and hath increased in the daughter of Judah mourning and lamentation.
</p>

<div class="sidenote">Lamentations 2:6</div>

<p>
And he hath violently taken away his tabernacle, as if it were of a garden: he hath destroyed his places of the assembly: the LORD hath caused the solemn feasts and sabbaths to be forgotten in Zion, and hath despised in the indignation of his anger the king and the priest.
</p>

<div class="sidenote">Lamentations 2:7</div>

<p>
The LORD hath cast off his altar, he hath abhorred his sanctuary, he hath given up into the hand of the enemy the walls of her palaces; they have made a noise in the house of the LORD, as in the day of a solemn feast.
</p>

<div class="sidenote">Lamentations 2:8</div>

<p>
The LORD hath purposed to destroy the wall of the daughter of Zion: he hath stretched out a line, he hath not withdrawn his hand from destroying: therefore he made the rampart and the wall to lament; they languished together.
</p>

<div class="sidenote">Lamentations 2:9</div>

<p>
Her gates are sunk into the ground; he hath destroyed and broken her bars: her king and her princes are among the Gentiles: the law is no more; her prophets also find no vision from the LORD.
</p>

<div class="sidenote">Lamentations 2:10</div>

<p>
The elders of the daughter of Zion sit upon the ground, and keep silence: they have cast up dust upon their heads; they have girded themselves with sackcloth: the virgins of Jerusalem hang down their heads to the ground.
</p>

<div class="sidenote">Lamentations 2:11</div>

<p>
Mine eyes do fail with tears, my bowels are troubled, my liver is poured upon the earth, for the destruction of the daughter of my people; because the children and the sucklings swoon in the streets of the city.
</p>

<div class="sidenote">Lamentations 2:12</div>

<p>
They say to their mothers, Where is corn and wine? when they swooned as the wounded in the streets of the city, when their soul was poured out into their mothers' bosom.
</p>

<div class="sidenote">Lamentations 2:13</div>

<p>
What thing shall I take to witness for thee? what thing shall I liken to thee, O daughter of Jerusalem? what shall I equal to thee, that I may comfort thee, O virgin daughter of Zion? for thy breach is great like the sea: who can heal thee?
</p>

<div class="sidenote">Lamentations 2:14</div>

<p>
Thy prophets have seen vain and foolish things for thee: and they have not discovered thine iniquity, to turn away thy captivity; but have seen for thee false burdens and causes of banishment.
</p>

<div class="sidenote">Lamentations 2:15</div>

<p>
All that pass by clap their hands at thee; they hiss and wag their head at the daughter of Jerusalem, saying, Is this the city that men call The perfection of beauty, The joy of the whole earth?
</p>

<div class="sidenote">Lamentations 2:16</div>

<p>
All thine enemies have opened their mouth against thee: they hiss and gnash the teeth: they say, We have swallowed her up: certainly this is the day that we looked for; we have found, we have seen it.
</p>

<div class="sidenote">Lamentations 2:17</div>

<p>
The LORD hath done that which he had devised; he hath fulfilled his word that he had commanded in the days of old: he hath thrown down, and hath not pitied: and he hath caused thine enemy to rejoice over thee, he hath set up the horn of thine adversaries.
</p>

<div class="sidenote">Lamentations 2:18</div>

<p>
Their heart cried unto the LORD, O wall of the daughter of Zion, let tears run down like a river day and night: give thyself no rest; let not the apple of thine eye cease.
</p>

<div class="sidenote">Lamentations 2:19</div>

<p>
Arise, cry out in the night: in the beginning of the watches pour out thine heart like water before the face of the LORD: lift up thy hands toward him for the life of thy young children, that faint for hunger in the top of every street.
</p>

<div class="sidenote">Lamentations 2:20</div>

<p>
Behold, O LORD, and consider to whom thou hast done this. Shall the women eat their fruit, and children of a span long? shall the priest and the prophet be slain in the sanctuary of the Lord?
</p>

<div class="sidenote">Lamentations 2:21</div>

<p>
The young and the old lie on the ground in the streets: my virgins and my young men are fallen by the sword; thou hast slain them in the day of thine anger; thou hast killed, and not pitied.
</p>

<div class="sidenote">Lamentations 2:22</div>

<p>
Thou hast called as in a solemn day my terrors round about, so that in the day of the LORD's anger none escaped nor remained: those that I have swaddled and brought up hath mine enemy consumed.
</p>

<div class="sidenote left">Lamentations 3:1 <br>to Lamentations 3:66</div>

<h3>Israel’s Affliction</h3>

<p>
I AM the man that hath seen affliction by the rod of his wrath.
</p>

<div class="sidenote">Lamentations 3:2</div>

<p>
He hath led me, and brought me into darkness, but not into light.
</p>

<div class="sidenote">Lamentations 3:3</div>

<p>
Surely against me is he turned; he turneth his hand against me all the day.
</p>

<div class="sidenote">Lamentations 3:4</div>

<p>
My flesh and my skin hath he made old; he hath broken my bones.
</p>

<div class="sidenote">Lamentations 3:5</div>

<p>
He hath builded against me, and compassed me with gall and travail.
</p>

<div class="sidenote">Lamentations 3:6</div>

<p>
He hath set me in dark places, as they that be dead of old.
</p>

<div class="sidenote">Lamentations 3:7</div>

<p>
He hath hedged me about, that I cannot get out: he hath made my chain heavy.
</p>

<div class="sidenote">Lamentations 3:8</div>

<p>
Also when I cry and shout, he shutteth out my prayer.
</p>

<div class="sidenote">Lamentations 3:9</div>

<p>
He hath inclosed my ways with hewn stone, he hath made my paths crooked.
</p>

<div class="sidenote">Lamentations 3:10</div>

<p>
He was unto me as a bear lying in wait, and as a lion in secret places.
</p>

<div class="sidenote">Lamentations 3:11</div>

<p>
He hath turned aside my ways, and pulled me in pieces: he hath made me desolate.
</p>

<div class="sidenote">Lamentations 3:12</div>

<p>
He hath bent his bow, and set me as a mark for the arrow.
</p>

<div class="sidenote">Lamentations 3:13</div>

<p>
He hath caused the arrows of his quiver to enter into my reins.
</p>

<div class="sidenote">Lamentations 3:14</div>

<p>
I was a derision to all my people; and their song all the day.
</p>

<div class="sidenote">Lamentations 3:15</div>

<p>
He hath filled me with bitterness, he hath made me drunken with wormwood.
</p>

<div class="sidenote">Lamentations 3:16</div>

<p>
He hath also broken my teeth with gravel stones, he hath covered me with ashes.
</p>

<div class="sidenote">Lamentations 3:17</div>

<p>
And thou hast removed my soul far off from peace: I forgat prosperity.
</p>

<div class="sidenote">Lamentations 3:18</div>

<p>
And I said, My strength and my hope is perished from the LORD:
</p>

<div class="sidenote">Lamentations 3:19</div>

<p>
Remembering mine affliction and my misery, the wormwood and the gall.
</p>

<div class="sidenote">Lamentations 3:20</div>

<p>
My soul hath them still in remembrance, and is humbled in me.
</p>

<div class="sidenote">Lamentations 3:21</div>

<p>
This I recall to my mind, therefore have I hope.
</p>

<div class="sidenote">Lamentations 3:22</div>

<p>
It is of the LORD's mercies that we are not consumed, because his compassions fail not.
</p>

<div class="sidenote">Lamentations 3:23</div>

<p>
They are new every morning: great is thy faithfulness.
</p>

<div class="sidenote">Lamentations 3:24</div>

<p>
The LORD is my portion, saith my soul; therefore will I hope in him.
</p>

<div class="sidenote">Lamentations 3:25</div>

<p>
The LORD is good unto them that wait for him, to the soul that seeketh him.
</p>

<div class="sidenote">Lamentations 3:26</div>

<p>
It is good that a man should both hope and quietly wait for the salvation of the LORD.
</p>

<div class="sidenote">Lamentations 3:27</div>

<p>
It is good for a man that he bear the yoke of his youth.
</p>

<div class="sidenote">Lamentations 3:28</div>

<p>
He sitteth alone and keepeth silence, because he hath borne it upon him.
</p>

<div class="sidenote">Lamentations 3:29</div>

<p>
He putteth his mouth in the dust; if so be there may be hope.
</p>

<div class="sidenote">Lamentations 3:30</div>

<p>
He giveth his cheek to him that smiteth him: he is filled full with reproach.
</p>

<div class="sidenote">Lamentations 3:31</div>

<p>
For the LORD will not cast off for ever:
</p>

<div class="sidenote">Lamentations 3:32</div>

<p>
But though he cause grief, yet will he have compassion according to the multitude of his mercies.
</p>

<div class="sidenote">Lamentations 3:33</div>

<p>
For he doth not afflict willingly nor grieve the children of men.
</p>

<div class="sidenote">Lamentations 3:34</div>

<p>
To crush under his feet all the prisoners of the earth.
</p>

<div class="sidenote">Lamentations 3:35</div>

<p>
To turn aside the right of a man before the face of the most High,
</p>

<div class="sidenote">Lamentations 3:36</div>

<p>
To subvert a man in his cause, the LORD approveth not.
</p>

<div class="sidenote">Lamentations 3:37</div>

<p>
Who is he that saith, and it cometh to pass, when the Lord commandeth it not?
</p>

<div class="sidenote">Lamentations 3:38</div>

<p>
Out of the mouth of the most High proceedeth not evil and good?
</p>

<div class="sidenote">Lamentations 3:39</div>

<p>
Wherefore doth a living man complain, a man for the punishment of his sins?
</p>

<div class="sidenote">Lamentations 3:40</div>

<p>
Let us search and try our ways, and turn again to the LORD.
</p>

<div class="sidenote">Lamentations 3:41</div>

<p>
Let us lift up our heart with our hands unto God in the heavens.
</p>

<div class="sidenote">Lamentations 3:42</div>

<p>
We have transgressed and have rebelled: thou hast not pardoned.
</p>

<div class="sidenote">Lamentations 3:43</div>

<p>
Thou hast covered with anger, and persecuted us: thou hast slain, thou hast not pitied.
</p>

<div class="sidenote">Lamentations 3:44</div>

<p>
Thou hast covered thyself with a cloud, that our prayer should not pass through.
</p>

<div class="sidenote">Lamentations 3:45</div>

<p>
Thou hast made us as the offscouring and refuse in the midst of the people.
</p>

<div class="sidenote">Lamentations 3:46</div>

<p>
All our enemies have opened their mouths against us.
</p>

<div class="sidenote">Lamentations 3:47</div>

<p>
Fear and a snare is come upon us, desolation and destruction.
</p>

<div class="sidenote">Lamentations 3:48</div>

<p>
Mine eye runneth down with rivers of water for the destruction of the daughter of my people.
</p>

<div class="sidenote">Lamentations 3:49</div>

<p>
Mine eye trickleth down, and ceaseth not, without any intermission.
</p>

<div class="sidenote">Lamentations 3:50</div>

<p>
Till the LORD look down, and behold from heaven.
</p>

<div class="sidenote">Lamentations 3:51</div>

<p>
Mine eye affecteth mine heart because of all the daughters of my city.
</p>

<div class="sidenote">Lamentations 3:52</div>

<p>
Mine enemies chased me sore, like a bird, without cause.
</p>

<div class="sidenote">Lamentations 3:53</div>

<p>
They have cut off my life in the dungeon, and cast a stone upon me.
</p>

<div class="sidenote">Lamentations 3:54</div>

<p>
Waters flowed over mine head; then I said, I am cut off.
</p>

<div class="sidenote">Lamentations 3:55</div>

<p>
I called upon thy name, O LORD, out of the low dungeon.
</p>

<div class="sidenote">Lamentations 3:56</div>

<p>
Thou hast heard my voice: hide not thine ear at my breathing, at my cry.
</p>

<div class="sidenote">Lamentations 3:57</div>

<p>
Thou drewest near in the day that I called upon thee: thou saidst, Fear not.
</p>

<div class="sidenote">Lamentations 3:58</div>

<p>
O LORD, thou hast pleaded the causes of my soul; thou hast redeemed my life.
</p>

<div class="sidenote">Lamentations 3:59</div>

<p>
O LORD, thou hast seen my wrong: judge thou my cause.
</p>

<div class="sidenote">Lamentations 3:60</div>

<p>
Thou hast seen all their vengeance and all their imaginations against me.
</p>

<div class="sidenote">Lamentations 3:61</div>

<p>
Thou hast heard their reproach, O LORD, and all their imaginations against me;
</p>

<div class="sidenote">Lamentations 3:62</div>

<p>
The lips of those that rose up against me, and their device against me all the day.
</p>

<div class="sidenote">Lamentations 3:63</div>

<p>
Behold their sitting down, and their rising up; I am their musick.
</p>

<div class="sidenote">Lamentations 3:64</div>

<p>
Render unto them a recompence, O LORD, according to the work of their hands.
</p>

<div class="sidenote">Lamentations 3:65</div>

<p>
Give them sorrow of heart, thy curse unto them.
</p>

<div class="sidenote">Lamentations 3:66</div>

<p>
Persecute and destroy them in anger from under the heavens of the LORD.
</p>

<div class="sidenote left">Lamentations 4:1 <br>to Lamentations 4:22</div>

<h3>Zion Is Punished</h3>

<p>
How is the gold become dim! how is the most fine gold changed! the stones of the sanctuary are poured out in the top of every street.
</p>

<div class="sidenote">Lamentations 4:2</div>

<p>
The precious sons of Zion, comparable to fine gold, how are they esteemed as earthen pitchers, the work of the hands of the potter!
</p>

<div class="sidenote">Lamentations 4:3</div>

<p>
Even the sea monsters draw out the breast, they give suck to their young ones: the daughter of my people is become cruel, like the ostriches in the wilderness.
</p>

<div class="sidenote">Lamentations 4:4</div>

<p>
The tongue of the sucking child cleaveth to the roof of his mouth for thirst: the young children ask bread, and no man breaketh it unto them.
</p>

<div class="sidenote">Lamentations 4:5</div>

<p>
They that did feed delicately are desolate in the streets: they that were brought up in scarlet embrace dunghills.
</p>

<div class="sidenote">Lamentations 4:6</div>

<p>
For the punishment of the iniquity of the daughter of my people is greater than the punishment of the sin of Sodom, that was overthrown as in a moment, and no hands stayed on her.
</p>

<div class="sidenote">Lamentations 4:7</div>

<p>
Her Nazarites were purer than snow, they were whiter than milk, they were more ruddy in body than rubies, their polishing was of sapphire:
</p>

<div class="sidenote">Lamentations 4:8</div>

<p>
Their visage is blacker than a coal; they are not known in the streets: their skin cleaveth to their bones; it is withered, it is become like a stick.
</p>

<div class="sidenote">Lamentations 4:9</div>

<p>
They that be slain with the sword are better than they that be slain with hunger: for these pine away, stricken through for want of the fruits of the field.
</p>

<div class="sidenote">Lamentations 4:10</div>

<p>
The hands of the pitiful women have sodden their own children: they were their meat in the destruction of the daughter of my people.
</p>

<div class="sidenote">Lamentations 4:11</div>

<p>
The LORD hath accomplished his fury; he hath poured out his fierce anger, and hath kindled a fire in Zion, and it hath devoured the foundations thereof.
</p>

<div class="sidenote">Lamentations 4:12</div>

<p>
The kings of the earth, and all the inhabitants of the world, would not have believed that the adversary and the enemy should have entered into the gates of Jerusalem.
</p>

<div class="sidenote">Lamentations 4:13</div>

<p>
For the sins of her prophets, and the iniquities of her priests, that have shed the blood of the just in the midst of her,
</p>

<div class="sidenote">Lamentations 4:14</div>

<p>
They have wandered as blind men in the streets, they have polluted themselves with blood, so that men could not touch their garments.
</p>

<div class="sidenote">Lamentations 4:15</div>

<p>
They cried unto them, Depart ye; it is unclean; depart, depart, touch not: when they fled away and wandered, they said among the heathen, They shall no more sojourn there.
</p>

<div class="sidenote">Lamentations 4:16</div>

<p>
The anger of the LORD hath divided them; he will no more regard them: they respected not the persons of the priests, they favoured not the elders.
</p>

<div class="sidenote">Lamentations 4:17</div>

<p>
As for us, our eyes as yet failed for our vain help: in our watching we have watched for a nation that could not save us.
</p>

<div class="sidenote">Lamentations 4:18</div>

<p>
They hunt our steps, that we cannot go in our streets: our end is near, our days are fulfilled; for our end is come.
</p>

<div class="sidenote">Lamentations 4:19</div>

<p>
Our persecutors are swifter than the eagles of the heaven: they pursued us upon the mountains, they laid wait for us in the wilderness.
</p>

<div class="sidenote">Lamentations 4:20</div>

<p>
The breath of our nostrils, the anointed of the LORD, was taken in their pits, of whom we said, Under his shadow we shall live among the heathen.
</p>

<div class="sidenote">Lamentations 4:21</div>

<p>
Rejoice and be glad, O daughter of Edom, that dwellest in the land of Uz; the cup also shall pass through unto thee: thou shalt be drunken, and shalt make thyself naked.
</p>

<div class="sidenote">Lamentations 4:22</div>

<p>
The punishment of thine iniquity is accomplished, O daughter of Zion; he will no more carry thee away into captivity: he will visit thine iniquity, O daughter of Edom; he will discover thy sins.
</p>

<div class="sidenote left">Lamentations 5:1 <br>to Lamentations 5:22</div>

<h3>A Request for Mercy</h3>

<p>
Remember, O LORD, what is come upon us: consider, and behold our reproach.
</p>

<div class="sidenote">Lamentations 5:2</div>

<p>
Our inheritance is turned to strangers, our houses to aliens.
</p>

<div class="sidenote">Lamentations 5:3</div>

<p>
We are orphans and fatherless, our mothers are as widows.
</p>

<div class="sidenote">Lamentations 5:4</div>

<p>
We have drunken our water for money; our wood is sold unto us.
</p>

<div class="sidenote">Lamentations 5:5</div>

<p>
Our necks are under persecution: we labour, and have no rest.
</p>

<div class="sidenote">Lamentations 5:6</div>

<p>
We have given the hand to the Egyptians, and to the Assyrians, to be satisfied with bread.
</p>

<div class="sidenote">Lamentations 5:7</div>

<p>
Our fathers have sinned, and are not; and we have borne their iniquities.
</p>

<div class="sidenote">Lamentations 5:8</div>

<p>
Servants have ruled over us: there is none that doth deliver us out of their hand.
</p>

<div class="sidenote">Lamentations 5:9</div>

<p>
We gat our bread with the peril of our lives because of the sword of the wilderness.
</p>

<div class="sidenote">Lamentations 5:10</div>

<p>
Our skin was black like an oven because of the terrible famine.
</p>

<div class="sidenote">Lamentations 5:11</div>

<p>
They ravished the women in Zion, and the maids in the cities of Judah.
</p>

<div class="sidenote">Lamentations 5:12</div>

<p>
Princes are hanged up by their hand: the faces of elders were not honoured.
</p>

<div class="sidenote">Lamentations 5:13</div>

<p>
They took the young men to grind, and the children fell under the wood.
</p>

<div class="sidenote">Lamentations 5:14</div>

<p>
The elders have ceased from the gate, the young men from their musick.
</p>

<div class="sidenote">Lamentations 5:15</div>

<p>
The joy of our heart is ceased; our dance is turned into mourning.
</p>

<div class="sidenote">Lamentations 5:16</div>

<p>
The crown is fallen from our head: woe unto us, that we have sinned!
</p>

<div class="sidenote">Lamentations 5:17</div>

<p>
For this our heart is faint; for these things our eyes are dim.
</p>

<div class="sidenote">Lamentations 5:18</div>

<p>
Because of the mountain of Zion, which is desolate, the foxes walk upon it.
</p>

<div class="sidenote">Lamentations 5:19</div>

<p>
Thou, O LORD, remainest for ever; thy throne from generation to generation.
</p>

<div class="sidenote">Lamentations 5:20</div>

<p>
Wherefore dost thou forget us for ever, and forsake us so long time?
</p>

<div class="sidenote">Lamentations 5:21</div>

<p>
Turn thou us unto thee, O LORD, and we shall be turned; renew our days as of old.
</p>

<div class="sidenote">Lamentations 5:22</div>

<p>
But thou hast utterly rejected us; thou art very wroth against us.
</p>
