<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Nahum</h1>

<div class="sidenote left">Nahum 1:1 </div>

<h3>Superscription</h3>

<p>
The burden of Nineveh. The book of the vision of Nahum the Elkoshite.
</p>

<div class="sidenote left">Nahum 1:2 <br>to Nahum 1:8</div>

<h3>God Takes Vengeance against His Enemies</h3>

<p>
God is jealous, and the LORD revengeth; the LORD revengeth, and is furious; the LORD will take vengeance on his adversaries, and he reserveth wrath for his enemies.
</p>

<div class="sidenote">Nahum 1:3</div>

<p>
The LORD is slow to anger, and great in power, and will not at all acquit the wicked: the LORD hath his way in the whirlwind and in the storm, and the clouds are the dust of his feet.
</p>

<div class="sidenote">Nahum 1:4</div>

<p>
He rebuketh the sea, and maketh it dry, and drieth up all the rivers: Bashan languisheth, and Carmel, and the flower of Lebanon languisheth.
</p>

<div class="sidenote">Nahum 1:5</div>

<p>
The mountains quake at him, and the hills melt, and the earth is burned at his presence, yea, the world, and all that dwell therein.
</p>

<div class="sidenote">Nahum 1:6</div>

<p>
Who can stand before his indignation? and who can abide in the fierceness of his anger? his fury is poured out like fire, and the rocks are thrown down by him.
</p>

<div class="sidenote">Nahum 1:7</div>

<p>
The LORD is good, a strong hold in the day of trouble; and he knoweth them that trust in him.
</p>

<div class="sidenote">Nahum 1:8</div>

<p>
But with an overrunning flood he will make an utter end of the place thereof, and darkness shall pursue his enemies.
</p>

<div class="sidenote left">Nahum 1:9 <br>to Nahum 1:11</div>

<h3>God Will Destroy Nineveh</h3>

<p>
What do ye imagine against the LORD? he will make an utter end: affliction shall not rise up the second time.
</p>

<div class="sidenote">Nahum 1:10</div>

<p>
For while they be folden together as thorns, and while they are drunken as drunkards, they shall be devoured as stubble fully dry.
</p>

<div class="sidenote">Nahum 1:11</div>

<p>
There is one come out of thee, that imagineth evil against the LORD, a wicked counsellor.
</p>

<div class="sidenote left">Nahum 1:12 <br>to Nahum 1:15</div>

<h3>God Will Deliver Judah and Destroy Nineveh</h3>

<p>
Thus saith the LORD; Though they be quiet, and likewise many, yet thus shall they be cut down, when he shall pass through. Though I have afflicted thee, I will afflict thee no more.
</p>

<div class="sidenote">Nahum 1:13</div>

<p>
For now will I break his yoke from off thee, and will burst thy bonds in sunder.
</p>

<div class="sidenote">Nahum 1:14</div>

<p>
And the LORD hath given a commandment concerning thee, that no more of thy name be sown: out of the house of thy gods will I cut off the graven image and the molten image: I will make thy grave; for thou art vile.
</p>

<div class="sidenote">Nahum 1:15</div>

<p>
Behold upon the mountains the feet of him that bringeth good tidings, that publisheth peace! O Judah, keep thy solemn feasts, perform thy vows: for the wicked shall no more pass through thee; he is utterly cut off.
</p>

<div class="sidenote left">Nahum 2:1 <br>to Nahum 2:2</div>

<h3>The Divine Warrior Will Attack Nineveh</h3>

<p>
He that dasheth in pieces is come up before thy face: keep the munition, watch the way, make thy loins strong, fortify thy power mightily.
</p>

<div class="sidenote">Nahum 2:2</div>

<p>
For the LORD hath turned away the excellency of Jacob, as the excellency of Israel: for the emptiers have emptied them out, and marred their vine branches.
</p>

<div class="sidenote left">Nahum 2:3 <br>to Nahum 2:10</div>

<h3>The Enemy Army Conquers the City of Nineveh</h3>

<p>
The shield of his mighty men is made red, the valiant men are in scarlet: the chariots shall be with flaming torches in the day of his preparation, and the fir trees shall be terribly shaken.
</p>

<div class="sidenote">Nahum 2:4</div>

<p>
The chariots shall rage in the streets, they shall justle one against another in the broad ways: they shall seem like torches, they shall run like the lightnings.
</p>

<div class="sidenote">Nahum 2:5</div>

<p>
He shall recount his worthies: they shall stumble in their walk; they shall make haste to the wall thereof, and the defence shall be prepared.
</p>

<div class="sidenote">Nahum 2:6</div>

<p>
The gates of the rivers shall be opened, and the palace shall be dissolved.
</p>

<div class="sidenote">Nahum 2:7</div>

<p>
And Huzzab shall be led away captive, she shall be brought up, and her maids shall lead her as with the voice of doves, tabering upon their breasts.
</p>

<div class="sidenote">Nahum 2:8</div>

<p>
But Nineveh is of old like a pool of water: yet they shall flee away. Stand, stand, shall they cry; but none shall look back.
</p>

<div class="sidenote">Nahum 2:9</div>

<p>
Take ye the spoil of silver, take the spoil of gold: for there is none end of the store and glory out of all the pleasant furniture.
</p>

<div class="sidenote">Nahum 2:10</div>

<p>
She is empty, and void, and waste: and the heart melteth, and the knees smite together, and much pain is in all loins, and the faces of them all gather blackness.
</p>

<div class="sidenote left">Nahum 2:11 <br>to Nahum 2:13</div>

<h3>The Divine Warrior Will Hunt down the Mighty Lions</h3>

<p>
Where is the dwelling of the lions, and the feedingplace of the young lions, where the lion, even the old lion, walked, and the lion's whelp, and none made them afraid?
</p>

<div class="sidenote">Nahum 2:12</div>

<p>
The lion did tear in pieces enough for his whelps, and strangled for his lionesses, and filled his holes with prey, and his dens with ravin.
</p>

<div class="sidenote">Nahum 2:13</div>

<p>
Behold, I am against thee, saith the LORD of hosts, and I will burn her chariots in the smoke, and the sword shall devour thy young lions: and I will cut off thy prey from the earth, and the voice of thy messengers shall no more be heard.
</p>

<div class="sidenote left">Nahum 3:1 <br>to Nahum 3:3</div>

<h3>The Doom of the Wicked City is Certain</h3>

<p>
Woe to the bloody city! it is all full of lies and robbery; the prey departeth not;
</p>

<div class="sidenote">Nahum 3:2</div>

<p>
The noise of a whip, and the noise of the rattling of the wheels, and of the pransing horses, and of the jumping chariots.
</p>

<div class="sidenote">Nahum 3:3</div>

<p>
The horseman lifteth up both the bright sword and the glittering spear: and there is a multitude of slain, and a great number of carcases; and there is none end of their corpses; they stumble upon their corpses:
</p>

<div class="sidenote left">Nahum 3:4 <br>to Nahum 3:7</div>

<h3>Harlot Nineveh Will Get What She Deserves</h3>

<p>
Because of the multitude of the whoredoms of the wellfavoured harlot, the mistress of witchcrafts, that selleth nations through her whoredoms, and families through her witchcrafts.
</p>

<div class="sidenote">Nahum 3:5</div>

<p>
Behold, I am against thee, saith the LORD of hosts; and I will discover thy skirts upon thy face, and I will shew the nations thy nakedness, and the kingdoms thy shame.
</p>

<div class="sidenote">Nahum 3:6</div>

<p>
And I will cast abominable filth upon thee, and make thee vile, and will set thee as a gazingstock.
</p>

<div class="sidenote">Nahum 3:7</div>

<p>
And it shall come to pass, that all they that look upon thee shall flee from thee, and say, Nineveh is laid waste: who will bemoan her? whence shall I seek comforters for thee?
</p>

<div class="sidenote left">Nahum 3:8 <br>to Nahum 3:11</div>

<h3>Nineveh Will Suffer the Same Fate She Inflicted on Thebes</h3>

<p>
Art thou better than populous No, that was situate among the rivers, that had the waters round about it, whose rampart was the sea, and her wall was from the sea?
</p>

<div class="sidenote">Nahum 3:9</div>

<p>
Ethiopia and Egypt were her strength, and it was infinite; Put and Lubim were thy helpers.
</p>

<div class="sidenote">Nahum 3:10</div>

<p>
Yet was she carried away, she went into captivity: her young children also were dashed in pieces at the top of all the streets: and they cast lots for her honourable men, and all her great men were bound in chains.
</p>

<div class="sidenote">Nahum 3:11</div>

<p>
Thou also shalt be drunken: thou shalt be hid, thou also shalt seek strength because of the enemy.
</p>

<div class="sidenote left">Nahum 3:12 <br>to Nahum 3:15</div>

<h3>Nineveh’s Defenses Will Fail</h3>

<p>
All thy strong holds shall be like fig trees with the firstripe figs: if they be shaken, they shall even fall into the mouth of the eater.
</p>

<div class="sidenote">Nahum 3:13</div>

<p>
Behold, thy people in the midst of thee are women: the gates of thy land shall be set wide open unto thine enemies: the fire shall devour thy bars.
</p>

<div class="sidenote">Nahum 3:14</div>

<p>
Draw thee waters for the siege, fortify thy strong holds: go into clay, and tread the morter, make strong the brickkiln.
</p>

<div class="sidenote">Nahum 3:15</div>

<p>
There shall the fire devour thee; the sword shall cut thee off, it shall eat thee up like the cankerworm: make thyself many as the cankerworm, make thyself many as the locusts.
</p>

<div class="sidenote left">Nahum 3:16 <br>to Nahum 3:17</div>

<h3>Nineveh’s Defenders Will Flee</h3>

<p>
Thou hast multiplied thy merchants above the stars of heaven: the cankerworm spoileth, and fleeth away.
</p>

<div class="sidenote">Nahum 3:17</div>

<p>
Thy crowned are as the locusts, and thy captains as the great grasshoppers, which camp in the hedges in the cold day, but when the sun ariseth they flee away, and their place is not known where they are.
</p>

<div class="sidenote left">Nahum 3:18 <br>to Nahum 3:19</div>

<h3>Nineveh Will Come to an End</h3>

<p>
Thy shepherds slumber, O king of Assyria: thy nobles shall dwell in the dust: thy people is scattered upon the mountains, and no man gathereth them.
</p>

<div class="sidenote">Nahum 3:19</div>

<p>
There is no healing of thy bruise; thy wound is grievous: all that hear the bruit of thee shall clap the hands over thee: for upon whom hath not thy wickedness passed continually?
</p>
