<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Nehemiah</h1>

<div class="sidenote left">Nehemiah 1:1 <br>to Nehemiah 1:11</div>

<h3>Nehemiah’s Prayer for the People</h3>

<p>
The words of Nehemiah the son of Hachaliah. And it came to pass in the month Chisleu, in the twentieth year, as I was in Shushan the palace,
</p>

<div class="sidenote">Nehemiah 1:2</div>

<p>
That Hanani, one of my brethren, came, he and certain men of Judah; and I asked them concerning the Jews that had escaped, which were left of the captivity, and concerning Jerusalem.
And they said unto me, The remnant that are left of the captivity there in the province are in great affliction and reproach: the wall of Jerusalem also is broken down, and the gates thereof are burned with fire.
</p>

<div class="sidenote">Nehemiah 1:4</div>

<p>
And it came to pass, when I heard these words, that I sat down and wept, and mourned certain days, and fasted, and prayed before the God of heaven,
And said, I beseech thee, O LORD God of heaven, the great and terrible God, that keepeth covenant and mercy for them that love him and observe his commandments:
Let thine ear now be attentive, and thine eyes open, that thou mayest hear the prayer of thy servant, which I pray before thee now, day and night, for the children of Israel thy servants, and confess the sins of the children of Israel, which we have sinned against thee: both I and my father's house have sinned.
We have dealt very corruptly against thee, and have not kept the commandments, nor the statutes, nor the judgments, which thou commandedst thy servant Moses.
Remember, I beseech thee, the word that thou commandedst thy servant Moses, saying, If ye transgress, I will scatter you abroad among the nations:
But if ye turn unto me, and keep my commandments, and do them; though there were of you cast out unto the uttermost part of the heaven, yet will I gather them from thence, and will bring them unto the place that I have chosen to set my name there.
Now these are thy servants and thy people, whom thou hast redeemed by thy great power, and by thy strong hand.
O LORD, I beseech thee, let now thine ear be attentive to the prayer of thy servant, and to the prayer of thy servants, who desire to fear thy name: and prosper, I pray thee, thy servant this day, and grant him mercy in the sight of this man. For I was the king's cupbearer.
</p>

<div class="sidenote left">Nehemiah 2:1 <br>to Nehemiah 2:10</div>

<h3>Nehemiah Sent</h3>

<p>
And it came to pass in the month Nisan, in the twentieth year of Artaxerxes the king, that wine was before him: and I took up the wine, and gave it unto the king. Now I had not been beforetime sad in his presence.
Wherefore the king said unto me, Why is thy countenance sad, seeing thou art not sick? this is nothing else but sorrow of heart. Then I was very sore afraid,
And said unto the king, Let the king live for ever: why should not my countenance be sad, when the city, the place of my fathers' sepulchres, lieth waste, and the gates thereof are consumed with fire?
Then the king said unto me, For what dost thou make request? So I prayed to the God of heaven.
And I said unto the king, If it please the king, and if thy servant have found favour in thy sight, that thou wouldest send me unto Judah, unto the city of my fathers' sepulchres, that I may build it.
</p>

<div class="sidenote">Nehemiah 2:6</div>

<p>
And the king said unto me, (the queen also sitting by him,) For how long shall thy journey be? and when wilt thou return? So it pleased the king to send me; and I set him a time.
Moreover I said unto the king, If it please the king, let letters be given me to the governors beyond the river, that they may convey me over till I come into Judah;
And a letter unto Asaph the keeper of the king's forest, that he may give me timber to make beams for the gates of the palace which appertained to the house, and for the wall of the city, and for the house that I shall enter into. And the king granted me, according to the good hand of my God upon me.
</p>

<div class="sidenote">Nehemiah 2:9</div>

<p>
Then I came to the governors beyond the river, and gave them the king's letters. Now the king had sent captains of the army and horsemen with me.
When Sanballat the Horonite, and Tobiah the servant, the Ammonite, heard of it, it grieved them exceedingly that there was come a man to seek the welfare of the children of Israel.
</p>

<div class="sidenote left">Nehemiah 2:11 <br>to Nehemiah 2:20</div>

<h3>Nehemiah Inspects the Walls and Decides to Restore Them</h3>

<p>
So I came to Jerusalem, and was there three days.
And I arose in the night, I and some few men with me; neither told I any man what my God had put in my heart to do at Jerusalem: neither was there any beast with me, save the beast that I rode upon.
And I went out by night by the gate of the valley, even before the dragon well, and to the dung port, and viewed the walls of Jerusalem, which were broken down, and the gates thereof were consumed with fire.
Then I went on to the gate of the fountain, and to the king's pool: but there was no place for the beast that was under me to pass.
Then went I up in the night by the brook, and viewed the wall, and turned back, and entered by the gate of the valley, and so returned.
And the rulers knew not whither I went, or what I did; neither had I as yet told it to the Jews, nor to the priests, nor to the nobles, nor to the rulers, nor to the rest that did the work.
</p>

<div class="sidenote">Nehemiah 2:17</div>

<p>
Then said I unto them, Ye see the distress that we are in, how Jerusalem lieth waste, and the gates thereof are burned with fire: come, and let us build up the wall of Jerusalem, that we be no more a reproach.
Then I told them of the hand of my God which was good upon me; as also the king's words that he had spoken unto me. And they said, Let us rise up and build. So they strengthened their hands for this good work.
But when Sanballat the Horonite, and Tobiah the servant, the Ammonite, and Geshem the Arabian, heard it, they laughed us to scorn, and despised us, and said, What is this thing that ye do? will ye rebel against the king?
Then answered I them, and said unto them, The God of heaven, he will prosper us; therefore we his servants will arise and build: but ye have no portion, nor right, nor memorial, in Jerusalem.
</p>

<div class="sidenote left">Nehemiah 3:1 <br>to Nehemiah 3:32</div>

<h3>Organization of the Work</h3>

<p>
Then Eliashib the high priest rose up with his brethren the priests, and they builded the sheep gate; they sanctified it, and set up the doors of it; even unto the tower of Meah they sanctified it, unto the tower of Hananeel.
And next unto him builded the men of Jericho. And next to them builded Zaccur the son of Imri.
</p>

<div class="sidenote">Nehemiah 3:3</div>

<p>
But the fish gate did the sons of Hassenaah build, who also laid the beams thereof, and set up the doors thereof, the locks thereof, and the bars thereof.
And next unto them repaired Meremoth the son of Urijah, the son of Koz. And next unto them repaired Meshullam the son of Berechiah, the son of Meshezabeel. And next unto them repaired Zadok the son of Baana.
And next unto them the Tekoites repaired; but their nobles put not their necks to the work of their LORD.
</p>

<div class="sidenote">Nehemiah 3:6</div>

<p>
Moreover the old gate repaired Jehoiada the son of Paseah, and Meshullam the son of Besodeiah; they laid the beams thereof, and set up the doors thereof, and the locks thereof, and the bars thereof.
And next unto them repaired Melatiah the Gibeonite, and Jadon the Meronothite, the men of Gibeon, and of Mizpah, unto the throne of the governor on this side the river.
Next unto him repaired Uzziel the son of Harhaiah, of the goldsmiths. Next unto him also repaired Hananiah the son of one of the apothecaries, and they fortified Jerusalem unto the broad wall.
And next unto them repaired Rephaiah the son of Hur, the ruler of the half part of Jerusalem.
And next unto them repaired Jedaiah the son of Harumaph, even over against his house. And next unto him repaired Hattush the son of Hashabniah.
</p>

<div class="sidenote">Nehemiah 3:11</div>

<p>
Malchijah the son of Harim, and Hashub the son of Pahathmoab, repaired the other piece, and the tower of the furnaces.
And next unto him repaired Shallum the son of Halohesh, the ruler of the half part of Jerusalem, he and his daughters.
</p>

<div class="sidenote">Nehemiah 3:13</div>

<p>
The valley gate repaired Hanun, and the inhabitants of Zanoah; they built it, and set up the doors thereof, the locks thereof, and the bars thereof, and a thousand cubits on the wall unto the dung gate.
</p>

<div class="sidenote">Nehemiah 3:14</div>

<p>
But the dung gate repaired Malchiah the son of Rechab, the ruler of part of Bethhaccerem; he built it, and set up the doors thereof, the locks thereof, and the bars thereof.
</p>

<div class="sidenote">Nehemiah 3:15</div>

<p>
But the gate of the fountain repaired Shallun the son of Colhozeh, the ruler of part of Mizpah; he built it, and covered it, and set up the doors thereof, the locks thereof, and the bars thereof, and the wall of the pool of Siloah by the king's garden, and unto the stairs that go down from the city of David.
After him repaired Nehemiah the son of Azbuk, the ruler of the half part of Bethzur, unto the place over against the sepulchres of David, and to the pool that was made, and unto the house of the mighty.
</p>

<div class="sidenote">Nehemiah 3:17</div>

<p>
After him repaired the Levites, Rehum the son of Bani. Next unto him repaired Hashabiah, the ruler of the half part of Keilah, in his part.
After him repaired their brethren, Bavai the son of Henadad, the ruler of the half part of Keilah.
And next to him repaired Ezer the son of Jeshua, the ruler of Mizpah, another piece over against the going up to the armoury at the turning of the wall.
After him Baruch the son of Zabbai earnestly repaired the other piece, from the turning of the wall unto the door of the house of Eliashib the high priest.
After him repaired Meremoth the son of Urijah the son of Koz another piece, from the door of the house of Eliashib even to the end of the house of Eliashib.
</p>

<div class="sidenote">Nehemiah 3:22</div>

<p>
And after him repaired the priests, the men of the plain.
After him repaired Benjamin and Hashub over against their house. After him repaired Azariah the son of Maaseiah the son of Ananiah by his house.
After him repaired Binnui the son of Henadad another piece, from the house of Azariah unto the turning of the wall, even unto the corner.
Palal the son of Uzai, over against the turning of the wall, and the tower which lieth out from the king's high house, that was by the court of the prison. After him Pedaiah the son of Parosh.
Moreover the Nethinims dwelt in Ophel, unto the place over against the water gate toward the east, and the tower that lieth out.
After them the Tekoites repaired another piece, over against the great tower that lieth out, even unto the wall of Ophel.
</p>

<div class="sidenote">Nehemiah 3:28</div>

<p>
From above the horse gate repaired the priests, every one over against his house.
After them repaired Zadok the son of Immer over against his house. After him repaired also Shemaiah the son of Shechaniah, the keeper of the east gate.
After him repaired Hananiah the son of Shelemiah, and Hanun the sixth son of Zalaph, another piece. After him repaired Meshullam the son of Berechiah over against his chamber.
After him repaired Malchiah the goldsmith's son unto the place of the Nethinims, and of the merchants, over against the gate Miphkad, and to the going up of the corner.
And between the going up of the corner unto the sheep gate repaired the goldsmiths and the merchants.
</p>

<div class="sidenote left">Nehemiah 4:1 <br>to Nehemiah 4:6</div>

<h3>Opposition Begins</h3>

<p>
But it came to pass, that when Sanballat heard that we builded the wall, he was wroth, and took great indignation, and mocked the Jews.
And he spake before his brethren and the army of Samaria, and said, What do these feeble Jews? will they fortify themselves? will they sacrifice? will they make an end in a day? will they revive the stones out of the heaps of the rubbish which are burned?
</p>

<div class="sidenote">Nehemiah 4:3</div>

<p>
Now Tobiah the Ammonite was by him, and he said, Even that which they build, if a fox go up, he shall even break down their stone wall.
</p>

<div class="sidenote">Nehemiah 4:4</div>

<p>
Hear, O our God; for we are despised: and turn their reproach upon their own head, and give them for a prey in the land of captivity:
And cover not their iniquity, and let not their sin be blotted out from before thee: for they have provoked thee to anger before the builders.
</p>

<div class="sidenote">Nehemiah 4:6</div>

<p>
So built we the wall; and all the wall was joined together unto the half thereof: for the people had a mind to work.
</p>

<div class="sidenote left">Nehemiah 4:7 <br>to Nehemiah 4:23</div>

<h3>Opposition Stopped</h3>

<p>
But it came to pass, that when Sanballat, and Tobiah, and the Arabians, and the Ammonites, and the Ashdodites, heard that the walls of Jerusalem were made up, and that the breaches began to be stopped, then they were very wroth,
And conspired all of them together to come and to fight against Jerusalem, and to hinder it.
Nevertheless we made our prayer unto our God, and set a watch against them day and night, because of them.
</p>

<div class="sidenote">Nehemiah 4:10</div>

<p>
And Judah said, The strength of the bearers of burdens is decayed, and there is much rubbish; so that we are not able to build the wall.
And our adversaries said, They shall not know, neither see, till we come in the midst among them, and slay them, and cause the work to cease.
And it came to pass, that when the Jews which dwelt by them came, they said unto us ten times, From all places whence ye shall return unto us they will be upon you.
Therefore set I in the lower places behind the wall, and on the higher places, I even set the people after their families with their swords, their spears, and their bows.
And I looked, and rose up, and said unto the nobles, and to the rulers, and to the rest of the people, Be not ye afraid of them: remember the LORD, which is great and terrible, and fight for your brethren, your sons, and your daughters, your wives, and your houses.
</p>

<div class="sidenote">Nehemiah 4:15</div>

<p>
And it came to pass, when our enemies heard that it was known unto us, and God had brought their counsel to nought, that we returned all of us to the wall, every one unto his work.
And it came to pass from that time forth, that the half of my servants wrought in the work, and the other half of them held both the spears, the shields, and the bows, and the habergeons; and the rulers were behind all the house of Judah.
They which builded on the wall, and they that bare burdens, with those that laded, every one with one of his hands wrought in the work, and with the other hand held a weapon.
For the builders, every one had his sword girded by his side, and so builded. And he that sounded the trumpet was by me.
And I said unto the nobles, and to the rulers, and to the rest of the people, The work is great and large, and we are separated upon the wall, one far from another.
In what place therefore ye hear the sound of the trumpet, resort ye thither unto us: our God shall fight for us.
</p>

<div class="sidenote">Nehemiah 4:21</div>

<p>
So we laboured in the work: and half of them held the spears from the rising of the morning till the stars appeared.
Likewise at the same time said I unto the people, Let every one with his servant lodge within Jerusalem, that in the night they may be a guard to us, and labour on the day.
So neither I, nor my brethren, nor my servants, nor the men of the guard which followed me, none of us put off our clothes, saving that every one put them off for washing.
</p>

<div class="sidenote left">Nehemiah 5:1 <br>to Nehemiah 5:13</div>

<h3>Nehemiah Deals with Strife</h3>

<p>
And there was a great cry of the people and of their wives against their brethren the Jews.
For there were that said, We, our sons, and our daughters, are many: therefore we take up corn for them, that we may eat, and live.
Some also there were that said, We have mortgaged our lands, vineyards, and houses, that we might buy corn, because of the dearth.
There were also that said, We have borrowed money for the king's tribute, and that upon our lands and vineyards.
Yet now our flesh is as the flesh of our brethren, our children as their children: and, lo, we bring into bondage our sons and our daughters to be servants, and some of our daughters are brought unto bondage already: neither is it in our power to redeem them; for other men have our lands and vineyards.
</p>

<div class="sidenote">Nehemiah 5:6</div>

<p>
And I was very angry when I heard their cry and these words.
Then I consulted with myself, and I rebuked the nobles, and the rulers, and said unto them, Ye exact usury, every one of his brother. And I set a great assembly against them.
And I said unto them, We after our ability have redeemed our brethren the Jews, which were sold unto the heathen; and will ye even sell your brethren? or shall they be sold unto us? Then held they their peace, and found nothing to answer.
</p>

<div class="sidenote">Nehemiah 5:9</div>

<p>
Also I said, It is not good that ye do: ought ye not to walk in the fear of our God because of the reproach of the heathen our enemies?
I likewise, and my brethren, and my servants, might exact of them money and corn: I pray you, let us leave off this usury.
Restore, I pray you, to them, even this day, their lands, their vineyards, their oliveyards, and their houses, also the hundredth part of the money, and of the corn, the wine, and the oil, that ye exact of them.
Then said they, We will restore them, and will require nothing of them; so will we do as thou sayest. Then I called the priests, and took an oath of them, that they should do according to this promise.
Also I shook my lap, and said, So God shake out every man from his house, and from his labour, that performeth not this promise, even thus be he shaken out, and emptied. And all the congregation said, Amen, and praised the LORD. And the people did according to this promise.
</p>

<div class="sidenote left">Nehemiah 5:14 <br>to Nehemiah 5:19</div>

<h3>Nehemiah Denies His Allotment</h3>

<p>
Moreover from the time that I was appointed to be their governor in the land of Judah, from the twentieth year even unto the two and thirtieth year of Artaxerxes the king, that is, twelve years, I and my brethren have not eaten the bread of the governor.
But the former governors that had been before me were chargeable unto the people, and had taken of them bread and wine, beside forty shekels of silver; yea, even their servants bare rule over the people: but so did not I, because of the fear of God.
Yea, also I continued in the work of this wall, neither bought we any land: and all my servants were gathered thither unto the work.
Moreover there were at my table an hundred and fifty of the Jews and rulers, beside those that came unto us from among the heathen that are about us.
Now that which was prepared for me daily was one ox and six choice sheep; also fowls were prepared for me, and once in ten days store of all sorts of wine: yet for all this required not I the bread of the governor, because the bondage was heavy upon this people.
Think upon me, my God, for good, according to all that I have done for this people.
</p>

<div class="sidenote left">Nehemiah 6:1 <br>to Nehemiah 6:14</div>

<h3>Enemies Foiled</h3>

<p>
Now it came to pass when Sanballat, and Tobiah, and Geshem the Arabian, and the rest of our enemies, heard that I had builded the wall, and that there was no breach left therein; (though at that time I had not set up the doors upon the gates;)
That Sanballat and Geshem sent unto me, saying, Come, let us meet together in some one of the villages in the plain of Ono. But they thought to do me mischief.
And I sent messengers unto them, saying, I am doing a great work, so that I cannot come down: why should the work cease, whilst I leave it, and come down to you?
Yet they sent unto me four times after this sort; and I answered them after the same manner.
Then sent Sanballat his servant unto me in like manner the fifth time with an open letter in his hand;
Wherein was written, It is reported among the heathen, and Gashmu saith it, that thou and the Jews think to rebel: for which cause thou buildest the wall, that thou mayest be their king, according to these words.
And thou hast also appointed prophets to preach of thee at Jerusalem, saying, There is a king in Judah: and now shall it be reported to the king according to these words. Come now therefore, and let us take counsel together.
Then I sent unto him, saying, There are no such things done as thou sayest, but thou feignest them out of thine own heart.
For they all made us afraid, saying, Their hands shall be weakened from the work, that it be not done. Now therefore, O God, strengthen my hands.
</p>

<div class="sidenote">Nehemiah 6:10</div>

<p>
Afterward I came unto the house of Shemaiah the son of Delaiah the son of Mehetabeel, who was shut up; and he said, Let us meet together in the house of God, within the temple, and let us shut the doors of the temple: for they will come to slay thee; yea, in the night will they come to slay thee.
And I said, Should such a man as I flee? and who is there, that, being as I am, would go into the temple to save his life? I will not go in.
And, lo, I perceived that God had not sent him; but that he pronounced this prophecy against me: for Tobiah and Sanballat had hired him.
Therefore was he hired, that I should be afraid, and do so, and sin, and that they might have matter for an evil report, that they might reproach me.
My God, think thou upon Tobiah and Sanballat according to these their works, and on the prophetess Noadiah, and the rest of the prophets, that would have put me in fear.
</p>

<div class="sidenote left">Nehemiah 6:15 <br>to Nehemiah 7:4</div>

<h3>The Wall is Completed</h3>

<p>
So the wall was finished in the twenty and fifth day of the month Elul, in fifty and two days.
And it came to pass, that when all our enemies heard thereof, and all the heathen that were about us saw these things, they were much cast down in their own eyes: for they perceived that this work was wrought of our God.
Moreover in those days the nobles of Judah sent many letters unto Tobiah, and the letters of Tobiah came unto them.
For there were many in Judah sworn unto him, because he was the son in law of Shechaniah the son of Arah; and his son Johanan had taken the daughter of Meshullam the son of Berechiah.
Also they reported his good deeds before me, and uttered my words to him. And Tobiah sent letters to put me in fear.
</p>

<p>
Now it came to pass, when the wall was built, and I had set up the doors, and the porters and the singers and the Levites were appointed,
That I gave my brother Hanani, and Hananiah the ruler of the palace, charge over Jerusalem: for he was a faithful man, and feared God above many.
And I said unto them, Let not the gates of Jerusalem be opened until the sun be hot; and while they stand by, let them shut the doors, and bar them: and appoint watches of the inhabitants of Jerusalem, every one in his watch, and every one to be over against his house.
Now the city was large and great: but the people were few therein, and the houses were not builded.
</p>

<div class="sidenote left">Nehemiah 7:5 <br>to Nehemiah 7:73</div>

<h3>Lists of the Exiles Who Returned</h3>

<p>
And my God put into mine heart to gather together the nobles, and the rulers, and the people, that they might be reckoned by genealogy. And I found a register of the genealogy of them which came up at the first, and found written therein,
</p>

<div class="sidenote">Nehemiah 7:6</div>

<p>
These are the children of the province, that went up out of the captivity, of those that had been carried away, whom Nebuchadnezzar the king of Babylon had carried away, and came again to Jerusalem and to Judah, every one unto his city;
Who came with Zerubbabel, Jeshua, Nehemiah, Azariah, Raamiah, Nahamani, Mordecai, Bilshan, Mispereth, Bigvai, Nehum, Baanah. The number, I say, of the men of the people of Israel was this;
</p>

<div class="sidenote">Nehemiah 7:8</div>

<p>
The children of Parosh, two thousand an hundred seventy and two.
The children of Shephatiah, three hundred seventy and two.
The children of Arah, six hundred fifty and two.
The children of Pahathmoab, of the children of Jeshua and Joab, two thousand and eight hundred and eighteen.
The children of Elam, a thousand two hundred fifty and four.
The children of Zattu, eight hundred forty and five.
The children of Zaccai, seven hundred and threescore.
The children of Binnui, six hundred forty and eight.
The children of Bebai, six hundred twenty and eight.
The children of Azgad, two thousand three hundred twenty and two.
The children of Adonikam, six hundred threescore and seven.
The children of Bigvai, two thousand threescore and seven.
The children of Adin, six hundred fifty and five.
The children of Ater of Hezekiah, ninety and eight.
The children of Hashum, three hundred twenty and eight.
The children of Bezai, three hundred twenty and four.
The children of Hariph, an hundred and twelve.
The children of Gibeon, ninety and five.
The men of Bethlehem and Netophah, an hundred fourscore and eight.
The men of Anathoth, an hundred twenty and eight.
The men of Bethazmaveth, forty and two.
The men of Kirjathjearim, Chephirah, and Beeroth, seven hundred forty and three.
The men of Ramah and Gaba, six hundred twenty and one.
The men of Michmas, an hundred and twenty and two.
The men of Bethel and Ai, an hundred twenty and three.
The men of the other Nebo, fifty and two.
The children of the other Elam, a thousand two hundred fifty and four.
The children of Harim, three hundred and twenty.
The children of Jericho, three hundred forty and five.
The children of Lod, Hadid, and Ono, seven hundred twenty and one.
The children of Senaah, three thousand nine hundred and thirty.
</p>

<div class="sidenote">Nehemiah 7:39</div>

<p>
The priests: the children of Jedaiah, of the house of Jeshua, nine hundred seventy and three.
The children of Immer, a thousand fifty and two.
The children of Pashur, a thousand two hundred forty and seven.
The children of Harim, a thousand and seventeen.
</p>

<div class="sidenote">Nehemiah 7:43</div>

<p>
The Levites: the children of Jeshua, of Kadmiel, and of the children of Hodevah, seventy and four.
The singers: the children of Asaph, an hundred forty and eight.
The porters: the children of Shallum, the children of Ater, the children of Talmon, the children of Akkub, the children of Hatita, the children of Shobai, an hundred thirty and eight.
</p>

<div class="sidenote">Nehemiah 7:46</div>

<p>
The Nethinims: the children of Ziha, the children of Hashupha, the children of Tabbaoth,
The children of Keros, the children of Sia, the children of Padon,
The children of Lebana, the children of Hagaba, the children of Shalmai,
The children of Hanan, the children of Giddel, the children of Gahar,
The children of Reaiah, the children of Rezin, the children of Nekoda,
The children of Gazzam, the children of Uzza, the children of Phaseah,
The children of Besai, the children of Meunim, the children of Nephishesim,
The children of Bakbuk, the children of Hakupha, the children of Harhur,
The children of Bazlith, the children of Mehida, the children of Harsha,
The children of Barkos, the children of Sisera, the children of Tamah,
The children of Neziah, the children of Hatipha.
</p>

<div class="sidenote">Nehemiah 7:57</div>

<p>
The children of Solomon's servants: the children of Sotai, the children of Sophereth, the children of Perida,
The children of Jaala, the children of Darkon, the children of Giddel,
The children of Shephatiah, the children of Hattil, the children of Pochereth of Zebaim, the children of Amon.
</p>

<div class="sidenote">Nehemiah 7:60</div>

<p>
All the Nethinims, and the children of Solomon's servants, were three hundred ninety and two.
</p>

<div class="sidenote">Nehemiah 7:61</div>

<p>
And these were they which went up also from Telmelah, Telharesha, Cherub, Addon, and Immer: but they could not shew their father's house, nor their seed, whether they were of Israel.
The children of Delaiah, the children of Tobiah, the children of Nekoda, six hundred forty and two.
And of the priests: the children of Habaiah, the children of Koz, the children of Barzillai, which took one of the daughters of Barzillai the Gileadite to wife, and was called after their name.
These sought their register among those that were reckoned by genealogy, but it was not found: therefore were they, as polluted, put from the priesthood.
And the Tirshatha said unto them, that they should not eat of the most holy things, till there stood up a priest with Urim and Thummim.
</p>

<div class="sidenote">Nehemiah 7:66</div>

<p>
The whole congregation together was forty and two thousand three hundred and threescore,
Beside their manservants and their maidservants, of whom there were seven thousand three hundred thirty and seven: and they had two hundred forty and five singing men and singing women.
Their horses, seven hundred thirty and six: their mules, two hundred forty and five:
Their camels, four hundred thirty and five: six thousand seven hundred and twenty asses.
</p>

<div class="sidenote">Nehemiah 7:70</div>

<p>
And some of the chief of the fathers gave unto the work. The Tirshatha gave to the treasure a thousand drams of gold, fifty basons, five hundred and thirty priests' garments.
And some of the chief of the fathers gave to the treasure of the work twenty thousand drams of gold, and two thousand and two hundred pound of silver.
And that which the rest of the people gave was twenty thousand drams of gold, and two thousand pound of silver, and threescore and seven priests' garments.
</p>

<div class="sidenote">Nehemiah 7:73</div>

<p>
So the priests, and the Levites, and the porters, and the singers, and some of the people, and the Nethinims, and all Israel, dwelt in their cities; and when the seventh month came, the children of Israel were in their cities.
</p>

<div class="sidenote left">Nehemiah 8:1 <br>to Nehemiah 8:12</div>

<h3>Ezra Reads the Law to the People</h3>

<p>
And all the people gathered themselves together as one man into the street that was before the water gate; and they spake unto Ezra the scribe to bring the book of the law of Moses, which the LORD had commanded to Israel.
And Ezra the priest brought the law before the congregation both of men and women, and all that could hear with understanding, upon the first day of the seventh month.
And he read therein before the street that was before the water gate from the morning until midday, before the men and the women, and those that could understand; and the ears of all the people were attentive unto the book of the law.
And Ezra the scribe stood upon a pulpit of wood, which they had made for the purpose; and beside him stood Mattithiah, and Shema, and Anaiah, and Urijah, and Hilkiah, and Maaseiah, on his right hand; and on his left hand, Pedaiah, and Mishael, and Malchiah, and Hashum, and Hashbadana, Zechariah, and Meshullam.
And Ezra opened the book in the sight of all the people; (for he was above all the people;) and when he opened it, all the people stood up:
And Ezra blessed the LORD, the great God. And all the people answered, Amen, Amen, with lifting up their hands: and they bowed their heads, and worshipped the LORD with their faces to the ground.
Also Jeshua, and Bani, and Sherebiah, Jamin, Akkub, Shabbethai, Hodijah, Maaseiah, Kelita, Azariah, Jozabad, Hanan, Pelaiah, and the Levites, caused the people to understand the law: and the people stood in their place.
So they read in the book in the law of God distinctly, and gave the sense, and caused them to understand the reading.
</p>

<div class="sidenote">Nehemiah 8:9</div>

<p>
And Nehemiah, which is the Tirshatha, and Ezra the priest the scribe, and the Levites that taught the people, said unto all the people, This day is holy unto the LORD your God; mourn not, nor weep. For all the people wept, when they heard the words of the law.
Then he said unto them, Go your way, eat the fat, and drink the sweet, and send portions unto them for whom nothing is prepared: for this day is holy unto our LORD: neither be ye sorry; for the joy of the LORD is your strength.
So the Levites stilled all the people, saying, Hold your peace, for the day is holy; neither be ye grieved.
And all the people went their way to eat, and to drink, and to send portions, and to make great mirth, because they had understood the words that were declared unto them.
</p>

<div class="sidenote left">Nehemiah 8:13 <br>to Nehemiah 8:18</div>

<h3>Festival of Booths</h3>

<p>
And on the second day were gathered together the chief of the fathers of all the people, the priests, and the Levites, unto Ezra the scribe, even to understand the words of the law.
And they found written in the law which the LORD had commanded by Moses, that the children of Israel should dwell in booths in the feast of the seventh month:
And that they should publish and proclaim in all their cities, and in Jerusalem, saying, Go forth unto the mount, and fetch olive branches, and pine branches, and myrtle branches, and palm branches, and branches of thick trees, to make booths, as it is written.
So the people went forth, and brought them, and made themselves booths, every one upon the roof of his house, and in their courts, and in the courts of the house of God, and in the street of the water gate, and in the street of the gate of Ephraim.
And all the congregation of them that were come again out of the captivity made booths, and sat under the booths: for since the days of Jeshua the son of Nun unto that day had not the children of Israel done so. And there was very great gladness.
Also day by day, from the first day unto the last day, he read in the book of the law of God. And they kept the feast seven days; and on the eighth day was a solemn assembly, according unto the manner.
</p>

<div class="sidenote left">Nehemiah 9:1 <br>to Nehemiah 9:38</div>

<h3>The Nation Confesses</h3>

<p>
Now in the twenty and fourth day of this month the children of Israel were assembled with fasting, and with sackclothes, and earth upon them.
And the seed of Israel separated themselves from all strangers, and stood and confessed their sins, and the iniquities of their fathers.
And they stood up in their place, and read in the book of the law of the LORD their God one fourth part of the day; and another fourth part they confessed, and worshipped the LORD their God.
Then stood up upon the stairs, of the Levites, Jeshua, and Bani, Kadmiel, Shebaniah, Bunni, Sherebiah, Bani, and Chenani, and cried with a loud voice unto the LORD their God.
Then the Levites, Jeshua, and Kadmiel, Bani, Hashabniah, Sherebiah, Hodijah, Shebaniah, and Pethahiah, said, Stand up and bless the LORD your God for ever and ever: and blessed be thy glorious name, which is exalted above all blessing and praise.
</p>

<div class="sidenote">Nehemiah 9:6</div>

<p>
Thou, even thou, art LORD alone; thou hast made heaven, the heaven of heavens, with all their host, the earth, and all things that are therein, the seas, and all that is therein, and thou preservest them all; and the host of heaven worshippeth thee.
Thou art the LORD the God, who didst choose Abram, and broughtest him forth out of Ur of the Chaldees, and gavest him the name of Abraham;
And foundest his heart faithful before thee, and madest a covenant with him to give the land of the Canaanites, the Hittites, the Amorites, and the Perizzites, and the Jebusites, and the Girgashites, to give it, I say, to his seed, and hast performed thy words; for thou art righteous:
</p>

<div class="sidenote">Nehemiah 9:9</div>

<p>
And didst see the affliction of our fathers in Egypt, and heardest their cry by the Red sea;
And shewedst signs and wonders upon Pharaoh, and on all his servants, and on all the people of his land: for thou knewest that they dealt proudly against them. So didst thou get thee a name, as it is this day.
And thou didst divide the sea before them, so that they went through the midst of the sea on the dry land; and their persecutors thou threwest into the deeps, as a stone into the mighty waters.
Moreover thou leddest them in the day by a cloudy pillar; and in the night by a pillar of fire, to give them light in the way wherein they should go.
Thou camest down also upon mount Sinai, and spakest with them from heaven, and gavest them right judgments, and true laws, good statutes and commandments:
And madest known unto them thy holy sabbath, and commandedst them precepts, statutes, and laws, by the hand of Moses thy servant:
And gavest them bread from heaven for their hunger, and broughtest forth water for them out of the rock for their thirst, and promisedst them that they should go in to possess the land which thou hadst sworn to give them.
</p>

<div class="sidenote">Nehemiah 9:16</div>

<p>
But they and our fathers dealt proudly, and hardened their necks, and hearkened not to thy commandments,
And refused to obey, neither were mindful of thy wonders that thou didst among them; but hardened their necks, and in their rebellion appointed a captain to return to their bondage: but thou art a God ready to pardon, gracious and merciful, slow to anger, and of great kindness, and forsookest them not.
Yea, when they had made them a molten calf, and said, This is thy God that brought thee up out of Egypt, and had wrought great provocations;
Yet thou in thy manifold mercies forsookest them not in the wilderness: the pillar of the cloud departed not from them by day, to lead them in the way; neither the pillar of fire by night, to shew them light, and the way wherein they should go.
Thou gavest also thy good spirit to instruct them, and withheldest not thy manna from their mouth, and gavest them water for their thirst.
Yea, forty years didst thou sustain them in the wilderness, so that they lacked nothing; their clothes waxed not old, and their feet swelled not.
Moreover thou gavest them kingdoms and nations, and didst divide them into corners: so they possessed the land of Sihon, and the land of the king of Heshbon, and the land of Og king of Bashan.
Their children also multipliedst thou as the stars of heaven, and broughtest them into the land, concerning which thou hadst promised to their fathers, that they should go in to possess it.
So the children went in and possessed the land, and thou subduedst before them the inhabitants of the land, the Canaanites, and gavest them into their hands, with their kings, and the people of the land, that they might do with them as they would.
And they took strong cities, and a fat land, and possessed houses full of all goods, wells digged, vineyards, and oliveyards, and fruit trees in abundance: so they did eat, and were filled, and became fat, and delighted themselves in thy great goodness.
</p>

<div class="sidenote">Nehemiah 9:26</div>

<p>
Nevertheless they were disobedient, and rebelled against thee, and cast thy law behind their backs, and slew thy prophets which testified against them to turn them to thee, and they wrought great provocations.
Therefore thou deliveredst them into the hand of their enemies, who vexed them: and in the time of their trouble, when they cried unto thee, thou heardest them from heaven; and according to thy manifold mercies thou gavest them saviours, who saved them out of the hand of their enemies.
But after they had rest, they did evil again before thee: therefore leftest thou them in the land of their enemies, so that they had the dominion over them: yet when they returned, and cried unto thee, thou heardest them from heaven; and many times didst thou deliver them according to thy mercies;
And testifiedst against them, that thou mightest bring them again unto thy law: yet they dealt proudly, and hearkened not unto thy commandments, but sinned against thy judgments, (which if a man do, he shall live in them;) and withdrew the shoulder, and hardened their neck, and would not hear.
Yet many years didst thou forbear them, and testifiedst against them by thy spirit in thy prophets: yet would they not give ear: therefore gavest thou them into the hand of the people of the lands.
Nevertheless for thy great mercies' sake thou didst not utterly consume them, nor forsake them; for thou art a gracious and merciful God.
</p>

<div class="sidenote">Nehemiah 9:32</div>

<p>
Now therefore, our God, the great, the mighty, and the terrible God, who keepest covenant and mercy, let not all the trouble seem little before thee, that hath come upon us, on our kings, on our princes, and on our priests, and on our prophets, and on our fathers, and on all thy people, since the time of the kings of Assyria unto this day.
Howbeit thou art just in all that is brought upon us; for thou hast done right, but we have done wickedly:
Neither have our kings, our princes, our priests, nor our fathers, kept thy law, nor hearkened unto thy commandments and thy testimonies, wherewith thou didst testify against them.
For they have not served thee in their kingdom, and in thy great goodness that thou gavest them, and in the large and fat land which thou gavest before them, neither turned they from their wicked works.
Behold, we are servants this day, and for the land that thou gavest unto our fathers to eat the fruit thereof and the good thereof, behold, we are servants in it:
And it yieldeth much increase unto the kings whom thou hast set over us because of our sins: also they have dominion over our bodies, and over our cattle, at their pleasure, and we are in great distress.
</p>

<div class="sidenote">Nehemiah 9:38</div>

<p>
And because of all this we make a sure covenant, and write it; and our princes, Levites, and priests, seal unto it.
</p>

<div class="sidenote left">Nehemiah 10:1 <br>to Nehemiah 10:27</div>

<h3>The Names of Those Who Signed the Covenant</h3>

<p>
Now those that sealed were, Nehemiah, the Tirshatha, the son of Hachaliah, and Zidkijah,
Seraiah, Azariah, Jeremiah,
Pashur, Amariah, Malchijah,
Hattush, Shebaniah, Malluch,
Harim, Meremoth, Obadiah,
Daniel, Ginnethon, Baruch,
Meshullam, Abijah, Mijamin,
Maaziah, Bilgai, Shemaiah: these were the priests.
And the Levites: both Jeshua the son of Azaniah, Binnui of the sons of Henadad, Kadmiel;
And their brethren, Shebaniah, Hodijah, Kelita, Pelaiah, Hanan,
Micha, Rehob, Hashabiah,
Zaccur, Sherebiah, Shebaniah,
Hodijah, Bani, Beninu.
The chief of the people; Parosh, Pahathmoab, Elam, Zatthu, Bani,
Bunni, Azgad, Bebai,
Adonijah, Bigvai, Adin,
Ater, Hizkijah, Azzur,
Hodijah, Hashum, Bezai,
Hariph, Anathoth, Nebai,
Magpiash, Meshullam, Hezir,
Meshezabeel, Zadok, Jaddua,
Pelatiah, Hanan, Anaiah,
Hoshea, Hananiah, Hashub,
Hallohesh, Pileha, Shobek,
Rehum, Hashabnah, Maaseiah,
And Ahijah, Hanan, Anan,
Malluch, Harim, Baanah.
</p>

<div class="sidenote left">Nehemiah 10:28 <br>to Nehemiah 10:39</div>

<h3>A Summary of the Covenant</h3>

<p>
And the rest of the people, the priests, the Levites, the porters, the singers, the Nethinims, and all they that had separated themselves from the people of the lands unto the law of God, their wives, their sons, and their daughters, every one having knowledge, and having understanding;
They clave to their brethren, their nobles, and entered into a curse, and into an oath, to walk in God's law, which was given by Moses the servant of God, and to observe and do all the commandments of the LORD our Lord, and his judgments and his statutes;
And that we would not give our daughters unto the people of the land, not take their daughters for our sons:
And if the people of the land bring ware or any victuals on the sabbath day to sell, that we would not buy it of them on the sabbath, or on the holy day: and that we would leave the seventh year, and the exaction of every debt.
</p>

<div class="sidenote">Nehemiah 10:32</div>

<p>
Also we made ordinances for us, to charge ourselves yearly with the third part of a shekel for the service of the house of our God;
For the shewbread, and for the continual meat offering, and for the continual burnt offering, of the sabbaths, of the new moons, for the set feasts, and for the holy things, and for the sin offerings to make an atonement for Israel, and for all the work of the house of our God.
And we cast the lots among the priests, the Levites, and the people, for the wood offering, to bring it into the house of our God, after the houses of our fathers, at times appointed year by year, to burn upon the altar of the LORD our God, as it is written in the law:
And to bring the firstfruits of our ground, and the firstfruits of all fruit of all trees, year by year, unto the house of the LORD:
Also the firstborn of our sons, and of our cattle, as it is written in the law, and the firstlings of our herds and of our flocks, to bring to the house of our God, unto the priests that minister in the house of our God:
And that we should bring the firstfruits of our dough, and our offerings, and the fruit of all manner of trees, of wine and of oil, unto the priests, to the chambers of the house of our God; and the tithes of our ground unto the Levites, that the same Levites might have the tithes in all the cities of our tillage.
And the priest the son of Aaron shall be with the Levites, when the Levites take tithes: and the Levites shall bring up the tithe of the tithes unto the house of our God, to the chambers, into the treasure house.
For the children of Israel and the children of Levi shall bring the offering of the corn, of the new wine, and the oil, unto the chambers, where are the vessels of the sanctuary, and the priests that minister, and the porters, and the singers: and we will not forsake the house of our God.
</p>

<div class="sidenote left">Nehemiah 11:1 <br>to Nehemiah 11:24</div>

<h3>The Leaders and Servants in Jerusalem</h3>

<p>
And the rulers of the people dwelt at Jerusalem: the rest of the people also cast lots, to bring one of ten to dwell in Jerusalem the holy city, and nine parts to dwell in other cities.
And the people blessed all the men, that willingly offered themselves to dwell at Jerusalem.
</p>

<div class="sidenote">Nehemiah 11:3</div>

<p>
Now these are the chief of the province that dwelt in Jerusalem: but in the cities of Judah dwelt every one in his possession in their cities, to wit, Israel, the priests, and the Levites, and the Nethinims, and the children of Solomon's servants.
And at Jerusalem dwelt certain of the children of Judah, and of the children of Benjamin. Of the children of Judah; Athaiah the son of Uzziah, the son of Zechariah, the son of Amariah, the son of Shephatiah, the son of Mahalaleel, of the children of Perez;
And Maaseiah the son of Baruch, the son of Colhozeh, the son of Hazaiah, the son of Adaiah, the son of Joiarib, the son of Zechariah, the son of Shiloni.
All the sons of Perez that dwelt at Jerusalem were four hundred threescore and eight valiant men.
</p>

<div class="sidenote">Nehemiah 11:7</div>

<p>
And these are the sons of Benjamin; Sallu the son of Meshullam, the son of Joed, the son of Pedaiah, the son of Kolaiah, the son of Maaseiah, the son of Ithiel, the son of Jesaiah.
And after him Gabbai, Sallai, nine hundred twenty and eight.
And Joel the son of Zichri was their overseer: and Judah the son of Senuah was second over the city.
</p>

<div class="sidenote">Nehemiah 11:10</div>

<p>
Of the priests: Jedaiah the son of Joiarib, Jachin.
Seraiah the son of Hilkiah, the son of Meshullam, the son of Zadok, the son of Meraioth, the son of Ahitub, was the ruler of the house of God.
And their brethren that did the work of the house were eight hundred twenty and two: and Adaiah the son of Jeroham, the son of Pelaliah, the son of Amzi, the son of Zechariah, the son of Pashur, the son of Malchiah.
And his brethren, chief of the fathers, two hundred forty and two: and Amashai the son of Azareel, the son of Ahasai, the son of Meshillemoth, the son of Immer,
And their brethren, mighty men of valour, an hundred twenty and eight: and their overseer was Zabdiel, the son of one of the great men.
</p>

<div class="sidenote">Nehemiah 11:15</div>

<p>
Also of the Levites: Shemaiah the son of Hashub, the son of Azrikam, the son of Hashabiah, the son of Bunni;
And Shabbethai and Jozabad, of the chief of the Levites, had the oversight of the outward business of the house of God.
And Mattaniah the son of Micha, the son of Zabdi, the son of Asaph, was the principal to begin the thanksgiving in prayer: and Bakbukiah the second among his brethren, and Abda the son of Shammua, the son of Galal, the son of Jeduthun.
All the Levites in the holy city were two hundred fourscore and four.
</p>

<div class="sidenote">Nehemiah 11:19</div>

<p>
Moreover the porters, Akkub, Talmon, and their brethren that kept the gates, were an hundred seventy and two.
And the residue of Israel, of the priests, and the Levites, were in all the cities of Judah, every one in his inheritance.
But the Nethinims dwelt in Ophel: and Ziha and Gispa were over the Nethinims.
</p>

<div class="sidenote">Nehemiah 11:22</div>

<p>
The overseer also of the Levites at Jerusalem was Uzzi the son of Bani, the son of Hashabiah, the son of Mattaniah, the son of Micha. Of the sons of Asaph, the singers were over the business of the house of God.
For it was the king's commandment concerning them, that a certain portion should be for the singers, due for every day.
And Pethahiah the son of Meshezabeel, of the children of Zerah the son of Judah, was at the king's hand in all matters concerning the people.
</p>

<div class="sidenote left">Nehemiah 11:25 <br>to Nehemiah 11:36</div>

<h3>Villages Outside of Jerusalem</h3>

<p>
And for the villages, with their fields, some of the children of Judah dwelt at Kirjatharba, and in the villages thereof, and at Dibon, and in the villages thereof, and at Jekabzeel, and in the villages thereof,
And at Jeshua, and at Moladah, and at Bethphelet,
And at Hazarshual, and at Beersheba, and in the villages thereof,
And at Ziklag, and at Mekonah, and in the villages thereof,
And at Enrimmon, and at Zareah, and at Jarmuth,
Zanoah, Adullam, and in their villages, at Lachish, and the fields thereof, at Azekah, and in the villages thereof. And they dwelt from Beersheba unto the valley of Hinnom.
The children also of Benjamin from Geba dwelt at Michmash, and Aija, and Bethel, and in their villages.
And at Anathoth, Nob, Ananiah,
Hazor, Ramah, Gittaim,
Hadid, Zeboim, Neballat,
Lod, and Ono, the valley of craftsmen.
And of the Levites were divisions in Judah, and in Benjamin.
</p>

<div class="sidenote left">Nehemiah 12:1 <br>to Nehemiah 12:26</div>

<h3>The Leaders and Servants in Jerusalem</h3>

<p>
Now these are the priests and the Levites that went up with Zerubbabel the son of Shealtiel, and Jeshua: Seraiah, Jeremiah, Ezra,
Amariah, Malluch, Hattush,
Shechaniah, Rehum, Meremoth,
Iddo, Ginnetho, Abijah,
Miamin, Maadiah, Bilgah,
Shemaiah, and Joiarib, Jedaiah,
Sallu, Amok, Hilkiah, Jedaiah. These were the chief of the priests and of their brethren in the days of Jeshua.
</p>

<div class="sidenote">Nehemiah 12:8</div>

<p>
Moreover the Levites: Jeshua, Binnui, Kadmiel, Sherebiah, Judah, and Mattaniah, which was over the thanksgiving, he and his brethren.
Also Bakbukiah and Unni, their brethren, were over against them in the watches.
And Jeshua begat Joiakim, Joiakim also begat Eliashib, and Eliashib begat Joiada,
And Joiada begat Jonathan, and Jonathan begat Jaddua.
</p>

<div class="sidenote">Nehemiah 12:12</div>

<p>
And in the days of Joiakim were priests, the chief of the fathers: of Seraiah, Meraiah; of Jeremiah, Hananiah;
Of Ezra, Meshullam; of Amariah, Jehohanan;
Of Melicu, Jonathan; of Shebaniah, Joseph;
Of Harim, Adna; of Meraioth, Helkai;
Of Iddo, Zechariah; of Ginnethon, Meshullam;
Of Abijah, Zichri; of Miniamin, of Moadiah, Piltai:
Of Bilgah, Shammua; of Shemaiah, Jehonathan;
And of Joiarib, Mattenai; of Jedaiah, Uzzi;
Of Sallai, Kallai; of Amok, Eber;
Of Hilkiah, Hashabiah; of Jedaiah, Nethaneel.
</p>

<div class="sidenote">Nehemiah 12:22</div>

<p>
The Levites in the days of Eliashib, Joiada, and Johanan, and Jaddua, were recorded chief of the fathers: also the priests, to the reign of Darius the Persian.
The sons of Levi, the chief of the fathers, were written in the book of the chronicles, even until the days of Johanan the son of Eliashib.
And the chief of the Levites: Hashabiah, Sherebiah, and Jeshua the son of Kadmiel, with their brethren over against them, to praise and to give thanks, according to the commandment of David the man of God, ward over against ward.
Mattaniah, and Bakbukiah, Obadiah, Meshullam, Talmon, Akkub, were porters keeping the ward at the thresholds of the gates.
These were in the days of Joiakim the son of Jeshua, the son of Jozadak, and in the days of Nehemiah the governor, and of Ezra the priest, the scribe.
</p>

<div class="sidenote left">Nehemiah 12:27 <br>to Nehemiah 12:43</div>

<h3>Dedication of the Wall of Jerusalem</h3>

<p>
And at the dedication of the wall of Jerusalem they sought the Levites out of all their places, to bring them to Jerusalem, to keep the dedication with gladness, both with thanksgivings, and with singing, with cymbals, psalteries, and with harps.
And the sons of the singers gathered themselves together, both out of the plain country round about Jerusalem, and from the villages of Netophathi;
Also from the house of Gilgal, and out of the fields of Geba and Azmaveth: for the singers had builded them villages round about Jerusalem.
And the priests and the Levites purified themselves, and purified the people, and the gates, and the wall.
</p>

<div class="sidenote">Nehemiah 12:31</div>

<p>
Then I brought up the princes of Judah upon the wall, and appointed two great companies of them that gave thanks, whereof one went on the right hand upon the wall toward the dung gate:
And after them went Hoshaiah, and half of the princes of Judah,
And Azariah, Ezra, and Meshullam,
Judah, and Benjamin, and Shemaiah, and Jeremiah,
And certain of the priests' sons with trumpets; namely, Zechariah the son of Jonathan, the son of Shemaiah, the son of Mattaniah, the son of Michaiah, the son of Zaccur, the son of Asaph:
And his brethren, Shemaiah, and Azarael, Milalai, Gilalai, Maai, Nethaneel, and Judah, Hanani, with the musical instruments of David the man of God, and Ezra the scribe before them.
And at the fountain gate, which was over against them, they went up by the stairs of the city of David, at the going up of the wall, above the house of David, even unto the water gate eastward.
</p>

<div class="sidenote">Nehemiah 12:38</div>

<p>
And the other company of them that gave thanks went over against them, and I after them, and the half of the people upon the wall, from beyond the tower of the furnaces even unto the broad wall;
And from above the gate of Ephraim, and above the old gate, and above the fish gate, and the tower of Hananeel, and the tower of Meah, even unto the sheep gate: and they stood still in the prison gate.
So stood the two companies of them that gave thanks in the house of God, and I, and the half of the rulers with me:
And the priests; Eliakim, Maaseiah, Miniamin, Michaiah, Elioenai, Zechariah, and Hananiah, with trumpets;
And Maaseiah, and Shemaiah, and Eleazar, and Uzzi, and Jehohanan, and Malchijah, and Elam, and Ezer. And the singers sang loud, with Jezrahiah their overseer.
Also that day they offered great sacrifices, and rejoiced: for God had made them rejoice with great joy: the wives also and the children rejoiced: so that the joy of Jerusalem was heard even afar off.
</p>

<div class="sidenote left">Nehemiah 12:44 <br>to Nehemiah 12:47</div>

<h3>Celebration at the Temple</h3>

<p>
And at that time were some appointed over the chambers for the treasures, for the offerings, for the firstfruits, and for the tithes, to gather into them out of the fields of the cities the portions of the law for the priests and Levites: for Judah rejoiced for the priests and for the Levites that waited.
And both the singers and the porters kept the ward of their God, and the ward of the purification, according to the commandment of David, and of Solomon his son.
For in the days of David and Asaph of old there were chief of the singers, and songs of praise and thanksgiving unto God.
And all Israel in the days of Zerubbabel, and in the days of Nehemiah, gave the portions of the singers and the porters, every day his portion: and they sanctified holy things unto the Levites; and the Levites sanctified them unto the children of Aaron.
</p>

<div class="sidenote left">Nehemiah 13:1 <br>to Nehemiah 13:3</div>

<h3>Israel Separates Itself</h3>

<p>
On that day they read in the book of Moses in the audience of the people; and therein was found written, that the Ammonite and the Moabite should not come into the congregation of God for ever;
Because they met not the children of Israel with bread and with water, but hired Balaam against them, that he should curse them: howbeit our God turned the curse into a blessing.
Now it came to pass, when they had heard the law, that they separated from Israel all the mixed multitude.
</p>

<div class="sidenote left">Nehemiah 13:4 <br>to Nehemiah 13:14</div>

<h3>Nehemiah Brings Reform</h3>

<p>
And before this, Eliashib the priest, having the oversight of the chamber of the house of our God, was allied unto Tobiah:
And he had prepared for him a great chamber, where aforetime they laid the meat offerings, the frankincense, and the vessels, and the tithes of the corn, the new wine, and the oil, which was commanded to be given to the Levites, and the singers, and the porters; and the offerings of the priests.
But in all this time was not I at Jerusalem: for in the two and thirtieth year of Artaxerxes king of Babylon came I unto the king, and after certain days obtained I leave of the king:
And I came to Jerusalem, and understood of the evil that Eliashib did for Tobiah, in preparing him a chamber in the courts of the house of God.
And it grieved me sore: therefore I cast forth all the household stuff to Tobiah out of the chamber.
Then I commanded, and they cleansed the chambers: and thither brought I again the vessels of the house of God, with the meat offering and the frankincense.
</p>

<div class="sidenote">Nehemiah 13:10</div>

<p>
And I perceived that the portions of the Levites had not been given them: for the Levites and the singers, that did the work, were fled every one to his field.
Then contended I with the rulers, and said, Why is the house of God forsaken? And I gathered them together, and set them in their place.
Then brought all Judah the tithe of the corn and the new wine and the oil unto the treasuries.
And I made treasurers over the treasuries, Shelemiah the priest, and Zadok the scribe, and of the Levites, Pedaiah: and next to them was Hanan the son of Zaccur, the son of Mattaniah: for they were counted faithful, and their office was to distribute unto their brethren.
Remember me, O my God, concerning this, and wipe not out my good deeds that I have done for the house of my God, and for the offices thereof.
</p>

<div class="sidenote left">Nehemiah 13:15 <br>to Nehemiah 13:22</div>

<h3>Nehemiah Begins Sabbath Reforms</h3>

<p>
In those days saw I in Judah some treading wine presses on the sabbath, and bringing in sheaves, and lading asses; as also wine, grapes, and figs, and all manner of burdens, which they brought into Jerusalem on the sabbath day: and I testified against them in the day wherein they sold victuals.
There dwelt men of Tyre also therein, which brought fish, and all manner of ware, and sold on the sabbath unto the children of Judah, and in Jerusalem.
Then I contended with the nobles of Judah, and said unto them, What evil thing is this that ye do, and profane the sabbath day?
Did not your fathers thus, and did not our God bring all this evil upon us, and upon this city? yet ye bring more wrath upon Israel by profaning the sabbath.
</p>

<div class="sidenote">Nehemiah 13:19</div>

<p>
And it came to pass, that when the gates of Jerusalem began to be dark before the sabbath, I commanded that the gates should be shut, and charged that they should not be opened till after the sabbath: and some of my servants set I at the gates, that there should no burden be brought in on the sabbath day.
So the merchants and sellers of all kind of ware lodged without Jerusalem once or twice.
Then I testified against them, and said unto them, Why lodge ye about the wall? if ye do so again, I will lay hands on you. From that time forth came they no more on the sabbath.
And I commanded the Levites that they should cleanse themselves, and that they should come and keep the gates, to sanctify the sabbath day. Remember me, O my God, concerning this also, and spare me according to the greatness of thy mercy.
</p>

<div class="sidenote left">Nehemiah 13:23 <br>to Nehemiah 13:31</div>

<h3>Mixed Marriages are Condemned</h3>

<p>
In those days also saw I Jews that had married wives of Ashdod, of Ammon, and of Moab:
And their children spake half in the speech of Ashdod, and could not speak in the Jews' language, but according to the language of each people.
And I contended with them, and cursed them, and smote certain of them, and plucked off their hair, and made them swear by God, saying, Ye shall not give your daughters unto their sons, nor take their daughters unto your sons, or for yourselves.
Did not Solomon king of Israel sin by these things? yet among many nations was there no king like him, who was beloved of his God, and God made him king over all Israel: nevertheless even him did outlandish women cause to sin.
Shall we then hearken unto you to do all this great evil, to transgress against our God in marrying strange wives?
</p>

<div class="sidenote">Nehemiah 13:28</div>

<p>
And one of the sons of Joiada, the son of Eliashib the high priest, was son in law to Sanballat the Horonite: therefore I chased him from me.
Remember them, O my God, because they have defiled the priesthood, and the covenant of the priesthood, and of the Levites.
</p>

<div class="sidenote">Nehemiah 13:30</div>

<p>
Thus cleansed I them from all strangers, and appointed the wards of the priests and the Levites, every one in his business;
And for the wood offering, at times appointed, and for the firstfruits. Remember me, O my God, for good.
</p>
