<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Romans</h1>

<div class="sidenote left">Romans 1:1 <br>to Romans 1:7</div>

<h3>Greeting</h3>

<p>
Paul, a servant of Jesus Christ, called to be an apostle, separated unto the gospel of God,
(Which he had promised afore by his prophets in the holy scriptures,)
Concerning his Son Jesus Christ our Lord, which was made of the seed of David according to the flesh;
And declared to be the Son of God with power, according to the spirit of holiness, by the resurrection from the dead:
By whom we have received grace and apostleship, for obedience to the faith among all nations, for his name:
Among whom are ye also the called of Jesus Christ:
To all that be in Rome, beloved of God, called to be saints: Grace to you and peace from God our Father, and the Lord Jesus Christ.
</p>

<div class="sidenote left">Romans 1:8 <br>to Romans 1:15</div>

<h3>Paul Wants to Visit Rome</h3>

<p>
First, I thank my God through Jesus Christ for you all, that your faith is spoken of throughout the whole world.
For God is my witness, whom I serve with my spirit in the gospel of his Son, that without ceasing I make mention of you always in my prayers;
Making request, if by any means now at length I might have a prosperous journey by the will of God to come unto you.
For I long to see you, that I may impart unto you some spiritual gift, to the end ye may be established;
That is, that I may be comforted together with you by the mutual faith both of you and me.
Now I would not have you ignorant, brethren, that oftentimes I purposed to come unto you, (but was let hitherto,) that I might have some fruit among you also, even as among other Gentiles.
I am debtor both to the Greeks, and to the Barbarians; both to the wise, and to the unwise.
So, as much as in me is, I am ready to preach the gospel to you that are at Rome also.
</p>

<div class="sidenote left">Romans 1:16 <br>to Romans 1:17</div>

<h3>The Gospel’s Power for Salvation</h3>

<p>
For I am not ashamed of the gospel of Christ: for it is the power of God unto salvation to every one that believeth; to the Jew first, and also to the Greek.
For therein is the righteousness of God revealed from faith to faith: as it is written, The just shall live by faith.
</p>

<div class="sidenote left">Romans 1:18 <br>to Romans 1:25</div>

<h3>God’s Wrath Revealed Against Sinful Humanity</h3>

<p>
For the wrath of God is revealed from heaven against all ungodliness and unrighteousness of men, who hold the truth in unrighteousness;
Because that which may be known of God is manifest in them; for God hath shewed it unto them.
For the invisible things of him from the creation of the world are clearly seen, being understood by the things that are made, even his eternal power and Godhead; so that they are without excuse:
Because that, when they knew God, they glorified him not as God, neither were thankful; but became vain in their imaginations, and their foolish heart was darkened.
Professing themselves to be wise, they became fools,
And changed the glory of the uncorruptible God into an image made like to corruptible man, and to birds, and fourfooted beasts, and creeping things.
</p>

<div class="sidenote">Romans 1:24</div>

<p>
Wherefore God also gave them up to uncleanness through the lusts of their own hearts, to dishonour their own bodies between themselves:
Who changed the truth of God into a lie, and worshipped and served the creature more than the Creator, who is blessed for ever. Amen.
</p>

<div class="sidenote left">Romans 1:26 <br>to Romans 1:32</div>

<h3>God Hands Sinful Humanity over to Depravity</h3>

<p>
For this cause God gave them up unto vile affections: for even their women did change the natural use into that which is against nature:
And likewise also the men, leaving the natural use of the woman, burned in their lust one toward another; men with men working that which is unseemly, and receiving in themselves that recompence of their error which was meet.
And even as they did not like to retain God in their knowledge, God gave them over to a reprobate mind, to do those things which are not convenient;
Being filled with all unrighteousness, fornication, wickedness, covetousness, maliciousness; full of envy, murder, debate, deceit, malignity; whisperers,
Backbiters, haters of God, despiteful, proud, boasters, inventors of evil things, disobedient to parents,
Without understanding, covenantbreakers, without natural affection, implacable, unmerciful:
Who knowing the judgment of God, that they which commit such things are worthy of death, not only do the same, but have pleasure in them that do them.
</p>

<div class="sidenote left">Romans 2:1 <br>to Romans 2:16</div>

<h3>The Righteous and Impartial Judgment of God</h3>

<p>
Therefore thou art inexcusable, O man, whosoever thou art that judgest: for wherein thou judgest another, thou condemnest thyself; for thou that judgest doest the same things.
But we are sure that the judgment of God is according to truth against them which commit such things.
And thinkest thou this, O man, that judgest them which do such things, and doest the same, that thou shalt escape the judgment of God?
Or despisest thou the riches of his goodness and forbearance and longsuffering; not knowing that the goodness of God leadeth thee to repentance?
But after thy hardness and impenitent heart treasurest up unto thyself wrath against the day of wrath and revelation of the righteous judgment of God;
Who will render to every man according to his deeds:
To them who by patient continuance in well doing seek for glory and honour and immortality, eternal life:
But unto them that are contentious, and do not obey the truth, but obey unrighteousness, indignation and wrath,
Tribulation and anguish, upon every soul of man that doeth evil, of the Jew first, and also of the Gentile;
But glory, honour, and peace, to every man that worketh good, to the Jew first, and also to the Gentile:
For there is no respect of persons with God.
</p>

<div class="sidenote">Romans 2:12</div>

<p>
For as many as have sinned without law shall also perish without law: and as many as have sinned in the law shall be judged by the law;
(For not the hearers of the law are just before God, but the doers of the law shall be justified.
For when the Gentiles, which have not the law, do by nature the things contained in the law, these, having not the law, are a law unto themselves:
Which shew the work of the law written in their hearts, their conscience also bearing witness, and their thoughts the mean while accusing or else excusing one another;)
In the day when God shall judge the secrets of men by Jesus Christ according to my gospel.
</p>

<div class="sidenote left">Romans 2:17 <br>to Romans 2:29</div>

<h3>Jews also Condemned by the Law</h3>

<p>
Behold, thou art called a Jew, and restest in the law, and makest thy boast of God,
And knowest his will, and approvest the things that are more excellent, being instructed out of the law;
And art confident that thou thyself art a guide of the blind, a light of them which are in darkness,
An instructor of the foolish, a teacher of babes, which hast the form of knowledge and of the truth in the law.
Thou therefore which teachest another, teachest thou not thyself? thou that preachest a man should not steal, dost thou steal?
Thou that sayest a man should not commit adultery, dost thou commit adultery? thou that abhorrest idols, dost thou commit sacrilege?
Thou that makest thy boast of the law, through breaking the law dishonourest thou God?
For the name of God is blasphemed among the Gentiles through you, as it is written.
</p>

<div class="sidenote">Romans 2:25</div>

<p>
For circumcision verily profiteth, if thou keep the law: but if thou be a breaker of the law, thy circumcision is made uncircumcision.
Therefore if the uncircumcision keep the righteousness of the law, shall not his uncircumcision be counted for circumcision?
And shall not uncircumcision which is by nature, if it fulfil the law, judge thee, who by the letter and circumcision dost transgress the law?
For he is not a Jew, which is one outwardly; neither is that circumcision, which is outward in the flesh:
But he is a Jew, which is one inwardly; and circumcision is that of the heart, in the spirit, and not in the letter; whose praise is not of men, but of God.
</p>

<div class="sidenote left">Romans 3:1 <br>to Romans 3:8</div>

<h3>Jews Still Have an Advantage</h3>

<p>
What advantage then hath the Jew? or what profit is there of circumcision?
Much every way: chiefly, because that unto them were committed the oracles of God.
For what if some did not believe? shall their unbelief make the faith of God without effect?
God forbid: yea, let God be true, but every man a liar; as it is written, That thou mightest be justified in thy sayings, and mightest overcome when thou art judged.
</p>

<div class="sidenote">Romans 3:5</div>

<p>
But if our unrighteousness commend the righteousness of God, what shall we say? Is God unrighteous who taketh vengeance? (I speak as a man)
God forbid: for then how shall God judge the world?
For if the truth of God hath more abounded through my lie unto his glory; why yet am I also judged as a sinner?
And not rather, (as we be slanderously reported, and as some affirm that we say,) Let us do evil, that good may come? whose damnation is just.
</p>

<div class="sidenote left">Romans 3:9 <br>to Romans 3:20</div>

<h3>The Entire World Guilty of Sin</h3>

<p>
What then? are we better than they? No, in no wise: for we have before proved both Jews and Gentiles, that they are all under sin;
As it is written, There is none righteous, no, not one:
</p>

<div class="sidenote">Romans 3:11</div>

<p>
There is none that understandeth, there is none that seeketh after God.
</p>

<div class="sidenote">Romans 3:12</div>

<p>
They are all gone out of the way, they are together become unprofitable; there is none that doeth good, no, not one.
</p>

<div class="sidenote">Romans 3:13</div>

<p>
Their throat is an open sepulchre; with their tongues they have used deceit; the poison of asps is under their lips:
</p>

<div class="sidenote">Romans 3:14</div>

<p>
Whose mouth is full of cursing and bitterness:
</p>

<div class="sidenote">Romans 3:15</div>

<p>
Their feet are swift to shed blood:
</p>

<div class="sidenote">Romans 3:16</div>

<p>
Destruction and misery are in their ways:
</p>

<div class="sidenote">Romans 3:17</div>

<p>
And the way of peace have they not known:
</p>

<div class="sidenote">Romans 3:18</div>

<p>
There is no fear of God before their eyes.
</p>

<div class="sidenote">Romans 3:19</div>

<p>
Now we know that what things soever the law saith, it saith to them who are under the law: that every mouth may be stopped, and all the world may become guilty before God.
Therefore by the deeds of the law there shall no flesh be justified in his sight: for by the law is the knowledge of sin.
</p>

<div class="sidenote left">Romans 3:21 <br>to Romans 3:31</div>

<h3>Righteousness through Faith Revealed</h3>

<p>
But now the righteousness of God without the law is manifested, being witnessed by the law and the prophets;
Even the righteousness of God which is by faith of Jesus Christ unto all and upon all them that believe: for there is no difference:
For all have sinned, and come short of the glory of God;
Being justified freely by his grace through the redemption that is in Christ Jesus:
Whom God hath set forth to be a propitiation through faith in his blood, to declare his righteousness for the remission of sins that are past, through the forbearance of God;
To declare, I say, at this time his righteousness: that he might be just, and the justifier of him which believeth in Jesus.
</p>

<div class="sidenote">Romans 3:27</div>

<p>
Where is boasting then? It is excluded. By what law? of works? Nay: but by the law of faith.
Therefore we conclude that a man is justified by faith without the deeds of the law.
Is he the God of the Jews only? is he not also of the Gentiles? Yes, of the Gentiles also:
Seeing it is one God, which shall justify the circumcision by faith, and uncircumcision through faith.
Do we then make void the law through faith? God forbid: yea, we establish the law.
</p>

<div class="sidenote left">Romans 4:1 <br>to Romans 4:12</div>

<h3>Abraham’s Faith Counted as Righteousness</h3>

<p>
What shall we say then that Abraham our father, as pertaining to the flesh, hath found?
For if Abraham were justified by works, he hath whereof to glory; but not before God.
For what saith the scripture? Abraham believed God, and it was counted unto him for righteousness.
Now to him that worketh is the reward not reckoned of grace, but of debt.
But to him that worketh not, but believeth on him that justifieth the ungodly, his faith is counted for righteousness.
Even as David also describeth the blessedness of the man, unto whom God imputeth righteousness without works,
</p>

<div class="sidenote">Romans 4:7</div>

<p>
Saying, Blessed are they whose iniquities are forgiven, and whose sins are covered.
</p>

<div class="sidenote">Romans 4:8</div>

<p>
Blessed is the man to whom the Lord will not impute sin.
</p>

<div class="sidenote">Romans 4:9</div>

<p>
Cometh this blessedness then upon the circumcision only, or upon the uncircumcision also? for we say that faith was reckoned to Abraham for righteousness.
How was it then reckoned? when he was in circumcision, or in uncircumcision? Not in circumcision, but in uncircumcision.
And he received the sign of circumcision, a seal of the righteousness of the faith which he had yet being uncircumcised: that he might be the father of all them that believe, though they be not circumcised; that righteousness might be imputed unto them also:
And the father of circumcision to them who are not of the circumcision only, but who also walk in the steps of that faith of our father Abraham, which he had being yet uncircumcised.
</p>

<div class="sidenote left">Romans 4:13 <br>to Romans 4:25</div>

<h3>The Promise to Abraham Secured through Faith</h3>

<p>
For the promise, that he should be the heir of the world, was not to Abraham, or to his seed, through the law, but through the righteousness of faith.
For if they which are of the law be heirs, faith is made void, and the promise made of none effect:
Because the law worketh wrath: for where no law is, there is no transgression.
Therefore it is of faith, that it might be by grace; to the end the promise might be sure to all the seed; not to that only which is of the law, but to that also which is of the faith of Abraham; who is the father of us all,
(As it is written, I have made thee a father of many nations,) before him whom he believed, even God, who quickeneth the dead, and calleth those things which be not as though they were.
Who against hope believed in hope, that he might become the father of many nations, according to that which was spoken, So shall thy seed be.
And being not weak in faith, he considered not his own body now dead, when he was about an hundred years old, neither yet the deadness of Sarah's womb:
He staggered not at the promise of God through unbelief; but was strong in faith, giving glory to God;
And being fully persuaded that, what he had promised, he was able also to perform.
And therefore it was imputed to him for righteousness.
Now it was not written for his sake alone, that it was imputed to him;
But for us also, to whom it shall be imputed, if we believe on him that raised up Jesus our Lord from the dead;
Who was delivered for our offences, and was raised again for our justification.
</p>

<div class="sidenote left">Romans 5:1 <br>to Romans 5:11</div>

<h3>Reconciliation with God through Faith in Christ</h3>

<p>
Therefore being justified by faith, we have peace with God through our Lord Jesus Christ:
By whom also we have access by faith into this grace wherein we stand, and rejoice in hope of the glory of God.
And not only so, but we glory in tribulations also: knowing that tribulation worketh patience;
And patience, experience; and experience, hope:
And hope maketh not ashamed; because the love of God is shed abroad in our hearts by the Holy Ghost which is given unto us.
</p>

<div class="sidenote">Romans 5:6</div>

<p>
For when we were yet without strength, in due time Christ died for the ungodly.
For scarcely for a righteous man will one die: yet peradventure for a good man some would even dare to die.
But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.
Much more then, being now justified by his blood, we shall be saved from wrath through him.
For if, when we were enemies, we were reconciled to God by the death of his Son, much more, being reconciled, we shall be saved by his life.
And not only so, but we also joy in God through our Lord Jesus Christ, by whom we have now received the atonement.
</p>

<div class="sidenote left">Romans 5:12 <br>to Romans 5:21</div>

<h3>Death Came through Adam but Life Comes through Christ</h3>

<p>
Wherefore, as by one man sin entered into the world, and death by sin; and so death passed upon all men, for that all have sinned:
(For until the law sin was in the world: but sin is not imputed when there is no law.
Nevertheless death reigned from Adam to Moses, even over them that had not sinned after the similitude of Adam's transgression, who is the figure of him that was to come.
But not as the offence, so also is the free gift. For if through the offence of one many be dead, much more the grace of God, and the gift by grace, which is by one man, Jesus Christ, hath abounded unto many.
And not as it was by one that sinned, so is the gift: for the judgment was by one to condemnation, but the free gift is of many offences unto justification.
For if by one man's offence death reigned by one; much more they which receive abundance of grace and of the gift of righteousness shall reign in life by one, Jesus Christ.)
Therefore as by the offence of one judgment came upon all men to condemnation; even so by the righteousness of one the free gift came upon all men unto justification of life.
For as by one man's disobedience many were made sinners, so by the obedience of one shall many be made righteous.
Moreover the law entered, that the offence might abound. But where sin abounded, grace did much more abound:
That as sin hath reigned unto death, even so might grace reign through righteousness unto eternal life by Jesus Christ our Lord.
</p>

<div class="sidenote left">Romans 6:1 <br>to Romans 6:14</div>

<h3>Formerly Dead to Sin, Now Alive in Christ</h3>

<p>
What shall we say then? Shall we continue in sin, that grace may abound?
God forbid. How shall we, that are dead to sin, live any longer therein?
Know ye not, that so many of us as were baptized into Jesus Christ were baptized into his death?
Therefore we are buried with him by baptism into death: that like as Christ was raised up from the dead by the glory of the Father, even so we also should walk in newness of life.
For if we have been planted together in the likeness of his death, we shall be also in the likeness of his resurrection:
Knowing this, that our old man is crucified with him, that the body of sin might be destroyed, that henceforth we should not serve sin.
For he that is dead is freed from sin.
</p>

<div class="sidenote">Romans 6:8</div>

<p>
Now if we be dead with Christ, we believe that we shall also live with him:
Knowing that Christ being raised from the dead dieth no more; death hath no more dominion over him.
For in that he died, he died unto sin once: but in that he liveth, he liveth unto God.
Likewise reckon ye also yourselves to be dead indeed unto sin, but alive unto God through Jesus Christ our Lord.
</p>

<div class="sidenote">Romans 6:12</div>

<p>
Let not sin therefore reign in your mortal body, that ye should obey it in the lusts thereof.
Neither yield ye your members as instruments of unrighteousness unto sin: but yield yourselves unto God, as those that are alive from the dead, and your members as instruments of righteousness unto God.
For sin shall not have dominion over you: for ye are not under the law, but under grace.
</p>

<div class="sidenote left">Romans 6:15 <br>to Romans 6:23</div>

<h3>Set Free from Sin</h3>

<p>
What then? shall we sin, because we are not under the law, but under grace? God forbid.
Know ye not, that to whom ye yield yourselves servants to obey, his servants ye are to whom ye obey; whether of sin unto death, or of obedience unto righteousness?
But God be thanked, that ye were the servants of sin, but ye have obeyed from the heart that form of doctrine which was delivered you.
Being then made free from sin, ye became the servants of righteousness.
I speak after the manner of men because of the infirmity of your flesh: for as ye have yielded your members servants to uncleanness and to iniquity unto iniquity; even so now yield your members servants to righteousness unto holiness.
For when ye were the servants of sin, ye were free from righteousness.
</p>

<div class="sidenote">Romans 6:21</div>

<p>
What fruit had ye then in those things whereof ye are now ashamed? for the end of those things is death.
But now being made free from sin, and become servants to God, ye have your fruit unto holiness, and the end everlasting life.
For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.
</p>

<div class="sidenote left">Romans 7:1 <br>to Romans 7:6</div>

<h3>Released from the Law through Death</h3>

<p>
Know ye not, brethren, (for I speak to them that know the law,) how that the law hath dominion over a man as long as he liveth?
For the woman which hath an husband is bound by the law to her husband so long as he liveth; but if the husband be dead, she is loosed from the law of her husband.
So then if, while her husband liveth, she be married to another man, she shall be called an adulteress: but if her husband be dead, she is free from that law; so that she is no adulteress, though she be married to another man.
Wherefore, my brethren, ye also are become dead to the law by the body of Christ; that ye should be married to another, even to him who is raised from the dead, that we should bring forth fruit unto God.
For when we were in the flesh, the motions of sins, which were by the law, did work in our members to bring forth fruit unto death.
But now we are delivered from the law, that being dead wherein we were held; that we should serve in newness of spirit, and not in the oldness of the letter.
</p>

<div class="sidenote left">Romans 7:7 <br>to Romans 7:12</div>

<h3>Knowledge of Sin Comes through the Law</h3>

<p>
What shall we say then? Is the law sin? God forbid. Nay, I had not known sin, but by the law: for I had not known lust, except the law had said, Thou shalt not covet.
But sin, taking occasion by the commandment, wrought in me all manner of concupiscence. For without the law sin was dead.
For I was alive without the law once: but when the commandment came, sin revived, and I died.
And the commandment, which was ordained to life, I found to be unto death.
For sin, taking occasion by the commandment, deceived me, and by it slew me.
Wherefore the law is holy, and the commandment holy, and just, and good.
</p>

<div class="sidenote left">Romans 7:13 <br>to Romans 7:25</div>

<h3>Internal Conflict with Sin</h3>

<p>
Was then that which is good made death unto me? God forbid. But sin, that it might appear sin, working death in me by that which is good; that sin by the commandment might become exceeding sinful.
For we know that the law is spiritual: but I am carnal, sold under sin.
For that which I do I allow not: for what I would, that do I not; but what I hate, that do I.
If then I do that which I would not, I consent unto the law that it is good.
Now then it is no more I that do it, but sin that dwelleth in me.
For I know that in me (that is, in my flesh,) dwelleth no good thing: for to will is present with me; but how to perform that which is good I find not.
For the good that I would I do not: but the evil which I would not, that I do.
Now if I do that I would not, it is no more I that do it, but sin that dwelleth in me.
</p>

<div class="sidenote">Romans 7:21</div>

<p>
I find then a law, that, when I would do good, evil is present with me.
For I delight in the law of God after the inward man:
But I see another law in my members, warring against the law of my mind, and bringing me into captivity to the law of sin which is in my members.
O wretched man that I am! who shall deliver me from the body of this death?
I thank God through Jesus Christ our Lord. So then with the mind I myself serve the law of God; but with the flesh the law of sin.
</p>

<div class="sidenote left">Romans 8:1 <br>to Romans 8:17</div>

<h3>Set Free from the Law of Sin and Death</h3>

<p>
There is therefore now no condemnation to them which are in Christ Jesus, who walk not after the flesh, but after the Spirit.
For the law of the Spirit of life in Christ Jesus hath made me free from the law of sin and death.
For what the law could not do, in that it was weak through the flesh, God sending his own Son in the likeness of sinful flesh, and for sin, condemned sin in the flesh:
That the righteousness of the law might be fulfilled in us, who walk not after the flesh, but after the Spirit.
For they that are after the flesh do mind the things of the flesh; but they that are after the Spirit the things of the Spirit.
For to be carnally minded is death; but to be spiritually minded is life and peace.
Because the carnal mind is enmity against God: for it is not subject to the law of God, neither indeed can be.
So then they that are in the flesh cannot please God.
</p>

<div class="sidenote">Romans 8:9</div>

<p>
But ye are not in the flesh, but in the Spirit, if so be that the Spirit of God dwell in you. Now if any man have not the Spirit of Christ, he is none of his.
And if Christ be in you, the body is dead because of sin; but the Spirit is life because of righteousness.
But if the Spirit of him that raised up Jesus from the dead dwell in you, he that raised up Christ from the dead shall also quicken your mortal bodies by his Spirit that dwelleth in you.
</p>

<div class="sidenote">Romans 8:12</div>

<p>
Therefore, brethren, we are debtors, not to the flesh, to live after the flesh.
For if ye live after the flesh, ye shall die: but if ye through the Spirit do mortify the deeds of the body, ye shall live.
For as many as are led by the Spirit of God, they are the sons of God.
For ye have not received the spirit of bondage again to fear; but ye have received the Spirit of adoption, whereby we cry, Abba, Father.
The Spirit itself beareth witness with our spirit, that we are the children of God:
And if children, then heirs; heirs of God, and joint-heirs with Christ; if so be that we suffer with him, that we may be also glorified together.
</p>

<div class="sidenote left">Romans 8:18 <br>to Romans 8:30</div>

<h3>The Glory that is to be Revealed</h3>

<p>
For I reckon that the sufferings of this present time are not worthy to be compared with the glory which shall be revealed in us.
For the earnest expectation of the creature waiteth for the manifestation of the sons of God.
For the creature was made subject to vanity, not willingly, but by reason of him who hath subjected the same in hope,
Because the creature itself also shall be delivered from the bondage of corruption into the glorious liberty of the children of God.
For we know that the whole creation groaneth and travaileth in pain together until now.
And not only they, but ourselves also, which have the firstfruits of the Spirit, even we ourselves groan within ourselves, waiting for the adoption, to wit, the redemption of our body.
For we are saved by hope: but hope that is seen is not hope: for what a man seeth, why doth he yet hope for?
But if we hope for that we see not, then do we with patience wait for it.
</p>

<div class="sidenote">Romans 8:26</div>

<p>
Likewise the Spirit also helpeth our infirmities: for we know not what we should pray for as we ought: but the Spirit itself maketh intercession for us with groanings which cannot be uttered.
And he that searcheth the hearts knoweth what is the mind of the Spirit, because he maketh intercession for the saints according to the will of God.
And we know that all things work together for good to them that love God, to them who are the called according to his purpose.
For whom he did foreknow, he also did predestinate to be conformed to the image of his Son, that he might be the firstborn among many brethren.
Moreover whom he did predestinate, them he also called: and whom he called, them he also justified: and whom he justified, them he also glorified.
</p>

<div class="sidenote left">Romans 8:31 <br>to Romans 8:39</div>

<h3>Victory in Christ</h3>

<p>
What shall we then say to these things? If God be for us, who can be against us?
He that spared not his own Son, but delivered him up for us all, how shall he not with him also freely give us all things?
Who shall lay any thing to the charge of God's elect? It is God that justifieth.
Who is he that condemneth? It is Christ that died, yea rather, that is risen again, who is even at the right hand of God, who also maketh intercession for us.
Who shall separate us from the love of Christ? shall tribulation, or distress, or persecution, or famine, or nakedness, or peril, or sword?
As it is written, For thy sake we are killed all the day long; we are accounted as sheep for the slaughter.
</p>

<div class="sidenote">Romans 8:37</div>

<p>
Nay, in all these things we are more than conquerors through him that loved us.
For I am persuaded, that neither death, nor life, nor angels, nor principalities, nor powers, nor things present, nor things to come,
Nor height, nor depth, nor any other creature, shall be able to separate us from the love of God, which is in Christ Jesus our Lord.
</p>

<div class="sidenote left">Romans 9:1 <br>to Romans 9:13</div>

<h3>Israel’s Rejection</h3>

<p>
I say the truth in Christ, I lie not, my conscience also bearing me witness in the Holy Ghost,
That I have great heaviness and continual sorrow in my heart.
For I could wish that myself were accursed from Christ for my brethren, my kinsmen according to the flesh:
Who are Israelites; to whom pertaineth the adoption, and the glory, and the covenants, and the giving of the law, and the service of God, and the promises;
Whose are the fathers, and of whom as concerning the flesh Christ came, who is over all, God blessed for ever. Amen.
</p>

<div class="sidenote">Romans 9:6</div>

<p>
Not as though the word of God hath taken none effect. For they are not all Israel, which are of Israel:
Neither, because they are the seed of Abraham, are they all children: but, In Isaac shall thy seed be called.
That is, They which are the children of the flesh, these are not the children of God: but the children of the promise are counted for the seed.
For this is the word of promise, At this time will I come, and Sarah shall have a son.
And not only this; but when Rebecca also had conceived by one, even by our father Isaac;
(For the children being not yet born, neither having done any good or evil, that the purpose of God according to election might stand, not of works, but of him that calleth;)
It was said unto her, The elder shall serve the younger.
As it is written, Jacob have I loved, but Esau have I hated.
</p>

<div class="sidenote left">Romans 9:14 <br>to Romans 9:33</div>

<h3>God’s Sovereign Choice to Show Mercy</h3>

<p>
What shall we say then? Is there unrighteousness with God? God forbid.
For he saith to Moses, I will have mercy on whom I will have mercy, and I will have compassion on whom I will have compassion.
So then it is not of him that willeth, nor of him that runneth, but of God that sheweth mercy.
For the scripture saith unto Pharaoh, Even for this same purpose have I raised thee up, that I might shew my power in thee, and that my name might be declared throughout all the earth.
Therefore hath he mercy on whom he will have mercy, and whom he will he hardeneth.
</p>

<div class="sidenote">Romans 9:19</div>

<p>
Thou wilt say then unto me, Why doth he yet find fault? For who hath resisted his will?
Nay but, O man, who art thou that repliest against God? Shall the thing formed say to him that formed it, Why hast thou made me thus?
Hath not the potter power over the clay, of the same lump to make one vessel unto honour, and another unto dishonour?
What if God, willing to shew his wrath, and to make his power known, endured with much longsuffering the vessels of wrath fitted to destruction:
And that he might make known the riches of his glory on the vessels of mercy, which he had afore prepared unto glory,
Even us, whom he hath called, not of the Jews only, but also of the Gentiles?
As he saith also in Osee, I will call them my people, which were not my people; and her beloved, which was not beloved.
</p>

<div class="sidenote">Romans 9:26</div>

<p>
And it shall come to pass, that in the place where it was said unto them, Ye are not my people; there shall they be called the children of the living God.
</p>

<div class="sidenote">Romans 9:27</div>

<p>
Esaias also crieth concerning Israel, Though the number of the children of Israel be as the sand of the sea, a remnant shall be saved:
</p>

<div class="sidenote">Romans 9:28</div>

<p>
For he will finish the work, and cut it short in righteousness: because a short work will the Lord make upon the earth.
</p>

<div class="sidenote">Romans 9:29</div>

<p>
And as Esaias said before, Except the Lord of Sabaoth had left us a seed, we had been as Sodoma, and been made like unto Gomorrha.
</p>

<div class="sidenote">Romans 9:30</div>

<p>
What shall we say then? That the Gentiles, which followed not after righteousness, have attained to righteousness, even the righteousness which is of faith.
But Israel, which followed after the law of righteousness, hath not attained to the law of righteousness.
Wherefore? Because they sought it not by faith, but as it were by the works of the law. For they stumbled at that stumblingstone;
As it is written, Behold, I lay in Sion a stumblingstone and rock of offence: and whosoever believeth on him shall not be ashamed.
</p>

<div class="sidenote left">Romans 10:1 <br>to Romans 10:21</div>

<h3>The Righteousness of God through Faith in Christ</h3>

<p>
Brethren, my heart's desire and prayer to God for Israel is, that they might be saved.
For I bear them record that they have a zeal of God, but not according to knowledge.
For they being ignorant of God's righteousness, and going about to establish their own righteousness, have not submitted themselves unto the righteousness of God.
For Christ is the end of the law for righteousness to every one that believeth.
</p>

<div class="sidenote">Romans 10:5</div>

<p>
For Moses describeth the righteousness which is of the law, That the man which doeth those things shall live by them.
But the righteousness which is of faith speaketh on this wise, Say not in thine heart, Who shall ascend into heaven? (that is, to bring Christ down from above:)
Or, Who shall descend into the deep? (that is, to bring up Christ again from the dead.)
But what saith it? The word is nigh thee, even in thy mouth, and in thy heart: that is, the word of faith, which we preach;
That if thou shalt confess with thy mouth the Lord Jesus, and shalt believe in thine heart that God hath raised him from the dead, thou shalt be saved.
For with the heart man believeth unto righteousness; and with the mouth confession is made unto salvation.
For the scripture saith, Whosoever believeth on him shall not be ashamed.
For there is no difference between the Jew and the Greek: for the same Lord over all is rich unto all that call upon him.
For whosoever shall call upon the name of the Lord shall be saved.
</p>

<div class="sidenote">Romans 10:14</div>

<p>
How then shall they call on him in whom they have not believed? and how shall they believe in him of whom they have not heard? and how shall they hear without a preacher?
And how shall they preach, except they be sent? as it is written, How beautiful are the feet of them that preach the gospel of peace, and bring glad tidings of good things!
But they have not all obeyed the gospel. For Esaias saith, Lord, who hath believed our report?
So then faith cometh by hearing, and hearing by the word of God.
</p>

<div class="sidenote">Romans 10:18</div>

<p>
But I say, Have they not heard? Yes verily, their sound went into all the earth, and their words unto the ends of the world.
</p>

<div class="sidenote">Romans 10:19</div>

<p>
But I say, Did not Israel know? First Moses saith, I will provoke you to jealousy by them that are no people, and by a foolish nation I will anger you.
</p>

<div class="sidenote">Romans 10:20</div>

<p>
But Esaias is very bold, and saith, I was found of them that sought me not; I was made manifest unto them that asked not after me.
</p>

<div class="sidenote">Romans 10:21</div>

<p>
But to Israel he saith, All day long I have stretched forth my hands unto a disobedient and gainsaying people.
</p>

<div class="sidenote left">Romans 11:1 <br>to Romans 11:12</div>

<h3>A Remnant of Israel Remains</h3>

<p>
I say then, Hath God cast away his people? God forbid. For I also am an Israelite, of the seed of Abraham, of the tribe of Benjamin.
God hath not cast away his people which he foreknew. Wot ye not what the scripture saith of Elias? how he maketh intercession to God against Israel saying,
Lord, they have killed thy prophets, and digged down thine altars; and I am left alone, and they seek my life.
But what saith the answer of God unto him? I have reserved to myself seven thousand men, who have not bowed the knee to the image of Baal.
Even so then at this present time also there is a remnant according to the election of grace.
And if by grace, then is it no more of works: otherwise grace is no more grace. But if it be of works, then it is no more grace: otherwise work is no more work.
</p>

<div class="sidenote">Romans 11:7</div>

<p>
What then? Israel hath not obtained that which he seeketh for; but the election hath obtained it, and the rest were blinded.
(According as it is written, God hath given them the spirit of slumber, eyes that they should not see, and ears that they should not hear;) unto this day.
</p>

<div class="sidenote">Romans 11:9</div>

<p>
And David saith, Let their table be made a snare, and a trap, and a stumblingblock, and a recompence unto them:
</p>

<div class="sidenote">Romans 11:10</div>

<p>
Let their eyes be darkened, that they may not see, and bow down their back alway.
</p>

<div class="sidenote">Romans 11:11</div>

<p>
I say then, Have they stumbled that they should fall? God forbid: but rather through their fall salvation is come unto the Gentiles, for to provoke them to jealousy.
Now if the fall of them be the riches of the world, and the diminishing of them the riches of the Gentiles; how much more their fulness?
</p>

<div class="sidenote left">Romans 11:13 <br>to Romans 11:24</div>

<h3>Gentile Branches Grafted in</h3>

<p>
For I speak to you Gentiles, inasmuch as I am the apostle of the Gentiles, I magnify mine office:
If by any means I may provoke to emulation them which are my flesh, and might save some of them.
For if the casting away of them be the reconciling of the world, what shall the receiving of them be, but life from the dead?
For if the firstfruit be holy, the lump is also holy: and if the root be holy, so are the branches.
</p>

<div class="sidenote">Romans 11:17</div>

<p>
And if some of the branches be broken off, and thou, being a wild olive tree, wert graffed in among them, and with them partakest of the root and fatness of the olive tree;
Boast not against the branches. But if thou boast, thou bearest not the root, but the root thee.
Thou wilt say then, The branches were broken off, that I might be graffed in.
Well; because of unbelief they were broken off, and thou standest by faith. Be not highminded, but fear:
For if God spared not the natural branches, take heed lest he also spare not thee.
Behold therefore the goodness and severity of God: on them which fell, severity; but toward thee, goodness, if thou continue in his goodness: otherwise thou also shalt be cut off.
And they also, if they abide not still in unbelief, shall be graffed in: for God is able to graff them in again.
For if thou wert cut out of the olive tree which is wild by nature, and wert graffed contrary to nature into a good olive tree: how much more shall these, which be the natural branches, be graffed into their own olive tree?
</p>

<div class="sidenote left">Romans 11:25 <br>to Romans 11:36</div>

<h3>All Israel to be Saved</h3>

<p>
For I would not, brethren, that ye should be ignorant of this mystery, lest ye should be wise in your own conceits; that blindness in part is happened to Israel, until the fulness of the Gentiles be come in.
And so all Israel shall be saved: as it is written, There shall come out of Sion the Deliverer, and shall turn away ungodliness from Jacob:
</p>

<div class="sidenote">Romans 11:27</div>

<p>
For this is my covenant unto them, when I shall take away their sins.
</p>

<div class="sidenote">Romans 11:28</div>

<p>
As concerning the gospel, they are enemies for your sakes: but as touching the election, they are beloved for the father's sakes.
For the gifts and calling of God are without repentance.
For as ye in times past have not believed God, yet have now obtained mercy through their unbelief:
Even so have these also now not believed, that through your mercy they also may obtain mercy.
For God hath concluded them all in unbelief, that he might have mercy upon all.
</p>

<div class="sidenote">Romans 11:33</div>

<p>
O the depth of the riches both of the wisdom and knowledge of God! how unsearchable are his judgments, and his ways past finding out!
</p>

<div class="sidenote">Romans 11:34</div>

<p>
For who hath known the mind of the Lord? or who hath been his counsellor?
</p>

<div class="sidenote">Romans 11:35</div>

<p>
Or who hath first given to him, and it shall be recompensed unto him again?
</p>

<div class="sidenote">Romans 11:36</div>

<p>
For of him, and through him, and to him, are all things: to whom be glory for ever. Amen.
</p>

<div class="sidenote left">Romans 12:1 <br>to Romans 12:2</div>

<h3>A Life Dedicated to God</h3>

<p>
I beseech you therefore, brethren, by the mercies of God, that ye present your bodies a living sacrifice, holy, acceptable unto God, which is your reasonable service.
And be not conformed to this world: but be ye transformed by the renewing of your mind, that ye may prove what is that good, and acceptable, and perfect, will of God.
</p>

<div class="sidenote left">Romans 12:3 <br>to Romans 12:8</div>

<h3>A Variety of Gifts in the Body of Christ</h3>

<p>
For I say, through the grace given unto me, to every man that is among you, not to think of himself more highly than he ought to think; but to think soberly, according as God hath dealt to every man the measure of faith.
For as we have many members in one body, and all members have not the same office:
So we, being many, are one body in Christ, and every one members one of another.
Having then gifts differing according to the grace that is given to us, whether prophecy, let us prophesy according to the proportion of faith;
Or ministry, let us wait on our ministering: or he that teacheth, on teaching;
Or he that exhorteth, on exhortation: he that giveth, let him do it with simplicity; he that ruleth, with diligence; he that sheweth mercy, with cheerfulness.
</p>

<div class="sidenote left">Romans 12:9 <br>to Romans 12:21</div>

<h3>Living in Love</h3>

<p>
Let love be without dissimulation. Abhor that which is evil; cleave to that which is good.
Be kindly affectioned one to another with brotherly love; in honour preferring one another;
Not slothful in business; fervent in spirit; serving the Lord;
Rejoicing in hope; patient in tribulation; continuing instant in prayer;
Distributing to the necessity of saints; given to hospitality.
</p>

<div class="sidenote">Romans 12:14</div>

<p>
Bless them which persecute you: bless, and curse not.
Rejoice with them that do rejoice, and weep with them that weep.
Be of the same mind one toward another. Mind not high things, but condescend to men of low estate. Be not wise in your own conceits.
Recompense to no man evil for evil. Provide things honest in the sight of all men.
If it be possible, as much as lieth in you, live peaceably with all men.
Dearly beloved, avenge not yourselves, but rather give place unto wrath: for it is written, Vengeance is mine; I will repay, saith the Lord.
Therefore if thine enemy hunger, feed him; if he thirst, give him drink: for in so doing thou shalt heap coals of fire on his head.
Be not overcome of evil, but overcome evil with good.
</p>

<div class="sidenote left">Romans 13:1 <br>to Romans 13:7</div>

<h3>Obedience to the Governing Authorities</h3>

<p>
Let every soul be subject unto the higher powers. For there is no power but of God: the powers that be are ordained of God.
Whosoever therefore resisteth the power, resisteth the ordinance of God: and they that resist shall receive to themselves damnation.
For rulers are not a terror to good works, but to the evil. Wilt thou then not be afraid of the power? do that which is good, and thou shalt have praise of the same:
For he is the minister of God to thee for good. But if thou do that which is evil, be afraid; for he beareth not the sword in vain: for he is the minister of God, a revenger to execute wrath upon him that doeth evil.
Wherefore ye must needs be subject, not only for wrath, but also for conscience sake.
For for this cause pay ye tribute also: for they are God's ministers, attending continually upon this very thing.
Render therefore to all their dues: tribute to whom tribute is due; custom to whom custom; fear to whom fear; honour to whom honour.
</p>

<div class="sidenote left">Romans 13:8 <br>to Romans 13:14</div>

<h3>Love Fulfills the Law</h3>

<p>
Owe no man any thing, but to love one another: for he that loveth another hath fulfilled the law.
For this, Thou shalt not commit adultery, Thou shalt not kill, Thou shalt not steal, Thou shalt not bear false witness, Thou shalt not covet; and if there be any other commandment, it is briefly comprehended in this saying, namely, Thou shalt love thy neighbour as thyself.
Love worketh no ill to his neighbour: therefore love is the fulfilling of the law.
</p>

<div class="sidenote">Romans 13:11</div>

<p>
And that, knowing the time, that now it is high time to awake out of sleep: for now is our salvation nearer than when we believed.
The night is far spent, the day is at hand: let us therefore cast off the works of darkness, and let us put on the armour of light.
Let us walk honestly, as in the day; not in rioting and drunkenness, not in chambering and wantonness, not in strife and envying.
But put ye on the Lord Jesus Christ, and make not provision for the flesh, to fulfil the lusts thereof.
</p>

<div class="sidenote left">Romans 14:1 <br>to Romans 14:23</div>

<h3>Do Not Pass Judgment on One Another</h3>

<p>
Him that is weak in the faith receive ye, but not to doubtful disputations.
For one believeth that he may eat all things: another, who is weak, eateth herbs.
Let not him that eateth despise him that eateth not; and let not him which eateth not judge him that eateth: for God hath received him.
Who art thou that judgest another man's servant? to his own master he standeth or falleth. Yea, he shall be holden up: for God is able to make him stand.
</p>

<div class="sidenote">Romans 14:5</div>

<p>
One man esteemeth one day above another: another esteemeth every day alike. Let every man be fully persuaded in his own mind.
He that regardeth the day, regardeth it unto the Lord; and he that regardeth not the day, to the Lord he doth not regard it. He that eateth, eateth to the Lord, for he giveth God thanks; and he that eateth not, to the Lord he eateth not, and giveth God thanks.
For none of us liveth to himself, and no man dieth to himself.
For whether we live, we live unto the Lord; and whether we die, we die unto the Lord: whether we live therefore, or die, we are the Lord's.
For to this end Christ both died, and rose, and revived, that he might be Lord both of the dead and living.
</p>

<div class="sidenote">Romans 14:10</div>

<p>
But why dost thou judge thy brother? or why dost thou set at nought thy brother? for we shall all stand before the judgment seat of Christ.
For it is written, As I live, saith the Lord, every knee shall bow to me, and every tongue shall confess to God.
</p>

<div class="sidenote">Romans 14:12</div>

<p>
So then every one of us shall give account of himself to God.
</p>

<div class="sidenote">Romans 14:13</div>

<p>
Let us not therefore judge one another any more: but judge this rather, that no man put a stumblingblock or an occasion to fall in his brother's way.
I know, and am persuaded by the Lord Jesus, that there is nothing unclean of itself: but to him that esteemeth any thing to be unclean, to him it is unclean.
But if thy brother be grieved with thy meat, now walkest thou not charitably. Destroy not him with thy meat, for whom Christ died.
Let not then your good be evil spoken of:
For the kingdom of God is not meat and drink; but righteousness, and peace, and joy in the Holy Ghost.
For he that in these things serveth Christ is acceptable to God, and approved of men.
</p>

<div class="sidenote">Romans 14:19</div>

<p>
Let us therefore follow after the things which make for peace, and things wherewith one may edify another.
For meat destroy not the work of God. All things indeed are pure; but it is evil for that man who eateth with offence.
It is good neither to eat flesh, nor to drink wine, nor any thing whereby thy brother stumbleth, or is offended, or is made weak.
Hast thou faith? have it to thyself before God. Happy is he that condemneth not himself in that thing which he alloweth.
And he that doubteth is damned if he eat, because he eateth not of faith: for whatsoever is not of faith is sin.
</p>

<div class="sidenote left">Romans 15:1 <br>to Romans 15:13</div>

<h3>Accept One Another according to Christ’s Example</h3>

<p>
We then that are strong ought to bear the infirmities of the weak, and not to please ourselves.
Let every one of us please his neighbour for his good to edification.
For even Christ pleased not himself; but, as it is written, The reproaches of them that reproached thee fell on me.
For whatsoever things were written aforetime were written for our learning, that we through patience and comfort of the scriptures might have hope.
Now the God of patience and consolation grant you to be likeminded one toward another according to Christ Jesus:
That ye may with one mind and one mouth glorify God, even the Father of our Lord Jesus Christ.
Wherefore receive ye one another, as Christ also received us to the glory of God.
</p>

<div class="sidenote">Romans 15:8</div>

<p>
Now I say that Jesus Christ was a minister of the circumcision for the truth of God, to confirm the promises made unto the fathers:
And that the Gentiles might glorify God for his mercy; as it is written, For this cause I will confess to thee among the Gentiles, and sing unto thy name.
</p>

<div class="sidenote">Romans 15:10</div>

<p>
And again he saith, Rejoice, ye Gentiles, with his people.
</p>

<div class="sidenote">Romans 15:11</div>

<p>
And again, Praise the Lord, all ye Gentiles; and laud him, all ye people.
</p>

<div class="sidenote">Romans 15:12</div>

<p>
And again, Esaias saith, There shall be a root of Jesse, and he that shall rise to reign over the Gentiles; in him shall the Gentiles trust.
</p>

<div class="sidenote">Romans 15:13</div>

<p>
Now the God of hope fill you with all joy and peace in believing, that ye may abound in hope, through the power of the Holy Ghost.
</p>

<div class="sidenote left">Romans 15:14 <br>to Romans 15:21</div>

<h3>Paul’s Ministry to the Gentiles</h3>

<p>
And I myself also am persuaded of you, my brethren, that ye also are full of goodness, filled with all knowledge, able also to admonish one another.
Nevertheless, brethren, I have written the more boldly unto you in some sort, as putting you in mind, because of the grace that is given to me of God,
That I should be the minister of Jesus Christ to the Gentiles, ministering the gospel of God, that the offering up of the Gentiles might be acceptable, being sanctified by the Holy Ghost.
I have therefore whereof I may glory through Jesus Christ in those things which pertain to God.
For I will not dare to speak of any of those things which Christ hath not wrought by me, to make the Gentiles obedient, by word and deed,
Through mighty signs and wonders, by the power of the Spirit of God; so that from Jerusalem, and round about unto Illyricum, I have fully preached the gospel of Christ.
Yea, so have I strived to preach the gospel, not where Christ was named, lest I should build upon another man's foundation:
But as it is written, To whom he was not spoken of, they shall see: and they that have not heard shall understand.
</p>

<div class="sidenote left">Romans 15:22 <br>to Romans 15:33</div>

<h3>Paul’s Travel Plans</h3>

<p>
For which cause also I have been much hindered from coming to you.
But now having no more place in these parts, and having a great desire these many years to come unto you;
Whensoever I take my journey into Spain, I will come to you: for I trust to see you in my journey, and to be brought on my way thitherward by you, if first I be somewhat filled with your company.
But now I go unto Jerusalem to minister unto the saints.
For it hath pleased them of Macedonia and Achaia to make a certain contribution for the poor saints which are at Jerusalem.
It hath pleased them verily; and their debtors they are. For if the Gentiles have been made partakers of their spiritual things, their duty is also to minister unto them in carnal things.
When therefore I have performed this, and have sealed to them this fruit, I will come by you into Spain.
And I am sure that, when I come unto you, I shall come in the fulness of the blessing of the gospel of Christ.
</p>

<div class="sidenote">Romans 15:30</div>

<p>
Now I beseech you, brethren, for the Lord Jesus Christ's sake, and for the love of the Spirit, that ye strive together with me in your prayers to God for me;
That I may be delivered from them that do not believe in Judaea; and that my service which I have for Jerusalem may be accepted of the saints;
That I may come unto you with joy by the will of God, and may with you be refreshed.
Now the God of peace be with you all. Amen.
</p>

<div class="sidenote left">Romans 16:1 <br>to Romans 16:16</div>

<h3>Many Personal Greetings</h3>

<p>
I commend unto you Phebe our sister, which is a servant of the church which is at Cenchrea:
That ye receive her in the Lord, as becometh saints, and that ye assist her in whatsoever business she hath need of you: for she hath been a succourer of many, and of myself also.
</p>

<div class="sidenote">Romans 16:3</div>

<p>
Greet Priscilla and Aquila my helpers in Christ Jesus:
Who have for my life laid down their own necks: unto whom not only I give thanks, but also all the churches of the Gentiles.
Likewise greet the church that is in their house. Salute my well-beloved Epaenetus, who is the firstfruits of Achaia unto Christ.
Greet Mary, who bestowed much labour on us.
Salute Andronicus and Junia, my kinsmen, and my fellow-prisoners, who are of note among the apostles, who also were in Christ before me.
Greet Amplias my beloved in the Lord.
Salute Urbane, our helper in Christ, and Stachys my beloved.
Salute Apelles approved in Christ. Salute them which are of Aristobulus' household.
Salute Herodion my kinsman. Greet them that be of the household of Narcissus, which are in the Lord.
Salute Tryphena and Tryphosa, who labour in the Lord. Salute the beloved Persis, which laboured much in the Lord.
Salute Rufus chosen in the Lord, and his mother and mine.
Salute Asyncritus, Phlegon, Hermas, Patrobas, Hermes, and the brethren which are with them.
Salute Philologus, and Julia, Nereus, and his sister, and Olympas, and all the saints which are with them.
Salute one another with an holy kiss. The churches of Christ salute you.
</p>

<div class="sidenote left">Romans 16:17 <br>to Romans 16:20</div>

<h3>Concluding Exhortations</h3>

<p>
Now I beseech you, brethren, mark them which cause divisions and offences contrary to the doctrine which ye have learned; and avoid them.
For they that are such serve not our Lord Jesus Christ, but their own belly; and by good words and fair speeches deceive the hearts of the simple.
For your obedience is come abroad unto all men. I am glad therefore on your behalf: but yet I would have you wise unto that which is good, and simple concerning evil.
And the God of peace shall bruise Satan under your feet shortly. The grace of our Lord Jesus Christ be with you. Amen.
</p>

<div class="sidenote left">Romans 16:21 <br>to Romans 16:23</div>

<h3>Greetings from Paul’s Associates</h3>

<p>
Timotheus my workfellow, and Lucius, and Jason, and Sosipater, my kinsmen, salute you.
</p>

<div class="sidenote">Romans 16:22</div>

<p>
I Tertius, who wrote this epistle, salute you in the Lord.
</p>

<div class="sidenote">Romans 16:23</div>

<p>
Gaius mine host, and of the whole church, saluteth you. Erastus the chamberlain of the city saluteth you, and Quartus a brother.
</p>

<div class="sidenote left">Romans 16:24 </div>

<h3>Benediction</h3>

<p>
The grace of our Lord Jesus Christ be with you all. Amen.
Now to him that is of power to stablish you according to my gospel, and the preaching of Jesus Christ, according to the revelation of the mystery, which was kept secret since the world began,
But now is made manifest, and by the scriptures of the prophets, according to the commandment of the everlasting God, made known to all nations for the obedience of faith:
To God only wise, be glory through Jesus Christ for ever. Amen.
</p>
