<p><head>
<link rel='stylesheet' type='text/css' href="style.css">
</head>
<style>
p {
    text-indent: 50px;
}
h2{
    color: #404040;
}
h3{
    color: #404040;
    font-size: 18px;
    font-weight: bold;
}
</style></p>

<h1>Titus</h1>

<div class="sidenote left">Titus 1:1 <br>to Titus 1:4</div>

<h3>Greeting</h3>

<p>
Paul, a servant of God, and an apostle of Jesus Christ, according to the faith of God's elect, and the acknowledging of the truth which is after godliness;
In hope of eternal life, which God, that cannot lie, promised before the world began;
But hath in due times manifested his word through preaching, which is committed unto me according to the commandment of God our Saviour;
To Titus, mine own son after the common faith: Grace, mercy, and peace, from God the Father and the Lord Jesus Christ our Saviour.
</p>

<div class="sidenote left">Titus 1:5 <br>to Titus 1:16</div>

<h3>Instructions to Titus in Crete</h3>

<p>
For this cause left I thee in Crete, that thou shouldest set in order the things that are wanting, and ordain elders in every city, as I had appointed thee:
If any be blameless, the husband of one wife, having faithful children not accused of riot or unruly.
For a bishop must be blameless, as the steward of God; not selfwilled, not soon angry, not given to wine, no striker, not given to filthy lucre;
But a lover of hospitality, a lover of good men, sober, just, holy, temperate;
Holding fast the faithful word as he hath been taught, that he may be able by sound doctrine both to exhort and to convince the gainsayers.
</p>

<div class="sidenote">Titus 1:10</div>

<p>
For there are many unruly and vain talkers and deceivers, specially they of the circumcision:
Whose mouths must be stopped, who subvert whole houses, teaching things which they ought not, for filthy lucre's sake.
One of themselves, even a prophet of their own, said, The Cretians are alway liars, evil beasts, slow bellies.
This witness is true. Wherefore rebuke them sharply, that they may be sound in the faith;
Not giving heed to Jewish fables, and commandments of men, that turn from the truth.
Unto the pure all things are pure: but unto them that are defiled and unbelieving is nothing pure; but even their mind and conscience is defiled.
They profess that they know God; but in works they deny him, being abominable, and disobedient, and unto every good work reprobate.
</p>

<div class="sidenote left">Titus 2:1 <br>to Titus 2:15</div>

<h3>Sound Instruction and Consistent Behavior</h3>

<p>
But speak thou the things which become sound doctrine:
That the aged men be sober, grave, temperate, sound in faith, in charity, in patience.
The aged women likewise, that they be in behaviour as becometh holiness, not false accusers, not given to much wine, teachers of good things;
That they may teach the young women to be sober, to love their husbands, to love their children,
To be discreet, chaste, keepers at home, good, obedient to their own husbands, that the word of God be not blasphemed.
Young men likewise exhort to be sober minded.
In all things shewing thyself a pattern of good works: in doctrine shewing uncorruptness, gravity, sincerity,
Sound speech, that cannot be condemned; that he that is of the contrary part may be ashamed, having no evil thing to say of you.
</p>

<div class="sidenote">Titus 2:9</div>

<p>
Exhort servants to be obedient unto their own masters, and to please them well in all things; not answering again;
Not purloining, but shewing all good fidelity; that they may adorn the doctrine of God our Saviour in all things.
For the grace of God that bringeth salvation hath appeared to all men,
Teaching us that, denying ungodliness and worldly lusts, we should live soberly, righteously, and godly, in this present world;
Looking for that blessed hope, and the glorious appearing of the great God and our Saviour Jesus Christ;
Who gave himself for us, that he might redeem us from all iniquity, and purify unto himself a peculiar people, zealous of good works.
These things speak, and exhort, and rebuke with all authority. Let no man despise thee.
</p>

<div class="sidenote left">Titus 3:1 <br>to Titus 3:7</div>

<h3>Conduct Toward All People</h3>

<p>
Put them in mind to be subject to principalities and powers, to obey magistrates, to be ready to every good work,
To speak evil of no man, to be no brawlers, but gentle, shewing all meekness unto all men.
For we ourselves also were sometimes foolish, disobedient, deceived, serving divers lusts and pleasures, living in malice and envy, hateful, and hating one another.
But after that the kindness and love of God our Saviour toward man appeared,
Not by works of righteousness which we have done, but according to his mercy he saved us, by the washing of regeneration, and renewing of the Holy Ghost;
Which he shed on us abundantly through Jesus Christ our Saviour;
That being justified by his grace, we should be made heirs according to the hope of eternal life.
</p>

<div class="sidenote left">Titus 3:8 <br>to Titus 3:15</div>

<h3>Final Instructions to Titus</h3>

<p>
This is a faithful saying, and these things I will that thou affirm constantly, that they which have believed in God might be careful to maintain good works. These things are good and profitable unto men.
But avoid foolish questions, and genealogies, and contentions, and strivings about the law; for they are unprofitable and vain.
A man that is an heretick after the first and second admonition reject;
Knowing that he that is such is subverted, and sinneth, being condemned of himself.
</p>

<div class="sidenote">Titus 3:12</div>

<p>
When I shall send Artemas unto thee, or Tychicus, be diligent to come unto me to Nicopolis: for I have determined there to winter.
Bring Zenas the lawyer and Apollos on their journey diligently, that nothing be wanting unto them.
And let ours also learn to maintain good works for necessary uses, that they be not unfruitful.
All that are with me salute thee. Greet them that love us in the faith. Grace be with you all. Amen.
</p>
